
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}


    <style>
      .Image {
        width: 75px;
        height: 75px;
    }

    .imagePreview {
        height: 200px;
        padding: 2px;
        border: 2px dashed #cecece;
        text-align: center;
    }
    </style>



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 id="TochangeHeader">Add About Detail </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard.html">Home</a></li>
                        <li class="breadcrumb-item active" id="pageUpTextChange">Add  About Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title" id="ToChangeTextTitle">Add About Detail</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>About Title <span class="text-danger">*</span></label>
                            <input type="text" id="txtAboutTitle" class="border form-control">
                            <div class="error-class" id="error_txtAboutTitle"></div>
                        </div>
                        <div class="form-group">
                            <label>Our  Description <span class="text-danger">*</span></label>
                            <textarea name="txtDescription" class="form-control" rows="6" id="txtDescription"></textarea>
                            <div class="error-class" id="error_txtDescription"></div>

                        </div>
                        <div class="form-group">
                            <label>Our Mission Title <span class="text-danger">*</span></label>
                            <input type="text" id="txtMissionTitle" class="border form-control">
                            <div class="error-class" id="error_txtMissionTitle"></div>
                        </div>
                        <div class="form-group">
                            <label>Our Mission Description <span class="text-danger">*</span></label>
                            <textarea name="txtMissionDescription" class="form-control" rows="6" id="txtMissionDescription"></textarea>
                            <div class="error-class" id="error_txtMissionDescription"></div>

                        </div>
                        <div class="form-group">
                            <label>Banner Image</label>
                            <div class="Image">
                                <img id="imagePreview" class="d-none" style="width: 98%; height: 98%;">
                            </div>

                            <input type="file" id="fileSuperdmin_ManageAboutBannerImage" class="border form-control" accept="image/*">
                            <div class="error-class" id="error_fileSuperdmin_ManageAboutBannerImage"></div>
                        </div>
                   

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" id="ToChangeUpdateText" onclick="btnSubmitAboutDetailClick();">Save</button>

                </div>
                <!-- /.card-body -->
                <!-- <div class="card-footer">
                  Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
                  the plugin.
                </div> -->
            </div>
            <!-- /.card -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts{
    <script src="~/Content/lib/StylishAlert/iao-alert.jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @Html.Partial("/Views/Shared/ScriptPartials/SuperAdminPanel/_ManageAboutScriptPartial.cshtml")
}