
@{
    ViewBag.Title = "Backup";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";

    int viewbag_status = (int)ViewBag.Status;
    string viewbag_message = ViewBag.Message;

}

<div class="content-wrapper" style="min-height: 544.4px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Backup</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/SuperAdmin/Dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Backup</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12 mb-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            Backup Database
                        </div>
                        <div class="card-body text-center">
                            <p>Click on the button below to download the database backup. (.bak file)</p>
                            <form action="@Url.Action("BackupDatabase", "SuperAdmin")" method="post" class="form-horizontal">
                                <div class="form-group">
                                        <button type="submit" class="btn btn-danger">Download Backup</button>
                                </div>
                            </form>
                            @if(viewbag_status < 0)
                            {
                                <p class="text-danger">@viewbag_message</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
</div>








