
@{
    ViewBag.Title = "BusinessDetail";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    long _BusinessOwnerLoginId = ViewBag.BusinessOwnerLoginId;
}

@section Styles{
    <style>
        .img-fluid {
            max-width: 45%;
            height: auto;
        }

        #cardBody {
            height: 300px;
            overflow-y: scroll;
        }

        .col-md-9 {
            max-width: 90%;
            margin-left: 280px;
        }
        .uniqueclass {
            margin-bottom: inherit;
        }
    </style>
}

<input type="hidden" id="businessOwnerLoginId" value="@_BusinessOwnerLoginId"/>
<div class="wrapper">
    <div class="content-wrapper" id="ViewDetail">

        <div class="card1" style="width: 90%">

            <div class="card-body">
                <div class="tab-content">
                    <div id="ViewBusinessDetail">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{

    @Html.Partial("~/Views/Shared/ScriptPartials/SuperAdminPanel/_BusinessDetailScriptPartial.cshtml")
}

