@{
    ViewBag.Title = "Business Content Videos";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    long _BusinessOwnerLoginId = ViewBag.BusinessOwnerLoginId;
}

@section Styles{
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"> View Vedios</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/SuperAdmin/BusinessDetail?businessOwnerLoginId=@_BusinessOwnerLoginId" class=" btn bg-gradient-navy"> Back</a></li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <input type="hidden" id="businessOwnerLoginId" value="@_BusinessOwnerLoginId" />
            <div class="card" style="width: 100%">

                <div class="card-body">
                    <div class="tab-content">

                        <div class="row" id="ViewUserVedioDetail">
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </section>
</div>




@section Scripts{

    @Html.Partial("~/Views/Shared/ScriptPartials/SuperAdminPanel/_BusinessVideoScriptPartial.cshtml")
    <script src="~/Content/lib/StylishAlert/iao-alert.jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}


