
@{
    ViewBag.Title = "CustomForm";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
@section Styles {

    <style>
        .inputbox {
            width: 100%;
        }

        #ftxt {
            margin-right: 185px;
        }


        .sidenav {
            height: 100%;
            width: 12%;
            position: fixed;
            z-index: 1;
            top: 105px;
            right: 0;
            /* background-color: #111;*/
            background-color: white;
            overflow-x: hidden;
            padding-top: 20px;
        }


            .sidenav a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

        input, select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        button {
            padding: 8px 12px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 5px;
            margin-left: 12px;
        }

        .delete-icon {
            color: #dc3545;
            cursor: pointer;
            float: right; /* Align icon to the right */
            margin-top: -22px;
            margin-bottom: 3px;
        }

        textarea {
            width: 100%;
        }

        .form-container {
            width: 400px;
            /*margin-left: 230px;*/
            margin-left: 145px;
        }

        h2 {
            margin-left: 12px;
        }

        .question-card {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            margin-top: 10px;
            width: 160%;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }
    </style>

}
<div class="sidenav">
    <h2>Select Element</h2>
    @*<button onclick="changeFormName()">Change Form Name</button>*@
    <button onclick="addTextQuestion()">Input Button</button>
    <button onclick="addSelectQuestion()"> Select Button</button>
    <button onclick="addTextareaQuestion()"> Textarea Button</button>
    <button onclick="addRadioQuestion()"> Radio Button </button>
    <button onclick="addCheckboxQuestion()"> Checkbox Button </button>
    <button onclick="addSubmitButton()"> Submit</button>

</div>
<main>

    <div class="content-wrapper" style="min-height: 544.4px;">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Custom Form</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/dashboard.html">Home</a></li>
                            <li class="breadcrumb-item active">Custom Form</li>
                        </ol>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-9 mb-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="mb-4" id="myText">Add Custom Form</h5>
                                <hr />
                                <div class="form-container" id="form-container">
                                    <input type="text" id="formNameInput" placeholder="Enter Form Name" class="inputbox">

                                </div>
                                <div id="ButtonAddCustom" style="margin-left: 132px;">
                                    <button type="button" class="btn btn-primary mb-0 mt-3" id="ChangeUpdateText" onclick="saveFormData()">Save</button>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>


            </div><!-- /.container-fluid -->
        </section>

    </div>

</main>

@section Scripts{
    <script src="~/Content/lib/StylishAlert/iao-alert.jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @Html.Partial("/Views/Shared/ScriptPartials/SuperAdminPanel/_SuperAdminCustomFormScriptPartial.cshtml")
}
