@*@{
        ViewBag.Title = "Login";
    }

    <h2>Login</h2>

*@

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MASTER ZONE</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/superadmin-panel/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/superadmin-panel/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/superadmin-panel/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Content/superadmin-panel/dist/css/custom.css">
</head>

<body class="hold-transition login-page">
    <div class="login-box lgbx01">
        <!-- /.login-logo -->
        <div class="card card-outline brd1">
            <div class="card-header text-center border-bottom-0 pb-4 pt-3" style="margin-bottom: 0.2rem;">
                <a href="/SuperAdmin">
                    <img class="img-cls-lg brand-image img-circle" style="width: 35%;" src="@Resources.StaticResources.MasterzoneLogo"
                         alt="MASTER ZONE">
                </a>
            </div>
            <div class="card-body pb-md-5 mb-0 pb-lg-4 pt-5 pb-5 mb-5">
                <p class="login-box-msg">Sign in to start your session</p>

                <form action="/SuperAdmin/Login" method="post">
                    <div class="input-group mb-3">
                        <input type="email" id="Email" name="Email" class="form-control" placeholder="Email" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            @*<div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>*@
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    @if (!String.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="row">
                            <div class="col-12 text-center text-danger mt-3">@ViewBag.Message</div>
                        </div>
                    }
                </form>

                <!-- <div class="social-auth-links text-center mt-2 mb-3">
                  <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                  </a>
                  <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                  </a>
                </div> -->
                <!-- /.social-auth-links -->

                <p class="mb-1 text-center pt-4">
                    <a href="/SuperAdmin/ForgotPassword" class="text-dark">Forgot Password ?</a>
                </p>
                <!-- <p class="mb-0">
                  <a href="register.html" class="text-center">Register a new membership</a>
                </p> -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->

    <style>
        /* .login-box.lgbx01 {
              width: 36rem;
              padding: 2rem;
            } */

        [href="forgot-password.html"]:hover {
            font-weight: bold;
        }
    </style>

    <!-- jQuery -->
    <script src="~/Content/superadmin-panel/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/superadmin-panel/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/superadmin-panel/dist/js/adminlte.min.js"></script>
</body>

</html>
