
@{
    ViewBag.Title = "ManageRole";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<div id="AllManageRole">
    <div class="content-wrapper" style="min-height: 544.4px;">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Manage Role</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/SuperAdmin/Dashboard">Home</a></li>
                            <li class="breadcrumb-item active">Manage Role</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-10 d-flex align-items-center">
                                        <h3 class="card-title">Manage Role</h3>
                                    </div>
                                    <div class="col-sm-2 d-flex justify-content-end"><a href="javascript:;" id="AddRole"><button type="submit" class="btn btn-primary">+ Add New</button></a></div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                                        <div class="col-sm-12">
                                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                                <thead>
                                                    <tr><th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Rendering engine</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Browser</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Platform(s)</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Engine version</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action</th></tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="odd">
                                                        <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                                        <td>Firefox 1.0</td>
                                                        <td>Win 98+ / OSX.2+</td>
                                                        <td>1.7</td>
                                                        <td>
                                                            <div class="edbt">
                                                                <a href="javascript:;" onclick="EditManageRole()"><i class="fas fa-edit"></i></a>
                                                                <!-- <a href="#"><i class="fas fa-eye"></i></a> -->
                                                                <a href="#" class="swalDefaultSuccess"><i class="fas fa-trash "></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="even">
                                                        <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                                        <td>Firefox 1.5</td>
                                                        <td>Win 98+ / OSX.2+</td>
                                                        <td>1.8</td>
                                                        <td>
                                                            <div class="edbt">
                                                                <a href="javascript:;" onclick="EditManageRole()"><i class="fas fa-edit"></i></a>
                                                                <!-- <a href="#"><i class="fas fa-eye"></i></a> -->
                                                                <a href="#" class="swalDefaultSuccess"><i class="fas fa-trash "></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="odd">
                                                        <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                                        <td>Firefox 2.0</td>
                                                        <td>Win 98+ / OSX.2+</td>
                                                        <td>1.8</td>
                                                        <td>
                                                            <div class="edbt">
                                                                <a href="javascript:;" onclick="EditManageRole()"><i class="fas fa-edit"></i></a>
                                                                <!-- <a href="#"><i class="fas fa-eye"></i></a> -->
                                                                <a href="#" class="swalDefaultSuccess"><i class="fas fa-trash "></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="even">
                                                        <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                                        <td>Firefox 3.0</td>
                                                        <td>Win 2k+ / OSX.3+</td>
                                                        <td>1.9</td>
                                                        <td>
                                                            <div class="edbt">
                                                                <a href="javascript:;" onclick="EditManageRole()"><i class="fas fa-edit"></i></a>
                                                                <!-- <a href="#"><i class="fas fa-eye"></i></a> -->
                                                                <a href="#" class="swalDefaultSuccess"><i class="fas fa-trash "></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="odd">
                                                        <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                                        <td>Camino 1.0</td>
                                                        <td>OSX.2+</td>
                                                        <td>1.8</td>
                                                        <td>
                                                            <div class="edbt">
                                                                <a href="javascript:;" onclick="EditManageRole()"><i class="fas fa-edit"></i></a>
                                                                <!-- <a href="#"><i class="fas fa-eye"></i></a> -->
                                                                <a href="#" class="swalDefaultSuccess"><i class="fas fa-trash "></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="even">
                                                        <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                                        <td>Camino 1.5</td>
                                                        <td>OSX.3+</td>
                                                        <td>1.8</td>
                                                        <td>
                                                            <div class="edbt">
                                                                <a href="javascript:;" onclick="EditManageRole()"><i class="fas fa-edit"></i></a>
                                                                <!-- <a href="#"><i class="fas fa-eye"></i></a> -->
                                                                <a href="#" class="swalDefaultSuccess"><i class="fas fa-trash "></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="odd">
                                                        <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                                        <td>Netscape 7.2</td>
                                                        <td>Win 95+ / Mac OS 8.6-9.2</td>
                                                        <td>1.7</td>
                                                        <td>
                                                            <div class="edbt">
                                                                <a href="javascript:;" onclick="EditManageRole()"><i class="fas fa-edit"></i></a>
                                                                <!-- <a href="#"><i class="fas fa-eye"></i></a> -->
                                                                <a href="#" class="swalDefaultSuccess"><i class="fas fa-trash "></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="even">
                                                        <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                                        <td>Netscape Browser 8</td>
                                                        <td>Win 98SE+</td>
                                                        <td>1.7</td>
                                                        <td>
                                                            <div class="edbt">
                                                                <a href="javascript:;" onclick="EditManageRole()"><i class="fas fa-edit"></i></a>
                                                                <!-- <a href="#"><i class="fas fa-eye"></i></a> -->
                                                                <a href="#" class="swalDefaultSuccess"><i class="fas fa-trash "></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="odd">
                                                        <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                                        <td>Netscape Navigator 9</td>
                                                        <td>Win 98+ / OSX.2+</td>
                                                        <td>1.8</td>
                                                        <td>
                                                            <div class="edbt">
                                                                <a href="javascript:;" onclick="EditManageRole()"><i class="fas fa-edit"></i></a>
                                                                <!-- <a href="#"><i class="fas fa-eye"></i></a> -->
                                                                <a href="#" class="swalDefaultSuccess"><i class="fas fa-trash "></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="even">
                                                        <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                                        <td>Mozilla 1.0</td>
                                                        <td>Win 95+ / OSX.1+</td>
                                                        <td>1</td>
                                                        <td>
                                                            <div class="edbt">
                                                                <a href="javascript:;" onclick="EditManageRole()"><i class="fas fa-edit"></i></a>
                                                                <!-- <a href="#"><i class="fas fa-eye"></i></a> -->
                                                                <a href="#" class="swalDefaultSuccess"><i class="fas fa-trash "></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr><th rowspan="1" colspan="1">Rendering engine</th><th rowspan="1" colspan="1">Browser</th><th rowspan="1" colspan="1">Platform(s)</th><th rowspan="1" colspan="1">Engine version</th><th rowspan="1" colspan="1">Action</th></tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 20 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example2_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <div class="modal fade" id="add-new">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Rendering engine</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Rendering engine">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Browser</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Browser">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Platform</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Platform">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Engine version</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Engine version">
                            </div>
                        </div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>

</div>

<div id="AddManageRole" style="display: none">
    <div class="wrapper">


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Add New ManageRole</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/SuperAdmin/Dashboard">Home</a></li>
                                <li class="breadcrumb-item active">Add New ManageRole</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Add New ManageRole</h3>

                        @*<div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                            </div>*@
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Minimal</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Alabama</option>
                                        <option>Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label>Disabled</label>
                                    <select class="form-control select2" disabled="disabled" style="width: 100%;">
                                        <option selected="selected">Alabama</option>
                                        <option>Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Multiple</label>
                                    <select class="form-control select2" style="width: 100%; -webkit-appearance: none">
                                        <option value="none" disabled selected hidden>Select a State</option>
                                        <option>Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label>Disabled Result</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Alabama</option>
                                        <option>Alaska</option>
                                        <option disabled="disabled">California (disabled)</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <h5>Custom Color Variants</h5>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Minimal (.select2-danger)</label>
                                    <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;">
                                        <option selected="selected">Alabama</option>
                                        <option>Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Multiple (.select2-purple)</label>
                                    <div class="select2-purple">
                                        <select class="form-control select2" style="width: 100%; -webkit-appearance: none">
                                            <option value="none" disabled selected hidden>Select a State</option>
                                            <option>Alaska</option>
                                            <option>California</option>
                                            <option>Delaware</option>
                                            <option>Tennessee</option>
                                            <option>Texas</option>
                                            <option>Washington</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="submit" class="btn btn-danger">Cancel</button>
                    </div>
                    <!-- /.card-body -->
                    <!-- <div class="card-footer">
                      Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
                      the plugin.
                    </div> -->
                </div>
                <!-- /.card -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>

<div id="EditManageRoleUser" style="display: none">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Edit Manage Role</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/SuperAdmin/Dashboard">Home</a></li>
                                <li class="breadcrumb-item active">Edit  Manage Role</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Edit  Manage Role</h3>

                        @* <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                            </div>*@
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Minimal</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Alabama</option>
                                        <option>Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label>Disabled</label>
                                    <select class="form-control select2" disabled="disabled" style="width: 100%;">
                                        <option selected="selected">Alabama</option>
                                        <option>Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Multiple</label>
                                    <select class="form-control select2" style="width: 100%; -webkit-appearance: none">
                                        <option value="none" disabled selected hidden>Select a State</option>
                                        <option>Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label>Disabled Result</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Alabama</option>
                                        <option>Alaska</option>
                                        <option disabled="disabled">California (disabled)</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <h5>Custom Color Variants</h5>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Minimal (.select2-danger)</label>
                                    <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;">
                                        <option selected="selected">Alabama</option>
                                        <option>Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Multiple (.select2-purple)</label>
                                    <div class="select2-purple">
                                        <select class="form-control select2" style="width: 100%; -webkit-appearance: none">
                                            <option value="none" disabled selected hidden>Select a State</option>
                                            <option>Alaska</option>
                                            <option>California</option>
                                            <option>Delaware</option>
                                            <option>Tennessee</option>
                                            <option>Texas</option>
                                            <option>Washington</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="submit" class="btn btn-danger">Cancel</button>
                    </div>
                    <!-- /.card-body -->
                    <!-- <div class="card-footer">
                      Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
                      the plugin.
                    </div> -->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>


</div>
@section Scripts{
    <script src="~/Scripts/js/superadmin-panel/ManageRole.js"></script>
}


