
@{
    ViewBag.Title = "Manage Sub Class Category";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}


@section Styles{
    <style>
        .classcategoryIcon {
            width: 75px;
            height: 75px;
        }

        .classcategoryIconPreview {
            border: 2px dashed #cecece;
            height: 75px;
            width: 75px;
            margin: 5px 0px;
            padding: 5px;
        }
    </style>
}

<input type="hidden" id="parentClassCategoryTypeId" value="@ViewBag.ParentClassCategoryTypeId" />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Manage Sub Categories</h1>
                    <div id="ParentCategoryDetail" class="mt-3"></div>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/SuperAdmin/Dashboard">Home</a></li>
                        <li class="breadcrumb-item active"><a href="/SuperAdmin/ManageClassCategory">Manage Class Categories</a></li>
                        <li class="breadcrumb-item active">Manage Sub Categories</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- View content -->
    <section class="content" id="sectionViewClassCategories_ManageCategories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-9 d-flex align-items-center">
                                    <h3 class="card-title">View Class Categories</h3>
                                </div>
                                <div class="col-sm-3 d-flex justify-content-end">
                                    <button type="button" class="btn btn-primary" onclick="showAddUpdateClassCategorySection();">
                                        &plus; Add New Class Category
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="text-muted font-weight-bold">@Resources.SuperAdminPanel.HomePageVisibilityDefination</span>
                                </div>
                            </div>

                            <table id="tblBusinessClassCategories" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>HPV</th>
                                        <th>Category Name</th>
                                        <th>Icon</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>HPV</th>
                                        <th>Category Name</th>
                                        <th>Icon</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /. View content -->
    <!-- Main content -->
    <section class="content d-none" id="sectionAddUpdateClassCategory_ManageCategories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card card-default">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-9 d-flex align-items-center">
                                    <h3 class="card-title">Add New Class Category</h3>
                                </div>
                                <div class="col-sm-3 d-flex justify-content-end">
                                    <button type="button" class="btn btn-sm btn-danger" onclick="btnClickCancel_ManageClassCategories();">
                                        Cancel
                                    </button>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>Select Parent Category</label>
                                        <select id="ddlSelectedParentBusinessCategory" class="form-control select2" style="width: 100%;">
                                            <option value="0" selected="selected">Select Parent Class Category</option>
                                        </select>
                                        <div class="error-class" id="error_ddlSelectedParentBusinessCategory"></div>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group d-flex flex-column">
                                        <label>Class Category Name<span class="text-danger">*</span></label>
                                        <input type="text" id="txtClassCategoryName_ManageCategories" class="border form-control">
                                        <div class="error-class" id="error_txtClassCategoryName_ManageCategories"></div>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group d-flex flex-column">
                                        <label> Class Category Icon<span class="text-danger">*</span></label>
                                        <div class="classcategoryIconPreview">
                                            <img id="previewImage" class="d-none" style="width:100%; height:100%;">
                                        </div>
                                        <input type="file" id="fileClassCategoryImage_ManageCategories" class="border form-control" accept="image/*">
                                        <div class="error-class" id="error_fileClassCategoryImage_ManageCategories"></div>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group d-flex flex-column">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="chkIsActive_ManageClassCategories" checked>
                                            <label class="form-check-label" for="chkIsActive_ManageClassCategories" style="cursor:pointer;">Is Active</label>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-6">
                                    <div class="form-group d-flex flex-column">
                                        <label>Description<span class="text-danger"></span></label>
                                        <textarea type="text" id="txtDescription_ManageCategories" class="form-control"></textarea>
                                        <div class="error-class" id="error_txtDescription_ManageCategories"></div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                        </div>

                        <div class="card-footer">
                            <button type="button" id="btnSave_ManageCategories" class="btn btn-primary" onclick="AddUpdate_ManageClassCategories()">Save</button>
                            <button type="button" id="btnCancel_ManageCategories" class="btn btn-danger" onclick="btnClickCancel_ManageClassCategories()">Cancel</button>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts {

    <!-- Select2 -->
    <script src="/Content/superadmin-panel/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Content/lib/StylishAlert/iao-alert.jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $(function () {
            $('.select2').select2();
        });
    </script>

    @Html.Partial("/Views/Shared/ScriptPartials/SuperAdminPanel/_ManageClassSubCategoriesScriptPartial.cshtml")
}

