
@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    ViewData["Title"] = "Manage Visitor Menu";
}

@section Styles{
    <style>
        .menuIcon {
            width: 75px;
            height: 75px;
        }

        .menuIconPreview {
            border: 2px dashed #cecece;
            height: 75px;
            width: 75px;
            margin: 5px 0px;
            padding: 5px;
        }
    </style>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Manage Visitor Menu</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/SuperAdmin/Dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Manage Visitor Menu</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- View content -->
    <section class="content" id="sectionViewMenu_ManageMenu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-9 d-flex align-items-center">
                                    <h3 class="card-title">View Menu Items</h3>
                                </div>
                                <div class="col-sm-3 d-flex justify-content-end">
                                    <button type="button" class="btn btn-primary" onclick="showAddUpdateMenuSection();">
                                        &plus; Add New Menu Item
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tblBusinessMenu" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Icon</th>
                                        <th>Name</th>
                                        <th>Sort Order</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Icon</th>
                                        <th>Name</th>
                                        <th>Sort Order</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /. View content -->
    <!-- Main content -->
    <section class="content d-none" id="sectionAddUpdateMenu_ManageMenu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card card-default">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-9 d-flex align-items-center">
                                    <h3 class="card-title">Add New Menu</h3>
                                </div>
                                <div class="col-sm-3 d-flex justify-content-end">
                                    <button type="button" class="btn btn-sm btn-danger" onclick="btnClickCancel_ManageMenu();">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                            

                            <div class="card-tools">
                                @*<button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>*@
                                @*<button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
            </button>*@
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="form-group d-flex flex-column">
                                        <label>Menu Name<span class="text-danger">*</span></label>
                                        <input type="text" id="txtMenuName_ManageMenu" class="border form-control">
                                        <div class="error-class" id="error_txtMenuName_ManageMenu"></div>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group d-flex flex-column">
                                        <label>Menu Icon<span class="text-danger">*</span></label>
                                        <div class="menuIconPreview">
                                            <img id="previewImage" class="d-none" style="width:100%; height:100%;">
                                        </div>
                                        <input type="file" id="fileMenuImage_ManageMenu" class="border form-control" accept="image/*">
                                        <div class="error-class" id="error_fileMenuImage_ManageMenu"></div>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group d-flex flex-column">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="chkIsActive_ManageMenu" checked>
                                            <label class="form-check-label" for="chkIsActive_ManageMenu" style="cursor:pointer;">Is Active</label>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group d-flex flex-column">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="chkShowOnHomePage_ManageMenu" checked>
                                            <label class="form-check-label" for="chkShowOnHomePage_ManageMenu" style="cursor:pointer;">Show on Home Page</label>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="txtPageLink_ManageMenu">Page Link<span class="text-danger">*</span></label>
                                        <input type="text" id="txtPageLink_ManageMenu" class="border form-control">
                                        <div class="error-class" id="error_txtPageLink_ManageMenu"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtMenuTag_ManageMenu">Menu Tag<span class="text-danger">*</span></label>
                                        <input type="text" id="txtMenuTag_ManageMenu" class="border form-control">
                                        <div class="text-extra-small text-muted">Home-Page menu tag in which same category tag records will be visible.</div>
                                        <div class="error-class" id="error_txtMenuTag_ManageMenu"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtSortOrder_ManageMenu">Sort Order<span class="text-danger">*</span></label>
                                        <input type="text" id="txtSortOrder_ManageMenu" class="border form-control" />
                                        <div class="text-extra-small text-muted">Ordering of menu items</div>
                                        <div class="error-class" id="error_txtSortOrder_ManageMenu"></div>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>

                        <div class="card-footer">
                            <button type="button" id="btnSave_ManageMenu" class="btn btn-primary" onclick="AddUpdate_ManageMenu()">Save</button>
                            <button type="button" id="btnCancel_ManageMenu" class="btn btn-danger" onclick="btnClickCancel_ManageMenu()">Cancel</button>
                        </div>
                        <!-- /.card-body -->
                        <!-- <div class="card-footer">
                          Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
                          the plugin.
                        </div> -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts {

    <!-- Select2 -->
    <script src="/Content/superadmin-panel/plugins/select2/js/select2.full.min.js"></script>

    <script>
        $(function () {
            $('.select2').select2();
        });
    </script>

    @Html.Partial("/Views/Shared/ScriptPartials/SuperAdminPanel/_ManageMenuScriptPartial.cshtml")
}
