
@{
    ViewBag.Title = "Student Detail";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    long _UserLoginId = ViewBag.UserLoginId;
}


@section Styles{
    <style>
        .image {
            width: 75px;
            height: 75px;
        }

        .img-fluid {
            max-width: 45%;
            height: auto;
        }

        #cardBody {
            height: 300px;
            overflow-y: scroll;
        }

        #previewImage {
            border: 2px dashed #cecece;
            height: 75px;
            width: 75px;
            margin: 5px 0px;
            padding: 5px;
            border-radius: 49px;
        }

        .col-md-9 {
            max-width: 90%;
            margin-left: 280px;
        }
    </style>
}

<input type="hidden" id="userLoginId" value="@_UserLoginId" />
<div class="wrapper">
    <div class="content-wrapper" id="ViewDetail">

        <div class="card1" style="width: 90%">

            <div class="card-body">
                <div class="tab-content">
                    <div id="ViewBusinessDetail">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{

    @Html.Partial("~/Views/Shared/ScriptPartials/SuperAdminPanel/_StudentDetailScriptPartial.cshtml")
}



