
@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    ViewData["Title"] = "UserAccount";
}
@section Styles{
    <style>
        .image-small {
            width: 75px;
            height: 75px;
        }

        #previewImage {
            border: 2px dashed #cecece;
            height: 75px;
            width: 75px;
            margin: 5px 0px;
            padding: 5px;
        }
    </style>
}

<!-- Google Font: Source Sans Pro -->


<div class="wrapper">


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>View User Accounts</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/SuperAdmin/Dashboard">Home</a></li>
                            <li class="breadcrumb-item active">View User Accounts</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-10 d-flex align-items-center">
                                        <h3 class="card-title">View User Accounts</h3>
                                    </div>
                                    <div class="col-sm-2 d-flex justify-content-end">
                                        @*<a href="javascript:;" id="AddAccount">
                                                <button type="submit" class="btn btn-primary">
                                                    &plus; Add New
                                                </button>
                                            </a>*@
                                    </div>
                                </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="tblStudentUser" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>S No.</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>ProfileImage</th>
                                                <th>CreatedOn</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>S No.</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>ProfileImage</th>
                                                <th>CreatedOn</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- modal -->


</div>




<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
@*------------------------------------- Modal ------------------------------------------------------ *@
<div class="modal fade" id="StudentUserDetailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header border-0">
                <h5 class="modal-title">Student Detail</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body pt-0">
                <div id="StudentUserDetail_StudentModal"></div><br />
                @* Data will be appended *@

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal" onclick="ResetTextView();">Close</button>
            </div>
        </div>
    </div>
</div>


@*------------------------------------- Modal ------------------------------------------------------ *@


@*------------------------------------- Modal ------------------------------------------------------ *@
<div class="modal fade" id="blockUserModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header border-0">
                <h5 class="modal-title">Block User</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body pt-0">
                <form>
                    <div class="form-group">
                        <label for="">Block Reason</label>
                        <textarea id="txtBlockReason" class="form-control"></textarea>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="submitBlockUser();">Submit</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal" onclick="ResetBlockForm();">Close</button>
            </div>
        </div>
    </div>
</div>


@*------------------------------------- Modal ------------------------------------------------------ *@




@section Scripts{

    <script src="/Content/superadmin-panel/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Content/lib/StylishAlert/iao-alert.jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @Html.Partial("/Views/Shared/ScriptPartials/SuperAdminPanel/_ManageStudentUserScriptPartial.cshtml")
}
