

@{
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
    ViewData["Title"] = "Masterzone";
}

<div id="BindAboutBannerDetail">
    @*<div class="banner-sec" style="background: url(/Content/visitor-panel/image/taj2.jpg) no-repeat top center/cover;">
            <h2 class="text-center text-white pj-hd-text">About Us</h2>
        </div>*@
</div>

<section id="sesction1-abt" class="section">
    <div class="container sc1-abt">
        <div class="row r1-abt">
            <div class="col cl1-abt">
                <div class="wwa-sc" id="BindAboutInformation">
                    @*<h2 class="text-center sc-hd">Who we are</h2>
                        <p class="text-justify sc-txt">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                            soluta
                            facilis est excepturi
                            nostrum perferendis accusamus labore asperiores, incidunt inventore, consectetur voluptatem
                            autem vero ea. Nam officia minus, magni explicabo velit natus deserunt beatae, consequatur
                            enim soluta atque dolor quasi a, voluptas modi obcaecati aliquam! Repudiandae, temporibus, a
                            alias officiis maxime neque voluptate optio aut ullam perspiciatis porro asperiores quasi
                            qui, nam molestias voluptatem mollitia? Sapiente cum quos, vero odit alias eum perferendis
                            quidem sit necessitatibus quisquam atque quam eos commodi totam dignissimos hic voluptatibus
                            quas excepturi, placeat enim praesentium, rerum veritatis impedit! Excepturi nemo, quae
                            illum corrupti pariatur odio voluptates ex exercitationem accusamus harum quia vitae
                            mollitia nam, obcaecati veniam, porro qui accusantium. Error magni quisquam praesentium
                            ducimus sint enim accusamus ex reprehenderit nisi, quibusdam velit quas incidunt dolores rem
                            iste. Rem, voluptas sed a ullam inventore earum cum quidem. Quas, iste possimus debitis
                            illum officia perferendis pariatur voluptate, tenetur voluptates, dolorem deleniti error
                            minima? Ratione placeat nam eligendi doloremque saepe! Est asperiores quas, consequuntur
                            voluptatibus deleniti expedita in minus ipsum quisquam natus veniam distinctio aperiam,
                            autem ipsa ad nam. Sapiente beatae, quis, labore nesciunt veritatis nisi quae animi sit
                            minima assumenda non aliquam expedita similique culpa soluta porro?
                        </p>*@
                </div>

            </div>
        </div>


    </div>
</section>

<section id="sesction2-abt" class="section">
    <div class="container sc2-abt">
        <div class="row r2-abt">
            <div class="col cl2-abt">
                <div class="wwa-sc" id="BindAboutMissionDetail">
                    @*<h2 class="text-center sc-hd">Our Mission</h2>
                        <p class="text-justify sc-txt">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                            soluta
                            facilis est excepturi
                            nostrum perferendis accusamus labore asperiores, incidunt inventore, consectetur voluptatem
                            autem vero ea. Nam officia minus, magni explicabo velit natus deserunt beatae, consequatur
                            enim soluta atque dolor quasi a, voluptas modi obcaecati aliquam! Repudiandae, temporibus, a
                            alias officiis maxime neque voluptate optio aut ullam perspiciatis porro asperiores quasi
                            qui, nam molestias voluptatem mollitia? Sapiente cum quos, vero odit alias eum perferendis
                            quidem sit necessitatibus quisquam atque quam eos commodi totam dignissimos hic voluptatibus
                            quas excepturi, placeat enim praesentium, rerum veritatis impedit! Excepturi nemo, quae
                            illum corrupti pariatur odio voluptates ex exercitationem accusamus harum quia vitae
                            mollitia nam, obcaecati veniam, porro qui accusantium. Error magni quisquam praesentium
                            ducimus sint enim accusamus ex reprehenderit nisi, quibusdam velit quas incidunt dolores rem
                            iste. Rem, voluptas sed a ullam inventore earum cum quidem. Quas, iste possimus debitis
                            illum officia perferendis pariatur voluptate, tenetur voluptates, dolorem deleniti error
                            minima? Ratione placeat nam eligendi doloremque saepe! Est asperiores quas, consequuntur
                            voluptatibus deleniti expedita in minus ipsum quisquam natus veniam distinctio aperiam,
                            autem ipsa ad nam. Sapiente beatae, quis, labore nesciunt veritatis nisi quae animi sit
                            minima assumenda non aliquam expedita similique culpa soluta porro?
                        </p>*@
                </div>

            </div>
        </div>

    </div>
</section>
<section id="sesction3-abt" class="section">
    <div class="container sc3-abt">
        <div class="row r3-abt mt-3 mt-md-5">
            <div class="cntussc">
                <h2 class="text-center">Contact Us</h2>
                <p class="text-center">Have any questions? We'd love to hear from you.</p>
                <div class="col text-center text-white">
                    <a class="btn btn-outline-dark text-white csbttnm" href="/Home/Contact">Click Here</a>
                </div>
            </div>
        </div>

    </div>
</section>
@Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_AboutScriptPartial.cshtml")












