
@{
    ViewBag.Title = "AllClasses";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
}



<style>
    header.header.active-h {
        background-color: #f3a762;
        position: inherit;
    }

    header.header {
        background-color: #f3a762;
    }

    header.header {
        background: #f3a762;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- font link end -->
    <link rel="stylesheet" href="~/Content/visitor-panel/css/stylesheet.css">

    <script src="~/Scripts/js/visitor-panel/main.js"></script>
    <style>
        :root {
            --mainColor: #920948;
        }

        .new-class-template h5.update-text {
            text-transform: uppercase;
            color: rgba(0,0,0,65%) !important;
        }

        .new-class-template .class-card-items-in {
            display: flex;
        }

        .new-class-template .star-iner {
            padding-left: 50px;
        }

            .new-class-template .star-iner .color_full {
                color: #f3a762;
            }

        .new-class-template h5.class-title {
            color: #f3a762;
            font-weight: 700;
        }

        .new-class-template p.membership-text {
            margin-bottom: 0;
            text-transform: capitalize;
        }

        .new-class-template .side-profile {
            display: flex;
            flex-direction: column;
            flex: 0 0 auto;
        }

        .new-class-template .cta-iner {
            margin-top: auto;
        }

        .new-class-template .class-card-items {
            display: flex;
            justify-content: space-between;
        }

        .new-class-template span.time {
            margin-left: 30px;
            color: #000;
        }

        .new-class-template .details-cards > :first-child {
            color: #f3a762;
        }

        .new-class-template .classes-card-flex {
            border: 1px solid #eee;
            padding: 40px;
            box-shadow: 0 0 7px 0 rgba(0,0,0,10%);
            border-radius: 10px;
            margin-bottom: 40px;
        }

        .new-class-template .koch-profile {
            flex: 0 0 auto;
        }

        .new-class-template .koch-profile-iner > img {
            height: 110px;
            width: 110px;
            object-fit: cover;
            object-position: center;
            border: 1px solid #eee;
            padding: 8px;
        }

        .new-class-template .profile-iner {
            display: flex;
            flex-wrap: wrap;
            max-width: 550px;
            padding: 20px;
            background: #fff;
            box-shadow: 0 0 10px 0 rgba(0,0,0,20%);
            border-radius: 5px;
            justify-content: space-between;
        }

        .new-class-template .profile-main {
            display: flex;
            align-items: center;
        }

        .new-class-template .classes-cards .profile-img > img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 5px 10px 10px 0 rgba(0,0,0,50%);
            object-position: center;
        }

        .new-class-template .profile-name {
            padding-left: 20px;
        }

        .new-class-template h5.text-month {
            margin-bottom: 0;
            font-weight: 700;
        }

        .new-class-template h5.center-text {
            color: #f3a762;
            font-size: 35px !important;
        }

        .new-class-template p.Certified-text {
            margin-bottom: 0;
            font-weight: 400;
        }

        .new-class-template .profile-name > h4 {
            font-size: 24px;
            font-weight: 600;
        }

        .new-class-template .time-details {
            flex: 1;
            padding: 0 50px;
        }

        .new-class-template .details-cards > *, .new-class-template .day-title, .new-class-template .time-title {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 15px;
        }

        .new-class-template .location-iner {
            display: flex;
            align-items: center;
        }

            .new-class-template .location-iner i {
                padding-left: 22px;
            }

        .new-class-template .koch-profile-iner {
            margin: 15px 0;
        }

        .new-class-template .days-time {
            text-align: center;
        }

        .new-class-template h5.date-title {
            font-size: 45px;
            font-weight: 900;
            color: #f3a762;
        }

        .new-class-template .form-section .half-width > input,
        .new-class-template .form-section .half-width > select {
            padding: 12px 10px;
            width: 100%;
            border: 1px solid #e1e1e1;
            background-color: #fff;
            color: #000;
            outline: 0;
            font-size: 15px;
            height: 50px;
        }

        .new-class-template .form-section .form-items {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .new-class-template .check-box {
            display: flex;
            max-width: 1100px;
            margin: 60px auto 0;
            justify-content: center;
            flex-wrap: wrap;
        }

        .new-class-template input[type=checkbox] {
            position: relative;
            border: 4px solid #f3a762;
            border-radius: 2px;
            background: #fff;
            cursor: pointer;
            line-height: 0;
            outline: 0;
            padding: 0 !important;
            vertical-align: text-top;
            height: 20px;
            width: 20px;
        }

        .new-class-template .classes-cards {
            padding: 100px 0;
        }

        .new-class-template .check-box-sec {
            display: flex;
            margin: 5px 10px;
            flex: 1;
            align-items: flex-end;
        }

            .new-class-template .check-box-sec label {
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 0;
                padding-left: 20px;
            }

        .new-class-template p.Certified-text > i {
            color: #00FF00;
        }

        .new-class-template .form-section .submit-cta > button {
            height: 50px;
        }

        .new-class-template .form-section .half-width {
            flex: 1;
            margin: 0 10px;
        }

        .new-class-template .form-section {
            padding: 100px 0;
            width: 100%;
        }

            .new-class-template .form-section .submit-cta {
                flex: 0 0 auto;
                padding-left: 10px;
            }

        @@media(max-width:1024px) {
            .new-class-template .form-section .submit-cta {
                flex: 0 0 100%;
                margin-top: 40px;
                text-align: center;
                padding-left: 0;
            }

            .new-class-template .side-profile {
                flex: 0 0 100%;
                max-width: 100%;
                align-items: center;
            }

            .new-class-template .koch-profile {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }

            .new-class-template .class-card-items-in {
                flex-wrap: wrap;
            }


            .new-class-template .class-title-iner {
                text-align: center;
            }

            .new-class-template .class-card-items {
                flex-wrap: wrap;
                justify-content: center;
            }

            .new-class-template .time-details {
                text-align: center;
                padding: 0;
                margin-top: 30px;
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                padding: 30px 0;
                margin-bottom: 30px;
            }

            .new-class-template .cta-iner {
                margin-top: 30px;
            }
        }

        @@media(max-width:767px) {
            .new-class-template .form-section {
                padding: 60px 0;
            }

                .new-class-template .form-section .form-items > div {
                    flex: 0 0 100%;
                    margin: 0 0 30px 0;
                }

                .new-class-template .form-section .form-items {
                    justify-content: center;
                }

            .new-class-template .check-box {
                margin-top: 30px;
            }
        }

        @@media(max-width:580px) {
            .new-class-template .classes-card-flex {
                padding: 30px;
            }

            .new-class-template .star-iner {
                flex: 0 0 100%;
                margin-top: 10px;
                padding-left: 0;
                text-align: center;
            }

            .new-class-template .profile-img {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 10px;
            }

            .new-class-template .profile-name {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 0;
            }

            .new-class-template .profile-main {
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
            }

            .new-class-template .profile-iner {
                justify-content: center;
            }
        }
    </style>
</head>
<body class="new-class-template">
    <!-- header -->
    <!-- end header -->
    <div class="form-section" style="background-image: url('/Content/visitor-panel/image/dark-pattern.png');">
        <div class="page-center">
            <div class="form-iner">
                <form action="post">
                    <div class="form-items">
                        <div class="half-width">
                            <input type="text" placeholder="Choose your location">
                        </div>
                        <div class="half-width">
                            <select ng-model="training" class="training-iner">
                                <option value="" disabled="" selected="selected">Choose your Class Types</option>
                                <option label="online" value="online">Online</option>
                                <option label="offline" value="offline">Offline</option>
                            </select>
                        </div>
                        <div class="half-width">
                            <input type="text" placeholder="choose your category">
                        </div>

                        <div class="half-width">
                            <select ng-model="search.language" class="ng-pristine">
                                <option value="" disabled="" selected="selected">Language</option>
                                <option label="Arabic" value="string:arabic">Arabic</option>
                                <option label="Bulgarian" value="string:bulgarian">Bulgarian</option>
                                <option label="Chinese" value="string:cantonese">Chinese</option>
                                <option label="Croatian" value="string:croatian">Croatian</option>
                                <option label="Czech" value="string:czech">Czech</option>
                                <option label="English" value="string:english">English</option>
                                <option label="French" value="string:french">French</option>
                                <option label="German" value="string:german">German</option>
                                <option label="Greek" value="string:greek">Greek</option>
                                <option label="Hebrew" value="string:hebrew">Hebrew</option>
                                <option label="Hindi" value="string:hindi">Hindi</option>
                                <option label="Indonesian" value="string:indonesian">Indonesian</option>
                                <option label="Italian" value="string:italian">Italian</option>
                                <option label="Japanese" value="string:japanese">Japanese</option>
                                <option label="Korean" value="string:korean">Korean</option>
                                <option label="Polish" value="string:polish">Polish</option>
                                <option label="Portuguese" value="string:portuguese">Portuguese</option>
                                <option label="Pr" value="string:portuguese-br">Pr</option>
                                <option label="Russian" value="string:russian">Russian</option>
                                <option label="Spanish" value="string:spanish">Spanish</option>
                                <option label="Swedish" value="string:swedish">Swedish</option>
                                <option label="Tagalog" value="string:filipino">Tagalog</option>
                                <option label="Thai" value="string:thai">Thai</option>
                                <option label="Turkish" value="string:turkish">Turkish</option>
                                <option label="Vietnamese" value="string:vietnamese">Vietnamese</option>
                            </select>
                        </div>
                        <div class="submit-cta">
                            <button class="primary-button ">Search</button>
                        </div>
                    </div>


                </form>
            </div>
            <div class="check-box">
                <div class="check-box-sec">
                    <input type="checkbox" name="Dance">
                    <label for="academy">Dance class</label>
                </div>

                <div class="check-box-sec">
                    <input type="checkbox" name="Music">
                    <label for="class">
                        Music class
                    </label>
                </div>
                <div class="check-box-sec">
                    <input type="checkbox" name="Sports">
                    <label for="instructor">Sports class </label>
                </div>
                <div class="check-box-sec">
                    <input type="checkbox" name="events">
                    <label for="events">Events</label>
                </div>
                <div class="check-box-sec">
                    <input type="checkbox" name="Education ">
                    <label for="training">Education </label>
                </div>
                <div class="check-box-sec">
                    <input type="checkbox" name="Certification ">
                    <label for="training">Certification </label>
                </div>
            </div>
        </div>
    </div>
    <!-- classes cards -->
    <div class="classes-cards">
        <div class="page-center" id="BindBusinessAllClassList">

            @*<div class="classes-card-flex">
            <div class="class-title-iner">
                <h5 class="class-title">Music</h5>
            </div>
            <div class="class-card-items">

                <div class="class-card-items-in">
                    <div class="koch-profile">

                        <div class="koch-profile-iner">
                            <img src="~/Content/visitor-panel/image/guitar-02.jpg" alt="koch profile" loading="lazy">
                        </div>
                        <div class="days-time">
                            <h5 class="date-title">27</h5>
                            <h5 class="text-month">MAR</h5>

                        </div>
                    </div>
                    <div class="time-details">
                        <div class="details-cards">
                            <h5>Gutar Class <span class="time">6:00 PM</span></h5>
                            <h5 class="center-text">Master Muisc Center</h5>
                            <h5>Weekly(M,T,W,TH,F,Sa) 69 mins</h5>
                            <div class="location-iner">
                                <h5>24 Main 7 Cross 1st Block Karnatka Bangalor 560034</h5>
                                <i class="fa-solid fa-map-location-dot"></i>
                            </div>
                            <h5 class="update-text">Update 27 Mar</h5>
                        </div>
                    </div>
                </div>
                <div class="side-profile">
                    <div class="profile-iner">
                        <div class="profile-main">
                            <div class="profile-img">
                                <img src="~/Content/visitor-panel/image/riak.jpg" alt="profile" loading="lazy">
                            </div>
                            <div class="profile-name">
                                <h4>Shikha Gupta</h4>
                                <p class="Certified-text"> <i class="fa-solid fa-certificate"></i> Certified Trainer</p>
                            </div>
                        </div>
                        <div class="star-iner">
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="cta-iner">
                        <a href="book-now.html" class="primary-button">Book now</a>
                    </div>
                </div>

            </div>


        </div>
        <div class="classes-card-flex">
            <div class="class-title-iner">
                <h5 class="class-title">Dance</h5>
            </div>
            <div class="class-card-items">

                <div class="class-card-items-in">
                    <div class="koch-profile">

                        <div class="koch-profile-iner">
                            <img src="~/Content/visitor-panel/image/icon.webp" alt="koch profile" loading="lazy">
                        </div>
                        <div class="days-time">
                            <h5 class="date-title">27</h5>
                            <h5 class="text-month">MAR</h5>

                        </div>
                    </div>
                    <div class="time-details">
                        <div class="details-cards">
                            <h5>Dance Class <span class="time">6:00 PM</span></h5>
                            <h5 class="center-text">Master Muisc Center</h5>
                            <h5>Weekly(M,T,W,TH,F,Sa) 69 mins</h5>
                            <div class="location-iner">
                                <h5>24 Main 7 Cross 1st Block Karnatka Bangalor 560034</h5>
                                <i class="fa-solid fa-map-location-dot"></i>
                            </div>
                            <h5 class="update-text">Update 27 Mar</h5>
                            <p class="membership-text">Membership required </p>
                        </div>
                    </div>
                </div>
                <div class="side-profile">
                    <div class="profile-iner">
                        <div class="profile-main">
                            <div class="profile-img">
                                <img src="~/Content/visitor-panel/image/riak.jpg" alt="profile" loading="lazy">
                            </div>
                            <div class="profile-name">
                                <h4>Shikha Gupta</h4>
                                <p class="Certified-text"> <i class="fa-solid fa-certificate"></i> Certified Trainer</p>
                            </div>
                        </div>
                        <div class="star-iner">
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="cta-iner">
                        <a href="all-class.html" class="primary-button">View Detail</a>
                    </div>
                </div>

            </div>


        </div>
        <div class="classes-card-flex">
            <div class="class-title-iner">
                <h5 class="class-title">Music</h5>
            </div>
            <div class="class-card-items">

                <div class="class-card-items-in">
                    <div class="koch-profile">

                        <div class="koch-profile-iner">
                            <img src="~/Content/visitor-panel/image/guitar-02.jpg" alt="koch profile" loading="lazy">
                        </div>
                        <div class="days-time">
                            <h5 class="date-title">27</h5>
                            <h5 class="text-month">MAR</h5>

                        </div>
                    </div>
                    <div class="time-details">
                        <div class="details-cards">
                            <h5>Gutar Class <span class="time">6:00 PM</span></h5>
                            <h5 class="center-text">Master Muisc Center</h5>
                            <h5>Weekly(M,T,W,TH,F,Sa) 69 mins</h5>
                            <div class="location-iner">
                                <h5>24 Main 7 Cross 1st Block Karnatka Bangalor 560034</h5>
                                <i class="fa-solid fa-map-location-dot"></i>
                            </div>
                            <h5 class="update-text">Update 27 Mar</h5>
                        </div>
                    </div>
                </div>
                <div class="side-profile">
                    <div class="profile-iner">
                        <div class="profile-main">
                            <div class="profile-img">
                                <img src="~/Content/visitor-panel/image/riak.jpg" alt="profile" loading="lazy">
                            </div>
                            <div class="profile-name">
                                <h4>Shikha Gupta</h4>
                                <p class="Certified-text"> <i class="fa-solid fa-certificate"></i> Certified Trainer</p>
                            </div>
                        </div>
                        <div class="star-iner">
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="cta-iner">
                        <a href="book-now.html" class="primary-button">Book now</a>
                    </div>
                </div>

            </div>


        </div>
        <div class="classes-card-flex">
            <div class="class-title-iner">
                <h5 class="class-title">Dance</h5>
            </div>
            <div class="class-card-items">

                <div class="class-card-items-in">
                    <div class="koch-profile">

                        <div class="koch-profile-iner">
                            <img src="~/Content/visitor-panel/image/icon.webp" alt="koch profile" loading="lazy">
                        </div>
                        <div class="days-time">
                            <h5 class="date-title">27</h5>
                            <h5 class="text-month">MAR</h5>

                        </div>
                    </div>
                    <div class="time-details">
                        <div class="details-cards">
                            <h5>Gutar Class <span class="time">6:00 PM</span></h5>
                            <h5 class="center-text">Master Muisc Center</h5>
                            <h5>Weekly(M,T,W,TH,F,Sa) 69 mins</h5>
                            <div class="location-iner">
                                <h5>24 Main 7 Cross 1st Block Karnatka Bangalor 560034</h5>
                                <i class="fa-solid fa-map-location-dot"></i>
                            </div>
                            <h5 class="update-text">Update 27 Mar</h5>
                            <p class="membership-text">Membership required </p>
                        </div>
                    </div>
                </div>
                <div class="side-profile">
                    <div class="profile-iner">
                        <div class="profile-main">
                            <div class="profile-img">
                                <img src="~/Content/visitor-panel/image/riak.jpg" alt="profile" loading="lazy">
                            </div>
                            <div class="profile-name">
                                <h4>Shikha Gupta</h4>
                                <p class="Certified-text"> <i class="fa-solid fa-certificate"></i> Certified Trainer</p>
                            </div>
                        </div>
                        <div class="star-iner">
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="cta-iner">
                        <a href="all-class.html" class="primary-button">View Detail</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="classes-card-flex">
            <div class="class-title-iner">
                <h5 class="class-title">Music</h5>
            </div>
            <div class="class-card-items">

                <div class="class-card-items-in">
                    <div class="koch-profile">

                        <div class="koch-profile-iner">
                            <img src="~/Content/visitor-panel/image/guitar-02.jpg" alt="koch profile" loading="lazy">
                        </div>
                        <div class="days-time">
                            <h5 class="date-title">27</h5>
                            <h5 class="text-month">MAR</h5>

                        </div>
                    </div>
                    <div class="time-details">
                        <div class="details-cards">
                            <h5>Gutar Class <span class="time">6:00 PM</span></h5>
                            <h5 class="center-text">Master Muisc Center</h5>
                            <h5>Weekly(M,T,W,TH,F,Sa) 69 mins</h5>
                            <div class="location-iner">
                                <h5>24 Main 7 Cross 1st Block Karnatka Bangalor 560034</h5>
                                <i class="fa-solid fa-map-location-dot"></i>
                            </div>
                            <h5 class="update-text">Update 27 Mar</h5>
                        </div>
                    </div>
                </div>
                <div class="side-profile">
                    <div class="profile-iner">
                        <div class="profile-main">
                            <div class="profile-img">
                                <img src="~/Content/visitor-panel/image/riak.jpg" alt="profile" loading="lazy">
                            </div>
                            <div class="profile-name">
                                <h4>Shikha Gupta</h4>
                                <p class="Certified-text"> <i class="fa-solid fa-certificate"></i> Certified Trainer</p>
                            </div>
                        </div>
                        <div class="star-iner">
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="cta-iner">
                        <a href="book-now.html" class="primary-button">Book now</a>
                    </div>
                </div>

            </div>


        </div>
        <div class="classes-card-flex">
            <div class="class-title-iner">
                <h5 class="class-title">Dance</h5>
            </div>
            <div class="class-card-items">

                <div class="class-card-items-in">
                    <div class="koch-profile">

                        <div class="koch-profile-iner">
                            <img src="~/Content/visitor-panel/image/icon.webp" alt="koch profile" loading="lazy">
                        </div>
                        <div class="days-time">
                            <h5 class="date-title">27</h5>
                            <h5 class="text-month">MAR</h5>

                        </div>
                    </div>
                    <div class="time-details">
                        <div class="details-cards">
                            <h5>Gutar Class <span class="time">6:00 PM</span></h5>
                            <h5 class="center-text">Master Muisc Center</h5>
                            <h5>Weekly(M,T,W,TH,F,Sa) 69 mins</h5>
                            <div class="location-iner">
                                <h5>24 Main 7 Cross 1st Block Karnatka Bangalor 560034</h5>
                                <i class="fa-solid fa-map-location-dot"></i>
                            </div>
                            <h5 class="update-text">Update 27 Mar</h5>
                            <p class="membership-text">Membership required </p>
                        </div>
                    </div>
                </div>
                <div class="side-profile">
                    <div class="profile-iner">
                        <div class="profile-main">
                            <div class="profile-img">
                                <img src="~/Content/visitor-panel/image/riak.jpg" alt="profile" loading="lazy">
                            </div>
                            <div class="profile-name">
                                <h4>Shikha Gupta</h4>
                                <p class="Certified-text"> <i class="fa-solid fa-certificate"></i> Certified Trainer</p>
                            </div>
                        </div>
                        <div class="star-iner">
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="cta-iner">
                        <a href="all-class.html" class="primary-button">View Detail</a>
                    </div>
                </div>

            </div>


        </div>
        <div class="classes-card-flex">
            <div class="class-title-iner">
                <h5 class="class-title">Music</h5>
            </div>
            <div class="class-card-items">

                <div class="class-card-items-in">
                    <div class="koch-profile">

                        <div class="koch-profile-iner">
                            <img src="~/Content/visitor-panel/image/guitar-02.jpg" alt="koch profile" loading="lazy">
                        </div>
                        <div class="days-time">
                            <h5 class="date-title">27</h5>
                            <h5 class="text-month">MAR</h5>

                        </div>
                    </div>
                    <div class="time-details">
                        <div class="details-cards">
                            <h5>Gutar Class <span class="time">6:00 PM</span></h5>
                            <h5 class="center-text">Master Muisc Center</h5>
                            <h5>Weekly(M,T,W,TH,F,Sa) 69 mins</h5>
                            <div class="location-iner">
                                <h5>24 Main 7 Cross 1st Block Karnatka Bangalor 560034</h5>
                                <i class="fa-solid fa-map-location-dot"></i>
                            </div>
                            <h5 class="update-text">Update 27 Mar</h5>
                        </div>
                    </div>
                </div>
                <div class="side-profile">
                    <div class="profile-iner">
                        <div class="profile-main">
                            <div class="profile-img">
                                <img src="~/Content/visitor-panel/image/riak.jpg" alt="profile" loading="lazy">
                            </div>
                            <div class="profile-name">
                                <h4>Shikha Gupta</h4>
                                <p class="Certified-text"> <i class="fa-solid fa-certificate"></i> Certified Trainer</p>
                            </div>
                        </div>
                        <div class="star-iner">
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="cta-iner">
                        <a href="book-now.html" class="primary-button">Book now</a>
                    </div>
                </div>

            </div>


        </div>
        <div class="classes-card-flex">
            <div class="class-title-iner">
                <h5 class="class-title">Dance</h5>
            </div>
            <div class="class-card-items">

                <div class="class-card-items-in">
                    <div class="koch-profile">

                        <div class="koch-profile-iner">
                            <img src="~/Content/visitor-panel/image/icon.webp" alt="koch profile" loading="lazy">
                        </div>
                        <div class="days-time">
                            <h5 class="date-title">27</h5>
                            <h5 class="text-month">MAR</h5>

                        </div>
                    </div>
                    <div class="time-details">
                        <div class="details-cards">
                            <h5>Gutar Class <span class="time">6:00 PM</span></h5>
                            <h5 class="center-text">Master Muisc Center</h5>
                            <h5>Weekly(M,T,W,TH,F,Sa) 69 mins</h5>
                            <div class="location-iner">
                                <h5>24 Main 7 Cross 1st Block Karnatka Bangalor 560034</h5>
                                <i class="fa-solid fa-map-location-dot"></i>
                            </div>
                            <h5 class="update-text">Update 27 Mar</h5>
                            <p class="membership-text">Membership required </p>
                        </div>
                    </div>
                </div>
                <div class="side-profile">
                    <div class="profile-iner">
                        <div class="profile-main">
                            <div class="profile-img">
                                <img src="~/Content/visitor-panel/image/riak.jpg" alt="profile" loading="lazy">
                            </div>
                            <div class="profile-name">
                                <h4>Shikha Gupta</h4>
                                <p class="Certified-text"> <i class="fa-solid fa-certificate"></i> Certified Trainer</p>
                            </div>
                        </div>
                        <div class="star-iner">
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="cta-iner">
                        <a href="all-class.html" class="primary-button">View Detail</a>
                    </div>
                </div>

            </div>


        </div>
        <div class="classes-card-flex">
            <div class="class-title-iner">
                <h5 class="class-title">Music</h5>
            </div>
            <div class="class-card-items">

                <div class="class-card-items-in">
                    <div class="koch-profile">

                        <div class="koch-profile-iner">
                            <img src="~/Content/visitor-panel/image/guitar-02.jpg" alt="koch profile" loading="lazy">
                        </div>
                        <div class="days-time">
                            <h5 class="date-title">27</h5>
                            <h5 class="text-month">MAR</h5>

                        </div>
                    </div>
                    <div class="time-details">
                        <div class="details-cards">
                            <h5>Gutar Class <span class="time">6:00 PM</span></h5>
                            <h5 class="center-text">Master Muisc Center</h5>
                            <h5>Weekly(M,T,W,TH,F,Sa) 69 mins</h5>
                            <div class="location-iner">
                                <h5>24 Main 7 Cross 1st Block Karnatka Bangalor 560034</h5>
                                <i class="fa-solid fa-map-location-dot"></i>
                            </div>
                            <h5 class="update-text">Update 27 Mar</h5>
                        </div>
                    </div>
                </div>
                <div class="side-profile">
                    <div class="profile-iner">
                        <div class="profile-main">
                            <div class="profile-img">
                                <img src="~/Content/visitor-panel/image/riak.jpg" alt="profile" loading="lazy">
                            </div>
                            <div class="profile-name">
                                <h4>Shikha Gupta</h4>
                                <p class="Certified-text"> <i class="fa-solid fa-certificate"></i> Certified Trainer</p>
                            </div>
                        </div>
                        <div class="star-iner">
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="cta-iner">
                        <a href="book-now.html" class="primary-button">Book now</a>
                    </div>
                </div>

            </div>


        </div>
        <div class="classes-card-flex">
            <div class="class-title-iner">
                <h5 class="class-title">Dance</h5>
            </div>
            <div class="class-card-items">

                <div class="class-card-items-in">
                    <div class="koch-profile">

                        <div class="koch-profile-iner">
                            <img src="~/Content/visitor-panel/image/icon.webp" alt="koch profile" loading="lazy">
                        </div>
                        <div class="days-time">
                            <h5 class="date-title">27</h5>
                            <h5 class="text-month">MAR</h5>

                        </div>
                    </div>
                    <div class="time-details">
                        <div class="details-cards">
                            <h5>Gutar Class <span class="time">6:00 PM</span></h5>
                            <h5 class="center-text">Master Muisc Center</h5>
                            <h5>Weekly(M,T,W,TH,F,Sa) 69 mins</h5>
                            <div class="location-iner">
                                <h5>24 Main 7 Cross 1st Block Karnatka Bangalor 560034</h5>
                                <i class="fa-solid fa-map-location-dot"></i>
                            </div>
                            <h5 class="update-text">Update 27 Mar</h5>
                            <p class="membership-text">Membership required </p>
                        </div>
                    </div>
                </div>
                <div class="side-profile">
                    <div class="profile-iner">
                        <div class="profile-main">
                            <div class="profile-img">
                                <img src="~/Content/visitor-panel/image/riak.jpg" alt="profile" loading="lazy">
                            </div>
                            <div class="profile-name">
                                <h4>Shikha Gupta</h4>
                                <p class="Certified-text"> <i class="fa-solid fa-certificate"></i> Certified Trainer</p>
                            </div>
                        </div>
                        <div class="star-iner">
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star color_full"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="cta-iner">
                        <a href="all-class.html" class="primary-button">View Detail</a>
                    </div>
                </div>

            </div>


        </div>*@
        </div>
    </div>

</body>
</html>
@Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_AllClassesScriptPartial.cshtml")
