
@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_YogaLayout.cshtml";
}


@section Styles{

    <link rel="stylesheet" href="~/Content/assets/appointment.css">
    <link rel="stylesheet" href="~/Content/assets/music-stylesheet.css">
    <link rel="stylesheet" href="~/Content/assets/style_new.css">

    <style>
        .profile-section {
            padding: 100px 0;
        }
    </style>
}



<div class="profile-section appointment">
    <div class="container-fluid">
        <div class="column-sec">
            <div class="left-col-main">
                <div class="left-col-inr">
                    <div class="img-profile">
                        <p class="id-text">Id :<span>534567</span></p>
                        <img src="~/Content/visitor-panel/image/profile.jpg" alt="profile-img">

                    </div>
                    <div class="profile-name">

                        <h3>Master</h3>
                        <p>Creative Designer</p>
                    </div>
                    <div class="social-follow">
                        <div class="social-icon">
                            <a href=""><i class="fa-brands fa-facebook-f"></i> </a>
                        </div>
                        <div class="social-icon">
                            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                        <div class="social-icon">
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                        </div>
                        <!-- <div class="social-icon">
                            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        </div> -->
                    </div>
                    <div class="cta-inr">
                        <a class="download-cta" href="">Share CV</a>
                    </div>
                </div>

                <div class="button-inr">
                    <a class="primary-cta" href="">Class</a>
                    <a class="primary-cta" href="">Events</a>
                    <a class="primary-cta" href="">Packages</a>
                    <a class="primary-cta" href="">Appointment</a>

                    <a class="primary-cta" href="">Class</a>
                    <a class="primary-cta" href="">Events</a>
                    <a class="primary-cta" href="">Packages</a>
                    <a class="primary-cta" href="">Appointment</a>
                </div>

            </div>

            <div class="calendar_sec">
                <div id='calendar'></div>
                <div class="schedule-inr">
                    <p>
                        Put your booking instructions here.
                        <br>Or you can save It blank in case of nothing want to display.
                    </p>
                    <a href="#" class="schedule">
                        Schedule An Appointment
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/Content/assets/apointment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.js"></script>
}




