
@{
    ViewBag.Title = "BusinessDetail";
    Layout = "~/Views/Shared/VistiorHomeLayout.cshtml";
}



<div class="banner-sec" style="background: url(/Content/visitor-panel/image/taj2.jpg) no-repeat top center/cover;">
    <h2 class="text-center text-white pj-hd-text">Business Detail</h2>
</div>

<section id="sesction1-bus-pj" class="section">
    <div class="container sc1-bus-pj">


        <div class="row r1a-bus-pj">
            <div class="col-sm-12 col-md-8 orbrdr32a">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="wrap-sc d-flex align-items-center">
                            <img class="bs-pj-p-img" src="~/Content/visitor-panel/image/photo-1633332755192-727a05c4013d.jpg">
                            <div class="nm-txt">
                                <div class="name-head">Robin</div>
                                <div class="bs-p-icn d-flex justify-content-around mt-2">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>

                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>

                                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <div class="hd-txt-outer hd-txt-outerzl">
                            <div class="hd-txt">
                                <h2>Zin Cince</h2>
                                <p>Sep 2014</p>
                            </div>
                            <div class="hd-txt">
                                <h2>Location</h2>
                                <p>
                                    Mapusa, Goa
                                </p>
                            </div>

                            <div class="hd-txt">
                                <h2>Licensed to Teach</h2>
                                <p>Zumba</p>
                            </div>
                            <div class="hd-txt">
                                <h2>Cureent Status</h2>
                                <p>Available to Teach Additional Classes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="hd-txt-outer hd-txt-outerzl">
                            <div class="hd-txt">
                                <h2>Why come to my class?</h2>
                                <p>Gift yourself 1 hr of ME TIME!</p>
                            </div>
                            <div class="hd-txt">
                                <h2>When I'm not teaching, I'm...</h2>
                                <p>
                                    FOLLOWING MY OTHER PASSIONS
                                </p>
                            </div>

                            <div class="hd-txt">
                                <h2>Favorite Dance Move</h2>
                                <p>Doogie!</p>
                            </div>
                            <div class="hd-txt">
                                <h2>Current Guilty Pleasure</h2>
                                <p>I'm a foodie...need I say more</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bd-mdl-tx">
                    <div class="col p-0">
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi unde
                            libero nisi, itaque
                            animi quaerat ipsa optio labore inventore velit nam reiciendis ad eveniet id similique
                            voluptatibus dignissimos esse? Fuga?
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2 class="jdskf">Photos</h2>
                        <img class="w-50" src="~/Content/visitor-panel/image/dance.jpg">
                    </div>
                </div>
                <div class="row bs-p-r001">
                    <div class="col">
                        <h2 class="bdp-lic">Licenses</h2>
                        <div class="row cnwrap">
                            <div class="col-sm-12 col-md-3 img-w-txt">
                                <img class="i-w-t3" src="~/Content/visitor-panel/image/basic-1.svg">
                                <div class="txt">Zumba® Basic 1</div>
                            </div>
                            <div class="col-sm-12 col-md-3 img-w-txt">
                                <img class="i-w-t3" src="~/Content/visitor-panel/image/basic-1.svg">
                                <div class="txt">Zumba® Basic 1</div>
                            </div>
                            <div class="col-sm-12 col-md-3 img-w-txt">
                                <img class="i-w-t3" src="~/Content/visitor-panel/image/basic-1.svg">
                                <div class="txt">Zumba® Basic 1</div>
                            </div>
                            <div class="col-sm-12 col-md-3 img-w-txt">
                                <img class="i-w-t3" src="~/Content/visitor-panel/image/basic-1.svg">
                                <div class="txt">Zumba® Basic 1</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row bs-p-r001">
                    <div class="col">
                        <h2 class="bdp-lic">Education</h2>


                        <div class="cnwrap row">
                            <div class="col-sm-12 col-md-3 img-w-txt">
                                <img class="i-w-t3"
                                     src="~/Content/visitor-panel/image/zincon-virtual-2020.svg">
                                <div class="txt">Attended 2020 ZIN™ Virtual Convention </div>
                            </div>
                            <div class="col-sm-12 col-md-3 img-w-txt">
                                <img class="i-w-t3"
                                     src="~/Content/visitor-panel/image/zincon-virtual-2020.svg">
                                <div class="txt">Attended 2020 ZIN™ Virtual Convention </div>
                            </div>
                            <div class="col-sm-12 col-md-3 img-w-txt">
                                <img class="i-w-t3"
                                     src="~/Content/visitor-panel/image/zincon-virtual-2020.svg">
                                <div class="txt">Attended 2020 ZIN™ Virtual Convention </div>
                            </div>
                            <div class="col-sm-12 col-md-3 img-w-txt">
                                <img class="i-w-t3"
                                     src="~/Content/visitor-panel/image/zincon-virtual-2020.svg">
                                <div class="txt">Attended 2020 ZIN™ Virtual Convention </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row bs-p-r001 bs-p-r001sb">
                    <div class="col">

                        <h2 class="bdp-lic">Milestones</h2>
                        <div class="row cnwrap">
                            <div class="col-sm-12 col-md-3 img-w-txt">
                                <img class="i-w-t3" src="~/Content/visitor-panel/image/8years.svg">
                                <div class="txt">Licensed ZIN™ Member for 8 years.</div>
                            </div>
                            <div class="col-sm-12 col-md-3 img-w-txt">
                                <img class="i-w-t3" src="~/Content/visitor-panel/image/8years.svg">
                                <div class="txt">Licensed ZIN™ Member for 8 years.</div>
                            </div>
                            <div class="col-sm-12 col-md-3 img-w-txt">
                                <img class="i-w-t3" src="~/Content/visitor-panel/image/8years.svg">
                                <div class="txt">Licensed ZIN™ Member for 8 years.</div>
                            </div>
                            <div class="col-sm-12 col-md-3 img-w-txt">
                                <img class="i-w-t3" src="~/Content/visitor-panel/image/8years.svg">
                                <div class="txt">Licensed ZIN™ Member for 8 years.</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 orbrdr32">
                <div class="hd-txt-outer sdb">
                    <div class="hd-txt">
                        <h2>My Upcoming Classes</h2>

                    </div>
                    <div class="hd-txt">
                        <h2>Virtual Classes </h2>

                    </div>

                    <div class="hd-txt">
                        <p class="bd-pj-nv-c">No virtual classes currently scheduled.</p>

                    </div>
                    <div class="hd-txt">
                        <h2>In-Person Classes </h2>
                        <div class="no-classes bd-pj-nv-c1 d-flex">
                            <span class="no-classes__item">No classes posted.&nbsp;</span>
                            <span class="no-classes__item">
                                <a href="#" target="_blank">Search all classes</a>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

