

@section Styles {

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

    <style>

        .cstm-overlay-block {
            position: absolute;
            height: 120px;
            bottom: 0;
            background: #2c2d37cc;
            color: #fff;
            width: 100%;
        }
    </style>

    <link href="~/Content/custom/css/home-banner-slider.css" rel="stylesheet" />
}
<html>
<body>

    <div class="banner-sec" style="background: url(/Content/visitor-panel/image/taj2.jpg) no-repeat top center/cover;">
        <h2 class="text-center text-white pj-hd-text">Business Listing</h2>
    </div>

    <section id="section-5" class="brdrsc pb-5 ">
        <!-- filter section -->
        <div class="container">
            <div class="filter-sec">
                <div class="page-center">
                    <h1 class="pb-4">Find Academy</h1>
                    <div id="navB2BBusinessCategoryList" class="button-group filters-button-group">
                    </div>
                    <div id="BusinessList" class="row mt-2 ">
                    </div>
                    <div class="row rewrsfjdkslfjalksj mt-0">
                        <div class="text-center">
                            <a id="BtnViewMoreBusinessList" onclick="ViewMoreBusinessList();" class="v-a-c-guinr-enq-jdfk j  v-a-c-guinr text-center cstm-btn w-100 btn btn-outline-dark">
                                View
                                More
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <script src="~/Scripts/js/visitor-panel/BusinessList.js"></script>

    
}