
@{
    ViewBag.Title = "CertificateCategory";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
}


@section Styles{

    <link rel="stylesheet" href="~/Content/assets/stylesheet-cer.css">
    <link rel="stylesheet" href="~/Content/assets/index-stylesheet.css">
    <link rel="stylesheet" href="~/Content/assets/review.css">
    <link rel="stylesheet" href="~/Content/assets/style_new.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
          rel="stylesheet">

}
<body class="index-template">

    <div class="banner-section" style="background-image: url('/Content/visitor-panel/image/bhangra.jpg');">
        <div class="logo-img">
            <img src="~/Content/visitor-panel/image/bolly-fit-fainal.png" alt="logo" loading="lazy">
        </div>
        <div class="page-center">
            <div class="banner-content">
                <h1>Lorem ipsum dolor sit amet</h1>
            </div>
        </div>
    </div>

    <!-- cta section -->
    <div class="cta-banner">
        <div class="page-center">
            <div class="btn-iner">
                <a class="button-cta" href="#">Button</a>
                <a class="button-cta" href="">Button</a>
                <a class="button-cta" href="">Button</a>
            </div>
        </div>
    </div>
    <!-- cta -->
    <div class="form-search-sec">
        <div class="page-center">
            <div class="form-section-flex">
                <div class="left-section">
                    <div class="search-bar">
                        <div class="logo-iner">
                            <img src="~/Content/visitor-panel/image/bolly-fit-fainal.png" alt="logo" loading="lazy">
                        </div>
                        <form method="post" action="#">
                            <div class="form-field">
                                <label>Find BOlly Fit Class</label>
                                <div class="half-width">
                                    <div class="search-input">
                                        <input type="search" name="search-bar" placeholder="Bangalore">
                                    </div>
                                    <div class="submit-style">
                                        <input class="submit-cta" type="submit">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="right-section">

                    <div class="card-iner">
                        <div class="title-section">
                            <h5>New Events</h5>
                        </div>
                        <div class="card-slider">
                            <div class="card-slider-scroll">
                                <div class="cards-items">
                                    <div class="card-img">
                                        <a class="card-link" href="#"></a>
                                        <div class="img-iner">
                                            <img src="~/Content/visitor-panel/image/bg-banner.jpg" alt="img" loading="lazy">
                                        </div>
                                        <div class="text-iner">

                                            <p>Bolly Fit</p>
                                            <p>Lorem ipsum dolor sit amet,</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cards-items">
                                    <div class="card-img">
                                        <a class="card-link" href="#"></a>
                                        <div class="img-iner">
                                            <img src="~/Content/visitor-panel/image/bg-banner.jpg" alt="img" loading="lazy">
                                        </div>
                                        <div class="text-iner">

                                            <p>Bolly Fit</p>
                                            <p>Lorem ipsum dolor sit amet,</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cards-items">
                                    <div class="card-img">
                                        <a class="card-link" href="#"></a>
                                        <div class="img-iner">
                                            <img src="~/Content/visitor-panel/image/bg-banner.jpg" alt="img" loading="lazy">
                                        </div>
                                        <div class="text-iner">

                                            <p>Bolly Fit</p>
                                            <p>Lorem ipsum dolor sit amet,</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cards-items">
                                    <div class="card-img">
                                        <a class="card-link" href="#"></a>
                                        <div class="img-iner">
                                            <img src="~/Content/visitor-panel/image/bg-banner.jpg" alt="img" loading="lazy">
                                        </div>
                                        <div class="text-iner">

                                            <p>Bolly Fit</p>
                                            <p>Lorem ipsum dolor sit amet,</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cards-items">
                                    <div class="card-img">
                                        <a class="card-link" href="#"></a>
                                        <div class="img-iner">
                                            <img src="~/Content/visitor-panel/image/bg-banner.jpg" alt="img" loading="lazy">
                                        </div>
                                        <div class="text-iner">

                                            <p>Bolly Fit</p>
                                            <p>Lorem ipsum dolor sit amet,</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cards-items">
                                    <div class="card-img">
                                        <a class="card-link" href="#"></a>
                                        <div class="img-iner">
                                            <img src="~/Content/visitor-panel/image/bg-banner.jpg" alt="img" loading="lazy">
                                        </div>
                                        <div class="text-iner">

                                            <p>Bolly Fit</p>
                                            <p>Lorem ipsum dolor sit amet,</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- image content -->
    <div class="image-content-section">
        <div class="page-center">
            <div class="img-content-flex">
                <div class="left-div">
                    <div class="img-shape">
                        <img src="~/Content/visitor-panel/image/bhagra-pose.png" alt="img" loading="lazy">
                    </div>
                </div>
                <div class="right-div">
                    <div class="content-iner">
                        <h2>Lorem ipsum dolor sit amet,</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Morbi et arcu condimentum libero auctor commodo.
                            Ut vitae dui in urna imperdiet bibendum. Sed lacus dolor,
                            aliquam vel purus eu, tempor tincidunt velit. Morbi varius ullamcorper accumsan.
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas.
                            Aenean eget ligula ipsum. Duis lobortis tincidunt erat eget sollicitudin
                        </p>
                        <a class="secondary-cta" href="">button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <!-- end image content -->
    <div class="card-img-section">
        <div class="page-center">
            <div class="card-flex">
                <div class="card-flex-items">
                    <div class="img-iner">
                        <img src="~/Content/visitor-panel/image/dancepose.png" alt="img" loading="lazy">
                    </div>
                    <div class="img-text-iner">
                        <h6> Lorem ipsum dolor sit amet</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Morbi et arcu condimentum libero auctor commodo. Ut vitae dui in urna imperdiet bibendum.
                            Sed lacus dolor, aliquam vel purus eu, tempor tincidunt velit

                        </p>
                    </div>
                </div>
                <div class="card-flex-items">
                    <div class="img-iner">
                        <img src="~/Content/visitor-panel/image/dancepose.png" alt="img" loading="lazy">
                    </div>
                    <div class="img-text-iner">
                        <h6> Lorem ipsum dolor sit amet</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Morbi et arcu condimentum libero auctor commodo. Ut vitae dui in urna imperdiet bibendum.
                            Sed lacus dolor, aliquam vel purus eu, tempor tincidunt velit

                        </p>
                    </div>
                </div>
                <div class="card-flex-items">
                    <div class="img-iner">
                        <img src="~/Content/visitor-panel/image/dancepose.png" alt="img" loading="lazy">
                    </div>
                    <div class="img-text-iner">
                        <h6> Lorem ipsum dolor sit amet</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Morbi et arcu condimentum libero auctor commodo. Ut vitae dui in urna imperdiet bibendum.
                            Sed lacus dolor, aliquam vel purus eu, tempor tincidunt velit

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="image-with-content">
        <div class="page-center">
            <div class="img-content-flex">
                <div class="left-content">
                    <div class="content-iner">
                        <h2>Lorem ipsum dolor sit amet, consectetur. </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Morbi et arcu condimentum libero auctor commodo.
                            Ut vitae dui in urna imperdiet bibendum. Sed lacus dolor,
                            aliquam vel purus eu, tempor tincidunt velit. Morbi varius ullamcorper accumsan.
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas.
                            Aenean eget ligula ipsum. Duis lobortis tincidunt erat eget sollicitudin
                        </p>
                        <a class="secondary-cta" href="">button</a>
                    </div>
                </div>
                <div class="right-img">
                    <img src="~/Content/visitor-panel/image/bg-banner.jpg" alt="img" loading="lazy">

                </div>

            </div>
        </div>
    </div>
    <div class="video-gallery-section">
        <div class="page-center">
            <div class="video-title">
                <h3>Video Title</h3>
            </div>
            <div class="video-gallery-fl">
                <div class="video-gallery-item">
                    <div class="video-iner">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9xwazD5SyVg"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="video-gallery-item">
                    <div class="video-iner">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9xwazD5SyVg"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="video-gallery-item">
                    <div class="video-iner">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9xwazD5SyVg"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>

                </div>
                <div class="video-gallery-item">
                    <div class="video-iner">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9xwazD5SyVg"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="video-gallery-item">
                    <div class="video-iner">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9xwazD5SyVg"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="video-gallery-item">
                    <div class="video-iner">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9xwazD5SyVg"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- our training classes -->
    <div class="our-training-section">
        <div class="page-center">
            <div class="traning-title">
                <h2>OUR CLASSES</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi et arcu condimentum libero auctor commodo.
                    Ut vitae dui in urna imperdiet bibendum.
                </p>
            </div>
            <div class="training-col">
                <div class="training-lt-col">
                    <ul class="training-tab-list">
                        <li data-tab="#training_one">
                            <div class="icon-img-text">
                                <img src="~/Content/visitor-panel/image/icon-dumble.png" alt="img" loading="lazy">
                                <h6>First Training Class</h6>
                            </div>
                        </li>
                        <li data-tab="#training_second">
                            <div class="icon-img-text">
                                <img src="~/Content/visitor-panel/image/icon-dumble.png" alt="img" loading="lazy">
                                <h6>Two Training Class</h6>
                            </div>
                        </li>
                        <li data-tab="#training_three">
                            <div class="icon-img-text">
                                <img src="~/Content/visitor-panel/image/icon-dumble.png" alt="img" loading="lazy">
                                <h6>Three Training Class</h6>
                            </div>
                        </li>
                        <li data-tab="#training_fourth">
                            <div class="icon-img-text">
                                <img src="~/Content/visitor-panel/image/icon-dumble.png" alt="img" loading="lazy">
                                <h6>Four Training Class</h6>
                            </div>
                        </li>


                    </ul>
                    <div class="view-all">
                        <a class="primary-button" href="#">View All Schedules</a>
                    </div>
                </div>
                <div class="training-rt-col">
                    <div class="training-tabbing">
                        <div class="tab-img" id="training_one">
                            <img src="~/Content/visitor-panel/image/bg-banner.jpg" alt="img" loading="lazy">
                            <div class="box-text">
                                <h3>First Training Class</h3>
                                <p>
                                    Phasellus convallis mauris sed elementum vulputate. Donec posuere leo sed dui
                                    eleifend hendrerit. Sed suscipit suscipit erat, sed vehicula ligula. Aliquam ut sem
                                    fermentum sem tincidunt lacinia gravida aliquam nunc. Morbi quis erat imperdiet,
                                    molestie nunc ut, accumsan diam.

                                </p>
                                <a class="primary-button" href="#">View Schedule</a>
                            </div>

                        </div>
                        <div class="tab-img" id="training_second">
                            <img src="~/Content/visitor-panel/image/bhangra.jpg" alt="img" loading="lazy">
                            <div class="box-text">
                                <h3>Second Training Class</h3>
                                <p>
                                    Phasellus convallis mauris sed elementum vulputate. Donec posuere leo sed dui
                                    eleifend hendrerit. Sed suscipit suscipit erat, sed vehicula ligula. Aliquam ut sem
                                    fermentum sem tincidunt lacinia gravida aliquam nunc. Morbi quis erat imperdiet,
                                    molestie nunc ut, accumsan diam.

                                </p>
                                <a class="primary-button" href="#">View Schedule</a>
                            </div>

                        </div>
                        <div class="tab-img" id="training_three">
                            <img src="~/Content/visitor-panel/image/bg-banner.jpg" alt="img" loading="lazy">
                            <div class="box-text">
                                <h3>Three Training Class</h3>
                                <p>
                                    Phasellus convallis mauris sed elementum vulputate. Donec posuere leo sed dui
                                    eleifend hendrerit. Sed suscipit suscipit erat, sed vehicula ligula. Aliquam ut sem
                                    fermentum sem tincidunt lacinia gravida aliquam nunc. Morbi quis erat imperdiet,
                                    molestie nunc ut, accumsan diam.

                                </p>
                                <a class="primary-button" href="#">View Schedule</a>
                            </div>

                        </div>
                        <div class="tab-img" id="training_fourth">
                            <img src="~/Content/visitor-panel/image/bhangra.jpg" alt="img" loading="lazy">
                            <div class="box-text">
                                <h3>Fourth Training Class</h3>
                                <p>
                                    Phasellus convallis mauris sed elementum vulputate. Donec posuere leo sed dui
                                    eleifend hendrerit. Sed suscipit suscipit erat, sed vehicula ligula. Aliquam ut sem
                                    fermentum sem tincidunt lacinia gravida aliquam nunc. Morbi quis erat imperdiet,
                                    molestie nunc ut, accumsan diam.

                                </p>
                                <a class="primary-button" href="#">View Schedule</a>
                            </div>

                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>

    <!-- image content -->
    <div class="image-content-section shape-section">
        <div class="page-center">
            <div class="img-content-flex  ">
                <div class="left-div clip-path">
                    <div class="img-shape">
                        <img src="~/Content/visitor-panel/image/bhagra-pose.png" alt="img" loading="lazy">
                    </div>
                </div>
                <div class="right-div">
                    <div class="content-iner">
                        <h2>Lorem ipsum dolor sit amet,</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Morbi et arcu condimentum libero auctor commodo.
                            Ut vitae dui in urna imperdiet bibendum. Sed lacus dolor,
                            aliquam vel purus eu, tempor tincidunt velit. Morbi varius ullamcorper accumsan.
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas.
                            Aenean eget ligula ipsum. Duis lobortis tincidunt erat eget sollicitudin
                        </p>
                        <a class="secondary-cta" href="">button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Sponsors! -->
    <div class="our-sponsors-section">
        <div class="page-center">
            <div class="title">
                <h3>Our Sponsors</h3>
            </div>
            <div class="logo-slider">
                <div class="logo-img">
                    <a class="logo-link" href=""></a>
                    <img src="~/Content/visitor-panel/image/sports01.png" alt="logo" loading="lazy">
                </div>
                <div class="logo-img">
                    <a class="logo-link" href=""></a>
                    <img src="~/Content/visitor-panel/image/sports04.png" alt="logo" loading="lazy">
                </div>
                <div class="logo-img">
                    <a class="logo-link" href=""></a>
                    <img src="~/Content/visitor-panel/image/sports-transparent.png" alt="logo" loading="lazy">
                </div>
                <div class="logo-img">
                    <a class="logo-link" href=""></a>
                    <img src="~/Content/visitor-panel/image/Coca-Cola.png" alt="logo" loading="lazy">
                </div>
                <div class="logo-img">
                    <a class="logo-link" href=""></a>
                    <img src="~/Content/visitor-panel/image/amazon.png" alt="logo" loading="lazy">
                </div>
                <div class="logo-img">
                    <a class="logo-link" href=""></a>
                    <img src="~/Content/visitor-panel/image/am-logo.png" alt="logo" loading="lazy">
                </div>
                <div class="logo-img">
                    <a class="logo-link" href=""></a>
                    <img src="~/Content/visitor-panel/image/pepsi.png" alt="logo" loading="lazy">
                </div>
                <div class="logo-img">
                    <a class="logo-link" href=""></a>
                    <img src="~/Content/visitor-panel/image/sports01.png" alt="logo" loading="lazy">
                </div>
                <div class="logo-img">
                    <a class="logo-link" href=""></a>
                    <img src="~/Content/visitor-panel/image/sports04.png" alt="logo" loading="lazy">
                </div>
                <div class="logo-img">
                    <a class="logo-link" href=""></a>
                    <img src="~/Content/visitor-panel/image/sports-transparent.png" alt="logo" loading="lazy">
                </div>
                <div class="logo-img">
                    <a class="logo-link" href=""></a>
                    <img src="~/Content/visitor-panel/image/Coca-Cola.png" alt="logo" loading="lazy">
                </div>
                <div class="logo-img">
                    <a class="logo-link" href=""></a>
                    <img src="~/Content/visitor-panel/image/amazon.png" alt="logo" loading="lazy">
                </div>
                <div class="logo-img">
                    <a class="logo-link" href=""></a>
                    <img src="~/Content/visitor-panel/image/am-logo.png" alt="logo" loading="lazy">
                </div>
                <div class="logo-img">
                    <a class="logo-link" href=""></a>
                    <img src="~/Content/visitor-panel/image/pepsi.png" alt="logo" loading="lazy">
                </div>
            </div>

        </div>
    </div>
    <!-- expert trainer -->
    <div class="expert-trainer-sec">
        <div class="page-center">
            <div class="title-sec">
                <h2>FIND AN INSTRUCTOR TIALE</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et arcu condimentum libero auctor
                    commodo. Ut vitae dui in urna imperdiet bibendum.

                </p>
            </div>

            <div class="expert-trainer-col">
                <div class="expert-trainer-items">
                    <div class="img-iner">
                        <img src="~/Content/visitor-panel/image/teacher.jpg" alt="img" loading="lazy">
                    </div>
                    <div class="down-content">
                        <h4>Bret D. Bowers</h4>
                        <span class="destignation">Web Developer</span>

                        <ul class="social-icons">
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="expert-trainer-items">
                    <div class="img-iner">
                        <img src="~/Content/visitor-panel/image/teacher02.jpg" alt="img" loading="lazy">
                    </div>
                    <div class="down-content">

                        <h4>Bret D. Bowers</h4>
                        <span class="destignation">Web Developer</span>

                        <ul class="social-icons">
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="expert-trainer-items">
                    <div class="img-iner">
                        <img src="~/Content/visitor-panel/image/teacher03.jpg" alt="img" loading="lazy">
                    </div>
                    <div class="down-content">
                        <h4>Bret D. Bowers</h4>
                        <span class="destignation">Web Developer</span>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>


        </div>

    </div>

    <!-- video section -->
    <div class="video-content-section">
        <div class="page-center">
            <div class="video-content-img">
                <div class="video-iner-sec">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JkwLSl8SrgM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
                <div class="video-content">
                    <h3> Lorem ipsum dolor sit amet</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi et arcu condimentum libero auctor commodo. Ut vitae dui in urna imperdiet bibendum.
                        Sed lacus dolor, aliquam vel purus eu, tempor tincidunt velit

                    </p>
                    <a class="secondary-cta" href="">Register Now</a>
                </div>
            </div>

        </div>
    </div>
    <!-- video -->

    <div class="card-img-section">
        <div class="page-center">
            <div class="card-flex">
                <div class="card-flex-items four">
                    <div class="img-iner">
                        <img src="~/Content/visitor-panel/image/dancepose.png" alt="img" loading="lazy">
                    </div>
                    <div class="img-text-iner">
                        <h6> Lorem ipsum dolor sit amet</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Morbi et arcu condimentum libero auctor commodo. Ut vitae dui in urna imperdiet bibendum.
                            Sed lacus dolor, aliquam vel purus eu, tempor tincidunt velit

                        </p>
                    </div>
                </div>
                <div class="card-flex-items four">
                    <div class="img-iner">
                        <img src="~/Content/visitor-panel/image/bhagra-pose.png" alt="img" loading="lazy">
                    </div>
                    <div class="img-text-iner">
                        <h6> Lorem ipsum dolor sit amet</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Morbi et arcu condimentum libero auctor commodo. Ut vitae dui in urna imperdiet bibendum.
                            Sed lacus dolor, aliquam vel purus eu, tempor tincidunt velit

                        </p>
                    </div>
                </div>
                <div class="card-flex-items four">
                    <div class="img-iner">
                        <img src="~/Content/visitor-panel/image/dancepose.png" alt="img" loading="lazy">
                    </div>
                    <div class="img-text-iner">
                        <h6> Lorem ipsum dolor sit amet</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Morbi et arcu condimentum libero auctor commodo. Ut vitae dui in urna imperdiet bibendum.
                            Sed lacus dolor, aliquam vel purus eu, tempor tincidunt velit

                        </p>
                    </div>
                </div>
                <div class="card-flex-items four">
                    <div class="img-iner">
                        <img src="~/Content/visitor-panel/image/bhagra-pose.png" alt="img" loading="lazy">
                    </div>
                    <div class="img-text-iner">
                        <h6> Lorem ipsum dolor sit amet</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Morbi et arcu condimentum libero auctor commodo. Ut vitae dui in urna imperdiet bibendum.
                            Sed lacus dolor, aliquam vel purus eu, tempor tincidunt velit

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- video section -->
    <div class="video-content-section">
        <div class="page-center">
            <div class="video-content-img flex-direction">
                <div class="video-iner-sec">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JkwLSl8SrgM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
                <div class="video-content">
                    <h3> Lorem ipsum dolor sit amet</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi et arcu condimentum libero auctor commodo. Ut vitae dui in urna imperdiet bibendum.
                        Sed lacus dolor, aliquam vel purus eu, tempor tincidunt velit

                    </p>
                    <a class="secondary-cta" href="">Register Now</a>
                </div>
            </div>

        </div>
    </div>
    <!-- contact us -->
    <div class="contact-main">
        <div class="page-center">
            <div class="contact-section">
                <h2>Contact</h2>
                <div class="contact-col">
                    <div class="contact-left">
                        <div class="address-sec">
                            <div class="font-icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="address-text">
                                <h4>
                                    Bangalore, IN<br>
                                    ABC Institute
                                </h4>
                            </div>
                        </div>
                        <div class="address-sec">
                            <div class="font-icon">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div class="address-text">
                                <a href="tel:415-832-2000">
                                    415-832-2000
                                </a>
                            </div>
                        </div>
                        <div class="address-sec">
                            <div class="font-icon">
                                <i class="fa-regular fa-envelope"></i>
                            </div>
                            <div class="address-text">
                                <a href="mailto:info@example.com">
                                    info@example.com
                                </a>
                            </div>
                        </div>
                        <div class="sharing-title">
                            <h6>Social Follow</h6>
                        </div>
                        <div class="social-sharing">
                            <div class="social-icon">
                                <a href=""><i class="fa-brands fa-facebook-f"></i> </a>
                            </div>
                            <div class="social-icon">
                                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                            <div class="social-icon">
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                            </div>
                            <div class="social-icon">
                                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>

                    </div>
                    <div class="contact-right">
                        <div class="map-section">
                            <div class="elementor-custom-embed">
                                <iframe loading="lazy"
                                        src="https://maps.google.com/maps?q=San%20Francisco%2C%20S601%20Townsend%20Street%2C%20California%2C%20USA&amp;t=m&amp;z=16&amp;output=embed&amp;iwloc=near"
                                        title="San Francisco, S601 Townsend Street, California, USA"
                                        aria-label="San Francisco, S601 Townsend Street, California, USA"></iframe>
                            </div>
                            <div class="form-section-iner">
                                <h4>How Can <span>I Help You?</span> </h4>
                                <form id="contact_form_6438c711d9675" class="contact-form" action="#" method="post"
                                      novalidate="true">
                                    <div class="controls two-columns">
                                        <div class="fields-sec">
                                            <div class="left-column">
                                                <div class="form-group form-group-with-icon">
                                                    <input id="form_name" type="text" name="name" class="form-control"
                                                           placeholder="Full Name" required="required"
                                                           data-error="Name is required.">

                                                </div>

                                                <div class="form-group form-group-with-icon">
                                                    <input id="form_email" type="email" name="email"
                                                           class="form-control" placeholder="Email Address"
                                                           required="required" data-error="Valid email is required.">

                                                </div>

                                                <div class="form-group form-group-with-icon">
                                                    <input id="form_subject" type="text" name="subject"
                                                           class="form-control" placeholder="Subject" required="required"
                                                           data-error="Subject is required.">

                                                </div>
                                            </div>
                                            <div class="right-column">
                                                <div class="form-group form-group-with-icon">
                                                    <textarea id="form_message" name="message" class="form-control"
                                                              placeholder="Message" rows="7" required="required"
                                                              data-error="Please, leave me a message."></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <input type="submit" class="primary-button btn-send disabled"
                                               value="Send message">
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</body>
<script>
    $('.our-sponsors-section .logo-slider').slick({
        dots: true,
        infinite: false,
        speed: 300,
        arrows: false,
        slidesToShow: 6,
        slidesToScroll: 6,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    arrows: false,
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 767,
                settings: {
                    arrows: false,
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 480,
                settings: {
                    arrows: false,
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
        ]
    });

    // mobile
    $('.our-training-section .training-tab-list>li').click(function () {
        $('.our-training-section .training-tabbing .tab-img').hide();
        $('.our-training-section .training-tab-list>li.active').removeClass('active-tab');
        $(this).addClass('active-tab');
        var panel = $(this).attr('data-tab');
        $(panel).fadeIn(1000);

        return false;  // prevents link action

    });  // end click
    $('.our-training-section .training-tab-list>li:first').click();






</script>

