
@{
    ViewBag.Title = "Certification";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
    long Id = ViewBag.Id;
}


@section Styles{

    <link rel="stylesheet" href="~/Content/assets/stylesheet-cer.css">
    <link rel="stylesheet" href="~/Content/assets/education-cer.css">
    <link rel="stylesheet" href="~/Content/assets/class-stylesheet.css">
    <link rel="stylesheet" href="~/Content/assets/index-stylesheet.css">
    <link rel="stylesheet" href="~/Content/assets/review.css">
    <link rel="stylesheet" href="~/Content/assets/style_new.css">
    <!-- slick slider -->
    <style>
        .review-section .review-left .review-star > i {
            color: #D3D3D3;
        }
        header.header {
            background: var(--mainColor);
            width: 100%;
        }
        .col-div-flex .right-column .right-bar {
            padding: 70px 20px;
            background: #fff;
            text-align: center;
            max-width: 350px;
            margin: 0 0 0 auto;
            border: 2px solid #e1e1e1;
            box-shadow: 0 0 5px 0px rgba(0, 0, 0, 10%);
        }
        .right-column .contact-info {
            background: #fff;
            text-align: center;
            max-width: 350px;
            margin: 0 0 0 auto;
            border: 2px solid #e1e1e1;
            box-shadow: 0 0 5px 0px rgba(0, 0, 0, 10%);
            padding: 30px;
            margin-top: 20px;
        }
        .col-div-flex .right-column .certi-logo .logo-img img {
            max-width: 100px;
            display: block;
            margin: 0 auto;
        }
    </style>


}
<input type="hidden" id="hiddenTrainingId" value="@ViewBag.Id" />

<body class="certification-template">
    <div class="events-banner">
        <div class="page-center">
            <div class="col-div-flex">
                <div class="content-section">
                    <div id="TrainingDetail">
                        @*<div class="content-inr">

                                <h2>Bolly LI L1</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna ipsum,
                                    congue eget urna eu, viverra tincidunt neque.
                                    Proin pulvinar est quis sapien lacinia, non varius velit bibendum.
                                    Duis mattis massa egestas, fermentum nulla ut, porttitor lorem. Aenean pharetra turpis erat,
                                    eget scelerisque purus dignissim non.
                                </p>
                            </div>

                                            <div class="offer-sec">
                                                <div class="payment">
                                                    <span class="bai-inner__msrp ">
                                                        ₹26,938
                                                    </span>
                                                    <span class="bai-inner__current ">
                                                        ₹10,775
                                                    </span>
                                                    <span class="off-text">60% OFF</span>
                                                </div>
                                                <div class="payment-cta">
                                                    <a href="">Register Now </a>
                                                </div>
                                            </div>*@
                    </div>
                    <div class="wpv-tribe-vertical-events time">
                        <div class="text-icon-payment">
                            <div class="top-title">Date and Time</div>
                            <div class="icon-iner">
                                <div class="icon-payment">
                                    <img src="~/Content/visitor-panel/image/paytm.png" alt="img" loading="lazy">
                                </div>
                                <div class="icon-payment">
                                    <img src="~/Content/visitor-panel/image/g-pay.png" alt="img" loading="lazy">
                                </div>
                                <div class="icon-payment">
                                    <img src="~/Content/visitor-panel/image/phonepat.png" alt="img" loading="lazy">
                                </div>

                            </div>
                        </div>

                        <div id="DateTimeFormat">
                            @*<div class="date-time-section">
                                    <div class="wpv-event-row style-dark layout-vertical">
                                        <div class="date-cell-inr">
                                            <div class="date cell">
                                                <div class="day">July 23</div>
                                                <div class="month">2023, Friday</div>
                                            </div>
                                            <h5 class="title cell">
                                                8:30 Am - 6:00PM
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="wpv-event-row style-dark layout-vertical">
                                        <div class="date-cell-inr">
                                            <div class="date cell">
                                                <div class="day">July 24</div>
                                                <div class="month">2023, Saturday</div>
                                            </div>
                                            <h5 class="title cell">
                                                9:00 Am - 6:00PM
                                            </h5>
                                        </div>
                                    </div>


                                    <div class="wpv-event-row time style-dark layout-vertical time">
                                        <div class="date-cell-inr">
                                            <div class="date cell">
                                                Location
                                            </div>
                                            <h5 class="title cell">
                                                Anytime fitness dwarka
                                                F 601-603 2nd floor sector 7 market dwarka, delhi , Delhi, IN 110075
                                            </h5>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>

                    <!-- time -->
                    <div class="bottom-content">
                        <h6 class="under-line">Included with Session </h6>
                        <div class="session-list">
                            @*<div id="TrainingSession">*@
                            <ul id="TrainingSession">
                                @*<li>Start: 01 june,2023</li>
                                    <li>Seat Available: 200 </li>
                                    <li>Classes Monday - Sunday </li>
                                    <li>Course Duration: 3 Months </li>
                                    <li>Total Classes: 100 </li>
                                    <li>Lectures: 03 </li>
                                    <li>Total Credits: 150 </li>
                                    <li>Time: 10:00am - 11:00 am</li>*@
                            </ul>
                            @*</div>*@
                        </div>
                    </div>
                </div>
                <div class="right-column">

                    <div class="right-bar">
                        <div id="InstructorTrainingDetail">
                            @*<h6>About Bolly Fit Master</h6>
                                <div class="img-profile">
                                    <img src="~/Content/visitor-panel/image/profile-01.png" alt="image" loading="lazy">
                                </div>
                                <div class="profile-info">
                                    <h6>Master Zone </h6>
                                    <h6>New Delhi, Delhi, IN</h6>
                                </div>-->*@
                            <!-- certification logo -->
                        </div>
                        <div class="certified-main"  id="CertificationVerified">

                            @*<div class="certified-iner">
                                <img src="~/Content/visitor-panel/image/quality.png" alt="img" loading="lazy">
                                <h6>Certified</h6>
                            </div>*@
                        </div>

                        <div class="certi-logo" id="CertificateIcon">

                            @*<div class="logo-img">
                                    <img src="~/Content/visitor-panel/image/am-logo.png" alt="logo-img" loading="lazy">
                                </div>*@




                        </div>
                    </div>


                    <div class="contact-info">
                        <div id="ContactDetail">
                            @* <div class="title">
                                    <p class="title-heading">
                                        CONTACT
                                    </p>
                                    <p>9990445803</p>
                                </div>
                                <div class="title">
                                    <p class="title-heading">NEARBY AIRPORTS    </p>
                                    <p>
                                        Indira Gandhi International Airport

                                    </p>
                                </div>
                                <div class="title">
                                    <p class="title-heading">
                                        NEARBY HOTELS
                                    </p>
                                    <p>
                                        Msk residency sector 7 Dwarka ramphal chowk
                                    </p>
                                </div>*@
                        </div>

                    </div>
                </div>




                <div class="training-includes">
                    <div class="training-column">
                        <div class="training-title">
                            <h4>What to Expect</h4>
                        </div>

                        <div class="training-list" id="TrainingDescriptionDetails">
                            <div>
                                <ul>
                                    @*<li ></li>*@

                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="tab-iner">
                        <ul class="tabs">
                            <li data-tab="#tab_one">
                                Become an Instructor
                            </li>
                            <li data-tab="#tab_two">
                                Training Rules
                            </li>

                        </ul>
                        <div class="tabbing-section">

                            <div id="tab_one" class="tabbing">
                                <div id="tabdescriptionone">
                                    @*<p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Donec imperdiet luctus bibendum. Nullam sed leo pharetra, cursus justo eu,
                                            sollicitudin risus. Nam risus eros, porttitor a urna sit amet,
                                            vulputate volutpat dui. Duis vel sollicitudin sapien. Praesent laoreet pretium accumsan.
                                            Phasellus scelerisque tincidunt lectus, varius tincidunt ex venenatis nec. Fusce mollis congue lectus,
                                            sed ultrices ex lacinia id. Nam malesuada quam non ipsum gravida, nec tempor risus posuere.
                                        </p>*@
                                </div>
                            </div>
                            <div id="tab_two" class="tabbing">
                                <div id="tabdescriptiontwo">
                                    @*<p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Donec imperdiet luctus bibendum. Nullam sed leo pharetra, cursus justo eu,
                                            sollicitudin risus. Nam risus eros, porttitor a urna sit amet,
                                            vulputate volutpat dui. Duis vel sollicitudin sapien. Praesent laoreet pretium accumsan.
                                            Phasellus scelerisque tincidunt lectus, varius tincidunt ex venenatis nec. Fusce mollis congue lectus,
                                            sed ultrices ex lacinia id. Nam malesuada quam non ipsum gravida, nec tempor risus posuere.
                                        </p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
        <div class="page-center">

            <div class="body-content">
                <div id="bodyContentDescription">
                    @*<p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Vivamus rhoncus quam nulla, eget interdum turpis congue vel.
                            Mauris ultricies tempor vestibulum. Donec viverra arcu vel viverra mollis.
                            In non eleifend sem. Fusce rutrum posuere aliquam. Duis id fringilla risus.
                            Donec eu purus vitae velit efficitur maximus. Nulla eleifend elit felis,
                            ac varius neque vulputate in. Proin maximus enim justo, et cursus orci faucibus et.
                            Ut mollis cursus suscipit. Sed finibus ante sem, a ultrices arcu convallis id.
                            Suspendisse gravida ut massa sit amet molestie. Maecenas eget pulvinar ipsum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Vivamus rhoncus quam nulla, eget interdum turpis congue vel.
                            Mauris ultricies tempor vestibulum. Donec viverra arcu vel viverra mollis.
                            In non eleifend sem. Fusce rutrum posuere aliquam. Duis id fringilla risus.
                            Donec eu purus vitae velit efficitur maximus. Nulla eleifend elit felis,
                            ac varius neque vulputate in. Proin maximus enim justo, et cursus orci faucibus et.
                            Ut mollis cursus suscipit. Sed finibus ante sem, a ultrices arcu convallis id.
                            Suspendisse gravida ut massa sit amet molestie. Maecenas eget pulvinar ipsum.
                        </p>*@
                </div>
            </div>

        </div>
        <div class="review-section">
            <div class="page-center">
                <div class="review-call">

                    <div class="review-left">
                        <div id="BusinessReviewRating">
                            @*<h6>  <i class="fa-solid fa-star"></i>Master Zone</h6>
                                <div class="review-star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="reviews__summary-tp_total_reviews">
                                    TrustScore 4.9 | <a href="review.html" target="_blank">3631 reviews</a>
                                </div>*@
                        </div>
                    </div>
                    <div class="review-right">
                        <div class="review-inr review-slider" id="RatingReviewForTraining">
                            <!--<div class="review-items">
                                <div id="RatingReviewForTraining">-->
                            @*<div class="star-day">
                                    <div class="star-section">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="review-day">
                                        1 day ago
                                    </div>
                                </div>
                                <div class="des-inr">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                        Aenean massa.
                                    </p>
                                </div>
                                <a href="#">more</a>
                                <div class="name">
                                    <p>JOHN DOE</p>
                                    <p>Students</p>
                                </div>*@
                            <!--</div>
                            </div>-->
                            @*<div class="review-items">
                                    <div class="star-day">
                                        <div class="star-section">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="review-day">
                                            1 day ago
                                        </div>
                                    </div>
                                    <div class="des-inr">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                            Aenean massa.
                                        </p>
                                    </div>
                                    <a href="#">more</a>
                                    <div class="name">
                                        <p>JOHN DOE</p>
                                        <p>Students</p>
                                    </div>
                                </div>

                                <div class="review-items">
                                    <div class="star-day">
                                        <div class="star-section">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="review-day">
                                            1 day ago
                                        </div>
                                    </div>
                                    <div class="des-inr">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                            Aenean massa.
                                        </p>
                                    </div>
                                    <a href="#">more</a>
                                    <div class="name">
                                        <p>JOHN DOE</p>
                                        <p>Students</p>
                                    </div>
                                </div>
                                <div class="review-items">
                                    <div class="star-day">
                                        <div class="star-section">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="review-day">
                                            1 day ago
                                        </div>
                                    </div>
                                    <div class="des-inr">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                            Aenean massa.
                                        </p>
                                    </div>
                                    <a href="#">more</a>
                                    <div class="name">
                                        <p>JOHN DOE</p>
                                        <p>Students</p>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="prismic-promo-banner">
            <div class="page-center">
                <p class="prismic-promo-banner__content__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet luctus bibendum.</p>
                <p class="prismic-promo-banner__content__subtitle">
                    30 Day Money Back Guaranteed
                </p>
            </div>
        </div>
</body>
@section Scripts{
    <script src="~/Content/assets/main-cer.js"></script>
    <script>
        $('.certification-template .tabs>li').click(function () {
            $('.certification-template .tabbing-section .tabbing').hide();
            $('.certification-template .tabs>li.active').removeClass('active-tab');
            $(this).addClass('active-tab');
            var panel = $(this).attr('data-tab');
            $(panel).fadeIn(1000);

            return false;  // prevents link action

        });  // end click

        $('.certification-template .tabs>li:first').click();

            // slider

            //$('.certification-template .review-slider').slick({
            //    dots: true,
            //    infinite: true,
            //    arrows: false,
            //    slidesToShow: 3,
            //    slidesToScroll: 3,
            //    autoplay: true,
            //    autoplaySpeed: 3000,
            //    responsive: [
            //        {
            //            breakpoint: 1024,
            //            settings: {
            //                arrows: false,
            //                slidesToShow: 2,
            //                slidesToScroll: 2,
            //                infinite: true,
            //                autoplay: true,
            //                autoplaySpeed: 3000,

            //            }
            //        },
            //        {
            //            breakpoint: 767,
            //            settings: {
            //                arrows: false,
            //                slidesToShow: 1,
            //                slidesToScroll: 1,
            //                infinite: true,
            //                dots: true,
            //                autoplay: true,
            //                autoplaySpeed: 3000,
            //            }
            //        }

            //    ]
            //});

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    @Html.Partial("~/Views/Shared/ScriptPartials/VisitorPanel/_CertificationScriptPartial.cshtml")
}


