
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/VistiorHomeLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h1 class="pageHeadingText" id="pageTextchange">My Account</h1>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="/Business/Message">Home</a>
                                </li>
                                <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange">My Account </li>
                            </ol>
                        </nav>
                    </div>

                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>



        <div id="sectionAddStaff">
            <div class="row mb-4">
                @* <div class="col-6 mb-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="mb-4" id="myText">Basic Settings</h5>
                                <hr />

                                <div class="form-group">
                                    <label for="Name">Name</label>
                                    <input type="text" id="txtName" placeholder="Name" class="form-control" />
                                    <div class="error-class" id="error_txtName"></div>

                                </div>
                                <div class="form-group">
                                    <label for="Password">Password</label>
                                    <input type="password" id="txtPassword" placeholder="Password" class="form-control" />
                                    <div class="error-class" id="error_txtPassowrd"></div>
                                </div>

                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitFormClick()">Submit</button>

                            </div>
                        </div>
                    </div>*@

                <div class="col-6 mb-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4" id="myText">Change Password</h5>
                            <hr />
                            <div class="form-group">
                                <label for="Password">Current Password</label>
                                <input type="password" id="txtOldPassword_ChangePassword" placeholder="CurrentPassword" class="form-control" />
                                <div class="error-class" id="oldPassword_error_ChangePassword"></div>
                            </div>
                            <div class="form-group">
                                <label for="Password"> New Password</label>
                                <input type="password" id="txtNewPassword_ChangePassword" placeholder="NewPassword" class="form-control" />
                                <div class="error-class" id="newPassword_error_ChangePassword"></div>
                            </div>

                            <div class="form-group">
                                <label for="ConfirmedPassword">Confirm Password</label>
                                <input type="password" id="txtConfirmNewPassword_ChangePassword" placeholder="ConfirmPassword" class="form-control" />
                                <div class="error-class" id="confirmNewPassword_error_ChangePassword"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="updateChangePassword();">Update Password</button>


                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>

</main>



@section Scripts{
    @Html.Partial("/Views/Shared/ScriptPartials/_ChangePasswordScriptPartial.cshtml")
}



