
@{
    ViewBag.Title = "ClassDetail";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
    long classId = ViewBag.ClassId;
    long businessOwnerLoginId = ViewBag.BusinessOwnerLoginId;
}

@section styles{

    <!-- font link end -->
    <link rel="stylesheet" href="~/Content/visitor-panel/css/stylesheet.css">
    <link rel="stylesheet" href="~/Content/visitor-panel/css/all-class.css">
    <link rel="stylesheet" href="~/Content/visitor-panel/css/classes.css">
    <script src="~/Scripts/js/visitor-panel/main.js"></script>

    <style>
        .badge-icon {
            height: 24px;
            width: 24px;
        }
        .time_sec {
            color: #f3a762;
        }

        a:hover {
            transition: all .3s;
            color: #f3a762;
        }
        a {
            color: #f3a762;
        }

        .social-follow {
            justify-content: inherit;
        }

        header.header.active-h {
            background-color: #f3a762;
            position: inherit;
        }

        header.header {
            background-color: #f3a762;
        }

        header.header {
            background: #f3a762;
        }
    </style>

}



<div class="all-class-templates">
    <input type="hidden" id="hiddenclassId" value="@ViewBag.ClassId" />
    <input type="hidden" id="hiddenbusinessOwnerLoginId" value="@ViewBag.BusinessOwnerLoginId" />
    <!-- header -->
    <!-- end header -->
    <div class="me-banner">
        <div class="page-center">
            <div class="row-flex" id="BindBusinessContentClassDetailByClassId">
                @*<div class="col-left">
                        <div class="cv-info">
                            <h1>Guitar Classes</h1>
                            <p class="with-instructor">
                                with <a href="#">RIA K</a> <br>

                            </p>
                            <p class="weeks">
                                Weekly
                                (M)
                                <br>
                                07:30 (60 minutes)
                                <br>
                                Anytime Fitness (<a target="_blank" href="#">
                                    Details
                                </a>)
                            </p>
                            <div class="social-follow">
                                <div class="social-icon">
                                    <a href=""><i class="fa-brands fa-facebook-f"></i>	</a>
                                </div>
                                <div class="social-icon">
                                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                                <div class="social-icon">
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                </div>
                                <div class="social-icon">
                                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="cta-iner">
                                <a class="primary-button" href="#">register now</a>
                            </div>
                        </div>
                    </div>
                    <div class="right-left">
                        <div class="image-content">
                            <div class="guitar-img">
                                <img src="~/Content/visitor-panel/image/guitar-02.jpg" alt="img">
                            </div>
                            <div class="des">
                                <h6>Guitar Classes</h6>
                                <h6 class="address">Mumbai, ABC Institutes</h6>
                                <h6 class="price-iner">Price <span>15,00</span></h6>
                            </div>

                        </div>
                    </div>*@

            </div>
        </div>

    </div>
    <!-- about Section -->
    <div class="about-section">
        <div class="page-center">
            <div class="about-col">
                <div class="about-left">
                    <div class="left-content" id="BindBusinessClassAboutDetail">
                        @*<h4> ABOUT Master Zone®</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Vivamus varius nisl est, eget tempor elit pulvinar et.
                                Fusce quam arcu, tempus vel interdum a, suscipit id mi.
                            </p>*@
                    </div>
                    <div class="icon-txt-main" id="BindBusinessClassFeatureDetailList">
                        @*<div class="icon-text">
                                <div class="icon-in">
                                    <img src="~/Content/visitor-panel/image/dancing.png" alt="icon">
                                </div>
                                <div class="text">
                                    <h6>Dance Level</h6>
                                    <p>All Level Dance</p>
                                </div>
                            </div>
                            <div class="icon-text">
                                <div class="icon-in">
                                    <img src="~/Content/visitor-panel/image/increasing-level.png" alt="icon">
                                </div>
                                <div class="text">
                                    <h6>Workout Level</h6>
                                    <p>
                                        High Intensity
                                    </p>
                                </div>
                            </div>
                            <div class="icon-text">
                                <div class="icon-in">
                                    <img src="~/Content/visitor-panel/image/music-notes.png" alt="icon">
                                </div>
                                <div class="text">
                                    <h6>Music Styles</h6>
                                    <p>Latin Rhythms</p>
                                </div>
                            </div>
                            <div class="icon-text">
                                <div class="icon-in">
                                    <img src="~/Content/visitor-panel/image/dancing.png" alt="icon">
                                </div>
                                <div class="text">
                                    <h6>Dance Level</h6>
                                    <p>All Level Dance</p>
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="about-right">
                    <div class="details-column" id="BindBusinessContentAboutLocationDetail">
                        @*<h4 class="detail-title">Location</h4>
                            <p>Anytime Fitness</p>
                            <p>  Hall No 1</p>
                            <p>
                                Ground Floor, Gaur Ganga-1, Sector 4, Vaishali, Ghaziabad, Uttar Pradesh 201010, India
                            </p>
                            <p> 095828 29272</p>
                            <div class="website-link">
                                <a href="#">Websites</a>
                                <a href="#">Map</a>
                            </div>
                            <h4>HOW TO BOOK</h4>
                            <p>
                                Location Requires Membership
                            </p>*@
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Your Instructor -->
    <div class="instructor-section ">
        <div class="page-center">
            <div class="instructor-col" id="BindBusinessContentInstructorProfileDetail">
                <!--<div class="insts-col-left">
                    <h3>  DETAILS ABOUT MY CLASS</h3>
                    <p>

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Ut in pulvinar turpis. Mauris elit risus, vulputate sed ante et, eleifend luctus ante.
                        Cras urna arcu, sagittis efficitur erat ac, rhoncus fringilla arcu.
                    </p>
                    <p>

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Ut in pulvinar turpis. Mauris elit risus, vulputate sed ante et, eleifend luctus ante.

                    </p>
                </div>

                <div class="instructor-content">
                    <div class="instructor-div">

                        <div class="instructor-img">
                            <a href="#">
                                <img src="~/Content/visitor-panel/image/riak.jpg" alt="riak" loading="lazy">
                            </a>
                        </div>
                        <div class="instructor-details">
                            <p class="text-iner">Your Instructor</p>
                            <h3 class="instructor-name"><a href="#">Profile Name</a></h3>-->
                <!-- <h6 class="address">Mumbai, ABC Institutes</h6> -->
                <!--</div>
                    </div>

                </div>-->

            </div>
        </div>
    </div>

    <!-- our classes -->
    <div class="our-class-location">
        <div class="page-center">
            <div class="title">
                <h2>OTHER CLASSES AT THIS LOCATION</h2>

            </div>
            <div class="classes-location" id="BindBusinessOtherClassesDetailList">
                @*<div class="classes-location-items">
                        <h6>Bollyfit</h6>
                        <p>Mon. May 29</p>
                        <p>07:30</p>
                        <p>RIA K</p>
                        <a class="view-cta" href="#">
                            VIEW
                        </a>
                    </div>
                    <div class="classes-location-items">
                        <h6>Bollyfit</h6>
                        <p>Mon. May 29</p>
                        <p>07:30</p>
                        <p>  RIA K</p>
                        <a class="view-cta" href="#">
                            VIEW
                        </a>
                    </div>
                    <div class="classes-location-items">
                        <h6>Bollyfit</h6>
                        <p>Mon. May 29</p>
                        <p>07:30</p>
                        <p>  RIA K</p>
                        <a class="view-cta" href="#">
                            VIEW
                        </a>

                    </div>
                    <div class="classes-location-items">
                        <h6>Bollyfit</h6>
                        <p>Mon. May 29</p>
                        <p>07:30</p>
                        <p>  RIA K</p>
                        <a class="view-cta" href="#">
                            VIEW
                        </a>
                    </div>
                    <div class="classes-location-items">
                        <h6>Bollyfit</h6>
                        <p>Mon. May 29</p>
                        <p>07:30</p>
                        <p>  RIA K</p>
                        <a class="view-cta" href="#">
                            VIEW
                        </a>

                    </div>
                    <div class="classes-location-items">
                        <h6>Bollyfit</h6>
                        <p>Mon. May 29</p>
                        <p>07:30</p>
                        <p>  RIA K</p>
                        <a class="view-cta" href="#">
                            VIEW
                        </a>
                    </div>
                    <div class="classes-location-items">
                        <h6>Bollyfit</h6>
                        <p>Mon. May 29</p>
                        <p>07:30</p>
                        <p>  RIA K</p>
                        <a class="view-cta" href="#">
                            VIEW
                        </a>

                    </div>*@
            </div>



        </div>
    </div>

    <script>
        //$('.our-class-location .classes-location').slick({
        //    dots: true,
        //    infinite: false,
        //    speed: 300,
        //    arrows: false,
        //    slidesToShow: 6,
        //    slidesToScroll: 6,
        //    responsive: [
        //        {
        //            breakpoint: 1250,
        //            settings: {
        //                slidesToShow: 4,
        //                arrows: false,
        //                slidesToScroll: 4,
        //                infinite: true,
        //                dots: true
        //            }
        //        }, {
        //            breakpoint: 1024,
        //            settings: {
        //                arrows: false,
        //                slidesToShow: 3,
        //                slidesToScroll: 3
        //            }
        //        },
        //        {
        //            breakpoint: 767,
        //            settings: {
        //                arrows: false,
        //                slidesToShow: 2,
        //                slidesToScroll: 2
        //            }
        //        },
        //        {
        //            breakpoint: 580,
        //            settings: {
        //                arrows: false,
        //                slidesToShow: 1,
        //                slidesToScroll: 1
        //            }
        //        }
        //        // You can unslick at a given breakpoint now by adding:
        //        // settings: "unslick"
        //        // instead of a settings object
        //    ]
        //});


    </script>


    @Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_ClassDetailScriptPartial.cshtml")

</div>


