
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
}

<div id="BindBusinessContactBannerImage">
    @*<div class="banner-sec" style="background: url(/Content/visitor-panel/image/taj2.jpg) no-repeat top center/cover;">
            <h2 class="text-center text-white pj-hd-text">Contact Us</h2>
        </div>*@
</div>

<section id="sesction1-cnt" class="section">
    <div class="container sc1-cnt">
        <div class="row r1-cnt">
            <div class="col cl1-cnt">
                <div class="wwa-sc" id="BindCustomerInformation">
                    @*<h2 class="text-center sc-hd">Customer Support</h2>
                        <p class="text-justify sc-txt">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                            minus dolor harum at hic corrupti, consectetur maxime modi, laborum odit, velit laboriosam
                            natus neque molestiae id voluptatibus explicabo facere consequuntur dicta magni labore
                            ducimus sint? Natus in labore, debitis reiciendis necessitatibus sapiente blanditiis ab unde
                            libero minima culpa magni corporis.
                        </p>*@
                </div>

            </div>
        </div>


    </div>
</section>

<section id="sesction2-cnt" class="section">
    <div class="container sc2-cnt">
        <div class="row r2-cnt">

            <div class="col-md-6">
                <h2 class="text-left sc-sb-hd">Can we Help?</h2>
                <!-- <h2 class="text-left sc-sb-hd">Address</h2> -->
                <div class="cnp-pjj-addr">
                    <div class="d-flex">
                        <div id="AddressContact_Details_Info">
                            @*  <div><i class="fa fa-home" aria-hidden="true"></i></div>

                                <div>
                                    <p>Location</p>
                                    <div>
                                        <p> C-2, Block-B, Vinayak Vista,</p>
                                        <p>patharghata road, Matigara,</p>
                                        <p>
                                            Dist. Darjeeling, West bengal -
                                            734010
                                        </p>
                                    </div>
                                </div>


                                <div class="d-flex">
                                    <div><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                                    <div>
                                        <p>Email</p>
                                        <p> Masterzone@gmail.com</p>
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div><i class="fa fa-phone" aria-hidden="true"></i></div>

                                    <div>
                                        <p>Phone</p>
                                        <p>8934541242</p>
                                    </div>
                                </div>*@
                        </div>


                    </div>
                    <h4> Other Contact Number Detail</h4>
                    <div id="BindContactNumber">
                        @*<div class="row">
                                <div class="col-md-6">
                                    <p><strong>Title</strong> </p>
                                    <p>Pathankot</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Contact Number</strong></p>
                                    <p>9856263214</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>Title2</strong> </p>
                                    <p>Pathankot</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Contact Number2</strong></p>
                                    <p>9856263214</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>Title3</strong> </p>
                                    <p>Pathankot</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Contact Number3</strong></p>
                                    <p>9856263214</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>Title4</strong> </p>
                                    <p>Pathankot</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Contact Number4</strong></p>
                                    <p>9856263214</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>Title5</strong> </p>
                                    <p>Pathankot</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Contact Number5</strong></p>
                                    <p>9856263214</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>Title6</strong> </p>
                                    <p>Pathankot</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Contact Number6</strong></p>
                                    <p>9856263214</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>Title7</strong> </p>
                                    <p>Pathankot</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Contact Number7</strong></p>
                                    <p>9856263214</p>
                                </div>
                            </div>*@
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div id="BindContactInformation">
                    @*<h2 class="text-left sc-sb-hd">Let's get in touch!</h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores quidem labore tenetur nostrum
                            inventore obcaecati sequi eaque
                        </p>*@
                </div>
                <div class="card-body p-0">
                    <!-- <h2 class="title">Registration Form</h2> -->
                    <form>
                        <div class="row row-space mt-4">
                            <div class="col-12">
                                <div class="input-group">
                                    <label class="label">Name</label>
                                    <input class="input--style-4 border" type="text" id="text_Contact_Name" name="Name"
                                           fdprocessedid="ug3utq">
                                    <div class="error-class" id="error_text_Contact_Name"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Email Address</label>
                                    <input class="input--style-4 border" type="text" id="text_Email_Address" name="Email-Address"
                                           fdprocessedid="x890ok">
                                    <div class="error-class" id="error_text_Email_Address"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                    <input class="input--style-4 border" id="text_phone" type="text" name="phone"
                                           fdprocessedid="x890ok">
                                    <div class="error-class" id="error_text_phone"></div>

                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-12">
                                <div class="input-group">
                                    <label class="label">Message</label>
                                    <textarea class="cnp-frm-ta border" id="text_Messages"> </textarea>
                                    <div class="error-class" id="error_text_Messages"></div>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15 pt-3">
                            <button class="btn btn-outline-dark btn--blue cstm-btn border" type="button"
                                    fdprocessedid="eqhn4a" onclick=" btnSubmitUser();">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>


    </div>
</section>
@section Scripts{
    @Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_ContactScriptPartial.cshtml")

}