
@{
    Layout = null;
    long businessOwnerLoginId = ViewBag.BusinessOwnerLoginId;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- slick slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
            integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font link -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="~/Content/assets/frontend_common.css" rel="stylesheet" />
    <!-- font link end -->
    <link rel="stylesheet" href="~/Content/assets/education.css">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <input type="hidden" id="hiddenBusinessOwnerLoginId" value="@ViewBag.BusinessOwnerLoginId" />
    <!-- header -->
    <header class="header">
        <div class="page-center">
            <div class="header-main">
                <div class="logo">
                    <a href="/Home/BusinessProfile?businessOWnerLoginId= @ViewBag.BusinessOwnerLoginId">
                        <img src="" id="BindBusinessLogoDetail" alt="logo" loading="lazy">
                        <span class="logo-name" id="login_userName"></span>
                    </a>
                </div>
                <div class="navigation-section-wrap">
                    <div class="menu">
                        <ul>
                            <li><a href="#BindBusinessContentEducationBannerDetailList">Home</a></li>
                            <li><a href="#section-about-2">About</a></li>
                            <li><a href="#categories-sectionid">Categories</a></li>
                            <li><a href="#our-course-secid">Courses</a></li>
                            <li><a href="#video-sectionid">Lectures</a></li>
                            <li><a href="#BindBusinessUniversityImage_Section">University</a></li>
                            <li><a href="#events-sectionid">Events</a></li>
                            <li><a href="#top_instructor">Professionals</a></li>
                            <li><a href="#timing-sc">Timing</a></li>
                            <li><a href="#contact-us01">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="mobile_menu navmain-opener"><span></span></div>
                </div>
            </div>
        </div>
    </header>
    <!-- banner section -->
    <div id="BindBusinessContentEducationBannerDetailList">

    </div>

    <!-- end banner section -->
    <!-- about course -->
    <div class="about-section">
        <div class="container">
            <div class="icon-text-fl">
                <a href="#grid-secid">
                    <div class="icon-text">
                        <div class="icon">
                            <img src="~/Content/visitor-panel/image/online-coursecolor.png" alt="icon" loading="lazy">
                        </div>
                        <div class="text-icon">
                            <h5>3020 <br>Online Course</h5>
                        </div>
                    </div>
                </a>
                <a href="#top_instructor">
                    <div class="icon-text">
                        <div class="icon">
                            <img src="~/Content/visitor-panel/image/instructorcolor.png" alt="icon" loading="lazy">
                        </div>
                        <div class="text-icon">
                            <h5>Top <br>instructor</h5>
                        </div>

                    </div>
                </a>
                <a href="#table-sectionid">
                    <div class="icon-text">
                        <div class="icon">
                            <img src="~/Content/visitor-panel/image/diploma_color.png" alt="icon" loading="lazy">
                        </div>
                        <div class="text-icon">
                            <h5>Online <br>Certification</h5>
                        </div>
                    </div>
                </a>
                <a href="#top_instructor">
                    <div class="icon-text">
                        <div class="icon">
                            <img src="~/Content/visitor-panel/image/team_color.png" alt="icon" loading="lazy">
                        </div>
                        <div class="text-icon">
                            <h5>6000 <br>Members</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Education About Section -->
    <section id="section-about-2" class="section sc-yg-01y">
        <div class="container-fluid">
            <div class="row">
                <div class="col w-25 text-center">
                    <div class="abut-sc-yoga" id="AboutDetail">
                        @*<h2>About</h2>
                            <p class="fdkdkckdiekdkdfji">
                                Our success is not only due to the squality of our work;
                                It's down to attitude, our approach and the way we
                                treat our clients.
                            </p>*@
                    </div>
                </div>

            </div>
        </div>
    </section>
    @* End About Section *@
    <div id="categories-sectionid" class="categories-section">
        <div class="container">

            <div class="categories-flex">
                <div class="lt-item">
                    <div class="notice-bord" id="BindBusinessContentNoticeBoardDetailList">
                        <div class="title">
                            Notice Board
                        </div>

                    </div>
                </div>
                <div class="rt-item">
                    <div class="categories-title" id="BindBusinessContentCourseCatgoriesDetail">

                    </div>
                    <div class="categories-slide" id="BindBusinessContentEducationCourseCategoryDetaillist">

                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- about course end -->
    <!-- Start our course section -->
    <div id="our-course-secid" class="our-course-sec">
        <div class="container">
            <div class="our-course-title">
                <div class="title-inr">
                    <h2>
                        Explore<br>
                        Our Popular Courses
                    </h2>
                </div>
                <div class="all-cta">
                    <a class="simple-button" href="/Home/AllCourse?BusinessOwnerLoginId=@ViewBag.BusinessOwnerLoginId">
                        View All
                        <svg width="21" height="12" viewBox="0 0 21 12" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 6C0 6.22729 0.087059 6.44527 0.242027 6.60598C0.396994 6.7667 0.607174 6.85699 0.82633 6.85699H18.1774L14.6292 10.5352C14.5523 10.6149 14.4914 10.7095 14.4498 10.8136C14.4082 10.9177 14.3868 11.0292 14.3868 11.1419C14.3868 11.2546 14.4082 11.3662 14.4498 11.4703C14.4914 11.5744 14.5523 11.669 14.6292 11.7487C14.706 11.8284 14.7972 11.8916 14.8976 11.9347C14.998 11.9778 15.1056 12 15.2142 12C15.3229 12 15.4304 11.9778 15.5308 11.9347C15.6312 11.8916 15.7224 11.8284 15.7992 11.7487L20.7572 6.60675C20.8342 6.52714 20.8952 6.43257 20.9369 6.32846C20.9786 6.22434 21 6.11272 21 6C21 5.88728 20.9786 5.77566 20.9369 5.67154C20.8952 5.56743 20.8342 5.47286 20.7572 5.39325L15.7992 0.251323C15.6441 0.0904038 15.4336 0 15.2142 0C14.9948 0 14.7843 0.0904038 14.6292 0.251323C14.474 0.412243 14.3868 0.630497 14.3868 0.858071C14.3868 1.08565 14.474 1.3039 14.6292 1.46482L18.1774 5.14301H0.82633C0.607174 5.14301 0.396994 5.2333 0.242027 5.39402C0.087059 5.55474 0 5.77271 0 6Z"
                                  fill="#000"></path>
                        </svg>


                    </a>
                </div>
            </div>
            <div class="course-inr" id="BindBusinessContentEducationCourseDetailList">

            </div>


        </div>
    </div>
    <!-- end our course section -->
    <!-- hero banner -->
    <div class="hero-banner-new" id="BindBusinessEducationBannerDetail_Section">
        <div class="shapes">
            <img class="circle" src="~/Content/visitor-panel/image/hero-circle-.png" alt="shapes" loading="lazy">
            <img class="circle-two" src="~/Content/visitor-panel/image/herocircle01.png" alt="shapes" loading="lazy">
            <img class="dot-img" src="~/Content/visitor-panel/image/hero-dot.png" alt="shapes" loading="lazy">
        </div>
        <div class="container">
            <div class="hero-col" id="BindBusinessContentAccessCourseDetail">

            </div>
        </div>
    </div>
    <!-- end hero banner -->

    <div id="grid-secid" class="grid-section listing pb-0">
        <div class="page-center">
            <div class="grid-layout" id="BindBusinessContentCourseDetailList">

            </div>
        </div>
    </div>

    <!-- video section start -->
    <div id="video-sectionid" class="video-section">
        <div class="container">
            <div class="video_heading">
                <h2>Course Lectures </h2>
            </div>
            <div class="video-col">
                <div class="video-left">
                    <div class="vdlft-slider" id="BindBusinessContentVedioDetailLink">

                    </div>

                    <div class="video-text">
                        <div class="vdlft-slider" id="BindBusinessContentVideoInformationDetail">

                        </div>
                    </div>
                </div>

                <div class="vd-right">
                    <div class="vd-inr">

                        <div class="vd-right-inr">

                            <div class="vdlft-slider-nv" id="BindBusinessContentVideoListDetail">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- video section End -->
    @* this is the id of get dyanmically data id="BusinessTrainingDetailList"*@
    <div id="table-sectionid" class="table-section">
        <div class="container">
            <div id="WithoutTrainingDetail">
                <h3>Training provided for the following courses </h3>

                <table id="customers">
                    <tr>
                        <th>ID</th>
                        <th>Course Name</th>
                        <th>Duration</th>
                        <th>Start Date</th>
                        <th>Get Details</th>
                    </tr>
                    <tbody id="BusinessCourseInfoWithCertificate" class="BusinessCourseDetailmoredetails">
                    </tbody>

                </table>
            </div>

            <div id="BindLicensedCourseDetail_Section">
                <h3>
                    Training and certification provided for the following courses
                </h3>
                <table id="customers">
                    <tr>
                        <th>ID</th>
                        <th>Course Name</th>
                        <th>Duration</th>
                        <th>Start Date</th>
                        <th>Get Details</th>
                    </tr>
                    <tbody id="BusinessCourseDetailCertificateExam">
                    </tbody>

                </table>
            </div>
        </div>
    </div>


    <div class="univercity-tab" id="BindBusinessUniversityImage_Section">
        <div class="container">
            <div class="uni-col">
                <div class="uni-left">
                    <div class="title-uni">
                        <h2>
                            Affiliated from the following Universities
                        </h2>
                    </div>
                    <div class="tabbing-img" id="BindBusinessUniversityImageDetail">

                    </div>
                </div>
                <div class="uni-right">
                    <div class="title-uni">
                        <h2>
                            Affiliated from the following Universities
                        </h2>
                    </div>
                    <ul class="tab-left-side-contenttion-inner mt-4" id="BindBusinessContentUniversityLogoDetailList">
                    </ul>
                </div>


            </div>
        </div>
    </div>
    <!-- events-section -->
    <div id="events-sectionid" class="events-section">
        <div class="container">
            <div class="events-title">
                <h2>UPCOMING Events</h2>
            </div>
            <div class="events-main" id="BindBusinessContentEducationUpcomingEventDetailList">

            </div>


        </div>
    </div>


    <!-- instructor section -->
    <div class="instructor-section" id="top_instructor">
        <div class="container">
            <div class="title-instructor" id="BindBusinessContentEducationProfessionalDetail">

            </div>
            <div class="teachers-flex" id="BindBusinessContentEducationProfessionalDetailList">

            </div>

        </div>
    </div>
    <!-- end -->
    @* Timings *@
    <section id="timing-sc" class="section">
        <div class="dsktp">
            <div class="container">
                <div class="vd-heading">
                    <h2>Timing </h2>
                </div>
                <div class="nav-dfjdk d-flex justify-content-center">
                    <ul id="ClassList_TimeTable" class="nav nav-pills lg-slider">
                        <li class="nav-item">
                            <a class="nav-link active mb-2" data-toggle="pill" href="#" onclick="GetBusinessClassCategoryDetailById(0);">All Classes</a>
                        </li>

                    </ul>
                </div>
                <div class="tab-content mt-4 mb-4">
                    <div class="tab-pane container active" id="all">
                        <div id="all" class="tabbing">
                            <!-- tabble section -->
                            <table class="mptt-shortcode-table  mptt-theme-mode table-bordered" data-hide_empty_row="1">
                                <thead>
                                    <tr class="mptt-shortcode-row">
                                        <th data-index="0" data-column-id=""></th>
                                        <th data-index="1" data-column-id="10330">Monday</th>
                                        <th data-index="2" data-column-id="10331">Tuesday</th>
                                        <th data-index="3" data-column-id="10332">Wednesday</th>
                                        <th data-index="4" data-column-id="9660">Thursday</th>
                                        <th data-index="5" data-column-id="10333">Friday</th>
                                        <th data-index="6" data-column-id="9662">Saturday</th>
                                        <th data-index="7" data-column-id="9663">Sunday</th>
                                    </tr>
                                </thead>
                                <tbody id="TimeTableClasses">

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <div id="contact-us01" class="contact-us-sc">
        <footer class="footer container" id="contactSection">
            <div id="dance-contact-pj" class="footer-items">
                <div class="page-center">
                    <div class="col-flex">
                        <div class="right-column">
                            <div class="contact-heading" id="BindBusinessContactEducationDetail">

                            </div>

                            <div class="timming-section">
                                <div class="heading-inr d-flex">
                                    <h2 class="form-heading-contact-us-page">Business Hours</h2>
                                    <span class="text-light text-center text-sm font-weight-bold" id="closeBusinessDay"></span>
                                </div>
                                <div id="BindBusinessTiming"></div>
                                <div class="align-content-center">
                                    <h2 class="form-heading-contact-us-page-footer text-light">NOTE:</h2>
                                    <span class="text-light text-center text-sm" id="BusinessNotes"></span>
                                </div>
                            </div>
                        </div>

                        <div class="left-form">
                            <div class="forn-heading">
                                <h3 class="text-white">Let's get in touch!</h3>
                                @*<p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Dolores quidem labore tenetur nostrum inventore obcaecati sequi eaque
                                </p>*@

                            </div>
                            <form action="" id="contactForm">
                                <div class="form_input">
                                    <label for="firstname">Name</label>
                                    <input type="text" id="text_Contact_Name" name="name" placeholder="Name">
                                    <div class="error-class" id="error_text_Contact_Name"></div>
                                </div>
                                <div class="form_flex">

                                    <div class="form_input">
                                        <input type="email" id="text_Email_Address" name="email" placeholder="Your Email">
                                        <div class="error-class" id="error_text_Email_Address"></div>
                                    </div>

                                    <div class="form_input">
                                        <label for="phone">Phone Number</label>
                                        <input type="text" id="text_phone" name="phone" placeholder="Your Phone">
                                        <div class="error-class" id="error_text_phone"></div>
                                    </div>
                                </div>
                                <div class="form_input">
                                    <label for="textarea">Message</label>
                                    <textarea placeholder="Message" id="text_Messages">
                                     </textarea>
                                    <div class="error-class" id="error_text_Messages"></div>
                                </div>

                                <button class="button--primary primary-submit-btn" type="submit" value="Submit" onclick=" btnSubmitUser();">Submit</button>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- footer -->
    <footer class="footer" id="BindBusinessUserContactDetail_Section">
        <div class="page-center">
            <div class="row-sec">
                <div class="col-lg-one">
                    <h4 class="uppercase" id="login_userBusinessName"></h4>
                    <p class="small" id="Business_About_User_Detail">

                    </p>
                    <div class="footer-social" id="BusinessSocialDetail_Footer">

                    </div>
                </div>

                <div class="col-lg-two">
                    <div class="menu-one">
                        <h5 class="uppercase">Quick Links</h5>
                        <ul>
                            <li><a href="#BindBusinessContentEducationBannerDetailList">Home</a></li>
                            <li><a href="#section-about-2">About</a></li>
                            <li><a href="#categories-sectionid">Categories</a></li>
                            <li><a href="#our-course-secid">Courses</a></li>
                            <li><a href="#video-sectionid">Lectures</a></li>
                        </ul>
                    </div>


                </div>

                <div class="col-lg-two">
                    <div class="menu-one">
                        <h5 class="uppercase">
                            Useful Links

                        </h5>
                        <ul>
                            <li><a href="#BindBusinessUniversityImage_Section">University</a></li>
                            <li><a href="#events-sectionid">Events</a></li>
                            <li><a href="#top_instructor">Professionals</a></li>
                            <li><a href="#contact-us01">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-two" id="BindContactDetailInformation">

                </div>

            </div>
        </div>
    </footer>
    <!-- copyright section -->
    <div class="copyrights border-top pt-3">
        <div class="page-center">
            <div class="row">

                <div class="col-sm-12 col-md-6">
                    <strong class="d-flex copyrights-text" style="white-space: nowrap;">
                        <p> Copyright © 2023</p> <a class="copyright-company-name mr-2 ml-2" href="index.html"> Master Zone.</a>
                        <p>All rights reserved.</p>
                    </strong>

                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="float-md-right d-sm-inline-block">
                        <a class="text-white" target="_blank" href="https://protolabzit.com/">
                            <p class="text-white text-center" id="footer-text" style="color: #869099;
                         font-size: 1rem;"> Developed &amp; Designed by: Protolabz eServices</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        $('.tab-left-side-contenttion-inner>li').click(function () {
            $('.uni-image').hide();
            $('.tab-left-side-contenttion-inner>li.active').removeClass('active');
            $(this).addClass('active');

            var panel = $(this).attr('data-tab');
            $(panel).fadeIn(1000);

            return false;  // prevents link action

        });  // end click

        $('.tab-left-side-contenttion-inner>li:first').click();


    </script>
    <script src="~/Content/assets/education.js"></script>
    <script src="/Scripts/js/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Content/lib/StylishAlert/iao-alert.jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/Content/business-panel/js/vendor/moment.min.js"></script>
    <script src="https://kenwheeler.github.io/slick/slick/slick.js"></script>
    @Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_EducationScriptPartial.cshtml")
</body>
</html>