
@{
    Layout = null;
    long eventId = ViewBag.EventId;
}


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />-->
    <!-- Add the slick-theme.css if you want default styling -->
    <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />-->
    <!-- slick cdn -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="~/Content/assets/style_new.css">
    <title>Event</title>

    <style>
        .enableListStyle ol li, .enableListStyle ul li {
            list-style: initial !important;
        }
    </style>
</head>

<body>
            <input type="hidden" id="hiddenEventId" value="@eventId" />

    <header id="header-hd11" class="header active-h">
        <div class="container">

            <nav class="navbar navbar-expand-lg w-100 navbar-dark header-nav-outer">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="close"><img src="~/Content/visitor-panel/image/cls.png"></span>
                </button>
                <a class="navbar-brand text-white d-md-none nav-link-main" href="/Home/Index">
                    <img src="@Resources.StaticResources.MasterzoneLogo" class="nav-logo mobile-nav-logo mr-2" style="box-shadow: none !important;">
                    <p class="m-0">MASTER ZONE</p>
                </a>
                <a class="navbar-brand col-md-2 text-white d-none d-md-block header-logo" href="/Home/Index">
                    <img src="@Resources.StaticResources.MasterzoneLogo" class="nav-logo mobile-nav-logo  mr-2" style="box-shadow: none !important;">
                    <p class="m-0">MASTER ZONE</p>
                </a>

                <div class="col-md-10">
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                            <li class="nav-item">
                                <a class="nav-link text-white" href="/Home/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/Home/About/">About Us</a>
                            </li>
                            @*<li class="nav-item">
                                <a id="my-cls001" class="nav-link text-white nav-link-my-acount-link"
                                   href="my-classes.html">
                                    My
                                    Account
                                </a>
                            </li>*@
                        </ul>
                        <form class="form-inline my-2 my-lg-0 d-none">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>


    <section id="event-page-section_1" class="setion">
        <div class="container section-container">
            <div class="row section-row">
                <div class="col-md-4">
                    <h2 class="text-center" id="EventTitleName">
                        @*Master Grba Event*@
                        @*<br>
                            by*@
                    </h2>
                    @*<p class="text-center event-banner-text">
                            Events and Networking
                            Discover the latest trends in creativity
                        </p>*@
                    <div class="date-outer-data">
                        <div class="date-icon"><i class="fas fa-calendar-alt"></i></div>
                        <div class="date-time-inner">
                            <div class="content-date content-time">
                                <p class="mr-3 event-content-time">Date</p>
                                <p class="event-timming" id="EventStartDate">@*Thursday, March 16, 2023*@</p>
                            </div>
                            <div class="content-timimg_outer content-time">
                                <p class="mr-3 event-content-time">Time</p>
                                <p class="event-timming" id="EventStartToEndTime">@*6:00PM - 8:00PM*@</p>
                            </div>
                        </div>
                    </div>
                    <p class="garba-content-para" id="EventShortDescription">
                        @*JP Nagara Officially jayaprakash Narayan Nagara, is an
                            established posh upmarket residential area located in the south of the
                            Banglore*@
                    </p>
                    <div class="text-center multi-user-account">
                        <div class="multi-user-account-outer">
                            @*<ul class="multi-user-account-main">
                                <li class="user-account-image">
                                    <img src="~/Content/visitor-panel/image/usr10main-qimg-5eb631ae6f587af2631f6d3348047693.jpg">
                                </li>
                                <li class="user-account-image"><img src="~/Content/visitor-panel/image/usr2Max-R_Headshot (1).jpg"></li>
                                <li class="user-account-image">
                                    <img src="~/Content/visitor-panel/image/usr8photo-1599834562135-b6fc90e642ca.jpg">
                                </li>
                                <li class="user-account-image">
                                    <img src="~/Content/visitor-panel/image/usr5istockphoto-1171169127-612x612.jpg">
                                </li>
                                <li class="user-account-image"><img src="~/Content/visitor-panel/image/usr31671860105313.jpg"></li>
                                <li class="user-account-image">
                                    <img src="~/Content/visitor-panel/image/usr9145453996-young-attractive-man-looks-seriously-at-the-camera.jpg">
                                </li>
                            </ul>*@
                            <p class="multi-user-account-main-text_a m-0 p-0" id="Event_TotalJoined"></p>
                        </div> <a href="" id="EventGetDirections" class="btn btn-outline-dark font-weight-bold custom-btn w-auto get-directions-btn" target="_blank">
    <i class="fa-solid fa-location-dot mr-1 "></i>Get Directions
</a>
                    </div>
                    <div class="event-flowt-btn">
                        <span class="event-flowt-btn-text" id="EventPrice">@*Rs. 1000/-*@</span>
                        <a href="/Booking/Checkout?itemId=@(eventId)&itemType=event" class="btn btn-outline-dark font-weight-bold custom-btn w-auto buy-btn">
                            Buy Now
                        </a>
                    </div>
                </div>
                <div class="col-md-4 d-flex flex-column social-icons-main"></div>
                <div class="col-md-4 social-icons-wrap">
                    <div class="social-icons-inner">
                        <h5>Share Event</h5>
                        <div class="social-icons-outer_a" id="SocialIconForEventPage">
                            @*<a href="#" title="facebook">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="#" title="Linkedin"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="#" title="instagram"> <i class="fa-brands fa-instagram"></i></a>
                                <a href="#" title="twitter"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#" title="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>*@
                        </div>
                    </div>
                    <img src="" alt="" id="FeaturedImage_EventView" class="right-side-flowting-img">
                </div>
            </div>
        </div>
    </section>

    <section class="about-event-section enableListStyle">
        <div class="container">
            <h2 class="about-event-heading about-event-heading-e">About The Event</h2>
            <div id="About_Event_ClientSide" class="about-content-text-outer">
                <!--<div class="col-sm-6 pl-0">
                    <p class="about-para-text">-->
                @*Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
                    porro
                    odio ad architecto tempore vitae quia voluptatem? Adipisci sit, sunt, delectus in inventore
                    reprehenderit nemo aliquam error Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Inventore, est. reiciendis repellendus blanditiis.*@
                <!--</p>
                </div>
                <div class="col-sm-6 pr-0 prdddfsdfsd">
                    <p class="about-para-text">-->
                @*Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem mollitia
                    aut,
                    itaque sequi nobis assumenda accusamus, harum alias earum dolor accusantium quae iure deleniti
                    laboriosam ea, optio in? Laboriosam, Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Tempore, dolorem. ipsam.*@
                <!--</p>
                </div>-->
            </div>
        </div>
    </section>

    <section class="about-event-section about-event-section-2 enableListStyle">
        <div class="container">
            <h2 class="about-event-heading about-event-heading-e">Additional Information</h2>
            <div id="Additional_Inforamtion_ClientSide" class="about-content-text-outer">
                @*<div class="col pl-0 adninf">
                        <p class="about-para-text text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Voluptatum, porro
                            odio ad architecto tempore vitae quia voluptatem? Adipisci sit, sunt, delectus in inventore
                            reprehenderit nemo aliquam error Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Inventore, est. reiciendis repellendus blanditiis. Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Vero cupiditate debitis consequatur aspernatur est esse quasi. Laboriosam,
                            explicabo natus reiciendis corrupti odit vero error nostrum accusamus dignissimos? Delectus a
                            ae fugiat iure quidem quia eum vero ratione ad tempore, omnis facere cum dolorum nobis minima
                            veritatis labore. Deleniti libero
                            facere nostrum dolorcaecati dolores odit, amet consequatur.
                            Ratione repellendus commodi impedit reprehenderit ex hic. Ipsum distinctio aliquid voluptates,
                            voluptas sapiente mollitia dicta nesciunt odio impedit odit harum,
                        </p>
                        <p class="about-para-text text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Voluptatum, porro
                            odio ad architecto tempore vitae quia voluptatem? Adipisci sit, sunt, delectus in inventore
                            reprehenderit nemo aliquam error Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Inventore, est. reiciendis rep
                        </p>
                        <p class="about-para-text text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Voluptatum, porro
                            odio ad architecto tempore vitae quia voluptatem? Adipisci sit, sunt, delectus in inventore
                            reprehenderit nemo aliquam error Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Inventore, est. reiciendis repellendus blanditiis. Lorem ipsum dolor sit amet consectetur
                            adipisicing elit.uibusdam repellendus deserunt ipsam! Suscipit aliquam dolorum
                            dolor. Debitis, animi reiciendis ipsa. Repellendus voluptates molestiae quibusdam obcaecati
                            dolores odit, amet consequatur.
                            Ratione repellendus commodi impedit reprehenderit ex hic. Ipsum distinctio aliquid voluptates,
                            voluptas sapiente mollitia dicta nesciunt odio impedit odit harum,
                        </p>
                        <p class="about-para-text text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Voluptatum, porro
                            odio ad architecto tempore vitae quia voluptatem? Adipisci sit, sunt, delectus in inventore
                            reprehenderit nemo aliquam error Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Inventore, est. reiciendis repel
                            Ratione repellendus commodi impedit reprehenderit ex hic. Ipsum distinctio aliquid voluptates,
                            voluptas sapiente mollitia dicta nesciunt odio impedit odit harum,
                        </p>
                    </div>*@
            </div>
        </div>
    </section>

    <section class="event-organizer-section">
        <div class="container">
            <h2 class="event-organizer-heading-text about-event-heading-e">Our Organizers</h2>
            <div id="EventOrganizerSection" class="row content-row">
                <!--<div class="col-sm-2">
                    <div class="card border-0 organizer-card-border-a ">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr1Fisiha.png" alt="Card image cap">
                        <div class="card-body text-center border-0">
                            <h5 class="card-title text-center organizer-title-text">George</h5>-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0 organizer-card-border-a">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr6Dorsey-iamge.jpg" alt="Card image cap">
                        <div class="card-body text-center border-0">
                            <h5 class="card-title text-center organizer-title-text">Arthur</h5>-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0 organizer-card-border-a">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr7photo-1535713875002-d1d0cf377fde.jpg"
                             alt="Card image cap">
                        <div class="card-body text-center border-0">
                            <h5 class="card-title text-center organizer-title-text">Mason</h5>-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0 organizer-card-border-a">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr1Fisiha.png" alt="Card image cap">
                        <div class="card-body text-center border-0">
                            <h5 class="card-title text-center organizer-title-text">George</h5>-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0 organizer-card-border-a">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr6Dorsey-iamge.jpg" alt="Card image cap">
                        <div class="card-body text-center border-0">
                            <h5 class="card-title text-center organizer-title-text">Mason</h5>-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0 organizer-card-border-a">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr1Fisiha.png" alt="Card image cap">
                        <div class="card-body text-center border-0">
                            <h5 class="card-title text-center organizer-title-text">George</h5>-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">View Profile</a>
                    </div>
                </div>-->
            </div>
        </div>
        </div>
    </section>

    <section class="our_host-event-section">
        <div class="container our_host-section-container">
            <!-- <hr> -->
            <h2 class="our_host-event-section-heading about-event-heading-e">Our HOST</h2>
            <div id="OurHostEventSection" class="row content-row">
                <!--<div class="col-sm-2">
                    <div class="card border-0">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr10main-qimg-5eb631ae6f587af2631f6d3348047693.jpg"
                             alt="Card image cap">
                        <div class="card-body text-center border-0">
                            <h5 class="card-title text-center card-content-heading">Noah</h5>
                            <p class="card-content-caption-txt">Fitness Trainer</p>-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr10main-qimg-5eb631ae6f587af2631f6d3348047693.jpg"
                             alt="Card image cap">
                        <div class="card-body text-center border-0">
                            <h5 class="card-title text-center card-content-heading">Noah</h5>
                            <p class="card-content-caption-txt">Fitness Trainer</p>-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr10main-qimg-5eb631ae6f587af2631f6d3348047693.jpg"
                             alt="Card image cap">
                        <div class="card-body text-center border-0">
                            <h5 class="card-title text-center card-content-heading">Noah</h5>
                            <p class="card-content-caption-txt">Fitness Trainer</p>-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr10main-qimg-5eb631ae6f587af2631f6d3348047693.jpg"
                             alt="Card image cap">
                        <div class="card-body text-center border-0">
                            <h5 class="card-title text-center card-content-heading">Noah</h5>
                            <p class="card-content-caption-txt">Fitness Trainer</p>-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr10main-qimg-5eb631ae6f587af2631f6d3348047693.jpg"
                             alt="Card image cap">
                        <div class="card-body text-center border-0">
                            <h5 class="card-title text-center card-content-heading">Noah</h5>
                            <p class="card-content-caption-txt">Fitness Trainer</p>-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr10main-qimg-5eb631ae6f587af2631f6d3348047693.jpg"
                             alt="Card image cap">
                        <div class="card-body text-center border-0">
                            <h5 class="card-title text-center card-content-heading">Noah</h5>
                            <p class="card-content-caption-txt">Fitness Trainer</p>-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">View Profile</a>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </section>

    <section class="event-organizer-section-2 event-organizer-section special-guest-section">
        <div class="container">
            <h2 class="event-organizer-heading-text about-event-heading-e">Special Guests</h2>
            <div id="EventSpecialGuestSection" class="row content-row">
                <!--<div class="col-sm-2">
                    <div class="card border-0 organizer-card-border-a ">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr1Fisiha.png" alt="Card image cap">
                        <div class="card-body text-center border-0">-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">Andrew</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0 organizer-card-border-a">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr6Dorsey-iamge.jpg" alt="Card image cap">
                        <div class="card-body text-center border-0">-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">Jack</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0 organizer-card-border-a">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr7photo-1535713875002-d1d0cf377fde.jpg"
                             alt="Card image cap">
                        <div class="card-body text-center border-0">-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">James</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0 organizer-card-border-a">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr1Fisiha.png" alt="Card image cap">
                        <div class="card-body text-center border-0">-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">John</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0 organizer-card-border-a">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr6Dorsey-iamge.jpg" alt="Card image cap">
                        <div class="card-body text-center border-0">-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">Noah</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card border-0 organizer-card-border-a">
                        <img class="card-img-top" src="~/Content/visitor-panel/image/usr1Fisiha.png" alt="Card image cap">
                        <div class="card-body text-center border-0">-->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p> -->
                <!--<a href="#" class="custom-btn_1a text-center Outer-section-btn_a">Tyler</a>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </section>

    <section id="user-account-section_a" class="setion  user-account-section_b">
        <div class="container user-account-container_z">
            <div class="row">
                <div class="col-sm-6">
                    <div class="center-img-outer user-account-content-image_with-text w-100">
                        <div class="user-account-content-image_with-text-wrap">
                            <div class="user-account-content-profile-image-outer">
                                <img class="user-account-content-profile-image" id="EventCreatorImage" src="~/Content/visitor-panel/image/fusr.jpg">
                            </div>
                            <div class="user-account-content-text-outer">
                                <div class="user-account-content-text">
                                    <h6 class="user-account-content-heading-text p-0 m-0">Event Creator</h6>
                                    <p id="EventCreatorName" class="user-account-content-username-text m-0 p-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 user-account-event-details-text">
                    <div class="user-account-event-details-text-outer">
                        <div class="user-account-event-details-inner-data">
                            <div class="user-account-outer-text-data">
                                <h6>
                                    Tickets : <span class="user-account-ticked-details" id="EventTicketInformation">
                                        @*Tickets available both online and at the venue*@
                                    </span>
                                </h6>

                            </div>
                            <div class="user-account-outer-text-data">
                                <h6>Walkins :</h6> <span class="user-account-methods" id="EventWalking">Accepted</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="our-sponsors-section">
        <div class="container">
            <div class="text-center">
                <h3 class="spnscr-txt">Our Sponsers</h3>
            </div>
            <div id="lg-slider" class="our-sponsors-section-slider">
                @*<div class="sponsors-logo slide"><img class="sponsors-logo-slides-z" src="~/Content/visitor-panel/image/RedBull.svg.png"></div>
                    <div class="sponsors-logo slide">
                        <img class="sponsors-logo-slides-z" src="~/Content/visitor-panel/image/Adidas_Logo.svg.png">
                    </div>
                    <div class="sponsors-logo slide"><img class="sponsors-logo-slides-z" src="~/Content/visitor-panel/image/RedBull.svg.png"></div>
                    <div class="sponsors-logo slide"><img class="sponsors-logo-slides-z" src="~/Content/visitor-panel/image/Pepsi-Logo.png"></div>
                    <div class="sponsors-logo slide"><img class="sponsors-logo-slides-z" src="~/Content/visitor-panel/image/sponserfdjkf.png"></div>
                    <div class="sponsors-logo slide">
                        <img class="sponsors-logo-slides-z" src="~/Content/visitor-panel/image/Adidas_Logo.svg.png">
                    </div>
                    <div class="sponsors-logo slide"><img class="sponsors-logo-slides-z" src="~/Content/visitor-panel/image/RedBull.svg.png"></div>
                    <div class="sponsors-logo slide">
                        <img class="sponsors-logo-slides-z" src="~/Content/visitor-panel/image/Adidas_Logo.svg.png">
                    </div>*@
            </div>
        </div>
    </section>

    <section class="other-event-section">
        <div class="container">
            <div class="row other-event-row">
                <div class="col">
                    <div class="other-event-content">
                        <div class="other-event-header"><i class="fa-regular fa-calendar"></i>Other Events</div>
                        <div id="NextThreeEventList">
                            @*<div class="other-event-content-outer">
                                    <img src="~/Content/visitor-panel/image/audience-1850665_640.jpg" alt="" class="other-event-content-image">
                                    <div class="other-event-content-date text-center">
                                        <h3>14</h3>
                                        <p class="other-event-date-time">February</p>
                                    </div>

                                    <div class="other-event-content-outer-mdl text-center">
                                        <h5 class="other-event-content-sub-heading">
                                            Conference in Amsterdam
                                        </h5>
                                        <p class="other-event-time-z">08 AM - 04 PM</p>
                                        <p class="other-event-speaker-name">
                                            Speaker: Daniel Hill
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-outline-dark custom-btn_1a custom-default-btn">Read More</a>
                                </div>
                                <div class="other-event-content-outer">
                                    <img src="~/Content/visitor-panel/image/tengku-nadia-fz8_SONkBB8-unsplash.jpg" alt=""
                                         class="other-event-content-image">
                                    <div class="other-event-content-date text-center">
                                        <h3>18</h3>
                                        <p class="other-event-date-time">February</p>
                                    </div>

                                    <div class="other-event-content-outer-mdl text-center">
                                        <h5 class="other-event-content-sub-heading">
                                            Conference in Amsterdam
                                        </h5>
                                        <p class="other-event-time-z">08 AM - 04 PM</p>
                                        <p class="other-event-speaker-name">
                                            Speaker: Daniel Hill
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-outline-dark custom-btn_1a custom-default-btn">Read More</a>
                                </div>
                                <div class="other-event-content-outer">
                                    <img src="~/Content/visitor-panel/image/two-col11.jpg" alt="" class="other-event-content-image">
                                    <div class="other-event-content-date text-center">
                                        <h3>22</h3>
                                        <p class="other-event-date-time">February</p>
                                    </div>

                                    <div class="other-event-content-outer-mdl text-center">
                                        <h5 class="other-event-content-sub-heading">
                                            Conference in Amsterdam
                                        </h5>
                                        <p class="other-event-time-z">08 AM - 04 PM</p>
                                        <p class="other-event-speaker-name">
                                            Speaker: Daniel Hill
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-outline-dark custom-btn_1a custom-default-btn">Read More</a>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer id="footer">
        <div class="container">
            <div class="row">
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg-4 mb-4">
                    <div class="single-footer-widget section_padding_0_130">
                        <!-- Footer Logo-->
                        <div class="footer-logo mb-3"></div>
                        <p>Master Zone is completely creative, lightweight, Clean Admin Dashboard.</p>
                        <!-- Copywrite Text-->
                        <!-- <div class="copywrite-text mb-5">
                          <p class="mb-0">Made with <i class="lni-heart mr-1"></i>by<a class="ml-1" href="https://wrapbootstrap.com/user/DesigningWorld">Designing World</a></p>
                        </div> -->
                        <!-- Footer Social Area-->
                        <div class="footer_social_area">
                            <a href="#" data-toggle="tooltip" data-placement="top" title=""
                               data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a href="#"
                                                                                                   data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                <i class="fa fa-pinterest"></i>
                            </a><a href="#" data-toggle="tooltip"
                                   data-placement="top" title="" data-original-title="Skype">
                                <i class="fa fa-skype"></i>
                            </a><a href="#" data-toggle="tooltip" data-placement="top"
                                   title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg mb-4">
                    <div class="single-footer-widget section_padding_0_130">
                        <!-- Widget Title-->
                        <h5 class="widget-title">About</h5>
                        <!-- Footer Menu-->
                        <div class="footer_menu">
                            <ul>
                                <li><a class="text-white" href="about-us.html">About Us</a></li>
                                <li><a class="text-white" href="contact-us.html">Contact Us</a></li>
                                <li><a class="text-white" href="business-details-page.html">Business Detail</a></li>
                                <li>
                                    <a class="text-white" href="terms&amp;conditions.html">Terms &amp; Conditions</a>
                                </li>
                                <li><a class="text-white" href="privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg mb-4">
                    <div class="single-footer-widget section_padding_0_130">
                        <!-- Widget Title-->
                        <h5 class="widget-title">Support</h5>
                        <!-- Footer Menu-->
                        <div class="footer_menu">
                            <ul>
                                <li><a class="text-white" href="#">Help</a></li>
                                <li><a class="text-white" href="#">Support</a></li>
                                <!-- <li><a class="text-white" href="#">Privacy Policy</a></li>
                                <li><a class="text-white" href="#">Term &amp; Conditions</a></li>
                                <li><a class="text-white" href="#">Help &amp; Support</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg mb-4">
                    <div class="single-footer-widget section_padding_0_130">
                        <!-- Widget Title-->
                        <h5 class="widget-title">Contact</h5>
                        <!-- Footer Menu-->
                        <div class="footer_menu">
                            <ul>
                                <li><a class="text-white" href="#">Call Centre</a></li>
                                <li><a class="text-white" href="#">Email Us</a></li>
                                <!-- <li><a class="text-white" href="#">Term &amp; Conditions</a></li>
                                <li><a class="text-white" href="#">Help Center</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-6"><strong class="d-flex"><p> Copyright © 2023</p> <a href="/">     Master Zone.</a> <p>All rights reserved.</p></strong>

                </div>
                <div class="col-6">
                    <div class="float-right d-none d-sm-inline-block">
                        <a class="text-white" target="_blank" href="https://protolabzit.com/">
                            <p class="text-white" id="footer-text" style="color: #869099;
                  font-size: 1rem;"> Developed &amp; Designed by: Protolabz eServices</p>
                        </a>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="copyrights border-top pt-3">
            <div class="container ">
                <div class="row">

                    <div class="col-sm-12 col-md-6">
                        <strong class="d-flex copyrights-text" style="white-space: nowrap;">
                            <p> Copyright © 2023</p> <a class="copyright-company-name mr-2 ml-2" href="index.html">
                                Master Zone.
                            </a>
                            <p>All rights reserved.</p>
                        </strong>

                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="float-md-right d-sm-inline-block">
                            <a class="text-white" target="_blank" href="https://protolabzit.com/">
                                <p class="text-white text-center" id="footer-text" style="color: #869099;
              font-size: 1rem;"> Developed &amp; Designed by: Protolabz eServices</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- csss -->
    <style>
        /* footer */
        span.event-flowt-btn-text {
            font-size: 1.5rem;
            font-weight: 700;
            margin-right: 1rem;
        }

        section.our_host-event-section .slick-track {
            margin: 2rem 0 0 0;
        }

        a.btn.btn-outline-dark.font-weight-bold.custom-btn.w-auto.buy-btn {
            border-radius: 5px;
            background: #4e4747;
            color: #fff;
        }

        section.our-sponsors-section .container {
            min-width: 86.7%;
        }



        section#event-page-section_1 h2.text-center {
            text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
        }

        .social-icons-inner a {
            color: black;
        }

            .social-icons-inner a:hover {
                color: #f3a762;
            }

        li.user-account-image {
            margin-right: -1.3rem;
        }

        p.multi-user-account-main-text_a.m-0.p-0 {
            font-size: 1rem;
            font-weight: 700;
            color: black;
            margin-left: 1.7rem !important;
        }

        ul.multi-user-account-main {
            display: flex;
            align-items: center;
        }

        .multi-user-account-outer {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
        }

        li.user-account-image img {
            width: 2rem;
            border-radius: 100px;
        }

        .event-flowt-btn {
            display: flex;
            align-items: center;
            padding: 1rem 0;
        }

        header.header-evt {
            display: none;
        }

        p.text-center.event-banner-text {
            white-space: nowrap;
        }

        .card.border-0.organizer-card-border-a {
            background: transparent;
        }

        section.about-event-section.about-event-section-2 {
            margin-top: 2rem !important;
        }

        section.event-organizer-section {
            background: #f3a76230 !important;
            padding: 2rem 0 0 0;
        }

            section.event-organizer-section .slick-list.draggable {
                padding-bottom: unset;
            }

        h5.card-title.text-center.organizer-title-text {
            margin-bottom: 0.2rem;
        }

        .custom-default-btn:hover {
            background: black !important;
            color: #ffffff !important;
        }

        h5.other-event-content-sub-heading {
            font-weight: 700;
            margin-bottom: 1rem;
        }

        h5.card-title.text-center.card-content-heading {
            margin-bottom: 0.3rem;
        }

        p.card-content-caption-txt {
            margin-bottom: 0.3rem;
        }

        section.event-organizer-section .row.content-row.slick-initialized.slick-slider {
            margin-bottom: 2rem;
        }

        h3.spnscr-txt {
            font-weight: 700;
        }

        h5.card-title.text-center {
            font-size: 0.97rem;
            font-weight: 400;
        }

        p.card-content-caption-txt {
            font-size: 0.8rem;
            color: lightslategray;
        }

        a.custom-btn_1a.text-center.Outer-section-btn_a {
            color: black;
            font-size: 1rem;
            font-weight: 700;
        }

        section.our_host-event-section {
            margin-top: 4rem;
        }

        .row.about-content-text-outer {
            margin: 2rem 0;
        }

        .about-event-heading-e {
            text-transform: uppercase;
            font-weight: 700;
        }

        img.card-img-top {
            margin: auto;
            cursor: pointer;
        }

        .card-body.text-center.border-0 {
            cursor: pointer;
        }

        .other-event-content-outer:last-child {
            border-bottom: unset;
        }

        section.our-sponsors-section img.sponsors-logo-slides-z {
            cursor: pointer;
        }

        .other-event-content {
            background: #ebebeb;
            width: 90%;
            margin: auto;
            padding-bottom: 1.5rem;
        }

        p.about-para-text {
            font-size: 0.9rem;
            color: lightslategray;
        }

        .other-event-header {
            background: #f3a762;
            padding: 0.7rem;
            font-size: 1.1rem;
            font-weight: 600;
            color: white;
        }

            .other-event-header i {
                margin-right: 0.5rem;
                font-size: 1.5rem;
            }

        img.other-event-content-image {
            width: 6rem;
            border-radius: 5px;
        }

        p.other-event-speaker-name {
            font-size: 0.8rem;
            color: lightslategray;
        }

        p.other-event-time-z {
            font-weight: 700;
            font-size: 0.8rem;
        }

        .custom-default-btn {
            background: #f3a762;
            color: white;
            border-color: #f3a762;
            width: 15%;
            padding: 0.5rem;
        }

        section.other-event-section {
            /* background: #f7f7f7a1; */
            padding: 1.5rem 0;
        }

        section.event-organizer-section .slick-track {
            margin: 2rem 0 0 0;
        }

        .other-event-content-outer {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 2rem 0 2rem;
            border-bottom: 1px solid #ccc;
            padding-bottom: 0.63rem;
        }

        h2.about-event-heading:before,
        .event-organizer-heading-text:before,
        h2.our_host-event-section-heading:before {
            content: "";
            width: 27px;
            height: 3px;
            background: #f3a762;
            position: absolute;
            margin-top: -5px;
        }

        section.about-event-section {
            margin: 7rem auto 1rem auto;
        }

        header#header-hd11 {
            position: unset;
        }

        #lg-slider .slick-track {
            display: flex;
            align-items: center;
        }

        section.our-sponsors-section {
            margin: 2rem 0 2rem 0;
            background: #f3a76230 !important;
            padding: 2rem 0;
        }

        img.sponsors-logo-slides-z {
            width: 6rem;
            margin: auto;
        }

        .user-account-content-image_with-text-wrap {
            display: flex;
            align-items: center;
        }

        span.user-account-ticked-details,
        span.accepted-flskdjfkl.tkjklfjsaklf {
            margin-left: 0.3rem;
        }

        .frbrdr-old {
            padding-bottom: 1.5rem;
        }

        .user-account-section_b {
            padding: 5rem 0;
            margin-top: 2rem;
        }

        .spnsrs-sc {
            padding: 4rem 0 3rem 0;
        }

        .inrscdfsk {
            margin: 1rem 1.6rem;
        }

        .dms-sc2-outer.oso-ckd.d-flex .inrscdfsk {
            margin: 0 0.5rem;
        }

        .ogr-sc-fjsdk .inrscdfsk {
            margin: 0 0.2rem;
        }

        .ehos-sc-fjsdk {
            width: 100%;
            display: flex;
        }

        .menu-one.mnu-1jdksfj {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
        }

        .page-center {
            max-width: 1300px;
            margin: 0 auto;
            width: 100%;
            padding: 0 20px;
        }

        /* section#user-account-section_a {
            background: linear-gradient(90deg, #e0f0f1, transparent);
            padding: 3rem 0;
        } */

        .footer .row-sec {
            display: flex;
            flex-wrap: wrap;
        }

        .tcktsc {
            padding: 4rem 0;
            background: linear-gradient(90deg, #e0f0f1, transparent);
        }

        .footer .row-sec > div {
            flex: 0 0 25%;
            max-width: 100%;
            padding-right: 30px;
        }

            .footer .row-sec > div:last-child {
                padding-right: 0;
            }

        .footer .footer-social {
            display: flex;
            align-items: center;
        }

        .footer .menu-one > :first-child {
            font-size: 20px;
        }

        .footer .menu-one ul > li > a {
            color: #000;
            margin-bottom: 10px;
            transition: all .4s;
        }

            .footer .menu-one ul > li > a:hover {
                color: var(--highlight);
            }

        .footer .social-icon > a > i {
            color: #000;
            transition: all .4s;
        }

        .footer .social-icon > a:hover i {
            color: var(--highlight);
        }

        footer.footer {
            border-top: 1px solid #000;
            padding: 50px 0;
        }

        .footer .social-icon {
            margin: 0 10px 10px 0;
        }

        .copyright_wrap {
            padding: 20px;
            background: var(--highlight);
        }

        .copyright {
            text-align: center;
            color: #fff;
            font-weight: 600;
        }

        .footer .col-lg-two a {
            color: #000;
        }

        .copyright_wrap {
            padding-top: 2.5rem;
        }

        .copyright_wrap {
            padding: 20px;
            background: #f3a762;
        }

        .copyright_wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        footer.footer.footer-inst {
            padding: 3rem 0 2rem 0;
            border-top: 1px solid #e3e3e3;
        }

        .col-sm-6.user-account-event-details-text {
            display: flex;
            align-items: center;
        }

        p.user-account-content-username-text.m-0 {
            font-size: 1rem;
            font-weight: 700;
        }

        .user-account-content-text-outer {
            margin-left: 1.5rem;
        }



        img.image-kdjfkls {
            width: 3rem;
        }

        header.header-evt nav.navbar.navbar-expand-lg.navbar-light.bg-light.p-0 {
            background: unset !important;
        }

        p.lgimgsfd.mb-0 {
            font-size: 1rem;
            font-weight: 500;
        }

        img.user-account-content-profile-image {
            width: 5rem;
            border-radius: 100%;
        }

        img.lgo-sdfsk {
            width: 6rem;
        }

        .lgo-sc-outer.d-flex.justify-content-center {
            display: flex;
            align-items: center;
            justify-content: space-evenly !important;
        }

        section#section-e2-2 {
            margin: 4rem 0 0 0;
        }

            section#section-e2-2 .row.section-row-3 {
                margin: 4rem 0 2rem 0 !important;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
            }

                section#section-e2-2 .row.section-row-3 span {
                    margin-left: 2rem;
                    margin-top: 0.6rem;
                }

        .user-account-outer-text-data {
            display: flex;
            align-items: flex-start;
        }

        span.user-account-ticked-details,
        span.accepted-flskdjfkl.tkjklfjsaklf {
            margin-left: 0.3rem;
            margin-top: -0.1rem;
            font-weight: 400;
        }

        section#section-e2-2 .sc2-txtpt-fjkd i {
            margin-right: 1rem;
        }


        section#section-e2-2 h6.sc2-hd-fjskd {
            margin-top: 0.3rem;
            margin-bottom: 0.2rem;
            font-size: 0.92em !important;
            white-space: nowrap;
            color: #e43be4;
        }

        .ogr-sc-fjsdk {
            margin: 1rem 0;
        }

        .dms-sc-fjsdk {
            margin: 1rem 0;
        }


        p.sc2-dsgn {
            font-size: 0.7em;
            color: lightslategray;
            margin-bottom: 0.1rem;
        }

        .social-icons-inner a:active {
            color: #f3a762;
        }

        .header-outer {
            width: 94%;
            margin: auto;
        }

        .col.d-flex.flex-column.social-icons-main {
            align-items: center;
            justify-content: flex-end;
        }

        .date-outer-data {
            display: flex;
        }

        .content-time {
            display: flex;
        }

        .date-icon i {
            font-size: 3rem;
            margin-right: 1rem;
        }

        .content-date.content-time p {
            margin-bottom: 0.3rem;
        }

        .social-icons-inner {
            display: flex !important;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            padding: 0.3rem 1rem 0rem 1rem;
            position: relative;
            top: 4rem;
            width: 96%;
        }

            .social-icons-inner .social-icons-outer_a {
                display: flex;
            }

                .social-icons-inner .social-icons-outer_a a {
                    margin-right: 1.8rem;
                }

        section#event-page-section_1 {
            background: linear-gradient(90deg, #ffd7b2, transparent);
            padding: 3rem 0;
            border-bottom: 2px solid #d7d7d7;
            overflow: initial;
        }

        a.btn.btn-outline-dark {
            border-radius: 30px;
        }

        img.right-side-flowting-img {
            width: 21rem;
            position: relative;
            top: 6rem;
            box-shadow: 6px 6px 5px #d1d1d1;
            border-radius: 5px;
            border: 10px solid #F3A762;
            background: #fff;
        }

        p.garba-content-para {
            font-size: 0.8rem;
            font-weight: 500;
            text-align: justify;
        }

        p.mr-3.event-content-time {
            font-weight: 700;
        }

        header.header-evt {
            border-bottom: 2px solid #d7d7d7;
        }

        p.event-timming {
            color: #8f0d5b;
            font-weight: 700;
            white-space: nowrap;
        }

        .row.section-row h2.text-center {
            text-transform: uppercase;
        }

        h4.inc-lfjklds {
            width: 78%;
            font-size: 1.2rem;
            margin: auto;
            padding: 0.7rem 0 0.3rem 0;
        }

        i.fa-solid.fa-location-dot.mr-1 {
            color: #e63d3d;
            padding: 5px;
            background: white;
            width: 26px;
            border-radius: 100%;
            height: auto;
        }

        .sc2-cap-trds {
            font-size: 0.8rem;
            margin-top: 0.4rem;
            text-align: center;
        }

        .col-md-4.d-flex.flex-column.social-icons-main {
            align-items: center;
        }


        img.tp-img {
            width: 100px;
        }

        .lgo-sc-outer.d-flex.justify-content-center.logo-sc-slider.slick-initialized.slick-slider img.lgo-sdfsk {
            margin: auto;
        }

        .slick-track {
            margin: 4rem 0 0 0;
        }

        section.event-organizer-section {
            background: #f3a76230 !important;
        }

        @@media screen and (max-width: 800px) {
            img.card-img-top {
                width: 8rem;
            }

            .other-event-content-outer {
                padding-bottom: 2rem !important;
            }

            .slick-prev {
                left: 5px;
                z-index: 1;
            }

            .slick-next {
                right: 5px;
                z-index: 11;
            }

            section.event-organizer-section {
                padding: 3rem 0 2rem 0;
            }

            section.our_host-event-section {
                margin-bottom: 3rem;
                margin-top: 3rem !important;
            }

            .col.pl-0.adninf {
                padding-right: unset;
            }

            .col-sm-6.pr-0.prdddfsdfsd {
                padding-left: unset;
            }

            section.about-event-section {
                margin: 4rem auto 1rem auto;
            }

            section.our_host-event-section {
                margin-top: 2rem;
            }

            section.event-organizer-section hr {
                margin-top: 4rem !important;
            }

            section.our_host-event-section .slick-list.draggable {
                padding-bottom: unset;
            }

            .other-event-content-outer {
                display: flex;
                padding: 4rem 2rem 0 2rem;
                flex-direction: column;
                align-items: center;
            }

            .other-event-content-date.text-center {
                margin-top: 1rem;
            }

            .custom-default-btn {
                background: #f3a762;
                color: white;
                border-color: #f3a762;
                width: 15%;
                padding: 0.5rem;
                width: 44%;
            }

            .container.our_host-section-container {
                min-height: 360px;
            }

            section.event-organizer-section .slick-prev {
                left: 5px;
                z-index: 1;
            }

            section.event-organizer-section .slick-next {
                right: 5px;
            }

            .row.content-row .col-sm-2 {
                margin-top: 2rem !important;
            }

            #lg-slider .slick-prev {
                left: -0.6rem;
                z-index: 100;
            }

            #lg-slider .slick-next {
                right: -0.5rem;
                z-index: 100;
            }

            .slick-slider button::before {
                font-size: 1.3rem;
            }

            section.our-sponsors-section {
                margin: 2rem 0 0 0;
            }

            .user-account-content-image_with-text-wrap {
                display: flex;
                align-items: center;
                padding: 1rem 0;
            }

            section#user-account-section_a {
                padding: 1rem !important;
            }

            .tcktsc {
                padding: 4rem 1rem !important;
            }

            span.accepted-flskdjfkl.tkjklfjsaklf {
                margin-left: 1rem;
            }

            .col-md-4.social-icons-wrap {
                text-align: center;
            }

            .header-outer {
                width: 22% !important;
                margin: auto;
            }

            .cl-evt-outerco-inr {
                padding: 3rem 1.5rem;
            }

            .cl-evt-outerco-inr {
                height: 45rem;
            }

            .user-account-event-details-inner-data {
                width: 100%;
                margin: auto;
            }

            section#user-account-section_a {
                padding: 2rem 2rem 3rem 2rem !important;
            }

            .slick-track {
                margin: 0rem 0 0 0;
            }

            img.right-side-flowting-img {
                width: 22.5rem;
                position: relative;
                top: 9rem;
                box-shadow: 1px 1px 5px #d1d1d1;
            }

            .lgo-sc-outer.d-flex.justify-content-center {
                flex-direction: column;
            }

            .lgo-sc-outer.d-flex.justify-content-center {
                margin-bottom: 2rem;
            }

            h4.inc-lfjklds {
                width: 47%;
            }

            .user-account-outer-text-data span {
                position: relative;
                margin-top: 2.3%;
                width: 72%;
                margin: auto;
            }

            .lgo-scns-odidd {
                margin-top: 3rem;
            }

            .container.se3-cn-2 {
                padding: unset;
            }

            #section-e2-2 > div > div.row.section-row-3 > div > div:nth-child(1) > span {
                margin-left: 0rem;
            }

            .container.user-account-container_z {
                padding: unset;
            }

            img.right-side-flowting-img {
                position: relative;
                top: 1rem;
            }

            .container.se3-cn-2.se3-cn-2a {
                padding: 0 15px;
            }

            .social-icons-inner {
                padding: 1rem 1rem;
                margin: 0rem auto 5rem auto;
            }

            .multi-user-account-outer {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                width: 50%;
                margin: 2rem auto;
            }

            .event-flowt-btn {
                display: flex;
                align-items: center;
                margin: 1rem auto -2rem auto;
                padding: 1rem 0;
                justify-content: center;
            }

            .date-outer-data {
                padding: 1rem 0;
            }

            .text-center.multi-user-account {
                margin-top: 2rem !important;
            }

            div#navbarTogglerDemo03 {
                width: unset !important;
                float: unset !important;
            }

            .center-img-outer.user-account-content-image_with-text {
                width: unset !important;
            }

            div#lg-slider .slick-list.draggable {
                margin: 3rem auto;
            }

            p.text-center.event-banner-text {
                white-space: normal !important;
            }
        }

        img.card-img-top {
            box-shadow: 4px 4px 4px 1px #ccc;
        }


        @@media screen and (min-width: 800px) {
            img.card-img-top {
                margin: auto;
                cursor: pointer;
                min-height: 198px;
                box-shadow: 4px 4px 4px 1px #ccc;
            }

            header#header-hd11 .container {
                min-width: 100%;
                margin: auto;
            }

            div#navbarTogglerDemo03 {
                width: 26% !important;
                float: right;
            }

            section.event-organizer-section {
                padding: 4rem 0 0 0 !important;
            }

            section.our-sponsors-section {
                margin: 2rem 0 2rem 0;
                background: #f3a76230 !important;
                padding: 4rem 0;
            }

            section.other-event-section {
                padding: 1.5rem 0 4rem 0;
            }

            a.btn.btn-outline-dark.font-weight-bold.custom-btn.w-auto.get-directions-btn {
                margin-left: 0.5rem;
            }

            .text-center.multi-user-account {
                display: flex;
            }

            .col-md-4.d-flex.flex-column.social-icons-main {
                justify-content: flex-end;
                align-items: center;
            }

            #section-e2-2 > div > div.row.section-row-3 > div > div:nth-child(2) > span {
                margin-left: 7.4rem !important;
            }
        }

        a.btn.btn-primary.custom-btn_1a.text-center.Outer-section-btn_a:hover {
            background: #f3a762;
            color: white;
        }

        .other-instructor.text-center {
            padding: 0rem 0 2rem 0;
        }

        section#other-instructor {
            margin: 0 0 4rem 0;
        }

        a.btn.btn-primary.custom-btn_1a.text-center.Outer-section-btn_a {
            background: white;
            color: #f3a762;
            border-color: #f3a762;
        }

        div#navbarTogglerDemo03 {
            width: 25%;
            float: right;
        }

        @@media screen and (max-width: 1200px) and (min-width: 800px) {
            div#navbarTogglerDemo03 {
                width: 35%;
                float: right;
            }

            .row.content-row.slick-initialized.slick-slider .slick-next {
                right: -14px;
            }

            a.btn.btn-outline-dark.font-weight-bold.custom-btn.w-auto.get-directions-btn {
                margin-left: 1.5rem;
                min-width: 60% !important;
            }

            p.multi-user-account-main-text_a.m-0.p-0 {
                font-size: 1rem;
                font-weight: 700;
                color: black;
                white-space: nowrap;
                margin-left: 1.7rem !important;
            }

            .row.section-row h2.text-center {
                text-transform: uppercase;
                white-space: nowrap;
            }

            div#navbarTogglerDemo03 {
                width: 30% !important;
                float: right;
            }
        }
    </style>
    @*<script>
            $('.logo-sc-slider').slick({
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 3,
                responsive: [
                    {
                        breakpoint: 800,
                        settings: {
                            arrows: true,
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            dots: true
                        }
                    }

                ]
            });

            $('#lg-slider').slick({
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 800,
                        settings: {
                            arrows: true,
                            slidesToShow: 5,
                            slidesToScroll: 1,
                            dots: true
                        }
                    }

                ]
            });

            $('.content-row').slick({
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 3,
                responsive: [
                    {
                        breakpoint: 800,
                        settings: {
                            arrows: true,
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            dots: true
                        }
                    }

                ]
            });


        </script>*@
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    @*@Html.Partial("/Views/Shared/ScriptPartials/BusinessPanel/_EventScriptPartial.cshtml")*@


    @*Option 2: Separate Popper and Bootstrap JS*@

    @*<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>*@

    <script src="/Scripts/js/site.js"></script>
    <script src="/Scripts/js/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/Content/business-panel/js/vendor/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @*<script src="~/Scripts/js/visitor-panel/index.js"></script>*@
    @Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_EventScriptPartial.cshtml")

</body>

</html>