
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/VistiorHomeLayout.cshtml";
    long customFormId = ViewBag.CustomFormId;
    long businessOwnerLoginId = ViewBag.BusinessOwnerLoginId;
}
<input type="hidden" id="hiddenCustomFormId" value="@ViewBag.CustomFormId" />
<input type="hidden" id="hiddenBusinessLoginId" value="@ViewBag.BusinessOwnerLoginId" />
<section id="section-mc1" class="section-mk1">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @Html.Partial("_VisitorPanelSidebarPartial")
            </div>
            <div class="col-sm-9">
                <div class="card-body">
                    <div class="row rewrsfjdkslfjalksj">
                        <div class="col-6">
                            <h2 class="mk-hdffjsdkfj-enq">Form</h2>
                        </div>
                        @*<div class="col-6 text-right">
                            <a id="ToFormRequest"
                               class="nwe-fjdkfj btn btn-outline-dark cstm-btn w-auto">
                                Form
                            </a>
                        </div>*@
                    </div>
                    <div id="sectionViewForm">
                        <div class="row mb-4">
                            <div class="col-12 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div id="CustomformName"> </div><br />
                                        <h4>Form Elements</h4>
                                        <div id="CustomFormViewDetail">
                                        </div>
                                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="saveFormData()">Save</button>
                                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

@Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_FormScriptPartial.cshtml")
