


@section Styles {

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

    @*<link rel="stylesheet" href="~/Content/assets/sports-page.css">*@
    <style>
   
        #LoginPageOptionPopup button a {
            color: #000;
        }
        .search-inr select {
            border: unset;
            border-radius: 10px;
            box-shadow: 1px 2px 8px #0606068a;
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            height: 40px;
            padding: 10px 10px 10px 30px;
            outline: 0;
            width: 221.09px;
            background-color: #fff;
        }

        .logo-inr img {
            width: 50px;
            height: 50px;
            display: block;
            object-fit: contain;
        }

        .sponsor-logo-sec {
            margin: 0 10px;
        }

        .sponsor-img {
            width: 100%;
            height: auto;
        }

        .yoga-card-img {
            height: 100px;
            background: #e0e5e8;
        }

        a.disabled {
            pointer-events: none;
            cursor: default;
        }

        /*.training-img, .events-img, #sectionAllPackagesList .card-body {
            padding-top: 30px !important;
        }*/

        .training-img .text.pt-3 {
            padding: 11px;
            min-height: 150px !important;
            border: 1px solid #f1f1f1;
            box-shadow: 1px 3px 8px 5px #f1f1f1;
        }

        .training-img h6 {
            color: #F3A762;
            font-weight: 600;
        }

        .text-center.register-now-btn {
            margin-bottom: 5px;
        }

        a.btn.btn-masterzone {
            background: #f3a762;
            color: #FFF;
        }

        .certified-badge {
            position: absolute;
            right: 0;
            top: 0;
            padding: 2px 5px;
            background-color: var(--success);
            border: inherit;
        }

        .class-detail-card {
            box-shadow: 1px 3px 8px 5px #f1f1f1;
            color: #000;
        }

            .class-detail-card img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                background-color: #f1f1f1;
            }

            .class-detail-card .item-title {
                height: 55px !important;
                line-height: 1.6rem;
                overflow: hidden;
            }

            .class-detail-card .card-body {
                width: 350px;
                height: 350px;
                padding: 0 !important;
                /*color: #000;*/
            }

            .class-detail-card:hover {
                background-color: #F3A762;
                color: #fff;
            }

        #listSponsors .slick-track {
            float: left;
            display: flex;
            align-items: center;
        }

        #listSponsors .slick-slide {
            margin: 0 20px;
        }

        /* memberships */
        :root {
            --anchorColor: #fff;
            --anchorColorHover: #f3a762;
            --headingColor: #000;
            --footerTextColor: #fff;
            --mainColor: #f3a762;
            --boxshadow: 5px 5px 10px 0 rgba(0, 0, 0, 50%);
        }

        .membership-section .membership-flex {
            /*display: grid;*/
            display: flex;
            grid-template-columns: repeat(3, 1fr);
            /*grid-gap: 30px;*/
        }

        .membership-section .member-img > img {
            height: 200px;
            object-fit: cover;
            object-position: top;
            display: block;
        }

        .membership-section .pricing-title {
            padding: 20px;
        }

            .membership-section .pricing-title > *:last-child {
                margin-bottom: 0;
            }

            .membership-section .pricing-title > * {
                color: #fff;
                text-align: center;
            }

        .membership-section .pricing-info > ul > li {
            /*border-bottom: 1px solid #eee;*/
            font-size: 15px;
            padding: 10px 0;
            text-align: center;
        }

        .membership-section .pricing-info {
            height: 100px;
        }

        .membership-section .price-amount {
            border-top: 1px solid #eee;
        }

            .membership-section .price-amount > * {
                margin-bottom: 0;
            }

            .membership-section .price-amount > h2 {
                font-size: 35px;
                text-align: center;
                color: var(--mainColor);
            }

                .membership-section .price-amount > h2 span {
                    font-size: 16px;
                }

        .membership-section .membership-title {
            text-align: center;
            margin-bottom: 50px;
        }

        .membership-section .member-item {
            box-shadow: var(--boxshadow);
            transform: translateY(0);
            -moz-transition: all 0.3s ease-out 0s;
            -ms-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
            margin: 0 10px;
            width: 320px;
        }

            .membership-section .member-item:hover {
                transform: translateY(-5px);
            }

        /* .membership-section {
            padding: 80px 0;
        }*/

        .membership-section .price-amount {
            padding: 10px;
        }

        .membership-section .pricing-title {
            background: var(--mainColor);
        }

        .membership-section .sign-btn > a {
            padding: 15px 20px;
            text-align: center;
            background: var(--mainColor);
            display: block;
            color: #fff;
        }

        .cstm-overlay-block {
            position: absolute;
            height: 120px;
            bottom: 0;
            background: #2c2d37cc;
            color: #fff;
            width: 100%;
        }

        #featuredCardImage .data-card-media > img {
            width: 100%;
            height: 85%;
            /*height:250px;*/
            object-fit: cover;
        }

        #section-multiple-images .img {
            width: 100%;
            height: 200px;
        }

        #section-multiple-images .title {
            color: #000 !important;
        }

            #section-multiple-images .title:hover {
                color: var(--mainColor) !important;
            }

        #section-multiple-videos .img {
            width: 100%;
            height: 250px;
        }

        #section-multiple-videos .cstm-overlay-block {
            position: absolute;
            height: 80px;
            bottom: 0;
            background: #2c2d37cc;
            color: #fff;
            width: 100%;
        }

        .home-page-image-section {
            border: 1px solid #ddd;
            box-shadow: 3px 4px 6px 0px #ddd;
        }

        #featuredCardImage .home-page-image-section {
            background: var(--mainColor);
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
        }

        #section-featured-videos video {
            min-height: 300px;
            max-height: 300px;
            width: 100%;
        }

        .featured-video-card {
            box-shadow: 0px 4px 5px 2px #ccc;
            background: #131313;
            border: 1px solid #000;
            color: #f1f1f1;
        }

        .data-card-media iframe {
            height: 100% !important;
        }


        /* -----------  Google Maps autocomplete ----------------------*/
        #infowindow-content .title {
            font-weight: bold;
        }

        #infowindow-content {
            display: none;
        }

        #infowindow-content {
            display: inline;
        }

        /* -----------  Google Maps autocomplete ----------------------*/


        .slick-slide:hover {
            transform: none;
            transition-duration: 0.5s;
        }

        .slick-list.draggable {
            padding-bottom: 0px;
        }

        section#adv-slider-section {
            line-height: 0;
        }

        .adv-slider {
            max-height: 220px;
            min-height: 220px;
            overflow: hidden;
        }

        ul.slick-dots {
            bottom: -35px !important;
        }
    </style>

    <link href="~/Content/custom/css/home-banner-slider.css" rel="stylesheet" />
}

@*<div class="banner-sec" style="background: url(/Content/visitor-panel/image/taj2.jpg);">
        <div class="page-center">
            <div class="banner-content">
                <p>
                    its originally taken from a Latin
                    text written by a Roman Scholar , Sceptic
                    and philosopher by the name of Marcus
                    Tullius Cicero,whoin fluenced the Latin language hreatly.
                </p>
            </div>
        </div>
    </div>*@

<div class="slider-wrap top-banner-section">
    <div class="top-banner-slider-section">
        <div class="top-banner-slider">
            <section class="main-slider">
                @*<div class="item image">
                        <figure>
                            <div class="slide-image slide-media" style="background-image:url('https://images.unsplash.com/photo-1617339847756-976edbc411e7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTE4Mg&ixlib=rb-1.2.1&q=85');">
                                <img data-lazy="https://images.unsplash.com/photo-1617339847756-976edbc411e7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTE4Mg&ixlib=rb-1.2.1&q=85" class="image-entity" />
                            </div>
                            <figcaption class="caption">Static Image</figcaption>
                        </figure>
                    </div>


                    <div class="item youtube">
                        <iframe class="embed-player slide-media" width="980" height="520" src="https://www.youtube.com/embed/QV5EXOFcdrQ?enablejsapi=1&controls=0&fs=0&iv_load_policy=3&rel=0&showinfo=0&loop=1&playlist=QV5EXOFcdrQ&start=1" frameborder="0" allowfullscreen></iframe>
                        <p class="caption">YouTube</p>
                    </div>*@

            </section>

        </div>

    </div>
</div>
<!-- end banner section -->

<div class="search-inr">
    <div class="page-center">
        <div class="search">
            @*<div class="location-inr">
                    <h4>Location</h4>
                    <div class="loc-icon">
                        <input type="text" id="txtCurrentLocation_Search" class="locations" placeholder="Current Location">
                    </div>
                </div>*@
            <!-- Previous working search-->
            @*<div class="flex-grow-1 types">
                    <h4>Search <input type="checkbox" id="checkboxSearchBy" onchange="onChangeSearchBySelection()" checked data-toggle="toggle" data-on="Name" data-off="Location" data-onstyle="success" data-offstyle="danger" data-height="20"></h4>
                    <a href="javascript:getLocation();" id="btnCurrentLocation" class="text-white d-none">Current Location</a>
                    <input type="text" id="txtSearchKeywords_Search" class="type" placeholder="Search...">
                </div>*@
            <br /><br />
            <div class="location-inr">
                <h4>Location</h4>
                <div class="loc-icon">
                    <input type="text" id="txtLocation_Search" class="locations" placeholder="Current Location">
                </div>
            </div>
            <div class="types">
                <h4>Category</h4>
                @*<input id="txtSearchKeywords_Search" type="text" class="type" placeholder="All Class Types">*@
                <select id="ddlFilterTypeCategory" class="type">
                    <option value="0">Select Category</option>
                </select>
            </div>
            <div class="types">
                <h4>DAYS</h4>
                @*<input type="text" class="type" placeholder="Days">*@
                <select class="type" id="ddlFilterDays">
                    <option value="">Days</option>
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                </select>
            </div>
            <div class="submit-btn">
                <button id="btnSubmit_Search" class="search-btn" onclick="searchClasses();">SEARCH</button>
            </div>
        </div>

        @* Integration for Class dropdown in category and Class Days *@
        @*<div class="search">
                <div class="location-inr">
                    <h4>Location</h4>
                    <div class="loc-icon">
                        <input type="text" class="locations" placeholder="Current Location">
                    </div>

                </div>
                <div class="types">
                    <h4>Category</h4>

                    <select type="text" id="ddl_AllClassesList" class="type" placeholder="All Class Types"></select>
                </div>

                <div class="types">
                    <h4>DAYS</h4>
                    <select type="text" class="type">
                        <option value="0">All Days</option>
                        <option value="Sunday">Sunday</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                    </select>
                </div>
                <div class="submit-btn">
                    <button class="search-btn">SEARCH</button>
                </div>

            </div>*@

        <div id="categoryLinkList" class="links-in">
            @*<div class="link-cards">
                    <img src="~/Content/visitor-panel/image/fitness.png">
                    <a href="">Fitness</a>
                </div>*@
        </div>
    </div>

</div>

<section id="section-certificates">
    <div class="container">
        <!-- training section slider -->
        <div class="training-slider">
            <div class="page-center card ml-md-0 p-3">
                <div class="traning-sec">
                    <div class="certi-logo">
                        <div class="heading main-title-heading">
                            <h2>Certifications</h2>
                        </div>
                        <div class="logo-certi">
                            <img src="~/Content/visitor-panel/image/quality.png">
                        </div>
                    </div>
                    <div class="logo-cards">
                        <div id="listCertificates"></div>
                        @*<div class="logo-inr">
                                <a href="https://www.facebook.com/">
                                    <img src="~/Content/visitor-panel/image/fb.png">
                                </a>
                            </div>
                        *@
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section id="section-1">
    <div class="container">
        <!-- training section slider -->
        <div class="training-slider">
            <div class="page-center card ml-md-0 m-4 p-3">

                <div class="training-main responsive">
                    <div class="title-in pt-3 pb-3 main-title-heading">
                        <h2>Tranings</h2>
                    </div>
                    <div id="listTrainings"></div>
                    @*<div class="training-img">
                            <a class="hvr" href="#">
                                <img src="~/Content/visitor-panel/image/card-img.jpg">
                                <div class="text pt-3">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-2">
    <div class="container">
        <!-- yoga -->
        <div class="yoga-sec card">
            <div class="page-center">
                <div class="yoga-title main-title-heading">
                    <h2>Instructors</h2>
                </div>
                <div id="listInstructors" class="yoga-slider mb-md-5">

                </div>
            </div>
        </div>
    </div>
    <hr class="dvdr dv d-none d-md-block">
</section>



<section id="section-3" class="pb-5">
    <div class="container">
        <!-- Events -->
        <div class="events-slider">
            <div class="page-center">
                <div class="event-title pb-4 main-title-heading">
                    <h2>Events</h2>
                </div>
                <div id="GetAllEventList" class="events-main events-slide">
                    @*<div class="events-img">
                            <a href="">
                                <img src="~/Content/visitor-panel/image/card-img.jpg">
                            </a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-plans" class="pb-5 membership-section">
    <div class="container">
        <!-- Active Business Plans [TODO: Remove later when business pages are created] -->
        <div class="events-slider">
            <div class="page-center">
                <div class="event-title pb-4 main-title-heading">
                    <h2>Plans/Packages</h2>
                </div>
                <div class="membership-flex">
                    <div id="sectionAllPackagesList" style="width: 100%;">

                    </div>
                </div>
                <div id="planDescriptionContent" style="height:0px;">
                    <p>Default Content</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section-AllForm" class="pb-5 d-none">
    <div class="container">
        <div class="events-slider">
            <div class="page-center">
                <div class="event-title pb-4 main-title-heading">
                    <h2>Exam Forms</h2>
                </div>
                <div id="GetAllExamFormList" style="width: 100%; overflow-x: scroll; display:flex;">
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section-classes" class="pb-5">
    <div class="container">
        <!-- Active Business Plans [TODO: Remove later when business pages are created] -->
        <div class="events-slider">
            <div class="page-center">
                <div class="event-title pb-4 main-title-heading">
                    <h2>Classes</h2>
                </div>
                <div id="GetAllSheduleClassesList" style="width: 100%;">

                </div>
            </div>
        </div>
    </div>
</section>


<section id="section-sponsors">
    <div class="container">
        <!-- training section slider -->
        <div class="training-slider">
            <div class="page-center card ml-md-0 p-3 border-0">
                <div class="traning-sec">
                    <div class="heading mb-5 main-title-heading">
                        <h2>Our Sponsors</h2>
                    </div>
                    <div class="logo-cards">
                        <div id="listSponsors"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="section-class-category" class="brdrsc pb-5">
    <div class="container">
        <!-- training section slider -->
        <div class="dance-slider">
            <div class="page-center">
                <div class="dance-title pb-4 main-title-heading">
                    <h2 class="data-card-title">@*Indian Classical Dance*@</h2>
                </div>
                <div id="classCategoriesList" class="dance-main dance-slide data-card-content-list">
                    @*<div class="dance-img">
                            <a href="#">
                                <img src="~/Content/visitor-panel/image/dance.jpg">

                            </a>
                        </div>*@

                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-5" class="brdrsc pb-5">
    <!-- filter section -->
    <div class="container">
        <div class="filter-sec">
            <div class="page-center main-title-heading">
                <h2 class="pb-4">Find Academy</h2>
                <div id="navB2BCategoryList" class="button-group filters-button-group">
                    @*<button class="button mb-3 is-checked" data-filter="*"> All</button>
                        <button class="button mb-3" data-filter=".dance">Dance</button>*@
                </div>
                <div id="dataB2BCategory" class="row mt-2 ">
                    @*<div class="element-item transition tuition " data-category="tuition">
                            <div class="img-inr">
                                <img src="~/Content/visitor-panel/image/tuition.jpg">
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="dv d-none d-md-block">

<section id="featuredCardImage" class="d-none">

    <div class="container pt-md-5 pb-md-5 mt-md-5">
        <div class="row pt-md-5 home-page-image-section">
            <div class="col-sm-12 col-md-6 pt-md-5 pb-md-5">
                <h5 class="data-card-title"></h5>
                <div class="txt text-justify data-card-description">

                </div>
                <a class="btn btn-masterzone data-card-button mt-3 w-25" href="login.html">

                </a>
            </div>
            <div class="col-sm-12 col-md-6 d-md-block data-card-media">
            </div>
        </div>
    </div>
</section>


<section id="featuredCardVideo" class="d-none">
    <div class="container pt-5 pb-5">
        <div class="row home-page-image-section">
            <div class="col-sm-12 col-md-6 pt-5 pb-5">
                <h5 class="data-card-title"></h5>
                <div class="txt text-justify data-card-description">

                </div>
                <a class="btn btn-masterzone data-card-button mt-3 w-25" href="login.html">
                    @*Button*@
                </a>
            </div>
            <div class="col-sm-12 col-md-6 data-card-media pr-0">
                @*<iframe width="100%" height="100%" src="https://www.youtube.com/embed/55TMd3PdSNA"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>*@
            </div>
        </div>
    </div>
</section>


<section id="section-featured-videos" class="brdrsc brdrtp pt-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-sm-12 pb-2 col-md-6">
                <div class="card">
                    <div class="img" style="background: url(/Content/visitor-panel/image/dance-four.jpg) no-repeat center center /cover;">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 pb-2 col-md-6">
                <div class="card">
                    <div class="img" style="background: url(/Content/visitor-panel/image/dance-four.jpg) no-repeat center center /cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section-multiple-videos" class="brdrsc">
    <div class="container pt-5 pb-5">
        <div id="multipleVideosList">

        </div>
    </div>
</section>


<section id="section-multiple-images">
    <div class="container pt-5 pb-5">
        <div id="multipleImagesList">

        </div>
    </div>
</section>

<!----- advertisement slider  ------->
<section id="adv-slider-section">
    <div class="adv-slider-container">
        <div class="adv-slider">
            <div id="GetAllAdvertisementList" class="adv-main advertisement-slide">

            </div>
        </div>
    </div>
</section>

<div id="infowindow-content">
    <span id="place-name" class="title"></span><br />
    <span id="place-address"></span>
</div>
<div>


    @*<a class="primary-button" href="/Booking/Checkout?itemId=3&amp;itemType=course">register now</a>*@
</div>

@*Business  Login Check*@

<button class="d-none" id="btnBusinessUserLoginPoup" data-toggle="modal" data-target="#LoginPageOptionPopup"></button>
<div class="modal fade" data-backdrop="static" id="LoginPageOptionPopup" >
    <div class="modal-dialog">
        <div class="modal-content" style="align-items: center;">
            <!-- Modal Header -->
            <div class="modal-header w-100">
                <h4 class="modal-title">Please Login</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body text-center pt-5 pb-5">
                <p>Please login to your account by click on below button</p>

                <!-- Modal footer -->

                <button id="submit" type="button" class="btn btn-outline-dark cstm-btn">
                    <a href="/Business/Login">
                        Login
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj6D3QtBy7hfNpDe0Gqy2OjBCxrGF0d5k&callback=initMap&libraries=places&v=weekly"
            loading="async" defer></script>

    @*---------slider advertisement ----------*@
    @Html.Partial("/Views/Shared/ScriptPartials/_AdvertisementSliderScriptPartial.cshtml")

    <script src="~/Scripts/js/visitor-panel/index.js"></script>

    <script>

        $(function () {
            $(window).on("scroll", function () {
                if ($(window).scrollTop() > 50) {
                    $(".header").addClass("active-h");
                } else {
                    //remove the background property so it comes transparent again (defined in your css)
                    $(".header").removeClass("active-h");
                }
            });
        });

    </script>
}
