@{
    ViewBag.Title = "Masterpro";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- slick slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font link -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- font link end -->
    <link rel="stylesheet" href="~/Content/visitor-panel/Masterpro/css/stylesheet.css">
    <script src="~/Content/visitor-panel/Masterpro/js/main.js"></script>
    <link href="~/Content/assets/frontend_common.css" rel="stylesheet" />
    <link href="~/Content/lib/StylishAlert/iao-alert.css" rel="stylesheet" />

</head>
<body>
    <style>
        .header {
            background-color: transparent;
        }
        img.inst-profileimage.InstructorProfileImage {
            width: 95%;
            margin: 10px 10px 10px 10px;
            max-height: 400px;
        }

        .profile-content .slide.lazyloaded {
            position: relative;
            box-shadow: 1px 4px 10px 1px;
            min-width: 400px;
            text-align: center;
        }

        .slide.lazyloaded {
            border: 10px solid #f3a762;
            margin: 90px 50px 50px 50px !important;
        }

        body .bg-curve:after {
            content: none !important;
        }

        p.InstructorName {
            text-align: center;
            font-weight: 700;
            font-size: 25px;
            margin-bottom: 10px;
        }

        .profile-content {
            margin-left: 30px;
        }

        .contact .contactform input[type=email], .contact .contactform input[type=text] {
            border: 1px solid #f3a762 !important;
            background: #fff !important;
            color: #f3a762 !important;
        }

        .contact .contactform textarea {
            border: 1px solid #f3a762 !important;
            background: #fff !important;
            color: #F3a762 !important;
        }

        .slide.lazyloaded button {
            margin: 0px auto;
            width: 50%;
            height: 40px;
            border: none;
            margin-bottom: 20px;
            border-radius: 5px;
            font-size: 20px;
        }

        a.message-button.button {
            padding: 15px 7px;
            width: 50%;
            border-radius: 25px;
            margin-bottom: 20px;
        }

        .tabs-main li {
            min-width: 110px;
            border: 1px solid #f3a762;
            padding: 5px 7px;
            border-radius: 5px;
        }

        .portfolio-section .port-tab {
            margin-top: 70px;
        }
        /*----------header start----------------*/
        @@media (min-width: 800px) {
            header.header {
                height: 105px !important;
            }
        }

        header.header {
            background: #f3a762;
            width: 100%;
            position: sticky;
            top: 50px !important;
            transition: .5s ease-in-out, padding .5s ease-in-out;
            z-index: 9;
        }

        .header .page-center {
            max-width: 1300px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .header-main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
        }

        .header .logo {
            flex: 0 0 180px;
            padding-right: 20px;
        }

            .header .logo a {
                display: flex;
                align-items: center;
            }

                .header .logo a img {
                    max-width: 40px;
                }

        .header span.logo-name {
            color: #000;
            font-weight: 600;
            font-size: 16px;
            padding-left: 10px;
        }

        .navigation-section-wrap {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            position: relative;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .header .menu > ul > li {
            display: inline-block;
            margin: 0 7px;
        }

            .header .menu > ul > li > a {
                padding: 30px 0;
                display: inline-block;
                position: relative;
                color: var(--anchorColor);
                font-size: 16px;
                font-weight: 400;
            }

        /*-----------header end---------------*/
        /*-----------footer start---------------*/
        .footer.footer {
            padding: 50px 0;
            border-top: 1px solid #f3a762 !important;
            background: #f3a762;
            position:relative;
            z-index:99999;
        }

        @@media(min-width: 1200px) {
            .footer .container, .container-lg, .container-md, .container-sm, .container-xl {
                max-width: 1530px;
            }
        }
      
        .footer .row-sec {
            display: flex;
            flex-wrap: wrap;
        }

            .footer .row-sec > div {
                flex: 0 0 25%;
                max-width: 100%;
                padding-right: 30px;
            }

        .footer h4 {
            margin: 0 0 8px 0;
            color: var(--headingColor);
            font-size: 30px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
        }

        .small, small {
            font-size: 80%;
            font-weight: 400;
        }

        .footer p {
            margin: 0 0 8px 0;
            font-family: 'Open Sans', sans-serif;
            color: #333333;
            line-height: 1.5;
        }

        a {
            transition: all .3s;
            text-decoration: none;
            display: inline-block;
        }

        .footer .footer-social {
            display: flex;
            align-items: center;
            margin-top: 15px;
        }

        .footer .social-icon {
            margin: 0 10px 10px 0;
        }

            .footer .social-icon > a > i {
                color: #000;
                transition: all .4s;
            }

        .footer h5 {
            margin: 0 0 10px 0;
            color: var(--headingColor);
            font-size: 24px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
        }

        .footer ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .footer .menu-one ul > li > a {
            color: #fff;
            margin-bottom: 10px;
            transition: all .3s;
        }

        .footer p {
            margin: 0 0 8px 0;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            color: #333333;
            line-height: 1.5;
        }

        .footer .col-lg-two a {
            color: #000;
            display: block;
            margin-bottom: 10px;
        }

        .copyrights.border-top.pt-3 {
            background: #f3a762;
            overflow: hidden;
        }

      

        .copyrights.border-top.pt-3 strong.d-flex.copyrights-text {
            display: flex;
            align-items: center;
        }

        .copyrights.border-top.pt-3 a.copyright-company-name.mr-2.ml-2 {
            height: 32px;
        }

        @@media (min-width: 768px) {
            .float-md-right {
                float: right !important;
            }
        }

        .footer-logo.mb-3 img {
            width: 30%;
        }

        .footer-logo.mb-3 {
            display: flex;
            align-items: center;
        }

        .para_logo {
            color: white !important;
        }

        a.text-white {
            color: #fff !important;
        }

        .footer h5 {
            color: #fff;
        }

        .home .social-icon > a, .social-icon > a {
            background: none;
        }
        /*-----------footer end---------------*/
        body .bg-curve:before {
            display: none !important;
        }

        .footer .social-icon {
            margin: 0 10px 10px 0;
            border: 2px solid;
            padding: 5px;
            border-radius: 50%;
            background: #fff;
        }
        .position-fixed {
            position: fixed !important;
        }
    </style>
    <input type="hidden" id="hidden_businessOwnerLoginId" value="@ViewBag.BusinessOwnerLoginId">
    <header class="header">
        <div class="page-center">
            <div class="header-main">
                <div class="logo">
                    <a href="index.html">
                        <img src="/Content/Uploads/MasterzoneLogo/logo.png" alt="logo" loading="lazy">
                        <span class="logo-name">MASTER ZONE</span>
                    </a>
                </div>
                <div class="navigation-section-wrap">
                    <div class="menu">
                        <ul>
                            <li><a class="nav-link text-white" href="/Business/Register">Register as a Professional</a></li>
                            <li><a class="nav-link text-white" href="#">Help</a></li>
                            <li><a class="nav-link text-white" href="/Home/Login">Login / Sign Up</a></li>
                        </ul>
                    </div>
                    <div class="mobile_menu navmain-opener"><span></span></div>
                </div>
            </div>
        </div>
    </header>
    <div class="header">
        <ul class=" icon-menu revealator-slideup revealator-once revealator-delay1" role="tablist">
            <li class="icon-box react-tabs__tab--selected" data-tab="#home_tab">
                <i class="fa fa-home"></i>
                <h2>Home</h2>
            </li>
            <li class="icon-box react-tabs__tab--selected" id="navIconAbout" data-tab="#about_tabs">
                <i class="fa fa-user"></i>
                <h2>About</h2>
            </li>
            <li class="icon-box react-tabs__tab--selected" data-tab="#portfolio_tab">
                <i class="fa fa-briefcase"></i>
                <h2>Portfolio</h2>
            </li>
            </li>
            <li class="icon-box react-tabs__tab--selected" id="navIconContact" data-tab="#contact_tab">
                <i class="fa fa-envelope-open"></i>
                <h2>Contact</h2>
            </li>
            <li class="icon-box react-tabs__tab--selected"  data-tab="#blog_tab">
                <i class="fa fa-comments"></i>
                <h2>Blog</h2>
            </li>

        </ul>
    </div>
    <div class="col-lg-4 bg-curve position-fixed d-none d-lg-block mobile-display">
        <div class="card-started">
            <!-- Profile -->
            <div @*id="portfolio-img" class="profile no-photo home-full"*@>
                <div class="profile-content">
                    <!-- profile image -->
                    <div class="slide lazyloaded">
                        <img class="inst-profileimage InstructorProfileImage" @*id="InstructorProfileImage"*@ alt="image" loading="lazy">
                        <p class="InstructorName"></p>
                        <a type="button" class="message-button button" react-tabs__tab--selected" id="messagebtn">
                            <span class="button-text">Message</span>
                        </a>
                        @*<img src="~/Content/visitor-panel/Masterpro/image/mask.png" alt="image" class="mask-img" loading="lazy">*@
                    </div>
                </div> <!-- profile buttons -->
            </div>
        </div>
    </div>
    </div>

    <div class="right-column-section">
        <div class="home tab-items" id="home_tab">
            <div class="container-fluid container container-home p-0 g-0 " data-aos-duration="1200">
                <div class="color-block d-none d-lg-block"></div>
                <div class="row home-details-container align-items-center">
                    <div class="col-12 col-lg-8 offset-lg-4 home-details text-center text-lg-start">
                        <div>
                            <img class="profile-mobile InstructorProfileImage" alt="image" loading="lazy">
                            <h1 class="text-uppercase poppins-font">
                                I'm
                                <span class="inst-name InstructorName"></span>
                                <span id="about_details"></span>
                            </h1>
                            <span id="InstructorAbout" class="inst-About"></span>
                            <div class="social-follow">
                                <div class="social-icon">
                                    <div class="InstructorFacebook "></div>
                                </div>
                                <div class="social-icon">
                                    <div class="InstructorTwitter"></div>
                                </div>

                                <div class="social-icon">
                                    <div class="InstructorInstagram"></div>
                                </div>
                                <div class="social-icon">
                                    <div class="InstructorLinkdin"></div>
                                </div>
                            </div>

                            <button class="button " id="btnAbout">
                                <span class="button-text">more about me</span>
                                <span class="button-icon fa fa-arrow-right"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about me -->
        <div class="about-me about  tab-items " id="about_tabs">
            <div class="about-me-details container">
                <div class="about-heading">
                    <div class="title-section text-start text-sm-center"><h1>ABOUT <span>ME</span></h1></div>
                </div>
                <!-- about details -->
                <div class="about-col-flex">
                    <div class="about-lt-col">
                        <div class="lt-col-in">
                            <h3 class="text-uppercase custom-title mb-0 ft-wt-600">Personal Information</h3>
                            <ul class="about-list list-unstyled open-sans-font">
                                <li><span class="title">first name: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block " id="InstructorFirstName"></span></li>
                                <li><span class="title">last name: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block " id="InstructorLastName"></span></li>
                                <li><span class="title">Age: </span><span class=" InstructorAge value d-block d-sm-inline-block d-lg-block d-xl-inline-block "></span></li>
                                <li><span class="title">Nationality: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block " id="InstructorNationality"></span></li>
                                <li><span class="title">Freelance: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block green" id="Instructorfreelance"></span></li>
                                <li><span class="title">Address: </span><span class=" InstructorAddress value d-block d-sm-inline-block d-lg-block d-xl-inline-block  "></span></li>
                                <li><span class="title">Country Code: </span><span class="InstructorNumberCountryCode  value d-block d-sm-inline-block d-lg-block d-xl-inline-block "></span></li>
                                <li><span class="title">phone: </span><span class="InstructorNumber value d-block d-sm-inline-block d-lg-block d-xl-inline-block "></span></li>
                                <li><span class="title">Email: </span><span class="InstructorEmail  value d-block d-sm-inline-block d-lg-block d-xl-inline-block "></span></li>
                                <li><span class="title">Skype: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block " id="InstructorSkype"></span></li>
                                <li><span class="title">langages: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block " id="Instructorlangages"></span></li>
                            </ul>
                            <a class="button" id="downloadCVButton" download>
                                <span class="button-text">Download CV</span>
                                <span class="button-icon fa fa-download"></span>
                            </a>
                        </div>
                    </div>
                    @*----------------------------------------BindMasterproExtraInfo------------------------------*@
                    <div class="about-rt-col">
                        <div class="row-iner" id="BindMasterproExtradetailsDetail">

                        </div>
                    </div>
                </div>
                <hr class="separator">
                @*----------------------------------------MyServices------------------------------*@

                <div class="my-services">
                    <div class="title-section text-start text-sm-center " data-aos-duration="1200">
                        <h1>My <span>Service</span></h1>
                    </div>
                    <div class="col-iner-main" id="BindBusinessServiceSingleDetail">

                    </div>
                </div>
                <!--------------------------------- Certificate ----------------------------------------->
                <div class="certificates-section" id="certificates">
                    <div class="title-section text-start text-sm-center " data-aos-duration="1200">
                        <h1>My <span>certificates</span></h1>
                    </div>
                    <div class="certi-main " id="BindBusinessCertificateDetail">
                    </div>
                </div>
                @*----------------------------Experience and Education----------------------------------*@
                <hr class="separator">
                <div class="experience-main container">
                    <div class="title">
                        <h3>Experience</h3>
                    </div>
                    <div class="experience-flex">
                        <div class="experience-left-col">
                            <div class="resume-box" id="BindExperienceDetail">
                                <ul>
                                </ul>
                            </div>

                        </div>
                        <div class="title">
                            <h3> Education</h3>
                        </div>
                        <div class="experience-left-right">

                            <div class="resume-box" id="BindEducationdetailsDetail">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- portfolio -->
        <div class="portfolio-section tab-items " id="portfolio_tab">
            <div class="container">
                <div class="filter-sec">
                    <h2 class="custom-title">Port<span class="hight-light">folio</span></h2>
                    <ul class="tabs-main">
                        <li data-tab="#all">
                            ALL
                        </li>
                        <li data-tab="#Pdf">
                            PDF
                        </li>
                        <li data-tab="#video">
                            VIDEO
                        </li>
                    </ul>

                    <div class="port-tab">
                        @*---------------------------GetAllpdfVideo-----------------------------------*@
                        <div class="port-tabbing" id="all">
                            <div class="img-main " id="BindBusinessAllImageAndVideos">

                            </div>
                        </div>
                        @*-----------------------------pdf---------------------------------*@

                        <div class="port-tabbing" id="Pdf">
                            <div class="img-main" id="BindMasterproPdf">

                            </div>
                        </div>

                        @*-----------------------------Video---------------------------------*@
                        <div class="port-tabbing" id="video">
                            <div class="img-main" id="BindInstructorVideosList">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact us -->
    <div class="contact  tab-items" id="contact_tab">

        <div class="container " data-aos-duration="1200">
            <div class="title-section text-start text-sm-center " data-aos-duration="1200">
                <h1>get in <span>touch</span></h1>
            </div>
            <div class="row-flex row">
                <div class="row-flex-iner col-12 col-lg-4">
                    <h3 class="text-uppercase custom-title mb-0 ft-wt-600 pb-3">Don't be shy !</h3>
                    <p class="open-sans-font mb-4">Feel free to get in touch with me. I am always open to discussing new projects, creative ideas or opportunities to be part of your visions.</p>
                    <p class="open-sans-font custom-span-contact position-relative"><i class="fa fa-map position-absolute"></i><span class="d-block">Address Point</span><p class="InstructorAddress"></p></p>
                    <p class="open-sans-font custom-span-contact position-relative"><i class="fa fa-envelope-open position-absolute"></i><span class="d-block">mail me</span><p class="InstructorEmail"></p></p>
                    <p class="open-sans-font custom-span-contact position-relative"><i class="fa fa-phone-square position-absolute"></i><span class="d-block">call me</span><span class="InstructorNumber"></span></p>
                    <div class="social-follow">
                        <div class="social-icon">
                            <div class="InstructorFacebook "></div>
                        </div>
                        <div class="social-icon">
                            <div class="InstructorTwitter"></div>
                        </div>

                        <div class="social-icon">
                            <div class="InstructorInstagram"></div>
                        </div>
                        <div class="social-icon">
                            <div class="InstructorLinkdin"></div>
                        </div>
                    </div>
                </div>
                <div class="row-flex-in col-12 col-lg-8">
                    <form id="myForm" class="contactform">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group"><input type="text" name="name" id="text_Contact_Name" placeholder="YOUR NAME" required=""></div>
                                <span class="error-message" id="error_text_Contact_Name"></span>

                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group"><input type="email" name="user_email" id="text_Email_Address" placeholder="YOUR EMAIL" required=""></div>
                                <span class="error-message" id="error_text_Email_Address"></span>

                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-group"><input type="text" name="subject" id="text_phone" placeholder="YOUR NUMBER" required=""></div>
                                <span class="error-message" id="error_text_phone"></span>

                            </div>

                            <div class="col-12">
                                <div class="form-group"><textarea name="message" id="text_Messages" placeholder="YOUR MESSAGE" required=""></textarea></div>
                                <span class="error-message" id="error_text_Messages"></span>

                            </div>
                            <div class="col-12">
                                <button type="button" class="button" onclick="btnSubmitUser()">
                                    <span class="button-text">Send Message</span>
                                    <span class="button-icon fa-regular fa-paper-plane"></span>
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- blog -->
    <div class="blog  tab-items " id="blog_tab">

        <div class="container " data-aos-duration="1200">
            <div class="title-section text-start text-sm-center " data-aos-duration="1200">
                <h1>my <span>blog</span></h1>
            </div>
            <div class="blog-flex">
                <div class="post-container">
                    <div class="post-thumb">
                        <div class="img-iner">
                            <a href="#" class="link"></a>
                            <img src="~/Content/visitor-panel/Masterpro/image/banner.jpg" alt="post image" loading="lazy">
                        </div>
                        <div class="post-content">
                            <div class="entry-header">
                                <h3>How to Own Your Audience by Creating an Email List</h3>
                            </div>
                            <div class="entry-content open-sans-font">
                                <p>Tomfoolery crikey bits and bobs brilliant bamboozled down the pub amongst brolly hanky panky, cack b</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="post-container">
                    <div class="post-thumb">
                        <div class="img-iner">
                            <a href="#" class="link"></a>
                            <img src="~/Content/visitor-panel/Masterpro/image/Certy.jpg" alt="post image" loading="lazy">
                        </div>
                        <div class="post-content"><div class="entry-header"><h3>Top 10 Toolkits for Deep Learning in 2022</h3></div><div class="entry-content open-sans-font"><p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut e</p></div></div>
                    </div>

                </div>
                <div class="post-container">
                    <div class="post-thumb">
                        <div class="img-iner">
                            <a href="#" class="link"></a>
                            <img src="~/Content/visitor-panel/Masterpro/image/banner.jpg" alt="post image" loading="lazy">
                        </div>
                        <div class="post-content">
                            <div class="entry-header">
                                <h3>How to Own Your Audience by Creating an Email List</h3>
                            </div>
                            <div class="entry-content open-sans-font">
                                <p>Tomfoolery crikey bits and bobs brilliant bamboozled down the pub amongst brolly hanky panky, cack b</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="post-container">
                    <div class="post-thumb">
                        <div class="img-iner">
                            <a href="#" class="link"></a>
                            <img src="~/Content/visitor-panel/Masterpro/image/Certy.jpg" alt="post image" loading="lazy">
                        </div>
                        <div class="post-content"><div class="entry-header"><h3>Top 10 Toolkits for Deep Learning in 2022</h3></div><div class="entry-content open-sans-font"><p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut e</p></div></div>
                    </div>

                </div>
                <div class="post-container">
                    <div class="post-thumb">
                        <div class="img-iner">
                            <a href="#" class="link"></a>
                            <img src="~/Content/visitor-panel/Masterpro/image/banner.jpg" alt="post image" loading="lazy">
                        </div>
                        <div class="post-content">
                            <div class="entry-header">
                                <h3>How to Own Your Audience by Creating an Email List</h3>
                            </div>
                            <div class="entry-content open-sans-font">
                                <p>Tomfoolery crikey bits and bobs brilliant bamboozled down the pub amongst brolly hanky panky, cack b</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="post-container">
                    <div class="post-thumb">
                        <div class="img-iner">
                            <a href="#" class="link"></a>
                            <img src="~/Content/visitor-panel/Masterpro/image/Certy.jpg" alt="post image" loading="lazy">
                        </div>
                        <div class="post-content"><div class="entry-header"><h3>Top 10 Toolkits for Deep Learning in 2022</h3></div><div class="entry-content open-sans-font"><p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut e</p></div></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>

    </div>
    <div class="about-me-fixed">
        <div class="cross-filter">+</div>
        <div class="about-me about ">
            <div class="container">
                <div class="about-heading">
                    <div class="title-section text-start text-sm-center"><h1>ABOUT <span>ME</span></h1></div>
                </div>
                <!-- about details -->
                <div class="about-col-flex">
                    <div class="about-lt-col">
                        <div class="lt-col-in">
                            <h3 class="text-uppercase custom-title mb-0 ft-wt-600">personal infos</h3>
                            <ul class="about-list list-unstyled open-sans-font">
                                <li><span class="title">first name: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block ">Steve</span></li>
                                <li><span class="title">last name: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block ">Milner</span></li>
                                <li><span class="title">Age: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block ">27 Years</span></li>
                                <li><span class="title">Nationality: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block ">Tunisian</span></li>
                                <li><span class="title">Freelance: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block green">Available</span></li>
                                <li><span class="title">Address: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block ">Tunis</span></li>
                                <li><span class="title">phone: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block ">+21621184010</span></li>
                                <li><span class="title">Email: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block ">you@mail.com</span></li>
                                <li><span class="title">Skype: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block "> steve.milner</span></li>
                                <li><span class="title">langages: </span><span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block ">French, English</span></li>
                            </ul>
                            <a class="button" href="" download="">
                                <span class="button-text">Download CV</span>
                                <span class="button-icon fa fa-download"></span>
                            </a>
                        </div>
                    </div>
                    <div class="about-rt-col" id="BindMasterproExtraInfo">
                    </div>
                </div>

                <hr class="separator">
                <div class="my-services">
                    <div class="container">
                        <div class="title-section text-start text-sm-center " data-aos-duration="1200">
                            <h1>My <span>Service</span></h1>
                        </div>
                        <div class="col-iner-main GymBannerDetail">

                        </div>
                    </div>
                </div>
                <!-- skills -->
                <div class="certificates-section" id="certificates">
                    <div class="container">
                        <div class="title-section text-start text-sm-center " data-aos-duration="1200">
                            <h1>My <span>certificates</span></h1>
                        </div>
                        <div class="certi-main">

                        </div>
                    </div>
                </div>

                <hr class="separator">
                <div class="experience-main">
                    <div class="title">
                        <h3>Experience <span>&amp;</span> Education</h3>
                    </div>
                    <div class="experience-flex">

                        <div class="experience-left-col">
                            <div class="resume-box">
                                <ul>
                                    <li>
                                        <div class="icon"><i class="fa fa-briefcase"></i></div><span class="time open-sans-font text-uppercase"> 2018 - Present</span>
                                        <h5 class="poppins-font text-uppercase"> Web Developer<span class="place open-sans-font">Envato</span></h5>
                                        <p class="open-sans-font"> Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit</p>
                                    </li>
                                    <li>
                                        <div class="icon"><i class="fa fa-briefcase"></i></div><span class="time open-sans-font text-uppercase">2013 - 2018</span>
                                        <h5 class="poppins-font text-uppercase"> UI/UX Designer<span class="place open-sans-font">Themeforest</span></h5>
                                        <p class="open-sans-font">Lorem incididunt dolor sit amet, consectetur eiusmod dunt doldunt dol elit, tempor incididunt</p>
                                    </li>
                                    <li>
                                        <div class="icon"><i class="fa fa-briefcase"></i></div><span class="time open-sans-font text-uppercase">2005 - 2013</span>
                                        <h5 class="poppins-font text-uppercase">Consultant<span class="place open-sans-font">Videohive</span></h5>
                                        <p class="open-sans-font">Lorem ipsum dolor sit amet, tempor incididunt ut laboreconsectetur elit, sed do eiusmod tempor duntt</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="experience-left-right">
                            <div class="resume-box">
                                <ul>
                                    <li>
                                        <div class="icon"><i class="fa fa-briefcase"></i></div><span class="time open-sans-font text-uppercase">2015</span>
                                        <h5 class="poppins-font text-uppercase">ENGINEERING DEGREE<span class="place open-sans-font">OXFORD UNIVERSITY</span></h5>
                                        <p class="open-sans-font"> Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit</p>
                                    </li>
                                    <li>
                                        <div class="icon"><i class="fa fa-briefcase"></i></div><span class="time open-sans-font text-uppercase">2012</span>
                                        <h5 class="poppins-font text-uppercase">MASTER DEGREE<span class="place open-sans-font">KIEV UNIVERSITY</span></h5>
                                        <p class="open-sans-font">Lorem incididunt dolor sit amet, consectetur eiusmod dunt doldunt dol elit, tempor incididunt</p>
                                    </li>
                                    <li>
                                        <div class="icon"><i class="fa fa-briefcase"></i></div><span class="time open-sans-font text-uppercase">2009</span>
                                        <h5 class="poppins-font text-uppercase">BACHELOR DEGREE <span class="place open-sans-font">TUNIS HIGH SCHOOL</span></h5>
                                        <p class="open-sans-font">Lorem ipsum dolor sit amet, tempor incididunt ut laboreconsectetur elit, sed do eiusmod tempor duntt</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="overley_popup_active"></div>
    <footer class="footer">
        <div class="container">
            <div class="row-sec">
                <div class="col-lg-one">
                    <div class="footer-logo mb-3">
                        <img src="/Content/Uploads/MasterzoneLogo/logo.png" class="ls-p-lg mblg-ls  mr-2" style="box-shadow: none !important;">
                        <p class="para_logo">Master Zone is completely creative, lightweight, Clean Admin Dashboard.</p>
                    </div>
                    <div class="footer-social" id="BusinessSocialDetail_Footer">
                        <div class="social-icon">
                            <a href=""><i class="fa-brands fa-facebook-f"></i> </a>
                        </div>
                        <div class="social-icon">
                            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                        <div class="social-icon">
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                        </div>
                        <div class="social-icon">
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-two">
                    <div class="menu-one">
                        <h5 class="uppercase">About</h5>
                        <ul>
                            <li><a class="text-white" href="/Home/About">About Us</a></li>
                            <li><a class="text-white" href="/Home/Contact">Contact Us</a></li>
                            <li><a class="text-white" href="">Business Detail</a></li>
                            <li><a class="text-white" href="/Home/BusinessListing">Find Business </a></li>
                            <li><a class="text-white" href="/Home/TermCondition">Terms &amp; Conditions</a></li>
                            <li><a class="text-white" href="/Home/Privacy">Privacy Policy</a></li>
                        </ul>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-two">
                    <div class="menu-one">
                        <h5 class="uppercase">
                            Support
                        </h5>
                        <ul>
                            <li><a class="text-white" href="#">Help</a></li>
                            <li><a class="text-white" href="#">Support</a></li>
                            <li><a class="text-white" href="#">Privacy Policy</a></li>
                            <li><a class="text-white" href="#">Term &amp; Conditions</a></li>
                            <li><a class="text-white" href="#">Help &amp; Support</a></li>
                        </ul>
                    </div>


                </div>
                <div class="col-lg-two">
                    <h5>Contact</h5>
                    <ul>
                        <li><a class="text-white" href="#">Call Centre</a></li>
                        <li><a class="text-white" href="#">Email Us</a></li>
                        <li><a class="text-white" href="#">Term &amp; Conditions</a></li>
                        <li><a class="text-white" href="#">Help Center</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
    <!-- copyright section -->
    <div class="copyrights border-top pt-3">
        <div class="container ">
            <div class="row">

                <div class="col-sm-12 col-md-6">
                    <strong class="d-flex copyrights-text " style="white-space: nowrap;">
                        <p class="text-white"> Copyright © 2023</p> <a class="copyright-company-name mr-2 ml-2" href="index.html"> Master Zone.</a>
                        <p class="text-white">All rights reserved.</p>
                    </strong>

                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="float-md-right d-sm-inline-block">
                        <a class="text-white" target="_blank" href="https://protolabzit.com/">
                            <p class="text-white text-center" id="footer-text" style="color: #869099;
                           font-size: 1rem;"> Developed &amp; Designed by: Protolabz eServices</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/Content/lib/StylishAlert/iao-alert.jquery.js"></script>
    @Html.Partial("~/Views/Shared/ScriptPartials/VisitorPanel/_MasterProScriptPartial.cshtml")
</body>
</html>




