
@{
    Layout = null;
    long businessOwnerLoginId = ViewBag.BusinessOwnerLoginId;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>


    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- slick slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font link -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- font link end -->
    <link rel="stylesheet" href="~/Content/visitor-panel/css/stylesheet.css">
    <link href="~/Content/assets/MasterProfileAPI.css" rel="stylesheet" />
    <script src="~/Scripts/js/main.js"></script>

</head>
<body class="membership-template">
    <input type="hidden" id="hiddenBusinessOwnerLoginId" value="@ViewBag.BusinessOwnerLoginId" />
    <!-- header -->
    <header class="header">
        <div class="page-center">
            <div class="header-main">
                <div class="logo" id="BindBusinessLogoDetail">
                    @*<a href="index.html">
                            <img src="~/Content/visitor-panel/image/LOGO.png" alt="logo" loading="lazy">
                        </a>*@
                </div>
                <div class="nav-sec">
                    <div class="menu">
                        <ul>
                            <li><a href="/Home/MasterProfileAPI?businessOwnerLoginId=@ViewBag.BusinessOwnerLoginId">Home</a></li>
                            <li><a href="/Home/MasterInstructors?businessOwnerLoginId=@ViewBag.BusinessOwnerLoginId">Instructor </a></li>
                            <li><a class="active_menu" href="/Home/MemberShip?businessOwnerLoginId=@ViewBag.BusinessOwnerLoginId">Membership</a></li>
                            <li><a href="/Home/TimeTable?businessOwnerLoginId=@ViewBag.BusinessOwnerLoginId">Time Table</a></li>
                            <li><a href="/Home/BusinessRoom?businessOwnerLoginId=@ViewBag.BusinessOwnerLoginId">Room</a></li>
                            <li><a href="/Home/MasterProfileAPI?businessOwnerLoginId=@ViewBag.BusinessOwnerLoginId#contactsection">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="mobile_menu navmain-opener"><span></span></div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <div id="BindBusinessMemberShipDetail">
        @*<div class="membership-banner" style="background-image: url('/Content/visitor-panel/image/kath04.jpg');">
                <div class="page-center">
                    <div class="content">
                        <h1>Membership</h1>
                        <p>
                            Men who are so beguiled and demoralized by the charms
                            of pleasure of the moment, so blinded by desire, that they cannot foresee today.
                        </p>

                    </div>
                </div>

            </div>*@
    </div>
    <div class="membership-section">
        <div class="page-center">
            <div class="membership-col">
                <div class="membership-col-lt" id="BindBusinessMemberShipPackageDetail">
                    @*<div class="title">
                            <h2> Beginner Membership</h2>
                            <p class="light-wt"> Children & Adults</p>

                        </div>
                        <div class="des">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed sit amet urna ac tortor convallis viverra eget eget augue.
                                Morbi tempus fermentum urna ut commodo. In in metus a erat ultricies aliquet.
                                Sed non consectetur erat. Suspendisse fringilla tempor volutpat.
                                Donec rhoncus feugiat venenatis. Pellentesque in erat augue
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed sit amet urna ac tortor convallis viverra eget eget augue.
                                Morbi tempus fermentum urna ut commodo. In in metus a erat ultricies aliquet.
                                Sed non consectetur erat. Suspendisse fringilla tempor volutpat.
                                Donec rhoncus feugiat venenatis. Pellentesque in erat augue
                            </p>

                        </div>*@
                </div>
                <div class="membership-col-rt" id="BindBusinessActivePlanDetaillst" style="max-height: 588px; overflow: scroll; overflow-x: hidden;">
                    @*<div class="membership-col-one" >
                        <div class="membership-price">
                             <span class="sub-title"> SINGLE CLASS</span>
                             <span class="prize">$25</span>
                             <span class="text">Drop-In</span>
                             <a class="primary-button" href="#">Buy now</a>


                         </div>
                         <div class="membership-price">
                             <span class="sub-title">
                                 PIROUETTE SWING
                             </span>
                             <span class="prize">$35</span>
                             <span class="text">
                                 Ballet Master Class

                             </span>
                             <a class="primary-button" href="#">Buy now</a>


                         </div>
                                </div>*@
                    @*<div class="membership--col-two">
                            <div class="membership-price">
                                <span class="sub-title">
                                    INTRO OFFER
                                </span>
                                <span class="prize">
                                    $50
                                </span>
                                <span class="text">
                                    One Week unlimited
                                </span>
                                <a class="primary-button" href="#">Buy now</a>


                            </div>

                            <div class="membership-price">
                                <span class="sub-title">
                                    PIROUETTE SESSION
                                </span>
                                <span class="prize">$35</span>
                                <span class="text">
                                    4 Week Session Class

                                </span>
                                <a class="primary-button" href="#">Buy now</a>


                            </div>
                        </div>*@

                </div>
            </div>

        </div>

    </div>
    <div class="icon-text-section">
        <div class="page-center">
            <div class="icon-text-col BindBusinessMemberShipPlanServiceDetail">

                @*<div class="icon-text-item">
                        <div class="icon">
                            <i class="fa-regular fa-calendar"></i>
                        </div>
                        <div class="text">
                            <p>3 Months Expiration from Date of Purchase</p>
                        </div>
                    </div>
                    <div class="icon-text-item">
                        <div class="icon">
                            <i class="fa-regular fa-clock"></i>
                        </div>
                        <div class="text">
                            <p>
                                Each Class is
                                60 Minutes
                            </p>
                        </div>
                    </div>
                    <div class="icon-text-item">
                        <div class="icon">
                            <i class="fa-regular fa-user"></i>
                        </div>
                        <div class="text">
                            <p>All Passes are Non-Transferable </p>
                        </div>
                    </div>
                    <div class="icon-text-item">
                        <div class="icon">
                            <i class="fa-solid fa-ban"></i>
                        </div>
                        <div class="text">
                            <p>
                                No Refunds or Time Extensions

                            </p>
                        </div>
                    </div>
                    <div class="icon-text-item">
                        <div class="icon">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        <div class="text">
                            <p>
                                Missed Classes do
                                NOT Roll Over
                            </p>
                        </div>
                    </div>*@

            </div>
        </div>

    </div>
    <!-- membership second -->
    <div class="membership-section bg-color">
            <div class="page-center">
                <div class="membership-col"  >
                    <div class="membership-col-lt" id="advancemembership" ></div>
                        @* <div class="title">
                <h2>
                    Advanced Membership
                </h2>
                <p class="light-wt">
                    Children & Adults
                </p>

            </div>
            <div class="des">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed sit amet urna ac tortor convallis viverra eget eget augue.
                    Morbi tempus fermentum urna ut commodo. In in metus a erat ultricies aliquet.
                    Sed non consectetur erat. Suspendisse fringilla tempor volutpat.
                    Donec rhoncus feugiat venenatis. Pellentesque in erat augue
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed sit amet urna ac tortor convallis viverra eget eget augue.
                    Morbi tempus fermentum urna ut commodo. In in metus a erat ultricies aliquet.
                    Sed non consectetur erat. Suspendisse fringilla tempor volutpat.
                    Donec rhoncus feugiat venenatis. Pellentesque in erat augue
                </p>

            </div>
        </div>*@
                        <div class="membership-col-rt" id="advanceplandetails">
                            @*<div class="membership-col-one">
                <div class="membership-price">
                    <span class="sub-title"> 3 INCHES  </span>
                    <span class="prize">$150</span>
                    <span class="text">3 Month <br>Contract</span>
                    <a class="primary-button" href="#">Buy Pass</a>
                </div>
                <div class="membership-price">
                    <span class="sub-title">
                        12 INCHES
                    </span>
                    <span class="prize">$99</span>
                    <span class="text">12 Month <br>Contract</span>

                    </span>
                    <a class="primary-button" href="#">Buy Pass</a>


                </div>
            </div>
            <div class="membership--col-two">
                <div class="membership-price">
                    <span class="sub-title">
                        6 INCHES
                    </span>
                    <span class="prize">$125</span>
                    <span class="text">6 Month <br>Contract</span>

                    </span>
                    <a class="primary-button" href="#">Buy Pass</a>


                </div>
                <div class="membership-price">
                    <span class="sub-title">
                        MONTH TO MONTH

                    </span>
                    <span class="prize">$175</span>
                    <span class="text">Without<br>Contract</span>

                    </span>
                    <a class="primary-button" href="#">Buy Pass</a>


                </div>
            </div>*@

                        </div>
                    </div>

            </div>

        </div>
    <div class="icon-text-section bg-color">
            <div class="page-center">
                <div class="icon-text-col BindBusinessMemberShipPlanServiceDetail">

                    @*<div class="icon-text-item">
                        <div class="icon">
                            <i class="fa-regular fa-calendar"></i>
                        </div>
                        <div class="text">
                            <p>3 Months Expiration from Date of Purchase</p>
                        </div>
                    </div>
                    <div class="icon-text-item">
                        <div class="icon">
                            <i class="fa-regular fa-clock"></i>
                        </div>
                        <div class="text">
                            <p>
                                Each Class is
                                60 Minutes
                            </p>
                        </div>
                    </div>
                    <div class="icon-text-item">
                        <div class="icon">
                            <i class="fa-regular fa-user"></i>
                        </div>
                        <div class="text">
                            <p>All Passes are Non-Transferable </p>
                        </div>
                    </div>
                    <div class="icon-text-item">
                        <div class="icon">
                            <i class="fa-solid fa-ban"></i>
                        </div>
                        <div class="text">
                            <p>
                                No Refunds or Time Extensions

                            </p>
                        </div>
                    </div>
                    <div class="icon-text-item">
                        <div class="icon">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        <div class="text">
                            <p>
                                Missed Classes do
                                NOT Roll Over
                            </p>
                        </div>
                    </div>*@

                </div>
            </div>

        </div>
    <!-- Terms & Conditions-->
    <div class="terms-conditions">
        <div class="page-center">
            <div id="BindTermConditionTitleDetail"> @*<h2 class="title-sec">Terms & Conditions</h2>*@</div>
            <div class="terms-conditions-col">
                <div class="body-text" id="BindTermConditionInformation">
                    @*<p>
                            But I must explain to you how all this mistaken idea of denouncing pleasure
                            and praising pain was born and I will give you a
                            complete account of the system, and expound the actual
                            teachings of the great explorer of the truth, the master-builder of human happiness.
                        </p>
                        <p>
                            No one rejects, dislikes, or avoids pleasure itself,
                            because it is pleasure, but because those who do not
                            know how to pursue pleasure rationally encounter conse
                            that are extremely painful. Nor again is there anyone who loves.


                        </p>*@
                </div>

            </div>
        </div>
    </div>


    <!-- footer -->
    <footer class="footer">
        <div class="page-center">
            <div class="row-sec">
                <div class="col-lg-one">
                    <div id="BindBusinessAboutDetail">
                        @*<div class="footer-logo">
                                <a href="index.html">
                                    <img src="~/Content/visitor-panel/image/LOGO.png" alt="logo" loading="lazy">
                                </a>
                                <div class="logo-title">
                                    <h6>NrityamRuchi Academy Of Performing Arts </h6>
                                </div>
                            </div>
                            <p class="small">Vestibulum in ultrices justo. Praesent placerat justo metus, vitae malesuada lacus eleifend vel. Vivamus viverra volutpat leo, a gravida dolor posuere congue.</p>*@
                    </div>
                    <div class="footer-social" id="BusinessSocialDetail_Footer">
                        @*<div class="social-icon">
                                <a href=""><i class="fa-brands fa-facebook-f"></i>	</a>
                            </div>
                            <div class="social-icon">
                                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                            <div class="social-icon">
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                            </div>
                            <div class="social-icon">
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                            </div>*@
                    </div>
                </div>

                <div class="col-lg-two">
                    <div class="menu-one">
                        <h5 class="uppercase">Quick Links</h5>
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="/Home/MasterProfileAPI?businessOwnerLoginId=@ViewBag.BusinessOwnerLoginId#BindBusinessAboutDetail">About Us</a>
                            </li>

                            <li>
                                <a href="/Home/MasterProfileAPI?businessOwnerLoginId=@ViewBag.BusinessOwnerLoginId#eventsection">Event</a>
                            </li>
                            <li>
                                <a href="/Home/MasterProfileAPI?businessOwnerLoginId=@ViewBag.BusinessOwnerLoginId#contactsection">Contact Us</a>
                            </li>
                        </ul>
                    </div>


                </div>

                <div class="col-lg-two">
                    <div class="menu-one">
                        <h5 class="uppercase">
                            Useful Links

                        </h5>
                        <ul>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms and Conditions</a>
                            </li>

                            <li>
                                <a href="#">Support</a>
                            </li>
                            <li>
                                <a href="#">Faq</a>
                            </li>
                        </ul>
                    </div>


                </div>
                <div class="col-lg-two" id="BindContactDetailInformation">
                    @*<h5>Contact Us</h5>
                        <p>
                            178 West 27th Street, Suite 527, New York NY 10012 United States
                        </p>
                        <a href="tel:1234567890">1234567890</a>
                        <a href="mailto:company@yourname.com">company@yourname.com</a>*@
                </div>

            </div>
        </div>
    </footer>
    <!-- copyright section -->
    <div class="copyrights border-top pt-3" style="background-color: #f3a762;">
        <div class="container ">
            <div class="row">

                <div class="col-sm-12 col-md-6">
                    <strong class="d-flex copyrights-text " style="white-space: nowrap;">
                        <p class="text-white"> Copyright © 2023</p> <a class="copyright-company-name mr-2 ml-2" href="index.html"> Master Zone.</a>
                        <p class="text-white">All rights reserved.</p>
                    </strong>

                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="float-md-right d-sm-inline-block">
                        <a class="text-white" target="_blank" href="https://protolabzit.com/">
                            <p class="text-white text-center" id="footer-text" style="color: #869099;
                         font-size: 1rem;"> Developed &amp; Designed by: Protolabz eServices</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="/Scripts/js/loader.js"></script>
<script src="~/Content/lib/StylishAlert/iao-alert.jquery.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_MemberShipScriptPartial.cshtml")
