
@{
    ViewBag.Title = "More Categories";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
}

@section Styles {
    <style>
        .cate-g-cn-inr a:hover {
            text-decoration: unset;
        }

        header.header {
            position: absolute;
        }

        .banner-sec {
            height: 50vh !important;
        }

        .banner-content {
            margin: -4rem 0rem 10rem auto !important;
        }

        @@media(min-width:800px) {
            .banner-sec {
                height: 50vh !important;
                padding: 10rem 0 10rem !important;
            }

            .banner-sec {
                background-size: cover !important;
                background-position: top !important;
            }
        }

        @@media(max-width:800px) {

            .cate-g-cn-wrap {
                display: grid !important;
                grid-template-rows: repeat(3, 1fr) !important;
                grid-template-columns: repeat(3, 1fr) !important;
                justify-items: center !important;
                gap: 1rem 4rem;
            }
        }

        i.fa.fa-globe {
            border: 1px solid;
            padding: 10px;
            border-radius: 18px;
        }

        section.cate-g-dsfjsk {
            margin-top: 2rem;
        }

        section.cate-g-dsfjsk {
            margin-bottom: 2rem;
        }

        .row.cate-g-rw-sdfjskl {
            margin-top: 1rem;
        }

        .cate-g-cn-wrap {
            display: flex;
        }

        header.header.active-h {
            position: unset;
        }

        a:hover {
            color: #f3a762;
            text-decoration: underline;
        }

        header.header.active-h div#navbarTogglerDemo03 {
            width: unset;
        }

        .cate-g-cn-inr i.fa.fa-globe {
            font-size: 3rem;
        }

        .cate-g-cn-inr {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 12.5%;
        }

        p.cate-g-txt-fjdsk {
            color: black;
            font-size: 0.9rem;
            font-weight: 400;
        }

        .cate-g-cn-inr a {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cate-g-cn-wrap {
            display: flex;
            padding: 1rem 0;
            flex-wrap: wrap;
        }

        .col-12.col-sm-6.col-lg.mb-4.abt-sdfdkfds {
            padding-left: unset;
        }

        figcaption.caption {
            color: #FFF;
            background: rgba(0, 0, 0, 0.3);
            width: 70% !important;
            position: absolute;
            margin: 0px 15% !important;
            top: 200px !important;
            text-align: center;
            padding: 15px;
            border-radius: 30px;
            right: 0% !important;
        }
    </style>

    <link href="~/Content/custom/css/home-banner-slider.css" rel="stylesheet" />
}

@*<div class="banner-sec" style="background: url(/Content/visitor-panel/image/taj2.jpg);">
        <div class="page-center">

        </div>
    </div>*@


<div class="slider-wrap top-banner-section">
    <div class="top-banner-slider-section">
        <div class="top-banner-slider">
            <section class="main-slider">
                @*<div class="item image">
                        <figure>
                            <div class="slide-image slide-media" style="background-image:url('https://images.unsplash.com/photo-1617339847756-976edbc411e7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTE4Mg&ixlib=rb-1.2.1&q=85');">
                                <img data-lazy="https://images.unsplash.com/photo-1617339847756-976edbc411e7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzA4MTE4Mg&ixlib=rb-1.2.1&q=85" class="image-entity" />
                            </div>
                            <figcaption class="caption">Static Image</figcaption>
                        </figure>
                    </div>


                    <div class="item youtube">
                        <iframe class="embed-player slide-media" width="980" height="520" src="https://www.youtube.com/embed/QV5EXOFcdrQ?enablejsapi=1&controls=0&fs=0&iv_load_policy=3&rel=0&showinfo=0&loop=1&playlist=QV5EXOFcdrQ&start=1" frameborder="0" allowfullscreen></iframe>
                        <p class="caption">YouTube</p>
                    </div>*@

            </section>

        </div>

    </div>
</div>
<!-- end banner section -->

<section class="cate-g-dsfjsk">
    <div id="sectionMenuItemList" class="container con-cate-g-dsfjsk">

    </div>
</section>


@section Scripts {
    @Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_MoreCategoriesScriptPartial.cshtml")
}