
@{
    ViewBag.Title = "Profile Setting";
    Layout = "~/Views/Shared/VistiorHomeLayout.cshtml";
}


@section Styles{
    <style>
        .categoryIcon {
            width: 75px;
            height: 75px;
        }

        .categoryIconPreview {
            border: 2px dashed #cecece;
            height: 75px;
            width: 75px;
            margin: 5px 0px;
            padding: 5px;
        }

        .my-cl-cnt-jdkfjk4 {
            display: flex;
            margin-left: inherit;
            padding: 4rem 2rem;
        }

        .tab-content {
            padding: inherit;
        }

        /*.btn {
            background-color: royalblue;
            color: floralwhite;
        }*/

        .logo-iner .certi-cta-btn {
            width: 40%;
        }

        .license-section .logo-iner > img {
            width: 50px;
            height: 50px;
            display: block;
            border: 1px solid #e1e1e1;
            border-radius: 100px;
            object-fit: contain;
        }

        .license-section .license-text {
            flex: 1;
            padding-left: 20px;
        }

        .license-section .logo-iner {
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
        }

        .license-section .license-heading {
            padding: 10px;
            background: #f3a762;
        }

        .license-section .license-rt-div {
            max-width: 400px;
            margin: 0 auto 30px;
            border-bottom: 6px solid #f3a762;
            box-shadow: 8px 8px 10px 0 rgba(0,0,0,30%);
            background: #fff;
        }

        .myaccount-page .card-header {
            background: none;
        }

        small.certificate_type_name {
            float: right;
            color:#fff;
        }
    </style>
}


<section id="section-mc1" class="section-mk1">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

                @Html.Partial("_VisitorPanelSidebarPartial")
            </div>
            <div class="col-sm-9">

                <!-- My-classes-section -->

                <div id="My-Classes-i" class="section-1-my-classes inrsection-mltp">
                    <h2 class="mk-hdffjsdkfj">My Account</h2>

                    <ul class="nav nav-tabs mtab-3jrjfj">
                        <li id="upc-fhgjfie" class="active">
                            <a id="updfdsjfjs" class="text-dark" data-toggle="tab"
                               href="#home"> Setting</a>
                        </li>
                        <li id="pst-jgmkjs">
                            <a class="text-dark active" data-toggle="tab" href="#menu1">Change Password</a>
                        </li>
                    </ul>

                    <div class="tab-content myaccount-page">
                        <div id="home" class="tab-pane fade in active show">
                            <div id="Notifications" class="section-2-notifications inrsection-ntfcn inrsection-mltp">
                                <div class="row rewrsfjdkslfjalksj mt-0">
                                    <div class="enq-cnt-liuijl mt-0">
                                        <div class="accordion section-2-notifications inrsection-ntfcn inrsection-mltp" id="accordionExample">
                                            <div class="card border-0 border-bottom">
                                                <div class="card-header card-header-rri collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked="" style="display: none;">
                                                    <span class="title">Profile Setting</span>
                                                    <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                                                </div>
                                                <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <div class="my-cl-cnt-jdkfjk4">
                                                            <div class="col-sm-12">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="w-100 mb-4"><b>Master-ID:</b> <span id="displayMasterId"></span></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label for="txtStudentFirstName" class="font-weight-bold">First Name</label>
                                                                            <input type="text" id="txtStudentFirstName" class="form-control" />
                                                                            <div class="error-class" id="error_txtStudentFirstName"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label for="txtStudentLastName" class="font-weight-bold">Last Name</label>
                                                                            <input type="text" id="txtStudentLastName" class="form-control" />
                                                                            <div class="error-class" id="error_txtStudentLastName"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label for="txtStudentContactNumber" class="font-weight-bold w-100">Contact Number <span id="iconPhoneNumberConfirmed" class="float-right text-success d-none"><i class="fas fa-check-circle-o text-success"></i> verified</span> <a href="#" id="buttonVerifyPhoneNumber" style="cursor:pointer;" class="float-right d-none">Verify</a></label>
                                                                            <input type="text" id="txtStudentContactNumber" class="form-control IsNumeric" maxlength="10"/>
                                                                            <div class="error-class" id="error_txtStudentContactNumber"></div>
                                                                        </div>
                                                                    </div>
                                                                     
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label for="txtStudentEmail" class="font-weight-bold w-100">Email <span id="iconEmailConfirmed" class="float-right text-success d-none"><i class="fas fa-check-circle-o text-success"></i> verified</span> <a href="javascript:sendEmailVerificationLink();" id="buttonVerifyEmail" style="cursor:pointer;" class="float-right d-none">Verify</a></label>
                                                                            <input type="text" id="txtStudentEmail" class="form-control" />
                                                                            <div class="error-class" id="error_txtStudentEmail"></div>
                                                                        </div>
                                                                    </div> 
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group d-flex flex-column">
                                                                            <label class="font-weight-bold">Profile Image</label>
                                                                            <div class="imagePreview">
                                                                                <img id="ProfileImage" class="d-none" style="width: 25%; height: 25%;">
                                                                            </div>

                                                                            <input type="file" id="fileProfileImage_ManageProfile" class="border form-control" accept="image/*">
                                                                            <div class="error-class" id="error_fileProfileImage_ManageProfile"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="d-flex  align-items-center">
                                                                    <button type="button" id="btnRegister" class="btn btn-primary btn-shadow" onclick="btnStudentAddUpdateProfile()">Update</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div id="Notifications" class="section-2-notifications inrsection-ntfcn inrsection-mltp">
                                <div class="row rewrsfjdkslfjalksj mt-0">
                                    <div class="enq-cnt-liuijl mt-0">
                                        <div class="accordion section-2-notifications inrsection-ntfcn inrsection-mltp" id="accordionExample">
                                            <div class="card border-0 border-bottom">
                                                <div class="card-header card-header-rri collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" onclick="getAllPaymentLists();">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked="" style="display: none;">
                                                    <span class="title">Payment Details</span>
                                                    <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                                                </div>
                                                <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <div class="my-cl-cnt-jdkfjk4">
                                                            <div class="col-sm-12">
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <div class="form-group">
                                                                            <label for="UPIName" class="font-weight-bold">UPI</label>
                                                                            <div id="GETUPI"></div>
                                                                            <div id="PaymentUpiId" style="display: none;">
                                                                                <input type="text" id="txtUPIName" class="form-control" />
                                                                                <input type="hidden" id="txthiddenUPIId">
                                                                                <div class="error-class" id="error_txtUPIName"></div>
                                                                                <div id="close" class="mt-2">
                                                                                    <button type="button" class="btn btn-primary" id="btnSubmitUPI" onclick="btnAddUpdateUPI();">Submit</button>
                                                                                    <button type="button" class="btn btn-primary" id="btnUpdateUPIs" style="display: none;" onclick="btnUpdateUPI();">Update</button>
                                                                                    <button type="button" class="btn btn-light" onclick="CancelUPI()">cancel</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-4 text-right">
                                                                        <a href="javascript:;" class="btn btn-primary btn-lg top-right-button btn-sm" id="btnAddUPI">Add</a>
                                                                        <div id="EditDelete" class="d-none">
                                                                            <button type="button" class="btn btn-primary btn-sm" onclick="ShowAddUpdateUPI();"><i class="fas fa-pencil"></i>@*Edit*@</button>
                                                                            <button type="button" class="btn btn-danger btn-sm" id="DeleteUPIId"><i class="fas fa-trash"></i>@*Delete*@</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <hr />
                                                                <div class="row">
                                                                    <div class="col-md-8">

                                                                        <div class="form-group">
                                                                            <label for="Paytm" class="font-weight-bold">Paytm</label>
                                                                            <div id="GETPAYTM"></div>
                                                                            <div id="PaymentpytmId" style="display: none">
                                                                                <input type="text" id="txtPaytm" class="form-control" />
                                                                                <input type="hidden" id="txthiddenPaytmId">
                                                                                <div class="error-class" id="error_txtPaytm"></div>
                                                                                <div id="PaytmClose" class="mt-2">
                                                                                    <button type="button" class="btn btn-primary" id="SubmitAddUpdatePaytm" onclick="btnAddUpdatePaytm()">Submit</button>
                                                                                    <button type="button" class="btn btn-primary" id="btnUpdatePaytmD" style="display: none;" onclick="PaytmUpdation();">Update</button>
                                                                                    <button type="button" class="btn btn-light" onclick="CancelPaytm()">cancel</button>
                                                                                    @*<button type="button" class="btn btn-dark" style="display: none;" onclick="NewCancelPaytm()">Cancel</button>*@
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="col-4 text-right">
                                                                        <a href="javascript:;" class="btn btn-primary btn-lg top-right-button btn-sm" id="btnAddPaytm">Add</a>
                                                                        <div id="EditDeletePaytm" class="d-none">
                                                                            <button type="button" class="btn btn-primary btn-sm" onclick="ShowAddUpdatePaytm();"><i class="fas fa-pencil"></i>@*Edit*@</button>

                                                                            <button type="button" class="btn btn-danger btn-sm" id="DeletePaytmId"><i class="fas fa-trash"></i>@*Delete*@</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <hr />
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <div class="form-group">
                                                                            <label for="Paytm" class="font-weight-bold">CCAvenue</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <button type="button" id="btnOpenSalaryModal" class="btn btn-primary btn-lg top-right-button btn-sm" style="margin-left: 136px;" data-toggle="modal" data-target="#salaryModal">Add</button>
                                                                        <div class="modal fade" id="salaryModal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
                                                                            <div class="modal-dialog" role="document">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <h5 class="modal-title" id="salaryModalLabel">Card Details</h5>
                                                                                        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                                <span aria-hidden="true" onclick="ResetCardform();">&times;</span>
                                                                                            </button>*@
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                        <form>
                                                                                            <div class="row">
                                                                                                <div class="col-md-12">
                                                                                                    <input type="hidden" id="UpdateCardPaymentDetailId" class="form-control" />
                                                                                                    <div class="form-group">
                                                                                                        <label for="CardNumber">Card Number</label>
                                                                                                        <input type="text" id="txtCardNumber" class="form-control IsNumeric" maxlength="16" />
                                                                                                        <div class="error-class" id="error_txtCardNumber"></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">

                                                                                                <div class="col-md-12">
                                                                                                    <div class="form-group">
                                                                                                        <label for="UserName">Card Name</label>
                                                                                                        <input type="text" id="txtUserName" class="form-control" />
                                                                                                        <div class="error-class" id="error_txtUserName"></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="col-md-6">
                                                                                                    <div class="form-group">
                                                                                                        <label for="Exp.Month">Exp.Month</label>
                                                                                                        @*<input type="number" id="txtExpMonth" class="form-control IsNumeric" min="1" max="12"/>*@
                                                                                                        <select id="txtExpMonth" class="form-control">
                                                                                                            <option value="1">01</option>
                                                                                                            <option value="2">02</option>
                                                                                                            <option value="3">03</option>
                                                                                                            <option value="4">04</option>
                                                                                                            <option value="5">05</option>
                                                                                                            <option value="6">06</option>
                                                                                                            <option value="7">07</option>
                                                                                                            <option value="8">08</option>
                                                                                                            <option value="9">09</option>
                                                                                                            <option value="10">10</option>
                                                                                                            <option value="11">11</option>
                                                                                                            <option value="12">12</option>
                                                                                                        </select>
                                                                                                        <div class="error-class" id="error_txtExpMonth"></div>
                                                                                                    </div>

                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    <div class="form-group">
                                                                                                        <label for="Exp.Year">Exp.Year</label>
                                                                                                        @*<input type="number" id="txtExpYear" class="form-control IsNumeric" min="2020" max="3000"/>*@
                                                                                                        <select id="txtExpYear" class="form-control">
                                                                                                            <option value="0">Select</option>
                                                                                                        </select>
                                                                                                        <div class="error-class" id="error_txtExpYear"></div>
                                                                                                    </div>

                                                                                                </div>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button" id="btnCancel_SalaryModal" class="btn btn-secondary" data-dismiss="modal" onclick="ResetCardform();">Cancel</button>
                                                                                        <button type="button" class="btn btn-primary" id="SubmitCardPaymentDetail" onclick="btnAddUpdatePayment()">Submit</button>
                                                                                        <button type="button" class="btn btn-primary" id="UpdateCardPaymentDetail" style="display: none;" onclick="btnUpdateModel()">Update</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-12">
                                                                        <div class="d-flex justify-content-center" id="ShowPaymentDetails">
                                                                            @*<div class="card">
                                                                                    <div class="card__front card__part" style="padding:10px;">
                                                                                        <p class="card_numer" style="text-align:center;">**** **** **** 6258</p>
                                                                                        <div style="display:flex;justify-content:space-between;">
                                                                                        <div class="card__space-75">
                                                                                            <span class="card__label">Card holder</span>
                                                                                            <p class="card__info">John Doe</p>
                                                                                        </div>
                                                                                        <div class="card__space-25">
                                                                                            <span class="card__label">Expires</span>
                                                                                            <p class="card__info">10/25</p>
                                                                                        </div>
                                                                                            </div>
                                                                                    </div>

                                                                                    <div class="card__back card__part">
                                                                                        <div class="card__black-line"></div>
                                                                                        <div class="card__back-content">

                                                                                        </div>
                                                                                    </div>

                                                                                </div>*@
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>


                                                        </div>

                                                    </div>


                                                    @* <div class="d-flex  align-items-center">
                                                            <button type="button" id="btnRegister" class="btn btn-primary btn-lg btn-shadow" onclick="btnRegisterFormClick()" style="margin-left: -289px;">Update</button>
                                                        </div>*@
                                                </div>



                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="Notifications" class="section-2-notifications inrsection-ntfcn inrsection-mltp">



                                <div class="row rewrsfjdkslfjalksj mt-0">
                                    <div class="enq-cnt-liuijl mt-0">
                                        <div class="accordion section-2-notifications inrsection-ntfcn inrsection-mltp" id="accordionExample">
                                            <div class="card border-0 border-bottom">
                                                <div class="card-header card-header-rri collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked="" style="display: none;">
                                                    <span class="title">Certificate</span>
                                                    <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                                                </div>
                                                <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                                    <div class="card-body license-section">
                                                        <div class="p-3">
                                                            <div class="col-sm-12">
                                                                <div class="row">


                                                                    <div class="col-sm-6 mb-6">
                                                                        <form action="/Home/Download" method="post">
                                                                            <div class="license-rt-div">
                                                                                <div class="license-heading">
                                                                                    <h5>License Name <small class="certificate_type_name">Event</small></h5>
                                                                                </div>
                                                                                <div class="logo-iner">
                                                                                    <img src="/Content/Uploads/Images/LicenseLogo/signature-40170_88568393e9e443fc959329e0641a70c2.png" loading="lazy">
                                                                                    <div class="license-text">

                                                                                        <a href="/Content/Uploads/Certificates/PtPAPIClinet.pdf" target="_blank" class="certi-cta-btn btn btn-info text-light">View</a>
                                                                                        <input type="hidden" name="ExportData" value="PtPAPIClinet.pdf" class="w-25">
                                                                                        <input type="button" class="certi-cta-btn btn btn-success" style="/ width: 98px; /" value="Download">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>


                                                                    <div class="col-sm-6 mb-6">
                                                                        <form action="/Home/Download" method="post">
                                                                            <div class="license-rt-div">
                                                                                <div class="license-heading">
                                                                                    <h5>License Name <small class="certificate_type_name">Diploma</small></h5>
                                                                                </div>
                                                                                <div class="logo-iner">
                                                                                    <img src="/Content/Uploads/Images/LicenseLogo/signature-40170_88568393e9e443fc959329e0641a70c2.png" loading="lazy">
                                                                                    <div class="license-text">

                                                                                        <a href="/Content/Uploads/Certificates/PtPAPIClinet.pdf" target="_blank" class="certi-cta-btn btn btn-info text-light">View</a>
                                                                                        <input type="hidden" name="ExportData" value="PtPAPIClinet.pdf" class="w-25">
                                                                                        <input type="button" class="certi-cta-btn btn btn-success" style="/ width: 98px; /" value="Download">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>


                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="menu1" class="tab-pane fade">
                            <div class="my-cl-cnt-jdkfjk4-2">
                                <div class="col-6 mb-4">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <h5 class="mb-4" id="myText">Change Password</h5>
                                            <hr />
                                            <div class="form-group">
                                                <label for="Password">Current Password</label>
                                                <input type="password" id="txtOldPassword_ChangePassword" placeholder="CurrentPassword" class="form-control" />
                                                <div class="error-class" id="oldPassword_error_ChangePassword"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="Password"> New Password</label>
                                                <input type="password" id="txtNewPassword_ChangePassword" placeholder="NewPassword" class="form-control" />
                                                <div class="error-class" id="newPassword_error_ChangePassword"></div>
                                            </div>

                                            <div class="form-group">
                                                <label for="ConfirmedPassword">Confirm Password</label>
                                                <input type="password" id="txtConfirmNewPassword_ChangePassword" placeholder="ConfirmPassword" class="form-control" />
                                                <div class="error-class" id="confirmNewPassword_error_ChangePassword"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="updateChangePassword();">Update Password</button>


                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



@section Scripts{

    <script>
        $("a#updfdsjfjs").click();
        $("#upc-fhgjfie").click(function () { $("#upc-fhgjfie").addClass('active'); $("#pst-jgmkjs").removeClass("active"); });
        $("#pst-jgmkjs").click(function () { $("#pst-jgmkjs").addClass('active'); $("#upc-fhgjfie").removeClass("active"); });
    </script>

    @Html.Partial("/Views/Shared/ScriptPartials/_ChangePasswordScriptPartial.cshtml")
    @Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_MyAccountScriptPartial.cshtml")


    <script src="~/Content/lib/StylishAlert/iao-alert.jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @*<script src="~/Content/superadmin-panel/plugins/sweetalert2/sweetalert2.js"></script>*@

}
