
@{
    ViewBag.Title = "My Purchase Details";
    Layout = "~/Views/Shared/VistiorHomeLayout.cshtml";
}



@section Styles{
    <link href="~/Content/custom/css/common.css" rel="stylesheet" />
    <style>
        .image {
            width: 75px;
            height: 75px;
        }

        .imagePreview {
            border: 2px dashed #cecece;
            height: 75px;
            width: 75px;
            margin: 5px 0px;
            padding: 5px;
        }

        .profile-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .MyPurchaseDetails_link {
            color: black;
            text-decoration: none;
            font-weight: 500;
        }
        .borderFillImg{
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin-top:25px;
        }
        .AdminCard-profile-image{
            height:60%;
        }
        p{
            margin:2px !important;
        }
        #admitCardStudentDetails{
            height:190px;
        }
        #admitCardTitle {
            padding-left: 10rem !important;
        }
    </style>
}
<html>
<body>
    <input type="hidden" id="hidden_courseBookingId" value="@ViewBag.CourseId" />

    <main>
        <section class="section-mk1">
            <div class="container">
                <div class="row">

                    <div class="col-sm-3">
                        @Html.Partial("_VisitorPanelSideBarPartial")
                    </div>

                    <div class="col-lg-9">
                        <div class="container-fluid">
                            <h2 class="title_details mt-5">Course Purchase Details</h2>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-8">
                                            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                                                <ol class="breadcrumb pt-4">
                                                    <li class="breadcrumb-item">
                                                        <a class="MyPurchaseDetails_link" href="/Home/MyCourses">My Courses</a>
                                                    </li>
                                                    <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange">Purchase Detail</li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="separator mb-5"></div>
                                </div>
                            </div>

                            <div id="sectionViewRequest">
                                <div class="row mb-4">
                                    <div class="col-6 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h3>Order Details</h3>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div id="sectionBookingDetail">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h3>Payment Details</h3>
                                                        <hr />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div id="sectionOrderDetails">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* added for admit card *@
                        <div class="row " id="sectionAdmitCard" class="d-none">
                            <div class="card col-12 mb-4">
                                <div class="card-header">
                                    <div class="row mt-2">
                                        <div class="col-sm-2 pl-5">
                                            <p id="admitEstablishYear"></p>
                                            <img src="" class="ls-p-lg mblg-ls  mr-2" style="width: 86px;" id="admitExamFormLogoWithPath">
                                        </div>
                                        <div class="col-sm-5 text-center" id="admitCardTitle">
                                            <h4 class="mb-2" id="admitExamFromTitle"> </h4>

                                            <p>(PROVISIONALLY ALLOWED)</p>
                                        </div>
                                        <div class="col-sm-5 text-right">
                                            <p class="m-0">New Telephone Nos.</p>
                                            <p class="m-0">
                                                Secretary Chamber: <span id="exampage-top-Secretary-number"></span>
                                            </p>
                                            <p class="m-0">
                                                Registrar Office: <span id="exampage-top-Registrar-number"></span>
                                            </p>
                                            <p class="m-0">Website: <span id="exampage-top-website"></span></p>
                                            <p class="m-0">E-mail: <span id="exampage-top-email"></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row" id="admitCardStudentDetails">
                                        <div class="col-sm-2 mr-1">
                                            <div class="AdminCard-profile-image">
                                                <img src="" class="borderFillImg" id="AdmitCardprofileImage">
                                            </div>
                                        </div>
                                        <div class="col-sm-9 pt-4">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    
                                                    <p><span class="font-weight-bolder">Examination Year </span>:- &nbsp;<span id="examFormYear"></span></p>
                                                </div>
                                                <div class="col-sm-6 text-right">
                                                    <p><span class="font-weight-bolder">Roll No </span> :- <span id="AdmitCardRollNo"></span></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p><span class="font-weight-bolder">Name of Candidate:</span> Sri/Smt./Km :-&nbsp;<span id="AdmitCardName"></span></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <p><span class="font-weight-bolder">Class:-</span>&nbsp;<span id="AdmitCardClass"></span></p>
                                                </div>
                                                <div class="col-sm-6 text-right">
                                                    <p><span class="font-weight-bolder">Subject</span> :-&nbsp;<span class="AdminCard-input-box" id="AdmitCardSubject"></span></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <p><span class="font-weight-bolder">Center No</span> :-&nbsp;<span id="AdmitCardCenterNo"></span></p>
                                                </div>
                                                <div class="col-sm-6 text-right">
                                                    <p><span class="font-weight-bolder">Name of Center</span>:-&nbsp;<span id="AdmitCardCenterName"></span></p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>NOTE:-</p>
                                        </div>
                                        <div class="col-sm-12 text-danger">
                                            <ul><li>1. All entries to be filled by the candidate except the Roll Number which will be filled in by the Registrar Office.</li> <li>2. Before appearing in the examination the following documents may kindly be sent otherwise the examination form will be rejected.</li><li>(a) The marksheet of pervious Sangit examination.</li><li>(b) The attested copy of High School or equivalent exam passed certificate marksheet.</li><li>3. Candidate is advised to keep admit card safely for future reference.</li></ul>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-sm-6 text-left"><p>Signature of Practical Examiner & Date</p></div>
                                        <div class="col-sm-6 text-right"><p>Registrar Exam</p></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <button id="printDiv" type="button" class="Orange_White_Colour btn btn-primary">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>



</body>
</html>


@section Scripts{
    @Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_MyPurchaseCourseBookingDetailScriptPartial.cshtml")
}
