@{
    ViewBag.Title = "Coupon";
    Layout = "~/Views/Shared/VistiorHomeLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/Content/business-panel/css/vendor/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Content/business-panel/css/vendor/datatables.responsive.bootstrap4.min.css" />

    <style>
        .Coupontable {
            width: 100%;
        }

        .card-header {
            background-color: white;
        }

        span.notification_icon {
            font-size: 10px;
            margin-right: 10px;
        }

        #NotificationList .enq-cnt-liuijl.mt-0 .card-header.card-header-rri {
            padding: 0 0 0 1rem;
        }
    </style>
    <link rel="stylesheet" href="~/Content/assets/conatiner-style.css">
    <link rel="stylesheet" href="~/Content/assets/style_new1.css">
    <style>
        img.ls-p-lg.mblg-ls {
            box-shadow: none !important;
        }
    </style>
}

<section id="section-mc1" class="section-mk1">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

                @Html.Partial("_VisitorPanelSidebarPartial")

            </div>
            <div class="col-sm-9">
                <!-- Notification-section -->
                <div id="Notifications" class="section-2-notifications inrsection-ntfcn inrsection-mltp">
                    <h2 class="my-4">My Coupons</h2>
                    <div id="sectionViewStaff">
                        <div class="row mb-4">
                            <div class="col-12 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="ViewForCoupon" class="Coupontable">
                                            <thead>
                                                <tr>
                                                    <th>S No.</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Code</th>
                                                    <th>Expiry Date</th>
                                                    <th>Business Name</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

@section Scripts{
    <script src="~/Content/business-panel/js/vendor/datatables.min.js"></script>

    @Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_MyCouponScriptPartial.cshtml")
}

