
@{
    ViewBag.Title = "MyEvent";
    Layout = "~/Views/Shared/VistiorHomeLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/Content/assets/conatiner-style.css">
    <link rel="stylesheet" href="~/Content/assets/video-style.css">
    <link rel="stylesheet" href="~/Content/assets/style_new1.css">
    <style>
        .btn {
            padding: 4px;
            min-width: 89px;
            padding-left: 2px;
        }

        .rating-star-filled {
            color: #fff !important;
        }

        img.ls-p-lg.mblg-ls {
            box-shadow: none !important;
        }

        .btn-outline-dark:hover {
            color: #fff;
            background-color: #f3a762;
            border-color: #343a40;
        }

        .btnViewMoreUpcomingClass {
            display: none !important;
        }

        .btnViewMoreUpcomingEndClass {
            display: none !important;
        }

        .active-class-main .img-in-text-in > * > span > i {
            color: #6ecc3d;
        }

        .active-class-main span.time-cl {
            color: #000 !important;
            margin-left: 5px;
        }

        .active-class-main .guitar-img-iner > img {
            height: 50px;
            width: 50px;
            object-fit: contain;
        }

        .active-class-main .guitar-img-iner {
            padding: 5px;
            background: #fff;
            border: 2px solid #212529;
        }

        .active-class-main {
            max-width: 900px;
            background: #fff;
            box-shadow: 8px 8px 10px 0 rgba(0,0,0,25%);
        }

            .active-class-main .text-start span i {
                color: #fff;
            }

            .active-class-main .active-class-item-flex {
                display: flex;
                break-after: column;
                justify-content: space-between;
            }

            .active-class-main .active-class-item-iner:first-child {
                padding-right: 10px;
            }

            .active-class-main .active-class-item-iner.second-child .img-in-text-in > * {
                font-size: 14px;
                text-align: right
            }

            .active-class-main .start-date > *, .pause-btn p {
                margin-bottom: 0;
                text-transform: uppercase;
            }

            .active-class-main .start-date p, .pause-btn p {
                margin-bottom: 5px;
            }

            .active-class-main .start-end-date-iner {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

            .active-class-main .start-date {
                margin: 0 30px 0 0;
            }

            .active-class-main span.date-style {
                background: #486040;
                color: #fff;
                padding: 5px;
                display: block;
                min-width: 100px;
                text-align: center;
                font-weight: 600;
            }

            .active-class-main span.Expire-style {
                background: #fb3c58;
                color: #fff;
                padding: 5px;
                display: block;
                min-width: 100px;
                text-align: center;
            }

            .active-class-main .button-iner {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
            }

            .active-class-main .des-text > * {
                text-transform: uppercase;
                margin: 20px 0 0 0;
                line-height: 1.3;
                font-size: 14px;
            }

            .active-class-main .img-in-text-in {
                padding-left: 10px;
                padding-top: 40px;
                width: 90%;
            }


            .active-class-main .active-class-item-iner.second-child .profile-name {
                font-weight: 600 !important;
                font-size: 16px;
            }

            .active-class-main .img-in-text-in > * {
                font-weight: 600;
            }

                .active-class-main .img-in-text-in > * > span {
                    color: #f3a762;
                }

            .active-class-main .button-iner > a span > i {
                font-size: 18px;
            }

            .active-class-main .button-iner > a {
                background: #fdb685;
                color: #000 !important;
                padding: 5px;
                min-width: 100px;
                text-align: center;
                box-shadow: 8px 8px 10px 0 rgba(0,0,0,30%);
                margin: 18px 5px;
                display: block;
                text-decoration: none !important;
                text-transform: uppercase;
                position: relative;
            }

                .active-class-main .button-iner > a span {
                    top: -12px;
                    left: -1px;
                    position: absolute;
                }

            .active-class-main .active-class-item-flex {
                margin-bottom: 20px;
            }

        .active-class-main {
            margin-top: 30px;
        }

            .active-class-main .active-click-down {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 5px;
                margin-left: 29px;
            }

            .active-class-main .active-class-item {
                /*padding: 25px;*/
                display: none;
            }

            .active-class-main .arrow-down > i {
                font-size: 24px;
                color: #fff;
                cursor: pointer;
                display: inline-flex;
            }

            .active-class-main .active-class-tab {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .active-class-main .logo-img-iner > img {
                height: 60px;
                width: 60px;
                /* object-fit: contain;
                border-radius: 50%;*/
            }

            .active-class-main .text-iner > * {
                margin-bottom: 0;
                text-transform: uppercase;
                font-size: 14px;
            }

            .active-class-main .img-in-text-img > img {
                height: 50px;
                width: 50px;
                object-fit: contain;
                border: 2px solid #000;
                border-radius: 50%;
            }

            .active-class-main .img-in-pro-img > img {
                height: 180px;
                width: 180px;
                object-fit: cover;
                /*border-radius: 50%;*/
                overflow: hidden;
            }

            .active-class-main .img-in-pro-img {
                /* border: 2px solid #000;*/
                /*height: 60px;
                width: 160px;*/
                /*border-radius: 50%;*/
                overflow: hidden;
            }

            .active-class-main .active-class-item-iner {
                display: block;
                align-items: center;
                padding-top: 15px;
                width:80%;

              /*  margin-right: 90px;*/
                /*flex-wrap: wrap;*/
            }

            .active-class-main .img-in-text-in > * {
                margin-bottom: 0;
                line-height: 1.2;
                text-transform: uppercase;
            }

            .active-class-main .text-title-start {
                padding-left: 15px;
            }

            .active-class-main .text-start > * {
                margin-bottom: 0;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
            }

            .active-class-main .logo-img-iner {
                background: transparent;
                border: 2px solid #fff;
                /* border-radius: 50%;*/
                /* padding: 5px;*/
            }

            .active-class-main .logo-img-iner, .guitar-img-iner {
                box-shadow: 8px 8px 10px 0 rgba(0,0,0,30%)
            }

            .active-class-main .active-class-tab-iner {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }

            .active-class-main .text-start > a {
                display: inline-block;
                padding: 3px 6px;
                border: 1px solid #f3a762;
                border-radius: 20px;
                text-align: center;
                color: #f3a762;
                background: #fff;
                text-transform: uppercase;
                text-decoration: none !important;
                font-size: 10px;
                font-weight: bold;
            }

            .active-class-main .active-class-tab {
                background: #f3a762;
                padding: 10px;
            }

        .text-iner > * {
            color: #fff;
        }

        header.header.active-h {
            position: unset;
        }

        a:hover {
            color: #f3a762;
            text-decoration: underline;
        }

        header.header.active-h div#navbarTogglerDemo03 {
            width: unset;
        }
        .scroll-section {
            overflow: auto;
            height: max-content;
            padding-top:25px;
        }

        .section-title {
            color: #f3a762;
            font-weight: 600;
            text-transform: uppercase;
        }

        .section-content {
            height: 100px;
            white-space: nowrap;
            width: max-content;
        }

        .content-container {
            width: 100px;
            text-align: center;
            padding: 10px;
            float: left;
            display: inline;
        }

        .content-img img {
            height: 50px;
            width: 50px;
            object-fit: contain;
            border: 2px solid #000;
            border-radius: 50%;
        }

        .col-sm-3.qr-code-container img {
            width: 80%;
        }



        
        @@media(max-width:767px) {
            .row.p-4.organizer-section {
                display: flex;
                flex-direction: column-reverse;
            }
            .active-class-main .text-title-start {
                flex: 1;
            }

            .active-class-main .start-date {
                margin-right: 20px;
            }

            .active-class-main .active-class-item {
                padding: 20px;
            }

            .active-class-main .active-class-tab {
                flex-wrap: wrap;
                padding: 20px;
            }

            .active-class-main .active-class-tab-iner {
                flex: 0 0 100%;
            }

                .active-class-main .active-class-tab-iner:first-child {
                    margin-bottom: 20px;
                }
        }

        @@media(max-width:620px) {
            .active-class-main .active-class-item-flex {
                flex-wrap: wrap;
            }

                .active-class-main .active-class-item-flex > div {
                    flex: 0 0 100%;
                    max-width: 100%;
                }

            .active-class-item-iner.second-child {
                margin-top: 25px;
            }

            .active-class-main .active-class-item-iner:first-child {
                padding-right: 0;
            }
        }

        .classinfosection {
            margin-top: 20px;
        }

        .classlinkpassword {
            margin-top: 10px;
        }

        .badge.badge-warning.text-white {
            color: #fff;
            padding: 5px;
            display: block;
            min-width: 100px;
            text-align: center;
        }

        .date-details-pause {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            max-width: 500px;
            flex-wrap: wrap;
        }

        .pause-cta, .renew-cta {
            text-decoration: none !important;
            background: #fb9553;
            color: #fff;
            box-shadow: var(--shadow);
            padding: 5px;
            display: inline-block;
            min-width: 115px;
            text-align: center;
            font-weight: 600;
            transition: all .3s;
            border: 2px solid #fff;
        }

            .pause-cta:hover, .renew-cta:hover {
                background: #fff;
                color: #f3a762 !important;
                border: 2px solid #f3a762;
            }

        .pause-btn span {
            padding: 5px;
            display: block;
            min-width: 100px;
            text-align: center;
        }

        .des-text {
            background-color: #F3A762;
            padding: 10px;
        }

        .scroll-container {
            overflow-x: scroll;
            white-space: nowrap;
            width: 100%;
        }

        @@media(max-width:620px) {
            .scroll-container {
                overflow-x: scroll;
                white-space: nowrap;
                width: 50%;
            }
        }
        .text-iner {
            width: 145px;
        }
        p.Bookedmessage {
            text-align: center;
            color: green;
            font-weight: bold;
        }
        p.ticketCount {
            text-align: center;
            color: black;
            font-weight: 500;
        }
        @@media (max-width: 620px)
        {
            .active-class-main .active-class-item-flex 
            {
              flex-wrap: wrap;
              flex-direction: column-reverse;
            }
          
        }
        .text-iner1.heading-event h6 {
            color: #FFF;
        }

        .classModeSection {
            
            margin-left: 80px;
        }
       
    </style>
}


<section id="section-mc1" class="section-mk1">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @Html.Partial("_VisitorPanelSidebarPartial")
            </div>
            <div class="col-sm-9">

                <!-- My-classes-section -->

                <div id="My-Classes-i" class="section-1-my-classes inrsection-mltp">
                    <h2 class="mk-hdffjsdkfj">My Event</h2>

                    @*<ul id="custom-tab-bar" class="nav nav-tabs mtab-3jrjfj">
                            <li id="upc-fhgjfie" class="active">
                                <a id="updfdsjfjs" class="text-dark" data-toggle="tab"
                                   href="#tabActiveClasses" data-target="#tabActiveClasses" role="tab">Active Classes</a>
                            </li>
                            <li id="pst-jgmkjs">
                                <a class="text-dark" data-toggle="tab" href="#" data-target="#tabEndedClasses" role="tab">Endend Classes</a>
                            </li>
                        </ul>*@

                    <ul class="nav nav-tabs custom-tab-bar mtab-3jrjfj" role="tablist">
                        <li id="upc-fhgjfie" class="nav-item">
                            <a id="updfdsjfjs" class="nav-link text-dark active" data-toggle="tab"
                               data-target="#tabActiveClasses" role="tab">Active Event</a>
                        </li>
                        <li id="pst-jgmkjs" class="nav-item">
                            <a class="nav-link text-dark" data-toggle="tab" data-target="#tabEndedClasses" role="tab">Endend Event</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tabActiveClasses" class="tab-pane fade in active show" role="tabpanel">
                            <!-- Active classes and endend classes -->
                            <div class="active-class-section-main">
                                <div id="BindActiveEventDetail">
                                    @* <div class="active-class-main">
                                                             <div class="active-class-tab">
                                            <div class="active-class-tab-iner">
                                                <div class="logo-img-iner">
                                                    <img src="~/Content/visitor-panel/image/AdminLTELogo2.png" alt="logo" loading="lazy">
                                                </div>
                                                <div class="text-title-start">
                                                    <div class="text-iner">
                                                        <h6>Master Studio</h6>

                                                    </div>
                                                    <div class="text-start">
                                                        <span>monthly</span>
                                                        <span>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="active-class-tab-iner">
                                                <div class="guitar-img-iner">
                                                    <img src="~/Content/visitor-panel/image/guitar.png" alt="logo" loading="lazy">
                                                </div>
                                                <div class="text-title-start">
                                                    <div class="text-iner">
                                                        <h6>Gutar CLS</h6>
                                                        <p>Music 2000/Monthly</p>
                                                    </div>
                                                    <div class="active-click-down">
                                                        <div class="text-start">
                                                            <a href="#">active</a>
                                                        </div>
                                                        <div class="arrow-down">
                                                            <i class="fa-solid fa-angle-down"></i>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="active-class-item">
                                            <div class="active-class-item-flex">
                                                <div class="active-class-item-iner">
                                                    <div class="img-in-text-img">
                                                        <img src="~/Content/visitor-panel/image/salsa-2a.jpg" alt="img" loading="lazy">

                                                    </div>
                                                    <Div class="img-in-text-in">
                                                        <p> Music CLS group</p>
                                                        <p>
                                                            <span>M W F</span>
                                                            <span class="time-cl">7 to 8 pm</span>
                                                        </p>

                                                    </Div>
                                                </div>
                                                <div class="active-class-item-iner second-child">

                                                    <div class="img-in-pro-img">
                                                        <img src="~/Content/visitor-panel/image/profile-01.png" alt="img" loading="lazy">

                                                    </div>
                                                    <div class="img-in-text-in">
                                                        <p class="profile-name">
                                                            <span class="verified"><i class="fa-solid fa-circle-check"></i></span>
                                                            Ravi Paul
                                                        </p>
                                                        <p> ID 543018</p>
                                                        <p>Your teacher</p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button-iner">
                                                <a href="#">Message</a>
                                                <a href="#">
                                                    <span><i class="fa-solid fa-clipboard-user"></i></span>
                                                    Attendance
                                                </a>
                                                <a href="#">
                                                    <span><i class="fa-solid fa-file-invoice"></i></span>
                                                    Invoice
                                                </a>
                                            </div>
                                            <div class="start-end-date-iner">
                                                <div class="start-date">
                                                    <p>start Date</p>
                                                    <span class="date-style">9/1/2024</span>
                                                </div>
                                                <div class="start-date">
                                                    <p>Expire On</p>
                                                    <span class="Expire-style">8/2/2024</span>
                                                </div>
                                            </div>
                                            <div class="des-text">
                                                <p>
                                                    Thia cls is demo content for demo thia
                                                    cls is demo content for demo
                                                </p>
                                            </div>
                                        </div>
                                                                </div>*@
                                </div>
                            </div>
                            <!-- Active classes and endend classes -->
                            <div id="Bind">
                            </div>
                            <div class="btn-outtrkjkd text-center mb-5 d-none">
                                <a href="javascript:;" onclick="ViewMoreUpcomingActiveClasses()" id="BtnViewMoreUpcomingActiveClass"
                                   class="vmbtnjfdsklfj text-center mt-5 btn btn-outline-dark csbttnm">
                                    View
                                    More
                                </a>
                            </div>
                        </div>
                        <div id="tabEndedClasses" class="tab-pane fade " role="tabpanel">
                            <div id="menuendEvent">
                            </div>
                            <div class="btn-outtrkjkd text-center mb-5 d-none">
                                <a href="javascript:;" onclick="ViewMoreUpcomingClasses()" id="BtnViewMoreUpcomingEvent"
                                   class="vmbtnjfdsklfj text-center mt-5 btn btn-outline-dark csbttnm">
                                    View
                                    More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-------------------------------  Pause Class Model  --------------------------------------------------->
<div class="modal fade" id="EditBusinessPauseClassModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header border-0">
                <h2 class="modal-title">Pause Class Detail</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body pt-0">
                <label> Class Name</label>
                <div id="BusinessDetails_EditBusinessPauseModal">
                    @* Data will be appended *@
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="date_time"> Start Date</label>
                            <input type="date" class="form-control" id="Business_StartDate" onclick="datepicker();" required />
                            <div class="error-class" id="error_Business_StartDate"></div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="date_time"> End Date</label>
                            <input type="date" class="form-control" id="Business_EndDate" onclick="ChooseEndDate();" required />
                            <div class="error-class" id="error_Business_EndDate"></div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="textPauseDays">Pause Days</label>
                            <input type="text" class="form-control" id="Business_PauseDays" readonly />
                            <div class="error-class" id="error_Business_PauseDays"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtDescription">Reason</label>
                            <textarea type="text" id="txtDescription" class="form-control"></textarea>
                            <div class="error-class" id="error_txtDescription"></div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark cstm-btn w-auto" onclick="btnPauseClassFormClick();">
                    Submit
                </button>
                <button type="button" class="btn btn-outline-danger" onclick="ResetAddPauseClassView()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <style>
        header.header.active-h {
            position: unset;
        }

        a:hover {
            color: #f3a762;
            text-decoration: underline;
        }

        header.header.active-h div#navbarTogglerDemo03 {
            width: unset;
        }

        p.password-join-title {
            margin: 10px 0;
            color: #000;
            font-size: 20px;
            /*margin-left: -20px;*/
        }

        .password-join {
            /*margin-left: -24px;*/
        }

        .password-join {
            flex-wrap: wrap;
            display: flex;
            max-width: 524px;
            align-items: center;
            justify-content: space-between;
        }

        .password-join-iner {
            display: inline-flex;
            align-items: center;
            background: #fb9553;
            box-shadow: 8px 8px 10px 0 rgba(0,0,0,30%);
            border: 2px solid #fff;
        }

        .passwords {
            background: #fb9553;
            padding: 8px 12px;
            font-weight: 600;
            min-width: 110px;
        }

            .passwords i {
                color: #fff;
                margin-left: 5px;
                cursor: pointer;
            }

            .passwords .tooltiptext {
                visibility: hidden;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px;
                position: absolute;
                z-index: 1;
                left: 5px;
                opacity: 0;
                transition: opacity 0.3s;
                width: 100%;
                top: -30px;
            }

        .border-left-pass {
            border-left: 5px solid #fff;
            height: 40px;
            transform: skewX(-10deg);
        }

        .join-iner {
            background: #fb9553;
            padding: 8px 12px;
            min-width: 110px;
        }

            .join-iner > a {
                text-decoration: none !important;
                font-weight: 600;
                color: #000 !important;
                text-transform: uppercase;
            }

        .GoingOn {
            color: #53fb91;
            font-weight: 600;
            font-size: 22px;
            margin-left: 20px;
        }
    </style>
    <script>
        //$("a#updfdsjfjs").click();
        //$("#upc-fhgjfie").click(function () { $("#upc-fhgjfie").addClass('active'); $("#pst-jgmkjs").removeClass("active"); });
        //$("#pst-jgmkjs").click(function () { $("#pst-jgmkjs").addClass('active'); $("#upc-fhgjfie").removeClass("active"); });

        //$('#custom-tab-bar li').click(function () {
        //    $('#custom-tab-bar li').removeClass('active');
        //    $(this).addClass('active');
        //});

        // $(function () {
        //     $(window).on("scroll", function () {
        //         if ($(window).scrollTop() > 50) {
        //             $(".header").addClass("active-h");
        //         } else {
        //             //remove the background property so it comes transparent again (defined in your css)
        //             $(".header").removeClass("active-h");
        //         }
        //     });
        // });



        // external js: isotope.pkgd.js

        // init Isotope
        var $grid = $('.grid').isotope({
            itemSelector: '.element-item',
            layoutMode: 'fitRows'
        });
        // filter functions
        var filterFns = {};
        // bind filter button click
        $('.filters-button-group').on('click', 'button', function () {
            var filterValue = $(this).attr('data-filter');
            // use filterFn if matches value
            filterValue = filterFns[filterValue] || filterValue;
            $grid.isotope({ filter: filterValue });
        });
        // change is-checked class on buttons
        $('.button-group').each(function (i, buttonGroup) {
            var $buttonGroup = $(buttonGroup);
            $buttonGroup.on('click', 'button', function () {
                $buttonGroup.find('.is-checked').removeClass('is-checked');
                $(this).addClass('is-checked');
            });
        });


        $('.events-slide').slick({
            dots: true,
            arrows: false,
            infinite: false,
            speed: 300,
            slidesToShow: 5,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        arrows: false,
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        dots: true,
                        arrows: false,
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        dots: true,
                        arrows: false,
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });

        //$(function () {
        //    $('.active-class-section-main .arrow-down>*').click(function (j) {

        //        var dropDown = $(this).closest('.active-class-main').find('.active-class-item');
        //        $(this).closest('.active-class-main').find('.active-class-section-main .active-class-item').not(dropDown).slideUp();

        //        if ($(this).hasClass('active')) {
        //            $(this).removeClass('active');
        //        } else {
        //            $(this).closest('.active-class-main').find(' .active-class-item.active').removeClass('active');
        //            $(this).addClass('active');
        //        }
        //        dropDown.stop(false, true).slideToggle();
        //        j.preventDefault();
        //    });
        //});

    </script>

    @Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_MyEventScriptPartial.cshtml")
}

