
@{
    ViewBag.Title = "My Purchase Details";
    Layout = "~/Views/Shared/VistiorHomeLayout.cshtml";
}



@section Styles{
    <link href="~/Content/custom/css/common.css" rel="stylesheet" />
    <style>
        .image {
            width: 75px;
            height: 75px;
        }

        .imagePreview {
            border: 2px dashed #cecece;
            height: 75px;
            width: 75px;
            margin: 5px 0px;
            padding: 5px;
        }

        .profile-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .MyPurchaseDetails_link {
            color: black;
            text-decoration: none;
            font-weight: 500;
        }
    </style>
}
<html>
<body>
    <input type="hidden" id="hidden_planBookingId" value="@ViewBag.Id" />
    <input type="hidden" id="hidden_planBookingType" value="@ViewBag.PlanBookingType" />

    <main>
        <section class="section-mk1">
            <div class="container">
                <div class="row">

                    <div class="col-sm-3">
                        @Html.Partial("_VisitorPanelSideBarPartial")
                    </div>

                    <div class="col-lg-9">
                        <div class="container-fluid">
                            <h2 class="title_details mt-5">Plan/Package Purchase Details</h2>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-8">
                                            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                                                <ol class="breadcrumb pt-4 ">
                                                    <li class="breadcrumb-item">
                                                        <a class="MyPurchaseDetails_link" href="/Home/MyBooking">My Purchase</a>
                                                    </li>
                                                    <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange">  Purchase Detail</li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="separator mb-5"></div>
                                </div>
                            </div>

                            <div id="sectionViewRequest">
                                <div class="row mb-4">
                                    <div class="col-6 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h3>Order Details</h3>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div id="sectionPlanBookingDetail">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h3>Payment Details</h3>
                                                        <hr />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div id="sectionOrderDetails">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>



</body>
</html>

@section Scripts{

    @Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_ManageMyPlanPurchaseScriptPartial.cshtml")
}

