
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online courses</title>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- slick slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
            integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- font link -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- font link end -->
    <link rel="stylesheet" href="~/Content/assets/education.css">
    <script src="~/Content/assets/education.js"></script>

</head>

<body>
    <!-- header -->
    <header class="header">
        <div class="page-center">
            <div class="header-main">
                <div class="logo">
                    <a href="">
                        <img src="~/Content/visitor-panel/image/AdminLTELogo2.png" alt="logo" loading="lazy">
                        <span class="logo-name">MASTER ZONE</span>
                    </a>
                </div>
                <div class="navigation-section-wrap">
                    <div class="menu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Course</a></li>
                            <li><a href="">Instructor </a></li>
                            <li><a href="">Contact Us </a></li>
                        </ul>
                    </div>
                    <div class="mobile_menu navmain-opener"><span></span></div>
                </div>
            </div>
        </div>
    </header>
    <div class="hero-banner all-course" style="background-image: url('/Content/visitor-panel/image/instructors.jpg');">
        <div class="page-center">
            <div class="banner-text">
                <h1>
                    Online Courses
                </h1>
            </div>
        </div>

    </div>

    <!-- grid section start -->
    <div class="grid-section listing">
        <div class="page-center">
            <center class="cta-banner-inner">
                <a href="/visitor-panel/all-course.html">All Courses</a>
            </center>
            <div class="grid-layout">
                <div class="grid-iner">
                    <div class="gird-items">
                        <div class="image-logo-z">
                            <div class="date-section">
                                <span> 10 April, 2023</span>
                            </div>
                            <img src="~/Content/visitor-panel/image/grid-img.jpg" alt="img" loading="lazy">
                        </div>
                        <div class="inr-text">
                            <h3>Chemical Engineering</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat sapien nisl, at
                                blandit sem iaculis nec.
                            </p>
                            <div class="prize">
                                <a class="cta-detail" href="details.html">
                                    Details <i class="fa-solid fa-angle-right"></i>
                                </a>
                                <span class="prize">$100</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-iner">
                    <div class="gird-items">
                        <div class="image-logo-z">
                            <div class="date-section">
                                <span> 10 April, 2023</span>
                            </div>
                            <img src="~/Content/visitor-panel/image/grid-img.jpg" alt="img" loading="lazy">
                        </div>
                        <div class="inr-text">
                            <h3>Chemical Engineering</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat sapien nisl, at
                                blandit sem iaculis nec.
                            </p>
                            <div class="prize">
                                <a class="cta-detail" href="details.html">
                                    Details <i class="fa-solid fa-angle-right"></i>
                                </a>
                                <span class="prize">$100</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-iner">
                    <div class="gird-items">
                        <div class="image-logo-z">
                            <div class="date-section">
                                <span> 10 April, 2023</span>
                            </div>
                            <img src="~/Content/visitor-panel/image/grid-img.jpg" alt="img" loading="lazy">
                        </div>
                        <div class="inr-text">
                            <h3>Chemical Engineering</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat sapien nisl, at
                                blandit sem iaculis nec.
                            </p>
                            <div class="prize">
                                <a class="cta-detail" href="details.html">
                                    Details <i class="fa-solid fa-angle-right"></i>
                                </a>
                                <span class="prize">$100</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-iner">
                    <div class="gird-items">
                        <div class="image-logo-z">
                            <div class="date-section">
                                <span> 10 April, 2023</span>
                            </div>
                            <img src="~/Content/visitor-panel/image/grid-img.jpg" alt="img" loading="lazy">
                        </div>
                        <div class="inr-text">
                            <h3>Chemical Engineering</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat sapien nisl, at
                                blandit sem iaculis nec.
                            </p>
                            <div class="prize">
                                <a class="cta-detail" href="details.html">
                                    Details <i class="fa-solid fa-angle-right"></i>
                                </a>
                                <span class="prize">$100</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-iner">
                    <div class="gird-items">
                        <div class="image-logo-z">
                            <div class="date-section">
                                <span> 10 April, 2023</span>
                            </div>
                            <img src="~/Content/visitor-panel/image/grid-img.jpg" alt="img" loading="lazy">
                        </div>
                        <div class="inr-text">
                            <h3>Chemical Engineering</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat sapien nisl, at
                                blandit sem iaculis nec.
                            </p>
                            <div class="prize">
                                <a class="cta-detail" href="details.html">
                                    Details <i class="fa-solid fa-angle-right"></i>
                                </a>
                                <span class="prize">$100</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-iner">
                    <div class="gird-items">
                        <div class="image-logo-z">
                            <div class="date-section">
                                <span> 10 April, 2023</span>
                            </div>
                            <img src="~/Content/visitor-panel/image/grid-img.jpg" alt="img" loading="lazy">
                        </div>
                        <div class="inr-text">
                            <h3>Chemical Engineering</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat sapien nisl, at
                                blandit sem iaculis nec.
                            </p>
                            <div class="prize">
                                <a class="cta-detail" href="details.html">
                                    Details <i class="fa-solid fa-angle-right"></i>
                                </a>
                                <span class="prize">$100</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-iner">
                    <div class="gird-items">
                        <div class="image-logo-z">
                            <div class="date-section">
                                <span> 10 April, 2023</span>
                            </div>
                            <img src="~/Content/visitor-panel/image/grid-img.jpg" alt="img" loading="lazy">
                        </div>
                        <div class="inr-text">
                            <h3>Chemical Engineering</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat sapien nisl, at
                                blandit sem iaculis nec.
                            </p>
                            <div class="prize">
                                <a class="cta-detail" href="details.html">
                                    Details <i class="fa-solid fa-angle-right"></i>
                                </a>
                                <span class="prize">$100</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-iner">
                    <div class="gird-items">
                        <div class="image-logo-z">
                            <div class="date-section">
                                <span> 10 April, 2023</span>
                            </div>
                            <img src="~/Content/visitor-panel/image/grid-img.jpg" alt="img" loading="lazy">
                        </div>
                        <div class="inr-text">
                            <h3>Chemical Engineering</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat sapien nisl, at
                                blandit sem iaculis nec.
                            </p>
                            <div class="prize">
                                <a class="cta-detail" href="details.html">
                                    Details <i class="fa-solid fa-angle-right"></i>
                                </a>
                                <span class="prize">$100</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-iner">
                    <div class="gird-items">
                        <div class="image-logo-z">
                            <div class="date-section">
                                <span> 10 April, 2023</span>
                            </div>
                            <img src="~/Content/visitor-panel/image/grid-img.jpg" alt="img" loading="lazy">
                        </div>
                        <div class="inr-text">
                            <h3>Chemical Engineering</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat sapien nisl, at
                                blandit sem iaculis nec.
                            </p>
                            <div class="prize">
                                <a class="cta-detail" href="details.html">
                                    Details <i class="fa-solid fa-angle-right"></i>
                                </a>
                                <span class="prize">$100</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-iner">
                    <div class="gird-items">
                        <div class="image-logo-z">
                            <div class="date-section">
                                <span> 10 April, 2023</span>
                            </div>
                            <img src="~/Content/visitor-panel/image/grid-img.jpg" alt="img" loading="lazy">
                        </div>
                        <div class="inr-text">
                            <h3>Chemical Engineering</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat sapien nisl, at
                                blandit sem iaculis nec.
                            </p>
                            <div class="prize">
                                <a class="cta-detail" href="details.html">
                                    Details <i class="fa-solid fa-angle-right"></i>
                                </a>
                                <span class="prize">$100</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-iner">
                    <div class="gird-items">
                        <div class="image-logo-z">
                            <div class="date-section">
                                <span> 10 April, 2023</span>
                            </div>
                            <img src="~/Content/visitor-panel/image/grid-img.jpg" alt="img" loading="lazy">
                        </div>
                        <div class="inr-text">
                            <h3>Chemical Engineering</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat sapien nisl, at
                                blandit sem iaculis nec.
                            </p>
                            <div class="prize">
                                <a class="cta-detail" href="details.html">
                                    Details <i class="fa-solid fa-angle-right"></i>
                                </a>
                                <span class="prize">$100</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-iner">
                    <div class="gird-items">
                        <div class="image-logo-z">
                            <div class="date-section">
                                <span> 10 April, 2023</span>
                            </div>
                            <img src="~/Content/visitor-panel/image/grid-img.jpg" alt="img" loading="lazy">
                        </div>
                        <div class="inr-text">
                            <h3>Chemical Engineering</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat sapien nisl, at
                                blandit sem iaculis nec.
                            </p>
                            <div class="prize">
                                <a class="cta-detail" href="details.html">
                                    Details <i class="fa-solid fa-angle-right"></i>
                                </a>
                                <span class="prize">$100</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- grid section End -->
    <!-- footer -->
    <footer class="footer">
        <div class="page-center">
            <div class="row-sec">
                <div class="col-lg-one">
                    <h4 class="uppercase">Education</h4>
                    <p class="small">
                        Vestibulum in ultrices justo. Praesent placerat justo metus, vitae malesuada lacus
                        eleifend vel. Vivamus viverra volutpat leo, a gravida dolor posuere congue.
                    </p>
                    <div class="footer-social">
                        <div class="social-icon">
                            <a href=""><i class="fa-brands fa-facebook-f"></i> </a>
                        </div>
                        <div class="social-icon">
                            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                        <div class="social-icon">
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                        </div>
                        <div class="social-icon">
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-two">
                    <div class="menu-one">
                        <h5 class="uppercase">Quick Links</h5>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>

                            <li>
                                <a href="#">Service</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>


                </div>

                <div class="col-lg-two">
                    <div class="menu-one">
                        <h5 class="uppercase">
                            Useful Links
                        </h5>
                        <ul>
                            <li>
                                <a href="all-course.html">All Courses</a>
                            </li>
                            <li>
                                <a href="all-course.html">Online Course</a>
                            </li>

                            <li>
                                <a href="all-course.html">All Subject</a>
                            </li>
                            <li>
                                <a href="all-course.html"> Our Curriculum</a>
                            </li>
                        </ul>
                    </div>


                </div>
                <div class="col-lg-two">
                    <h5>Contact Us</h5>
                    <p>
                        178 West 27th Street, Suite 527, New York NY 10012 United States
                    </p>
                    <a href="tel:1234567890">1234567890</a>
                    <a href="mailto:company@yourname.com">company@yourname.com</a>
                </div>

            </div>
        </div>
    </footer>
    <!-- copyright section -->
    <div class="copyrights border-top pt-3">
        <div class="container ">
            <div class="row">

                <div class="col-sm-12 col-md-6">
                    <strong class="d-flex copyrights-text" style="white-space: nowrap;">
                        <p> Copyright © 2023</p> <a class="copyright-company-name mr-2 ml-2" href="index.html"> Master Zone.</a>
                        <p>All rights reserved.</p>
                    </strong>

                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="float-md-right d-sm-inline-block">
                        <a class="text-white" target="_blank" href="https://protolabzit.com/">
                            <p class="text-white text-center" id="footer-text" style="color: #869099;
      font-size: 1rem;"> Developed &amp; Designed by: Protolabz eServices</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .cta-banner-inner {
            display: flex;
            align-items: center;
            margin-top: 15px;
            justify-content: center;
            margin-bottom: 3rem;
        }

        .grid-section.listing {
            padding-top: 3rem;
        }
    </style>
</body>
<script>
    $('.grid-section .grid-layout').slick({
        dots: true,
        infinite: false,
        speed: 300,
        rows: 3,
        arrows: false,
        slidesToShow: 2,
        slidesToScroll: 2,
        responsive: [
            {
                breakpoint: 767,
                settings: {
                    dots: true,
                    infinite: true,
                    rows: 3,
                    arrows: false,
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
        ]
    });

    // all course
    $('.subject-flex').slick({
        dots: true,
        infinite: false,
        speed: 300,
        rows: 3,
        arrows: false,
        slidesToShow: 3,
        slidesToScroll: 3,
        responsive: [
            {
                breakpoint: 767,
                settings: {
                    dots: true,
                    infinite: true,
                    rows: 3,
                    arrows: false,
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
            },
            {
                breakpoint: 580,
                settings: {
                    dots: true,
                    infinite: true,
                    rows: 3,
                    arrows: false,
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
        ]
    });


</script>

</html>
