


@{
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
    ViewData["Title"] = "Masterzone";
}


<div class="banner-sec" style="background: url(/Content/visitor-panel/image/taj2.jpg) no-repeat top center/cover;">
    <h2 class="text-center text-white pj-hd-text">Privacy Policy</h2>
</div>

<section id="sesction1-P-C" class="section">
    <div class="container sc1-abt">
        <div class="row r1-abt">
            <div class="col cl1-abt">
                <div class="wwa-sc">
                    <h2 class="text-center sc-hd">Privacy Policy</h2>
                    <!-- <p class="text-center">Last Updated:01 January,2022</p> -->
                    <p class="text-justify sc-txt">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                        soluta
                        facilis est excepturi
                        nostrum perferendis accusamus labore asperiores, incidunt inventore, consectetur voluptatem
                        autem vero ea. Nam officia minus, magni explicabo velit natus deserunt beatae, consequatur
                        enim soluta atque dolor quasi a, voluptas modi obcaecati aliquam! Repudiandae, temporibus, a
                        alias officiis maxime neque voluptate optio aut ullam perspiciatis porro asperiores quasi
                        qui, nam molestias voluptatem mollitia? Sapiente cum quos, vero odit alias eum perferendis
                        quidem sit necessitatibus quisquam atque quam eos commodi totam dignissimos hic voluptatibus
                        quas excepturi, placeat enim praesentium, rerum veritatis impedit! Excepturi nemo, quae
                        illum corrupti pariatur odio voluptates harum quia vitae
                        mollitia nam, obcaecati veniam, porro qui accusantium.
                    </p>
                    <h4 class="head-90">1. Background And Key Information</h4>
                    <p class="text-justify">
                        1. Lorem ipsum dolor sit Sapiente cum quos, vero odit alias eum
                        perferendis
                        quidem sit necessitatibus quisquam atque amet consectetur adipisicing elit. Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis consequatur placeat cumque id est!
                    </p>
                    <p class="text-justify">
                        2. Lorem ipsum dolor Sapiente cum quos, vero odit alias eum perferendis
                        quidem sit necessitatibus quisquam atqueSapiente cum quos, vero odit alias eum perferendis
                        quidem sit necessitatibus quisquam atque sit amet consectetur adipisicing elit. Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis consequatur placeat cumque id est!
                    </p>
                    <p class="text-justify">
                        3. Lorem Sapiente cum quos, vero odit alias eum perferendis
                        quidem sit necessitatibus quisquam atqueSapiente cum quos, vero odit alias eum perferendis
                        quidem sit necessitatibus quisquam atqueSapiente cum quos, vero odit alias eum perferendis
                        quidem sit necessitatibus quisquam atque ipsum dolor sit amet consectetur adipisicing elit.
                        Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis co
                    </p>
                    <p class="text-justify">
                        4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis consequatur placeat cumque id est!
                    </p>



                    <p class="text-justify sc-txt">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                        soluta
                        facilis est excepturi
                        nostrum perferendis accusamus labore asperiores, incidunt inventore, consectetur voluptatem
                        autem vero ea. Nam officia minus, magni explicabo velit natus deserunt beatae, consequatur
                        enim soluta atque dolor quasi a, voluptas modi obcaecati aliquam! Repudiandae, temporibus, a
                        alias officiis maxime neque voluptate optio aut ullam perspiciatis porro velit natus
                        deserunt beatae, consequatur
                        enim soluta atque dolor quasi a, voluptas modi obcaec s accusamus labore asperiores,
                        incidunt inventore, consectetur voluptatem
                        autem vero ea. Nam officia minus, magni explicabo velit natus deserunt beatae, consequatur
                        enim soluta atque dolor quasi magni explicabo velit natus deserunt beatae, consequatur
                    </p>
                    <h4 class="head-90">2. Personal Data That We Collect</h4>
                    <p class="text-justify">
                        1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis consequatur placeat cumque id est! exercitationem
                        ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis consequatur
                    </p>
                    <p class="text-justify">
                        2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis consequatur placeat cumque id est! sit amet
                        consectetur adipisicing elit. Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis consequat
                    </p>
                    <p class="text-justify">
                        3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis consequatur placeat cumque dolor sit amet consectetur
                        adipisicing elit. Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate dolor sit amet
                        consectetur adipisicing elit. Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate
                    </p>
                    <p class="text-justify">
                        4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis consequatur placeat cumque id est!
                    </p>
                    <p class="text-justify sc-txt">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                        soluta
                        facilis est excepturi
                        nostrum perferendis accusamus labore asperiores, incidunt inventore, consectetur voluptatem
                        autem vero ea. Nam officia minus, magni explicabo velit natus deserunt beatae, consequatur
                        enim soluta atque dolor quasi a, voluptas modi obcaecati aliquam! Repudiandae, temporibus, a
                        alias officiis maxime neque voluptate optio aut ullam perspiciatis porro asperiores quasi
                        qui, nam molestias voluptatem mollitia? Sapiente cum quos, vero odit alias eum perferendis
                        quidem sit necessitatibus quisquam atque quam eos commodi totam dignissimos hic voluptatibus
                        quas excepturi, placeat enim praesentium, rerum veritatis impedit! Excepturi nemo, quae
                        illum corrupti pariatur odio voluptates ex exercitationem accusamus harum quia vitae
                        mollitia nam, obcaecati veniam, porro qui accusantium. Error magni quisquam praesentium
                        ducimus sint enim accusamus ex reprehenderit nisi, quibusdam velit quas incidunt dolores rem
                        iste. Rem, voluptas sed a ullam inventore earum cum quidem. Quas, iste possimus debitis
                        illum officia perferendis pariatur voluptate, tenetur voluptates, dolorem deleniti error
                        minima? Ratione placeat nam eligendi doloremque saepe! Est asperiores quas, consequuntur
                        voluptatibus deleniti expedita in minus ipsum quisquam natus veniam distinctio aperiam,
                        autem ipsa ad nam. Sapiente beatae, quis, labore nesciunt veritatis nisi quae animi sit
                        minima assumenda non aliquam expedita similique culpa soluta porro?
                    </p>
                    <h4 class="head-90">3. How Do We Use Your Personal Data?</h4>
                    <p class="text-justify">
                        1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis consequatur placeat cumque id est! oluptate, tenetur
                        voluptates, dolorem deleniti error
                        minima? Ratione placeat nam eligendi doloremque saepe!
                    </p>
                    <p class="text-justify">
                        2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis consequatur placeat cumque id est! sed a ullam
                        inventore earum cum quidem. Quas, iste possimus debitis
                        illum officia perferendis pariatur voluptate, tenetur voluptates, dolorem deleniti error
                        minima? Ratione placeat nam eligendi doloremque saepe! Est sed a ullam inventore earum cum
                        quidem. Quas, iste possimus debitis
                        illum officia perferendis pariatur voluptate, tenetur voluptates, dolorem deleniti error
                        minima? Ratione placeat nam eligendi doloremque saepe! Est
                    </p>
                    <p class="text-justify">
                        3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis consequatur placeat cumque id est! exercitationem
                        ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis consequatur placeat cumque id est! oluptate, tenetur
                        voluptates, dolorem deleniti error
                        minima? Ratione placeat nam eligendi doloremque
                    </p>
                    <p class="text-justify">
                        4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                        similique dicta incidunt
                        distinctio quia tempore fugiat, exercitationem ipsa. Exercitationem voluptate dignissimos
                        corporis qui reprehenderit perferendis consequatur placeat cumque id est! Lorem ipsum dolor,
                        sit amet consectetur adipisicing elit. Quam, ipsa vitae officia itaque quasi amet sunt ex
                        maiores veniam voluptatibus provident enim omnis qui. Ratione cumque possimus maxime magni
                        commodi!
                    </p>

                </div>

            </div>
        </div>


    </div>
</section>









