
@{
    //Layout = null;
    Layout = "~/Views/Shared/VistiorHomeLayout.cshtml";
    ViewBag.Title = "ResumeProfile1";
    long businessOwnerLoginId = ViewBag.BusinessOwnerLoginId;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/Content/visitor-panel/Resume-Profile-1/css/stylesheet.css">
    <script src="~/Content/visitor-panel/Resume-Profile-1/js/mainjs.js"></script>
    <!-- isotop filter -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <!-- calendar cdn -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css">
    <!-- js link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.js"></script>
    <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
    <!-- slick slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <input type="hidden" id="hiddenbusinessOwnerLoginId" value="@ViewBag.BusinessOwnerLoginId" />
    <div class="profile-section">
        <div class="page-center">

            <div class="column-section" >
                <div class="left-col">
                    <div class="left-col-inr" id="BindUserContentResumeDetail" >
                        @*<div class="img-profile">
                            <p class="id-text">Id :<span>534567</span></p>
                            <img src="~/Content/visitor-panel/image/profile.jpg" alt="profile-img">

                        </div>
                        <div class="profile-name">

                            <h3>Master</h3>
                            <p>Creative Designer</p>
                        </div>
                        <div class="social-follow">
                            <div class="social-icon">
                                <a href=""><i class="fa-brands fa-facebook-f"></i>	</a>
                            </div>
                            <div class="social-icon">
                                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                            <div class="social-icon">
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                            </div>
                            <div class="social-icon">
                                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="cta-inr">
                            <a class="download-cta" href="">Share CV</a>
                        </div>*@
                    </div>
                    @*<div class="button-inr">
                        <a class="primary-cta" href="">Class</a>
                        <a class="primary-cta" href="">Events</a>
                        <a class="primary-cta" href="">Packages</a>
                        <a class="primary-cta" href="">Appointment</a>

                        <a class="primary-cta" href="">Class</a>
                        <a class="primary-cta" href="">Events</a>
                        <a class="primary-cta" href="">Packages</a>
                        <a class="primary-cta" href="">Appointment</a>
                    </div>*@


                </div>
                <div class="right-col">
                    <div class="right-col-inr">

                        <div class="tabbing-section" id="about_me">
                            <!-- client profile -->
                            <div class="profile-deatils" id="BindAllUserContentResumeDetail">
                                @*<div class="image-pro">
                                    <img src="~/Content/visitor-panel/image/profile.jpg" alt="profile-img">
                                </div>
                                <div class="des">
                                    <p>House Keeper </p>
                                    <h2>HELLO, I’M MASTER!    </h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Pellentesque ut turpis sagittis, viverra nisi rhoncus, gravida quam.
                                        Curabitur id nisi vestibulum, facilisis lorem ut, tincidunt tellus.
                                        Sed laoreet lacus sapien,
                                        a scelerisque nunc scelerisque quis
                                    </p>
                                    <div class="inr-text-fl">
                                        <div class="cta-iner">
                                            <div class="id-text">
                                                <p> ID:<span>534567</span></p>
                                            </div>
                                            <a href="#">message</a>
                                        </div>
                                        <div class="located">
                                            <h5>Location </h5>
                                            <div class="location">
                                                <p>Amritsar</p>
                                                <p>Punjab</p>
                                                <p>Delhi</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>*@

                            </div>
                            <div class="personal-information">

                                <div class="personal-col">
                                    <div class="personal-left" id="BindUserContentResumeInfo">
                                        @*<h2> personal information</h2>
                                        <div class="deatil-inr">
                                            <div class="title">
                                                <h6>FULL NAME</h6>
                                            </div>
                                            <div class="deatils">
                                                <p>Master</p>
                                            </div>
                                        </div>
                                        <div class="deatil-inr">
                                            <div class="title">
                                                <h6>D.O.B. </h6>
                                            </div>
                                            <div class="deatils">
                                                <p>05 Sep 1986</p>
                                            </div>
                                        </div>
                                        <div class="deatil-inr">
                                            <div class="title">
                                                <h6>
                                                    ADDRESS
                                                </h6>
                                            </div>
                                            <div class="deatils">
                                                <p>24058, Belgium, Brussels, Liutte 27, BE</p>
                                            </div>
                                        </div>
                                        <div class="deatil-inr">
                                            <div class="title">
                                                <h6>
                                                    E-MAIL
                                                </h6>
                                            </div>
                                            <div class="deatils">
                                                <p>support@px-lab.com</p>
                                            </div>
                                        </div>
                                        <div class="deatil-inr">
                                            <div class="title">
                                                <h6>
                                                    PHONE
                                                </h6>
                                            </div>
                                            <div class="deatils">
                                                <p>
                                                    +1 256 254 84 56
                                                </p>
                                            </div>
                                        </div>
                                        <div class="deatil-inr">
                                            <div class="title">
                                                <h6>
                                                    FREELANCE

                                                </h6>
                                            </div>
                                            <div class="deatils">
                                                <p>Available </p>
                                            </div>
                                        </div>*@
                                    </div>
                                    <div class="right-left">
                                        <h2>languages</h2>
                                        <div class="right-left-inr" id="BusinessLanguageBind">
                                            @*<div class="progress-bullets crt-animated">
                                                <strong class="progress-title">English</strong>
                                            </div>
                                            <div class="progress-bullets crt-animated">
                                                <strong class="progress-title">Punjabi</strong>
                                            </div>
                                            <div class="progress-bullets crt-animated">
                                                <strong class="progress-title">Italian</strong>
                                            </div>
                                            <div class="progress-bullets crt-animated">
                                                <strong class="progress-title"></strong>
                                            </div>
                                            <div class="progress-bullets crt-animated">
                                                <strong class="progress-title"> Chinese</strong>
                                            </div>
                                            <div class="progress-bullets crt-animated">
                                                <strong class="progress-title"> Spanish</strong>
                                            </div>*@
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="resume">
                            <h2 class="resume-title">Resume</h2>
                            <div class="resume">
                                <div class="education-col">
                                    <div class="skill-title">
                                        <h2>
                                            Education
                                        </h2>
                                    </div>
                                    <div class="container" id="BindBusinessUserEdducationDetailList">
                                        @*<div class="timeline">
                                            <div class="rt-col">
                                                <h5 class="item-period">2008</h5>
                                                <span class="item-company">University of Studies</span>
                                            </div>

                                            <div class="divder">
                                            </div>
                                            <div class="lt-col">
                                                <div class="title">Frontend Development </div>
                                                <p>
                                                    Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam sodales.
                                                    Phasellus sed mauris hendrerit, laoreet sem in, lobortis ante.
                                                </p>
                                            </div>

                                        </div>
                                        <div class="timeline">
                                            <div class="rt-col">

                                                <h5 class="item-period">2007</h5>
                                                <span class="item-company">University of Studies</span>
                                            </div>
                                            <div class="divder">
                                            </div>
                                            <div class="lt-col">
                                                <div class="title">Graphic Design </div>
                                                <p>
                                                    Aliquam tincidunt malesuada tortor vitae iaculis. In eu turpis iaculis,
                                                    feugiat risus quis, aliquet urna. Quisque fringilla mollis risus,
                                                    eu pulvinar dolor.

                                                </p>
                                            </div>

                                        </div>*@


                                    </div>
                                </div>
                                <div class="experience-inr">
                                    <h2 class="exp-title">Experience</h2>
                                    <div id="BindBussinessUserExperienceDetailList">
                                        @*<div class="timeline">
                                            <div class="rt-col">
                                                <h5 class="item-period">2016 <br>Current</h5>
                                                <span class="item-company">
                                                    Envato
                                                </span>
                                            </div>

                                            <div class="divder">
                                            </div>
                                            <div class="lt-col">
                                                <div class="title">
                                                    Lead Ui/Ux Designer
                                                </div>
                                                <p>
                                                    Praesent dignissim sollicitudin justo, sed elementum quam lacinia quis.
                                                    Phasellus eleifend tristique posuere. Sed vitae dui nec magna.


                                                </p>
                                            </div>

                                        </div>
                                        <div class="timeline">
                                            <div class="rt-col">

                                                <h5 class="item-period">2013 - 2016</h5>
                                                <span class="item-company">Envato</span>
                                            </div>

                                            <div class="divder">
                                            </div>
                                            <div class="lt-col">
                                                <div class="title">
                                                    Senior Ui/Ux Designer
                                                </div>
                                                <p>
                                                    Maecenas tempus faucibus rutrum. Duis eu aliquam urna. Proin vitae nulla tristique,
                                                    ornare felis id, congue libero. Nam volutpat euismod quam.
                                                </p>
                                            </div>

                                        </div>
                                        <div class="timeline">
                                            <div class="rt-col">

                                                <h5 class="item-period">
                                                    2011 - 2013
                                                </h5>
                                                <span class="item-company">Envato</span>
                                            </div>

                                            <div class="divder">
                                            </div>
                                            <div class="lt-col">
                                                <div class="title">
                                                    Junior Ui/Ux Designer

                                                </div>
                                                <p>
                                                    Duis mollis nunc quis quam viverra venenatis. Nulla nulla arcu, congue vitae nunc ac,
                                                    sodales ultricies diam.
                                                    Nullam justo leo, tincidunt sit amet.
                                                </p>
                                            </div>

                                        </div>*@
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- working now -->
                        <div class="skills-current">
                            <div class="skills-col-inr">
                                <div class="skill-title">
                                    <h2>Design Skills</h2>
                                </div>
                                <div class="elementor-widget-container">
                                     <ul class="knowledges"  id="BindBusinessUserSkillsDetail">
                                        @*<li>Marketing</li>
                                            <li>Print</li>
                                            <li>Digital Design</li>
                                            <li>Social Media</li>
                                            <li>Time Management</li>
                                            <li>Communication</li>
                                            <li>Problem-Solving</li>
                                            <li>Social Networking</li>
                                            <li>Flexibility</li>*@
                                        </ul>
                                </div>

                            </div>
                            <div class="certificates-section">
                                <div class="heading-title">
                                    <h2>Currently Working</h2>
                                    <a href="">Past Working</a>
                                </div>
                                <div class="certi-main" id="BindBusinessCurrentlyWorkingList">
                                    @*<div class="certi-inr">
                                        <img src="~/Content/visitor-panel/image/AdminLTELogo.png" alt="logo" loading="lazy">
                                        <p>Master Zone</p>
                                    </div>
                                    <div class="certi-inr">
                                        <img src="~/Content/visitor-panel/image/AdminLTELogo.png" alt="logo" loading="lazy">
                                        <p>Master Zone</p>
                                    </div>
                                    <div class="certi-inr">
                                        <img src="~/Content/visitor-panel/image/AdminLTELogo.png" alt="logo" loading="lazy">
                                        <p>Master Zone</p>
                                    </div>
                                    <div class="certi-inr">
                                        <img src="~/Content/visitor-panel/image/AdminLTELogo.png" alt="logo" loading="lazy">
                                        <p>Master Zone</p>
                                    </div>
                                    <div class="certi-inr">
                                        <img src="~/Content/visitor-panel/image/AdminLTELogo.png" alt="logo" loading="lazy">
                                        <p>Master Zone</p>
                                    </div>
                                    <div class="certi-inr">
                                        <img src="~/Content/visitor-panel/image/AdminLTELogo.png" alt="logo" loading="lazy">
                                        <p>Master Zone</p>
                                    </div>
                                    <div class="certi-inr">
                                        <img src="~/Content/visitor-panel/image/AdminLTELogo.png" alt="logo" loading="lazy">
                                        <p>Master Zone</p>
                                    </div>
                                    <div class="certi-inr">
                                        <img src="~/Content/visitor-panel/image/AdminLTELogo.png" alt="logo" loading="lazy">
                                        <p>Master Zone</p>
                                    </div>
                                    <div class="certi-inr">
                                        <img src="~/Content/visitor-panel/image/AdminLTELogo.png" alt="logo" loading="lazy">
                                        <p>Master Zone</p>
                                    </div>
                                    <div class="certi-inr">
                                        <img src="~/Content/visitor-panel/image/AdminLTELogo.png" alt="logo" loading="lazy">
                                        <p>Master Zone</p>
                                    </div>
                                    <div class="certi-inr">
                                        <img src="~/Content/visitor-panel/image/AdminLTELogo.png" alt="logo" loading="lazy">
                                        <p>Master Zone</p>
                                    </div>
                                    <div class="certi-inr">
                                        <img src="~/Content/visitor-panel/image/AdminLTELogo.png" alt="logo" loading="lazy">
                                        <p>Master Zone</p>
                                    </div>*@
                                </div>

                            </div>
                        </div>
                        <!-- reference section -->
                        @*<div class="tabbing-section">
                            <div class="reference-section">
                                <h2> Review</h2>
                                <div class="reference-inr">
                                    <div class="refer-inr">
                                        <div class="image-text">
                                            <div class="reference-img">
                                                <img src="~/Content/visitor-panel/image/tourguide.jpg" alt="img">
                                            </div>
                                            <div class="description">
                                                <h5> EDWIN BALLARD</h5>
                                                <div class="str-str">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>

                                                <div class="des-inr">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut turpis sagittis,
                                                        viverra nisi rhoncus, gravida quam. Curabitur id nisi vestibulum, facilisis lorem ut,
                                                        tincidunt tellus. Sed laoreet lacus sapien,
                                                        a scelerisque nunc scelerisque quis
                                                    </p>
                                                    <div class="date-inr">
                                                        17 Jan, 2023
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="refer-inr">
                                        <div class="image-text">
                                            <div class="reference-img">
                                                <img src="~/Content/visitor-panel/image/tourguide.jpg" alt="img">
                                            </div>
                                            <div class="description">
                                                <h5>Robert</h5>
                                                <div class="str-str">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>

                                                <div class="des-inr">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut turpis sagittis,
                                                        viverra nisi rhoncus, gravida quam. Curabitur id nisi vestibulum, facilisis lorem ut,
                                                        tincidunt tellus. Sed laoreet lacus sapien,
                                                        a scelerisque nunc scelerisque quis
                                                    </p>
                                                    <div class="date-inr">
                                                        17 Jan, 2023
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="refer-inr">
                                        <div class="image-text">
                                            <div class="reference-img">
                                                <img src="~/Content/visitor-panel/image/tourguide.jpg" alt="img">
                                            </div>
                                            <div class="description">
                                                <h5>Oliver</h5>
                                                <div class="str-str">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>

                                                <div class="des-inr">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut turpis sagittis,
                                                        viverra nisi rhoncus, gravida quam. Curabitur id nisi vestibulum, facilisis lorem ut,
                                                        tincidunt tellus. Sed laoreet lacus sapien,
                                                        a scelerisque nunc scelerisque quis
                                                    </p>
                                                    <div class="date-inr">
                                                        17 Jan, 2023
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="refer-inr">
                                        <div class="image-text">
                                            <div class="reference-img">
                                                <img src="~/Content/visitor-panel/image/tourguide.jpg" alt="img">
                                            </div>
                                            <div class="description">
                                                <h5>Andy</h5>
                                                <div class="str-str">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>

                                                <div class="des-inr">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut turpis sagittis,
                                                        viverra nisi rhoncus, gravida quam. Curabitur id nisi vestibulum, facilisis lorem ut,
                                                        tincidunt tellus. Sed laoreet lacus sapien,
                                                        a scelerisque nunc scelerisque quis
                                                    </p>
                                                    <div class="date-inr">
                                                        17 Jan, 2023
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>*@
                        <!--  end reference -->

                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>

        $('.reference-inr').slick({
            dots: true,
            arrows: false,
            infinite: false,
            speed: 300,
            slidesToShow: 2,
            slidesToScroll: 2,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });

    </script>
</body>
</html>
@Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_ResumeProfile1ScriptPartial.cshtml")