
@{
    ViewBag.Title = "Savedinstructor";
    Layout = "~/Views/Shared/VistiorHomeLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/Content/assets/conatiner-style.css">
    <link rel="stylesheet" href="~/Content/assets/style_new1.css">
    <style>
        img.ls-p-lg.mblg-ls {
            box-shadow: none !important;
        }

        .si-h1-rujfjfj {
            margin-bottom: inherit !important;
        }

        .business_sec {
            margin-bottom: 2px;
        }

        .like-badge {
            padding-left: 0.5rem !important;
            padding-right: 0.5rem !important;
            margin-left: 1rem !important;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem !important;
        }
        .certified-badge {
            font-size: 0.8rem;
            padding: 0.2rem;
            background:#f1f1f1;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem !important;
        }
    </style>
}

<section id="section-mc1" class="section-mk1">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @Html.Partial("_VisitorPanelSideBarPartial")
            </div>
            <div class="col-sm-9">

                <!-- My-classes-section -->

                <div id="My-Classes-i" class="section-1-my-classes inrsection-mltp">
                    <h2 class="mk-hdffjsdkfj">Saved Instructors</h2>

                    <ul class="nav nav-tabs custom-tab-bar mtab-3jrjfj">
                        <li id="upc-fhgjfie" class="nav-item">
                            <a class="nav-link text-dark active" data-toggle="tab" data-target="#fav_instructor" role="tab">Instructor</a>
                        </li>
                        <li id="pst-jgmkjs" class="nav-item">
                            <a class="nav-link text-dark" data-toggle="tab" data-target="#fav_business" role="tab">Business</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="fav_instructor" class="tab-pane fade in active show" role="tabpanel">

                        </div>
                        <div id="fav_business" class="tab-pane fade" role="tabpanel">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        //$("a#updfdsjfjs").click();
        //$("#upc-fhgjfie").click(function () { $("#upc-fhgjfie").addClass('active'); $("#pst-jgmkjs").removeClass("active"); getAllFavouriteBusinessInstructorList(); });
        //$("#pst-jgmkjs").click(function () { $("#pst-jgmkjs").addClass('active'); $("#upc-fhgjfie").removeClass("active"); getAllFavouriteBusinessOwnerLists(); });
    </script>

    @Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_SavedInstructorScriptPartial.cshtml")

}
