@{
    Layout = null;
    long businessOnwerLoginId = ViewBag.BusinessOwnerLoginId;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.3.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js"></script>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- slick slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
            integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Content/assets/lightbox/css/lightbox.css" rel="stylesheet" />
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font link -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <!-- font link end -->
    <link rel="stylesheet" href="~/Content/assets/sports-page.css">

    <script src="~/Content/assets/sports-main.js"></script>


</head>



<body>


    <input type="hidden" id="hiddenBusinessOwnerLoginId" value="@ViewBag.BusinessOwnerLoginId" />
    <!-- header -->
    <header class="header">
        <div class="page-center">
            <div class="header-main">
                <div class="logo" id="BindBusinessLogoDetail">
                    @*<a href="index.html">
                            <img src="~/Content/visitor-panel/image/AdminLTELogo2.png" alt="logo" loading="lazy">
                            <span class="logo-name">MASTER ZONE</span>
                        </a>*@
                </div>
                <div class="navigation-section-wrap">
                    <div class="menu">
                        <ul>
                            <li><a href="/Home/Sports?businessOwnerLoginId=@ViewBag.BusinessOwnerLoginId">Home</a></li>
                            <li><a href="#about-section">About</a></li>
                            <li><a href="#ourclassid">Classes</a></li>
                            <li><a href="#membership-sectionid">Packages</a></li>
                            <li><a href="#services-sectionid">Services </a></li>
                            <li><a href="#events-sectionid">Events </a></li>
                            <li><a href="#instructor-sectionid">Our Coaches</a></li>
                            <li><a href="#gallery01">Gallery</a></li>
                            <li><a href="#contact-us01">Contact Us </a></li>
                        </ul>
                    </div>
                    <div class="mobile_menu navmain-opener"><span></span></div>
                </div>
            </div>
        </div>
    </header>

    <div class="slider-wrap">
        <div class="image-slider" id="SportsBannerDetail">
            @*<div class="img-wrap" style="background-image: url('/Content/visitor-panel/image/football.jpg');">
                    <div class="page-center">
                        <div class="banner-content slider_one">
                            <div class="banner-text">
                                <h4 class="sub-title">Martial Arts Academy </h4>
                                <h1 class="title-main">Train with best Legends </h1>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                </p>
                            </div>
                            <div class="cta-btn">
                                <a href="" class="primary-button">Apply Now</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="img-wrap" style="background-image: url('/Content/visitor-panel/image/football02.jpg');">
                    <div class="page-center">
                        <div class="banner-content slider_two">
                            <div class="banner-text">
                                <h4 class="sub-title">Martial Arts Academy </h4>
                                <h1 class="title-main">Train with best Legends </h1>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                </p>
                            </div>
                            <div class="cta-btn">
                                <a href="" class="primary-button">Read more</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="img-wrap" style="background-image: url('/Content/visitor-panel/image/tennis.jpg');">
                    <div class="page-center">
                        <div class="banner-content slider_three">
                            <div class="banner-text">
                                <h4 class="sub-title">Martial Arts Academy </h4>
                                <h1 class="title-main">Train with best Legends </h1>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                </p>
                            </div>
                            <div class="cta-btn">
                                <a href="" class="primary-button">Read more</a>
                            </div>
                        </div>

                    </div>
                </div>*@
        </div>
        @*<div class="slider-progress">
                <span></span>
            </div>*@
    </div>
    <!-- end banner section -->
    <!-- start about section -->
    <div class="about-section" id="about-section">
        <div class="container">
            <div class="about-col">
                <div class="ab-lf">
                    <div class="text-inr" id="SportsAboutDetail">
                        @*<p>Lorem ipsum dolor</p>
                            <h4>Welcome To Our <span class="highlight"> Sports Academy</span> </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus eveniet.</p>
                            <p>
                                Ipsum dolor sit amet, consectetur adipisicing elit. Soluta doloremque assumenda reprehenderit
                                architecto distinctio expedita nulla, quam laudantium
                                dolor suscipit praesentium eveniet placeat quas, nisi asperiores nihil quibusdam dolorum.
                            </p>*@
                    </div>
                    <div class="icon-txt-main" id="SportsAboutServiceDetail">
                        @*<div class="icon-text">
                                <div class="icon-in">
                                    <img src="~/Content/visitor-panel/image/running.png" alt="icon">
                                </div>
                                <div class="text">
                                    <h6>Running</h6>
                                    <p>Lorem ipsum dolor sit.</p>
                                </div>
                            </div>
                            <div class="icon-text">
                                <div class="icon-in">
                                    <img src="~/Content/visitor-panel/image/running.png" alt="icon">
                                </div>
                                <div class="text">
                                    <h6>Running</h6>
                                    <p>Lorem ipsum dolor sit.</p>
                                </div>
                            </div>
                            <div class="icon-text">
                                <div class="icon-in">
                                    <img src="~/Content/visitor-panel/image/running.png" alt="icon">
                                </div>
                                <div class="text">
                                    <h6>Running</h6>
                                    <p>Lorem ipsum dolor sit.</p>
                                </div>
                            </div>
                            <div class="icon-text">
                                <div class="icon-in">
                                    <img src="~/Content/visitor-panel/image/running.png" alt="icon">
                                </div>
                                <div class="text">
                                    <h6>Running</h6>
                                    <p>Lorem ipsum dolor sit.</p>
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="ab-rt" id="AboutServiceImageDetail">
                    @*<img src="~/Content/visitor-panel/image/banner-img.png" alt="sports">*@
                </div>
            </div>
        </div>
    </div>
    <!--End  about section -->
    <!-- start our classes  -->
    <div id="ourclassid" class="our-class">
        <div class="container">
            <div class="our-title" id="BindOurClassContentDetails_Sports">
                @*<h2>Our <span class="highlight">Classes</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>*@
            </div>
            <div class="our-flex" id="BindOurClassesList_Sports">
                @*<div class="our-item">
                        <div class="our-img">
                            <img src="~/Content/visitor-panel/image/football01.jpg" alt="sports">
                            <div class="viewtime">
                                <a class="view-btn" href="#"> View Time</a>
                            </div>
                        </div>
                        <div class="our-text">
                            <h4><span class="highlight">Private</span> | Group Lessons</h4>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/clock.png" alt="clock">
                                <p>01:00pm - 03:00 pm</p>
                            </div>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                <p>121 King Street, Melbourne.</p>
                            </div>
                        </div>
                    </div>
                    <div class="our-item">
                        <div class="our-img">
                            <img src="~/Content/visitor-panel/image/tennis.jpg" alt="sports">
                            <div class="viewtime">
                                <a class="view-btn" href="#"> View Time</a>
                            </div>
                        </div>
                        <div class="our-text">
                            <h4><span class="highlight">Private</span> | Group Lessons</h4>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/clock.png" alt="clock">
                                <p>01:00pm - 03:00 pm</p>
                            </div>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                <p>121 King Street, Melbourne.</p>
                            </div>
                        </div>
                    </div>
                    <div class="our-item">
                        <div class="our-img">
                            <img src="~/Content/visitor-panel/image/young-golfer.jpg" alt="sports">
                            <div class="viewtime">
                                <a class="view-btn" href="#"> View Time</a>
                            </div>
                        </div>
                        <div class="our-text">
                            <h4><span class="highlight">Private</span> | Group Lessons</h4>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/clock.png" alt="clock">
                                <p>01:00pm - 03:00 pm</p>
                            </div>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                <p>121 King Street, Melbourne.</p>
                            </div>
                        </div>
                    </div>
                    <div class="our-item">
                        <div class="our-img">
                            <img src="~/Content/visitor-panel/image/football02.jpg" alt="sports">
                            <div class="viewtime">
                                <a class="view-btn" href="#"> View Time</a>
                            </div>
                        </div>
                        <div class="our-text">
                            <h4><span class="highlight">Private</span> | Group Lessons</h4>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/clock.png" alt="clock">
                                <p>01:00pm - 03:00 pm</p>
                            </div>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                <p>121 King Street, Melbourne.</p>
                            </div>
                        </div>
                    </div>
                    <div class="our-item">
                        <div class="our-img">
                            <img src="~/Content/visitor-panel/image/sports01jpg.jpg" alt="sports">

                            <div class="viewtime">
                                <a class="view-btn" href="#"> View Time</a>
                            </div>
                        </div>
                        <div class="our-text">
                            <h4><span class="highlight">Private</span> | Group Lessons</h4>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/clock.png" alt="clock">
                                <p>01:00pm - 03:00 pm</p>
                            </div>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                <p>121 King Street, Melbourne.</p>
                            </div>
                        </div>
                    </div>
                    <div class="our-item">
                        <div class="our-img">
                            <img src="~/Content/visitor-panel/image/football03.jpg" alt="sports">
                            <div class="viewtime">
                                <a class="view-btn" href="#"> View Time</a>
                            </div>
                        </div>
                        <div class="our-text">
                            <h4><span class="highlight">Private</span> | Group Lessons</h4>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/clock.png" alt="clock">
                                <p>01:00pm - 03:00 pm</p>
                            </div>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                <p>121 King Street, Melbourne.</p>
                            </div>
                        </div>
                    </div>
                    <div class="our-item">
                        <div class="our-img">
                            <img src="~/Content/visitor-panel/image/football01.jpg" alt="sports">
                            <div class="viewtime">
                                <a class="view-btn" href="#"> View Time</a>
                            </div>
                        </div>
                        <div class="our-text">
                            <h4><span class="highlight">Private</span> | Group Lessons</h4>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/clock.png" alt="clock">
                                <p>01:00pm - 03:00 pm</p>
                            </div>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                <p>121 King Street, Melbourne.</p>
                            </div>
                        </div>
                    </div>
                    <div class="our-item">
                        <div class="our-img">
                            <img src="~/Content/visitor-panel/image/tennis.jpg" alt="sports">
                            <div class="viewtime">
                                <a class="view-btn" href="#"> View Time</a>
                            </div>
                        </div>
                        <div class="our-text">
                            <h4><span class="highlight">Private</span> | Group Lessons</h4>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/clock.png" alt="clock">
                                <p>01:00pm - 03:00 pm</p>
                            </div>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                <p>121 King Street, Melbourne.</p>
                            </div>
                        </div>
                    </div>
                    <div class="our-item">
                        <div class="our-img">
                            <img src="~/Content/visitor-panel/image/young-golfer.jpg" alt="sports">
                            <div class="viewtime">
                                <a class="view-btn" href="#"> View Time</a>
                            </div>
                        </div>
                        <div class="our-text">
                            <h4><span class="highlight">Private</span> | Group Lessons</h4>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/clock.png" alt="clock">
                                <p>01:00pm - 03:00 pm</p>
                            </div>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                <p>121 King Street, Melbourne.</p>
                            </div>
                        </div>
                    </div>
                    <div class="our-item">
                        <div class="our-img">
                            <img src="~/Content/visitor-panel/image/football02.jpg" alt="sports">
                            <div class="viewtime">
                                <a class="view-btn" href="#"> View Time</a>
                            </div>
                        </div>
                        <div class="our-text">
                            <h4><span class="highlight">Private</span> | Group Lessons</h4>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/clock.png" alt="clock">
                                <p>01:00pm - 03:00 pm</p>
                            </div>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                <p>121 King Street, Melbourne.</p>
                            </div>
                        </div>
                    </div>
                    <div class="our-item">
                        <div class="our-img">
                            <img src="~/Content/visitor-panel/image/sports01jpg" alt="sports">
                            <div class="viewtime">
                                <a class="view-btn" href="#"> View Time</a>
                            </div>
                        </div>
                        <div class="our-text">
                            <h4><span class="highlight">Private</span> | Group Lessons</h4>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/clock.png" alt="clock">
                                <p>01:00pm - 03:00 pm</p>
                            </div>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                <p>121 King Street, Melbourne.</p>
                            </div>
                        </div>
                    </div>
                    <div class="our-item">
                        <div class="our-img">
                            <img src="~/Content/visitor-panel/image/football03.jpg" alt="sports">
                            <div class="viewtime">
                                <a class="view-btn" href="#"> View Time</a>
                            </div>
                        </div>
                        <div class="our-text">
                            <h4><span class="highlight">Private</span> | Group Lessons</h4>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/clock.png" alt="clock">
                                <p>01:00pm - 03:00 pm</p>
                            </div>
                            <div class="icon-text">
                                <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                <p>121 King Street, Melbourne.</p>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    <!-- end our classes -->
    <!-- membership start -->
    <div id="membership-sectionid" class="membership-section">
        <div class="container">
            <div class="membership-title" id="BusinessPackageDescriptionDetail">
                @*<h2>Membership <span class="highlight">Packages</span></h2>
                    <p> Join our Training Academy and Rise to a New Challenge</p>*@
            </div>

            <div class="" id="PackageCardDetails">
                <!--<div class="member-item">-->
                @*<div class="member-img">
                        <img src="~/Content/visitor-panel/image/tennis.jpg" alt="img" loading="lazy">
                    </div>
                    <div class="pricing-title one">
                        <h5>BEGINNER</h5>
                        <p>TRAINING WITH JON ISMAIL</p>

                    </div>
                    <div class="pricing-info">
                        <ul>
                            <li>Free Consultation</li>
                            <li>Fitness Assessment</li>
                            <li>24 Hour</li>
                            <li>Nutrional Plan: No</li>
                            <li>Free Consultation</li>
                        </ul>
                    </div>
                    <div class="price-amount">
                        <h2>799 /- <span>MONTHLY</span></h2>
                    </div>
                    <div class="sign-btn">
                        <a href="#">SignUp</a>
                    </div>*@
                <!--</div>-->
                @*<div class="member-item two">
                        <div class="member-img">
                            <img src="~/Content/visitor-panel/image/young-golfer.jpg" alt="img" loading="lazy">
                        </div>
                        <div class="pricing-title two">
                            <h5>PRO</h5>
                            <p>TRAINING WITH JON ISMAIL</p>

                        </div>
                        <div class="pricing-info">
                            <ul>
                                <li>Free Consultation</li>
                                <li>Fitness Assessment</li>
                                <li>24 Hour</li>
                                <li>Nutrional Plan: No</li>
                                <li>Free Consultation</li>
                            </ul>
                        </div>
                        <div class="price-amount">
                            <h2>1199 /- <span>MONTHLY</span></h2>
                        </div>
                        <div class="sign-btn">
                            <a href="#">SignUp</a>
                        </div>
                    </div>
                    <div class="member-item">
                        <div class="member-img">
                            <img src="~/Content/visitor-panel/image/football02.jpg" alt="img" loading="lazy">
                        </div>
                        <div class="pricing-title three">
                            <h5>PREMIUM</h5>
                            <p>TRAINING WITH JON ISMAIL</p>

                        </div>
                        <div class="pricing-info">
                            <ul>
                                <li>Free Consultation</li>
                                <li>Fitness Assessment</li>
                                <li>24 Hour</li>
                                <li>Nutrional Plan: No</li>
                                <li>Free Consultation</li>
                            </ul>
                        </div>
                        <div class="price-amount">
                            <h2>1499 /- <span>MONTHLY</span></h2>
                        </div>
                        <div class="sign-btn">
                            <a href="#">SignUp</a>
                        </div>
                    </div>*@

            </div>

        </div>
    </div>
    <!--End  Membership -->
    <!-- start services section  -->
    <div id="services-sectionid" class="services-section">
        <div class="container">
            <div class="service-col">
                <div class="service-lt" id="BusinessServiceDetail">
                    @*<h6>SERVICES</h6>
                        <h2>DISCOVER OUR <span class="highlight">SERVICES</span></h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
                        </p>
                        <a class="primary-button" href="#">View All</a>*@
                </div>
                <div class="service-rt">
                    <div class="right-inr" id="BusinessContentServiceDetail">
                        @*<div class="text-des">
                                <div class="image-logo-z">
                                    <img src="~/Content/visitor-panel/image/young-golfer.jpg" alt="service">
                                </div>
                                <div class="body-inner">
                                    <h3 class="body-title">gulf ACADEMY</h3>
                                    <div class="body-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="body-button">
                                        <div class="button-box">
                                            <a href="">
                                                Learn More <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="text-des">
                                <div class="image-logo-z">
                                    <img src="~/Content/visitor-panel/image/woman-playing.jpg" alt="service">
                                </div>
                                <div class="body-inner">
                                    <h3 class="body-title">Football ACADEMY</h3>
                                    <div class="body-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="body-button">
                                        <div class="button-box">
                                            <a href="">
                                                Learn More <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="text-des">
                                <div class="image-logo-z">
                                    <img src="~/Content/visitor-panel/image/ground.jpg" alt="service">
                                </div>
                                <div class="body-inner">
                                    <h3 class="body-title">BADMINTON ACADEMY</h3>
                                    <div class="body-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="body-button">
                                        <div class="button-box">
                                            <a href="">
                                                Learn More <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="text-des">
                                <div class="image-logo-z">
                                    <img src="~/Content/visitor-panel/image/ground.jpg" alt="service">
                                </div>
                                <div class="body-inner">
                                    <h3 class="body-title">BADMINTON ACADEMY</h3>
                                    <div class="body-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="body-button">
                                        <div class="button-box">
                                            <a href="">
                                                Learn More <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="text-des">
                                <div class="image-logo-z">
                                    <img src="~/Content/visitor-panel/image/tennis.jpg" alt="service">
                                </div>
                                <div class="body-inner">
                                    <h3 class="body-title">Tennis ACADEMY</h3>
                                    <div class="body-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="body-button">
                                        <div class="button-box">
                                            <a href="">
                                                Learn More <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="text-des">
                                <div class="image-logo-z">
                                    <img src="~/Content/visitor-panel/image/football.jpg" alt="service">
                                </div>
                                <div class="body-inner">
                                    <h3 class="body-title">Football ACADEMY</h3>
                                    <div class="body-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="body-button">
                                        <div class="button-box">
                                            <a href="">
                                                Learn More <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="text-des">
                                <div class="image-logo-z">
                                    <img src="~/Content/visitor-panel/image/young-golfer.jpg" alt="service">
                                </div>
                                <div class="body-inner">
                                    <h3 class="body-title">gulf ACADEMY</h3>
                                    <div class="body-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="body-button">
                                        <div class="button-box">
                                            <a href="">
                                                Learn More <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="text-des">
                                <div class="image-logo-z">
                                    <img src="~/Content/visitor-panel/image/woman-playing.jpg" alt="service">
                                </div>
                                <div class="body-inner">
                                    <h3 class="body-title">Football ACADEMY</h3>
                                    <div class="body-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="body-button">
                                        <div class="button-box">
                                            <a href="">
                                                Learn More <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="text-des">
                                <div class="image-logo-z">
                                    <img src="~/Content/visitor-panel/image/ground.jpg" alt="service">
                                </div>
                                <div class="body-inner">
                                    <h3 class="body-title">BADMINTON ACADEMY</h3>
                                    <div class="body-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="body-button">
                                        <div class="button-box">
                                            <a href="">
                                                Learn More <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="text-des">
                                <div class="image-logo-z">
                                    <img src="~/Content/visitor-panel/image/ground.jpg" alt="service">
                                </div>
                                <div class="body-inner">
                                    <h3 class="body-title">BADMINTON ACADEMY</h3>
                                    <div class="body-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="body-button">
                                        <div class="button-box">
                                            <a href="">
                                                Learn More <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="text-des">
                                <div class="image-logo-z">
                                    <img src="~/Content/visitor-panel/image/tennis.jpg" alt="service">
                                </div>
                                <div class="body-inner">
                                    <h3 class="body-title">Tennis ACADEMY</h3>
                                    <div class="body-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="body-button">
                                        <div class="button-box">
                                            <a href="">
                                                Learn More <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="text-des">
                                <div class="image-logo-z">
                                    <img src="~/Content/visitor-panel/image/football.jpg" alt="service">
                                </div>
                                <div class="body-inner">
                                    <h3 class="body-title">Football ACADEMY</h3>
                                    <div class="body-description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="body-button">
                                        <div class="button-box">
                                            <a href="">
                                                Learn More <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end service section -->
    <!-- events section -->
    <div id="events-sectionid" class="events-section">
        <div class="container">
            <div class="events-title">
                <h2>NEXT BIG <span class="highlight">Events</span></h2>
                <p id="BindEventSectionDescription_VisitorPanel">
                    @*Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.*@
                </p>
            </div>
        </div>
    </div>
    <div class="event-box" id="bindeventdetail_section">
        <div class="container">
            <div class="event-main" id="BusinessUpComingEvents_Sports">
                @*<div class="event-in">
                        <div class="event-flex">
                            <div class="event-lt">
                                <img src="~/Content/visitor-panel/image/woman-playing.jpg" alt="event-img">
                            </div>
                            <div class="event-rt">
                                <div class="event-inr">
                                    <h4>RONEX TOKYO OPEN 2022</h4>
                                </div>
                                <div class="icon-text">
                                    <img src="~/Content/visitor-panel/image/calendar.png" alt="location">
                                    <p> August 20, 2022 </p>
                                </div>
                                <div class="icon-text">
                                    <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                    <p> Tokyo, Japan</p>
                                </div>
                                <a class="buy-ticket" href="">BUY TICKET <i class="fa-solid fa-arrow-right-long"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="event-in">
                        <div class="event-flex">
                            <div class="event-lt">
                                <img src="~/Content/visitor-panel/image/woman-playing.jpg" alt="event-img">
                            </div>
                            <div class="event-rt">
                                <div class="event-inr">
                                    <h4>RONEX TOKYO OPEN 2022</h4>
                                </div>
                                <div class="icon-text">
                                    <img src="~/Content/visitor-panel/image/calendar.png" alt="location">
                                    <p> August 20, 2022 </p>
                                </div>
                                <div class="icon-text">
                                    <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                    <p> Tokyo, Japan</p>
                                </div>
                                <a class="buy-ticket" href="">BUY TICKET <i class="fa-solid fa-arrow-right-long"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="event-in">
                        <div class="event-flex">
                            <div class="event-lt">
                                <img src="~/Content/visitor-panel/image/woman-playing.jpg" alt="event-img">
                            </div>
                            <div class="event-rt">
                                <div class="event-inr">
                                    <h4>RONEX TOKYO OPEN 2022</h4>
                                </div>
                                <div class="icon-text">
                                    <img src="~/Content/visitor-panel/image/calendar.png" alt="location">
                                    <p> August 20, 2022 </p>
                                </div>
                                <div class="icon-text">
                                    <img src="~/Content/visitor-panel/image/location.png" alt="location">
                                    <p> Tokyo, Japan</p>
                                </div>
                                <a class="buy-ticket" href="">BUY TICKET <i class="fa-solid fa-arrow-right-long"></i></a>

                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    <!-- end events slider -->
    <div class="booking-section">
        <div class="container">
            <div class="booking-main">
                <div class="item-one">
                    <div class="text-tile" id="TennisInformationFor_Sports">
                        @*<span class="sub-heading">SPORTS</span>
                            <h6>SINGLE OR GROUP COURSES</h6>
                            <h2>Booking / Reverse</h2>*@
                    </div>
                    <div class="view-cta">
                        <a class="primary-button" href="/Home/Booking?businessOwnerLoginId=@ViewBag.BusinessOwnerLoginId">Book Now</a>
                    </div>
                </div>
                <div class="item-two">
                    <div class="box-image">
                        <div class="ground-img" id="tab_1">
                            @*<img src="~/Content/visitor-panel/image/ground.jpg" alt="ground-img" loading="lazy">
                                <div class="box-text">
                                    <h3>Tennsi Ground</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet condimentum lacus id cursus.
                                        Praesent eu iaculis dui, nec rutrum massa.
                                    </p>
                                    <a class="primary-button" href="booking.html">Book Now</a>
                                </div>*@

                        </div>
                        @*<div class="ground-img" id="tab_2">
                                <img src="~/Content/visitor-panel/image/football01.jpg" alt="ground-img" loading="lazy">
                                <div class="box-text">
                                    <h3>Football Ground</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet condimentum lacus id cursus.
                                        Praesent eu iaculis dui, nec rutrum massa.
                                    </p>
                                    <a class="primary-button" href="booking.html">Book Now</a>
                                </div>
                            </div>
                            <div class="ground-img" id="tab_3">
                                <img src="~/Content/visitor-panel/image/young-golfer.jpg" alt="ground-img" loading="lazy">
                                <div class="box-text">
                                    <h3>Gulf Ground</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet condimentum lacus id cursus.
                                        Praesent eu iaculis dui, nec rutrum massa.
                                    </p>
                                    <a class="primary-button" href="booking.html">Book Now</a>
                                </div>
                            </div>
                            <div class="ground-img" id="tab_4">
                                <img src="~/Content/visitor-panel/image/football.jpg" alt="ground-img" loading="lazy">
                                <div class="box-text">
                                    <h3>Football Ground</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet condimentum lacus id cursus.
                                        Praesent eu iaculis dui, nec rutrum massa.
                                    </p>
                                    <a class="primary-button" href="booking.html">Book Now</a>
                                </div>
                            </div>
                            <div class="ground-img" id="tab_5">
                                <img src="~/Content/visitor-panel/image/ground.jpg" alt="ground-img" loading="lazy">
                                <div class="box-text">
                                    <h3>Tennsi Ground</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet condimentum lacus id cursus.
                                        Praesent eu iaculis dui, nec rutrum massa.
                                    </p>
                                    <a class="primary-button" href="booking.html">Book Now</a>
                                </div>

                            </div>
                            <div class="ground-img" id="tab_6">
                                <img src="~/Content/visitor-panel/image/football01.jpg" alt="ground-img" loading="lazy">
                                <div class="box-text">
                                    <h3>Football Ground</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet condimentum lacus id cursus.
                                        Praesent eu iaculis dui, nec rutrum massa.
                                    </p>
                                    <a class="primary-button" href="booking.html">Book Now</a>
                                </div>
                            </div>
                            <div class="ground-img" id="tab_7">
                                <img src="~/Content/visitor-panel/image/young-golfer.jpg" alt="ground-img" loading="lazy">
                                <div class="box-text">
                                    <h3>Gulf Ground</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet condimentum lacus id cursus.
                                        Praesent eu iaculis dui, nec rutrum massa.
                                    </p>
                                    <a class="primary-button" href="booking.html">Book Now</a>
                                </div>
                            </div>
                            <div class="ground-img" id="tab_8">
                                <img src="~/Content/visitor-panel/image/football.jpg" alt="ground-img" loading="lazy">
                                <div class="box-text">
                                    <h3>Football Ground</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet condimentum lacus id cursus.
                                        Praesent eu iaculis dui, nec rutrum massa.
                                    </p>
                                    <a class="primary-button" href="booking.html">Book Now</a>
                                </div>
                            </div>*@

                    </div>
                </div>
                <div class="item-three">
                    <div class="tab-left-side-contenttion">
                        <ul>
                            <li data-tab="#tab_1" id="TennisImageDetail_Sports">
                                @*<div class="img-ground">
                                        <img src="~/Content/visitor-panel/image/ground.jpg" alt="ground" loading="lazy">
                                        <h5>Tennis Ground</h5>
                                    </div>*@
                            </li>
                            @*<li data-tab="#tab_2">
                                    <div class="img-ground">
                                        <img src="~/Content/visitor-panel/image/football01.jpg" alt="ground" loading="lazy">
                                        <h5>Football Ground</h5>
                                    </div>
                                </li>
                                <li data-tab="#tab_3">
                                    <div class="img-ground">
                                        <img src="~/Content/visitor-panel/image/young-golfer.jpg" alt="ground" loading="lazy">
                                        <h5>Gulf Ground</h5>
                                    </div>
                                </li>
                                <li data-tab="#tab_4">
                                    <div class="img-ground">
                                        <img src="~/Content/visitor-panel/image/football.jpg" alt="ground" loading="lazy">
                                        <h5>Football Ground</h5>
                                    </div>
                                </li>
                                <li data-tab="#tab_5">
                                    <div class="img-ground">
                                        <img src="~/Content/visitor-panel/image/ground.jpg" alt="ground" loading="lazy">
                                        <h5>Tennis Ground</h5>
                                    </div>
                                </li>
                                <li data-tab="#tab_6">
                                    <div class="img-ground">
                                        <img src="~/Content/visitor-panel/image/football01.jpg" alt="ground" loading="lazy">
                                        <h5>Football Ground</h5>
                                    </div>
                                </li>
                                <li data-tab="#tab_7">
                                    <div class="img-ground">
                                        <img src="~/Content/visitor-panel/image/young-golfer.jpg" alt="ground" loading="lazy">
                                        <h5>Gulf Ground</h5>
                                    </div>
                                </li>
                                <li data-tab="#tab_8">
                                    <div class="img-ground">
                                        <img src="~/Content/visitor-panel/image/football.jpg" alt="ground" loading="lazy">
                                        <h5>Football Ground</h5>
                                    </div>
                                </li>*@

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- coach traniner -->
    <div id="instructor-sectionid" class="instructor-section">
        <div class="container">
            <div class="title-instructor" id="ProfessionalInformation_SportsDetail">
                @*<h2>
                        MEET WITH PROFESSIONAL <span class="highlight">COACH</span>
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        Aenean commodo ligula eget dolor aenean massa cum sociis.

                    </p>*@
            </div>
            <div class="teachers-flex" id="BussinessProfessionalDetail">
                @*<div class="teachers-items">
                        <div class="items-in">
                            <div class="teacher-img">
                                <a href="#">
                                    <img src="~/Content/visitor-panel/image/coach.jpg" alt="teacher">
                                </a>
                            </div>
                            <div class="teacher__content">
                                <h3 class="teacher__title">Lillian Walsh,</h3>
                                <span>CO Founder</span>
                                <div class="teacher__social">
                                    <ul>
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href="#"> <i class="fa-brands fa-vine"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>*@
                @*<div class="teachers-items">
                        <div class="items-in">
                            <div class="teacher-img">
                                <a href="#">
                                    <img src="~/Content/visitor-panel/image/coach01.jpg" alt="teacher">
                                </a>
                            </div>
                            <div class="teacher__content">
                                <h3 class="teacher__title">Kelly Franklin,</h3>
                                <span>Web Desginer</span>

                                <div class="teacher__social">
                                    <ul>
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href="#"> <i class="fa-brands fa-vine"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="teachers-items">
                        <div class="items-in">
                            <div class="teacher-img">
                                <a href="#">
                                    <img src="~/Content/visitor-panel/image/coach03.jpg" alt="teacher">
                                </a>
                            </div>
                            <div class="teacher__content">
                                <h3 class="teacher__title">Hilary Ouse,</h3>
                                <span>CO Founder</span>

                                <div class="teacher__social">
                                    <ul>
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href="#"> <i class="fa-brands fa-vine"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="teachers-items">
                        <div class="items-in">
                            <div class="teacher-img">
                                <a href="#">
                                    <img src="~/Content/visitor-panel/image/coach04.png" alt="teacher">
                                </a>
                            </div>
                            <div class="teacher__content">
                                <h3 class="teacher__title">Lillian Walsh,</h3>
                                <span>CO Founder</span>
                                <div class="teacher__social">
                                    <ul>
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href="#"> <i class="fa-brands fa-vine"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="teachers-items">
                        <div class="items-in">
                            <div class="teacher-img">
                                <a href="#">
                                    <img src="~/Content/visitor-panel/image/coach05.png" alt="teacher">
                                </a>
                            </div>
                            <div class="teacher__content">
                                <h3 class="teacher__title">Kelly Franklin,</h3>
                                <span>Web Desginer</span>

                                <div class="teacher__social">
                                    <ul>
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href="#"> <i class="fa-brands fa-vine"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="teachers-items">
                        <div class="items-in">
                            <div class="teacher-img">
                                <a href="#">
                                    <img src="~/Content/visitor-panel/image/coach06.png" alt="teacher">
                                </a>
                            </div>
                            <div class="teacher__content">
                                <h3 class="teacher__title">Hilary Ouse,</h3>
                                <span>CO Founder</span>

                                <div class="teacher__social">
                                    <ul>
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href="#"> <i class="fa-brands fa-vine"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>

        </div>
    </div>

    <!-- modal -->
    <button class="d-none" id="btnAddReviewPoup" data-toggle="modal" data-target="#AddReviewPopup"></button>
    <div id="AddReviewPopup" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content mdl-cnt-001m">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="exampleModalLabel" onclick="resetAddUpdateForm();">Add Review</h5>
                    <button type="button" class="close close-mdl-jk" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="feedback" action="">
                    <!-- <div class="pinfo">Your personal info</div> -->
                    <!-- <div class="pinfo">Rate our overall services.</div> -->


                    <div class="form-group">
                        <div class="col-md-12 inputGroupContainer">
                            <div class="input-group">
                                <div class="review-stars">
                                    <i class="fa-solid fa-star star-value" data-star-value="1"></i>
                                    <i class="fa-solid fa-star star-value" data-star-value="2"></i>
                                    <i class="fa-solid fa-star star-value" data-star-value="3"></i>
                                    <i class="fa-solid fa-star star-value" data-star-value="4"></i>
                                    <i class="fa-solid fa-star star-value" data-star-value="5"></i>
                                </div>
                                <input type="hidden" id="ratingInput" />
                            </div>
                        </div>
                    </div>

                    <div class="pinfo">Write your feedback</div>


                    <div class="form-group">
                        <div class="col-md-12 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pencil" style="line-height: 4"></i></span>
                                <textarea class="text form-control" id="review" rows="3"></textarea>

                            </div>
                            <div class="error-class" id="error_Instructor_RatingFeedback"></div>
                        </div>
                    </div>
                    <div class="text-center"></div>
                    <!-- <button type="submit-btn-rw-001" class="btn btn-outline-dark frm-insd">Submit</button> -->
                </form>

                <div class="modal-footer border-0">
                    <button id="mdl-frm-bt" type="submit-btn-rw-001" class="btn btn-outline-dark frm-outsd" onclick="AddUpdate_ManageInstructorRating()">Submit</button>
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal" onclick="resetAddUpdateForm();">Close</button>
                </div>

            </div>
        </div>

    </div>
    <!-- review section -->
    <div class="review-section">
        <div class="container">
            <div class="review-title">
                <div class="title" id="BusinessContentReviewDetail">
                    @*<h2 class="wttsy"> WHAT THEY SAY <span class="highlight"> ABOUT US</span> </h2>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        Aenean commodo ligula eget dolor aenean massa cum sociis.*@
                </div>
                <div class="cta">
                    <a class="primary-button" href="">View More</a>
                </div>
                <span class="adrbtn-0">
                    <a class="rwsc-addrwbt btn btn-outline-dark" onclick="ShowAddReviewPopup()">Add Review</a>
                </span>
            </div>
            <div class="review-slider" id="BusinessRatingReviewListDetail">



            </div>


        </div>
    </div>

    <!-- video section -->
    <div id="gallery01" class="video-sec">
        <div class="container">
            <div class="video-title " id="BusinessContentVideoDetail">
                <h2 class="text-center">VIDEO GALLERY</h2>
            </div>
            <div class="video-section" id="BindBusinessContentVideoDetail">
                @*<div class="video-items">
                          <div class="video-inr">
                              <video width="320" height="240" controls>
                                  <source src="~/Content/videos/big_buck_bunny_720p_1mb.mp4" type="video/mp4">
                              </video>
                          </div>
                          <div class="video-des">
                              <h4>New Year party</h4>
                              <p>November 12,2016</p>
                          </div>
                    </div>*@

            </div>

        </div>
    </div>

    @* Image gallery *@
    <section id="section-yoga-5" class="section sc-yg-01y">
        <div class="container">
            <div class="vd-heading">
                <h2 class="text-center">IMAGE GALLERY</h2>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 sc-5-y-sc-y">
                    <div class="row mt-4" id="BindBusinessImages">
                        @*<div class="col-md-4 col-sm-12 vd-w-txt">
                                <a href="~/Content/visitor-panel/image/yg-sd-tmp1.jpg" data-lightbox="image-2">
                                    <img src="~/Content/visitor-panel/image/yg-sd-tmp1.jpg"
                                         class="yg-sc-img989dsfjsd">
                                </a>
                                <h5 class="vid-sc-head-32j vid-sc-head-32jab">
                                    Watch our yoga class
                                </h5>
                                <p class="vid-sc-txtjfkljkj">Absolute beginners</p>
                            </div>


                            <div class="col-md-4 col-sm-12 vd-w-txt">
                                <a href="image/yg-sd-tmp2.jpg" data-lightbox="image-3">
                                    <img src="~/Content/visitor-panel/image/yg-sd-tmp2.jpg"
                                         class="yg-sc-img989dsfjsd">
                                </a>
                                <h5 class="vid-sc-head-32j vid-sc-head-32jab">
                                    Watch our yoga class
                                </h5>
                                <p class="vid-sc-txtjfkljkj">Upper body power</p>
                            </div>
                            <div class="col-md-4 col-sm-12 vd-w-txt">
                                <a href="image/yg-sd-tmp2.jpg" data-lightbox="image-3">
                                    <img src="~/Content/visitor-panel/image/yg-sd-tmp2.jpg"
                                         class="yg-sc-img989dsfjsd">
                                </a>
                                <h5 class="vid-sc-head-32j vid-sc-head-32jab">
                                    Watch our yoga class
                                </h5>
                                <p class="vid-sc-txtjfkljkj">Upper body power</p>
                            </div>*@
                    </div>
                    @*<div class="row">
                            <div class="col-md-4 col-sm-12 vd-w-txt">
                                <a href="image/yg-sd-tmp3.jpg" data-lightbox="image-4">
                                    <img src="~/Content/visitor-panel/image/yg-sd-tmp3.jpg"
                                         class="yg-sc-img989dsfjsd">
                                </a>
                                <h5 class="vid-sc-head-32j vid-sc-head-32jab">
                                    Watch our yoga class
                                </h5>
                                <p class="vid-sc-txtjfkljkj">Twisty flow </p>
                            </div>
                            <div class="col-md-4 col-sm-12 vd-w-txt">
                                <a href="image/yg-sd-tmp4.jpg" data-lightbox="image-5">
                                    <img src="~/Content/visitor-panel/image/yg-sd-tmp4.jpg"
                                         class="yg-sc-img989dsfjsd">
                                </a>
                                <h5 class="vid-sc-head-32j vid-sc-head-32jab">
                                    Watch our yoga class
                                </h5>
                                <p class="vid-sc-txtjfkljkj">The pigeon rodeo</p>
                            </div>
                            <div class="col-md-4 col-sm-12 vd-w-txt">
                                <a href="image/yg-sd-tmp4.jpg" data-lightbox="image-5">
                                    <img src="~/Content/visitor-panel/image/yg-sd-tmp4.jpg"
                                         class="yg-sc-img989dsfjsd">
                                </a>
                                <h5 class="vid-sc-head-32j vid-sc-head-32jab">
                                    Watch our yoga class
                                </h5>
                                <p class="vid-sc-txtjfkljkj">The pigeon rodeo</p>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </section>


    <!-- end review section -->
    <div class="our-sponsors">
        <div class="container">
            <div class="title-sponsors">
                <h2>Our Sponsors!</h2>
            </div>
            <div class="logo-slider" id="BindEventSponser_Sports">
                @*<div class="sponsor-logo-img">
                        <a href="#">
                            <img src="~/Content/visitor-panel/image/sports-transparent.png" alt="logo" loading="lazy">
                        </a>
                    </div>
                    <div class="sponsor-logo-img">
                        <a href="#">
                            <img src="~/Content/visitor-panel/image/sports01.png" alt="logo" loading="lazy">
                        </a>
                    </div>
                    <div class="sponsor-logo-img">
                        <a href="#">
                            <img src="~/Content/visitor-panel/image/sports02.png" alt="logo" loading="lazy">
                        </a>
                    </div>
                    <div class="sponsor-logo-img">
                        <a href="#">
                            <img src="~/Content/visitor-panel/image/sports04.png" alt="logo" loading="lazy">
                        </a>
                    </div>
                    <div class="sponsor-logo-img">
                        <a href="#">
                            <img src="~/Content/visitor-panel/image/sports-transparent.png" alt="logo" loading="lazy">
                        </a>
                    </div>
                    <div class="sponsor-logo-img">
                        <a href="#">
                            <img src="~/Content/visitor-panel/image/sports01.png" alt="logo" loading="lazy">
                        </a>
                    </div>
                    <div class="sponsor-logo-img">
                        <a href="#">
                            <img src="~/Content/visitor-panel/image/sports02.png" alt="logo" loading="lazy">
                        </a>
                    </div>

                    <div class="sponsor-logo-img">
                        <a href="#">
                            <img src="~/Content/visitor-panel/image/sports04.png" alt="logo" loading="lazy">
                        </a>
                    </div>
                    <div class="sponsor-logo-img">
                        <a href="#">
                            <img src="~/Content/visitor-panel/image/sports-transparent.png" alt="logo" loading="lazy">
                        </a>
                    </div>
                    <div class="sponsor-logo-img">
                        <a href="#">
                            <img src="~/Content/visitor-panel/image/sports01.png" alt="logo" loading="lazy">
                        </a>
                    </div>
                    <div class="sponsor-logo-img">
                        <a href="#">
                            <img src="~/Content/visitor-panel/image/sports02.png" alt="logo" loading="lazy">
                        </a>
                    </div>

                    <div class="sponsor-logo-img">
                        <a href="#">
                            <img src="~/Content/visitor-panel/image/sports04.png" alt="logo" loading="lazy">
                        </a>
                    </div>*@
            </div>

        </div>
    </div>

    <!-- contact form -->
    <div id="contact-us01" class="contact-us-sc">
        <footer class="footer container">
            <div id="dance-contact-pj" class="footer-items">
                <div class="page-center">
                    <div class="col-flex">
                        <div class="right-column">
                            <div class="contact-heading" id="ContentDetail">
                               
                            </div>

                            <div class="timming-section" id="BindBusinessTiming_Section">
                                <div class="heading-inr d-flex">
                                    <h2 class="form-heading-contact-us-page">Business Hours</h2>
                                    <span class="text-light text-center text-sm font-weight-bold" id="closeBusinessDay"></span>
                                </div>
                                <div id="BindBusinessTiming"></div>
                                <div class="align-content-center">
                                    <h2 class="form-heading-contact-us-page-footer text-light">NOTE:</h2>
                                    <span class="text-light text-center text-sm" id="BusinessNotes"></span>
                                </div>
                            </div>
                        </div>

                        <div class="left-form">
                            <div class="forn-heading">
                                <h3 class="text-white">Let's get in touch!</h3>
                                @*<p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Dolores quidem labore tenetur nostrum inventore obcaecati sequi eaque
                                </p>*@

                            </div>
                            <form>
                                <div class="form_input">
                                    <label class="label">Name</label>
                                    <input class="input--style-4 border" type="text" id="text_Contact_Name" name="Name"
                                           fdprocessedid="ug3utq">
                                    <div class="error-class" id="error_text_Contact_Name"></div>
                                </div>
                                <div class="form_flex">

                                    <div class="form_input">
                                        <label class="label">Email Address</label>
                                        <input class="input--style-4 border" type="text" id="text_Email_Address" name="Email-Address"
                                               fdprocessedid="x890ok">
                                        <div class="error-class" id="error_text_Email_Address"></div>
                                    </div>

                                    <div class="form_input">
                                        <label class="label">Phone Number</label>
                                        <input class="input--style-4 border" id="text_phone" type="text" name="phone"
                                               fdprocessedid="x890ok">
                                        <div class="error-class" id="error_text_phone"></div>
                                    </div>
                                </div>
                                <div class="form_input">
                                    <label class="label">Message</label>
                                    <textarea class="cnp-frm-ta border" id="text_Messages"> </textarea>
                                    <div class="error-class" id="error_text_Messages"></div>
                                </div>

                                <button class="button--primary primary-submit-btn" onclick=" btnSubmitUser();">Submit</button>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </footer>
    </div>
    <button class="d-none" id="btnUserLoginPoup" data-toggle="modal" data-target="#LoginPageOptionPopup"></button>
    <div class="modal fade" data-backdrop="static" id="LoginPageOptionPopup" style="padding: 196px 1px 169px 347px;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="width: 50%; align-items: center;">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Please Login</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <a id="loginButton" class="btn btn-outline-dark cstm-btn w-auto" href="/Home/Login">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row-sec">
                <div class="col-lg-one">
                    <div id="BindBusinessAboutDetail">
                        @*<h4 class="uppercase"> Sports Academy</h4>
                            <p class="small">
                                Vestibulum in ultrices justo. Praesent placerat justo metus, vitae malesuada lacus eleifend
                                vel. Vivamus viverra volutpat leo, a gravida dolor posuere congue.
                            </p>*@
                    </div>
                    <div class="footer-social" id="BusinessSocialDetail_Footer">
                        @*<div class="social-icon">
                                <a href=""><i class="fa-brands fa-facebook-f"></i> </a>
                            </div>
                            <div class="social-icon">
                                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                            <div class="social-icon">
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                            </div>
                            <div class="social-icon">
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                            </div>*@
                    </div>
                </div>

                <div class="col-lg-two">
                    <div class="menu-one">
                        <h5 class="uppercase">Quick Links</h5>
                        <ul>
                            <li>
                                <a href="/Home/Sports?businessOwnerLoginId=@ViewBag.BusinessOwnerLoginId">Home</a>
                            </li>
                            <li>
                                <a href="#about-section">About Us</a>
                            </li>

                            <li>
                                <a href="#services-sectionid">Service</a>
                            </li>
                            <li>
                                <a href="#contact-us01">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-two">
                    <div class="menu-one">
                        <h5 class="uppercase">
                            Useful Links

                        </h5>
                        <ul>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms and Conditions</a>
                            </li>

                            <li>
                                <a href="#">Support</a>
                            </li>
                            <li>
                                <a href="#">Faq</a>
                            </li>
                        </ul>
                    </div>


                </div>
                <div class="col-lg-two" id="BindContactDetailInformation">
                    @*<h5>Contact Us</h5>
                        <p>
                            178 West 27th Street, Suite 527, New York NY 10012 United States
                        </p>
                        <a href="tel:1234567890">1234567890</a>
                        <a href="mailto:company@yourname.com">company@yourname.com</a>*@
                </div>

            </div>
        </div>
    </footer>
    <!-- copyright section -->
    <div class="copyrights border-top pt-3">
        <div class="container ">
            <div class="row">

                <div class="col-sm-12 col-md-6">
                    <strong class="d-flex copyrights-text " style="white-space: nowrap;">
                        <p class="text-white"> Copyright © 2023</p> <a class="copyright-company-name mr-2 ml-2" href="index.html"> Master Zone.</a>
                        <p class="text-white">All rights reserved.</p>
                    </strong>

                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="float-md-right d-sm-inline-block">
                        <a class="text-white" target="_blank" href="https://protolabzit.com/">
                            <p class="text-white text-center" id="footer-text" style="color: #869099;
                             font-size: 1rem;"> Developed &amp; Designed by: Protolabz eServices</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/assets/lightbox/js/lightbox.js"></script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        })
        //$('.services-section .right-inr').slick({
        //    dots: false,
        //    infinite: false,
        //    speed: 300,
        //    rows: 2,
        //    arrows: true,
        //    slidesToShow: 3,
        //    slidesToScroll: 3,
        //    responsive: [
        //        {
        //            breakpoint: 1250,
        //            settings: {
        //                rows: 2,
        //                arrows: true,
        //                slidesToShow: 2,
        //                slidesToScroll: 2
        //            }
        //        },
        //        {
        //            breakpoint: 767,
        //            settings: {
        //                rows: 2,
        //                arrows: true,
        //                slidesToShow: 1,
        //                slidesToScroll: 1
        //            }
        //        }
        //    ]
        //});

        $('.tab-left-side-contenttion>ul>li').click(function () {
            $('.box-image .ground-img').hide();
            $('.tab-left-side-contenttion>ul>li.active').removeClass('active');
            $(this).addClass('active');

            var panel = $(this).attr('data-tab');
            $(panel).fadeIn(1000);

            return false;  // prevents link action

        });  // end click

        $('.tab-left-side-contenttion>ul>li:first').click();

        // review

        // our classes

        // events




    </script>
    @Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_SportsScriptPartial.cshtml")

    <script src="~/Content/lib/StylishAlert/iao-alert.jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/Scripts/js/loader.js"></script>
    <script src="/Content/business-panel/js/vendor/moment.min.js"></script>
</body>
</html>