
@{
    ViewBag.Title = "TrainingSearch";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/Content/assets/stylesheet-cer.css">
    <link rel="stylesheet" href="~/Content/assets/education-cer.css">
    <link rel="stylesheet" href="~/Content/assets/class-stylesheet.css">
    <link rel="stylesheet" href="~/Content/assets/index-stylesheet.css">
    <link rel="stylesheet" href="~/Content/assets/review.css">
    <link rel="stylesheet" href="~/Content/assets/style_new.css">
}

<style>
    .training-main .cards-flex .date-year > img {
        max-width: 69px;
        margin: 0 auto 10px;
        display: block;
    }
</style>
<div class="form-section" style="background-image: url('/Content/visitor-panel/image/dark-pattern.png');">

    <div class="page-center">

        <div class="title-iner">
            <h2>Become a Certified</h2>
        </div>
        <div class="form-iner">
            <form action="">
                <div class="form-items">
                    <div class="half-width">
                        <input type="text" id="txtLocation_Search" placeholder="Choose your location">
                    </div>
                    <div class="half-width">
                        <select ng-model="training" class="training-iner">
                            <option value="" disabled="" selected="selected">Training Types</option>
                            <option label="online" value="online">Online</option>
                            <option label="offline" value="offline">Offline</option>
                        </select>
                    </div>
                    <div class="half-width">
                        <input type="text" placeholder="Becomes ?">
                    </div>

                    <div class="half-width">
                        <select ng-model="search.language" class="ng-pristine">
                            <option value="" disabled="" selected="selected">Language</option>
                            <option label="Arabic" value="string:arabic">Arabic</option>
                            <option label="Bulgarian" value="string:bulgarian">Bulgarian</option>
                            <option label="Chinese" value="string:cantonese">Chinese</option>
                            <option label="Croatian" value="string:croatian">Croatian</option>
                            <option label="Czech" value="string:czech">Czech</option>
                            <option label="English" value="string:english">English</option>
                            <option label="French" value="string:french">French</option>
                            <option label="German" value="string:german">German</option>
                            <option label="Greek" value="string:greek">Greek</option>
                            <option label="Hebrew" value="string:hebrew">Hebrew</option>
                            <option label="Hindi" value="string:hindi">Hindi</option>
                            <option label="Indonesian" value="string:indonesian">Indonesian</option>
                            <option label="Italian" value="string:italian">Italian</option>
                            <option label="Japanese" value="string:japanese">Japanese</option>
                            <option label="Korean" value="string:korean">Korean</option>
                            <option label="Polish" value="string:polish">Polish</option>
                            <option label="Portuguese" value="string:portuguese">Portuguese</option>
                            <option label="Pr" value="string:portuguese-br">Pr</option>
                            <option label="Russian" value="string:russian">Russian</option>
                            <option label="Spanish" value="string:spanish">Spanish</option>
                            <option label="Swedish" value="string:swedish">Swedish</option>
                            <option label="Tagalog" value="string:filipino">Tagalog</option>
                            <option label="Thai" value="string:thai">Thai</option>
                            <option label="Turkish" value="string:turkish">Turkish</option>
                            <option label="Vietnamese" value="string:vietnamese">Vietnamese</option>
                        </select>
                    </div>
                    <div class="submit-cta">
                        <button class="primary-button " onclick=" SearchBusinessTraining();">Search</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

<div class="training-main">
    <div class="page-center">
        <div class="cards-flex">
            <div id="TrainingList">
                @*<div class="cards-items">
                        <div class="date-year">
                            <img src="~/Content/visitor-panel/image/BOLLY FIT.png" alt="bolly-logo">
                            <h6 class="date">July 23 </h6>
                            <h6 class="year">2023 </h6>

                        </div>

                        <div class="address-cta">
                            <div class="info-sec">
                                <h4>Grpup Training, Bolly Fit L1</h4>
                                <h6 class="loc-text">Bangalore, IN</h6>
                                <h6>Master Instructor ABC Language English</h6>
                            </div>
                            <div class="cta">
                                <a class="primary-button" href="certification.html">Learn More</a>
                            </div>
                        </div>
                    </div>*@
            </div>
            
        </div>
    </div>
</div>
<div class="text-center">

    <a id="BtnViewMoreTraining" onclick="ViewMoreTraining();" class="cards-items text-center cstm-btn w-60 btn btn-outline-dark">
        View
        More
    </a>
</div>
<br />
<div class="prismic-promo-banner">
    <div class="page-center">
        <p class="prismic-promo-banner__content__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet luctus bibendum.</p>
        <p class="prismic-promo-banner__content__subtitle">
            30 Day Money Back Guaranteed
        </p>
    </div>
</div>

@section Scripts{

    <script src="~/Content/assets/main-cer.js"></script>

    @Html.Partial("/Views/Shared/ScriptPartials/VisitorPanel/_TrainingSearchScriptPartial.cshtml")

}

