:root{
--mainColor:#f3a762;
--headingColor:rgba(0,0,0,0.74);
--anchorColorHover:#f3a762;
--anchorColor:rgba(0,0,0,0.74);
--bodyColor:rgba(0,0,0,0.74);;
--box-shadow:5px 5px 8px 0 rgba(0,0,0,30%)
}
body{
margin: 0;
padding: 0;
font-size: 18px;
color: var(--bodyColor);
font-family: 'DM Sans', sans-serif;
font-weight: 100;
line-height:1.5;
}
*{box-sizing: border-box;}
h1,h2,h3,h4,h5,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    line-height: 1.3;
    margin: 0 0 10px 0;
    color: var(--headingColor);
    font-family: 'DM Sans', sans-serif;
}
h1{
font-size: 52px;
font-weight: 800;

}
h2{
font-weight: 700;
font-size: 42px;
}
h3{
font-weight: 400;
font-size: 36px;
}
h4{
font-size: 32px;
font-weight: 400;
}
h5{
font-size: 24px;
font-weight: 500;
}
h6{
font-size: 20px;
font-weight: 600;}
p{
font-size: 18px;
font-weight: 300;
color: var(--headingColor);
line-height: 1.5;
margin:0;
}
@media(max-width: 767px){

h1{font-size: 42px;}
h2{font-size: 30px;}
h3{font-size: 28px;}
h4{font-size: 22px;}
h5{font-size: 18px;}
h6{font-size: 16px;}
}
.page-center{max-width: 1380px;margin: 0 auto;padding: 0 20px;}
@media(min-width:1580px){
.page-center{max-width: 1620px;}
}

ul {
margin: 0;
padding: 0;
list-style: none;
}
.slick-track{
display: flex !important;
}

.slick-slide{
height: inherit !important;
}
.primary-button {
padding: 12px 32px;
display: inline-block;
background: var(--mainColor);
border-radius: 5px;
font-size: 18px;
font-weight: 300;
border: 1px solid var(--mainColor);
color: #fff  !important;
box-shadow: 5px 5px 10px 0 rgba(0,0,0,20%);
cursor: pointer;
min-width: 150px;
}

.primary-button:hover {
background-color: #fff;
border: 1px solid var(--mainColor);
color: var(--mainColor) !important;
}
a ,i,svg{
-ms-transition:all 0.3s ease-out;
-moz-transition:all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
-o-transition:all 0.3s ease-out;
transition:all 0.3s ease-out;
text-decoration: none;
display: inline-block;
}
a:hover{
text-decoration: none;
color: var(--mainColor);

}
img{
width: 100%;
}
.slick-dots li.slick-active button {
background:var(--mainColor);
width: 30px;
}
.slick-dots li {
height: 0;
width: 30px;
border-radius: 50%;
}
.slick-dots li button:before {
height: 0;
font-size: 0;
}
ul.slick-dots {
bottom: -40px;
}
.slick-dots li button {
background: var(--mainColor);
height: 5px;
width: 20px;
border-radius: 100px;
}
/* header */
.sub-title {
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    position: relative;
    padding-left: 80px;
    color: var(--mainColor);
    display: inline;
}
.sub-title:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 60px;
    /*background: var(--mainColor);*/
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

/* footer */

.footer .small{
    margin: 20px 0;
}
.footer .footer-logo>a>img {
width: 100%;
max-width: 160px;
}

.footer .footer-logo>a {
display: flex;
}
.footer .menu-one ul>li>a:hover {
color: var(--mainColor);
}
footer.footer {
padding: 80px 0;
border-top: 1px solid rgba(0,0,0,.1)
}
.footer .row-sec {
display: flex;
flex-wrap: wrap;
}
.footer .row-sec>div {
flex: 0 0 25%;
max-width: 100%;
padding-right: 30px;
}
.footer .footer-social {
display: flex;
align-items: center;
}
.footer .social-icon {
margin: 0 10px 10px 0;
}
.footer .menu-one ul>li>a {
color: #000;
margin-bottom: 10px;
transition: all .3s;
}
.footer .social-icon>a:hover i {
color: var(--mainColor);
}
.footer .row-sec>div:last-child {
padding-right: 0;
}
.footer .col-lg-two a {
color: #000;
display: block;
margin-bottom: 10px;
}
.copyright_wrap {
    padding: 20px;
    background: #f3a762;
}
.copyright_wrap .copyright {
text-align: center;
color: #fff;
font-weight: 600;
}
.footer .social-icon>a>i {
color: var(--headingColor);
transition: all .4s;
font-size: 18px;
}
.footer .social-icon>a:hover>i {
    transform: translateY(-5px);
    }



/* banner video */

::-webkit-scrollbar-track{background-color:transparent}

::-webkit-scrollbar{width: 8px;background-color: transparent;}
::-webkit-scrollbar-thumb{background-color: var(--mainColor);}
.header .header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding: 10px 0;
}
.header .logo {
    flex: 0 0 180px;
    padding-right: 20px;
}
.nav-sec {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.header .menu>ul>li {
    display: inline-block;
    margin: 0 30px;
}
    .header .menu > ul > li > a {
        padding: 30px 0;
        display: inline-block;
        position: relative;
        color: var(--anchorColor);
        font-weight: 400;
        font-size: 18px;
    }
.header .nav-sec > .menu > ul > li:not(:last-child) > a:hover {
    color: antiquewhite;
}
a, i, svg {
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-decoration: none;
    display: inline-block;
}

.nav-sec>.menu>ul>li:not(:last-child)>a:after {
    --scale: 0;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 28px;
    height: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transform: scaleX(var(--scale));
    -ms-transform: scaleX(var(--scale));
    transform: scaleX(var(--scale));
    -webkit-transform-origin: var(--x) 50%;
    -ms-transform-origin: var(--x) 50%;
    transform-origin: var(--x) 50%;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.51,.92,.24,1);
    transition: -webkit-transform .3s cubic-bezier(.51,.92,.24,1);
    transition: transform .3s cubic-bezier(.51,.92,.24,1);
    transition: transform .3s cubic-bezier(.51,.92,.24,1),-webkit-transform .3s cubic-bezier(.51,.92,.24,1);
    background: var(--anchorColorHover);
}
.nav-sec>.menu>ul>li:not(:last-child)>a:hover:after {
    --scale: 1;
}

.header .menu>ul>li:last-child>a {
    background: var(--mainColor);
    padding: 16px 36px 16px 36px !important;
    border-radius: 5px;
    color: #fff;
    border: 1px solid var(--mainColor);
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,50%);
}

.header .menu>ul>li:last-child>a:hover {
    background-color: #fff;
    border-color: var(--mainColor);
    color: var(--anchorColor);
}
header.header {
    position: relative;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 9;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

@media(max-width: 991px){
    footer.footer{
        padding: 50px 0;
    }
    .footer .row-sec>div:first-child {flex: 0 0 100%;max-width: 100%;margin-bottom: 15px;padding-right: 0;}
    .footer .row-sec>div { flex:1;max-width: 100%; }   
    .hero-banner{padding: 150px 0 60px;}
    .header .menu>ul>li {margin: 0;display: block; border-color: #fff;}
    .header .menu>ul>li>a {padding: 10px 0;color: #fff;}
    .menu {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    display: block;
    background: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .3s linear;
    transition: -webkit-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear;
    padding: 100px 0 0;
    z-index: 9997;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-border-radius: 0;
    border-radius: 0;
    flex: 0 0 100%;
    max-width: 100%;
    }
    
    .nav-sec.active .menu {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
    background-color: #262626;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    }
    .navmain-opener {
    position: absolute;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 14px;
    width: 23px;
    right: 0;
    z-index: 9999;
    outline: 0;
    }
    .navmain-opener span, .navmain-opener:after, .navmain-opener:before {
    background: #000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    height: 2px;
    margin-top: -2px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    }
    .navmain-opener:after, .navmain-opener:before {
    content: '';
    top: 2px;
    }
    .navmain-opener:after {
    top: 16px;
    }
    .menu>ul {
    padding: 0 30px;
    height: 100vh;
    overflow: auto;
    padding-bottom: 120px;
    }
    .nav-sec.active .navmain-opener:after, .nav-sec.active .navmain-opener:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
    left: 0;
    right: 0;
    background-color: #fff;
    }
    .header .menu>ul>li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 30px;
    }
    .nav-sec.active .navmain-opener span {
    opacity: 0;
    }
    .nav-sec.active .navmain-opener:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    .menu>ul>li{
    margin: 0;display: block;
    position: relative;
    padding: 12px 20px 12px 0;
    border-bottom: 2px solid var(--anchorColor);
    }
    .menu>ul>li>a{
    padding: 0;
    }
    }


.hero-banner{padding: 150px 0 60px;}

.index-template .hero-banner-section {
    padding: 300px 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.index-template .top-img>img {
    max-width: 200px;
    position: absolute;
    top: -89px;
    right: 20%;
    transform: rotate(-32deg);
    height: 450px;
    object-fit: cover;
}
.hero-banner-section .bottom-img>img {
    max-width: 250px;
    position: absolute;
    bottom: -100px;
    left: 100px;
    box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.25);
}

/* dance tab section */
.dance-tab-section {
    padding: 180px 0 100px;
    background-color: #f5f5f5;
}

.dance-tab-section .dance-tab-flex {
    display: flex;
    flex-wrap: wrap;
}

.dance-tab-section .dance-left-tab {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 50px;
}

.dance-tab-section .dance-right-tab {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 50px;
}

.dance-tab-section.dance-img>img {
    display: block;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.dance-tab-section .dance-tab-flex .dance-img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 0.25);
}

.dance-tab-section .dance-tab-flex ul.dance-step>li {
    padding: 15px;
    border: 1px solid #d4d4d4;
    border-radius: 100px;
    width: 100%;
    flex: 0 0 calc(100%/3 - 30px);
    margin: 0 15px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    z-index: 2;
    background-color: #ffffff;
}
body.show_video_popup {
    overflow: hidden;
}

.dance-tab-section .dance-tab-flex ul.dance-step {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.dance-tab-step-iner {
    margin: 30px 0;
}

.dance-tab-details .dance-listing>ul>li {
    position: relative;
    padding-left: 30px;
    font-size: 18px;
    flex: 0 0 calc(100%/2 - 20px);
    max-width: 100%;
    margin: 20px 10px 0;
    font-weight: 400;
    
}
.dance-tab-section .dance-tab-flex ul.dance-step>li.active-tab {
    background: var(--mainColor);
    border-color: var(--mainColor);
    color: #fff;
}
.dance-tab-section .dance-tab-flex ul.dance-step>li.active-tab a{
    color: #fff;
}
.dance-tab-details .dance-listing>ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.dance-tab-details .dance-listing>ul>li:before {
    top: 3px;
    left: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    height: 20px;
    width: 20px;
    border: 1px solid var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 10px;
    position: absolute;
    color: var(--mainColor);
}

.dance-tab-section .dance-right-tab .dance-img {
    height: 100%;
}
.dance-tab-section .dance-tab-flex ul.dance-step>li:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    background: var(--mainColor);
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: scale(0);
    transition: all .3s;
    border-radius: 100px;
}
.dance-tab-section .dance-tab-flex ul.dance-step>li>a{
 font-weight: 500;   
 color:var(--headingColor);
}
.dance-tab-section .dance-tab-flex ul.dance-step>li:hover:before {
    transform: scale(1);
}

.dance-tab-section .dance-tab-flex ul.dance-step>li:hover {
    
    border: 1px solid var(--mainColor);
}
.dance-tab-section .dance-tab-flex ul.dance-step>li:hover a{
color: #fff;
}
@media(max-width:991px){

    .dance-tab-section .dance-left-tab {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }
    
    .dance-tab-section .dance-right-tab {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        margin-top: 50px;
    }


}
@media(max-width:580px){
    .dance-tab-section{
        padding-bottom: 60px;
    }
    .dance-tab-section .dance-tab-flex ul.dance-step>li {
        padding: 8px;
        font-size: 12px;
        margin: 0 10px;
    }
    .dance-tab-details .dance-listing>ul{
        margin: 20px 0 0 0;
    }
    .dance-tab-section .dance-tab-flex ul.dance-step {
        justify-content: center;
    }
    .dance-tab-section .dance-tab-step-iner {
        margin: 20px 0;
    }
    .dance-tab-details .dance-listing>ul>li{
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
    }
    .dance-tab-details .dance-listing>ul>li:last-child{
margin-bottom: 0;

    }
}

/* Dance tab end */

/* video popup gallery */
.video-setion .play-btn {
    width: 80px;
    height: 80px;
    background: radial-gradient( rgb(243 167 98) 60%, rgba(255, 255, 255, 1) 62% );
    border-radius: 50%;
    display: block;
    box-shadow: 0px 0px 25px 3px rgb(243 170 104);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
  }
  
  /* triangle */
  .video-setion .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #fff;
    z-index: 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  /* pulse wave */
  .video-setion .play-btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.75);
    top: -30%;
    left: -30%;
    background: rgba(198, 16, 0, 0);
  }
  
  @-webkit-keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
        0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
    }
  }

  @keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
        0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;
    }
  }

.video-setion .play-button>svg {
    height: 20px;
    width: 20px;
}

.video-setion {
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.video-setion .video-left {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
}

.video-setion .video-right .video-content h6.title {
    color:var(--mainColor);
    font-style: italic;
}

.video-setion .video-right {
    flex: 0 0 50%;
    max-width: 50%;
    margin: auto;
    padding: 40px;
}

.video-setion .video-left img {
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.video-setion .video_sec_popup_inr>video {
    width: 100%;
    height: 100%;
}
.video-setion .video-content>* {
    color: #fff;
    text-align: center;
}
.video_sec_popup_overlay {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: .5s;
    visibility: hidden;
    z-index: 999;
    background: rgba(0,0,0,.8);
}
.show_video_popup .video_sec_popup_overlay {
    opacity: 1;
    visibility: visible;
    z-index: 99999999;
}
.video-setion .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 60px;
    width: 60px;
    background: rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

/* .video-setion .video-left:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
} */

.video-setion .play-button>svg {
    fill: #fff;
}
.show_video_popup .video-setion .video_sec_popup {
    transform: translate(-50%,-50%) scale(1);
    z-index: 9999999999;
}
.video-setion .video_sec_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: .5s;
    max-width: 880px;
    width: calc(100% - 30px) !important;
    max-height: calc(100vh - 30px);
    overflow-y: auto;
    z-index: 999;
    padding: 15px;
}
.video-setion .cross_popup>svg {
    height: 24px;
    fill: #fff;
    cursor: pointer;
}
.video-setion .cross_popup {
    position: absolute;
    top: 28px;
    right: 28px;
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,30%);
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.video-setion .secondary-cta {
    background: #000;
    padding: 12px 32px;
    display: inline-block;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,20%);
    cursor: pointer;
    border: 1px solid #fff;
}

.video-setion .cta-repeater {
    text-align: center;
}

.video-setion .cta-repeater>a {
    margin: 5px;
}

.video-setion .video-content {
    margin-bottom: 35px;
}

.video-setion .secondary-cta:hover {
    background: #fff;
    color: #000;
}

@media(max-width:991px){
    .video-setion .video-right {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 40px 20px;
    }
    
    .video-setion .video-left {
        max-width: 100%;
        flex: 0 0 100%;
    }
    
    .video-setion .video-left img {
        height: 350px;
    }
}

@media(max-width:767px){
    .hero-banner-section .bottom-img>img {
        max-width: 180px;
        left: 20px;
    }
    .index-template .top-img>img {
        display: none;
    }
    .index-template .hero-banner-section {
        padding: 100px 0 250px;
    }
    .video-setion .play-btn::after {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
    }
    .video-setion .play-btn {
    width: 60px;
    height: 60px;
}
    .video-setion .cross_popup {
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
    }
    .video-setion .cross_popup>svg {
        height: 18px;
    }
    .video-setion .video-left img {
        height: 280px;
    }
}

.class-schedules {
    padding: 100px 0 320px;
    position: relative;
    overflow: hidden;

}
.class-schedules .schedules-img-border-mover{
    animation: mover 2s infinite alternate;
    position: relative;
    margin-top: -150px;
    z-index: -1;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    
    100% {
        transform: translateY(-40px);
    }
}

.class-schedules .schedules-tab {
    display: flex;
    flex-wrap: wrap;
}

.class-schedules .schedules-tab-lt {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 20px;
    background: #f5f5f5;
    border: 1px solid #d4d4d4;
    border-radius: 20px;
}

.class-schedules .schedules-tab-rt {
    flex: 0 0 80%;
    max-width: 80%;
    padding-left: 40px;
    position: relative;
}

.class-schedules .schedules-details-iner .row-iner {
    display: flex;
    padding: 20px;
}
.class-schedules .schedules-details-iner .row-iner.first-color {
    background: #f5f5f5;
}

.class-schedules .schedules-details-iner .row-iner.second-color {
    background: #e8e8e8;
}

.class-schedules .schedules-details-iner {
    max-width: 700px;
    border: 1px solid #d4d4d4;
    border-radius: 20px;
    overflow: hidden;
}
.class-schedules .schedules-list>li {
    padding: 15px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    z-index: 2;
    margin-bottom: 15px;
    background-color: #fff;
}
.class-schedules .schedules-list>li a{
    color: var(--headingColor);
    font-weight: 500;
}
.class-schedules .class-schedules-heading {
    max-width: 550px;
    margin-bottom: 50px;
}
.class-schedules .schedules-list>li.schedule-tab-active {
    background: var(--mainColor);
    border-color: var(--mainColor);
}

.class-schedules .schedules-list>li.schedule-tab-active a {
    color: #fff;
}
.class-schedules ul.schedules-list>li:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    background: var(--mainColor);
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: scale(0);
    transition: all .3s;
    border-radius: 10px;
}
.class-schedules .schedules-details-iner .row-iner>div {
    padding: 5px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex: 1;
}

.class-schedules .schedules-details-iner .row-iner>* {
    font-size: 16px;
}
.class-schedules .schedules-list>li:hover:before {
    transform: scale(1);
}

.class-schedules .schedules-list>li:hover {
    border-color:var(--mainColor);
}

.class-schedules .schedules-list>li:hover a {
    color: #fff;
}


.class-schedules .schedules-img-border>img {
    max-width: 100%;
    object-fit: contain;
    transform: scale(1.3);
}

.class-schedules .schedules-img-border {
    border: 15px solid #d4d4d4;
    border-radius: 40px;
    padding: 20px;
    max-width: 450px;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;
    transform: translateY(-50%);
}
.class-schedules .schedules-list>li:last-child{
    margin-bottom: 0;
}
.class-schedules .join-now {
    position: relative;
    color: var(--mainColor);
    display: inline-block;
    padding-bottom: 5px;
}
.class-schedules .join-now:hover:before {
    width: 100%;
}
.class-schedules .join-now:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 50%;
    background: var(--mainColor);
    bottom: 0;
    transition: all .3s;
}

@media(max-width:991px){
    .class-schedules .schedules-tab-lt {
        flex: 0 0 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    
    .class-schedules .schedules-tab-rt {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        margin-top: 40px;
    }
    .class-schedules{
        padding: 80px 0;
    }
    .class-schedules .class-schedules-heading {
        margin: 0 auto 50px;
        text-align: center;
    }
    
    .class-schedules .schedules-img-border-mover {
        display: none;
    }
    
    .class-schedules .schedules-details-iner {
        margin: 0 auto;
    }
}

@media(max-width:580px){
    .class-schedules .schedules-list>li a{
        font-size: 14px;
    }
    .class-schedules .schedules-details-iner .row-iner {
        padding: 12px;
    }
    .class-schedules .schedules-details-iner .row-iner>*{
        font-size: 14px;
    }
    .class-schedules .schedules-list>li{
        padding: 10px;
    }
}
/* our dances classses*/
.our-classes{
    background-color: #f5f5f5;
    padding: 100px 0;
}
.branches-cards-section {
    padding-bottom: 100px;
}
.our-classes .dance-box {
position: relative;
border: 1px solid #d4d4d4;
border-radius: 20px;
padding: 30px;
}
.our-classes .dance-box_img {
border-radius: 20px;
}
.our-classes .dance-box_img img {
border-radius: 20px;
max-width: 360px;
display: block;
}

.our-classes .dance-box_content {
padding: 30px 30px 30px 65px;
position: absolute;
top: 22%;
right: 50px;
border-radius: 20px 20px 20px 20px;
background-repeat: no-repeat;
background-size: cover;
mask-repeat: no-repeat;
-webkit-mask-repeat: no-repeat;
mask-position: center;
mask-size: 100% 100%;
transition: all 0.4s ease-in-out;
}

.our-classes .dance-box_title {
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: var(--headingColor);
margin-bottom: 13px;
}
.our-classes .dance-box_text {
max-width: 265px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color:var(--headingColor);
margin-bottom: 23px;
}
.our-classes .col-flex {
display: flex;
flex-wrap: wrap;
}

.our-classes .col-lg {
flex: 0 0 calc(100%/2 - 20px);
max-width: 100%;
margin: 0 10px 20px;
}
.our-classes .our-classes .dance-box_content:after {
content: "";
position: absolute;
bottom: 0;
border-bottom: 12px solid #d4d4d4;
border-radius: 20px 20px 20px 20px;
width: 100%;
height: 100%;
left: 0;
transition: all 0.4s ease-in-out;
z-index: 1;
}
.our-classes .dance-box_content>*{
position: relative;
z-index: 2;
}
.our-classes .dance-box_content>*>*{
    color: var(--headingColor);
}
.our-classes .view-all {
    text-align: center;
    margin-top: 50px;
}

.our-classes .our-classes-heading {
    max-width: 800px;
    margin: 0 auto 70px;
    text-align: center;
}
@media(max-width:1024px){

.our-classes .col-lg {
    flex: 0 0 100%;
    max-width: 700px;
    margin: 0 auto 30px;
}
}
@media(max-width:767px){
    .branches-cards-section{
        padding-bottom: 50px;
    }
    .our-classes{
        padding: 50px 0;
    }
}
@media(max-width:580px){
    .our-classes .dance-box_content {
        position: static;
        margin-top: 25px;
        background: #fff;
        padding: 20px;
    }
    .our-classes .dance-box{
        padding: 20px;
    }
    .our-classes .dance-box_img>img {
        width: 100%;
        max-width: 100%;
    }
}
/* video gallery section */
.video-gallery-flex {
    display: flex;
    flex-wrap: wrap;
}

.video-gallery-flex .video-gallery-lt {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 20px;
}

.video-gallery-flex .video-galery-rt {
    flex: 0 0 50%;
    max-width: 50%;
}

.video-gallery-flex .video-gallery-rt-iner {
    display: flex;
    flex-wrap: wrap;
    max-height: 480px;
    overflow: scroll;
    overflow-x: hidden;
}
.video-gallery-flex .video-gallery-lt .heading-iner {
    margin-bottom: 35px;
}
.video-gallery-flex .video-gallery-rt-iner .video-gallery-items {
    flex: 0 0 calc(100%/2 - 30px);
    margin: 0 13px 20px;
}

.video-gallery-flex .video-gallery-rt-iner .video-gallery-items video,
.video-gallery-flex .video-gallery-lt video  {
    object-fit: cover;
    object-position: center;
    display: block;
}
.video-gallery-flex .video-gallery-rt-iner .video-gallery-items video {
    height: 180px;
}
.video-gallery-flex .video-gallery-lt video{
    height: 350px;
}
.video-title>h6 {
    text-align: center;
    margin: 10px;
}
.video-gallery-section {
    padding: 100px 0;
}
@media(max-width:1024px){
    .video-gallery-flex .video-gallery-lt{
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }
    .video-gallery-flex .video-galery-rt{
        max-width:100%;
        flex:0 0 100%;
        margin-top: 50px;
    }
    .video-gallery-flex .video-gallery-rt-iner .video-gallery-items video {
        height: 220px;
    }
}
@media(max-width:767px){
    .video-gallery-section {
        padding: 50px 0;
    }
}
@media(max-width:580px){
    .video-gallery-flex .video-gallery-rt-iner .video-gallery-items {
        flex: 0 0 calc(100%/1);
        margin: 0 0 20px 0;
        padding-right: 15px;
    }
    .video-gallery-flex .video-gallery-lt video {
        height: 220px;
}
}

/* our branches */
.our-branches .branch-logo>img {
    max-width: 55px;
}   
.branches-items-flex::-webkit-scrollbar {
    height: 5px;
  }
  
  .branches-items-flex::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    background:#ffffff;
  }
  
  .branches-items-flex::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: var(--mainColor) }
  

.our-branches .branche-tag {
    display: inline-block;
    padding: 10px 20px;
min-width: 150px;
    background: var(--mainColor);
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 20px;
    box-shadow: var(--box-shadow);
    text-align: center;
}
.our-branches .table-heading {
    display: flex;
    padding: 15px;
    background: var(--mainColor);
    border-radius: 2px;
    position: relative;
    margin-bottom: 35px;
    box-shadow: var(--box-shadow);
    flex-wrap: wrap;
    align-items: center;
}
.branches-items-flex {
    overflow-x: auto;
}
.our-branches .table-heading>div {
    flex:  0 0 calc(100%/4);
    color: #fff;
    font-weight: 700;
    padding-right: 20px;
}
.our-branches .branches-table-section {
    margin-top: 40px;
}
.our-branches .table-heading:before {
    position: absolute;
    content: "";
    height: 5px;
    width: 100%;
    background: var(--mainColor);
    bottom: -20px;
    left: 0;
    border-radius: 2px;
}
/* .our-branches .branches-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--headingColor);
    padding: 10px 0;
} */

.our-branches .branches-city-text a,.our-branches .number-of-branches-text{
    background: var(--mainColor);
    display: inline-block;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    box-shadow: var(--box-shadow);
    text-align: center;
    height: 45px;
}
.our-branches .branches-items-flex {
    display: flex;
    margin: 0 -15px;
}

.our-branches .branches-row {
    flex: 0 0 calc(100%/4 - 30px);
    margin: 0 15px
}
.our-branches .branches-city-text a{
    padding: 10px 20px;
    min-width: 200px;
    display: block;
    margin-bottom: 25px;
    background-color: #ffffff;
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
   
}
.our-branches  li.branches-city-text.active a,
.our-branches li.branches-city-text a:hover{
background-color: var(--mainColor);
color: #ffffff;
}

.our-branches .branches-item{
    margin-bottom: 25px;
    text-align: center;
}
.our-branches .number-of-branches-text {
    padding: 10px  20px;
    min-width: 100px;
    text-align: center;
   
}

.our-branches .branch-cta>a {
    display: inline-block;
    padding: 10px 10px;
    background: var(--mainColor);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
    text-align: center;
    box-shadow: var(--box-shadow);
    border: 1px solid transparent;
    min-width: 150px;
}

.our-branches .branch-cta {
    text-align: right;
}
.our-branches .branches-row:last-child{
    border-bottom: 0;
}
.our-branches .branch-cta>a:hover{
    background-color: #fff;
    color: var(--headingColor);
    border-color:var(--mainColor) ;
}
 .our-branches {
    background: #fff;
    padding: 100px 0;
}
.our-branches .heading-item.number-of-branches {
    text-align: center;
}
@media(max-width:767px){
    .our-branches .table-heading>div{
        flex: 0 0 auto;
        max-width: 100%;
    }
    .our-branches .table-heading>div:nth-child(2n) {
        padding-right: 0;
    }
    .our-branches .branches-city-text a,.our-branches .number-of-branches-text{
        font-size: 14px;
    }
    .our-branches{
        padding: 50px 0;
    }
}

@media(max-width:620px){
    .our-branches .table-heading>div,.our-branches .branche-tag,
    .our-branches .branches-city-text, .our-branches .number-of-branches-text{
        font-size: 14px;
    }
}
/* branches cards section */
.branches-cards-section .logo-iner>img {
    max-width: 50px;
    display: block;
    margin: 0 auto;
}

.branches-cards-section .branch-card-sec-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-left: 20px solid var(--mainColor);
    border-bottom: 40px solid var(--mainColor);
    border-right: 20px solid var(--mainColor);
    box-shadow: var(--box-shadow);
}

.branches-cards-section .branch-card-sec-flex .branch-flex-items {
    flex: 0 0 calc(100%/4);
    text-align: center;
    padding: 20px;
}
.branches-cards-section .branch-content {
    margin-top: 20px;
}
.branches-cards-section .branches-cards-title {
    display: flex;
    padding: 15px 20px;
    background: var(--mainColor);
    border-radius: 2px;
    position: relative;
    box-shadow: var(--box-shadow);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.branches-cards-section h6.branch-place {
    text-transform: uppercase;
}
.branches-cards-section p.branch-description {color: #6a6a6a;margin-bottom: 0;}
.branches-cards-section span.visit-tag {
    background: var(--mainColor);
    padding: 5px;
    text-align: center;
    min-width: 120px;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
@media(max-width:1024px){
    .branches-cards-section .branch-card-sec-flex .branch-flex-items{
        flex: 0 0 calc(100%/3);
    }
}
@media(max-width:767px){
    .branches-cards-section .branch-card-sec-flex .branch-flex-items{
        flex: 0 0 calc(100%/2);
    }
    .branches-cards-section .branch-card-sec-flex{
        border-left: 10px solid var(--mainColor);
        border-bottom: 30px solid var(--mainColor);
        border-right: 10px solid var(--mainColor);
    }
}
@media(max-width:580px){
    .branches-cards-section .branch-card-sec-flex .branch-flex-items{
        flex: 0 0 calc(100%/1);
    }
}
/* Contact Us */
.index-template .contact-main .contact-section>h2 {
    margin-bottom: 50px;
}
.index-template .contact-main .contact-col {
    display: flex;
    flex-wrap: wrap;
}
.index-template .contact-main .contact-section .contact-left {
    flex: 0 0 40%;
    max-width: 40%;
}
.index-template .contact-main .contact-section .contact-right {
    flex: 0 0 60%;
    max-width: 60%;
}
.index-template .contact-main .contact-section .address-sec {
    border: 1px solid #ddd;
    padding: 20px 10px;
    text-align: center;
    background-color: #fcfcfc;
    border-radius: 10px;
    margin: 0 0 20px 0;
}
.index-template .contact-main .contact-section .address-sec .font-icon {
    background: transparent;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.index-template .contact-main .font-icon>i {
    color: var(--mainColor);
    font-size: 25px;
}
.index-template .contact-main .address-text>* {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    display: block;
    color: #000;
    text-decoration: none;
}
.index-template .contact-main .sharing-title {
    margin-bottom: 25px;
}
.index-template .contact-main .sharing-title>* {
    font-weight: 700;
    margin-bottom: 0;
}
.index-template .contact-main .social-sharing {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.index-template .contact-main .social-sharing>div {
    margin: 0 20px 15px 0;
}
.index-template .contact-main .social-sharing .social-icon a {
    height: 50px;
    width: 50px;
    border: 1px solid var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}
.index-template .contact-main .social-sharing .social-icon a i {
    color: var(--mainColor);
}
.index-template .contact-main .map-section {
    padding-left: 40px;
}
.index-template .contact-main .contact-section .elementor-custom-embed>iframe {
    max-width: 100% !important;
    width: 100%;
    height: 170px;
    border: 0;
}
.index-template .contact-main .contact-col .map-section .form-section-iner {
    margin-top: 30px;
}
.index-template .contact-main .contact-col .map-section .form-section-iner>h4 {
    margin-bottom: 30px;
}
.index-template .contact-main .fields-sec {
    display: flex;
    flex-wrap: wrap;
}
.index-template .contact-main .fields-sec .left-column {
    flex: 0 0 50%;
    max-width: 50%;
}
.index-template .contact-main .fields-sec .right-column {
    flex: 0 0 50%;
    max-width: 50%;
}
.form-group {
    margin-bottom: 1rem;
}
.index-template .contact-main .form-group input, textarea {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: block;
    font-size: 1em;
    margin: 0 0 20px 0;
    padding: 10px 25px 10px 12px;
    width: 90%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    box-sizing: border-box;
}
.index-template .contact-main .form-group textarea {
    height: 150px;
    width: 100%;
}
.index-template .contact-main .social-sharing .social-icon a:hover {
    background: var(--mainColor);
}
.index-template .contact-main .social-sharing .social-icon a:hover i {
    color: #fff;
}
.contact-main {
    padding: 100px 0;
    background: #f5f5f5;
}
.contact-form .primary-button {
    width: 100%;
    display: block;
    margin-top: 20px;
}
.index-template .contact-main .form-section-iner h4 span {
    color: var(--mainColor);
}
@media(max-width:767px){
    .index-template .contact-main .address-text>*{
        font-size: 16px;
    }
    .contact-main {
        padding: 50px 0;
    }
    .index-template .contact-main .contact-section .contact-left {
        flex: 0 0 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    .index-template .contact-main .contact-section .contact-right {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }
    .index-template .contact-main .form-group input, textarea {
        width: 100%;
    }
    .index-template .contact-main .map-section {
        padding-left: 0;
    }
    .index-template .contact-main .fields-sec .left-column {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .index-template .contact-main .fields-sec .right-column {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/* Image gallery */

  .photo-gallery {
    padding: 70px 0 100px;
}
.photo-gallery .gallery-iner {
    position: relative;
}

.photo-gallery .gallery-left-col>h2 {
    text-align: center;
    margin-bottom: 35px;
}
.photo-gallery .gallery-iner>img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
}
.photo-gallery .gallery-left-col>ul>li.gallery-tab-active>a .gallery-iner img {
    filter: brightness(1);
}
.photo-gallery .gallery-left-col>ul>li>a:hover .gallery-iner>img {
    filter: brightness(1);
}
.photo-gallery h6.img-years {
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    bottom: 0;
    text-align: center;
}

.photo-gallery .gallery-left-col>ul {
    display: flex;
    flex-wrap: wrap;
}

.photo-gallery .gallery-left-col>ul>li {
    flex: 0 0 calc(100%/2 - 20px);
    margin: 0 10px 20px;
}
.photo-gallery .gallery-col {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}

.photo-gallery .main .container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}
.photo-gallery .main .card {
  color: #252a32;
  border-radius: 2px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}
.photo-gallery .main .card-image {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 70%;
  background: #ffffff;
}
.photo-gallery .main .card-image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo-gallery .gallery-left-col>ul>li a{
  display: block;
}
@media(max-width:991px){
 .photo-gallery .main .container {
    grid-template-columns: repeat(2, 1fr);
}
.photo-gallery .gallery-col{
  grid-gap: 20px;
}
.photo-gallery .gallery-left-col>ul>li {
    flex: 0 0 calc(100%/1);
    margin: 0 0 20px 0;
}
.photo-gallery{
    padding-top: 0;
    padding-bottom: 80px;
}
}

@media only screen and (max-width: 600px) {
  .photo-gallery .main .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .photo-gallery .gallery-iner>img {
    height: 120px;
}
}
