@media (max-width: 800px) {
    .header {
        left: 0;
        right: auto;
        bottom: 0;
        top: auto;
        transform: none;
        width: 100%;
        display: block;
        background: #2b2a2a;
        padding: 8px;
        z-index: 10;
    }
}

:root {
    --anchorColor: #000;
    --headingColor: #000;
    --whiteText: #000;
    --mainColor: #f3a762;
}

.page-center {
    margin: 0 auto;
    width: calc(100vw - 50px);
    padding: 0 20px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #7a7a7a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.3;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: var(--mainColor);
    margin: 0 0 10px 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0 0 10px 0;
    font-size: 50px;
    color: var(--headingColor);
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0 0 10px 0;
    color: var(--headingColor);
    font-size: 40px;
}

h4 {
    margin: 0 0 10px 0;
    color: var(--headingColor);
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h5 {
    margin: 0 0 10px 0;
    color: var(--headingColor);
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

h6 {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: var(--headingColor);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

p {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #222;
    line-height: 1.5;

}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 940px;
    padding: 0 100px 0 20px;
    margin: 0 0 0 auto;
}

@media(max-width: 767px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 25px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 16px;
    }
}

.home .social-follow,
.social-follow {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 0 30px;
    justify-content: flex-start;
}

.bg-curve .img-profile {
    height: 100%;
}

body .bg-curve {
    position: relative;
    overflow: hidden;
}

body .bg-curve:before {
    position: absolute;
    left: -50px;
    bottom: -75px;
    width: 100%;
    height: 100px;
    background: #fff;
    transform: rotate(16deg);
    -webkit-transform: rotate(16deg);
    -moz-transform: rotate(16deg);
    -o-transform: rotate(16deg);
    content: "";
}

body .bg-curve:after {
    content: '';
    position: absolute;
    bottom: -75px;
    width: 100%;
    height: 100px;
    background: #fff;
    transform: rotate(348deg);
    -webkit-transform: rotate(348deg);
    -moz-transform: rotate(348deg);
    -o-transform: rotate(348deg);
    -webkit-transform: rotate(348deg);
    right: -24px;
}

.home .social-icon,
.social-icon {
    margin: 5px 10px 10px 0;
}

.home .social-icon>a,
.social-icon>a {
    height: 30px;
    width: 30px;
    background: #f3a762;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    transition: all .3s;
}

.home .social-icon>a:hover,
.social-icon>a:hover {
    transform: translateY(-5px);
}

.open-about-me .about-me-fixed {

    transform: translate(-50%, -50%) scale(1);
}

body .tab-items {
    padding: 40px 0;
}

body .about-me-fixed {
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 1200px;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    max-height: calc(100vh - 100px);
    z-index: 99;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    transition: 0.3s;
    padding: 50px 20px;
    max-width: calc(100vw - 100px);
}

.open-about-me .overley_popup_active:before {
    visibility: visible;
    opacity: 1;
}

.about-me-fixed .cross-filter {
    position: absolute;
    right: 15px;
    transform: rotate(45deg);
    color: #000000;
    font-size: 30px;
    top: 15px;
    line-height: 20px;
    cursor: pointer;
}

.overley_popup_active:before {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

body.open-about-me {
    overflow: hidden;
}

.button-icon {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #fff;
    border-radius: 50%;
    background-color: var(--mainColor);
}

.button:hover:before {
    transform: translateX(0);
}

.button:hover .button-text {
    color: #fff;
}

.button:before {
    z-index: -1;
    background-color: var(--mainColor);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .3s ease-out;
}


.button {
    overflow: hidden;
    display: inline-block;
    line-height: 1.4;
    border-radius: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: all .25s ease-in-out;
    text-transform: uppercase;
    text-decoration: none !important;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    background-color: transparent;
    outline: none !important;
    cursor: pointer !important;
    border: 1px solid var(--mainColor);
}

.title-social-icons {
    margin-top: auto;
}

.home .home-details h1 {
    font-size: 51px;
    line-height: 62px;
    font-weight: 700;
    margin: 18px 0 10px;
    position: relative;
    padding-left: 70px;
}

.home .home-details h1:before {
    content: "";
    position: absolute;
    left: 0;
    top: 29px;
    height: 4px;
    width: 40px;
    border-radius: 10px;
    background-color: var(--mainColor);
}

.home .home-details p {
    margin: 15px 0 28px;
    font-size: 16px;
    line-height: 35px;
}

body .bg-curve {
    max-height: calc(100vh - 50px);
    z-index: 11;
    left: 40px;
    top: 40px;
    height: 100%;
    max-width: 100%;
}

.bg-curve .img-profile>img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

/* .home .social-follow {
    display: none;
} */

.home .home-details>div {
    max-width: 700px;
    margin: 0 auto;
}

.position-fixed {
    position: fixed !important;
}

.tab-panel_list>div {
    position: relative;
}

/* .home .container-home {
    display: flex;
    align-items: center;
    min-height: 100%;
} */
/* .home .color-block {
    position: fixed;    
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
    background-color: var(--mainColor);
} */
.theme-switcher-label .light-text {
    color: #000;
}

.header ul.icon-menu {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--mainColor);
}

.about .resume-box .icon,
.blog .page-item.active .page-link,
.blog .page-link:hover,
.btn,
.button-icon,
.button:before,
.contact ul.social li a:hover,
.header .icon-box h2,
.header ul.icon-menu li.icon-box:hover,
.home .color-block,
.home .home-details h1:before,
.portfolio .grid li figure div,
.portfolio .slideshow .carousel-indicators li.active,
.preloader .loader,
.title-section hr,
body.light.blog .page-item.active .page-link,
body.light.blog .page-link:hover,
body.light.contact ul.social li a:hover {
    background-color: var(--mainColor) !important;
}

.header ul.icon-menu li.icon-box.react-tabs__tab--selected,
.header ul.icon-menu li.icon-box.react-tabs__tab--selected i,
.header ul.icon-menu li.icon-box:hover,
.header ul.icon-menu li.icon-box:hover i {
    color: #fff;
}

.header ul.icon-menu li.icon-box {
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    background: #2b2a2a !important;
    cursor: pointer;
}

.header ul.icon-menu li.icon-box.tab-main {
    background-color: var(--mainColor) !important;
}

.header .icon-menu i {
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 35px;
    top: 15px;
}

.header .icon-box i.fa {
    position: absolute;
    pointer-events: none;
}

.header ul.icon-menu li.icon-box i {
    color: #ddd;
    font-size: 19px;
    transition: .3s;
}

.header ul.icon-menu li.icon-box.react-tabs__tab--selected,
.header ul.icon-menu li.icon-box.react-tabs__tab--selected i,
.header ul.icon-menu li.icon-box:hover,
.header ul.icon-menu li.icon-box:hover i {
    color: #fff;
}

.header .icon-box h2 {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    line-height: 50px;
    font-weight: 500;
    transition: all .3s;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 0 25px 0 30px;
    height: 50px;
    margin: 0;
}

/* .card-started .profile.no-photo .slide>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} */

.card-started .profile.no-photo .slide>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    min-height: 100vh;
}

@media screen and (min-width: 1149px) and (max-width: 1360px) {
    img.mask-img {
        transform: translate(0%, 77%) !important;
    }

}

img.mask-img {
    position: absolute;
    z-index: 98;
    left: 0;
    bottom: 0 !important;
    object-fit: contain !important;
    transform: translate(0%, 70%);
}

.profile-content .slide.lazyloaded {
    position: relative;
}

.header .icon-box h2 {
    font-size: 15px;
}

.header ul.icon-menu li.icon-box.react-tabs__tab--selected,
.header ul.icon-menu li.icon-box.react-tabs__tab--selected i,
.header ul.icon-menu li.icon-box:hover,
.header ul.icon-menu li.icon-box:hover i {
    color: #fff;
}

.header ul.icon-menu li.icon-box i {
    color: #ddd;
    font-size: 19px;
    transition: .3s;
}

.home .home-details h1 span {
    color: #222;
    display: block;
}

.header ul.icon-menu li.icon-box {
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    background: #2b2a2a;
    cursor: pointer;
}

.header .icon-box:hover h2 {
    opacity: 1;
    right: 27px;
    margin: 0;
    text-align: center;
    border-radius: 30px 0 0 30px;
}

.about .resume-box .icon,
.blog .page-item.active .page-link,
.blog .page-link:hover,
.btn,
.button-icon,
.button:before,
.contact ul.social li a:hover,
.header .icon-box h2,
.header ul.icon-menu li.icon-box.react-tabs__tab--selected,
.header ul.icon-menu li.icon-box:hover,
.home .color-block,
.home .home-details h1:before,
.portfolio .grid li figure div,
.portfolio .slideshow .carousel-indicators li.active,
.preloader .loader,
.title-section hr,
body.light.blog .page-item.active .page-link,
body.light.blog .page-link:hover,
body.light.contact ul.social li a:hover {
    background-color: var(--mainColor);
}

.about-me-fixed .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    position: fixed;
    right: 30px;
    display: flex;
    align-items: center;
    top: 50%;
    opacity: 1;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    transform: translateY(-50%);
    z-index: 2;
    background-color: #fff;
}

@media (min-width: 1151px) {
    .profile-mobile {
        display: none;
    }
}

@media(min-width:1700px) {

    .card-started .profile,
    .content-sidebar .profile {
        width: 35%;
    }

    .container {
        max-width: 1000px;
        margin: 0 0 0 auto;
    }

    .home .home-details>div {
        max-width: 824px;
        margin: 0 auto;
    }
}

@media(min-width:2000px) {
    .container {
        max-width: 1180px;
        margin: 0 0 0 auto;
        padding-left: 40px;
    }
}


@media(max-width:1620px) {
    .container {
        max-width: 830px;
    }
}

@media(max-width:1350px) {

    .card-started .profile.no-photo .slide,
    .content-sidebar .profile.no-photo .slide {
        height: 58% !important;
    }

    .container {
        max-width: 700px;
    }
}

@media (max-width: 1150px) {
    .home .home-details>div {
        max-width: 800px;
    }

    .container {
        max-width: 1200px;
        padding: 0 20px;
        margin: 0 auto;
    }

    .home .home-details>div {
        text-align: center;
        padding: 0 20px;
    }

    .home .social-follow {
        display: flex;
    }

    body .tab-items {
        padding: 60px 0 100px;
    }

    .tab-panel_list>div.home {
        padding-left: 15px;
        padding-right: 15px;
    }

    .home .home-details h1:before {
        content: unset;
    }

    /* .home-details-container {
        height: 100vh;
        overflow: auto;
    } */
    .header ul.icon-menu h2 {
        display: none;
    }

    .header ul.icon-menu li.icon-box {
        margin: 0 !important;
        width: 45px !important;
        height: 45px !important;
    }

    .home .home-details {

        padding: 0;
    }

    .align-items-center {
        align-items: center !important;
    }

    .home .home-details-container {
        margin: 0 auto;
    }

    .profile-mobile {
        border-radius: 50%;
        width: 270px;
        height: 270px;
        border: 4px solid #252525;
        margin: 0 auto 25px;
        display: block;
        object-fit: cover;
    }

    .d-none {
        display: none !important;
    }

    .header ul.icon-menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .tab-panel_list {
        padding-bottom: 60px;
    }

    .home .home-details h1 {
        font-size: 38px;
        line-height: 48px;
        margin: 29px 0 13px;
        padding: 0;
        text-align: center;
    }

    .tab-panel_list>div.home {
        padding-left: 15px;
        padding-right: 15px;
    }

    .home .home-details p {
        margin: 10px 0 23px;
        font-size: 15px;
        line-height: 30px;
        text-align: center;
    }

    .header {
        left: 0;
        right: auto;
        bottom: 0;
        top: auto;
        transform: none;
        width: 100%;
        display: block;
        background: #2b2a2a;
        padding: 8px;
        z-index: 10;
    }
}

@media(max-width:767px) {
    .profile-mobile {
        width: 200px;
        height: 200px;
    }
}

/* about me */
.title-section h1 span {
    color: var(--mainColor);
}

.title-section {
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding-bottom: 40px;
    text-align: center;
}

.title-section h1 {
    font-size: 42px;
    font-weight: 900 !important;
    color: #000;
    text-transform: uppercase;
    margin: 0;
}

/* .title-bg {
    font-size: 110px;
    left: 0;
    letter-spacing: 10px;
    line-height: .7;
    position: absolute;
    right: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 800;
    transform: translateY(-50%);
    color: rgba(0,0,0,0.2)
    } */
.tab-panel_list>div {
    height: 100vh;
    overflow: auto;
    padding: 80px 0;
}

.custom-title {
    padding-bottom: 22px;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

.about .about-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.about .about-list li:not(:last-child),
.about .main-content {
    padding-bottom: 20px;
}

.about .about-list li {
    flex: 0 0 50%;
    max-width: 50%;
    color: #fff;
    padding-right: 10px;
}

.about .about-list .title {
    opacity: .8;
    color: #000;
    text-transform: capitalize;
}

.about .about-list .value {
    font-weight: 600;
    color: #000;
}

.about .box-stats h3 {
    position: relative;
    display: inline-block;
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    color: var(--mainColor);
}

.about .about-lt-col {
    margin-bottom: 50px;
}

/* .about .about-col-flex {
    display: flex;
    flex-wrap: wrap;
    }

    
    .about .about-col-flex .about-lt-col {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 25px;
    }
    
    .about .about-col-flex .about-rt-col {
    flex: 0 0 50%;
    max-width: 50%;
    } */

.about .row-iner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.about .box-stats h3:after {
    content: "+";
    position: absolute;
    right: -24px;
    font-size: 33px;
    font-weight: 300;
    top: 2px;
}

.about .col-inr {
    padding: 20px 30px 25px 40px;
    border-radius: 5px;
    border: 1px solid #252525;
    flex: 0 0 calc(100%/2 - 30px);
    margin: 0 15px 30px;
}

.about .box-stats p {
    padding-left: 45px;
    position: relative;
    margin: 0;
    color: var(--whiteText);
}

.about .lt-col-in a.button {
    margin-top: 40px;
}

.about .box-stats p:before {
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    width: 30px;
    height: 1px;
    background: #777;
}

.about .skills-flex {
    display: flex;
    flex-wrap: wrap;
}


.about .skills-flex .skills-items {
    flex: 0 0 calc(100%/4 - 40px);
    margin: 0 20px 40px;
    text-align: center;
}

.about hr.separator {
    border-top: 1px solid #252525;
    margin: 50px auto;
    max-width: 40%;
}

/* experience */
/* .about .experience-flex {
    display: flex;
    flex-wrap: wrap;
    }
    
    .about .experience-left-col {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 20px;
    }
    
    .about .experience-left-right {
    flex: 0 0 50%;
    max-width: 50%;
    } */
.about .resume-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about .resume-box li {
    position: relative;
    padding: 0 20px 0 60px;
    margin: 0 0 50px;
}

.about .resume-box .icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 40px;
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    color: #fff;
    background-color: var(--mainColor);
}

.about .experience-main .title>h3 {
    color: #000;
    text-align: center;
    margin-bottom: 60px;
}

.about .resume-box .time {
    color: #fff;
    font-size: 12px;
    padding: 1px 10px;
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #252525;
    opacity: .8;
}

.about .about-me.about {
    padding-bottom: 100px;
}

.about .resume-box h5 {
    font-size: 18px;
    margin: 7px 0 10px;
    color: var(--whiteText);
}

.about .resume-box .place {
    opacity: .8;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    display: block;
}

.about .resume-box .place:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background-color: #fff;
    left: 7px;
    top: 9px;
    opacity: .8;
}

.about .resume-box p {
    margin: 0;
    color: #000;
    font-size: 14px;
}

.about .resume-box li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    border-left: 1px solid #333;
}

.about .progress {
    width: 100px;
    height: 100px;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: #07070c;
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
}

.blog .entry-content p {
    margin-bottom: 0;
    color: #fff;
    font-size: 14px;
}

.about .progress::after {
    content: "%";
    font-size: 20px;
}

.about .progress .title {
    position: relative;
    z-index: 100;
    font-size: 20px;
}

.about .progress .overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #07070c
}

.about .progress .left,
.about .progress .right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 10px solid var(--mainColor);
    border-radius: 100px 0px 0px 100px;
    border-right: 0;
    transform-origin: right;
}

.about .progress .left {
    animation: load1 1s linear forwards;
}

.about .progress:nth-of-type(2) .right,
.about .progress:nth-of-type(3) .right {
    animation: load2 .5s linear forwards 1s;
}

.about .progress:last-of-type .right,
.about .progress:first-of-type .right {
    animation: load3 .8s linear forwards 1s;
}

@keyframes load1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes load2 {
    0% {
        z-index: 100;
        transform: rotate(180deg);
    }

    100% {
        z-index: 100;
        transform: rotate(270deg);
    }
}

@keyframes load3 {
    0% {
        z-index: 100;
        transform: rotate(180deg);
    }

    100% {
        z-index: 100;
        transform: rotate(315deg);
    }
}


.about .ellipse-main {
    display: flex;
    flex-wrap: wrap;
}

.about .ellipse-main .ellipse-iner {
    flex: 0 0 calc(100%/4 - 30px);
    margin: 0 15px 30px;
}

.about .skills-title h2 {
    text-align: center;
    margin-bottom: 40px;
}

.about h6.ellipse-title {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0;
}

/* @media(min-width:1301px){
    body .bg-curve:after {
        bottom: -78px;
        width: 100%;
        height: 140px;
        transform: rotate(347deg);
        -webkit-transform: rotate(347deg);
        -moz-transform: rotate(347deg);
        -o-transform: rotate(347deg);
        -webkit-transform: rotate(347deg);
        right: -34px;
    }
    body .bg-curve:before {
        left: -50px;
        bottom: -78px;
        width: 100%;
        height: 140px;
        transform: rotate(16deg);
        -webkit-transform: rotate(16deg);
        -moz-transform: rotate(16deg);
        -o-transform: rotate(16deg);
    }
} */

@media(max-width:991px) {
    .about .about-col-flex .about-lt-col {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }

    .about .lt-col-in .custom-title {
        text-align: left;
    }

    .about .about-col-flex .about-rt-col {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 40px;
    }

    .about .experience-left-col {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }

    .about .about-rt-col .row-iner {
        margin: 0;
    }

    .about .experience-left-right {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width:767px) {
    .about .ellipse-main .ellipse-iner {
        flex: 0 0 calc(100%/2 - 30px);
    }

    .title-bg {
        display: none
    }

    .about .title-section h1 {
        font-size: 42px;
    }

    .about hr.separator {
        margin: 40px auto 40px;
    }
}

@media(max-width:767px) {

    .about .box-stats p {
        padding: 20px 0 0 0;
        margin-top: 20px;

    }

    .about .box-stats p:before {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .about .col-inr {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 0 30px 0;
        text-align: center;
    }

    .about .about-list li {
        flex: 0 0 50%;
        max-width: 50%;
        color: #fff;
        font-size: 14px;
    }

}


/* contact us */
.contact .contactform input[type=email],
.contact .contactform input[type=text] {
    border: 1px solid #111;
    width: 100%;
    background: #252525;
    color: #fff;
    padding: 11px 26px;
    border-radius: 30px;
    outline: none !important;
    transition: .3s;
}

.contact .contactform .form-group {
    margin-bottom: 30px;
}

.contact .contactform textarea {
    border: 1px solid #111;
    background: #252525;
    color: #fff;
    width: 100%;
    padding: 12px 26px;
    height: 200px;
    overflow: hidden;
    border-radius: 30px;
    outline: none !important;
    transition: .3s;
}

.contact .custom-span-contact span {
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: #000;
}

.contact .mb-4 {
    color: #000;
    font-size: 15px;
    margin-bottom: 30px;
}

.contact .row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    align-items: flex-start !important;
}

.contact .row-flex .row-flex-iner {
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: 40px;
}

.contact .row-flex .row-flex-in {
    flex: 0 0 60%;
    max-width: 60%;
}

.contact .custom-span-contact {
    font-weight: 600;
    padding-left: 50px;
    line-height: 25px;
    padding-top: 5px;
    margin-bottom: 20px;
    position: relative;
    font-size: 15px;
    color: #000;
}

.contact .custom-span-contact a {
    color: #000;
    text-decoration: none;
}

.contact .custom-span-contact i {
    color: var(--mainColor);
}

.contact .custom-span-contact i {
    left: 0;
    top: 0;
    font-size: 33px;
    position: absolute;
}

.contact .custom-span-contact {
    font-weight: 600;
    padding-left: 50px;
    line-height: 25px;
    padding-top: 5px;
    margin-bottom: 20px;
}

.contact ul.social li a {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    transition: .3s;
    font-size: 17px;
    margin: 0 6px 10px;
    background: #2b2a2a;
    border-radius: 50%;
}

.contact ul.social li {
    display: inline-block;
}

.contact ul.social {
    margin-left: -5px;
    padding-top: 15px !important;
}

@media(max-width:991px) {

    .contact .row-flex .row-flex-iner,
    .contact .row-flex .row-flex-in {
        flex: 0 0 100%;
        max-width: 700px;
        padding: 0;
        margin: 0 auto;
    }

}

.portfolio-section .port-tab {
    margin-top: 30px;
}

.portfolio-section .filter-sec h2.custom-title .hight-light {
    color: var(--mainColor);
}

.portfolio-section ul.tabs-main>li {
    display: inline-block;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    font-weight: 600;
}

.portfolio-section li.tab-open {
    color: var(--mainColor);

}

.portfolio-section .img-inr>video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.portfolio-section .portfolio-section {
    padding: 80px 0;
}

.portfolio-section .filter-sec h2.custom-title {
    text-align: center;
}

.portfolio-section .tabs-main {
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio-section .img-main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.portfolio-section .img-main .img-inr>img {
    height: 280px;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

@media(max-width:991px) {
    .portfolio-section .img-main {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio-section .img-main .img-inr>img {
        height: 220px;
    }

    .portfolio-section .img-inr>video {
        height: 220px;
    }
}

@media(max-width:767px) {
    .portfolio-section .img-main {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* blog */
.blog .post-content {
    background-color: #252525;
    padding: 20px 25px 25px;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid var(--mainColor);
}

.blog .entry-header>h3 {
    color: #fff;
    font-size: 18px;
    margin-top: 5px;
}

.blog .post-container:hover .img-iner img {
    transform: scale(1.05);
}

.blog .blog-flex .img-iner>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s;
    display: block;

}

.blog .blog-flex {
    display: flex;
    flex-wrap: wrap;
}

.blog .post-container {
    flex: 0 0 calc(100%/2 - 20px);
    margin: 0 10px 30px;
    background-color: #252525;
}

.blog .img-iner {
    position: relative;
    overflow: hidden;
}

.blog .img-iner a.link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

@media(max-width:991px) {
    .blog .post-container {
        flex: 0 0 calc(100%/2 - 30px);
    }
}

@media(max-width:580px) {
    .blog .post-container {
        flex: 0 0 calc(100%/1);
        margin: 0 0 30px 0;
    }

    .title-section h1,
    .home .home-details h1 {
        font-size: 32px;
    }
}

/* certificates */

.certificates-section .certi-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 31px;
}

.certificates-section .certi-inr {
    text-align: center;
    transition: all .4s;
    cursor: pointer;
}

.certificates-section .certi-inr>img {
    max-width: 60px;
    max-height: 60px;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    min-width: 60px;
    min-height: 60px;
}

.certificates-section .certi-inr:hover {
    transform: scale(1.1);
}

.certificates-section .certi-inr p {
    color: var(--whiteText);
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 600;
}

@media(max-width:991px) {
    .certificates-section .certi-main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:580px) {
    .custom-title {
        font-size: 20px;
    }

    button.button.about-me-click {
        display: none;
    }

    .contact .row-flex {
        margin-top: 0;
    }

    .certificates-section .certi-main {
        grid-template-columns: repeat(2, 1fr);
    }

    .certificates-section .title-section h1 {
        font-size: 24px;
    }
}

/* @media(max-width:480px){
        .certificates-section .certi-main {
            grid-template-columns: repeat(2,1fr);
          
        }
    } */
.about .border-line-h:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: -moz-radial-gradient(center, ellipse cover, #ddd 0%, rgba(255, 255, 255, 0) 70%);
    background: -webkit-radial-gradient(center, ellipse cover, #ddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at center, #ddd 0%, rgba(255, 255, 255, 0) 70%);
}

.about .col-iner-main .col {
    padding: 30px;
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
}

.about .col-iner-main {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.about .col:before {
    margin: 0 0 0 -1px;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: -moz-radial-gradient(top, ellipse cover, #ddd 0%, rgba(255, 255, 255, 0) 70%);
    background: -webkit-radial-gradient(top, ellipse cover, #ddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at top, #ddd 0%, rgba(255, 255, 255, 0) 70%);
}

.about .col-iner-main:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: -moz-radial-gradient(top, ellipse cover, #ddd 0%, rgba(255, 255, 255, 0) 70%);
    background: -webkit-radial-gradient(top, ellipse cover, #ddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at top, #ddd 0%, rgba(255, 255, 255, 0) 70%);
}

.about .certificates-section {
    margin-top: 50px;
}

.about .service-item .icon {
    height: 50px;
    width: 50px;
    margin: 0 auto 15px;
    background: #f3a762;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.about .service-item .icon i {
    color: #fff;
}

.about .service-item .name>* {
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}

@media(max-width:767px) {
    .about .col-iner-main .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.card-started .profile,
.content-sidebar .profile {
    position: relative;
    overflow: hidden;
    height: 100%;
    background: #fff;
    text-align: center;
    z-index: 10;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}

/* .card-started .profile .profile-content {

    padding: 0;
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .02s ease 1s;
    -moz-transition: all .02s ease 1s;
    -webkit-transition: all .02s ease 1s;
    -o-transition: all .02s ease 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.card-started .profile .profile-content {
    padding: 0;
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .02s ease 1s;
    -moz-transition: all .02s ease 1s;
    -webkit-transition: all .02s ease 1s;
    -o-transition: all .02s ease 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.card-started .profile .slide {
    z-index: 0;
}

.card-started .profile.no-photo .slide,
.content-sidebar .profile.no-photo .slide {
    height: 70%;
}

/* .card-started .profile .slide:before,
.card-started .profile .slide:after,
.content-sidebar .profile .slide:before,
.content-sidebar .profile .slide:after {
    content: '';
    position: absolute;
    left: -25%;
    bottom: -63%;
    width: 100%;
    height: 70%;
    background: #fff;
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -o-transform: rotate(12deg);
} */

.card-started .profile .slide:after,
.content-sidebar .profile .slide:after {
    left: auto;
    right: -25%;
    transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
}

.card-started .profile .title,
.content-sidebar .profile .title {
    position: relative;
    margin: 0 0 10px;
    font-size: 34px;
    color: #323232;
    line-height: 32px;
    font-weight: 500;
}

.card-started .profile .subtitle.subtitle-typed,
.header .profile .subtitle.subtitle-typed {
    position: relative;
    overflow: hidden;
    height: 24px;
}

.card-started .profile .subtitle,
.content-sidebar .profile .subtitle,
.content-sidebar .profile .typed-cursor,
.card-started .profile .typed-cursor {
    position: relative;
    margin: 0;
    display: inline-block;
    color: #78cc6d;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    font-weight: 400;
}

.card-started .profile .social {
    position: relative;
    margin: 16px 0 0;
}

.card-started .profile .social a,
.content-sidebar .profile .social a {
    margin: 0 6px;
    display: inline-block;
    vertical-align: middle;
}

.card-started .profile,
.content-sidebar .profile {
    position: fixed;
    top: 40px;
    width: 40%;
    left: 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .05);
    max-height: calc(100vh - 70px);
    z-index: 11;
    left: 40px;
    top: 40px;
    height: 100%;
    max-width: 100%;
}

.ion-ios-paperplane:before {
    content: "\f474";
}

.ion-archive:before {
    content: "\f102";
}

.card-started .profile .slide,
.content-sidebar .profile .slide {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 52%;
    background-color: rgba(46, 202, 127, .1);
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -khtml-border-radius: 4px 4px 0 0;
}

div#home_tab .container-fluid.container.container-home.p-0.g-0 {
    height: 100vh;
    display: flex;
    align-items: center;
}

.home-full {
    max-height: unset !important;
    top: 0 !important;
    left: 0 !important;
    width: 38% !important;
}

.slide.lazyloaded:before,
.slide.lazyloaded:after {
    background: #f3a762 !important;
}

ul.icon-menu [data-tab="#blog_tab"] {
    display: none !important;
}

.profile.no-photo.home-full {
    border-radius: unset !important;
}

div#portfolio-img {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
}

div#home_tab {
    padding: unset;
}

@media(min-width:860px) {

    .card-started .profile,
    .content-sidebar .profile {
        height: 100vh;
    }
}

@media(max-width:1450px) {

    .card-started .profile,
    .content-sidebar .profile {
        width: 35%;
    }
}