:root {
    --anchorColor: #000;
    --headingColor: #000;
    --mainColor: #000;
    --websiteColor: #f3a762;
    --highlight: #f3a762;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0 0 10px 0;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: var(--headingColor);
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0 0 10px 0;
    font-size: 40px;
    color: var(--headingColor);
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0 0 10px 0;
    color: var(--headingColor);
    font-size: 35px;
}

h4 {
    margin: 0 0 10px 0;
    color: var(--headingColor);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h5 {
    margin: 0 0 10px 0;
    color: var(--headingColor);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h6 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: var(--headingColor);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000;
}

a {
    text-decoration: none;
    display: inline-block;
}

.button--primary {
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--highlight);
    padding: 13px 30px;
    transition: all .4s;
    font-weight: 700;
    position: relative;
    border: 1px solid var(--highlight);
}

.button--primary:hover {
    transform: translateY(-4px);
    background: transparent;
    border: 1px solid var(--websiteColor);
    color: var(--websiteColor);
}

.button--secondary {
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #000;
    padding: 13px 30px;
    transition: all .4s;
    font-weight: 700;
    position: relative;
    border: 1px solid #000;
}

.button--secondary:hover {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
}

img {
    width: 100%;
}

.banner-section .banner-text {
    text-shadow: 1px 2px black;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {

    .our-trainer-sec .title-modern {
        left: 4% !important;
    }

    .slick-next {
        right: -12px;
    }

    .slick-prev {
        left: -12px;
    }

}

@media(max-width: 767px) {

    .service-section .title-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .btn.srvbtnjk {
        margin-top: 1rem;
    }

    .page-center.dnc-pgcvid {
        padding-right: 0;
        padding-left: 0;
    }

    .page-center.dnc-pgcvid .vd-right {
        padding-left: 20px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 25px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }
}

.page-center {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* header css */
.header .logo a img {
    width: 100%;
    max-width: 40px;
    display: block;
}

.header .logo a {
    display: flex;
    align-items: center;
}

.header .logo a span {
    color: #000;
    font-size: 15px;
    font-weight: 700;
    padding-left: 14px;
}

.header .header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}

.header .logo {
    flex: 0 0 130px;
    margin-right: 20px;
}

.header .menu-items {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .menu-items>ul>li {
    display: inline-block;
    margin: 0px 20px;
}

.header .navmain-opener {
    position: absolute;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 14px;
    width: 23px;
    right: 20px;
    z-index: 9999;
    outline: 0;
    display: none;
}

.header .navmain-opener span,
.header .navmain-opener:after,
.header .navmain-opener:before {
    background: var(--mainColor);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    height: 2px;
    margin-top: -2px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.header .navmain-opener:after,
.header .navmain-opener:before {
    content: '';
    top: 2px;
}

.header .navmain-opener:after {
    top: 16px;
}

.header .menu-items>ul>li a {
    color: var(--anchorColor);
    font-size: 16px;
}

header.header {
    padding: 15px 0;
    background: var(--websiteColor);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 20%);
    z-index: 9;
    position: relative;
}

.header .menu-items ul>li:last-child {
    margin-right: 0;
}

.header .menu-items ul>li:last-child a {
    color: #fff;
    background: #000;
    padding: 12px 30px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.header .menu-items ul>li:last-child a:hover {
    background: transparent;
    border: 1px solid #000;
    color: #000;
}

/* banner  */
.banner-section .banner-inr {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.banner-section .banner-img>img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block
}

.banner-section .banner-img {
    flex: 0 0 50%;
    max-width: 50%;
}

.banner-section .banner-text {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 20px;
}

.banner-section {
    padding: 100px 0;
    background-color: #f5f5f5;
}

.banner-section .banner-text>:first-child {
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
}

.banner-section .banner-text>:last-child {
    margin-top: 20px;
}

/* featured section */
.info-featured .img-dance {
    background: var(--websiteColor);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    position: relative;

}

.info-featured .img-dance>img {
    max-height: 148px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    border-radius: 5px 5px 0px 0px;
}

div#dance-contact-pj .col-flex h2 {
    font-size: 24px !important;
}

a.button--primary.bannerbtn-uid:hover {
    background: black;
    color: white;
    border: black;
    text-decoration: unset;
}

.vid-section-2 ul.slick-dots {
    display: none !important;
}

div#dance-event-page {
    margin: 1rem 0 4rem 0;
}

a.button--primary.bannerbtn-uid {
    text-shadow: 0 0 BLACK;
}

.info-featured .featured-inr {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    flex-direction: column;
}

.profile-section-in .about-ex {
    display: flex;
    flex-wrap: wrap;
}

.profile-section-in .about-ex>div {
    flex: 1;
    /* margin-top: 20px; */
}

.profile-section-in .profile-detail-in {
    background: #f5f5f5;
    box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 30%);
    border: 1px solid #00000029;

}

/* .info-featured {
    padding: 80px 0;
} */

.info-featured .featured-item {
    max-width: 100%;
    flex: 0 0 calc(100%/5 - 30px);
    text-align: center;
    padding: 0px 0px 80px;
    box-shadow: 4px 4px 4px 1px #ccc;
    background: #fff;
    margin: 0 15px 30px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}

div#dance-event-page .featured-item .des {
    padding: 0 20px;
}

div#dance-contact-pj label {
    font-weight: 300;
}

.vid-section-2 .slick-slide {
    margin: 1rem 2rem;
}

.vid-section-2 {
    margin: 4rem 0;
}

.vid-section-2 .vd-heading h2 {
    margin-bottom: 1rem;
}

.pro-title h2 {
    font-size: 30px;
    padding: 2rem 0 0 0;
    color: black;
}

.footer-bottom .social-follow .social-icons a:hover {
    transform: scale(1.2);
    color: white !important;
}

.info-featured .featured-inr .dance-type {
    border-radius: 5px;
}


.info-featured .featured-inr .des>*:last-child {
    margin-top: auto;
    bottom: 20px;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

}

.info-featured .featured-inr .featured-item:before {
    position: absolute;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    top: 0;
    display: block;
    content: "";
    z-index: -1;
    background-color: var(--websiteColor);
    border-radius: 5px;
    width: 100%;
    height: 0%;
    left: 0;
}

.info-featured .featured-inr .img-dance:before {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    background: transparent;
    width: 80px;
    height: 80px;
}

/* .featured-inr .img-dance:hover:before {
    transition: all 0.2s ease-in-out 0s;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    background: #000000;
    width: 80px;
    height: 80px;
    z-index: 1;
} */

/* .info-featured .featured-inr .featured-item:hover .des>* {
    color: #fff;
} */
/* 
.info-featured .featured-inr .featured-item:hover:before {
    height: 100%;
} */

/* video section */
.video-section .vd-right-inr {
    display: flex;
    flex-direction: column;
}

.video-section .video-col {
    display: flex;
    flex-wrap: wrap;
}

.video-section video {
    max-width: 100%;
    object-fit: cover;
    object-position: top;
    height: 140px;
    box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 30%);
}

.video-section .vd-heading {
    text-align: center;
    margin-bottom: 48px;
}

.video-section .vd-heading>* {
    margin-bottom: 0;
}

.video-section {
    padding: 80px 0;
    background: #f5f5f5;
}

.video-section h5.video-title {
    text-align: center;
    margin: 15px 0 15px 0;
}

.forn-heading h3 {
    font-size: 30px !important;
}

body>header>div>div>div.menu-items.nav-sec>ul li:last-child {
    border-bottom: unset;
}

.contact-heading h2 {
    font-size: 30px !important;
    /* text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15); */


}

.heading-inr h2 {
    font-size: 30px !important;
    /* text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15); */
}

.social-follow .social-icons a:hover {
    transform: scale(1.2);
    color: #f3a762 !important;
}

p.sc2-tsfjsdkfj.text-justify {
    white-space: nowrap;
}

.vd-heading h2 {
    font-size: 30px;
}

.video-section .vd-left {
    flex: 0 0 75%;
    max-width: 75%;
    padding-right: 70px;
}

.video-section .vd-right {
    flex: 0 0 25%;
    max-width: 25%;
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 30px;
}

/* scroll bar */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #f3a762 #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--websiteColor);
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.footer .left-form .form_input>label {
    display: inline-block;
    margin-bottom: 10px;
}

.footer .left-form .form_input {
    margin-bottom: 20px;
}

.footer .forn-heading {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.footer .left-form .form_input input {
    padding: 10px;
    background: #fff;
    border: 1px solid #dee2e6;
    height: 45px;
    width: 100%;
}

.footer .right-column .add-sec a {
    color: #000;
}

.footer .left-form form button {
    margin-top: 20px;
}

.footer .left-form .form_input textarea {
    display: block;
    height: 8rem;
    overflow: auto;
    padding: 10px;
    width: 100%;
    border: 1px solid #dee2e6;
}

.footer .col-flex {
    display: flex;
    flex-wrap: wrap;
}

.footer .left-form {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 30px;
}

.footer-items {
    background: #f3a762;
    padding: 80px 0;
}

.footer .right-column {
    flex: 0 0 50%;
    margin: 0 auto;
}

.footer .right-column .address-sec {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-left: 40px;
}

.footer .right-column .address-sec:last-child {
    margin-bottom: 0;
}

.footer .right-column .address-sec .icon {
    flex: 0 0 50px;
    height: 50px;
    width: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.footer .right-column .add-sec {
    padding-left: 20px;
    flex: 1;
}

.footer .footer-logo>img {
    max-width: 35px;
}

.footer .footer-menu>ul>li>a:hover {
    text-decoration: underline;
}

.footer .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer .footer-logo span {
    font-weight: 700;
    color: #ffffff;
    margin-left: 12px;
}

.footer .right-column .address-sec .icon>i {
    font-size: 22px;
}

.footer .right-column .time-schdule {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding-left: 40px;
}

.footer .right-column p.time {
    margin-bottom: 0;
    flex: 1;
}

.footer .right-column .icon-day {
    flex: 0 0 146px;
    height: 0px;
    margin-top: -3.2rem;
}

.footer .right-column .time-schdule:last-child {
    margin-bottom: 0;
}

.footer .timming-sec {
    margin-top: 30px;
    /* padding-left: 40px; */
}

.footer .footer-menu>ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer-menu>ul>li {
    margin: 0 10px;
}

.footer .footer-bottom {
    padding: 2rem 0 1rem 0;
    background: var(--websiteColor);
    border-top: 1px solid #ffffff8c;
}

.row.ftr-kdsjfakl {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.row.ftr-inr-kjk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem 0;
}

.pro-title.dncevsc08 {
    margin: unset;
}

.row.ftr-kdsjfakl p.rights {
    color: white;
}

.row.ftr-inr-kjk .social-follow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
}

.row.ftr-inr-kjk .social-icons a {
    color: white;
}

.footer .logo-text {
    margin: 20px 0 40px;
}

.footer .footer-menu>ul>li>a {
    color: #fff;
    transition: all .5s;
}

.footer .logo-text>* {
    margin-bottom: 0;
    color: #fff;
}

.service-section .service-card {
    height: 100%;
    position: relative;
    margin: 0 10px;
}

.title>* {
    color: #fff;
}

.service-section {
    margin: 0 0 80px;
}

.service-section .tile-bg {
    background: var(--websiteColor);
    padding: 40px 0 80px;
    position: relative;
    /* z-index: -1; */
    margin-bottom: -50px;
}

.service-section .title-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-section .service-text {
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
}

.service-section .service-card:hover .service-cta {
    visibility: visible;
    opacity: 1;
    margin: 0;
}

.service-section .service-text .dance-img>img {
    max-width: 70px;
    margin: 0 auto;
}

.service-section .slick-dots li button {
    height: 20px;
    width: 20px;
    background: var(--websiteColor);
    padding: 0;
    border-radius: 5px;
}

.service-section .slick-dots li button:before {
    font-size: 0;
    height: 0;
    width: 0;
}

.service-section .slick-list.draggable {
    margin: 0 -15px;
    padding-bottom: 50px;
}

.service-section li.slick-active>button {
    background: #000;
    transform: scale(1.3);
}

.service-section .service-img>img {
    height: 460px;
    object-fit: cover;
    object-position: top;
    display: block;
    border-radius: 5px;
}

.service-section .service-cta {
    text-align: center;
    visibility: hidden;
    opacity: 0;
    margin-bottom: -80px;
    transition: all .3s ease-in-out;
}

.service-section .service-text h3 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 10px 0 25px;
    transition: all .3s ease-in-out;
}

.service-section .service-card:hover .service-text h3 {
    margin: 15px 0;
}

.service-section .dance-img {
    text-align: center;
}

.service-section .service-cta {
    text-align: center;
}

.service-section .service-text:before {
    position: absolute;
    position: absolute;
    content: "";
    height: 105%;
    width: 100%;
    border-radius: 5px;
    transition: all .9s ease-in-out;
    z-index: -1;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: var(--websiteColor);
    border-radius: 5px;
    transition: all .6s ease-in-out;
    overflow: hidden;
}

.service-section .service-text:after {
    position: absolute;
    content: "";
    height: 115%;
    width: 100%;
    z-index: -1;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #ffc69291;
    border-radius: 5px;
    transition: all .6s ease-in-out;
}

.team-section .tranier-img>img {
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    /* filter: grayscale(100%); */
    object-fit: cover;
    object-position: top;
}

.team-section .tranier-profile {
    text-align: center;
}

.team-section .social-follow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-section .social-follow>div {
    margin: 0 15px 15px 0;
}

.team-section .social-follow .social-icons>a i {
    color: #fff;
}

.team-section .tranier-profile>h4 {
    margin: 15px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.team-section .tranier-profile p {
    margin-bottom: 15px;
    color: #fff;
}

.team-section .team-tranier {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-section {
    background: var(--websiteColor);
    padding: 80px 0;
}

.team-section .team-heading>* {
    color: #fff;
    text-align: center;
}

.team-section .team-heading {
    margin-bottom: 60px;
}

.team-section .tranier-img {
    position: relative;
    display: inline-flex;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    overflow: hidden;
    margin: 0 auto;
}

.team-section .tranier-img:before,
.tranier-img:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 100px 0 0 #ffffff03 inset, 0 100px 0 rgb(255 255 255 / 1%) inset, -100px 0 0 rgb(255 255 255 / 1%) inset, 0 -100px 0 rgb(255 255 255 / 1%) inset;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 300ms linear 0s;
    visibility: visible;
    z-index: 1;
}

.team-section .trainer-inr {
    flex: 1;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 10px;
}

.team-section .trainer-inr:hover .tranier-img>img {
    visibility: visible;
    transition: all 0.5s;
    /* filter: grayscale(0%); */
}

.team-section .tranier-img:after {
    transform: rotate(45deg);
}

.team-section .trainer-inr:hover .tranier-img:after,
.team-section .trainer-inr:hover .tranier-img:before {
    box-shadow: 5px 0 0 rgb(255 255 255 / 50%) inset, 0 5px 0 rgb(255 255 255 / 50%) inset, -5px 0 0 rgb(255 255 255 / 50%) inset, 0 -5px 0 rgb(255 255 255 / 50%) inset;
}

/* tabbing */
.profile-section-in .profile-name>* {
    font-size: 22px;
    margin-bottom: 5px;
}

.profile-section-in ul.tab-sec {
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
}

.profile-section-in .profile-name>*:not(:first-child) {
    padding-left: 20px;
    margin-bottom: 0px;
}

.profile-section-in .profile-img {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    cursor: pointer;
}

.profile-section-in .profile-details>h5,
.experince>h5 {
    font-weight: 700;
}

.profile-section-in.abtsc-n {
    padding-top: 4rem;
}

p.abt-k0d1 {
    font-size: 0.9rem;
    font-weight: 500;
    color: lightslategray;
    text-align: justify;
    line-height: 24px;
}

.banner-text.dance-banner-dncmv {
    margin-top: 5rem;
}

.abtus-cnt img {
    width: 21rem;
    filter: drop-shadow(73px 0px 6px rgb(0, 0, 0, 0.2));
    transition: 0.6s;
}

.pro-title.abtsc-nheadouter {
    margin: unset;
}

h2.abtsc-nhead {
    padding: unset;
    margin: unset;
}

.profile-section-in .profile-img>img {
    max-width: 120px;
    width: 120px;
    box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 30%);
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile-section-in .description {
    padding: 15px 30px 30px;
}

.video-section .vd-left video {
    height: 400px;
    object-fit: cover;
    min-height: 533px;
}

.banner-section .banner-text>:first-child {
    color: white;
}

.banner-text h1 {
    color: white;
}

.profile-section-in .image-in>img {
    height: 400px;
    object-fit: cover;
    display: block;
    object-position: top;
}

.profile-section-in .about-ex>div:first-child {
    padding-right: 15px;
}

.profile-section-in .name>img {
    max-width: 30px;
    margin-right: 10px;
    justify-content: center;
}

.profile-section-in .icons>a>img {
    max-width: 25px;
}

.profile-section-in .social-icons {
    align-items: center;
    display: flex;
    justify-content: flex-end;

}

.profile-section-in .profile-name>* {
    font-size: 22px;
}

.profile-section-in .image-in {
    position: relative;
}

.profile-section-in .about>h5 {
    font-size: 16px;
}

.profile-section-in .name>* {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
}

.profile-section-in .icons {
    display: flex;
    margin-left: 10px;
}

.profile-section-in .icons>a {
    display: inline-flex;
}

.profile-section-in .profile-name>* {
    font-size: 22px;
}

.profile-section-in .profile-name>*:not(:first-child) {
    padding-left: 20px;
    margin-bottom: 0px;
}

.profile-section-in .image-in {
    position: relative;
}

.profile-section-in .name>* {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
}

.profile-section-in .image-in:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000061;
    height: 100%;
    width: 100%;
}

.profile-section-in .name {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.profile-section-in .col-flex {
    display: flex;
    flex-wrap: wrap;
}

.profile-section-in .profile-section {
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: 30px;
}

.profile-section-in .right-img {
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 20px;
}

.profile-section-in .profile-name {
    flex: 1;
    padding-left: 20px;
}

.profile-section-in .age {
    display: flex;
    align-items: center;
}

.profile-section-in .age>* {
    margin-right: 10px;
    font-weight: 700;
    margin-bottom: 5px;
}

.pro-title {
    margin-bottom: 30px;
}

.achieve-in .dance-img>img {
    max-width: 50px;
}

.achieve-in {
    background: #fff;
    padding: 80px 0;
}

.profile-section-in {
    padding-bottom: 80px;
}

.achieve-in .dance-img {
    background: var(--websiteColor);
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 9px 4px 10px 0px rgba(0, 0, 0, 0.4);
}

.achieve-in .dance-title>* {
    font-size: 30px;
    color: black;
    text-transform: capitalize;
}

.service-section.srvsc-k0 {
    background: #b9b9b947;
    margin: unset;
    padding-bottom: 55px;
}

.achieve-in .dance-name>h3 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 15px;
    text-transform: capitalize;
    font-weight: 700;
}

.achieve-in .name>h4 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin-top: 30px;
}

.achieve-in ul.box-sec-in {
    display: flex;
    flex-wrap: wrap;
}

.achieve-in ul.box-sec-in>li {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 50px;
    cursor: pointer;
}

.achieve-in .box-sec {
    margin-top: -2rem;
    max-width: 420px;
    border: 1px solid #00000075;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 24%) 0px 3px 8px;
}

.box-sec-in li:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.achieve-in .dance-image-box>img {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    display: block;
    opacity: 1 !important;
}

.achieve-in .dance-image-box {
    text-align: center;
}

.abtus-cnt img:hover {
    transform: scale(1.03);
    filter: drop-shadow(48px 0px 6px rgb(0, 0, 0, 0.2));
    transition: 0.5s;
}

.achieve-in .dance-title {
    text-align: center;
    margin: 0 0 2rem 0;
}

.achieve-in .dance-image-box>img {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    display: block;
    opacity: 0.6;
}

.achieve-in .dance-image-box {
    text-align: center;
}

.achieve-in .dace-col-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.achieve-in .box-section {
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 60px;
}

.achieve-in .box-img {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 100px;
}

/* slider conatiner */

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}

.slider-container {
    position: relative;
    width: 100%;
}

.slider-container .item {
    outline: none;
    padding: 50px 0 0;
    position: relative;
}

.slider-container .slick-arrow {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    background: transparent !important;
    border: 1px solid #000 !important;
}

.slider-container .slick-arrow.slick-next {
    right: 10% !important;
}

.slider-container h4.title-modern {
    display: inline-block;
}

.slider-container .slides-numbers {
    color: #9fa5ac;
    display: none;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    top: -26px;
    right: 18%;
}

.slider-container .text h4 {
    text-transform: capitalize;
    letter-spacing: .08em;  
    color: #828282;
}

.slider-container .text>h2 {
    letter-spacing: .08em;
    font-size: 55px;
}

.slider-container .slides-numbers .active {
    color: var(--websiteColor);
    font-size: 30px;
    margin-right: -6px;
    font-weight: 700;
}

.slider-container .slides-numbers .total {
    margin-left: -5px;
}

.slider-container .slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    color: #000;
}

.slider-container .slick-arrow.slick-prev {
    right: unset !important;
    left: 69%;
}

.our-trainer-sec:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    bottom: 0;
    background-color: #f3f3f3;
}

.slider-container .slick-prev:before {
    content: "\f053";
    color: #000;

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.slider-container .slick-arrow {
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    background: #6caddf;
    position: absolute;
    top: -9px;
    padding: 10px;
    border-radius: 10px;
    z-index: 5;
    color: #fff;
    text-transform: lowercase;
    cursor: pointer;
}

.slider-container .slick-arrow.slick-next {
    right: 0;
}

.slider-container .slick-arrow.slick-prev {
    right: 55px;
}

.slider-container .text a {
    margin-top: 20px;
}

.slider-container .left-text {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.our-trainer-sec {
    position: relative;
    padding: 100px 0;
}

.our-trainer-sec p.pr-xxl-3 {
    color: #828282;
    font-size: 20px;
}

.our-trainer-sec .title-modern span {
    position: absolute;
    right: -1.4em;
    opacity: .3;
    top: 50%;
    transform: translate(0, -50%);
    line-height: 1;
    color: #828282;
    font-size: 74px;
    letter-spacing: 0.25em;
    z-index: 1;
}

.our-trainer-sec .title-modern {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 10%;
    padding-left: 60px;
    padding-bottom: 5px;
    line-height: 62px;
    letter-spacing: 0.10rem;

}

.our-trainer-sec .title-modern:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 180px;
    border-bottom: 2px solid #000;
}

.slider-container .text {
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 130px;
    padding-right: 60px;
}

.slider-container .media-wrap {
    flex: 0 0 50%;
    max-width: 50%;
}

.slider-container .media-wrap>img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    object-position: top;
}









/* media query */
@media(max-width:1120px) {
    .achieve-in ul.box-sec-in>li {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media(max-width:1024px) {
    .info-featured .featured-item {
        flex: 0 0 calc(100%/2 - 30px);
    }
}

@media(max-width:991px) {
    .profile-section-in .image-in>img {
        height: 350px;
    }

    .video-section .vd-right {
        height: 49vh;
    }

    .slider-container .slick-arrow.slick-next {
        right: 30% !important;
    }

    .slider-container .slick-arrow.slick-prev {
        right: unset !important;
        left: 28%;
    }

    .our-trainer-sec .title-modern span {
        z-index: 1;
        font-size: 50px;
    }

    .slider-container .text {
        padding-top: 0;
        padding-right: 0;
    }

    .slider-container .slides-numbers {
        left: 50% !important;
        transform: translateX(-50%);
    }

    .slider-container .media-wrap {
        margin-top: 40px;
    }

    .our-trainer-sec .title-modern {
        top: -60px;
        position: relative;
    }

    .slider-container .slides-numbers {
        left: 62px;
    }

    .slider-container .left-text>div {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .our-trainer-sec:before {
        width: 100%;
    }

    .our-trainer-sec {
        text-align: center;
    }

    .slider-container .left-text {

        max-width: 500px;
    }

    .achieve-in ul.box-sec-in>li {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .profile-section-in .right-img {
        max-width: 500px;
        flex: 0 0 100%;
        padding-left: 0;
        margin-top: 20px;
        margin: 0 auto;
    }

    .profile-section-in .profile-img>img {
        max-width: 250px;
        flex: 0 0 100%;
        margin: 0 auto;
        width: 100%;
    }

    .profile-section-in .profile-img>* {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .our-trainer-sec .title-modern {
        left: -29% !important;
    }

    .footer .left-form {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 30px;
        padding-left: 2rem;
    }

    .profile-section-in .profile-name {
        padding-top: 10px;
    }

    .profile-section-in .profile-section {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }

    .profile-section-in .profile-name>*:not(:first-child) {
        padding-left: 0;
    }

    .profile-section-in .age {
        justify-content: center;
    }

    .profile-section-in ul.tab-sec {
        display: flex;
        flex-wrap: wrap;
        max-height: 100%;
        overflow: unset;
        overflow-x: unset;
        margin: 0 -10px;
    }

    .profile-section-in ul.tab-sec>li {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 15px;
    }

    .footer .right-column .address-sec,
    .footer .timming-sec {
        padding-left: 20px;
    }

    .video-section .vd-left {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }

    .video-section .vd-right {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 40px;
    }

    .video-section .vd-inr {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    .video-section .vd-right-inr {
        flex: 0 0 calc(100%/3 - 30px);
        max-width: 100%;
        margin: 0 15px;
    }
}

@media(max-width:767px) {
    .our-trainer-sec {
        padding: 100px 0 40px;
    }

    .our-trainer-sec .title-modern span {
        display: none;
    }

    .profile-section-in {
        padding-bottom: 40px;
    }

    .achieve-in {
        padding: 40px 0;
    }

    .achieve-in .name>h4 {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 700;
        margin-top: 30px;
    }

    .achieve-in .box-section {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
    }

    .achieve-in .box-sec {
        max-width: 500px;
        margin: 0 auto;
    }

    .achieve-in .box-img {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 20px;
    }

    .achieve-in ul.box-sec-in>li {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .team-section {
        padding: 40px 0;
    }

    .footer .left-form {
        padding-right: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer .right-column {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }

    .footer .contact-heading {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .footer .timming-sec {
        margin-top: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .info-featured {
        padding-bottom: 40px;
    }

    .banner-section,
    .video-section {
        padding: 40px 0;
    }

    /* header style */
    body {
        overflow-x: hidden;
    }

    .header .navmain-opener {
        display: block;
    }

    .menu-items.nav-sec.active {
        right: 0;
    }

    .header .menu-items {
        position: fixed;
        top: 0px;
        right: -100%;
        z-index: 999;
        transform: translateX(0);
        width: 60%;
        display: block;
        background: #eee;
        padding: 100px 60px 50px 30px;
        overflow: auto;
        height: 100vh;
        transition: all .5s;
    }

    .navmain-opener.active:after,
    .navmain-opener.active:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 50%;
        left: 0;
        right: 0;
        background-color: var(--anchorColor);
    }

    .navmain-opener.active:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .navmain-opener.active span {
        opacity: 0;
    }

    body.overflow {
        overflow: hidden;
    }

    .header .menu-items>ul>li a {
        display: block;
    }

    .header .menu-items>ul>li {
        display: block;
        margin: 0 0 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--mainColor);
    }

    /* end header */
    .banner-section .banner-img {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .banner-section .banner-text {
        max-width: 100%;
        flex: 0 0 100%;
        padding-left: 0;
        margin-top: 60%;
        text-align: center;
    }

    /* video */
    .video-section .vd-right-inr {
        flex: 0 0 calc(100%/2 - 30px);
    }

}

@media(max-width:580px) {
    .team-section .tranier-img {
        height: 200px;
        width: 200px;

    }

    .slider-container .slick-arrow.slick-prev {
        left: 10% !important;
    }

    .slider-container .slick-arrow.slick-next {
        right: 10% !important;
    }

    .our-trainer-sec .title-modern {
        padding-left: 0;
    }

    .profile-section-in .about-ex>div {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .team-section .trainer-inr {
        flex: 0 0 100%;
        padding: 0;

    }

    .team-section .trainer-inr:last-child {
        margin-bottom: 0;
    }

    .footer .right-column .address-sec,
    .footer .timming-sec {
        padding-left: 10px;
    }

    .footer .contact-heading {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer .timming-sec {
        margin-top: 30px;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .video-section .vd-right-inr {
        flex: 0 0 calc(100%/1);
        margin: 0;
    }

    .video-section .vd-left video {
        height: 180px;
    }

    .video-section .vd-right {
        padding-right: 10px;
    }

    .video-section .vd-inr {
        margin: 0;
    }

    .info-featured .featured-item {
        max-width: 100%;
        flex: 0 0 100%;
        margin: 0 0 30px 0;
    }

    .info-featured .featured-item:last-child {
        margin-bottom: 0;
    }

    .info-featured .featured-inr {
        margin: 0;
    }
}

@media(max-width:520px) {
    .achieve-in ul.box-sec-in>li {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .profile-section-in ul.tab-sec>li {
        flex: 0 0 50%;
        max-width: 100%;
        padding: 0 10px;
    }

    .profile-section-in ul.tab-sec {
        margin: 0;
    }
}

/* cstm css */

.featured-item:hover .infbtfn {
    background: black;
}

section#section-yoga-5 p.vid-sc-txtjfkljkj {
    margin: 1rem 0;
}

@media(max-width:800px) {
    section#section-yoga-5 p.vid-sc-txtjfkljkj {
        text-align: center;
        padding-bottom: 1rem;
    }

    section#timing-sc .vd-heading {
        margin-bottom: 2rem !important;
        margin-top: 0rem !important;
    }

    .vid-section-2 .slick-slide {
        min-width: 107px;
    }

    .vid-section-2 {
        padding: 0 1rem;
    }

    .vd-left.dncpg-lfvid iframe {
        max-height: 184px;
    }

    .new-review-sectionscxdsds .card {
        min-width: 345px;
    }

    .service-section .service-card {
        min-width: 360px;
    }

    .team-section .trainer-inr {
        min-width: 360px;
    }

    .dnc-vdlsouter {
        display: flex !important;
        align-content: space-between !important;
        justify-content: space-between !important;
        align-items: flex-start !important;
        flex-direction: column !important;
    }

    .profile-section-in .right-img {
        max-width: 350px;
    }

    .dnc-our-insdfj.text-right {
        margin-top: 1rem;
        text-align: center !important;
    }

    .profile-section-in .description {
        padding-top: unset;
    }

    .scl-icndkfj {
        margin: 1.5rem 0 0.5rem 0 !important;
    }

    .scl-icndkfj {
        display: flex;
        justify-content: center;
    }

    .col-sm-6 {
        min-width: 292px;
        text-align: justify;
        margin-top: 1rem;
    }

    .service-section .tile-bg {
        margin-bottom: -1.9rem;
    }

    .modal-content.mdl-cnt-001m {
        width: 100% !important;
    }

    .footer-items {
        padding: 17px 0 60px 0;
    }

    .service-section .tile-bg {
        padding: 40px 0 40px;
    }

    .footer .left-form {
        padding-left: unset !important;
    }

    .team-section {
        padding-bottom: 0px !important;
        margin-bottom: -2rem;
    }

    .footer .right-column .address-sec,
    .footer .timming-sec {
        padding-left: unset !important;
    }

    h2.abtsc-nhead {
        padding-bottom: 15px !important;
    }

    .profile-section-in.abtsc-n {
        padding-top: 3rem;
    }

    div#dance-pj-about .banner-img {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .pro-title h2 {
        padding: 0rem 0 0rem 0;

    }

    .footer .right-column {
        margin-top: 20px;
    }

    .info-featured .img-dance>img {
        max-height: 260px;
    }

    .new-review-sectionscxdsds .upcoming-evt {
        margin-top: 3rem;
        overflow: scroll;
        width: 370px;
        padding-bottom: 1.5rem;
    }

    div#dance-event-page {
        padding-top: 1rem;
    }

    div#dance-event-page {
        margin: 1rem 0 0rem 0;
    }

    p.vid-sc-txtjfkljkj {
        padding-top: 1rem;
    }

    .pro-title.dncevsc08 {
        padding-bottom: 1rem;
    }

    .team-section .trainer-inr {
        flex: unset;
        padding: 0;
    }

    .slick-next {
        right: -10px;
    }

    .slick-prev {
        left: -12px;
    }

    div#dance-contact-pj .col-flex .left-form .forn-heading {
        margin-top: 2rem;
    }

    .heading-inr h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin: 0 0 15px 0;
        font-size: 40px;
        color: var(--headingColor);
    }

    .row.ftr-inr-kjk .social-follow {
        justify-content: center;
    }

    .banner-text.dance-banner-dncmv {
        margin-top: 60%;
    }

    .footer .left-form {
        padding-left: 1rem;
    }
}


/* about section */

.dnc-cnt-wrap1 h6.dnc-head-01 {
    font-size: 1.2rem;
}

.dnc-cnt-wrap1 h3.dnc-cl-hd {
    font-size: 4rem;
}

p.dnc-cl-txt-01 {
    font-size: 0.9rem;
    color: lightslategray;
}


.dnc01-img-oterp {
    position: relative;
    right: 1rem;
}



.dnc01-img-oterp:after {
    content: "";
    width: 217px;
    height: 276px;
    background: #efefef;
    position: absolute;
    z-index: -1;
    top: 82px;
    left: -92px;
}

.dnc-cnt-wrap1 h6.dnc-head-01:after {
    content: '';
    position: absolute;
    left: -74px;
    bottom: 0;
    width: 180px;
    border-bottom: 2px solid #000;
}

.dnc-cnt-wrap1 h3.dnc-cl-hd {
    font-size: 4rem;
    margin-top: 2rem;
}

section.dance-sc-01 {
    margin: 3rem 0 1rem 0;
}

@media(min-width:800px) {
    .row.ftr-inr-kjk {
        margin-bottom: 0.5rem;
    }

    .team-section {
        padding-bottom: 40px;
    }

    .dnc-cnt-wrap1 h3.dnc-cl-hd {
        margin-left: 2rem;
    }

    .dnc-cnt-wrap1 {
        position: relative;
        left: 1rem;
    }

    .dnc-cnt-wrap1 h6.dnc-head-01 {
        font-size: 1.2rem;
        margin-left: -4rem;
    }

    section.dance-sc-01 {
        margin: 2rem 0 2rem 0;
    }

}


/* reviews */

.quote-container {
    position: relative;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    max-width: 350px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px;
}

.bottom {
    position: absolute;
    min-height: 200px;
    bottom: 0;
    left: 0;
    line-height: 0;
    transform: rotate(180deg);
    width: 440px;
}

.bottom svg.curves {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    transform: rotateY(180deg);
}

.bottom .shape-fill {
    fill: #00b7ff;
}

.star-rating {
    color: #ff1133;
    margin: 17px 0 10px;
    font-size: 1.8em;
    text-align: center;
}

p.quote {
    margin: 15px 0;
    font-size: 1.4em;
    line-height: 1.3em;
    text-align: center;
}

.reviewer-photo {
    position: relative;
    z-index: 9;
    margin: 20px auto 10px;
    text-align: center;
}

.reviewer-photo img {
    border-radius: 50%;
    border: 6px solid #ffffff;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
}

.reviewer-details {
    position: relative;
    z-index: 9;
    text-align: center;
    color: #ffffff;
}

.reviewer-details .name {
    font-size: 20px;
    font-weight: 600;
    display: block;
    padding: 7px 0 10px 0;
}

.reviewer-details .title {
    font-size: 17px;
    font-weight: 400;
}

img.usr-imgdncd01 {
    width: 5rem;
    border-radius: 5rem;
}

.dncusrimgusr-imgd {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    align-items: center;
}

img.usr-imgdncd01 {
    position: absolute;
    z-index: 2;
    top: -4rem;
    box-shadow: 3px 3px 20px #000000de;
}

.dncusrimgusr-imgd {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 7rem;
    position: relative;
    align-items: center;
}

.str-str-0 {
    color: #f1c300;
    margin-bottom: 0.5rem;
}

.des p {
    padding: 0 0.3rem;
    font-size: 0.89rem;
    color: lightslategray;
}

.featured-item:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.featured-item {
    transition: 0.5s;
}

.dnc-cnt-wrap1 h6.dnc-head-01 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0 0 10px 0;
    font-size: 40px;
    color: var(--headingColor);
}

.our-trainer-sec .title-modern:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 180px;
    border-bottom: 2px solid #000;
}

img.review-img {
    border-radius: 50%;
    width: 45px;
}

span.pull-right {
    float: right;
}

.review-section span {
    display: inline-block;
}

.review-section {
    padding-bottom: 2rem;
}

.review-section .str-str-0 {
    margin-top: 0.5rem;
}

.review-section .col-sm-12.rwdestxt {
    font-size: 0.9rem;
    font-weight: 400;
    color: lightslategray;
    text-align: justify;
}

span.adrbtn-0 {
    float: right;
}

a.rwsc-addrwbt.btn.btn-outline-dark {
    border: 1px solid;
    text-shadow: 0 0 BLACK;
    font-size: 16px;
}

a.rwsc-addrwbt.btn.btn-outline-dark:hover {
    background: #f3a762;
    color: white;
    border: 1px solid currentColor;
}

span.rwscusrname {
    margin-left: 0.4rem;
}

span.rcntv {
    font-size: 0.8rem;
    color: lightslategray;
    margin-bottom: 0.4rem;
}

.team-section ul.slick-dots {
    display: none !important;
}

.service-section .title-btn {
    justify-content: center;
}

.service-card p.serv-price-txt.text-center {
    font-size: 45px;
    font-weight: 700;
    color: white;
}

p.serv-price-txtpndr {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

span.pull-right {
    font-size: 0.8rem;
    font-weight: 500;
    color: lightslategray;
}

.social-follow.sficn-dnc .social-icons {
    display: inline;
    margin-right: 1rem;
}

.social-follow.sficn-dnc {
    float: right;
}

a.rdmbtnjdfk {
    color: black;
    font-size: 1rem;
    font-weight: 600;
    /* margin-left: 0.5rem; */
}

.scl-icndkfj {
    margin: 1rem 0.5rem;
}

.profile-details {
    margin-bottom: 2rem;
}

.dnc-vdlsouter {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-end;
}

p.contact-us-heading-12 {
    font-size: 1rem;
    font-weight: 600;
}

.col-sm-6.ftr-txt-tor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

section#timing-sc .vd-heading {
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 4rem;
}

header.header .header-items .logo a:hover {
    text-decoration: unset;
}

div#dance-contact-pj h2,
div#dance-contact-pj p,
div#dance-contact-pj span,
div#dance-contact-pj a,
div#dance-contact-pj label,
div#dance-contact-pj h3 {
    color: white;
}

div#dance-contact-pj .address-sec i {
    color: #7a7a7a;
}

div#dance-contact-pj .timming-sec .icon-day i {
    color: white;
}

div#dance-contact-pj form#contactForm button.button--primary {
    background: white;
    color: #f3a762;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    border: 1px solid white;
}

.new-review-sectionscxdsds .upcoming-evt {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-top: 4rem;

}

.upcoming-evt.dnc-rw-sc-crd p.card-text {
    font-size: 0.9rem;
    color: lightslategray;
}

.btn-nrml {
    border-color: #f3a762 !important;
    background: transparent !important;
    color: #f3a762 !important;
}

.btn-nrml:hover {
    border-color: #f3a762 !important;
    background: #f3a762 !important;
    color: white !important;
}

.new-review-sectionscxdsds .card {
    transition: 0.5s;
    box-shadow: 1px 1px 5px 0px #0000005e;
}

.new-review-sectionscxdsds .card:hover {
    transform: scale(1.05);
}

section#timing-sc {
    margin-bottom: 4rem;
}

section#section-yoga-5 {
    background: #f3a762;
    padding: 3rem 0;
}

section#section-yoga-5 img {
    box-shadow: 3px 3px 10px #000000d4;
}