
    :root{ --websiteColor:#f3a762;}
    .education-template .hero-banner {
    padding: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    object-position: center;
    position: relative;
    background-attachment: fixed;
    }
    .education-template .hero-banner:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.6);
    }
    
    .education-template .profile-img {
    background: #fff;
    }
    .education-template .navbar-section {
    position: relative;
    padding: 25px 0;
    }
    
    .education-template .navbar-section:before {
    position: absolute;
    content: "";
    background: #f3a762;
    height: 130px;
    width: 100%;
    top:0;
    left: 0;
    }
    
    .education-template .nav-flex {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    
    }
    .education-template .star-icons {
    margin: 20px 0;
    }
    
    .education-template .star-icons>i {
    color: var(--websiteColor);
    font-size: 20px;
    }
    .education-template .icon-box {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--websiteColor);
    border-radius: 50%;
    margin-bottom: 5px;
    }
    
    .education-template .nav-flex .right-sec .icons .icon-iner>*:last-child{
    margin-bottom: 0;
    }
    .education-template .nav-flex .right-sec .icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    }
    
    .education-template .nav-flex .right-sec .icons .icon-iner {
    margin: 0px 16px 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    }
    .education-template .nav-flex .right-sec .icons .icon-iner .icon-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    }
    
    .education-template .nav-flex .right-sec .icons i {
    font-size: 18px;
    color: #fff;
    }
    .education-template .nav-flex .right-sec .nav-content>* {
    color: #fff;
    margin-bottom: 5px;
    
    }
    
    .education-template .nav-flex .right-sec .nav-content>*:first-child {
    font-weight: 700;
    }
    
    .education-template .nav-flex .right-sec .nav-content>*:last-child {
    margin-bottom: 0;
    }
    .education-template .nav-flex .right-sec {
    flex: 1;
    padding-left: 30px;
    padding-top: 40px;
    }
    .education-template .nav-flex .left-sec {
    flex: 0 0 auto;
    }
    
    .education-template .nav-flex .left-sec img {
    height: 180px;
    object-fit: contain;
    margin: 0 auto;
    width: 100%;
    display: block;
    }
    /* accordion */

    .education-template ul.fixed-tab {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 30px;
        margin-bottom: 40px;
        border-bottom: 1px solid #ddd;
    }
    
    .education-template ul.fixed-tab>li>a {
        padding: 8px;
        background: var(--websiteColor);
        font-size: 14px;
        color: #fff;
        font-weight: 500;
        border-radius: 5px;
    }
    
    .education-template ul.fixed-tab>li {
        margin: 0 10px 10px 0;
    }

    .education-template  .education-detail .accordion-col {
    display: flex;
    flex-wrap: wrap;
    }
    
    .education-template  .education-detail .accordion-col .accordion-left {
    flex: 0 0 65%;
    max-width: 65%;
    }
    
    .education-template .education-detail .accordion-col .accordion-right {
    flex: 0 0 35%;
    max-width: 35%;
    padding-left: 30px;
    }
   
    .education-template .videos {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    }
    .education-template .education-detail {
    padding: 20px 0 80px;
    }
    
    .education-template .videos .video-items {
    margin: 0 10px 20px;
    flex: 0 0 calc(100%/2 - 20px);
    }
    
    .education-template .videos .video-items iframe {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    }
    .education-template .upcoming-classes .upcoming-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    }
    .education-template .upcoming-classes .upcoming-items .right-col>*:last-child {
    margin-bottom: 0;
    }
    .education-template .education-detail .accordion-col .upcoming-classes>h6 {
    text-transform: uppercase;
    }
    .upcoming-classes .upcoming-items:hover {
    background: var(--websiteColor);
    transform: translateY(-5px);
    }
    
    .education-template .upcoming-classes .upcoming-items:hover .left-col>* {
    color: #fff;
    }
    
    .education-template .upcoming-classes .upcoming-items:hover .right-col>* {
    color: #fff;
    }
    .education-template .upcoming-classes .upcoming-items .left-col>*:last-child {
    margin-bottom: 0;
    }
    .education-template .upcoming-classes .upcoming-items .left-col>* {
    font-size: 16px;
    margin-bottom: 5px;
    }
    .education-template .upcoming-classes .upcoming-items .left-col .day {
        color:var(--websiteColor);
    font-weight: 500;
    }
    .education-template .upcoming-classes .upcoming-items:hover .left-col .day{
    color: #fff;
    }
    
    .education-template .upcoming-classes .div-scroll::-webkit-scrollbar-track{
    background-color: transparent;
    }
    
    .education-template .upcoming-classes .div-scroll::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
    }
    .education-template .upcoming-classes a.simple-cta {
    font-weight: 600;
    color: var(--websiteColor);
    }
    
    .education-template .upcoming-classes .div-scroll::-webkit-scrollbar-thumb
    {
    background-color: var(--websiteColor);
    }
    .education-template .upcoming-classes .upcoming-items .left-col .time {
    font-weight: 600;
    }
    .education-template .upcoming-classes .upcoming-items .right-col>* {
    font-size: 16px;
    margin-bottom: 5px;
    }
    /* .upcoming-classes .div-scroll {
    max-height: 265px;
    overflow: auto;
    padding: 20px 10px 0 0;
    VIRTUAL CLASSES
    IN-PERSON CLASSES
    MY UPCOMING CLASSES
    
    
    } */

    .scroll-div:not(:last-child) {
        border-bottom: 1px solid #ddd;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .education-template .online-classes-tab {
    margin-top: 20px;
}
    .education-template .education-detail ul.cta-listing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: -5px;
    }
    
    .education-template .education-detail ul.cta-listing>li {
    background: var(--websiteColor);
    padding: 8px;
    color: #fff;
    cursor: pointer;    
    font-size: 13px;
    margin: 5px 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,40%);
    }
    .education-template .upcoming-classes .upcoming-items .right-col {
    flex: 1;
    }
    
    .education-template .upcoming-classes .upcoming-items .left-col {
    flex: 1;
    }
    .education-template .referral-section {
    margin-top: 20px;
    }
    
    .education-template .referral-section .title {
    background: #eee;
    padding: 10px;
    }
    
    .education-template .referral-section .title>* {
    margin-bottom: 0;
    }
    
    .education-template .referral-des {
    border: 1px solid #eee;
    padding: 10px;
    }
    
    /* all courses */
    .education-template .subject-item a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .education-template .subject-item {
        position: relative;
    }
    .education-template .contact_info_iner .d-flex:hover {
        background: var(--websiteColor);
    }
    
    .education-template .contact_info_iner .d-flex:hover>*,.contact_info_iner .d-flex:hover>*>* {
        color: #fff;
    }
    .education-template .certi-main .certi-inr a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        bottom: 0;
    }
    
    .education-template .certi-main .certi-inr:hover {
        transform: scale(1.1);
    }
    
    .education-template .certi-main .certi-inr {
        transition: all .4s;
    }
    
    .education-template  .universities-logo-flex .logo-iner a,
     .education-template .universities-logo-flex .logo-iner a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .education-template .all-course-sec .slick-slide>div {
        margin: 0 10px;
    }
    .education-template .all-course-sec .img-subject>img {
      
        max-height: 25px;
        object-fit: contain;
    }
    .education-template .all-course-sec .subject-inr {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 12px;
        display: flex;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border: 2px solid #eef0f6;
        margin-bottom: 30px;
    }
    .education-template .all-course-sec .img-subject {
        flex: 0 0 40px;
    }
    .education-template .all-course-sec .subject-inr:hover {
        background: var(--websiteColor);
        border: 2px solid var(--websiteColor);
    }
    .education-template .all-course-sec .subject-inr:hover .img-subject>img {
        filter: brightness(0) invert(1);
    }
    .education-template .all-course-sec .subject-inr:hover .subject-name>* {
        color: #fff;
    }
    .education-template .all-course-sec .subject-name>* {
        margin-bottom: 0;
        padding-left: 20px;
        font-size: 16px;
    }
    
    .education-template .all-course-sec .subject-inr,
     .education-template .all-course-sec .subject-name>*,
     .education-template .all-course-sec .img-subject>img {
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }
    /* curriculum */
    .education-template .box-text>ul>li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 12px;
        font-size: 14px;
        color: #000;
    }
    .education-template .box-text .simple-cta:hover i {transform: translateX(5px);}
    .education-template .box-text .simple-cta {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #000;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        align-items: center;
    }
    .education-template .box-text>ul>li:before {
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00c";
        left: 0;
        top: 0;
    }
    .education-template .box-text>h5 {
        margin: 15px 0;
    }
    .education-template .curriculum-slider .img-box>img {
        height: 150px;
        width: 100%;
        border-radius: 15px;
        object-fit: cover;
    }
    .education-template .curriculum-items {
        border-radius: 8px;
        overflow: hidden;
        padding: 20px 20px 70px;
        background: #fff;
        box-shadow: 0 0 8px 0 rgba(0,0,0,20%);
        position: relative;
    }
    .scroll-div .main-title {
        font-size: 30px;
        margin-bottom: 30px;
        text-align: center;
        color: #000;
        text-transform: uppercase;
    }
    .education-template .curriculum-slider .slick-list.draggable {
        padding: 20px 0;
    }
    .education-template .box-text .simple-cta i {
        margin-top: 4px;
        margin-left: 4px;
    }
    .education-template .universities-logo-flex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    
    .education-template .universities-logo-flex .logo-iner>img {
        max-height: 70px;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }
    .education-template .universities-section .title>* {
        margin-bottom: 0;
        font-weight: 700;
    }
    .education-template .universities-logo-flex .logo-iner p {
        font-size: 15px;
        margin-top: 13px;
    }
    .education-template .universities-section .title {
        margin: 60px 0 40px;
    }
    .education-template .universities-logo-flex .logo-iner {
        flex: 0 0 calc(100%/5 - 30px);
        margin: 0 15px 20px;
        text-align: center;
        position: relative;
    }
    /* current working */
    .education-template .contact_info_sec .social-main {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    
    .education-template .contact_info_sec .social-main .social-title>* {
        margin-bottom: 0;
    }
    .education-template .contact_info_sec .social-main .social-follow .social-icon a i {
        font-size: 22px;
        color:var(--websiteColor);
    }
    
    .education-template .contact_info_sec .social-main .social-follow .social-icon a:hover {
        transform: translateY(-5px);
    }
    .education-template .contact_info_sec .social-main .social-follow {
        display: flex;
        align-items: center;
    }
    
    .education-template .contact_info_sec .social-main .social-follow .social-icon {
        margin: 0 20px 10px 0;
    }
    
    .education-template .contact_info_sec .social-main .social-title {
        margin-right: 20px;
    }
    .education-template .certi-main {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        justify-content: center;
    }
    
    .education-template .certi-main .certi-inr {
        flex: 0 0 calc(100%/6 - 30px);
        margin: 0 15px 20px;
        text-align: center;
        position: relative;
    }
    
    .education-template .certi-main .certi-inr img {
        display: block;
        height: 70px;
        object-fit: contain;
        text-align: center;
        margin: 0 auto 10px;
        box-shadow: 8px 8px 10px 0 rgba(0,0,0,40%);
        border-radius: 50%;
        overflow: hidden;
        width: 70px;
    }
    .education-template .education-date {
        position: relative;
    }
    .education-template .education-date:after {
        border-color: var(--websiteColor) !important;
    }
    .education-template .divder::before {
        border: 0;
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: #f3a762;
        z-index: 1;
        top: 0;
        left: -4px;
        border-radius: 100%;
    }
   .education-template  .divder {
        width: 2px;
        background: var(--websiteColor);
        margin: 0 20px 0px 12px;
        position: relative;
    }
    
    .education-template .container.education {
        margin-top: 60px;
    }
    .education-template .lt-col .title {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .education-template .education .lt-col span.education-company {
        margin-bottom: 40px;
        font-size: 20px;
    }
    .education-template .education .lt-col .title {
        color: #000;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .education-template span.education-company {
        font-size: 16px;
        display: block;
        margin-top: 10px;
    }
    .education-template .education-date:after {
        content: "";
        top: -6px;
        left: 100%;
        width: 0;
        height: 0;
        position: absolute;
        border-top: 18px solid transparent!important;
        border-bottom: 18px solid transparent!important;
        border-right: 15px solid transparent!important;
        border-left: 15px solid transparent;
    }
    .education-template span.education-date>span {
        background: var(--websiteColor);
        padding: 7px 35px;
        display: inline-block;
        color: #fff;
        max-height: 36px;
    }
    .education-template  .education .rt-col {
        position: relative;
        top: -15px;
        right: -10px;
        flex: 0 0 190px;
    }
    .education-template .education .timeline {
        display: flex;
    }
    .education-template .certi-main .certi-inr>*:last-child {
        margin-bottom: 0;
    }
    
    .education-template .certi-main .certi-inr>* {
        font-size: 16px;
    }
    .education-template .contact_info_iner {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    .education-template .contact_info_iner .d-flex {
        flex: 0 0 calc(100%/2 - 30px);
        margin: 0 15px 20px;
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        padding: 20px;
        position: relative;
    }
    .education-template .contact_info_iner .d-flex a{
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .education-template .contact_info_iner .d-flex i {
        color: var(--websiteColor);
        font-size: 30px;
        margin-right: 10px;
    }
    
    .education-template .contact_info_iner .d-flex span {
        font-size: 15px;
        font-weight: 500;
        color: #191919;
    }


    .education-template .curriculum-slider .slick-slide>div {
    margin: 0 10px;
}
    /* media query */
    @media(min-width:1200px){
    .education-template  .videos .video-items {
    margin: 0 10px 20px;
    flex: 0 0 calc(100%/3 - 20px);
    }
    }
    @media(max-width:1120px){
    .education-template  .education-detail .accordion-col .accordion-left {
    max-width: 100%;
    flex: 0 0 100%;
    border-top: 1px solid #ddd;
    padding-top: 40px;
    }
    .education-template  .videos .video-items {
    flex: 0 0 calc(100%/3 - 20px);
    }
    
    .education-template .education-detail .accordion-col .accordion-right {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    margin-top: 20px;
    }
    }

    @media(max-width:767px){
        .education-template ul.fixed-tab{
            display: none;
        }
        .scroll-div .main-title{
            font-size: 20px;
        }
        .education-template .hero-banner{
            padding: 100px 0;
        }
    .education-template  .education-template .hero-banner {
    padding: 80px 0;
    }
    .education-template  .videos .video-items {
    flex: 0 0 calc(100%/2 - 20px);
    }
    }
    @media(max-width:580px){
        .education-template .timeline>div {
        flex: 0 0 100%;
    }
    .education-template .divder::before{
        content: unset;
    }
    .education-template .divder {
        margin: 0;
        height: 2px;
    }
    .education-template .timeline {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .education-template .timeline .lt-col {
        margin-top: 10px;
    }
    .education-template .education .rt-col {
        left: 0;
    }
    .education .lt-col span.education-company:last-child {
        margin-bottom: 0;
    }
    .education-template .education-detail ul.cta-listing>li{
            flex: 0 0 100%;
        }

        .education-template .contact_info_iner,.education-template .universities-logo-flex{
            margin: 0;
        }
        .education-template .contact_info_iner .d-flex{
            flex: 0 0 calc(100%/1);
            margin: 0 0 20px 0;
        }
       
    .education-template .education-template .nav-flex .left-sec {
        padding: 10px;
    }
    .education-template .education-template .nav-flex .right-sec .nav-content p {
    font-size: 16px;
    }
    .education-template  .videos .video-items {
    flex: 0 0 calc(100%/1);
    margin: 0 0 20px 0;
    }
    .education-template  .videos .video-items:last-child{
    margin-bottom: 0;
    }
    
    }
    @media(max-width:520px){
    .education-template .nav-flex .left-sec {
    flex: 0 0 100%;
    max-width: 100%;
    }
    
    .education-template .nav-flex .right-sec {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-left: 0;
    padding-top: 20px;
    }
    
    .education-template .nav-flex .right-sec .nav-content>* {
    color: #000;
    }
    
    .education-template .nav-flex .right-sec .icons {
    justify-content: center;
    }
    }