body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #7a7a7a;
  font-weight: 300;
  line-height: 1.2;
  overflow-x: hidden;
}

.page-center {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;

}

:root {
  --mainColor: #f3a762;
  --headingColor: #000;
}

a {
  transition: all .4s;
}

h1 {
  font-size: 50px;
  margin: 0 0 10px 0;
  color: var(--headingColor);
}

h2 {
  font-size: 40px;
  margin: 0 0 10px 0;
  color: var(--headingColor);
}

h3 {
  font-size: 30px;
  margin: 0 0 10px 0;
  color: var(--headingColor);
}

h4 {
  font-size: 25px;
  margin: 0 0 10px 0;
  color: var(--headingColor);
}

h5 {
  font-size: 20px;
  margin: 0 0 10px 0;
  color: var(--headingColor);
}

h6 {
  font-size: 18px;
  margin: 0 0 10px 0;
  color: var(--headingColor);
}

p {
  font-size: 18px;
  margin: 0 0 10px 0;
  color: var(--headingColor);

}

header.header .container {
  max-width: 95%;
  margin: auto;
}

.divder {
  visibility: hidden;
}

.copyrights.border-top.pt-3 {
  background: #f3a762;
  overflow: hidden;
}

.certificates-section {
  position: relative;
}

.certificate-content.active .cert-mn-cnt {
  display: block !important;
}

header.header {
  position: unset !important;
  top: 0 !important;
}

footer.footer {
  border-top: unset !important;
}

.header .menu>ul>li:last-child>a {
  color: black !important;
  background: unset !important;
  padding: unset !important;
  border-radius: 5px !important;
  border: unset !important;
}

a.copyright-company-name.mr-2.ml-2.masterzone-copyright-text {
  font-size: 18px !important;
}

.cert-mn-cnt {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: white;
  width: 283px;
  box-shadow: 3px 3px 20px;
  z-index: 1;
  padding: 1rem 1rem;
  text-align: justify;
}

.copyrights.border-top.pt-3 a.copyright-company-name.mr-2.ml-2 {
  height: 32px;
}

a.btn.btn-outline-dark.adrbntt1 {
  background: #f3a762;
  color: white;
}

h2.prflsc-heading {
  font-size: 40px;
}

.cert-hdr-outer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bd-example-modal-lg2 p.mdl3txt.pl-4.pr-4.text-justify {
  font-size: 16px;
  color: lightslategray;
}

@media(max-width:800px) {
  .profile-section .image-pro {
    margin-bottom: 2rem;
  }

  .profile-section .image-pro .des p {
    margin-bottom: 1rem;
  }

  .col-12.col-sm-6.col-lg.mb-4.footer-about-content {
    padding-left: unset;
  }

  .modal-content.modal-content-outer_d {
    width: 96% !important;
  }

  .profile-section .profile-deatils .des .located {
    margin-top: 2rem;
  }
}

.profile-deatils .des h2 {
  font-size: 29px;
}

@media(min-width:800px) {
  a.copyright-company-name.mr-2.ml-2.masterzone-copyright-text {
    margin-top: 2px;
  }

  header.header {
    padding: 5px !important;
  }

  .adr-tp-outer.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

footer#footer h5.widget-title {
  color: white;
}

footer#footer a.copyright-company-name.mr-2.ml-2.masterzone-copyright-text {
  color: white;
  font-weight: bold;
}

@media(max-width:767px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 180x;
  }

  h6 {
    font-size: 16px;
  }

}

.profile-section .column-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-section .des>*:first-child {
  font-weight: 600;
  line-height: 1;
}

.profile-section .left-col-inr {
  padding: 30px;
  background: var(--mainColor);
  text-align: center;
  box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, .2);
}

p.id-text {
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.user-details-outer {
  display: flex;
  align-items: center;
}

.id-text>* {
  margin-bottom: 0;
  font-weight: 600;
}

.user-details-outer a {
  margin-left: 20px;
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 50%);
  padding: 7px 40px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid var(--mainColor);
  color: #fff;
  font-weight: 700;
  background-color: var(--mainColor);
}

p.id-text span {
  padding-left: 8px;
}

.profile-section .right-col {
  width: 100%;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 20%);
  padding: 40px 0 60px;
  margin: 0 0 0 auto;
  transition: all .3s;

}

.profile-section .right-col-inr {
  padding: 0 60px;
}

.schedule-inr {
  text-align: center;
  margin-top: 50px;
}

.schedule-inr a.schedule {
  text-decoration: none;
  padding: 10px 30px;
  background: var(--mainColor);
  color: #fff;
  border-radius: 30px;
  display: inline-block;
  margin-top: 10px;
  transition: all .4s;
}

.schedule-inr a.schedule:hover {
  box-shadow: -1px 2px 4px rgba(0, 0, 0, .25)
}

.profile-section .img-profile>img {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.profile-section .profile-name {
  margin: 30px 0;
}

.profile-section .profile-name>* {
  color: #fff;
}

.profile-section .social-follow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-section .social-icon {
  margin: 0 30px 20px 0;
}

.profile-section .profile-section {
  padding: 100px 0;
}

.profile-section .social-icon>a i {
  color: #fff;
  font-size: 20px;
}

.des p {
  font-style: normal;
  line-height: 1.75em;
}

.profile-section .social-icon:last-child {
  margin-right: 0;
}

.profile-section .profile-name p {
  margin-top: 20px;
}

.profile-section {
  padding: 100px 0;
}

.profile-section .profile-deatils {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

h2.resume-title {
  padding-bottom: 30px;
  border-top: 1px solid #e1e1e1;
  margin-top: 30px;
  padding-top: 30px;
}

.profile-section .image-pro {
  flex: 0 0 200px;
}

.profile-section .des>*:last-child {
  margin-bottom: 0;
}

.profile-section .des {
  flex: 1;
  padding-left: 30px;
}

.profile-section .image-pro>img {
  height: 180px;
  width: 180px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 4px 4px 19px 0px;
}

.timeline {
  display: flex;
}

.resume .skills-col-inr {
  padding-left: 50px;
}


h5.item-period {
  font-size: 18px;
}

.resume {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 35px;
}

.divder {
  width: 2px;
  background: var(--mainColor);
  margin: 0 20px 0px 12px;
  position: relative;
}

.resume-right-col {
  flex: 0 0 22%;
}

/* certificate section */
.certificate-content>img {
  max-width: 60px;
  box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 50%);
  border-radius: 50%;
  margin: 0 auto;
}

.heading-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.heading-title>h2 {
  font-size: 25px;
}

.heading-title>* {
  flex: 0 0 auto;
}

.heading-title a {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: var(--mainColor);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.certificate-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-height: 165px;
  overflow: auto;
  padding-right: 15px;
}

.certificates-section .certificate-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  transition: all .4s;
}

.certificates-section .certificate-content p {
  margin-bottom: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.skills-current {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  padding: 60px 0;
  border-top: 1px solid #e1e1e1;
}

.certificates-section>h2 {
  margin-bottom: 30px;
  font-size: 25px;
}

/* personal information */
.progress-title {
  font-size: 16px;
  line-height: 1.2em;
  display: block;
  margin-bottom: 10px;
  color: #000;
}

.personal-information-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
}

.progress-bullets {
  margin-bottom: 20px;
}

.progress-bullets .progress-bar {
  position: relative;
  line-height: .938em;
}

.progress-bullets .bullet.fill {
  width: 0.938em;
  height: 0.938em;
  border-radius: 50%;
  border: 1px solid var(--mainColor);
  display: inline-block;
  background-color: var(--mainColor);
}

.progress-bullets .bullet {
  width: 0.938em;
  height: 0.938em;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid var(--mainColor);
}

.personal-left>h2,
.right-left>h2 {
  font-weight: 600;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.personal-information-content .title>h6 {
  font-size: 16px;
}

.personal-information-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.skill-title {
  margin-bottom: 30px;
}

span.item-company {
  font-size: 15px;
}

.resume-left-col p {
  line-height: 1.75em;
  color: #555;
}

.resume-left-col .title {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.skill-title>h2 {
  font-size: 25px;
}

.divder:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  top: 4px;
  left: -8px;
  border: 4px solid #f3a762;
  border-radius: 100%;
}


.reference-section {
  margin-top: 30px;
  border-top: 1px solid #e1e1e1;
  padding-top: 30px;
}

.reference-section .reference-img>img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
  height: 54px;
  width: 54px;
}

.reference-section .image-text {
  display: flex;
  flex-wrap: wrap;
}

.reference-section .slick-dots {
  bottom: -40px;
}

.reference-section .slick-dots li button {
  background: transparent;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  border: 1px solid var(--mainColor);
}

.reference-section .slick-dots li.slick-active button {
  background: var(--mainColor);

}

.reference-section .slick-dots li button:before {
  height: 0;
  font-size: 0;
  width: 0;
  line-height: 1;
}

.reference-section .slick-dots li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.reference-section.reference-img {
  flex: 0 0 54px;
}

.reference-section .description {
  flex: 1;
  padding-left: 40px;
}

.reference-section .description-content-wrap {
  margin-top: 30px;
}

.sponsor-logo-img>img {
  max-width: 130px;
  margin: 0 auto;
  display: block;
}

.reference-section>h2 {
  margin-bottom: 30px;
}

h2.exp-title {
  margin-bottom: 30px;
  font-size: 25px;
}

.education-col .resume-left-col {
  flex: 1;
}

.skill-title.coding {
  margin-top: 50px;
}

.elementor-widget-container ul.knowledges {
  margin: 0;
  padding: 0;
  list-style: none;
}

.elementor-widget-container ul.knowledges>li {
  display: inline-block;
  background: var(--mainColor);
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px;
  line-height: 1.2;
  margin: 3px 2px;
  font-size: 13px;
}

.education-date:after {
  content: "";
  top: -7px;
  left: 100%;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 18px solid transparent !important;
  border-bottom: 18px solid transparent !important;
  border-right: 15px solid transparent !important;
  border-left: 15px solid transparent;
}

.education-date {
  position: relative;

}

span.education-date>span {
  background: var(--mainColor);
  padding: 7px 35px;
  display: inline-block;
  color: #fff;
}

.education-date:after {
  border-color: var(--mainColor);
  ;
}

.education .resume-left-col .title {
  margin-bottom: 30px;
}

.education .resume-left-col span.education-company {
  margin-bottom: 40px;
  font-size: 20px;
}

.user-details-txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-details-txt>div {
  flex: 0 0 auto;
}

.located {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.location {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.img-inr>video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.location>* {
  margin: 0 0 10px 20px;
}

.located>h5 {
  margin-bottom: 0;
  margin-top: 3px;
}

ul.tabs-main {
  padding: 0;
  list-style: none;
  margin: 0;
}

.img-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.img-main .img-inr>img {
  height: 280px;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

li.tab-open {
  color: var(--mainColor);
  font-weight: 600;
}

ul.tabs-main>li {
  display: inline-block;
  margin: 20px 20px 20px 0;
  cursor: pointer;
}

.slick-initialized .slick-slide {
  margin: 0 10px;
}

.box-main ul.slick-dots {
  bottom: -70px;
  z-index: 2;
}

.box-main .slick-dots li button:before {
  font-size: 0;
  line-height: 0;
  width: 0;
}

.box-main .slick-dots li button {
  height: 15px;
  width: 15px;
  background: var(--headingColor);
  border-radius: 5px;
}

.box-main li.slick-active>button {
  background: var(--mainColor);
  transform: scale(1.1);
}

/* scroll bar */
.profile-section .left-col::-webkit-scrollbar,
.appointment .left-col-main::-webkit-scrollbar,
.profile-section .right-col-inr::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  opacity: 0;
  transition: all .4s;
  border-radius: 10px;
  margin-right: 10px;
}

.certificate-main::-webkit-scrollbar {
  background-color: #f5f5f5;
  width: 8px;
  transition: all .4s;
  border-radius: 10px;
  margin-right: 10px;
}

.certificate-main::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 10px;
}

.appointment .left-col-main:hover::-webkit-scrollbar,
.profile-section .left-col:hover::-webkit-scrollbar,
.profile-section .right-col-inr:hover::-webkit-scrollbar {
  opacity: 1;
  background-color: #e1e1e1;
}

.profile-section .left-col:hover::-webkit-scrollbar-thumb,
.appointment .left-col-main:hover::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

.profile-section .right-col-inr:hover::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 10px;
}

/* top var */
.upcoming-events {
  border-top: 1px solid #eee;
  padding-top: 50px;
  margin-top: 50px;
  padding-bottom: 50px;
}

.upcoming-events .title-up {
  margin-bottom: 50px;
}

.top-bar .profile-img img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.top-icon img {
  width: 40px;
  height: 45px;
  display: block;
  object-fit: contain;
}

.profile-img,
.top-icon {
  position: relative;
  transition: all .4s;
}

/* .top-bar {
max-width: 750px;
margin: 0 auto;
} */
ul.tabs>li>a {
  text-decoration: none;
  color: #000;
  border: 1px solid #e1e1e1;
  padding: 5px 20px;
  font-size: 14px;
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 50%);
  border-bottom-right-radius: 200px;
  border-top-left-radius: 200px;
  transition: all .4s;
  z-index: 99999;
  position: relative;
  background-color: #fff;
}

ul.tabs>li>a:hover {
  background: var(--mainColor);
  border: 1px solid transparent;
  color: #fff;
}

.cta-inr a.download-cta {
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 50%);
  border-bottom-left-radius: 200px;
  border-top-right-radius: 200px;
  border: 1px solid #fff;
  padding: 10px 60px;
  text-decoration: none;
  color: #ffff;
  display: inline-block;
  font-size: 16px;
}

.str-str>i {
  color: var(--mainColor);
}


.cta-inr {
  margin-top: 60px;
}

a.download-cta:hover {
  transform: translateY(-4px);
}

/* related product */
.related-product {
  padding: 80px 0;
}

.related-product .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.related-product ul {
  padding: 0;
  margin: 0;
}

.related-product ul li {
  margin-bottom: 30px;
  list-style-type: none;
}

.related-product ul li h3 {
  font-weight: 700;
  font-size: 24px;
  padding: 20px 0;
}

.related-product ul li a {
  font-weight: 600;
  color: #3b484a;
  text-align: center;
}

.related-product ul li a img {
  max-width: 100%;
  display: block;
}

.related-box {
  max-width: 400px;
  margin: 0 auto;
}

.download-btn {
  padding: 15px;
  display: inline-flex;
  align-items: center;
}

.download-btn .fa {
  font-size: 40px;
  margin-right: 10px;
}

/* appoinment page */
.appointment .column-sec {
  display: flex;
  flex-wrap: wrap;
}

.appointment .left-col-main {
  flex: 0 0 25%;
  max-width: 25%;
}

.appointment .left-col-main {
  position: sticky;
  top: 0;
  height: 90vh;
  overflow: auto;
}

.appointment .calendar_sec {
  flex: 0 0 75%;
  max-width: 75%;
}

.profile-section.appointment body .fc {
  padding-left: 72px;
}

.appointment div#calendar {
  padding-left: 30px;
}

@media(max-width:1150px) {

  .profile-section .column-section {
    margin-top: 100px;
  }

  .profile-section .left-col {
    flex: 0 0 100%;
    max-width: 50%;
    margin: 0 auto 50px;
    width: 100%;
    height: auto;
    overflow: unset;
  }

  .profile-section .right-col {
    max-width: 100%;
    flex: 0 0 100%;
    width: 100%;
  }

}

@media(max-width:1025px) {
  .skills-current {
    grid-template-columns: repeat(1, 1fr);
  }

  .appointment div#calendar {
    padding-left: 0;
  }

  .appointment .calendar_sec {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .appointment .left-col-main {
    flex: 0 0 100%;
    max-width: 50%;
    margin: 0 auto 50px;
    height: auto;
    overflow: unset;
    position: relative;
  }

  .certificate-main {
    grid-template-columns: repeat(3, 1fr);

  }

}

@media(max-width:991px) {

  .profile-section {
    padding: 50px 0;
  }

}

@media(max-width:767px) {
  .profile-section .left-col>div {
    max-width: 400px;
  }

  .resume {
    grid-template-columns: repeat(1, 1fr);

  }

  .right-left-inr {
    display: flex;
    flex-wrap: wrap;
  }

  .right-left-inr>div {
    flex: 0 0 auto;
    margin: 10px;
  }

  .profile-section .column-section {
    margin-top: 0;
  }

  .certificates-section>h2 {
    margin-bottom: 30px;
  }

  .skill-title.coding {
    margin-top: 30px;
  }

  h2.resume-title {
    text-align: center;

  }

  .personal-information-wrap {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .profile-section .image-pro>img,
  .profile-section .img-profile>img {
    height: 150px;
    width: 150px;
  }

  .reference-section {
    margin-top: 30px;
  }

  .reference-section .image-text {
    margin-top: 30px;
    padding-bottom: 30px;
  }

  .resume .skills-col-inr {
    padding-left: 0;
    margin-top: 30px;
  }

  .profile-section .profile-deatils>div {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-left: 0;
  }


  .resume .skills-col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .profile-section .profile-deatils {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .profile-section .left-col {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media(max-width:580px) {

  .img-main {
    grid-template-columns: repeat(1, 1fr);
  }

  .certificate-main {
    grid-template-columns: repeat(2, 1fr);
  }

  .profile-section .right-col-inr {
    padding: 0 20px;
  }

  .reference-section .image-text>div {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .reference-section .reference-img>img {
    margin: 0 auto 30px;
  }

  .contact-left {
    grid-template-columns: repeat(1, 1fr);
  }

  .timeline {
    flex-wrap: wrap;
  }

  .timeline>div {
    flex: 0 0 100%;
  }

  .divder {
    height: 2px;
    margin: 10px 0;
  }

  .divder:before {
    content: none;
  }
}

@media(max-width:420px) {
  .certificate-main {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .location>* {
    margin: 0 0 0px 5px;
  }
}

@media(max-width:380px) {
  .certificate-main {
    grid-template-columns: repeat(1, 1fr);
  }
}