:root {
    --border-color: #e5e5dd;
    --websitesColor: #f3a762;
}

.review-pro-col {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}

.review-details>h4 {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
}

.star-section span {
    font-weight: 700;
    color: #000;
    font-style: italic;
}

.verified>img {
    height: 16px;
    object-fit: contain;
    padding-right: 2px;
}

.website-iner>* {
    flex: 0 0 100%;
}

.nav-header {
    background: #ffc189;
    padding: 10px 0;
}

.nav-header .nav-logo img {
    max-width: 34px;
}

.nav-header .nav-logo {
    display: flex;
    align-items: center;
}

.nav-header .nav-logo span {
    color: #fff;
    margin-left: 10px;
    font-weight: 700;
}

.review-profile .verified {
    background: #ffc189;
    display: inline-flex;
    align-items: center;
    padding: 4px;
    border-radius: 3px;
}

.review-profile .verified>span {
    color: #fff;
    font-weight: 700;
}

.review-profile .review-col-lt {
    flex: 0 0 50%;
    max-width: 50%;
}

.review-profile .review-details-iner {
    display: flex;
    align-items: center;
}

.review-profile .profile-review>img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.review-profile .profile-review {
    flex: 0 0 150px;
    padding-right: 30px;
}

.review-profile .review-col-rt {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
}

.review-col-flex .reviews-box {
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-top: 30px;
}

.review-profile .website-iner:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f061";
    position: absolute;
    right: 30px;
    transition: all .3s;
}

.review-profile .website-iner:hover:before {
    transform: translateX(10px);
}

.review-profile .website-iner>a {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.review-profile .website-iner {
    position: relative;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    transition: all .3s;
}

.review-profile .verified>svg {
    fill: var(--websitesColor);
    height: 15px;
}

.review-profile .verified span {
    font-size: 12px;
    font-weight: 700;
}

.review-profile .website-iner>*:last-child {
    font-size: 15px;
}

.review-profile .review-details .star-section i {
    font-size: 30px;
    color: var(--websitesColor);
}

.review-profile .website-iner:hover {
    background: var(--websitesColor);
}

.review-profile .website-iner:hover>*,
.review-profile .website-iner:hover:before {
    color: #fff;
}

.reviews-div .review-col-flex .review-fl-lt .review--lt-inr .review-title {
    display: flex;
}

.review-col-flex .reviews-box .styles_header .review-title {
    display: flex;
    align-items: center;
}

.review-col-flex .reviews-box .styles_header .review-title .star {
    font-size: 25px;
    color: var(--websitesColor);
    margin: 0 5px 0 10px;
}

.review-col-flex .reviews-box .styles_header .review-title>* {
    margin-bottom: 0;
    font-size: 30px;
}

.review-profile {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 30px;
    padding: 50px 0;
}

.review-profile .review-details .star-section {
    margin: 5px 0;
}

.reviews-div .review-col-flex {
    display: flex;
    flex-wrap: wrap;
}

.reviews-div .review-col-flex .review-fl-lt {
    flex: 0 0 60%;
    max-width: 60%;
    padding-right: 60px;
}

.reviews-div .review-col-flex .review-fl-rt {
    flex: 0 0 40%;
    max-width: 40%;
}

.reviews-div .review-col-flex .review-fl-lt .review--lt-inr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border: 1px solid var(--border-color);
    padding: 25px;
    border-radius: 15px;
}

.reviews-div .review-col-flex .review-fl-lt .review--lt-inr .user-img {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.review-fl-lt .review-stars>i {
    font-size: 28px;
    color: var(--websitesColor);
}

.reviews-div .review-col-flex .review-fl-lt .review--lt-inr .user-img img {
    margin-right: 25px;
    height: 55px;
    width: 55px;
    object-fit: cover;
}

.reviews-div {
    padding-bottom: 100px;
}

.reviews-div .review-col-flex .review-fl-lt .review--lt-inr .user-img p {
    font-weight: 700;
    font-size: 16px;
}

.reviews-div .review-col-flex .review-fl-rt .sidebar-section {
    border: 1px solid var(--border-color);
    padding: 24px 24px 8px;
    border-radius: 15px;
    position: relative;
    max-width: 450px;
}

.reviews-div .review-col-flex .review-fl-rt .sidebar-section .title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}

.reviews-div .review-col-flex .review-fl-rt .sidebar-section .text-heading .text-title {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid var(--border-color);
    position: relative;
}

.reviews-div .review-col-flex .review-fl-rt .sidebar-section .text-heading .text-title:last-child {
    border-bottom: 0;
}

.reviews-div .review-col-flex .review-fl-rt .sidebar-section .title>* {
    font-size: 15px;
}

.hover-text:before {
    position: absolute;
    top: 100%;
    width: 8px;
    height: 8px;
    background-color: #fff;
    transform: rotate(45deg);
    content: "";
    top: 50%;
    right: -4px;
    transform: translateY(-50%) rotate(45deg);
}

.reviews-div .review-col-flex .review-fl-rt .sidebar-section .text-heading .hover-text>* {
    font-size: 12px;
}

.reviews-div .review-col-flex .review-fl-rt .sidebar-section .text-heading .text-title .svg-icon {
    margin-right: 10px;
    display: flex;
}

.reviews-div .review-col-flex .review-fl-rt .sidebar-section .text-heading .hover-text {
    position: absolute;
    padding: 15px;
    border-radius: 15px;
    left: -100%;
    width: 400px;
    top: -74%;
    background: #fff;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: all;
    filter: drop-shadow(0 0 8px #0000004d);
}

.reviews-div .review-col-flex .review-fl-rt .sidebar-section .text-heading .text-title:hover .hover-text {
    opacity: 1;
    visibility: visible;
}

.reviews-div .review-col-flex .review-fl-rt .sidebar-section .text-heading .text-title>* {
    font-size: 15px;
}

@media(max-width:800px) {
    .review-profile .review-details-iner {
        flex-direction: column;
        align-items: center;
        gap: 1rem 0;
    }

    .review-pro-col {
        flex-direction: column;
    }

    .reviews-div .review-col-flex {
        flex-direction: column;
        gap: 2rem 0;
    }

    .review-fl-lt {
        width: 100%;
        min-width: 100%;
    }

    .review-fl-rt {
        width: 100% !important;
        min-width: 100%;
    }

    .reviews-div .review-col-flex .review-fl-lt {
        padding-right: unset;
    }

    .review-profile .review-col-rt {
        min-width: 100%;
    }

    .review-col-lt {
        min-width: 100%;
        margin-bottom: 1rem;
    }

    .review-details {
        min-width: 100%;
    }

    .review-profile .review-col-rt {
        display: block;
    }

    .profile-review {
        width: 100%;
    }

}