:root{
--mainColor:#f3a762;
}
body {
    overflow-x: hidden;
}
.overflow {
    overflow: hidden;
}

.nav-header {
    background: var(--mainColor);
    padding: 20px;
}
.ad-vd-sidebar a{
    color: #fff !important;
}
.video-mange {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px 0 40px;
    grid-gap: 20px;
}
.video-mange .manage-vd {
    position: relative;
}

.video-mange .sidebar-open .sidebar {
    right: 0;
}
.video-mange .manage-vd .textarea-inr textarea {
    height: 100px;
    width: 100%;
    border: 1px solid #dee2e6;
    outline: 0;
    padding: 10px;
}
.video-mange .manage-vd .sidebar p {
    padding: 0;
    font-size: 16px;
    color: #000;
}
.video-mange .manage-vd .sidebar a {
    background: var(--mainColor);
    display: block;
    padding: 15px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 5px;
}
a, i {
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    text-decoration: none;
    display: inline-block;
}
.video-mange .manage-vd .textarea-inr>h6 {
    font-size: 16px;
}
.video-mange .manage-vd .btn-iner>a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}
.video-mange .manage-vd .textarea-inr {
    margin-top: 20px;
}
.video-mange .manage-vd .cross-icon {
    top: 15px;
    right: 30px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}
.video-mange .sidebar{
    position: fixed;
    top: 0;
    right: -100%;
    background: #fff;
    width: 100%;
    z-index: 99;
    padding: 60px 30px;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    height: 100vh;
    overflow: auto;
    max-width: 450px;
}
.open-edit .sidebar{
    right: 0;
}
.video-mange .manage-vd .cross-icon>* {
    font-size: 25px;
}
.video-mange .open-pannel .ad-vd-sidebar {
    right: 0;
    box-shadow: 1px 2px 6px 4px #ddd !important;
}
.video-mange .ad-vd-sidebar{
    position: fixed;
    top: 0;
    right: -100%;
    background: #fff;
    width: 100%;
    z-index: 99;
    padding: 60px 30px;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    height: 100vh;
    overflow: auto;
    max-width: 450px;
}
.ad-vd-sidebar p {
    padding: 0;
    font-size: 16px;
    color: #000;
}
.ad-vd-sidebar .textarea-inr {
    margin-top: 20px;
}
.ad-vd-sidebar .textarea-inr>h6 {
    font-size: 16px;
}
.ad-vd-sidebar .btn-iner>a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}
.ad-vd-sidebar .cross-icon {
    top: 15px;
    right: 30px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}
.ad-vd-sidebar .textarea-inr textarea {
    height: 100px;
    width: 100%;
    border: 1px solid #dee2e6;
    outline: 0;
    padding: 10px;
}
.ad-vd-sidebar .cross-icon>i {
    color: #000;
    font-size: 25px;
}
.ad-vd-sidebar a {
    background: var(--mainColor);
    display: block;
    padding: 15px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 5px;
}


.video-mange .video-add-sec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-mange .add-vdieo {
    border: 1px solid #252525;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.video-mange .add-vdieo>* {
    font-size: 25px;
    color: #000;
}

.video-mange .manage-vd .edit-icon {
    position: absolute;
    bottom: 15px;
    z-index: 1;
    background: var(--mainColor);
    right: 70px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
}

.video-mange .manage-vd .edit-icon>* {
    color: #fff;
}

.video-mange .manage-vd .delete-icon {
    position: absolute;
    bottom: 15px;
    z-index: 1;
    background: var(--mainColor);
    right: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
}
.video-mange h6.title {
    padding: 10px;
    background: var(--mainColor);
    color: #fff;
}
.video-mange .manage-vd .delete-icon>* {
    color: #fff;
}
.video-in-text .manage-vd>iframe {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    border: 0;
}
.nav-header .nav-text {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.vd-title-in .video-heading {
    color: #fff;
    font-weight: 600;
}
.nav-header .nav-inr>div {
    margin-bottom: 10px;
}
.video-in-text .manage-vd.show-icon .edit-icon,.video-in-text .manage-vd.show-icon .delete-icon{
opacity: 1;
visibility: visible;
}
.video-in-text .manage-vd .edit-icon,.video-in-text .manage-vd .delete-icon{
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    }
    
.vd-title-in {
    background: var(--mainColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
}

.vd-title-in .vd-edit-in {
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
.nav-header .nav-text {
    flex: 0 0 150px;
}

.nav-header .cta {
    flex: 0 0 auto;
}
.nav-header .cta>button {
    padding: 8px 40px;
    background: #fff;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}
.nav-header .nav-inr {
    display: flex;
    flex-wrap: wrap;
}
.nav-header .search-main {
    display: flex;
    margin: 0 15px;
    flex: 1;
}

.video-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    padding-right: 20px;
}
.video-section .video-iner {
    flex: 0 0 70%;
    max-width: 70%;
    padding-right: 20px;
}
.video-section .video-right {
    flex: 0 0 30%;
    max-width: 30%;
    max-height: 530px;
    overflow: auto;
}
.video-right .video-text {
    display: flex;
}
.nav-header .nav-inr>.search-main>input {
    border: 0;
    margin: 0 12px;
    padding: 10px;
    outline: 0;
}
.left-inr {
    padding: 20px;
}
ul.tab-inr>li {
    margin-bottom: 15px;
    color: #000;
    cursor: pointer;
}
.video-tab .text-vd {
    padding-left: 15px;
}
input.file_input_with_replacement {display: none;}
input.file_input_replacement {
  background: #e2e2e2;
  padding: 10px;
  border: none;
}
button.file_input_replacement {background: #252525; 
    color: #fff; padding: 7px 10px;
     border-radius: 20px; border: none; }

ul.tab-inr {
    margin-top: 25px;
}
ul.tab-inr>li>a>* {
   color:#000;
}
.video-youtb>iframe {
    height: 150px;
    width: 240px;
    object-fit: cover;
    display: block;
    border: 0;
}
.more-videos .video-flex {
    display: flex;
    flex-wrap: wrap;
}

.more-videos .video-flex .video-items {
    flex: 0 0 auto;
    padding: 15px;
}
.more-videos {
    margin: 30px 0;
}
::-webkit-scrollbar {
    width: 10px;
  }
   
  ::-webkit-scrollbar-track {
   background-color: #f5f5f5;
  }
   
  ::-webkit-scrollbar-thumb {
    background-color:var(--mainColor);
  }
.video-items .vd-profile-sec .vd-des>* {
    margin-bottom: 0;
    font-size: 15px;
}
.video-tab .text-vd>*{
    font-size: 15px;
    margin-bottom: 5px;
}
.video-items .vd-profile-sec {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.video-items .vd-profile-sec .vd-img>img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.video-items .vd-profile-sec .vd-des {
    padding-left: 20px;
}
.video-profile-sec .img-main>img {
    display: block;
    height: 50px;
    width: 50px;
    object-fit: contain;
    object-position: center;
}

.video-profile-sec {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.video-profile-sec .profile-name {
    font-weight: 600;
    padding-left: 18px;
}
.video-tab .video-text {
    flex: 0 0 auto;
    padding-right: 20px;
    margin-bottom: 0;
}
.video-tab .video-text>iframe {
    width: 50%;
    height: 100px;
    object-fit: cover;
    display: block;
    border: 0;
}

.video-left .text-vd>* {
    margin:10px 10px 10px 0;
}
.video-left .text-vd {
    display: flex;
    align-items: center;
    font-weight: 700;
}
ul.video-tab>li {
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    cursor: pointer;
}
.video-left .video-text iframe {
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: block;
    border: 0;
}
@media(max-width:1200px){
    .video-section{
        padding-right: 0;
    }
  .video-section  .video-iner {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }
   .video-section .video-right {
        flex: 0 0 100%;
        max-width: 100%;
        max-height: 530px;
        overflow: auto;
    }
}
@media(max-width:1120){
    .video-mange {
        grid-template-columns: repeat(2,1fr);
    
    }
}
@media(max-width:991px){
    .video-youtb>iframe {
        height: 130px;
        width: 210px;
    }
}
@media(max-width:800px){
    .video-youtb>iframe {
        height: 200px;
        width: 100%;
    }
    .more-videos .video-flex .video-items {
        flex: 0 0 100%;
        padding:0 ;
        margin-bottom: 20px;
    }
    .video-mange {
        grid-template-columns: repeat(1,1fr);
    
    }
}
@media(max-width:575px){

    .nav-header .nav-inr>div{
        flex: 0 0 100%;
        margin:0 0 10px 0
    }
    .nav-header .search-main{
        flex-wrap: wrap;
    }
    .nav-header .nav-inr>.search-main>input{
        margin-bottom: 20px;
    }
}