<script>
    var UserToken_Global = "";
    var EmailIdGlobal = "";
    $(document).ready(function () {
        //$.get("/Business/GetBusinessAdminToken", null, function (dataToken) {
        //    if (dataToken != "" && dataToken != null) {
        //        UserToken_Global = dataToken;

        //        StopLoading();
        //    }
        //    else {
        //        $.get("/Business/GetStaffToken", null, function (dataToken) {
        //            if (dataToken != "" && dataToken != null) {
        //                UserToken_Global = dataToken;

        //            }
        //            else {
        //                StopLoading();
        //            }
        //        });
        //    }
        //});
    });


    function showEmailSentSeciton() {
        $('#sectionForm').addClass('d-none');
        $('#sectionEmailSent').removeClass('d-none');
    }

    function ResetAddView() {
        $("#txtEmail").val('');

    }

    function ResetAddView() {
        $("#txtEmail").val('');

    }
    function btnSubmitForgotPasswordClick() {
        
        let is_valid = true;
        $(".error-class").html('');

        let _email = $("#txtEmail").val().trim();
        let _error_email = $("#error_txtEmail");

        var TestEmail = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

        if (validate_IsEmptyStringInputFieldValue(_email)) {
        is_valid = false;
        _error_email.html('@(Resources.BusinessPanel.EmailRequired)');
    }
    else if (!TestEmail.test(_email)) {
        is_valid = false;
        _error_email.html('@(Resources.BusinessPanel.ValidEmailRequired)');
    }

       

        if (is_valid) {
            var data = {
                Email: _email,
                RoleId: 4
            };
            $('#btnSubmit').prop('disabled', true);

            $.ajax({
                url: '/api/Login/ForgotPassword',
                headers: {
                    //"Authorization": "Bearer " + UserToken_Global,
                    "Content-Type": "application/json"
                },
                data: JSON.stringify(data),
                contentType: 'application/json',
                type: "POST",
                success: function (dataResponse) {
                    //--If successfully added/updated
                    if (dataResponse.status === 1) {
                        swal("Success!", dataResponse.message, "success");
                        var resetLink = `<a href="${dataResponse.data.ResetPasswordLink}">Reset Password</a>`;
                        $('#resetPasswordLink').html(resetLink);
                        showEmailSentSeciton();
                    }
                    else {
                        swal({
                            title: 'Error!',
                            icon: 'error',
                            text: dataResponse.message
                        });
                        $('#btnSubmit').prop('disabled', false);

                        StopLoading();

                        return;
                    }

                    ResetAddView();
                    StopLoading();

                },
                error: function (result) {
                    $('#btnSubmit').prop('disabled', false);
                    StopLoading();

                    if (result["status"] == 401) {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                    else {
                        $.iaoAlert({
                            msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                            type: "error",
                            mode: "dark",
                        });
                    }
                }
            });
        }

    }

    ////// -----------    FIELD VALIDATION HANDLER FUNCTIONS  --------------------------

    const validate_IsEmptyStringInputFieldValue = function (inputFieldValue) {
        if (inputFieldValue == '' || inputFieldValue.replace(/\s/g, "") == "")
            return true;
        return false;
    }

    const validate_IsEmptySelectInputFieldValue = function (inputFieldValue) {
        if (inputFieldValue == undefined || inputFieldValue == null || inputFieldValue == '' || inputFieldValue == 0)
            return true;
        return false;
    }
</script>
