
<script>
    var UserToken_Global = "";
    var PlanBookingId_Global = $('#hidden_planBookingId').val();
    $(document).ready(function () {
        $.get("/Business/GetBusinessAdminToken", null, function (dataToken) {
            if (dataToken != "" && dataToken != null) {
                UserToken_Global = dataToken;
                getPlanBookingViewDetailById();
                StopLoading();
            }
            else {
                $.get("/Business/GetStaffToken", null, function (dataToken) {
                    if (dataToken != "" && dataToken != null) {
                        UserToken_Global = dataToken;
                        getPlanBookingViewDetailById();
                        //StopLoading();
                    }
                    else {
                        StopLoading();
                    }
                });
            }
        });
    });
       function getPlanBookingViewDetailById() {
        
    StartLoading();
           let _url = "/api/BusinessPlan/GetBusinessPlanBookingDetailById?id=" + PlanBookingId_Global;

    $.ajax({
        type: "GET",
        url: _url,
        headers: {
            "Authorization": "Bearer " + UserToken_Global,
            "Content-Type": "application/json"
        },
        contentType: 'application/json',
        success: function (response) {


            if (response.status < 1) {
                $.iaoAlert({
                    msg: response.message,
                    type: "error",
                    mode: "dark",
                });

                return;
            }

            if (response.data && response.data != null) {

                var _planBookingDetail = response.data.PlanBookingDetail;
                var _orderDetail = response.data.OrderDetail;
                var _paymentResponseDetail = response.data.PaymentResponseDetail;
                //var _planDetail = response.data.PlanDetail;
                var orderListItems = ``;
                var PlanBookingListItems = ``;

                PlanBookingListItems += bindFlexListItemHTML("Plan Name", _planBookingDetail.PlanName);
                PlanBookingListItems += bindFlexListItemHTML("Price", _planBookingDetail.PlanPrice + "/-");
                PlanBookingListItems += bindFlexListItemHTML("Start Date", _planBookingDetail.Startdate_FormatDates);
                PlanBookingListItems += bindFlexListItemHTML("End Date", _planBookingDetail.Enddate_FormatDates);
                PlanBookingListItems += bindFlexListItemHTML("Student Name", _planBookingDetail.StudentName);
               // PlanBookingListItems += bindFlexListItemHTML("Class Completed", (_planBookingDetail.IsCompleted) ? `<span class="badge badge-success">Yes</span>` : `<span class="badge badge-danger">No</span>`);

                orderListItems += bindFlexListItemHTML("Order #", _orderDetail.Id);
                orderListItems += bindFlexListItemHTML("Date", _orderDetail.CreatedOn_FormatDate);
                orderListItems += bindFlexListItemHTML("Discount", _orderDetail.TotalDiscount);
                orderListItems += bindFlexListItemHTML("GST", _orderDetail.GST);
                orderListItems += bindFlexListItemHTML("<b>Total Amount</b>", `<b>${_orderDetail.TotalAmount}/-</b>`);
                orderListItems += `<br/><div class="w-100" style="border-bottom:3px dashed #cecece;"></div><br>`;
                orderListItems += bindFlexListItemHTML("Payment Method", _orderDetail.PaymentMethod);
                orderListItems += bindFlexListItemHTML("Payment Approved", (_paymentResponseDetail.Approved) ? `<span class="badge badge-success">Yes</span>` : `<span class="badge badge-danger">No</span>`);
                orderListItems += bindFlexListItemHTML("Transaction ID", _paymentResponseDetail.TransactionID);

                $('#sectionPlanBookingDetail').html(PlanBookingListItems);
                $('#sectionOrderDetails').html(orderListItems);

            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.BusinessPanel.QueryNotGetData_ErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }

            StopLoading();
        },
        error: function (result) {

            if (result["status"] == 401) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
        }
    });
  }

    function bindFlexListItemHTML(key, value) {
        return `
     <div class="d-flex d-flex h6 justify-content-between w-100">
         <div><b>${key}: </b></div>
         <div>${value}</div>
     </div>
     <hr class="mt-0 mb-0" />
        `;
    }


</script>
