::-webkit-scrollbar-thumb {
    background: #f3a762;
    scrollbar-width: thin;
}

#BusinessLogoDetail a img {
    height: auto !important;
}
.header .menu>ul>li {
    display: inline-block;
    margin: 0 10px !important;
}
#plan01{
    padding: 100px 0 100px;
    background-color: #f5f5f5;
}
#events01 {
    padding: 100px 0 100px;
}
.event-grid-details h4 {
    font-size: 24px !important;
}
/*-------review css start--------*/
h5.card-title {
    text-align: center;
}

.dnc-str-outer {
    text-align: center;
}

p.card-text {
    text-align: center;
}

#RatingReviewDetailCard .card {
    border: 1px solid #f3a762;
}

.modal-content.mdl-cnt-001m {
    position: relative;
    padding: 0 0 0.5rem 0 !important;
    width: 58%;
    margin: auto;
}

#exampleModalLabel h5 {
    font-size: 20px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
}

#feedback {
    max-width: 106%;
    width: 100%;
    margin: 0px auto;
    padding: 2rem 20px 0 20px;
}

    #feedback .form-group {
        margin-bottom: 1rem;
    }

.input-group {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
    width: 100%;
}

.fa-solid, .fas {
    font-weight: 900;
}


.fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.pinfo {
    margin: 8px auto;
    font-weight: bold;
    line-height: 1.5;
    color: #0d0d0d;
    margin-left: 1rem !important;
}

.input-group-addon:not(:last-child) {
    border-right: 0;
}

.input-group-addon {
    width: 45px;
    padding: 0.63rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    color: #2e2e2e;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group > .btn, .input-group-btn:not(:first-child) > .dropdown-toggle, .input-group-btn:not(:last-child) > .btn:not(:first-child), .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}



.input-group .form-control {
    position: relative;
    z-index: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

textarea.form-control {
    height: auto;
}

.form-control {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: bold;
    color: #6C6262;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}



@media (min-width: 768px) {
    #exampleModalLabel .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

div#RatingReviewDetailCard {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-top: 4rem;
}

div.info-featured {
    padding: 3rem 0px;
}

span.adrbtn-0 {
    float: right;
    text-align: right;
    width: fit-content;
}

.adrbtn-0 a:hover {
    display: inline-block;
}

.login_btn a:hover {
    display: inline-block;
}

a.btn.btn-outline-dark.rwsc-addrwbt {
    color: #f3a762;
    font-size: 17px;
    font-weight: 300;
    border: 1px solid #f3a762;
    border-radius: 5px;
    padding: 10px;
}
/*//--------------review css end ---------------------*/
.photo-gallery .main .container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}

.photo-gallery .main .card {
    color: #252a32;
    border-radius: 2px;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    display: contents;
}

.disply_none_section {
    display: none !important;
}


.video-gallery-flex .video-gallery-rt-iner .video-gallery-items {
    flex: 0 0 calc(100%/2 - 30px);
    margin: 0 13px 20px;
}

.btnViewMoreUpcomingClass {
    display: none !important;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.copyright_sec {
    color: white;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.ml-2, .mx-2 {
    margin-left: 0.5rem !important;
}

.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
/* table */
#customers {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 7px;
        font-weight: 500;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        /*background-color: #ddd;*/
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: var(--mainColor);
        color: white;
    }

.cta-detail {
    padding: 10px 20px;
    border: 1px solid #e1e1e1;
    color: #000;
    display: inline-block;
    font-size: 16px;
}

    .cta-detail:hover {
        background: var(--mainColor);
        color: #fff;
        border: 1px solid transparent;
    }


schedules-details-inerss {
    max-width: 700px;
    border: 1px solid #d4d4d4;
    border-radius: 20px;
    overflow: hidden;
}

h4.record-error-message {
    margin-top: 10px;
    text-align: center;
    color: black;
    background-color: #f5f5f5;
}

.class-schedules .schedules-details-iner-ClassicTiming {
    max-width: 700px;
    border: 1px solid #d4d4d4;
    border-radius: 20px;
    overflow: hidden;
}

.class-schedules .schedules-details-iners {
    /* max-width: 700px;*/
    border: 1px solid #d4d4d4;
    border-radius: 20px;
    overflow: hidden;
    max-height: 400px;
    overflow: auto;
}

@media screen and (min-width: 1024px) {
    .class-schedules .schedules-details-iners {
        max-width: 700px;
    }
}

    .class-schedules .schedules-details-iners .row-iner.first-color {
        background: #f5f5f5;
    }

    .class-schedules .schedules-details-iners .row-iner {
        display: flex;
        padding: 20px;
    }

        .class-schedules .schedules-details-iners .row-iner > div {
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
        }
@media screen and (max-width:720px) {
    .class-schedules .schedules-details-iners .row-iner{
        display: grid;
        grid-template-columns:auto auto auto;
        justify-content:space-between;
        align-items:start;
    }
}

        .class-schedules .schedules-details-iners .row-iner.second-color {
            background: #e8e8e8;
        }

.class-schedules {
    padding: 100px 0 100px !important;
}

.our-branches .branch-logo > img {
    max-width: 80px !important;
}

.dance-box_img img {
    height: 350px;
}

.imageDisplay {
    width: 310px;
    height: 170px;
    margin: 10px;
}

div#table-sectionid {
    margin-top: 25px;
}

.team-section .trainer-inr {
    flex: 1;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 10px;
}

.team-section .tranier-img {
    position: relative;
    display: inline-flex;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    overflow: hidden;
    margin: 0 auto;
}

    .team-section .tranier-img > img {
        display: inline-block;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: relative;
        object-fit: cover;
        object-position: top;
    }

.team-section .tranier-profile {
    text-align: center;
}

    .team-section .tranier-profile > h4 {
        margin: 15px 0;
        color: #000;
        font-size: 20px;
        font-weight: 700;
    }

    .team-section .tranier-profile p {
        margin-bottom: 15px;
        color: #000;
    }

.team-section .social-follow {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .team-section .social-follow > div {
        margin: 0 15px 15px 0;
    }

a {
    text-decoration: none;
    display: inline-block;
}

.team-section .social-follow .social-icons > a i {
    color: #000;
}

.team-section .team-heading > * {
    color: #000;
    text-align: center;
}

div#BindBusinessDanceProfessionalDetail_Section {
    padding: 100px 0px;
}
#BindBusinessGallery_Section{
    background: #F3A762;
}

div#BusinessProfessionalList {
    margin-top: 40px;
}

.copyright_wrap strong.d-flex.crptxt {
    display: -ms-flexbox !important;
    display: flex !important;
    justify-content: start;
    flex-wrap: wrap;
}
@media(max-width: 991px) {
    .cta-detail {
        padding:0;
        border: none;
        color: blue;
        display: inline-block;
        font-size: 13px;
    }
    #customers {
        font-size: 13px;
    }
    .contact-col-businesshours div#BindBusinessTiming {
        display: block !important;
        text-align: left !important;
    }

    .contact-col-businesshours #BindBusinessTiming .time-schdule {
        margin-bottom: 10px !important;
    }
    #RatingReviewDetailCard .card {
        min-width: 50% !important;
    }
    div#RatingReviewDetailCard {
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: #f3a762;
    }

    .photo-gallery .gallery-col {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
    }
    .photo-gallery .gallery-iner>img {
        height: 20%;
    }
}

#BindBusinessClassesDetail {
    max-height: 700px;
    overflow: auto;
}


/*Music Packages*/

.event-grid-details > ul > li > p {
    max-height: 200px;
    overflow: auto;
}
.upcoming-grid .event-grid-details {
    padding: 25px;
    text-align: center;
    
}
.upcoming-grid .event-ticket-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.primary-button {
    padding: 8px 18px;
    display: inline-block;
    background: #f3a762;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #fdfdfd;
    color: #fff;
    min-width: max-content !important;
}
.price-big {
    color: #7a7a7a;
    font-weight: bolder;
}
.upcoming-grid .event-thumb > a > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    display: block;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.upcoming-grid .up-title {
    text-align: center;
    margin-bottom: 68px;
}

.upcoming-grid .event-thumb > a {
    display: inline-flex;
}

.upcoming-grid .event-grid-details > ul > li {
    display: flex;
    align-items: flex-end;
}

.upcoming-grid .event-thumb a {
    display: block;
}

.upcoming-grid span.text-left {
    flex: 0 0 80px;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}

.upcoming-grid .slick-initialized .slick-slide > div {
    margin: 0 10px;
}

.upcoming-grid .event-grid-item:hover .event-thumb > a > img {
    transform: scale(1.1);
}


.upcoming-grid #BusinessUpComingPlan_Music .event-grid-item, 
.upcoming-grid #BindBusinessContentUpcomingEventDetailList .event-grid-item {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 12%);
    margin-bottom: 40px;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 10px !important;
    margin-right: 5px !important;
}

.upcoming-grid #BusinessUpComingPlan_Music.slick-initialized .slick-slide > div,
.upcoming-grid #BindBusinessContentUpcomingEventDetailList.slick-initialized .slick-slide > div {
    margin: 0px !important;
}

#BindBusinessContentStudioEquipmenttabDetail li.list-item:hover {
    cursor: pointer;
}

.upcoming-grid .event-thumb {
    overflow: hidden;
}

span.text-right {
    padding-left: 20px;
}



.event-grid-details>ul{
    font-weight:bolder
}
/* Business Hours CSS -----*/
.contact-col-businesshours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.contact-col-businesshours .businessHours {
    width: 100%;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 20px;
}

.contact-col-businesshours .businesshours_details {
    width: 100%;
}

.contact-col-businesshours div#BindBusinessTiming {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

    .contact-col-businesshours div#BindBusinessTiming .day {
        color: #f3a762;
        font-weight: 700;
    }


/*University affilated*/
ul.tab-left-side-contenttion-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    height: 80vh;
    overflow: auto;
}
.univercity-tab {
    padding-top: unset;
    padding: 80px 0 0;
    background-color: #f5f5f5 !important;
}
.univercity-tab .uni-col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.uni-left {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 50px;
}

.uni-image {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 30%);
}
    .uni-image img {
        height: 300px;
        object-fit: cover;
        width: 100%;
    }

    .uni-image p {
        padding: 20px;
        margin: 0 0 10px 0;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        color: #7a7a7a;
        line-height: 1.5;
    }

.uni-right {
    flex: 0 0 50%;
    max-width: 50%;
}
    .uni-right .title-uni {
        display: none;
    }
ul.tab-left-side-contenttion-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    height: 80vh;
    overflow: auto;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
    ul.tab-left-side-contenttion-inner > li {
        cursor: pointer;
        text-align: center;
    }
.uni-right .uni-img > img {
    max-width: 80px;
    display: block;
    margin: 0 auto;
    min-height: 100px;
    object-fit: contain;
}
img {
    width: 100%;
}
.uni-img p {
    text-transform: capitalize;
    color: #000;
    font-size: 16px;
    margin: 0 0 10px 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #7a7a7a;
    line-height: 1.5;
}
.title-uni > h2 {
    font-size: 25px !important;
    text-align: center;
    margin-bottom: 25px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: var(--headingColor);
    line-height: 1.2;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*Instructor*/
.instructor-section {
    padding: 60px 0;
    
}
.team-heading{
    margin-bottom:40px;
}
.instructor-section .title-instructor {
    max-width: 600px;
    margin: 0 auto 50px;
    text-align: center;
}
.instructor-section .teachers-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    max-height: 600px;
    overflow: auto;
}
    .instructor-section .teachers-items {
        background: #f5f6fa;
        padding: 30px;
        border-radius: 10px;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }
.teacher-img > a {
    display: flex;
    overflow: hidden;
}
.teachers-items:hover {
    background: #ffffff;
    -webkit-box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.1);
    -moz-box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.1);
    box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.1);
}
a, i {
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    text-decoration: none;
    display: inline-block;
}
.instructor-section .teacher-img > a > img {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: block;
    height: 320px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

img {
    width: 100%;
}
.instructor-section .teacher__content {
    padding-top: 20px;
    text-align: center;
}
.instructor-section .teacher__content h3.teacher__title {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.instructor-section .teacher__content > * {
    text-align: center;
    font-weight:bolder;
}
.instructor-section .teacher__social ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.instructor-section .teacher__social ul > li {
   margin: 15px 15px 15px 0;
}
.instructor-section .teacher__social ul > li > a {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    border: 2px solid #d7d9e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000;
}
.instructor-section .teacher__social ul > li > a:hover {
        background-color: var(--mainColor);
        border: 2px solid var(--mainColor);
}
.team-heading{
    text-align:center;
}
.instructor-section .teachers-items:hover .teacher-img > a > img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}