
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    background-color: #f3a762;
    border-radius: 50%;
    border: 0px;
    color: white;
    width: 14px;
    height: 14px;
    font-size: 9px;
    opacity: 10;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: auto;
        background-color: white;
        color: grey;
        text-align: center;
        border-radius: 6px;
        padding: 10px 10px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        font-size: 13px;
        border: 3px;
        border-color: grey;
        right: 0px;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
