#section-I1 .container {
    max-width: 1130px !important;
}

#section-I1 .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 100% !important;
}

section#section-I1 {
    padding-top: 1.3rem !important;
    padding-bottom: 3rem;
}

#Instructorbannerimage .Banner-section-image-main {
    position: relative;
    width: 100%;
    height: 35vh;
}

.modal-content.mdl-cnt-001m {
    padding: 0 0 2rem 0;
    position: relative;
    width: 58%;
    margin: auto;
}

#feedback {
    max-width: 106%;
    width: 100%;
    margin: 0px auto;
    padding: 2rem 20px 0 20px;
}

.modal-content.mdl-cnt-001m {
    padding: 0 0 0.5rem 0 !important;
    position: relative;
}

div#cls-x01 {
    position: absolute;
    right: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #f3a76252;
}

button.btn.btn-outline-dark {
    color: #f3a762;
    border-color: currentColor;
}

.pinfo {
    margin-left: 1rem !important;
}

.modal-content.mdl-cnt-001m {
    padding: 0 0 2rem 0;
    position: relative;
}

::placeholder {
    color: #afafaf !important;
    font-weight: 400;
}

h2.text-center.adr-rw-btn {
    padding: 2rem 0 1rem 0;
}

@media (max-width: 720px) {
    #feedback {
        max-width: 90%;
    }
}

@media (max-width: 500px) {
    #feedback {
        padding: 10px;
    }
}

#fh2 {
    padding: 2px 15px;
    color: #ff4d4d;
    text-align: center;
}

@media (max-width: 400px) {
    #fh2 {
        font-size: 20px;
    }
}


#fh6 {
    padding: 2px 15px;
    color: #4d0er;
    text-align: center;
    font-weight: normal;
}

@media (max-width: 400px) {
    #fh6 {
        font-size: 12px;
    }
}

.pinfo {
    margin: 8px auto;
    font-weight: bold;
    line-height: 1.5;
    color: #0d0d0d;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: bold;
    color: #6C6262;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

    .form-control::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    .form-control:focus {
        color: #696060;
        background-color: #fff;
        border-color: #f3a762;
        outline: none;
    }

    .form-control::-webkit-input-placeholder {
        color: #F34949;
        opacity: 1;
    }

    .form-control::-moz-placeholder {
        color: brown;
        opacity: 1;
    }

    .form-control:-ms-input-placeholder {
        color: blue;
        opacity: 1;
    }

    .form-control::placeholder {
        color: white;
        opacity: 1;
    }

    .form-control:disabled,
    .form-control[readonly] {
        background-color: red;
        opacity: 1;
    }

    .form-control:disabled {
        cursor: not-allowed;
    }

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
    color: green;
    background-color: #fff;
}

.form-control-file,
.form-control-range {
    display: block;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

    .input-group .form-control {
        position: relative;
        z-index: 2;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }

        .input-group .form-control:focus,
        .input-group .form-control:active,
        .input-group .form-control:hover {
            z-index: 3;
        }

    .input-group-addon,
    .input-group-btn,
    .input-group .form-control {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

        .input-group-addon:not(:first-child):not(:last-child),
        .input-group-btn:not(:first-child):not(:last-child),
        .input-group .form-control:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

.input-group-addon,
.input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon {
    width: 45px;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    color: #2e2e2e;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

    .input-group-addon.form-control-sm,
    .input-group-sm > .input-group-addon,
    .input-group-sm > .input-group-btn > .input-group-addon.btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        border-radius: 0.2rem;
    }

    .input-group-addon.form-control-lg,
    .input-group-lg > .input-group-addon,
    .input-group-lg > .input-group-btn > .input-group-addon.btn {
        padding: 0.75rem 1.5rem;
        font-size: 1.25rem;
        border-radius: 0.3rem;
    }

    .input-group-addon input[type="radio"],
    .input-group-addon input[type="checkbox"] {
        margin-top: 0;
    }

    .input-group .form-control:not(:last-child),
    .input-group-addon:not(:last-child),
    .input-group-btn:not(:last-child) > .btn,
    .input-group-btn:not(:last-child) > .btn-group > .btn,
    .input-group-btn:not(:last-child) > .dropdown-toggle,
    .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
    .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .input-group-addon:not(:last-child) {
        border-right: 0;
    }

    .input-group .form-control:not(:first-child),
    .input-group-addon:not(:first-child),
    .input-group-btn:not(:first-child) > .btn,
    .input-group-btn:not(:first-child) > .btn-group > .btn,
    .input-group-btn:not(:first-child) > .dropdown-toggle,
    .input-group-btn:not(:last-child) > .btn:not(:first-child),
    .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

.form-control + .input-group-addon:not(:first-child) {
    border-left: 0;
}

.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .btn:focus,
    .btn:hover {
        text-decoration: none;
    }

    .btn:focus,
    .btn.focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
        box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
    }

    .btn.disabled,
    .btn:disabled {
        cursor: not-allowed;
        opacity: .65;
    }

    .btn:active,
    .btn.active {
        background-image: none;
    }

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #025aa5;
        border-color: #01549b;
    }

    .btn-primary:focus,
    .btn-primary.focus {
        -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
        box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
    }

    .btn-primary.disabled,
    .btn-primary:disabled {
        background-color: #0275d8;
        border-color: #0275d8;
    }

    .btn-primary:active,
    .btn-primary.active,
    .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #025aa5;
        background-image: none;
        border-color: #01549b;
    }

#BindInstructorImages .img-fluid {
    max-width: 100%;
    height: 180px !important;
}

#BindBusinessPersonClassDetailList .read_morebtn_class {
    border: 1px solid #fff !important;
    font-size: 12px;
    padding: 8px;
    margin-top: 20px;
    background: #f3a762;
    color: #fff !important;
}

    #BindBusinessPersonClassDetailList .read_morebtn_class:hover {
        background: #fff !important;
        color: #f3a762 !important;
    }

.modal-content.mdl-cnt-001m {
    padding: 0 0 2rem 0;
    position: relative;
    width: 58%;
    margin: auto;
}

.msg-txt-ar {
    height: 10rem !important;
}

#feedback {
    max-width: 106%;
    width: 100%;
    margin: 0px auto;
    padding: 2rem 20px 0 20px;
}

.modal-content.mdl-cnt-001m {
    padding: 0 0 0.5rem 0 !important;
    position: relative;
}

div#cls-x01 {
    position: absolute;
    right: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #f3a76252;
}

button.btn.btn-outline-dark {
    color: #f3a762;
    border-color: currentColor;
}

.pinfo {
    margin-left: 1rem !important;
}

.modal-content.mdl-cnt-001m {
    padding: 0 0 2rem 0;
    position: relative;
}

::placeholder {
    color: #afafaf !important;
    font-weight: 400;
}

h2.text-center.adr-rw-btn {
    padding: 2rem 0 1rem 0;
}

@media (max-width: 720px) {
    #feedback {
        max-width: 90%;
    }
}

@media (max-width: 500px) {
    #feedback {
        padding: 10px;
    }
}

#fh2 {
    padding: 2px 15px;
    color: #ff4d4d;
    text-align: center;
}

@media (max-width: 400px) {
    #fh2 {
        font-size: 20px;
    }
}


#fh6 {
    padding: 2px 15px;
    color: #4d0er;
    text-align: center;
    font-weight: normal;
}

@media (max-width: 400px) {
    #fh6 {
        font-size: 12px;
    }
}

.pinfo {
    margin: 8px auto;
    font-weight: bold;
    line-height: 1.5;
    color: #0d0d0d;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: bold;
    color: #6C6262;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

    .form-control::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    .form-control:focus {
        color: #696060;
        background-color: #fff;
        border-color: #f3a762;
        outline: none;
    }

    .form-control::-webkit-input-placeholder {
        color: #F34949;
        opacity: 1;
    }

    .form-control::-moz-placeholder {
        color: brown;
        opacity: 1;
    }

    .form-control:-ms-input-placeholder {
        color: blue;
        opacity: 1;
    }

    .form-control::placeholder {
        color: white;
        opacity: 1;
    }

    .form-control:disabled,
    .form-control[readonly] {
        background-color: red;
        opacity: 1;
    }

    .form-control:disabled {
        cursor: not-allowed;
    }

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
    color: green;
    background-color: #fff;
}

.form-control-file,
.form-control-range {
    display: block;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

    .input-group .form-control {
        position: relative;
        z-index: 2;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }

        .input-group .form-control:focus,
        .input-group .form-control:active,
        .input-group .form-control:hover {
            z-index: 3;
        }

    .input-group-addon,
    .input-group-btn,
    .input-group .form-control {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

        .input-group-addon:not(:first-child):not(:last-child),
        .input-group-btn:not(:first-child):not(:last-child),
        .input-group .form-control:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

.input-group-addon,
.input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon {
    width: 45px;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    color: #2e2e2e;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

    .input-group-addon.form-control-sm,
    .input-group-sm > .input-group-addon,
    .input-group-sm > .input-group-btn > .input-group-addon.btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        border-radius: 0.2rem;
    }

    .input-group-addon.form-control-lg,
    .input-group-lg > .input-group-addon,
    .input-group-lg > .input-group-btn > .input-group-addon.btn {
        padding: 0.75rem 1.5rem;
        font-size: 1.25rem;
        border-radius: 0.3rem;
    }

    .input-group-addon input[type="radio"],
    .input-group-addon input[type="checkbox"] {
        margin-top: 0;
    }

    .input-group .form-control:not(:last-child),
    .input-group-addon:not(:last-child),
    .input-group-btn:not(:last-child) > .btn,
    .input-group-btn:not(:last-child) > .btn-group > .btn,
    .input-group-btn:not(:last-child) > .dropdown-toggle,
    .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
    .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .input-group-addon:not(:last-child) {
        border-right: 0;
    }

    .input-group .form-control:not(:first-child),
    .input-group-addon:not(:first-child),
    .input-group-btn:not(:first-child) > .btn,
    .input-group-btn:not(:first-child) > .btn-group > .btn,
    .input-group-btn:not(:first-child) > .dropdown-toggle,
    .input-group-btn:not(:last-child) > .btn:not(:first-child),
    .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

.form-control + .input-group-addon:not(:first-child) {
    border-left: 0;
}

.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .btn:focus,
    .btn:hover {
        text-decoration: none;
    }

    .btn:focus,
    .btn.focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
        box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
    }

    .btn.disabled,
    .btn:disabled {
        cursor: not-allowed;
        opacity: .65;
    }

    .btn:active,
    .btn.active {
        background-image: none;
    }

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #025aa5;
        border-color: #01549b;
    }

    .btn-primary:focus,
    .btn-primary.focus {
        -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
        box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
    }

    .btn-primary.disabled,
    .btn-primary:disabled {
        background-color: #0275d8;
        border-color: #0275d8;
    }

    .btn-primary:active,
    .btn-primary.active,
    .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #025aa5;
        background-image: none;
        border-color: #01549b;
    }

span.likedstatus {
    padding: 4px;
}

.logs_certificate_sec {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
}

.btn_section {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

p.m-0.p-0.shron {
    font-size: 0.9rem;
    color: lightslategray;
    margin-top: 0.4rem;
    cursor: pointer;
    display: flex;
    text-decoration: unset;
    align-items: center;
    font-weight: 500;
    cursor: default;
}

section#other-ins .card {
    cursor: pointer;
}

.logsc-outer-dfd:hover {
    transform: scale(1.1);
    font-weight: 500;
    transition: transform 0.5s;
}

.otr-inssc.text-center {
    padding: 0rem 0 2rem 0;
    color: black;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.cnt-outer-001jkk h5 {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

h5.text-left {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

h4.inpclsjkj {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.usr-acc-i1-outer .bio-social {
    display: flex;
    gap: 1rem;
    margin: 1rem 1rem 1rem 0.5rem;
}

    .usr-acc-i1-outer .bio-social a:hover {
        color: #f3a762;
    }

    .usr-acc-i1-outer .bio-social a {
        color: black;
        font-size: 1.3rem;
    }

header.header.active-h {
    position: unset;
}

button.close.close-mdl-jk span {
    font-size: 2rem;
}

section#section-I1 {
    /*padding-top: 1.5rem;*/
    padding-bottom: 3rem;
}

a.addrw-0a {
    font-size: 0.9rem;
    color: lightslategray;
    margin-top: 0.4rem;
    cursor: pointer;
    text-decoration: unset;
}

.sc-star-dkfj {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.str-str-0 {
    width: 100%;
}

a.addrw-0a {
    width: 92%;
}

.usr-acc-str-8i {
    padding-left: 0.5rem;
}

section#other-ins {
    margin: 4rem 0;
}

section#section-I1 {
    padding-top: 0;
}

.col-sm-3.m-0.p-0.sdb-rfdfjk.border {
    border-radius: 1rem;
}

.row.otr-ins-rw {
    padding: 1rem 0;
}

a.btn.btn-primary.csbttnm.text-center.otr-sc-btn:hover {
    background: #f3a762;
    color: white;
}

a.btn.btn-primary.csbttnm.text-center.otr-sc-btn {
    background: white;
    color: #f3a762;
    border-color: #f3a762;
}

div#event00ev a#vmbtnjfdsklfjindfd12d:hover {
    color: white !important;
    border-color: black !important;
    background: black !important;
}

.card.cls-timimg-time-zx.p-3.m-3.ml-sm-0:hover a#vmbtnjfdsklfjindfd12d {
    background: white;
    color: #f3a762 !important;
    cursor: pointer;
    border-color: white;
}

div#event00ev p.cls-sc-outer-txt2.cls-sc-outer-txt-all {
    font-size: 0.9rem;
    margin-bottom: -0.2rem;
    margin-top: 0.2rem;
}

div#event00ev a#vmbtnjfdsklfjindfd12d {
    color: #f3a762;
    border-color: currentColor;
}

div#event00ev p.cls-sc-outer-txt3.cls-sc-outer-txt-all {
    font-size: 0.9rem;
    font-weight: 700;
}

div#event00ev p.cls-sc-outer-txt22a.cls-sc-outer-txt-all2a {
    font-size: 14px;
    margin-bottom: unset;
    line-height: 13px;
}

.card.cls-timimg-time-zx.p-3.m-3.ml-sm-0:hover h5.cls-sc-outer-txt1.cls-sc-outer-txt-all {
    color: white;
}

.btn-outline-dark:hover {
    color: #fff !important;
    background-color: #f3a762 !important;
    border-color: #f3a762 !important;
    border: 1px solid;
    cursor: pointer;
}

section#section-I1 .logsc-outer-dfd {
    margin: auto 0.2rem;
    cursor: pointer;
}

a#vmbtnjfdsklfjindfd12d {
    color: #f3a762;
}

.rowclsodkiekd2fd {
    display: flex;
    justify-content: space-around;
}

.colclsodkiekd12d {
    display: flex;
    align-items: center;
}

a.vmbtnjfdsklfj {
    color: #f3a762;
    margin: 3rem 0 0 0 !important;
    border-color: currentColor;
}



.usr-head-kfjkdj {
    margin-bottom: 1rem;
}

.usr-acc-pi-kjka {
    margin-bottom: 1.5rem;
}

.usr-acdt-icn0ljk {
    display: flex;
}

.usr-acc-i1-outer {
    margin: 2rem 0 1rem 0;
    padding-left: 0.5rem;
}

.usr-acdt-icn0ljk i {
    color: #f3a762;
    font-size: 1.3rem !important;
    margin-top: 0.4rem;
}

.footer .col-lg-two a {
    color: #000;
}

.copyright_wrap {
    padding-top: 2.5rem;
}

.copyright_wrap {
    padding: 20px;
    background: #f3a762;
}

.copyright_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer.footer.footer-inst {
    padding: 3rem 0 2rem 0;
    border-top: 1px solid #e3e3e3;
}

.row .card:hover {
    transform: scale(1.02);
    transition: transform 0.5s;
}

section#section-I1 .lstsc-outer a {
    color: black;
}

i#bnscevic {
    position: absolute;
    bottom: -28px;
    left: 11rem;
    font-size: 3rem;
    color: #ee8e64;
}



#section-I1 > div > div > div.col-sm-3.m-0.p-0 > div.certsc-i-00ddkc > div > div:nth-child(3) {
    margin-right: 1rem;
}


.sc-ban-img-we {
    position: relative;
    width: 100%;
    height: 35vh;
    background: url(image/instructor.jpg) no-repeat top center /cover;
}

.rowclsodkiekd {
    display: flex;
}

img.usrimg {
    width: 6rem;
    border-radius: 100%;
    box-shadow: 0px 9px 12px 0px #00000073;
}

.usr-acc-i1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}

.img-txt-i-001d {
    width: 80%;
    margin: auto;
}

img.img-txt-i-001d-img {
    width: 100%;
}

img.ogsc-outer-dfd-img {
    width: 3rem;
    box-shadow: 0 10px 44px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, .23) !important;
    border-radius: 50%;
}

.logsc-outer-dfd p {
    font-size: 0.8rem;
    margin-right: 0.5rem;
    text-align: center;
    margin-top: 0.4rem;
}

.logsc-i-001dd2.d-flex .logsc-outer-dfd p {
    font-size: 0.8rem;
    margin-right: 0.5rem;
    text-align: center;
    margin-top: 0.4rem;
    white-space: nowrap;
}

.blolin {
    width: 100%;
    height: 5px;
    margin: auto;
    border: 1px solid #f3a762;
    border-radius: 44px;
}

img.img-txt-i-001d-img {
    width: 100%;
    border: 1px solid #f3a762;
}

p.txtafimg-jdk {
    padding: 10px;
    background: #f3a762;
    margin-top: 1rem;
    border: 1px solid #ff7900;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.lstsc-wrap {
    width: 95%;
    margin: auto;
}

.logsc-i-001dd.d-flex {
    display: flex;
    gap: 1rem 0rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

img.cert-img-dfjk {
    width: 12%;
    margin: 0.2rem auto;
}

.lstsc-wrap h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 1.1rem;
    margin-left: 1rem;
}


i.fa-solid.fa-star {
    color: #f1c300;
}

.usr-nm-i-txt2d {
    width: 14rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 0.8rem;
    margin-bottom: 4px;
}


h5.usr-dtl-id-kdfjdk {
    margin-bottom: 0;
}

.id-sec-i-kdkd {
    margin: auto;
    width: 80%;
    font-size: 1rem;
    text-align: center;
    border: 2px solid #ee8e64;
    font-weight: 700;
    margin: 1rem auto;
}

.logsc-i-001dd2.d-flex {
    margin: 1rem 0;
}

p.cls-sc-outer-txt12a.cls-sc-outer-txt-all2a {
    color: #f3a762;
    font-size: 18px;
    margin-bottom: 0;
}


p.cls-sc-outer-txt22a.cls-sc-outer-txt-all2a {
    font-size: 14px;
    margin-bottom: 0.6rem;
}

p.cls-sc-outer-txt32a.cls-sc-outer-txt-all2a {
    font-size: 16px;
}

p.cls-sc-outer-txt2.cls-sc-outer-txt-all {
    font-size: 1.2rem;
    margin-bottom: -0.1rem;
}

h3.cls-sc-outer-txt1.cls-sc-outer-txt-all {
    margin-bottom: unset;
}

p.cls-sc-outer-txt3.cls-sc-outer-txt-all {
    font-size: 1.2rem;
    font-weight: 700;
}

h5.cls-sc-outer-txt1.cls-sc-outer-txt-all {
    margin-bottom: unset;
    color: #f3a762;
}

.cls-timimg-time-zx {
    padding-top: 2rem;
}


.usr-acc-pi-kjka h5,
.usr-acc-pi-kjka p {
    margin: 0.2rem 0;
}

.usr-acc-pi-kjka p {
    font-size: 0.9rem;
    color: lightslategray;
    margin-top: 0.4rem;
}

.sc-star-dkfj {
    margin-top: 0.5rem;
}

.card.cls-timimg-time-zx.p-3.m-3.ml-sm-0:hover {
    background: #f3a762;
    color: white;
    cursor: pointer;
}

    

    .card.cls-timimg-time-zx.p-3.m-3.ml-sm-0:hover a#vmbtnjfdsklfjindfd12d {
        color: white;
    }

h4.usr-head-kfjkdj {
    background: #f3a762;
    padding: 0.3rem;
    text-shadow: -1px -1px 1px rgb(255 255 255 / 96%), 1px 1px 1px rgb(0 0 0 / 60%);
}

@media screen and (max-width: 1100px) and (min-width: 800px) {
    .usr-nm-i-txt2d {
        margin-right: -2rem;
        margin-left: unset;
    }
}

@media screen and (max-width: 800px) {


    section#other-ins .row.otr-ins-rw .card {
        align-items: center;
        padding-top: 1.3rem;
        margin: 0rem 1rem;
    }

    .modal-content.mdl-cnt-001m {
        width: 95%;
    }
    /*  .row.m-0.p-0.si2-rw .col-sm-9.si1-cl {
                margin-bottom: 2rem !important;
            }*/

    .col-sm-3.m-0.p-0.sdb-rfdfjk.border {
        border-radius: 1rem;
        border: unset !important;
    }

    .row.otr-ins-rw .col-sm-2 {
        margin-top: 2rem !important;
    }

    .otr-inssc.text-center {
        padding-bottom: unset;
    }

    .str-str-0 {
        width: 50%;
    }

    p.edu-cnt-txt {
        font-size: 0.8rem !important;
    }

    .edu-cnt-001 i {
        font-size: 1.4rem !important;
    }

    .edu-cnt-outer {
        gap: 1.5rem 0;
    }

    .edu-cnt-outer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 0;
        margin: 1rem 1rem 1rem 1rem;
    }

    .logsc-i-001dd.d-flex {
        margin: auto !important;
    }

    div#nav-tab-dsdfslaskjdfkla {
        display: flex;
        flex-direction: row;
        align-content: center;
        border: unset !important;
        justify-content: center;
        align-items: center;
    }

    .lstsc-outer {
        padding: 1.5rem 0 !important;
    }

    a.vmbtnjfdsklfj {
        color: #f3a762;
        margin: -1rem 0 0 0 !important;
    }

    .col-sm-3.m-0.p-0.sdb-rfdfjk.border-right.border-left {
        border: unset !important;
    }

    .col-sm-9.si1-cl {
        margin: unset !important;
        padding: unset;
    }

    div#nav-tabContent {
        padding-bottom: unset !important;
        min-height: unset !important;
    }

    .usr-head-kfjkdj {
        margin-bottom: 1.5rem;
    }

    a#nav-home-tab {
        margin-left: 1.1rem !important;
    }

    .abt-inf-section-kjdk5.mr-3 {
        margin: 0 1rem !important;
    }

    .section-i2001 {
        padding: 1.6rem 0 !important;
    }

    .sc-star-dkfj.text-center {
        padding: 0.5rem 0 2rem 0;
    }

    #nav-tab-dsdfslaskjdfkla .nav-item {
        width: 351px;
        margin: 0 0 1rem 0 !important;
    }

    section#section-I1 {
        margin-bottom: unset !important;
    }

    .col-sm-3.m-0.p-0.sdb-rfdfjk {
        width: 95%;
        margin: auto !important;
    }

    section#section-I1 {
        margin-bottom: 3rem;
        padding: 0;
    }

    .sdb-rfdfjk {
        border-left: unset !important;
        padding-left: unset !important;
    }

    .logsc-i-001dd2.d-flex {
        justify-content: flex-start;
    }

    .logsc-i-001dd.d-flex {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    i#bnscevic {
        left: 4rem;
    }
}

section#section-I1 .lstsc-outer a:hover {
    background: #f3a762 !important;
}

@media screen and (min-width: 800px) {
    div#navbarTogglerDemo03 {
        width: 38% !important;
        float: right;
    }

    header.header.active-h .container {
        min-width: 97% !important;
    }

    .col-sm-6.fr-brdr0w {
        border-right: 1px solid rgb(0, 0, 0, .1);
    }

    .str-str-0 {
        width: 72%;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
        margin-right: 0.5rem;
    }

    .lstsc-outer {
        padding: 1rem 0px 0px;
    }

    .cls-timimg-time-zx .cls-sc-outer {
        min-width: 200px !important;
    }
}

.card-columns.msnry-img {
    width: 95.3%;
    margin: 0 1.6%;
    max-height: 500px !important;
    display: grid;
    overflow-y: scroll !important;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1rem 0 0;
}


div#nav-tabContent {
    padding-bottom: 3rem;
    min-height: 48vh;
}

.logsc-i-001dd.d-flex {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: auto !important;
    padding-left: 0.5rem;
}

.logsc-i-001dd2.d-flex {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: auto !important;
    padding-left: 0.5rem;
}

.sc-for-licencesc-kdlsjfl {
    display: flex;
    flex-wrap: wrap;
}

p.for-licencesc-txt {
    margin-right: 0.5rem;
}


.msnry-img::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}


.msnry-img::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    max-height: 7px !important;
}

.msnry-img::-webkit-scrollbar-thumb {
    background-color: #ee8e64;
}

.logsc-i-001dd-outer img.ogsc-outer-dfd-img {
    border-radius: unset;
}

.certsc-i-00ddkc {
    margin-top: 1rem;
}

.edu-cnt-001 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

p.edu-cnt-txt {
    margin: unset;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 200;
    color: lightslategray;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.edu-cnt-outer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.edu-cnt-001 i {
    font-size: 2rem;
    color: #f3a762 !important;
    margin-right: 0.5rem;
}

.edu-cnt-outer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 0;
}

h4.usr-head-kfjkdj.usr-head-kfjkdj12 {
    padding: 0.6rem;
    text-shadow: -1px -1px 1px rgb(255 255 255 / 96%), 1px 1px 1px rgb(0 0 0 / 60%);
}

div#navbarTogglerDemo03 {
    width: 39%;
    float: right;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
    .logsc-i-001dd2.d-flex .logsc-outer-dfd p {
        white-space: pre-wrap !important;
    }

    .usr-img-outer-djfdk {
        margin-right: 0.8rem;
    }

    .str-str-0 {
        width: 113%;
    }

    div#navbarTogglerDemo03 {
        width: 47.7%;
    }
}

p.m-0.p-0.shron {
    font-size: 0.9rem;
    color: lightslategray;
    margin-top: 0.4rem;
    cursor: pointer;
    display: flex;
    text-decoration: unset;
    align-items: center;
    font-weight: 500;
    cursor: default;
}

section#other-ins .card {
    cursor: pointer;
}

.logsc-outer-dfd:hover {
    transform: scale(1.1);
    font-weight: 500;
    transition: transform 0.5s;
}

.otr-inssc.text-center {
    padding: 0rem 0 2rem 0;
    color: black;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.cnt-outer-001jkk h5 {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

h5.text-left {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

h4.inpclsjkj {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.usr-acc-i1-outer .bio-social {
    display: flex;
    gap: 1rem;
    margin: 1rem 1rem 1rem 0.5rem;
}

    .usr-acc-i1-outer .bio-social a:hover {
        color: #f3a762;
    }

    .usr-acc-i1-outer .bio-social a {
        color: black;
        font-size: 1.3rem;
    }

header.header.active-h {
    position: unset;
}

button.close.close-mdl-jk span {
    font-size: 2rem;
}

section#section-I1 {
    padding-top: 0rem;
    padding-bottom: 3rem;
}

a.addrw-0a {
    font-size: 0.9rem;
    color: lightslategray;
    margin-top: 0.4rem;
    cursor: pointer;
    text-decoration: unset;
}

.sc-star-dkfj {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.str-str-0 {
    width: 100%;
}

a.addrw-0a {
    width: 92%;
}

.usr-acc-str-8i {
    padding-left: 0.5rem;
}

section#other-ins {
    margin: 4rem 0;
}

/*section#section-I1 {
            padding-top: 1.5rem;
        }*/

.col-sm-3.m-0.p-0.sdb-rfdfjk.border {
    border-radius: 1rem;
}

.row.otr-ins-rw {
    padding: 1rem 0;
}

a.btn.btn-primary.csbttnm.text-center.otr-sc-btn:hover {
    background: #f3a762;
    color: white;
}

a.btn.btn-primary.csbttnm.text-center.otr-sc-btn {
    background: white;
    color: #f3a762;
    border-color: #f3a762;
}

div#event00ev a#vmbtnjfdsklfjindfd12d:hover {
    color: white !important;
    border-color: black !important;
    background: black !important;
}

.card.cls-timimg-time-zx.p-3.m-3.ml-sm-0:hover a#vmbtnjfdsklfjindfd12d {
    background: white;
    color: #f3a762 !important;
    cursor: pointer;
    border-color: white;
}

div#event00ev p.cls-sc-outer-txt2.cls-sc-outer-txt-all {
    font-size: 0.9rem;
    margin-bottom: -0.2rem;
    margin-top: 0.2rem;
}

div#event00ev a#vmbtnjfdsklfjindfd12d {
    color: #f3a762;
    border-color: currentColor;
}

div#event00ev p.cls-sc-outer-txt3.cls-sc-outer-txt-all {
    font-size: 0.9rem;
    font-weight: 700;
}



.card.cls-timimg-time-zx.p-3.m-3.ml-sm-0:hover h5.cls-sc-outer-txt1.cls-sc-outer-txt-all {
    color: white;
}

.btn-outline-dark:hover {
    color: #fff !important;
    background-color: #f3a762 !important;
    border-color: #f3a762 !important;
    border: 1px solid;
    cursor: pointer;
}

section#section-I1 .logsc-outer-dfd {
    margin: auto 0.2rem;
    cursor: pointer;
}

a#vmbtnjfdsklfjindfd12d {
    color: #f3a762;
}

.rowclsodkiekd2fd {
    display: flex;
    justify-content: space-around;
}

.colclsodkiekd12d {
    display: flex;
    align-items: center;
}

a.vmbtnjfdsklfj {
    color: #f3a762;
    margin: 3rem 0 0 0 !important;
    border-color: currentColor;
}



.usr-head-kfjkdj {
    margin-bottom: 1rem;
}

.usr-acc-pi-kjka {
    margin-bottom: 1.5rem;
}

.usr-acdt-icn0ljk {
    display: flex;
}

.usr-acc-i1-outer {
    margin: 2rem 0 1rem 0;
    padding-left: 0.5rem;
}

.usr-acdt-icn0ljk i {
    color: #f3a762;
    font-size: 1.3rem !important;
    margin-top: 0.4rem;
}

.footer .col-lg-two a {
    color: #000;
}

.copyright_wrap {
    padding-top: 2.5rem;
}

.copyright_wrap {
    padding: 20px;
    background: #f3a762;
}

.copyright_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer.footer.footer-inst {
    padding: 3rem 0 2rem 0;
    border-top: 1px solid #e3e3e3;
}

.row .card:hover {
    transform: scale(1.02);
    transition: transform 0.5s;
}

section#section-I1 .lstsc-outer a {
    color: black;
}

i#bnscevic {
    position: absolute;
    bottom: -28px;
    left: 11rem;
    font-size: 3rem;
    color: #ee8e64;
}

#section-I1 > div > div > div.col-sm-3.m-0.p-0 > div.certsc-i-00ddkc > div > div:nth-child(3) {
    margin-right: 1rem;
}


.sc-ban-img-we {
    position: relative;
    width: 100%;
    height: 35vh;
    background: url(/Content/visitor-panel/image/instructors.jpg) no-repeat top center /cover;
}

.rowclsodkiekd {
    display: flex;
    justify-content: space-around;
}

img.usrimg {
    width: 6rem;
    border-radius: 100%;
    box-shadow: 0px 9px 12px 0px #00000073;
}

.usr-acc-i1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}

.img-txt-i-001d {
    width: 80%;
    margin: auto;
}

img.img-txt-i-001d-img {
    width: 100%;
}

img.ogsc-outer-dfd-img {
    width: 3rem;
    box-shadow: 0 10px 44px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, .23) !important;
    border-radius: 50%;
    padding: 12px;
}

.logsc-outer-dfd p {
    font-size: 0.8rem;
    margin-right: 0.5rem;
    text-align: center;
    margin-top: 0.4rem;
}

.logsc-i-001dd2.d-flex .logsc-outer-dfd p {
    font-size: 0.8rem;
    margin-right: 0.5rem;
    text-align: center;
    margin-top: 0.4rem;
    white-space: nowrap;
}

.blolin {
    width: 100%;
    height: 5px;
    margin: auto;
    border: 1px solid #f3a762;
    border-radius: 44px;
}

img.img-txt-i-001d-img {
    width: 100%;
    border: 1px solid #f3a762;
}

p.txtafimg-jdk {
    padding: 10px;
    background: #f3a762;
    margin-top: 1rem;
    border: 1px solid #ff7900;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.lstsc-wrap {
    width: 95%;
    margin: auto;
}

.logsc-i-001dd.d-flex {
    display: flex;
    gap: 1rem 0rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

img.cert-img-dfjk {
    width: 12%;
    margin: 0.2rem auto;
}

.lstsc-wrap h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 1.1rem;
    margin-left: 1rem;
}


i.fa-solid.fa-star {
    color: #f1c300;
}

.usr-nm-i-txt2d {
    width: 14rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 0.8rem;
    margin-bottom: 4px;
}

h5.usr-dtl-id-kdfjdk {
    margin-bottom: 0;
}

.id-sec-i-kdkd {
    margin: auto;
    width: 80%;
    font-size: 1rem;
    text-align: center;
    border: 2px solid #ee8e64;
    font-weight: 700;
    margin: 1rem auto;
}

.logsc-i-001dd2.d-flex {
    margin: 1rem 0;
}

p.cls-sc-outer-txt2.cls-sc-outer-txt-all {
    font-size: 1.2rem;
    margin-bottom: -0.1rem;
}

h3.cls-sc-outer-txt1.cls-sc-outer-txt-all {
    margin-bottom: unset;
}

p.cls-sc-outer-txt3.cls-sc-outer-txt-all {
    font-size: 1.2rem;
    font-weight: 700;
}

h5.cls-sc-outer-txt1.cls-sc-outer-txt-all {
    margin-bottom: unset;
    color: #f3a762;
}

.cls-timimg-time-zx {
    padding-top: 2rem;
}


.usr-acc-pi-kjka h5,
.usr-acc-pi-kjka p {
    margin: 0.2rem 0;
}

.usr-acc-pi-kjka p {
    font-size: 0.9rem;
    color: lightslategray;
    margin-top: 0.4rem;
}

.sc-star-dkfj {
    margin-top: 0.5rem;
}

.card.cls-timimg-time-zx.p-3.m-3.ml-sm-0:hover {
    background: #f3a762;
    color: white;
    cursor: pointer;
}

    .card.cls-timimg-time-zx.p-3.m-3.ml-sm-0:hover p.cls-sc-outer-txt12a.cls-sc-outer-txt-all2a {
        color: white;
    }
  
    .card.cls-timimg-time-zx.p-3.m-3.ml-sm-0:hover a#vmbtnjfdsklfjindfd12d {
        color: white;
    }

h4.usr-head-kfjkdj {
    background: #f3a762;
    padding: 0.3rem;
    text-shadow: -1px -1px 1px rgb(255 255 255 / 96%), 1px 1px 1px rgb(0 0 0 / 60%);
}

@media screen and (max-width: 1100px) and (min-width: 800px) {
    .usr-nm-i-txt2d {
        margin-right: -2rem;
        margin-left: unset;
    }
}

@media screen and (max-width: 800px) {
    section#other-ins .row.otr-ins-rw img.card-img-top {
        width: 5rem;
    }


    section#other-ins .row.otr-ins-rw .card {
        align-items: center;
        padding-top: 1.3rem;
        margin: 0rem 1rem;
    }

    .modal-content.mdl-cnt-001m {
        width: 95%;
    }


    .col-sm-3.m-0.p-0.sdb-rfdfjk.border {
        border-radius: 1rem;
        border: unset !important;
    }

    .row.otr-ins-rw .col-sm-2 {
        margin-top: 2rem !important;
    }

    .otr-inssc.text-center {
        padding-bottom: unset;
    }

    .str-str-0 {
        width: 48%;
    }

    p.edu-cnt-txt {
        font-size: 0.8rem !important;
    }

    .edu-cnt-001 i {
        font-size: 1.4rem !important;
    }

    .edu-cnt-outer {
        gap: 1.5rem 0;
    }

    .edu-cnt-outer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 0;
        margin: 1rem 1rem 1rem 1rem;
    }

    .logsc-i-001dd.d-flex {
        margin: auto !important;
    }

    div#nav-tab-dsdfslaskjdfkla {
        display: flex;
        flex-direction: row;
        align-content: center;
        border: unset !important;
        justify-content: center;
        align-items: center;
    }

    .lstsc-outer {
        padding: 1.5rem 0 !important;
    }

    a.vmbtnjfdsklfj {
        color: #f3a762;
        margin: -1rem 0 0 0 !important;
    }

    .col-sm-3.m-0.p-0.sdb-rfdfjk.border-right.border-left {
        border: unset !important;
    }

    .col-sm-9.si1-cl {
        margin: unset !important;
        padding: unset;
    }

    div#nav-tabContent {
        padding-bottom: unset !important;
        min-height: unset !important;
    }

    .usr-head-kfjkdj {
        margin-bottom: 1.5rem;
    }

    a#nav-home-tab {
        margin-left: 1.1rem !important;
    }

    .abt-inf-section-kjdk5.mr-3 {
        margin: 0 1rem !important;
    }

    .section-i2001 {
        padding: 1.6rem 0 !important;
    }

    .sc-star-dkfj.text-center {
        padding: 0.5rem 0 2rem 0;
    }

    #nav-tab-dsdfslaskjdfkla .nav-item {
        width: 351px;
        margin: 0 0 1rem 0 !important;
    }

    section#section-I1 {
        margin-bottom: unset !important;
    }

    .col-sm-3.m-0.p-0.sdb-rfdfjk {
        width: 95%;
        margin: auto !important;
    }

    section#section-I1 {
        margin-bottom: 3rem;
    }

    .sdb-rfdfjk {
        border-left: unset !important;
        padding-left: unset !important;
    }

    .logsc-i-001dd2.d-flex {
        justify-content: flex-start;
    }

    .logsc-i-001dd.d-flex {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    i#bnscevic {
        left: 4rem;
    }

    #OtherInstructorList .card {
        margin: 5px !important;
        padding: 10px !important;
    }

    #OtherInstructorList .col-sm-2 {
        width: 50%;
    }

    #OtherInstructorList .card-body.text-center {
        padding: 10px;
    }

    #OtherInstructorList h5.card-title.text-center {
        font-size: 16px;
    }
}

section#section-I1 .lstsc-outer a:hover {
    background: #f3a762 !important;
}

@media screen and (min-width: 800px) {
    div#navbarTogglerDemo03 {
        width: 38% !important;
        float: right;
    }

    header.header.active-h .container {
        min-width: 97% !important;
    }

    .col-sm-6.fr-brdr0w {
        border-right: 1px solid rgb(0, 0, 0, .1);
    }

    .str-str-0 {
        width: 50%;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
        margin-right: 0.5rem;
    }

    .lstsc-outer {
        padding: 1rem 0px 0px;
    }

    .cls-timimg-time-zx .cls-sc-outer {
        min-width: 200px !important;
    }
}




div#nav-tabContent {
    padding-bottom: 3rem;
    min-height: 48vh;
}

.logsc-i-001dd.d-flex {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: auto !important;
    padding-left: 0.5rem;
}

.logsc-i-001dd2.d-flex {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: auto !important;
    padding-left: 0.5rem;
}

.sc-for-licencesc-kdlsjfl {
    display: flex;
    flex-wrap: wrap;
}

p.for-licencesc-txt {
    margin-right: 0.5rem;
}


.msnry-img::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}


.msnry-img::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    max-height: 7px !important;
}

.msnry-img::-webkit-scrollbar-thumb {
    background-color: #ee8e64;
}

.logsc-i-001dd-outer img.ogsc-outer-dfd-img {
    border-radius: unset;
}

.certsc-i-00ddkc {
    margin-top: 1rem;
}

.edu-cnt-001 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

p.edu-cnt-txt {
    margin: unset;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 200;
    color: lightslategray;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.edu-cnt-outer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.edu-cnt-001 i {
    font-size: 2rem;
    color: #f3a762 !important;
    margin-right: 0.5rem;
}

.edu-cnt-outer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 0;
}

h4.usr-head-kfjkdj.usr-head-kfjkdj12 {
    padding: 0.6rem;
    text-shadow: -1px -1px 1px rgb(255 255 255 / 96%), 1px 1px 1px rgb(0 0 0 / 60%);
}

div#navbarTogglerDemo03 {
    width: 39%;
    float: right;
}


@media screen and (max-width: 1200px) and (min-width: 800px) {
    .logsc-i-001dd2.d-flex .logsc-outer-dfd p {
        white-space: pre-wrap !important;
    }

    .usr-img-outer-djfdk {
        margin-right: 0.8rem;
    }

    .str-str-0 {
        width: 113%;
    }

    div#navbarTogglerDemo03 {
        width: 47.7%;
    }
}

@media (max-width : 767px) {
    p#InstructorAboutDetails {
        padding: 10px;
    }

    div#BindBusinessElseDetail {
        margin: 10px;
    }

    .cls-sc-outer2a {
        padding: 0px !important;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: 0px;
    }

    .col-sm-6.fr-brdr0w {
        padding-left: 0px;
    }
}

@media (max-width:800px) {
    #Instructorbannerimage .banner-section {
        height: 17vh !important;
    }
}

@media(max-width :390px) {

    .banner-section {
        height: 50vh !important;
    }
}

a#insp-add-rw {
    border: 1px solid #f3a762;
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;
    min-width: max-content;
}

    a#insp-add-rw:hover {
        background: #F3a762;
        color: #FFF;
    }

#section-I1 .usr-dtl-dkljl {
    margin-left: 10px;
    width: 190px;
}
.page-center {
    max-width: 1380px !important;
}
img.usrimg {
    height: 6rem;
}
div#BindBusinessPersonClassDetailList {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
}
div#UpcomingEventsList {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 540px;
}
.btnViewMoreUpcomingClass {
    display: none !important;
}
a{
    color:#000;
}
    a#ViewMoreClassBtn {
        border: 1px solid #f3a762;
        color: #f3a762 !important;
    }
    a#BtnViewMoreUpcomingEvents {
        border: 1px solid #f3a762;
        color: #f3a762 !important;
    }
    a#showlessClassBtn {
        border: 1px solid #f3a762;
        color: #f3a762 !important;
    }
    a#showlessEventBtn {
        border-color: #f3a762;
        color: #f3a762 !important;
    }
div#BindBusinessPersonClassDetailList a#vmbtnjfdsklfjindfd12d {
    color: #f3a762 !important;
    border-color: #f3a762;
}
div#BindBusinessPersonClassDetailList a#vmbtnjfdsklfjindfd12d:hover {
    color: white !important;
    border-color: black !important;
    background: black !important;
}

.rowclsodkiekd .colclsodkiekd- {
    max-width: 20%;
}

.rowclsodkiekd .colclsodkiekd1 {
    min-width: 50%;
}