.badge-icon {
    height: 30px;
    width: 10%;
}
.experience_sec .col-md-12 {
    position: absolute;
    bottom: 30px;
}



.event-container-section .row {
    display: flex;
    align-items: center;
}

.event-image-container {
    text-align: center;
}

.event-content-container {
    padding-left: 30px; /* Adjust as needed */
}

.event-container-section:hover .date-time > h6 {
    color: #f3a762;
}

.event-container-section:hover .details > h5 {
    color: #f3a762;
}

.event-container-section {
    box-shadow: 0px 5px 5px -2px #ccc;
}

    .event-container-section:hover {
        border: solid 6px #f3a762;
    }

.event-cta-container a {
    border: 2px solid #f3a762;
    padding: 10px 19px 10px 23px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    color: #f3a762;
}

    .event-cta-container a:hover {
        background: #f3a762;
        border: 2px solid;
        color: #fff !important;
    }

.event-container-section {
    padding: 20px;
    margin-bottom: 16px;
}

.event-cta-container {
    /* padding: 45px 0px;*/
    padding: 14px 0px;
}

.event-content-container .col-sm-4 h6 {
    font-size: 30px;
    margin-bottom: 0;
    line-height: 34px;
    font-weight: 700;
}

.event-content-container p {
    font-size: 14px;
    color: #000;
    font-weight: 300;
    text-transform: uppercase;
}

.event-content-container .col-sm-8 .details h5 {
    font-size: 20px;
    font-weight: 400;
}


.btn-outline-dark:hover {
    color: #fff;
    background-color: #f3a762;
    border-color: #343a40;
}

.row .experience_sec {
    margin-top: 26px;
}

header.header.active-h {
    background-color: #f3a762;
    position: inherit;
}

header.header {
    background-color: #f3a762;
}

header.header {
    background: #f3a762;
}

input {
    height: 21px;
}

.user_profilecontentouter {
    margin-left: inherit;
    margin-right: inherit;
    background-color: #f3a762e0;
}

.user_profilecontentouter1 {
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-left: inherit;
    margin-right: inherit;
}

.security_img {
    width: 16%;
    height: 33px;
}

.security_name_sec {
    text-align: center;
    margin-top: -38px;
    margin-left: -43px;
    color: gray;
}

.masklock_img_sec {
    width: 3%;
    height: 34px;
}

.security_img_sec {
    width: 7%;
    height: 27px;
    margin-right: -28px;
    margin-top: -36px;
    position: sticky;
}
.experience_sec .img-size-sm {
    width: 32px;
    height: 32px;
}
.text-certificate-col {
    text-align: left;
    border: 1px solid #f3a762;
    transform: translate(-6px);
   /* margin-top: 22px;*/
    border-radius: 12px;
    /*margin-left: 234px;*/
    margin-right: -11px;
}
/*
        .rounded-circle.img-fluid.m-2 {
            width: 17%;
            height: 58px;
        }*/

.row.instructor1_row_sec {
    background: #f3a762;
    margin-left: inherit;
    margin-right: inherit;
    height: 37px;
}

.instructor1_id_sec {
    color: ghostwhite;
    font-size: 16px;
    margin-left: 76px;
}

.events-main {
    /*box-shadow: 0px 5px 5px -2px #ccc;*/
}

.experenice_sec {
    font-size: 15px;
    margin-top: 5px;
}

.primary-button.imgthumbsup {
    background: #f3a762;
    padding: 9px 10px;
    text-algin: center;
    border: none;
    border-radius: inherit;
    margin-right: 7px;
}

.primary-button.viewprofile_sec {
    background: #f3a762;
    padding: 9px 18px;
    text-align: center;
    border: none;
    border-radius: inherit;
    margin-right: 7px;
}


.primary-button.imgshare_sec {
    background: #f3a762;
    padding: 9px 2px;
    text-algin: center;
    border: none;
    border-radius: inherit;
}

.row.instructor_row_sec {
    background: #f3a762;
    margin-left: inherit;
    margin-right: inherit;
    height: 37px;
}

.instructor_id_sec {
    color: ghostwhite;
    font-size: 16px;
    line-height: 2;
}

.verified_sec {
    font-size: 12px;
}

.starsection {
    background-color: #f3a762;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,50%);
}

.certificate_sec {
    color: gray;
    margin-left: 41px;
    margin-top: -26px;
}

.verifying_sec {
    font-size: 12px;
    /*text-align: end;*/
    color: #f3a762;
}

.instructorcategoryname {
    background-color: ghostwhite;
    transform: translateX(14px);
}

.star-iner.star_inner_secdetail {
    background-color: white;
    width: 86%;
    display: flex;
    transform: skewX(150deg);
    height: 48px;
    justify-content: center;
}

.share_sec {
    height: 24px;
    width: 56%;
    margin-top: -7px;
    margin-right: 8px;
}

.thumbupimg_sec {
    height: 22px;
    width: 93%;
    margin-top: -12px;
}

.copy_sec {
    height: 35px;
    width: 20%;
}

.location_sec {
    height: 28px;
    width: 5%;
    margin-left: 14px;
}

.row.star_iner_row {
    margin-left: inherit;
    margin-right: inherit;
    width: 99%;
}

.col-md-2.star_transform_sec {
    transform: skewX(-63deg);
}

.star-iner.star_sec_inner_icon {
    background-color: white;
    width: 75%;
    display: flex;
    transform: skewX(229deg);
    height: 39px;
    justify-content: center;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,50%);
}

.row.staring_sec_row {
    background: #f3a762;
    margin-left: inherit;
    margin-right: inherit;
    height: 40px;
}

.primary-button.shareimg {
    background: #f3a762;
    padding: 9px 2px;
    text-algin: center;
    border: none;
    border-radius: inherit;
}

.primary-button.thumbupimg {
    background: #f3a762;
    padding: 9px 10px;
    text-algin: center;
    border: none;
    border-radius: inherit;
    margin-right: 7px;
}

.academyaddress {
    font-size: 24px;
}

.Academyname {
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px rgb(0 0 0 / 13%);
}

.headingthree {
    color: white;
    font-weight: 600;
}

.copy {
    color: ghostwhite;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.user_profile1 {
    margin-bottom: 3rem;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,50%);
}

.user_profile2 {
    margin-bottom: 3rem;
    border: 1px solid gray;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,50%);
    background-color: #ffd7b5;
}

.fa-solid.fa-star.star_color {
    color: lightgrey;
}

.copy_img_sec {
    height: 35px;
    width: 3%;
}

.instructor_img_sec {
    height: 140px;
    width: 81%;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,50%);
    margin-top: 9px;
}

.star-iner i {
    transform: skewX(-142deg);
    justify-content: center;
}

.col-md-4.instructor_info {
    padding-top: 12px;
   
}

.col-md-3.img_sec_instructor {
    text-align: end;
}

.instructor_name_sec {
    color: #f3a762;
    font-weight: 700;
    text-shadow: 2px 2px rgb(0 0 0 / 13%);
}

.category_sec {
    color: gray;
}

.MaskGroup_img_sec {
    height: 25px;
    width: auto;
}

.badge-icon {
    height: 25px;
    width: auto;
}

.col-md-5.text_sec {
    text-align: end;
    margin-bottom: -21px;
}

.cta.view {
    margin-top: 22px;
}

.like1_sec {
    height: 22px;
    width: 93%;
    margin-top: -12px;
}

.shareimg_section {
    height: 24px;
    width: 56%;
    margin-top: -7px;
    margin-right: 8px;
}

.col-md-10.pr-0.pb-3.text_sec {
    text-align: end;
}

.verified_img_sec_mask {
    height: 23px;
    width: 6%;
}

.box {
    color: ghostwhite;
    font-size: 18px;
    /*text-align: center;*/
    /* margin-left: 75px;*/
}

.buttons:hover {
    transform: translateY(-4px);
}

.col-md-10.box_sec {
    padding: 5px;
}

.star-iner.star_inner_secdetail i.fa-solid.fa-star.color_full {
    margin-right: 3px;
}

.fa-solid.fa-star.color_full.transform_section {
    margin-top: 16px;
    transform: skewX(-148deg);
}

.fa-solid.fa-star.color_full.trans_sec {
    margin-top: 16px;
    transform: skewX(-148deg);
    color: lightgrey;
}

.row.quality {
    padding: 20px 10px;
}

.img_sec {
    position: absolute;
    z-index: 1111111;
    top: -10px;
    width: 10%;
    left: 20px;
}

.Mask {
    height: 20px;
    width: 20px;
    /*width: 16%;*/
   /* margin-left: 114px;*/
}

.trademark {
    height: 20px;
    width: 16%;
    margin-left: 114px;
}

.trandmark1 {
    height: 20px;
    width: 16%;
    margin-left: 114px;
}

.buttons {
    background: White;
    color: #f3a762;
    padding: 9px 31px 0px 33px;
    text-align: center;
    border: none;
    border-radius: inherit;
    margin-right: 7px;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,50%);
}

.box_else_sec {
    color: #f3a762;
    /* transform: translateY(6px);*/
}


.profile-name > * {
    margin: 0px;
}

.new-class-template .details-cards > *, .new-class-template .day-title, .new-class-template .time-title {
    font-weight: 700 !important;
    font-size: 20px !important;
    margin-bottom: 15px !important;
}

.new-class-template .classes-card-flex {
    border: 1px solid #eee;
    padding: 40px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,10%);
    border-radius: 10px;
    margin-bottom: 40px;
}

.new-class-template h5.update-text {
    text-transform: uppercase;
    color: rgba(0,0,0,65%) !important;
}

.new-class-template .class-card-items-in {
    display: flex;
}

.new-class-template .star-iner {
    padding-left: 50px;
}

    .new-class-template .star-iner .color_full {
        color: #f3a762;
    }

.new-class-template h5.class-title {
    color: #f3a762;
    font-weight: 700;
}

.new-class-template p.membership-text {
    margin-bottom: 0;
    text-transform: capitalize;
}

.new-class-template .side-profile {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.new-class-template .cta-iner {
    margin-top: auto;
}

.new-class-template .class-card-items {
    display: flex;
    justify-content: space-between;
}

.new-class-template span.time {
    margin-left: 30px;
    color: #000;
}

.new-class-template .details-cards > :first-child {
    color: #f3a762;
}


.new-class-template .koch-profile {
    flex: 0 0 auto;
}

.new-class-template .koch-profile-iner > img {
    height: 110px;
    width: 110px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #eee;
    padding: 8px;
}

.new-class-template .profile-iner {
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,20%);
    border-radius: 5px;
    justify-content: space-between;
}

.new-class-template .profile-main {
    display: flex;
    align-items: center;
}

.new-class-template .classes-cards .profile-img > img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 10px 10px 0 rgba(0,0,0,50%);
    object-position: center;
}

.new-class-template .profile-name {
    padding-left: 20px;
}

.new-class-template h5.text-month {
    margin-bottom: 0;
    font-weight: 700;
}

.new-class-template h5.center-text {
    color: #f3a762;
    font-size: 31px !important;
}

.new-class-template p.Certified-text {
    margin-bottom: 0;
    font-weight: 400;
}

.new-class-template .profile-name > h4 {
    font-size: 24px;
    font-weight: 600;
    margin: 0px;
}

.new-class-template .time-details {
    flex: 1;
    padding: 0 50px;
}



.new-class-template .location-iner {
    display: flex;
    align-items: center;
}

    .new-class-template .location-iner i {
        padding-left: 22px;
    }

.new-class-template .koch-profile-iner {
    margin: 15px 0;
}

.new-class-template .days-time {
    text-align: center;
}

.new-class-template h5.date-title {
    font-size: 45px;
    font-weight: 900;
    color: #f3a762;
}

.new-class-template .form-section .half-width > input,
.new-class-template .form-section .half-width > select {
    padding: 12px 10px;
    width: 100%;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    color: #000;
    outline: 0;
    font-size: 15px;
    height: 50px;
}

.new-class-template .form-section .form-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.new-class-template .check-box {
    display: flex;
    max-width: 1100px;
    margin: 60px auto 0;
    justify-content: center;
    flex-wrap: wrap;
}

.new-class-template input[type=checkbox] {
    position: relative;
    border: 4px solid #f3a762;
    border-radius: 2px;
    background: #fff;
    cursor: pointer;
    line-height: 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
}

.new-class-template .classes-cards {
    padding: 80px 0;
}

.new-class-template .page-center {
    max-width: 1218px;
    margin: 0 auto;
    padding: 0 20px;
}

.new-class-template .check-box-sec {
    display: flex;
    margin: 5px 10px;
    flex: 1;
    align-items: flex-end;
}

    .new-class-template .check-box-sec label {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0;
        padding-left: 20px;
    }

.new-class-template p.Certified-text > i {
    color: #00FF00;
}

.new-class-template .form-section .submit-cta > button {
    height: 50px;
}

.new-class-template .form-section .half-width {
    flex: 1;
    margin: 0 10px;
}

.new-class-template .form-section {
    padding: 100px 0;
    width: 100%;
}

    .new-class-template .form-section .submit-cta {
        flex: 0 0 auto;
        padding-left: 10px;
    }

 
/* Event section*/

.events-section .events-inr {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    border: solid 6px transparent;
    padding: 20px;
    margin-bottom: 16px;
}

.events-section {
    padding: 80px 0 0;
    text-align: center;
    background: #fff;
}

    .events-section .events-img {
        flex: 0 0 300px;
        max-width: 100%;
    }

.events-img {
    padding: 0 15px;
}

.events-section .events-img > img {
    width: 300px;
    height: 130px;
    object-fit: cover;
    object-position: center;
    display: block;
    border: 1px solid #000;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 50%);
}

.events-section .date-time {
    flex: 0 0 22%;
    position: relative;
    /* padding: 0 70px;*/
    /* max-width: 22%;*/
}

.events-section .single-show-ticket h6 {
    font-size: 30px;
    margin-bottom: 0;
    line-height: 34px;
    font-weight: 700;
}

h6 {
    margin: 0 0 10px 0;
}

.events-section .single-show-ticket p {
    font-size: 14px;
    color: #000;
    font-weight: 300;
    text-transform: uppercase;
}

.events-section .details {
    flex: 1;
    /* padding-left: 70px;*/
}

.events-section .cta {
    flex: 0 0 20%;
    text-align: right;
    max-width: 20%;
}

    .events-section .cta > a {
        border: 2px solid #f3a762;
        padding: 12px 40px;
        color: #f3a762;
        font-size: 16px;
        font-weight: 700;
        border-radius: 5px;
    }

        .events-section .cta > a:hover {
            background: #f3a762;
            border: 2px solid;
            color: #fff !important;
        }

.events-inr:hover {
    box-shadow: 0px 36px 36.9px 1.1px rgba(0, 0, 0, 0.16), inset -0.5px -0.9px 0 0 rgba(255, 255, 255, 0.75);
    transition: all .5s;
    border: solid 6px #f3a762;
}

    .events-inr:hover .date-time > h6 {
        color: #f3a762;
    }

.events-section .single-show-ticket h6 {
    font-size: 30px;
    margin-bottom: 0;
    line-height: 34px;
    font-weight: 700;
}

.events-inr:hover .details > h5 {
    color: #f3a762;
}

.events-section .single-show-ticket h5 {
    font-size: 20px;
    font-weight: 400;
}

#sectionAcademies, #sectionInstructors {
    padding: 80px 0;
}



.category {
    color: #f3a762;
}

:root {
    --mainColor: #920948;
}

.new-templates .search-banner {
    padding: 200px 0 300px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.new-templates .search-inr {
    max-width: 1100px;
    margin: 0 auto;
    background: #920948d1;
    padding: 40px 0 60px;
    position: relative;
    z-index: 1;
    margin-top: -90px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

    .new-templates .search-inr .search {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

.new-templates .search > div {
    margin-right: 10px;
    margin-bottom: 20px;
}

.new-templates .submit-btn {
    display: flex;
    align-items: flex-end;
}

.new-templates .location-inr > h4, .new-templates .types h4 {
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.new-templates .search-inr .loc-icon {
    position: relative;
}

    .new-templates .search-inr .loc-icon:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f3c5";
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

.new-templates .search-inr button.search-btn {
    background-color: #fff;
    font-size: 16px;
    padding: 8px 40px;
    border: 0;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
}

.new-templates .search-inr input {
    height: 50px;
    padding: 10px 10px 10px 30px;
    outline: 0;
    width: 100%;
    background-color: #fff;
    border: 0;
}
/* .new-templates .btn-item>a {
  padding: 10px 40px;
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
  margin: 5px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  } */
/*
  .new-templates .three-btn {
  text-align: center;
  margin: 50px 0;
  } */
/* classes cards */
.new-templates .classes-cards .profile-img > img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 10px 10px 0 rgba(0,0,0,50%);
    object-position: center;
}

.new-templates .koch-profile-iner > img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    box-shadow: 5px 10px 10px 0 rgba(0,0,0,50%);
}

.new-templates .profile-iner {
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,20%);
    border-radius: 5px;
    justify-content: space-between;
}

.new-templates .class-card-items-in {
    flex: 1;
}

.new-templates .class-card-items {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0,0,20%);
    margin-bottom: 30px;
}

.new-templates .details-cards > *, .new-templates .day-title, .new-templates .time-title {
    font-weight: 700;
    font-size: 20px;
}

.new-templates .days-time > * {
    text-transform: uppercase;
    font-size: 20px;
}

.new-templates .location-iner {
    display: flex;
    align-items: center;
}

    .new-templates .location-iner i {
        padding-left: 70px;
        font-size: 25px;
    }

.new-templates .days-time {
    padding-right: 20px;
}

.new-templates .koch-profile {
    flex: 0 0 35%;
    max-width: 35%;
    justify-content: flex-end;
}

.new-templates .profile-main {
    display: flex;
    align-items: center;
}

.new-templates .koch-profile-iner {
    text-align: center;
}

.new-templates .certified-koch > i {
    color: #00FF00;
}

.new-templates h5.certified-koch {
    font-size: 20px;
    font-weight: 600;
}

.new-templates h5.koch-name {
    margin-top: 12px;
    font-weight: 600;
}

.new-templates p.koch-position {
    font-weight: 500;
}

.new-templates .profile-name > h4 {
    font-size: 24px;
    font-weight: 600;
}

.new-templates .profile-name {
    padding-left: 20px;
}

.new-templates p.Certified-text {
    margin-bottom: 0;
    font-weight: 400;
}

    .new-templates p.Certified-text > i {
        color: #00FF00;
    }

.new-templates .star-iner .color_full {
    color: #f3a762;
    margin-top: 11px;
}

.fa-solid.fa-star {
    margin-top: 11px;
    margin-left: 2px;
}

.new-templates .time-details {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}


.new-templates .koch-social-follow > a {
    color: #000;
    height: 40px;
    border: 1px solid #000;
    border-radius: 2px;
    margin: 5px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

    .new-templates .koch-social-follow > a:hover {
        transform: translateY(-5px);
    }

.new-templates .form-section .half-width > input,
.new-templates .form-section .half-width > select {
    padding: 12px 10px;
    width: 100%;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    color: #000;
    outline: 0;
    font-size: 15px;
    height: 50px;
}

.new-templates .form-section .form-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.new-templates .check-box {
    display: flex;
    align-items: center;
    max-width: 973px;
    margin: 60px auto 0;
    justify-content: center;
    flex-wrap: wrap;
}

.new-templates input[type=checkbox] {
    position: relative;
    border: 4px solid var(--mainColor);
    border-radius: 2px;
    background: #fff;
    cursor: pointer;
    line-height: 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
}

.new-templates .check-box-sec {
    align-items: center;
    display: flex;
    margin: 5px 20px;
    flex: 1;
}
    /* input[type=checkbox]:before {
      content: '';
      position: absolute;
      right: 50%;
      top: 50%;
      width: 4px;
      height: 10px;
      border: solid #FFF;
      border-width: 0 2px 2px 0;
      margin: -1px -1px 0 -1px;
      transform: rotate(45deg) translate(-50%, -50%);
      z-index: 2;
  } */
    .new-templates .check-box-sec label {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
        padding-left: 20px;
    }

.new-templates .classes-cards {
    padding: 80px 0;
}

.new-templates .form-section .submit-cta > button {
    height: 50px;
}

.new-templates .form-section .half-width {
    flex: 1;
    margin: 0 10px;
}

.new-templates .form-section {
    padding: 100px 0;
    width: 100%;
}

    .new-templates .form-section .submit-cta {
        flex: 0 0 auto;
        padding-left: 10px;
    }


.check-box-sec label {
    cursor: pointer;
}

#sectionAcademies, #sectionInstructors {
    padding: 80px 0;
}

.Mask {
    height: 20px;
    width: 20px;
    /*width: 16%;*/
    /*margin-left: 114px;*/
}

.MaskGroup_img_sec {
    height: 25px;
    width: auto;
}

.badge-icon {
    height: 25px;
    width: auto;
}

/* -----------  Google Maps autocomplete ----------------------*/
#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#infowindow-content {
    display: inline;
}

/* -----------  Google Maps autocomplete ----------------------*/

.academies-section .img-container {
    width: 150px;
    margin: 0px auto;
    height: 150px;
    display: flex;
    align-items: center;
}

.acd-info {
    width: 100%;
}


.slick-slide:hover {
    transform: none;
    transition-duration: 0.5s;
}

.slick-list.draggable {
    padding-bottom: 0px;
}

section#adv-slider-section {
    line-height: 0;
}

.adv-slider {
    max-height: 220px;
    min-height: 220px;
    overflow: hidden;
}

.form-items label {
    color: #fff;
}

.new-templates .form-section {
    margin-top: -20px;
}

.col-md-3.img_sec_instructor {
    margin: 15px 5px;
}

.radio-selection-section {
    margin-top: 50px;
    display: block;
}

ul.input-radio-option {
    display: block;
    text-align: center;
}

    ul.input-radio-option li {
        display: inline-block;
        width: 15%;
        color: #FFF;
        font-weight: 600;
    }

.input-radio-option label.radio-inline {
    width: 100%;
    cursor: pointer;
}

ul.input-radio-option input {
    width: 25% !important;
    vertical-align: bottom;
}





@media(max-width:580px) {
    .star-iner.star_sec_inner_icon {
        width: 142% !important;
    }
    .cta.view {
        margin-top: 52px;
    }
    .row .experience_sec {
        margin-top: inherit;
        margin-bottom: -8px;
    }
    .shareimg_section {
        height: 24px;
        width: 90%;
        margin-top: -7px;
        margin-right: 8px;
    }
    .col-md-5.text_sec {
     margin-bottom: 30px;
    }
    .col-md-4.instructor_info {
        width: 65%;
    }
    .col-md-3.img_sec_instructor {
        width: 30%;
    }
    .academies-section .img-container{
        margin: 0px;
    }
    .academies-section .col-md-10.box_sec {
        width: 75%;
    }
    
    .star_iner_row .col-md-10.instructorcategoryname {
        max-width: 73%;
    }
    .academies-section .col-md-5.cta_btn_section {
        width: 30% !important;
        text-align: center !important;
    }
    .cta{
        margin-top: inherit;
    }
    .academies-section .col-md-5 {
        width: 45%;
    }
    
    .academies-section .col-md-2 {
        width: 25%;
        text-align: center !important;
    }
    .academies-section .img-container {
        width: 100px !important;
        height: 100px !important;
        margin: 0px auto !important;
    }
    .cta_btn_section .primary-button {
        margin-top: 15px;
    }
    .starsection i.fa-solid.fa-star.color_full.trans_sec {
        font-size: 10px;
    }

    .training-main .cards-flex .date-year > .date {
        font-size: 15px;
    }

    .new-class-template .classes-card-flex {
        padding: 30px;
    }

    .new-class-template .star-iner {
        flex: 0 0 100%;
        margin-top: 10px;
        padding-left: 0;
        text-align: center;
    }

    .new-class-template .profile-img {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .new-class-template .profile-name {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
    }

    .new-class-template .profile-main {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .new-class-template .profile-iner {
        justify-content: center;
    }

    .input-radio-option li {
        /*width: 49% !important;*/
        width: 35% !important;
        margin-bottom: 10px;
    }
}

@media(max-width:768px) {
    .new-class-template .form-section {
        padding: 60px 0;
    }

        .new-class-template .form-section .form-items > div {
            flex: 0 0 100%;
            margin: 0 0 30px 0;
        }

        .new-class-template .form-section .form-items {
            justify-content: center;
        }

    .new-class-template .check-box {
        margin-top: 30px;
    }

    .new-templates .form-section {
        padding: 60px 0;
    }

        .new-templates .form-section .form-items > div {
            flex: 0 0 100%;
            margin: 0 0 30px 0;
        }

        .new-templates .form-section .form-items {
            justify-content: center;
        }

    .new-templates .check-box {
        margin-top: 30px;
    }

    .new-templates .search-banner {
        padding: 100px 0;
    }

    .new-templates .days-time {
        padding-right: 0;
        flex: 0 0 100%;
        text-align: center;
    }

    .new-templates .details-cards {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }

    .new-templates .location-iner i {
        padding-left: 10px;
    }

    .new-templates .location-iner {
        justify-content: center;
    }

    .new-templates .koch-profile-iner > img {
        width: 120px;
        height: 120px;
    }

    .new-templates .time-details {
        flex-wrap: wrap;
    }

    .input-radio-option li {
        /*width: 49% !important;*/
        width: 18% !important;
        margin-bottom: 10px;
    }
}

@media(max-width:896px) {
    .training-main .cards-flex .date-year > .date {
        font-size: 15px;
        color: #f3a762;
        text-align: center;
        font-weight: 600;
    }

    .training-main .cards-flex .info-sec > *:first-child {
        font-size: 17px;
    }

    .star_iner_row .col-md-2.starsection {
        max-width: 32% !important;
    }

    .input-radio-option li {
        width: 32% !important;
    }
    
}

@media(max-width:1024px) {
    .new-class-template .form-section .submit-cta {
        flex: 0 0 100%;
        margin-top: 40px;
        text-align: center;
        padding-left: 0;
    }


    .new-class-template .side-profile {
        flex: 0 0 100%;
        max-width: 100%;
        align-items: center;
    }

    .new-class-template .koch-profile {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }

    .new-class-template .class-card-items-in {
        flex-wrap: wrap;
    }


    .new-class-template .class-title-iner {
        text-align: center;
    }

    .new-class-template .class-card-items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .new-class-template .time-details {
        text-align: center;
        padding: 0;
        margin-top: 30px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 30px 0;
        margin-bottom: 30px;
    }

    .new-class-template .cta-iner {
        margin-top: 30px;
    }

    .new-templates .form-section .submit-cta {
        flex: 0 0 100%;
        margin-top: 40px;
        text-align: center;
        padding-left: 0;
    }

    .new-templates .class-card-items-in {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .new-templates .profile-iner {
        margin: 0 auto;
    }

    .new-templates .koch-profile {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
        margin-top: 20px;
    }
}