:root {
    --anchorColor: #000;
    --anchorColorHover: #920948;
    --headingColor: #222222;
    --footerTextColor: #fff;
    --mainColor: #f3a762 !important;
    --bodyColor: #333333;
    --firstColor: #A9A9A9;
    --secondColor: #f8bf14;
    --boxshadow: 5px 5px 10px 0 rgba(0,0,0,50%);
}
* {
    scrollbar-width: auto;
    scrollbar-color: #f3a762 #fff;
}
.readmorebtn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
}

.event-dtls {
    position: relative;
}

.readmorebtn {
    border: 2px solid;
    color: #fff;
}

.readmorebtn:hover {
    border: 2px solid #f3a762;
    background: white;
    color: #f3a762 !important;
}

.imageDisplay {
    width: 100%;
    height: 160px;
    margin: 10px;
}
.video-iner-sec {
    margin-left: 10px;
    margin-right: 10px;
}
.header_businessname {
    margin-left: 10px;
    color: black;
    font-weight: 500;
}

.header .logo a img {
    max-width: 100% !important;
}

div#BusinessVideoDetail iframe {
    width: 95%;
    height: 92%;
}

.btnViewAllClass {
    display: none !important;
}

:root {
    --mainColor: #920948;
}

/* ---- button ---- */
/* ---- isotope ---- */
/* ---- .element-item ---- */
.index-template .our-courses .button-group > .button {
    background: #fff;
    border: 1px solid #f3a762;
    outline: 0;
    border-radius: 5px;
    color: #f3a762;
    padding: 8px;
    outline: 0;
    margin-bottom: 10px;
}

.index-template .our-courses .button-group > .button:hover {
    background-color: #f3a762;
    color: #fff;
}


.index-template .our-courses .button-group > .button:active,
.index-template .our-courses .button-group > .button.is-checked {
    background-color: #f3a762;
    color: white;
}

.index-template .our-courses .element-item {
    position: relative;
    float: left;
    width: 24%;
    margin: 5px 5px 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,30%);
    background: #fff;
}

.index-template .our-courses .element-item .card-iner .img-dance > img {
    height: 250px;
    object-fit: cover;
    display: block;
    background-position: center;
    width: 100%;
}

.index-template .our-courses .dance-text {
    padding: 15px;
}

.index-template .our-courses .title {
    text-align: center;
    margin-bottom: 50px;
}

.index-template .our-courses .button-group.filters-button-group {
    text-align: center;
    margin-bottom: 50px;
}

@media(max-width:1120px) {
    .index-template .our-courses .element-item {
        width: 31%;
    }
}

@media(max-width:767px) {
    .index-template .our-courses {
        padding-top: 50px;
    }

    .index-template .our-courses .title, .index-template .our-courses .button-group.filters-button-group {
        margin-bottom: 30px;
    }

    .gallery-section {
        padding: 169px 0;
    }

    .header .logo a img {
        max-width: 65px !important;
    }
    .gallery-section {
        padding: 534px 0;
    }

    .readmorebtn {
        bottom: 22px;
    }
}

@media(max-width:620px) {
    .index-template .our-courses .element-item {
        width: 100%;
        margin: 0 0 20px 0;
    }
}


/*---------branch css start---------------*/
#BindBranches_Section .page-center {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}

.our-branches .branche-tag {
    background: #f3a762 !important;
}

.our-branches .table-heading {
    background: #f3a762 !important;
}

.our-branches .table-heading:before {
    background: #f3a762 !important;
}

.our-branches .branches-city-text a {
    color: #fff !important;
    border: 1px solid #f3a762 !important;
}

#BusinessBranchesTotalRecordDetail .number-of-branches-text {
    background: #f3a762 !important;
}

.our-branches .branch-cta > a {
    background: #f3a762 !important;
}

.our-branches li.branches-city-text.active a, .our-branches li.branches-city-text a:hover {
    background-color: #f3a762 !important;
    color: #fff !important;
}

.branches-cards-section .branches-cards-title {
    background: #f3a762 !important;
}

.branches-cards-section .branch-card-sec-flex {
    border-left: 20px solid #f3a762 !important;
    border-bottom: 40px solid #f3a762 !important;
    border-right: 20px solid #f3a762 !important;
}

.branches-cards-section span.visit-tag {
    background: #f3a762 !important;
}

.our-branches .branch-cta > a:hover {
    background-color: #fff !important;
    color: #f3a762;
    border-color: #f3a762;
}
/*---------branch css end---------------*/
/*---------branch css start from classic dance------------*/
.our-branches {
    background: #fff;
    padding: 100px 0;
}
.our-branches .branche-tag {
    display: inline-block;
    padding: 10px 20px;
    min-width: 150px;
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 20px;
    box-shadow: var(--box-shadow);
    text-align: center;
}
.our-branches .branches-table-section {
    margin-top: 40px;
}
.our-branches .table-heading {
    display: flex;
    padding: 15px;
    border-radius: 2px;
    position: relative;
    margin-bottom: 35px;
    box-shadow: var(--box-shadow);
    flex-wrap: wrap;
    align-items: center;
}
.our-branches .table-heading > div {
    flex: 0 0 calc(100%/4);
    color: #fff;
    font-weight: 700;
    padding-right: 20px;
}
.our-branches .heading-item.number-of-branches {
    text-align: center;
}
.our-branches .table-heading > div {
    flex: 0 0 calc(100%/4);
    color: #fff;
    font-weight: 700;
    padding-right: 20px;
}
.our-branches .table-heading > div {
    flex: 0 0 calc(100%/4);
    color: #fff;
    font-weight: 700;
    padding-right: 20px;
}
.our-branches .branches-items-flex {
    display: flex;
    margin: 0 -15px;
}
.branches-items-flex {
    overflow-x: auto;
}
.our-branches .branches-row {
    flex: 0 0 calc(100%/4 - 30px);
    margin: 0 15px;
}
.our-branches .branches-item {
    margin-bottom: 25px;
    text-align: left;
}
ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}
.our-branches .branches-city-text a {
    padding: 10px 20px;
    min-width: 200px;
    display: block;
    margin-bottom: 25px;
    background-color: #ffffff;
}
.our-branches .branches-city-text a, .our-branches .number-of-branches-text {
    background: #f3a762;
    font-size: 18px;
    font-weight: 700;
    box-shadow: var(--box-shadow);
    text-align: center;
    height: 45px;
    color:#fff;
}
a, i, svg {
    transition: all 0.3s ease-out;
    text-decoration: none;
}
.our-branches .branches-row {
    flex: 0 0 calc(100%/4 - 30px);
    margin: 0 15px;
}

.our-branches .number-of-branches-text {
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
}
.our-branches .branches-city-text a, .our-branches .number-of-branches-text {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    box-shadow: var(--box-shadow);
    height: 45px;
}

.our-branches .branch-logo > img {
    max-width: 100px;
}
.our-branches .branches-row:last-child {
    border-bottom: 0;
}
.our-branches .branch-cta {
    text-align: right;
}
.our-branches .branch-cta > a {
    display: inline-block;
    padding: 10px 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
    text-align: center;
    box-shadow: var(--box-shadow);
    border: 1px solid transparent;
    min-width: 150px;
}
a, i, svg {
    transition: all 0.3s ease-out;
    text-decoration: none;
}
.branches-cards-section {
    padding-bottom: 100px;
}
.page-center {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
.branches-cards-section .branches-cards-title {
    display: flex;
    padding: 15px 20px;
    border-radius: 2px;
    position: relative;
    box-shadow: var(--box-shadow);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.branches-cards-section .branch-card-sec-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: var(--box-shadow);
}

.our-branches li.branches-city-text.active a, .our-branches li.branches-city-text a:hover {
    background-color: #fff !important;
    color: #f3a762 !important;
}
.branches-cards-section span.visit-tag {
    background: var(--mainColor);
    padding: 5px;
    text-align: center;
    min-width: 120px;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.branches-cards-section .branch-card-sec-flex .branch-flex-items {
    flex: 0 0 calc(100%/4);
    text-align: center;
    padding: 20px;
}

.branches-cards-section .logo-iner > img {
    max-width: 50px;
    display: block;
    margin: 0 auto;
}
.branches-cards-section .branch-content {
    margin-top: 20px;
}

.branches-cards-section h6.branch-place {
    text-transform: uppercase;
}

.branches-cards-section h6.branch-place {
    font-size: 20px;
    font-weight: 600;
}
.branches-cards-section p.branch-description {
    color: #6a6a6a;
    margin-bottom: 0;
}
p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
}
/*---------branch css end from classic dance------------*/
.header .menu > ul > li > a {
    padding: 30px 0;
    display: inline-block;
    position: relative;
    color: black;
    font-weight: 600 !important;
    font-size: 18px;
}
header.header {
    background:#fff !important; 
}

.primary-button {
    background: #f3a762 !important;
    border: 1px solid #f3a762;
    color: #fff !important;
}
.header .nav-sec > .menu > ul > li:not(:last-child) > a:hover {
    color: var(--mainColor) !important;
}
.nav-sec > .menu > ul > li:not(:last-child) > a:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 28px;
    height: 2px;
    border-radius: 2px;
    transform: scaleX(var(--scale));
    transform-origin: var(--x) 50%;
    background: var(--mainColor) !important;
}
.maintitle_Franchise {
    text-align: center;
    margin-bottom: 30px;
}
#AllBranchCard_Section .subtitle_Franchise {
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: .1em;
    font-size: 14px;
    color: #fff;
    position: relative;
    line-height: 28px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 16px;
    text-align: center;
    padding: 0 40px;
}
h2.heading-title {
    color: #f3a762;
}



.contact-col-businesshours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.contact-col-businesshours .businessHours {
    width: 100%;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 20px;
}

.contact-col-businesshours .businesshours_details {
    width: 100%;
}

.contact-col-businesshours div#BindBusinessTiming {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

    .contact-col-businesshours div#BindBusinessTiming .day {
        color: #f3a762;
        font-weight: 700;
    }

@media(max-width:991px) {
    .contact-col-businesshours div#BindBusinessTiming {
        display: block;
    }

    .contact-col-businesshours #BindBusinessTiming .time-schdule {
        margin-bottom: 10px;
    }
}
.index-template .contact-form .contact-form-flex {
    max-width: 1250px !important;
}

#PageOptionPopup .modal-content {
    padding: 30px;
}

#PageOptionPopup .form-group.col-6.d-flex {
    align-items: center;
}

h5#roomname {
    margin-left: 10px;
}

#PageOptionPopup form {
    margin-top: 20px;
}

.submitFormbutton {
    text-align: center;
}

#PageOptionPopup label.control-label {
    font-weight: 500;
}

.submitFormbutton button.Submitbtn {
    background: #f3a76a;
    color: #fff;
    border: 1px solid;
    padding: 10px;
    border-radius: 10%;
}

.submitFormbutton button.Submitbtn:hover {
    background: #fff;
    color: #f3a76a;
    border: 1px solid #f3a76a;
}
#BindBusinessTiming .time-schdule {
    min-width: 150px;
}
#BindBusinessInstructorDetail .social-icon a {
    text-decoration: none;
    border: 1px solid #f3a762;
}

div#BindBusinessClassesDetail {
    max-height: 600px;
    overflow-y: auto;
    padding-right: 15px;
}
div#BindBusinessInstructorClassInformation{
    max-height: 600px;
    overflow-y: auto;
    padding-right: 15px;
}
#BindBusinessAllClassDetail .grid-items a {
    font-weight: 600;
}
.filters.open-filter a#ShowAllActiveClasses, .filters.open-filter a#AllInstructorClassesRecord {
    color: #f3a762;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 16px;
}
#pricingtableDetails tr.is_active {
    background: #f3a762 !important;
}
#roomdetailsByPricetable .pricing-room-in {
    width: 100% !important;
}

.header .header-main .nav-sec > .menu > ul > li a.active_menu {
    color: var(--mainColor) !important;
}
.nav-sec > .menu > ul > li a.active_menu:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 28px;
    height: 2px;
    border-radius: 2px;
    transform: scaleX(var(--scale));
    transform-origin: var(--x) 50%;
    background: var(--mainColor) !important;
    --scale: 1 !important;
}

/* Enquiry modal Room Page */
div#PageOptionPopup .modal-content {
    padding: 0px;
}
div#PageOptionPopup .modal-body {
    padding: 10px 25px;
}
div#PageOptionPopup .modal-header h2 {
    font-size: 24px !important;
}
div#PageOptionPopup h5#roomname {
    width: 75%;
    font-size: 20px;
}
div#PageOptionPopup h5#roomname span.room-price {
    float: right;
}
p.small {
    margin-bottom: 10px;
}
div#BindBusinessSingleEventDetail {
    position: relative;
}
#BindBusinessShowAllClassDetail {
    max-height: 720px !important;
    overflow-y: auto !important;
}
#pricingtableDetails tr.is_active td{
    color: #fff !important;
}
a.classLink {
    cursor: pointer;
}
.rooms-template .gallery-section .img-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#Imagedetails .img-items img {
    min-height: 210px;
}
#PageOptionPopup div#roomname {
    width: 50%;
    font-weight:600;
}

#PageOptionPopup div#roomPrice {
    width: 25%;
    text-align: right;
    font-weight: 600;
}
.index-template .event-slider-sec .event-sm-items {
    display: flex;
    align-items: center;
    background-color: #efefef;
    padding: 10px 10px;
    width: 100%;
}


.index-template .event-slider-sec .sm-cards-iner {
    padding: 10px;
    width: 320px;
}
.small a {
    color: #000;
    text-decoration: none;
}
ul li a {
    text-decoration: none;
}
a {
    text-decoration: none;
}
#instructor-teacher-list > .slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #f3a672;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.index-template .hero-banner-video {
    position: relative;
    padding-bottom: 40%;
    width: 100%;
    overflow: hidden;
    padding-top: 50px;
    height: 60% !important;
}

    .index-template .hero-banner-video video {
        object-fit: cover;
        height: 100%;
        position: absolute;
        top: 0px;
        width: 100%;
        left: 0;
    }

h2.form-heading-contact-us-page-footer {
    font-size: 26px;
    color: white;
    width: 35px;
}
#customers {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--mainColor);
    color: white;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 7px;
    font-weight: 500;
}
div#table-sectionid {
    padding: 60px 0px;
    background: #f7f7f7;
}
.title.section-title {
    margin-bottom: 60px;
    text-align: center;
}
div#table-sectionid h3 {
    font-size: 26px;
}

/*Affilated University*/
.univercity-tab {
    padding-top: unset;
}

.univercity-tab {
    padding: 80px 0 0;
}
.univercity-tab .uni-col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.uni-left {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 50px;
}
.uni-right {
    flex: 0 0 50%;
    max-width: 50%;
}
.title-uni > h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}
.uni-image {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 30%);
}
.uni-image img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}
.uni-image p {
    padding: 20px;
}
.uni-right .title-uni {
    display: none;
}
ul.tab-left-side-contenttion-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    height:400px;
    overflow: auto;
}
    ul.tab-left-side-contenttion-inner > li {
        cursor: pointer;
        text-align: center;
    }
.uni-right .uni-img > img {
    max-width: 80px;
    display: block;
    margin: 0 auto;
    min-height: 100px;
    object-fit: contain;
}
.uni-img p {
    text-transform: capitalize;
    color: #000;
    font-size: 16px;
}

@media (max-width: 991px) {
    .uni-left {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        order: 1;
    }
    .uni-right .title-uni {
        display: block;
    }
    .uni-left .title-uni {
        display: none;
    }
    .uni-right {
        flex: 0 0 100%;
        max-width: 100%;
    }
    ul.tab-left-side-contenttion-inner {
        grid-template-columns: repeat(4, 1fr);
        height: auto;
    }
    .univercity-tab .tabbing-img {
        margin-top: 40px;
    }
}
@media (max-width: 800px) {
    ul#BindBusinessContentUniversityLogoDetailList {
        height: 30vh;
    }
}

@media (max-width: 767px) {
    ul.tab-left-side-contenttion-inner {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 1024px) {
    ul.tab-left-side-contenttion-inner {
        grid-template-columns: repeat(3, 1fr);
    }
}