
.message-section .msg-logo {
    flex: 0 0 auto;
}

.message-section .msg-logo {
    text-align: center;
}



a {
    text-decoration: none;
    display: block;
}

a:hover {
    transition: all .3s;
}
.container{
    max-width: 1400px !important;
}
.page-center {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.active-h {
    background: #f3a762;
    border-bottom: 1px solid #ffffff85;
}

header.header {
    padding: 20px;
    width: 100%;
    /* box-shadow: 0 0 15px 0px rgb(0 0 0 / 50%); */
    display: flex;
    justify-content: flex-end;
    /*position: fixed;*/
    z-index: 3;
}

/* header.Sticky-header {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 2;
    top: 0;
    padding: 20px;
} */

.profile {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background: #fff;
}

.banner-sec {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15rem 0 10rem;
    position: relative;
}


.dance-img {
    padding: 0 15px;
}

.dance-sec {
    margin-bottom: 40px;
}

.events-slider {
    padding-top: 30px;
}

.dance-img a img {
    height: 300px;
    object-fit: cover;
    object-position: center;
    display: block;
}

img {
    width: 100%
}

.profile-name>* {
    margin: 20px 0 0 0;
    font-size: 18px;
}

.slick-dots li button:before {
    height: 7px;
    font-size: 0;
    width: 20px;
    border-radius: 5px;
    background: #000;
}

.slick-dots li button {
    width: 0;
    height: 0;
}

.btn-inr {
    flex: 0 0 calc(100%/5 - 20px);
    margin: 0 0 30px 10px;
}

.btn-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a.primary {
    box-shadow: 5px 8px 10px 0px rgb(0 0 0 / 19%);
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #000;
    color: #000;
}

.btn-secton {
    padding: 50px 0;
}

.logo-inr a img {
    max-width: 50px;
    display: block;
}

.logo-inr a {
    display: flex;
    justify-content: center;
}

/* .logo-cards {display: flex;justify-content: center;flex-wrap: wrap;} */
.dance-slider {
    padding-top: 50px;
}

.logo-inr {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10px;
}

.logo-inr a {
    padding: 10px;
}

.training-img a img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    height: 280px;
}

.training-main .slick-slide {
    padding: 0 15px;
}

.slick-list.draggable {
    padding-bottom: 40px;
}

.training-img a {
    transition: all .3s;
    display: block;
}

.logo-certi img {
    max-width: 45px;
}

.certi-logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.training-img a:hover {
    transform: scale(1.02);
}

.profile-img-text img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-img-text {
    text-align: center;
    margin-top: -40px;
}

.yoga-items {
    padding: 0 15px;
}

.yoga-card-img {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.img-soical-icons {
    padding-bottom: 30px;
}

.social-follow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.yoga-card-img>img {
    object-fit: cover;
    height: 200px;
    object-position: center;
}

.yoga-slider .slick-list.draggable {
    padding: 40px 0;
}

.items-card {
    background: #eee;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.social-inr {
    margin: 0 10px 10px 0;
}

.social-inr a i {
    font-size: 24px;
    color: #121111;
}

.social-inr a:hover {
    transform: translateY(-2px);
}

.dance-inr a img {
    max-width: 100px;
    display: block;
}

.dance-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dance-inr {
    margin: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    background: #fff;
    color: #222;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #000;
    color: #fff;
}

.button:active,
.button.is-checked {
    background-color: #000;
}

.button.is-checked {
    color: #fff;
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

.button-group:after {
    content: "";
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 15px;
    border: 0;
}

.events-img {
    padding: 0 15px;
}

.events-img a img {
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 60px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.element-item {
    position: relative;
    width: 24%;
    padding: 10px;
}

.img-inr img {
    display: block;
    height: 280px;
    object-fit: cover;
    object-position: center;
}

.filter-sec {
    padding-top: 30px;
}

.yoga-sec {
    padding-top: 30px;
}

.dance-img a {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.img-inr {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.location-inr>h4 {
    margin: 0 0 20px 0;
    color: #fff;
}

.search-inr {
    max-width: 900px;
    margin: 0 auto;
    background: #ea8a32b0;
    padding: 40px 0 60px;
    position: relative;
    z-index: 1;
    margin-top: -260px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.types h4 {
    margin: 0 0 20px 0;
    color: #fff;
}

.search-inr h4 {
    margin-bottom: 0.4rem !important;
}

button.search-btn {
    background-color: #935219;
    color: white;
    font-size: 16px;
    padding: 8px 40px;
    border: 0;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    box-shadow: 3px 3px 8px 0px;
}

.search-inr input {
    border: unset;
    border-radius: 10px;
    box-shadow: 1px 2px 8px #0606068a;
}

.loc-icon {
    position: relative;
}

.loc-icon:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f3c5";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

input {
    height: 40px;
    border: 1px solid #000;
    padding: 10px 10px 10px 30px;
    outline: 0;
    width: 100%;
    background-color: #fff;
}

select#format {
    height: 30px;
    border: 1px solid #000;
}

.search>div {
    margin-right: 10px;
    margin-bottom: 20px;
}

.submit-btn {
    display: flex;
    align-items: flex-end;
}

.link-cards img {
    max-width: 40px;
    flex: 0 0 40px;
    padding-right: 5px;
}

.links-in {
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
    margin: 0 auto 0 auto;
    justify-content: center;
}

.link-cards a {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    flex: 1;
}

.link-cards {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    display: flex;
    box-shadow: 2px 4px 10px #06060680;
    align-items: center;
    border-radius: 5px;
    background: #f3a762;
    /* border: 1px solid #000; */
    padding: 5px;
    flex: 0 0 150px;
    margin: 8px;
    justify-content: space-around;
}

.banner-content>* {
    margin: 0;
    color: white;
    font-size: 1.2rem;
    font-family: Times New Roman;
}

body,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.banner-sec:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgb(243 167 98 / 50%);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.banner-content {
    max-width: 380px;
    margin: -08rem 0rem 10rem auto;
    position: relative;
    z-index: 1;
    padding: 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

.search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section#section-6 .container {
    background: linear-gradient(299deg, #fd7474 50%, white 50%);
    background-repeat: no-repeat;
}

a.v-a-c-guinr.v-a-c-guinr2freref {
    color: #f3a762;
}

/* media query */
@media(max-width:1024px) {
    .element-item {
        width: 50%;
    }
}

@media(max-width:767px) {
    .search>div {
        flex: 0 0 100%;
        margin-right: 0;
    }

    .banner-sec {
        padding-top: 100px;
    }

    .btn-secton {
        padding: 50px 0 0 0;
    }
}

@media(max-width:620px) {
    .element-item {
        width: 100%;
        margin: 0 0 20px 0;
        padding: 0;
    }
}

@media(max-width:480px) {

    .training-main .slick-slide,
    .yoga-items,
    .dance-img,
    .events-img {
        padding: 0;
    }
}

#section-8 .img {
    min-width: 1rem;
    height: 30rem;
}

#section-9 .img {
    height: 20rem;
}


#section-10 .img {
    height: 15rem;
}

section {
    overflow-x: hidden;
}

.brdrsc {
    border-top: 4px solid #F5F5F5;
}

hr.dv.d-none.d-md-block {
    border-top: 4px solid #F5F5F5;
}

.brdrtp {
    border-top: 4px solid #F5F5F5;

}

.items-card:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.slick-slide:hover {
    transform: scale(1.07);
    transition-duration: 0.5s;
}

.element-item:hover {
    transform: scale(1.07);
    transition-duration: 0.5s;
}

.dance-sec .dance-inr:hover {
    transform: scale(1.07);
    transition-duration: 0.5s;
}

section#section-8 .card:hover,
section#section-9 .card:hover,
section#section-10 .card:hover {
    transform: scale(1.03);
    transition-duration: 0.8s;
}

section#section-5 .grid.mt-2 {
    overflow: hidden;
}

label.vs-lb {
    font-size: 14px;
    font-weight: 400;
}

.pj-hd-text {
    mix-blend-mode: screen;
}

h2.text-left.sc-sb-hd.\39 08009 {
    width: 59%;
    margin: auto;
}

div#My-Classes-i {
    padding: 0 0 1.5rem 0;
}

header.header.active-h {
    /*position: fixed;*/
}

@media(min-width:800px) {    

    p.CLS-SJFKDS {
        width: 7rem;
    }

    section#sesction1-bus-pj {
        margin: 4rem 0 4rem 0;
        padding: 7rem 0 0 0;
    }

    .wrap-sc.d-flex.align-items-center {
        position: absolute;
        top: -40%;
        z-index: 1 !important;
    }

    a.navbar-brand.col-md-2.text-white.d-none.d-md-block.ls01pj {
        display: flex !important;
        align-content: center !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: row !important;
    }



    img.img-tx {
        width: 80px !important;
    }

    section#section-1ls .img-w-txt {
        width: 4rem;
        margin-right: 3.14rem !important;
    }

    hr.dvdr {
        position: absolute;
        width: 100%;
        top: 78%;
        z-index: -1;
    }

    section#setion-3 .slick-track {
        height: 307px;
        padding: 1rem 0;
        margin-bottom: 1rem;
    }

    section#section-2 {
        position: relative;
    }

    hr.dvdr {
        border-top: 4px solid #F5F5F5;
    }

    .header li.nav-item {
        margin-right: 0.5rem;
    }

    div#navbarTogglerDemo03 {
        width: 27%;
        float: right;
    }

    header.Sticky-header div#navbarTogglerDemo03 {
        width: 46%;
        float: right;
    }

    #section-6 .txt.text-justify {
        margin: 5rem 0;
        max-width: 483px;
        position: relative;
        top: -8rem;
    }

    a.bnt {
        position: relative;
        top: -9rem;
    }

    #section-7 .txt.text-justify {
        margin: 5rem 0;
    }

    a.bnt2 {
        position: relative;
        top: -5rem;
    }

    #section-7 .container.pt-5.pb-5 {
        padding: 0;
    }

    /* #section-2 .yoga-items {
        width: 268px !important;
    } */

    /* #section-2 .slick-track {
        display: flex;
    } */
    /* 
    #section-2 .items-card {
        width: 246px;
    } */

    #section-2 .card.yoga-sec {
        margin: auto;
        width: 100%;
    }

    section#section-6 {
        width: 72%;
        margin: auto;
    }

    section#section-7 {
        width: 72%;
        margin: auto;
    }
}

a.lg001.text-dark i {
    margin-right: 0.3rem;
}

.sc-hd {
    margin-bottom: 2rem;
}

div#navbarTogglerDemo03 a.nav-link.text-white {
    white-space: nowrap !important;
}


select {
    width: 100%;
}

select {
    word-wrap: normal;
    border: 1px solid #bdbdbdbd;
    padding: 0.5rem;
}

section#sesction1-T-C .wwa-sc p {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.7rem;
}

section#sesction1-P-C .wwa-sc p {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.7rem;
}

section#sesction2-cnt textarea.border.cnp-frm-ta {
    height: 8rem;
}

.section .sc-txt {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.7rem;
}

.cntussc {
    width: 100%;
}

a.btn.btn-outline-dark.text-white.csbttnm {
    border-color: white;
    margin: 1.4rem 0;
}

.cntussc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

section#sesction2-abt {
    margin: 4rem 0 0rem 0;
}


section#sesction3-abt {
    background: #f3a762;
    padding: 0rem 0 3rem 0;
}

a.btn.btn-outline-dark.text-white.csbttnm:hover {
    background: unset;
}

a.btn.btn-outline-dark.text-white.csbttnm:hover {
    background: unset;
    transform: scale(1.1);
}

@media(max-width:800px) {

    section#sesction3-abt {
        padding: 1.5rem 0 3rem 0;
    }

    h4.head-90 {
        margin-top: 3rem;
    }

    .row.r1a-bus-pj .wrap-sc.d-flex.align-items-center {
        margin-top: 2.5rem;
    }

    .orbrdr32a .col-md-6.col-sm-12 {
        border: 1px solid;
        margin-top: 24px;
    }

    .col-sm-12.col-md-4.order-0.order-md-1.orbrdr32 {
        border: 1px solid;
        padding-top: 3rem;
    }

    section#sesction1-bus-pj {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    .row.r1a-bus-pj .col-sm-12.col-md-4.orbrdr32 {
        border: 1px solid;
        padding-top: 3rem;
    }

    .section {
        margin: 4rem 0 0rem 0 !important;
    }

    .row.r1a-bus-pj .col-sm-12.col-md-4 {
        margin-top: 3rem;
    }

    .banner-sec {
        height: 36vh !important;
        padding-top: 12rem !important;
        background-repeat: no-repeat;
        background-position-y: 3rem !important;
    }

    h2.bdp-lic {
        text-align: center;
    }

    h2.jdskf {
        margin-bottom: 2rem;
        text-align: center;
    }

    .col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section {
        margin: 3rem 0 !important;
    }

    a.navbar-brand.text-white.d-md-none.ls01pjm.ls01pjm {
        display: flex !important;
        align-content: center !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: row !important;
    }

    .bus-addr-txt.b-addrs {
        font-size: 14px;
    }

    .banner-content>* {
        font-size: 1rem !important;
    }

    .busi-sc img {
        width: 3rem !important;
    }

    section#section-1ls .busi-sc.d-flex {
        gap: 0.5rem !important;
        align-items: center;
    }

    section#section-1ls .img-w-txt {
        width: 4rem !important;
        margin: 0.2rem !important;
        text-align: center !important;
    }

    .img-w-txt-outer.d-flex.pt-4 {
        flex-wrap: wrap !important;
        place-content: center;
    }

    section#section-1ls {
        padding: 1rem 0 2rem !important;
    }

    header.header {
        background: #f3a762;
        padding: unset;
        width: 100%;
        /* box-shadow: 0 0 15px 0px rgb(0 0 0 / 50%); */
        display: flex;
        justify-content: flex-end;
        position: fixed;
        z-index: 3;
    }

    #section-1 .m-4 {
        margin: 1rem 0rem !important;
    }

    #section-5 .page-center {
        padding: unset;
    }

    section#section-6 .container {
        /* background: unset; */
        padding: 3rem 1rem !important;
        margin: 1rem !important;
        width: 92%;
    }

    .banner-sec {
        height: 65vh;
        padding-top: 15rem;
        background-repeat: no-repeat;
        background-position: top !important;

    }

    .crptxt {
        font-size: 0.9rem;
    }

    .search-inr {
        margin-top: -6rem;
    }

    .navbar-toggler-icon {
        width: 1.5em;
        height: 1.5em;
    }

    button.navbar-toggler {
        transform: scale(0.7);
    }

    section#section-1 li[role="presentation"]:nth-child(n+11) {
        display: none;
    }

    section#section-1 .logo-inr a {
        padding: 100px;
    }

    .hdnav {
        flex-direction: row-reverse;
    }

    .brdr {
        border: 1px solid rgb(0 0 0);
        border-radius: .25rem;
        margin: 0 !important;
        padding-bottom: 3rem;
    }

}

.brdr {
    border: 1px solid rgb(0 0 0);
    border-radius: .25rem;
    margin: 0 !important;
    padding-bottom: 3rem;
}

.brdr1 {
    border: 1px solid rgb(0 0 0);
    border-radius: .25rem;
}

.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}

a.nav-link:hover {
    /* color: #f3a762 !important; */
    /*text-decoration: underline;*/
    text-decoration: none;
}

p.txt-img {
    text-align: center;
}

.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}

.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}

.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
}

.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}

.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}

.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd;
}

.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}

.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
}

.footer_social_area a i {
    line-height: 36px;
}

.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #f3a762;
}

img.ls-p-lg.mblg-ls {
    width: 2.5rem;
    box-shadow: 0 10px 44px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, .23) !important;
    border-radius: 50%;
}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

@keyframes bi-cycle {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

ol li,
ul li {
    list-style: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

footer#footer {
    background: #f3a762;
    color: white;
    padding: 2rem 0 0 0;
}

[aria-expanded="true"] .close {
    display: block;
}

[aria-expanded="true"] .navbar-toggler-icon {
    display: none;
}

[aria-expanded="false"] .navbar-toggler-icon {
    display: block;
}

[aria-expanded="false"] .close {
    display: none;
}

span.close img {
    width: 30px;
    height: 30px;
}

.text.pt-3 p {
    color: black;
}

a.hvr {
    color: black;

}

a.hvr:hover {
    color: black;
    text-decoration: underline;
}

section#section-1ls .img-w-txt {
    width: 4rem;
    margin-right: 1rem;
}

section#section-1ls img.img-tx {
    border-radius: 20%;
}

section#section-1ls p.txt-img {
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    font-size: 0.76rem !important;
    font-weight: 400 !important;
    margin-top: 0.3rem;
    color: #000
}

.busi-sc img {
    width: 4rem;
    border-radius: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23) !important;
}

section#section-1ls .busi-sc.d-flex {
    gap: 1rem;
    align-items: center;
}

section#section-1ls {
    padding: 5rem 0;
}

span.ic-txt-p {
    margin-left: 0.2rem;
    font-size: 1rem;
}

.bus-head-i a:hover {
    text-decoration: none;
    color: #f3a762 !important;
}

.img-w-txt a:hover {
    transform: scale(1.1);
    text-decoration: none;
    transition-duration: 0.5s;
}

a.d-flex.align-items-center.text-dark:hover {
    color: #f3a762 !important;
}

.busi-sc.d-flex img:hover {
    transform: scale(1.06);
    transition-duration: 0.3s;
}


.section {
    margin: 4rem 0 4rem 0;
}

#sesction2-cnt .input-group {
    padding: 0.5rem 0;
}

.cstm-btn {
    width: 30%;
    font-size: 1.1rem;
    font-weight: 400;
}

.cstm-btn:hover {
    background: #f3a762 !important;
    border: 1px solid transparent !important;
}

section#sesction2-cnt p {
    text-align: justify;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.7rem;
}

.row.r2-cnt {
    padding-bottom: 0.5rem;
}

button.btn.btn-outline-dark.btn--blue.cstm-btn.border:focus {
    box-shadow: unset;
}

body p,
span,
a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.section p,
span,
a {
    font-size: 1rem;
}

textarea.cnp-frm-ta.border:focus-visible {
    outline: unset;
}

section#sesction1-bus-pj .hd-txt h2 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.625rem;
}

img.i-w-t3 {
    width: 2.5rem;
}

.img-w-txt .txt {
    font-size: .625rem;
    text-transform: uppercase;
    max-width: 5rem;
}

.row.bs-p-r001 {
    margin: 3rem 0px;
}

.row.bs-p-r001 .img-w-txt .txt {
    margin: 0.5rem 0;
}

.img-w-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2rem 0rem 0rem 0rem;
}

.row.bs-p-r001.bs-p-r001sb {
    margin-bottom: unset;
}

.r1a-bus-pj .row.bs-p-r001 .col {
    padding-left: 0;
}

.row.r1a-bus-pj .nm-txt {
    margin-left: 1rem;
}

.row.r1a-bus-pj .name-head {
    font-size: 2.625rem;
    font-weight: 800;
    line-height: 3.125rem;
}

.row.r1a-bus-pj {
    margin: 3rem 0;
}

.row.r1a-bus-pj .hd-txt p {
    font-size: 0.9rem;
    font-weight: 400;
}

.row.bd-mdl-tx {
    margin: 3rem 0;
}

.row.r1a-bus-pj .hd-txt-outer.hd-txt-outerzl .hd-txt {
    margin: 2rem 0;
}

.hd-txt-outer.sdb .hd-txt h2 {
    font-size: 1.875rem !important;
    font-weight: 700;
    line-height: 2.25rem !important;
}

p.bd-pj-nv-c {
    padding: 4rem 0;
}

.no-classes.bd-pj-nv-c1.d-flex {
    padding: 4rem 0;
}

span.no-classes__item {
    font-size: 0.9rem;
    font-weight: 400;
}

.row.bd-mdl-tx p {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.7rem;
}

h4.head-90 {
    margin-top: 4rem;
}

@media screen and (max-width: 1199px) and (min-width: 800px) {
    section#section-1ls .img-w-txt {
        width: 4rem !important;
        width: 62px !important;
    }
}

@media screen and (max-width: 1199px) and (min-width: 991px) {
    div#navbarTogglerDemo03 {
        width: 55%;
        float: right;
    }
}


img.bs-pj-p-img {
    width: 10rem;
    border-radius: 20%;
}

textarea.cnp-frm-ta {
    width: 100%;
}

.cnp-pjj-addr i {
    margin-right: 0.77rem;
}

.cnp-pjj-addr i {
    font-size: 2rem;
}

.cnp-pjj-addr p {
    margin-bottom: 0.56rem;
}

.cnp-pjj-addr .d-flex {
    margin: 0.2rem 0 0 0;
}

/* yoga page */

.sid-br-m-43dgg {
    background: #f1f1f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding: 4rem 2.5rem 11rem 5.5rem;
}

img.logo-w7jfufy {
    width: 4rem;
    margin-bottom: 0.4rem;
}

.user-prl-mk {
    margin-bottom: 2rem;
}

div#side-links-8kk {
    width: 54.7%;
}

span.mnuliks {
    margin-left: 0.4em;
}

a.nav-link.kdfkj {
    color: rgb(0 0 0 / 85%);
}

ul.nav.nav-tabs.mtab-3jrjfj li {
    margin-right: 1rem;
}

.my-cl-cnt-jdkfjk4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 4rem 10rem;
}

img.img-cnt-jdk {
    width: 7rem;
    height: 7rem;
}

h2.mk-hdffjsdkfj {
    margin: 2rem 0 1rem 0;
}

.my-cl-cnt-jdkfjk4-2 {
    display: flex;
}

.tm-cnt-jdk {
    color: lightslategray;
    font-size: 0.8em;
    margin: unset;
}

p.dtails-wdjri9 {
    font-size: 0.8rem;
    color: lightslategray;
}

span.kjkjsdf {
    font-weight: 500;
    font-size: 1rem;
    margin-right: 0.2rem;
    color: #212529;
}

p.last-cntcnt-jdk {
    font-size: 0.9rem;
    font-weight: 500;
}

.sd-cont-cnt-jdk {
    margin-left: 1rem;
}

.my-cl-cnt-jdkfjk4-2 {
    margin-top: 1rem;
}

.sid-br-m-43dgg.d-none.d-md-block .active a {
    color: #f3a762 !important;
}

.sid-br-m-43dgg.d-none.d-md-block {
    height: 100vh;
    min-height: 100%;
}

img.si-img-lgo {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
}

.saved-instructor-cont {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
}

h6.si-hhfhf {
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
}

h5.si-h1-rujfjfj {
    margin-bottom: 1.5rem;
}

.sicon1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.mk-hdffjsdkfj-si {
    margin: 2rem 0 1rem 0;
}

p.si-jdkfd1 {
    font-size: 0.9rem;
    margin-top: 0.8rem;
    font-weight: 700;
}

p.si-jdkfd3 {
    font-size: 0.9rem;
    font-weight: 700;
}

p.si-jdkfd2.m-0 {
    font-size: 0.8rem;
    font-weight: 500;
}

h6.no-cls-dfjgj {
    color: lightslategrey;
    text-align: center;
    padding: 3rem 0;
}

.row.rewrsfjdkslfjalksj {
    margin-top: 2rem;
}

p.enq-txt-rjei {
    font-size: 0.8rem;
    font-weight: 400;
    color: lightslategray;
}

.enq-cnt-inner {
    padding: 1.2rem 0 0.5rem 0;
}

p.modl-txt {
    font-size: 0.9rem;
    font-weight: 400;
}

/* .enq-cnt-liuijl {
    margin-top: 2rem;
} */

textarea.w-100.border.txt-ara-1dhrtr {
    height: 10rem;
}

a.enq-cnt-link-kddd {
    color: #000000e0;
    text-decoration: none !important;
    cursor: pointer;
}

p.enq-txt-rjei {
    margin-bottom: unset;
}

.readed {
    color: lightslategray !important;
}

a.v-a-c-guinr-enq-jdfkj.v-a-c-guinr.text-center {
    margin-top: 3rem;
}

h2.mk-hdffjsdkfj-ntfcn {
    margin: 2rem 0;
}

.enq-cnt-liuijl {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.card-header .title {
    font-size: 17px;
    color: #000;
}

.card-header .accicon {
    float: right;
    font-size: 20px;
    width: 1.2em;
}

.card-header {
    cursor: pointer;
    border-bottom: none;
}

.card {
    border: 1px solid #ddd;
}

.card-body {
    border-top: 1px solid #ddd;
}

.card-header:not(.collapsed) .rotate-icon {
    transform: rotate(180deg);
}

.enq-cnt-liuijl span.title {
    font-size: 0.9rem;
    font-weight: 500;
}

.card-header.card-header-rri {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#Notifications input#flexRadioDefault2 {
    width: 0.8rem;
}

a.v-a-c-guinr-enq-jdfkj.v-a-c-guinr.text-center {
    width: 100%;
}

a.v-a-c-guinr-enq-jdfkj.v-a-c-guinr.text-center {
    margin-bottom: 2rem;
}

img.new-ev-lg-img-djfskfjs {
    width: 37px;
    height: auto;
    margin: auto;
    position: relative;
    top: -1rem;
}

.img-txt-i-001d {
    width: 97% !important;
    margin: auto;
}

.logsc-i-001dd.d-flex {
    width: 97% !important;
    margin: auto;
}

.logsc-i-001dd2.d-flex {
    gap: 1rem 0rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

p.cls-sc-outer-txt32a.cls-sc-outer-txt-all2a {
    margin: unset;
}

p.cls-sc-outer-txt3.cls-sc-outer-txt-all {
    margin-bottom: unset;
}

i#bnscevic {
    display: none;
}

/* footer */

.footer .row-sec {
    display: flex;
    flex-wrap: wrap;
}

.footer .row-sec>div {
    flex: 0 0 25%;
    max-width: 100%;
    padding-right: 30px;
}

.footer .row-sec>div:last-child {
    padding-right: 0;
}

.footer .footer-social {
    display: flex;
    align-items: center;
}

.footer .menu-one>:first-child {
    font-size: 20px;
}

.footer .menu-one ul>li>a {
    color: #000;
    margin-bottom: 10px;
    transition: all .4s;
}

.footer .menu-one ul>li>a:hover {
    color: var(--highlight);
}

.footer .social-icon>a>i {
    color: #000;
    transition: all .4s;
}

.footer .social-icon>a:hover i {
    color: var(--highlight);
}

footer.footer {
    border-top: 1px solid #000;
    padding: 50px 0;
}

.footer .social-icon {
    margin: 0 10px 10px 0;
}

.copyright_wrap {
    padding: 20px;
    background: var(--highlight);
}

.copyright {
    text-align: center;
    color: #fff;
    font-weight: 600;
}

a.text-white.crpr-txt-dskjfk {
    position: relative;
    top: 0.49rem;
}

div#nav-tab-dsdfslaskjdfkla {
    display: flex;
    flex-direction: row;
    align-content: center;
    border: unset !important;
    justify-content: flex-start;
    align-items: center;
}

#nav-tab-dsdfslaskjdfkla .nav-item {
    box-shadow: 4px 2px 5px -2px #0000009c;
    padding: 0.5rem 0.2rem;
    text-align: center;
    margin-left: 1rem;
    width: 88px;
    font-size: 1rem !important;
    font-weight: 500 !important;
}

div#nav-tab-dsdfslaskjdfkla .active {
    color: white !important;
    background: #ee8e64;
    border: unset;
}

.section-i2001 hr {
    display: none;
}


.logsc-i-001dd.d-flex::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}


.logsc-i-001dd.d-flex::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    max-height: 7px !important;

}

.logsc-i-001dd.d-flex::-webkit-scrollbar-thumb {
    background-color: #ee8e64;

}

section#section-I1 .logsc-outer-dfd {
    margin: auto 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logsc-i-001dd2.d-flex::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.usr-acc-pi-kjka {
    margin: 1rem 1rem;
}

.logsc-i-001dd2.d-flex::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    max-height: 7px !important;
}


.logsc-i-001dd2.d-flex::-webkit-scrollbar-thumb {
    background-color: #ee8e64;

}


.org-sc2-outer.oso-ckd.d-flex::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}


.org-sc2-outer.oso-ckd.d-flex::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    max-height: 7px !important;

}


.org-sc2-outer.oso-ckd.d-flex::-webkit-scrollbar-thumb {
    background-color: #ee8e64;

}

.dms-sc2-outer.oso-ckd.d-flex::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}


.dms-sc2-outer.oso-ckd.d-flex::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    max-height: 7px !important;
}


.dms-sc2-outer.oso-ckd.d-flex::-webkit-scrollbar-thumb {
    background-color: #ee8e64;

}

.oso-ckd::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}


.oso-ckd::-webkit-scrollbar {
    max-height: 7px !important;
    width: 5px;
    background-color: #F5F5F5;
}


.oso-ckd::-webkit-scrollbar-thumb {
    background-color: #ee8e64;

}

.cl-evt-outerco-inr {
    /* border: 1px solid #b7b7b78a; */
    border-radius: 13px;
    padding: 3rem 4rem;
    height: 41rem;
    max-width: 664px;
    /* background: #f3a7624f; */
    box-shadow: 0px 3px 8px 8px #f1f1f1;
}

@media(max-width:800px) {
    .cls-sc-outer {
        width: 8rem;
    }

    h4.inpclsjkj {
        margin-left: 1rem;
    }

    #section-yoga-8 .slick-slide {
        min-width: 389px;
    }

    #section-yoga-8 .slick-track {
        display: flex;
    }

    .my-cl-cnt-jdkfjk4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 3rem 1rem;
    }

    .saved-instructor-cont {
        padding: unset;
    }

    p.si-jdkfd1.mb-0 {
        text-align: center;
    }

    a.v-a-c-guinr.text-center {
        margin-bottom: 2rem;
    }

    .sicon2 {
        padding-left: 1rem;
    }

    h2.mk-hdffjsdkfj-si {
        margin: 2rem 0px 2rem 0;
    }

    .row.rewrsfjdkslfjalksj.mt-0 {
        padding: 0rem 1rem;
    }

    .sid-br-m-43dgg {
        padding: 2rem 0 2rem 0rem;
    }

    .sid-br-m-43dgg div {
        width: 100% !important;
    }

    #section-nav-234 a {
        color: rgb(0 0 0 / 85%) !important;
    }

    .active a i,
    .active a span {
        color: #f3a762 !important;
    }

    div#My-Classes-i {
        margin-bottom: 1rem;
    }

}

.lstsc-outer {
    padding: 3rem 0;
}

@media(min-width:800px) {

    h4.inpclsjkj {
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }

    .section-i2001 {
        padding: 1rem 0 0 0;

    }

    .sid-br-m-43dgg {
        padding: 4rem 2.5rem 30rem 2.5rem !important;
    }

    nav#section-nav-234 {
        display: none;
    }
}

ul.nav.nav-tabs.mtab-3jrjfj li {
    width: 50%;
    margin: unset;
}

ul.nav.nav-tabs.mtab-3jrjfj li.active a {
    border-bottom: 2px solid #f3a762;
    color: #f3a762 !important;
    padding-bottom: 0.4rem;
}

ul.nav.nav-tabs.mtab-3jrjfj li a {
    text-decoration: unset;
}

ul.nav.nav-tabs.mtab-3jrjfj li a {
    text-decoration: unset;
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
}

a#val-ntf-btn {
    margin: 2rem 0;
}

.enq-cnt-liuijl.mt-0 .card.border-0 {
    padding: 1rem 0rem;
}

.row.rewrsfjdkslfjalksj.mt-0 .card-header.card-header-rri.collapsed {
    padding-left: 3rem;
}

.row.rewrsfjdkslfjalksj.mt-0 span.title {
    margin-left: 0.2rem;
}

a#save-ins-001 {
    white-space: nowrap;
}

form#adnfm label {
    margin-bottom: 0.1rem;
    margin-top: 2%;
}

form#adnfm label {
    color: lightslategray;
}

.enq-cnt-liuijl.mt-0 .card-header.card-header-rri {
    padding: 0 0 0 3rem
}

.mt-0.rewrsfjdkslfjalksj.row {
    display: flex;
    justify-content: center;
}

a#notif001 {
    white-space: nowrap;
}

.enq-cnt-inner.border-bottom {
    box-shadow: 2px 3px 5px 2px #f1f1f1 !important;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

#Notifications .card.border-0 {
    box-shadow: 2px 3px 5px 2px #f1f1f1 !important;
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6 !important;
    border-radius: 5px;
}

#Notifications .card-header.card-header-rri.collapsed {
    border-bottom: unset;
}

.card.border-0 {
    margin-bottom: 1rem;
}

a#nemdl:focus {
    box-shadow: unset !important;
}

.col-md-6.col-sm-12.sc-y-3-cl2 {
    max-height: 445px;
    overflow: scroll;
    overflow-x: hidden;
}

.col-md-6.col-sm-12.sc-5-y-sc-y {
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

.slick-slider button::before {
    color: #f3a762 !important;
    font-size: 2rem;
}

.cnp-pjj-addr p {
    line-height: unset !important;
}

.w-ds-addr i.fa {
    background: unset !important;
    padding: unset !important;
    font-size: 1.5rem;
    margin: unset;
    display: inline-block !important;
}

.col-md-6.col-sm-12::-webkit-scrollbar {
    width: 0.3rem;
}

.col-md-6.col-sm-12::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.col-md-6.col-sm-12::-webkit-scrollbar-thumb {
    background-color: #f3a762 !important;
    border-radius: 10px;
}

section#section-I1 .lstsc-outer a:hover {
    text-decoration: none;
    transform: scale(1.05);
    background: #ee8e64 !important;
    color: white !important;
}

.lstsc-wrap h3 {
    font-size: 1rem !important;
    font-weight: 500 !important;
    margin-top: 1.1rem !important;
    margin-left: 1rem !important;
}

.lstsc-wrap h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 1.1rem;
    box-shadow: 1px 1px 3px 0px #0000009c;
    padding: 0.3rem 0.9rem;
    text-align: center;
    margin-left: 1rem;
}

div#navbarTogglerDemo03 {
    width: 39%;
    float: right;
}

@media screen and (max-width: 1100px) and (min-width: 800px) {
    .sid-br-m-43dgg {
        padding: 4rem 2.5rem 11rem 3rem !important;
    }

    div#navbarTogglerDemo03 {
        width: 65%;
    }

    .slick-list.draggable .slick-next {
        right: -13px;
    }

    .addr-sdkdfjdkfj {
        min-width: 270px !important;
    }

    .ygjfkj i.fa {
        width: 32px !important;
    }

    .w-ds-addr.mt-2 {
        width: 113%;
    }

}