
@{
    ViewBag.Title = "BranchTansactions";
    Layout = "~/Views/Shared/_BusinessAdminLayout.cshtml";
}
<input type="hidden" id="hiddenBusinessbranchLoginId" value="@ViewBag.BusinessBranchLoginId" />
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h1 class="pageHeadingText" id="pageTextchange">Branches Transaction Detail </h1>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="/Business/BranchStudent">Home</a>
                                </li>
                                <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange"> Branch Transaction Detail</li>
                            </ol>
                        </nav>
                    </div>


                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>
        <div id="sectionViewBranchesStudent">
            <div class="row mb-4">
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <table id="tblPaymentsView_Business" class="data-table">
                                <thead>
                                    <tr>
                                        <th>s.no</th>
                                        <th>Creatod On</th>
                                        <th>Name /Student Master-ID</th>
                                        <th>Transaction Id</th>
                                        <th>Method</th>
                                        <th>Amonut</th>
                                        <th>Payment Against</th>
                                        <th>Total Discount</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts{
    @Html.Partial("/Views/Shared/ScriptPartials/BusinessPanel/_BranchStudentTransactionScriptPartial.cshtml")
}

