
@{
    ViewBag.Title = "BranchStudent";
    Layout = "~/Views/Shared/_BusinessAdminLayout.cshtml";
}

@section Styles{
    <style>
        .Image {
            width: 25%;
            margin-left: 17px;
        }
    </style>
}

<input type="hidden" id="hiddenBusinessbranchLoginId" value="@ViewBag.BusinessBranchLoginId" />
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h1 class="pageHeadingText" id="pageTextchange">Branches Student Detail </h1>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="/Business/BranchStudent">Home</a>
                                </li>
                                <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange"> Branch Student Detail</li>
                            </ol>
                        </nav>
                    </div>


                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>
        <div id="sectionViewBranchesStudent">
            <div class="row mb-4">
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <table id="tblBranchesStudentView" class="data-table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Student Name / MasterId</th>
                                        <th>Phone Number</th>
                                        <th>Class Name</th>
                                        <th>Joining Date</th>
                                        
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</main>


@section Scripts{
    @Html.Partial("/Views/Shared/ScriptPartials/BusinessPanel/_BranchStudentScriptPartial.cshtml")
}

