
@{
    ViewBag.Title = "CheckoutSuccess";
    Layout = "~/Views/Shared/_BusinessAdminLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <i class="h1 fas fa-check-circle text-success"></i>
                            <h4>Congratulations!</h4>
                            <p>You have successfully purchased the Plan !</p>
                            <a href="/Business/ProfileSettings" class="btn btn-sm btn-primary">Profile Settings </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

p