
@{
    ViewBag.Title = "instructor";
    Layout = "~/Views/Shared/VistiorHomeLayout.cshtml";
}

<section id="section-mc1" class="section-mk1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <nav id="section-nav-234" class="navbar navbar-expand-lg w-100 navbar-light hdnav">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarTogglerDemo04" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="close"><img src="image/cls.png"></span>
                    </button>
                    <a class="navbar-brand text-white d-md-none ls01pjm ls01pjm" href="#">
                        <div class="user-prl-mk">
                            <img class="logo-w7jfufy" src="image/V.jpg">
                            <h6>Vikas Ghai</h6>
                            <a class="text-dark" href="mailto: abc@example.com"> vikasprotolabz@gmail.com </a>
                        </div>
                    </a>
                    <a class="navbar-brand col-md-2 text-white d-none d-md-block ls01pj" href="/Home/Index">
                        <img src="@Resources.StaticResources.MasterzoneLogo" class="ls-p-lg mblg-ls  mr-2">
                        <p class="m-0">MASTER ZONE</p>
                    </a>

                    <div class="col-md-10">
                        <div class="navbar-collapse collapse" id="navbarTogglerDemo04" style="">
                            <div id="side-links-8kk">
                                <ul class="navbar-nav sdb-nvefd">
                                    <li class="nav-item ">
                                        <a id="my-cls001" class="nav-link kdfkj my-cls001-c"
                                           href="my-classes.html">
                                            <i class="fa-solid fa-calendar-days"></i> <span class="mnuliks">
                                                My
                                                Class
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a id="save-ins-001" class="nav-link kdfkj" href="saved-instructor.html">
                                            <i class="fa-solid fa-floppy-disk"></i> <span class="mnuliks">
                                                Saved
                                                Instructor
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="enq001" class="nav-link kdfkj" href="enquiry.html">
                                            <i class="fa-sharp fa-solid fa-clipboard-question"></i><span class="mnuliks">Enquiries</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="notif001" class="nav-link kdfkj" href="notifications.html">
                                            <i class="fa-solid fa-bell"></i><span class="mnuliks">Notifications</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <form class="form-inline my-2 my-lg-0 d-none">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                       aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </nav>
                <div class="sid-br-m-43dgg d-none d-md-block">
                    <div class="user-prl-mk">
                        <img class="logo-w7jfufy" src="image/V.jpg">
                        <h6>Vikas Ghai</h6>
                        <a class="text-dark" href="mailto: abc@example.com"> vikasprotolabz@gmail.com </a>
                    </div>

                    <div id="side-links-8kk">
                        <ul class="navbar-nav sdb-nvefd">
                            <li class="nav-item">
                                <a id="my-cls001" class="nav-link kdfkj my-cls001-c" href="my-classes.html">
                                    <i class="fa-solid fa-calendar-days"></i> <span class="mnuliks">
                                        My
                                        Class
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a id="save-ins-001" class="nav-link kdfkj" href="saved-instructor.html">
                                    <i class="fa-solid fa-floppy-disk"></i> <span class="mnuliks">
                                        Saved
                                        Instructor
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="enq001" class="nav-link kdfkj" href="enquiry.html">
                                    <i class="fa-sharp fa-solid fa-clipboard-question"></i><span class="mnuliks">Enquiries</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="notif001" class="nav-link kdfkj" href="notifications.html">
                                    <i class="fa-solid fa-bell"></i><span class="mnuliks">Notifications</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="notif001" class="nav-link kdfkj" href="login.html"><i class="fa-solid fa-right-from-bracket"></i><span class="mnuliks">Logout</span></a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="col-sm-8">
                <!-- Saved-instructor-section -->
                <div id="Saved-Instructor" class="section-2-Saved-Instructor inrsection-mltp ">
                    <h2 class="mk-hdffjsdkfj-si">Saved Instructors</h2>
                    <div class="saved-instructor-cont">
                        <div class="sicon1">
                            <img class="si-img-lgo"
                                 src="image/photo-1633332755192-727a05c4013d.jpg">
                            <p class="si-jdkfd1 mb-0">Laura Carey Blackman</p>
                            <p class="si-jdkfd2 m-0">Clover, SC</p>
                            <p class="si-jdkfd3">Contact</p>
                        </div>
                        <div class="sicon2">
                            <div class="classes-details-8jdgrrfjw">
                                <h5 class="si-h1-rujfjfj">Upcoming Virtual Classes</h5>
                                <h6 class="si-hhfhf">Sat. Mar 18, 2023</h6>
                                <h6 class="si-hhfhf">
                                    5:30 PM (60min) Zoom
                                </h6>
                                <h6 class="si-hhfhf">*Free * Balla con Kelko y Risako</h6>
                                <!-- <h6 class="no-cls-dfjgj">No Virtual Classes</h6> -->
                                <a href="#" class="v-a-c-guinr v-a-c-guinr2freref ">View All Classes</a>
                                <a class="text-dark d-block d-md-none" href="#">Remove</a>
                            </div>

                        </div>
                        <div class="sicon3 rmv-btn-dhfj d-none d-md-block">
                            <a class="text-dark" href="#">Remove</a>
                        </div>
                    </div>
                    <div class="saved-instructor-cont">
                        <div class="sicon1">
                            <img class="si-img-lgo"
                                 src="image/photo-1633332755192-727a05c4013d.jpg">
                            <p class="si-jdkfd1 mb-0">Laura Carey Blackman</p>
                            <p class="si-jdkfd2 m-0">Clover, SC</p>
                            <p class="si-jdkfd3">Contact</p>
                        </div>
                        <div class="sicon2">
                            <div class="classes-details-8jdgrrfjw">
                                <h5 class="si-h1-rujfjfj">Upcoming Virtual Classes</h5>
                                <h6 class="si-hhfhf">Sat. Mar 18, 2023</h6>
                                <h6 class="si-hhfhf">
                                    5:30 PM (60min) Zoom
                                </h6>
                                <h6 class="si-hhfhf">*Free * Balla con Kelko y Risako</h6>
                                <!-- <h6 class="no-cls-dfjgj">No Virtual Classes</h6> -->
                                <a href="#" class="v-a-c-guinr v-a-c-guinr2freref ">View All Classes</a>
                                <a class="text-dark d-block d-md-none" href="#">Remove</a>
                            </div>

                        </div>
                        <div class="sicon3 rmv-btn-dhfj d-none d-md-block">
                            <a class="text-dark" href="#">Remove</a>
                        </div>
                    </div>
                    <div class="saved-instructor-cont">
                        <div class="sicon1">
                            <img class="si-img-lgo"
                                 src="image/photo-1633332755192-727a05c4013d.jpg">
                            <p class="si-jdkfd1 mb-0">Laura Carey Blackman</p>
                            <p class="si-jdkfd2 m-0">Clover, SC</p>
                            <p class="si-jdkfd3">Contact</p>
                        </div>
                        <div class="sicon2">
                            <div class="classes-details-8jdgrrfjw">
                                <h5 class="si-h1-rujfjfj">Upcoming Virtual Classes</h5>
                                <h6 class="si-hhfhf">Sat. Mar 18, 2023</h6>
                                <h6 class="si-hhfhf">
                                    5:30 PM (60min) Zoom
                                </h6>
                                <h6 class="si-hhfhf">*Free * Balla con Kelko y Risako</h6>
                                <!-- <h6 class="no-cls-dfjgj">No Virtual Classes</h6> -->
                                <a href="#" class="v-a-c-guinr v-a-c-guinr2freref ">View All Classes</a>
                                <a class="text-dark d-block d-md-none" href="#">Remove</a>
                            </div>

                        </div>
                        <div class="sicon3 rmv-btn-dhfj d-none d-md-block">
                            <a class="text-dark" href="#">Remove</a>
                        </div>
                    </div>
                    <div class="saved-instructor-cont">
                        <div class="sicon1">
                            <img class="si-img-lgo"
                                 src="image/photo-1633332755192-727a05c4013d.jpg">
                            <p class="si-jdkfd1 mb-0">Laura Carey Blackman</p>
                            <p class="si-jdkfd2 m-0">Clover, SC</p>
                            <p class="si-jdkfd3">Contact</p>
                        </div>
                        <div class="sicon2">
                            <div class="classes-details-8jdgrrfjw">
                                <h5 class="si-h1-rujfjfj">Upcoming Virtual Classes</h5>
                                <h6 class="si-hhfhf">Sat. Mar 18, 2023</h6>
                                <h6 class="si-hhfhf">
                                    5:30 PM (60min) Zoom
                                </h6>
                                <h6 class="si-hhfhf">*Free * Balla con Kelko y Risako</h6>
                                <!-- <h6 class="no-cls-dfjgj">No Virtual Classes</h6> -->
                                <a href="#" class="v-a-c-guinr v-a-c-guinr2freref ">View All Classes</a>
                                <a class="text-dark d-block d-md-none" href="#">Remove</a>
                            </div>

                        </div>
                        <div class="sicon3 rmv-btn-dhfj d-none d-md-block">
                            <a class="text-dark" href="#">Remove</a>
                        </div>
                    </div>
                    <div class="saved-instructor-cont">
                        <div class="sicon1">
                            <img class="si-img-lgo"
                                 src="image/photo-1633332755192-727a05c4013d.jpg">
                            <p class="si-jdkfd1 mb-0">Laura Carey Blackman</p>
                            <p class="si-jdkfd2 m-0">Clover, SC</p>
                            <p class="si-jdkfd3">Contact</p>
                        </div>
                        <div class="sicon2">
                            <div class="classes-details-8jdgrrfjw">
                                <h5 class="si-h1-rujfjfj">Upcoming Virtual Classes</h5>
                                <h6 class="si-hhfhf">Sat. Mar 18, 2023</h6>
                                <h6 class="si-hhfhf">
                                    5:30 PM (60min) Zoom
                                </h6>
                                <h6 class="si-hhfhf">*Free * Balla con Kelko y Risako</h6>
                                <!-- <h6 class="no-cls-dfjgj">No Virtual Classes</h6> -->
                                <a href="#" class="v-a-c-guinr v-a-c-guinr2freref ">View All Classes</a>
                                <a class="text-dark d-block d-md-none" href="#">Remove</a>
                            </div>

                        </div>
                        <div class="sicon3 rmv-btn-dhfj d-none d-md-block">
                            <a class="text-dark" href="#">Remove</a>
                        </div>
                    </div>
                    <div class="saved-instructor-cont">
                        <div class="sicon1">
                            <img class="si-img-lgo"
                                 src="image/photo-1633332755192-727a05c4013d.jpg">
                            <p class="si-jdkfd1 mb-0">Laura Carey Blackman</p>
                            <p class="si-jdkfd2 m-0">Clover, SC</p>
                            <p class="si-jdkfd3">Contact</p>
                        </div>
                        <div class="sicon2">
                            <div class="classes-details-8jdgrrfjw">
                                <h5 class="si-h1-rujfjfj">Upcoming Virtual Classes</h5>
                                <h6 class="si-hhfhf">Sat. Mar 18, 2023</h6>
                                <h6 class="si-hhfhf">
                                    5:30 PM (60min) Zoom
                                </h6>
                                <h6 class="si-hhfhf">*Free * Balla con Kelko y Risako</h6>
                                <!-- <h6 class="no-cls-dfjgj">No Virtual Classes</h6> -->
                                <a href="#" class="v-a-c-guinr v-a-c-guinr2freref ">View All Classes</a>
                                <a class="text-dark d-block d-md-none" href="#">Remove</a>
                            </div>

                        </div>
                        <div class="sicon3 rmv-btn-dhfj d-none d-md-block">
                            <a class="text-dark" href="#">Remove</a>
                        </div>
                    </div>
                    <div class="saved-instructor-cont">
                        <div class="sicon1">
                            <img class="si-img-lgo"
                                 src="image/photo-1633332755192-727a05c4013d.jpg">
                            <p class="si-jdkfd1 mb-0">Laura Carey Blackman</p>
                            <p class="si-jdkfd2 m-0">Clover, SC</p>
                            <p class="si-jdkfd3">Contact</p>
                        </div>
                        <div class="sicon2">
                            <div class="classes-details-8jdgrrfjw">
                                <h5 class="si-h1-rujfjfj">Upcoming Virtual Classes</h5>
                                <h6 class="si-hhfhf">Sat. Mar 18, 2023</h6>
                                <h6 class="si-hhfhf">
                                    5:30 PM (60min) Zoom
                                </h6>
                                <h6 class="si-hhfhf">*Free * Balla con Kelko y Risako</h6>
                                <!-- <h6 class="no-cls-dfjgj">No Virtual Classes</h6> -->
                                <a href="#" class="v-a-c-guinr v-a-c-guinr2freref ">View All Classes</a>
                                <a class="text-dark d-block d-md-none" href="#">Remove</a>
                            </div>

                        </div>
                        <div class="sicon3 rmv-btn-dhfj d-none d-md-block">
                            <a class="text-dark" href="#">Remove</a>
                        </div>
                    </div>
                    <!-- <a href="#" class="v-a-c-guinr text-center">View All Classes</a> -->
                </div>
            </div>

        </div>
</section>

