
@{
    ViewBag.Title = "RatingReview";
    Layout = "~/Views/Shared/_BusinessAdminLayout.cshtml";
}

@section Styles {
    <style>
        .rating-star-active {
            color: gold;
        }
    </style>
}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h1 class="pageHeadingText" id="pageTextchange">Rating Review</h1>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="/Business/Dashboard">Home</a>

                                </li>
                                <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange"> Rating Review</li>
                            </ol>
                        </nav>
                    </div>
                    @*<div class="col-4 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="btnAddStaff">AddDiscount</a>
                        </div>*@
                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>

        @* <div id="sectionViewStaff" class="d-none">*@
        <div id="sectionViewStaff">
            <div class="row mb-4">
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <table id="ViewForRatingReview" class="data-table">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Review By</th>
                                        <th>Rating Stars</th>
                                        <th>Review Body </th>
                                        <th>Status</th>
                                        <th>Submitted On</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

@*------------------------------------- Edit Rating Review Detials Modal ------------------------------------------------------ *@
<div class="modal fade" id="EditRatingReviewModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header border-0">
                <h2 class="modal-title">Edit Review</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body pt-0">
                <div id="ReviewDetails_EditRatingReviewModal">
                    @* Data will be appended *@
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Reviewbody" style="font-size: 20px;">Review Body</label>
                            <textarea name="description" class="form-control" rows="6" id="text_Reviewbody"></textarea>
                            <div class="error-class" id="error_text_Reviewbody"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark cstm-btn w-auto"
                        data-dismiss="modal" onclick="AddUpdate_ManageRating();">
                    Update
                </button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@*------------------------------------- Edit Group Details Modal ------------------------------------------------------ *@


@*------------------------------------- View Rating Review Detials Modal ------------------------------------------------------ *@
<div class="modal fade" id="ViewRatingDetialsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header border-0">
                <h2 class="modal-title">Review Detail</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body pt-0">
                <div id="ReviewDetails_ViewRatingDetialsModal">
                    @* Data will be appended *@
                </div>
            </div>

        </div>
    </div>
</div>
@*------------------------------------- View Group Details Modal ------------------------------------------------------ *@



@section Scripts{
    <script src="~/Content/lib/StylishAlert/iao-alert.jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/business-panel/js/dore-plugins/select.from.library.js"></script>
    @Html.Partial("/Views/Shared/ScriptPartials/BusinessPanel/_ManageReviewScriptPartial.cshtml")
}





