

@{
    Layout = "~/Views/Shared/_BusinessAdminLayout.cshtml";
    ViewData["Title"] = "Payment";
}




<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h1 class="pageHeadingText" id="pageTextchange">ManagePayment</h1>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="/Business/Advertisement">Home</a>
                                </li>
                                <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange"> ManagePayment</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-4 text-right">
                        <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="btnAddStaff">Add Payment</a>
                    </div>
                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>

        @* <div id="sectionViewStaff" class="d-none">*@
        <div id="sectionViewStaff">
            <div class="row mb-4">
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <table class="data-table data-table-feature">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>
                                            <div class="edbt">

                                                <a href="javascript:;" onclick="EditManagePayment()">
                                                    <i class="fas fa-edit"></i>

                                                </a>
                                                <a href="javascript:;" class="swalDefaultSuccess" onclick="swl01()"><i class="fas fa-trash "></i></a>

                                                </a>

                                            </div>

                                        </td>


                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>
                                            <div class="edbt">
                                                <a href="javascript:;" onclick="EditManagePayment()">

                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <!-- <a href="#"><i class="fas fa-eye"></i></a> -->
                                                <a href="#" class="swalDefaultSuccess" onclick="swl01()"><i class="fas fa-trash "></i></a>
                                            </div>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>
                                            <div class="edbt">
                                                <a href="javascript:;" onclick="EditManagePayment()">

                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <!-- <a href="#"><i class="fas fa-eye"></i></a> -->
                                                <a href="#" class="swalDefaultSuccess" onclick="swl01()"><i class="fas fa-trash "></i></a>
                                            </div>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>
                                            <div class="edbt">
                                                <a href="javascript:;" onclick="EditManagePayment()">

                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <!-- <a href="#"><i class="fas fa-eye"></i></a> -->
                                                <a href="#" class="swalDefaultSuccess" onclick="swl01()"><i class="fas fa-trash "></i></a>
                                            </div>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>
                                            <div class="edbt">
                                                <a href="javascript:;" onclick="EditManagePayment()">

                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <!-- <a href="#"><i class="fas fa-eye"></i></a> -->
                                                <a href="#" class="swalDefaultSuccess" onclick="swl01()"><i class="fas fa-trash "></i></a>
                                            </div>
                                        </td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sectionAddStaff" Style="display: none">
            <div class="row mb-4">
                <div class="col-12 mb-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4" id="myText">Add ManagePayment</h5>
                            <form>
                                <div class="form-group">
                                    <label for="Name">Name</label>
                                    <input type="text" id="txtName" class="form-control" />
                                    <div class="error-class" id="error_txtName"></div>

                                </div>
                                <div class="form-group">
                                    <label for="Position">Position</label>
                                    <input type="text" id="txtPosition" class="form-control" />

                                    <div class="error-class" id="error_txtPosition"></div>

                                </div>



                                <div class="form-group">
                                    <label for="Office">Office</label>
                                    <input type="text" id="txtOffice" class="form-control" />
                                    <div class="error-class" id="error_txtOffice"></div>

                                </div>

                                <div class="form-group">
                                    <label for="Age">Age</label>
                                    <input type="text" id="txtAge" class="form-control" />
                                    <div class="error-class" id="error_txtAge"></div>
                                </div>

                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitFormClick()">Save</button>
                                <a href="javascript:;" class="btn btn-primary mb-0" onclick="ResetAddView()">Cancel</a>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</main>



@section Scripts{
    <script src="/Scripts/js/business-panel/ManagePayment.js"></script>
    
}