@using MasterZoneMvc.ViewModels;
@{
    ViewBag.Title = "Manage Batch";
    Layout = "~/Views/Shared/_BusinessAdminLayout.cshtml";
    var UserRole = Context.Items["UserRole"] as string;

    string ControllerNameForLinks = (UserRole == "BusinessAdmin") ? "Business" : "Staff";
    var Permissions = Context.Items["Permissions"] as List<PermissionHierarchy_VM>;
    List<PermissionHierarchy_VM> permissions = Permissions;
    List<string> permissionKeys = new List<string>();
    if (permissions.Count() > 0)
    {
        permissionKeys = permissions.Select(p => p.KeyName).ToList();
    }
}


<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h1 class="pageHeadingText" id="pageTextchange">View Batch</h1>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="/Business/ManageBatch">Manage Batch</a>
                                </li>
                                <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange"> View Batch</li>
                            </ol>
                        </nav>
                    </div>
                    @*@if (permissionKeys.Contains("ManageStaff_ViewStaff_AddStaff"))
                    {*@
                        <div class="col-4 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="btnAddBatch">Add Batch</a>
                        </div>
                    @*}*@
                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>

        @* <div id="sectionViewStaff" class="d-none">*@
        <div id="sectionViewBatch">
            <div class="row mb-4">
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <table id="tblBatch" class="data-table">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Name</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Max Students</th>
                                        <th>Instructor</th>
                                        <th>Group</th>
                                        <th>Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sectionAddBatch" style="display: none">
            <div class="row mb-4">
                <div class="col-12 mb-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4" id="myText">Add Batch</h5>
                            <form>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="txtName">Name</label>
                                        <input type="text" id="txtName" class="form-control" />
                                        <div class="error-class" id="error_txtName"></div>
                                    </div>
                                    <!-- /.form-group -->

                                    <div class="form-group col-6">
                                        <label for="LimitOfStudentForClass">Limit Of Student</label>
                                        <input type="number" id="LimitOfStudentForClass" class="form-control" required />
                                        <div class="error-class" id="error_LimitOfStudentForClass"></div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>

                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="BatchStartTime">Start Time</label>
                                        <input type="time" id="BatchStartTime" class="form-control" min="00:00" max="23:59" required />
                                        <div class="error-class" id="error_BatchStartTime"></div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="BatchEndTime">End Time</label>
                                        <input type="time" id="BatchEndTime" class="form-control" min="00:00" max="23:59" required />
                                        <div class="error-class" id="error_BatchEndTime"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="ddlSelectedInstructorUserLoginId">Select Instructor</label>
                                        <select id="ddlSelectedInstructorUserLoginId" class="form-control" data-width="100%">
                                        </select>
                                        <div class="error-class" id="error_ddlSelectedInstructorUserLoginId"></div>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="ddlGroup">Class Group</label>
                                        <select id="ddlGroup" class="form-control" data-width="100%">
                                            <option value="0">Select Class Group</option>
                                        </select>
                                        <div class="error-class" id="error_ddlGroup"></div>
                                        <div id="ddlGroupNotes" class="text-gray-dark"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group d-flex flex-column">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="chkIsActive" checked>
                                                <label class="form-check-label" for="chkIsActive" style="cursor:pointer;">Is Active</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnAddUpdateBatch()">Submit</button>
                                <a href="javascript:;" class="btn btn-primary mb-0" onclick="ResetAddView()">Cancel</a>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</main>


@section Scripts{
    @Html.Partial("/Views/Shared/ScriptPartials/BusinessPanel/_ManageBatchScriptPartial.cshtml")

}
