

@{
    Layout = "~/Views/Shared/_BusinessAdminLayout.cshtml";
    ViewData["Title"] = "Message";
}

@section Styles{
    <style>
        .CountMessage {
            font-size: 14px;
            background: #000;
            color: #FFF;
            padding: 5px 10px;
            border-radius: 50%;
        }
    </style>
}


<main>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-8">
                    <h1 class="pageHeadingText" id="pageTextchange">Messages</h1>
                    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-0">
                            <li class="breadcrumb-item">
                                <a href="/Business/Dashboard">Home</a>
                            </li>
                            <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange"> Messages</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-4 text-right">
                    <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="btnAddMessage" style="display: none;">Messages</a>
                </div>
            </div>
            <div class="separator mb-5"></div>
        </div>
    </div>
    <div id="UserViewListForChat">
        @*<div class="card  col-md-9 d-inline-block mb-3 float-left mr-2">
                <div class="position-absolute pt-1 pr-2 r-0">
                    <span class="text-extra-small text-muted">09:25</span>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-row pb-2">
                        <a class="d-flex" href="#">
                            <img alt="Profile Picture" src="~/Content/business-panel/img/profiles/l-1.jpg"
                                 class="img-thumbnail border-0 rounded-circle mr-3 list-thumbnail align-self-center xsmall">
                        </a>
                        <div class=" d-flex flex-grow-1 min-width-zero">
                            <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                <div class="min-width-zero">
                                    <p class="mb-0 truncate list-item-heading">Sarah Kortney</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>*@
    </div>
    <!--<div id="ShowChatList" style="display: none">
        <div class="container-fluid">
            <div class="row app-row" style="padding-right: inherit;">
                <div id="MainStudentUser">-->
    @*<div class="col-12 chat-app">

           <div class="d-flex flex-row justify-content-between mb-3 chat-heading-container">

        <div class="d-flex flex-row chat-heading">
            <a class="d-flex" href="#">
                <img alt="Profile Picture" src="~/Content/business-panel/img/profiles/l-1.jpg"
                     class="img-thumbnail border-0 rounded-circle ml-0 mr-4 list-thumbnail align-self-center small">
            </a>
            <div class=" d-flex min-width-zero">
                <div class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                    <div class="min-width-zero">
                        <a href="#">
                            <p class="list-item-heading mb-1 truncate ">Sarah Kortney</p>
                        </a>
                        <p class="mb-0 text-muted text-small">Last seen today 01:24</p>
                    </div>
                </div>
            </div>
        </div>*@
    <!--</div>
    </div>

    <div class="separator mb-5"></div>

    <div class="scroll">
        <div class="scroll-content">
            <div id="MessageView">-->
    @*<div class="card  col-md-9 d-inline-block mb-3 float-left mr-2">
            <div class="position-absolute pt-1 pr-2 r-0">
                <span class="text-extra-small text-muted">09:25</span>
            </div>
            <div class="card-body">
                <div class="d-flex flex-row pb-2">
                    <a class="d-flex" href="#">
                        <img alt="Profile Picture" src="~/Content/business-panel/img/profiles/l-1.jpg"
                             class="img-thumbnail border-0 rounded-circle mr-3 list-thumbnail align-self-center xsmall">
                    </a>
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <p class="mb-0 truncate list-item-heading">Sarah Kortney</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chat-text-left">
                    <p class="mb-0 text-semi-muted">
                        What do you think about our plans for this product launch?
                    </p>
                </div>
            </div>
        </div>*@
    <!--</div>-->
    @*<div class="clearfix"></div>
        <div class="card d-inline-block mb-3 float-left mr-2">
            <div class="position-absolute pt-1 pr-2 r-0">
                <span class="text-extra-small text-muted">09:28</span>
            </div>
            <div class="card-body">
                <div class="d-flex flex-row pb-2">
                    <a class="d-flex" href="#">
                        <img alt="Profile Picture" src="~/Content/business-panel/img/profiles/l-1.jpg"
                             class="img-thumbnail border-0 rounded-circle mr-3 list-thumbnail align-self-center xsmall">
                    </a>
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <p class="mb-0 truncate list-item-heading">Sarah Kortney</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chat-text-left">
                    <p class="mb-0 text-semi-muted">
                        It looks to me like you have a lot planned before your deadline. I would
                        suggest you push your deadline back so you have
                        time to run a successful advertising campaign.
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card d-inline-block mb-3 float-left mr-2">
            <div class="position-absolute pt-1 pr-2 r-0">
                <span class="text-extra-small text-muted">09:30</span>
            </div>
            <div class="card-body">
                <div class="d-flex flex-row pb-2">
                    <a class="d-flex" href="#">
                        <img alt="Profile Picture" src="~/Content/business-panel/img/profiles/l-1.jpg"
                             class="img-thumbnail border-0 rounded-circle mr-3 list-thumbnail align-self-center xsmall">
                    </a>
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <p class="mb-0 truncate list-item-heading">Sarah Kortney</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chat-text-left">
                    <p class="mb-0 text-semi-muted">
                        How do you think we should move forward with this project? As you know, we
                        are
                        expected to present it to our clients next
                        week.
                    </p>
                </div>
            </div>
        </div>
         <div class="clearfix"></div>*@
    @*<div id="StudentViewMessage">*@
    @*<div class="card d-inline-block mb-3 float-right  mr-2">
            <div class="position-absolute pt-1 pr-2 r-0">
                <span class="text-extra-small text-muted">09:41</span>
            </div>
            <div class="card-body">
                <div class="d-flex flex-row pb-2">
                    <a class="d-flex" href="#">
                        <img alt="Profile Picture" src="~/Content/business-panel/img/profiles/l-4.jpg"
                             class="img-thumbnail border-0 rounded-circle mr-3 list-thumbnail align-self-center xsmall">
                    </a>
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <p class="mb-0 list-item-heading truncate">Mimi Carreira</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="chat-text-left">
                    <p class="mb-0 text-semi-muted">
                        I would suggest you discuss this further with the advertising team.
                    </p>
                </div>
            </div>
        </div>*@
    @*</div>*@
    @*<div class="clearfix"></div>
        <div class="card d-inline-block mb-3 float-right  mr-2">
            <div class="position-absolute pt-1 pr-2 r-0">
                <span class="text-extra-small text-muted">09:41</span>
            </div>
            <div class="card-body">
                <div class="d-flex flex-row pb-2">
                    <a class="d-flex" href="#">
                        <img alt="Profile Picture" src="~/Content/business-panel/img/profiles/l-4.jpg"
                             class="img-thumbnail border-0 rounded-circle mr-3 list-thumbnail align-self-center xsmall">
                    </a>
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <p class="mb-0 list-item-heading truncate">Mimi Carreira</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="chat-text-left">
                    <p class="mb-0 text-semi-muted">
                        I am very busy at the moment and on top of everything, I forgot my umbrella
                        today.
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card d-inline-block mb-3 float-right mr-2">
            <div class="position-absolute pt-1 pr-2 r-0">
                <span class="text-extra-small text-muted">09:41</span>
            </div>
            <div class="card-body">
                <div class="d-flex flex-row pb-2">
                    <a class="d-flex" href="#">
                        <img alt="Profile Picture" src="~/Content/business-panel/img/profiles/l-4.jpg"
                             class="img-thumbnail border-0 rounded-circle mr-3 list-thumbnail align-self-center xsmall">
                    </a>
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <p class="mb-0 list-item-heading truncate">Mimi Carreira</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="chat-text-left">
                    <p class="mb-0 text-semi-muted">
                        I am very busy at the moment and on top of everything, I forgot my umbrella
                        today.
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>*@
    <!--</div>

        </div>
    </div>
    <div id="Arrow">-->
    @*<div class="chat-input-container d-flex justify-content-between align-items-center">
            <input class="form-control flex-grow-1" type="text" id="MessageBodyText" placeholder="Say something...">

            <div class="error-class" id="error_MessageBodyText"></div>
            <button type="button" class="btn btn-secondary icon-button large" style="margin-right: -185px;">
                <i class="simple-icon-arrow-right" onclick=" btnSubmitMessage();"></i>
            </button>
        </div>*@
    <!--</div>
    </div>-->
    </div></div>
</main>





@section Scripts{

    @Html.Partial("/Views/Shared/ScriptPartials/BusinessPanel/_MessageScriptPartial.cshtml")
    <script src="~/Content/lib/StylishAlert/iao-alert.jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(".page-footer").addClass("d-none");
    </script>

}
