
@{
    ViewBag.Title = "MyPurchaseBookingDetail";
    Layout = "~/Views/Shared/_BusinessAdminLayout.cshtml";
    long classId = ViewBag.ClassId;

}

@section Styles{
    <link href="~/Content/custom/css/common.css" rel="stylesheet" />
    <style>
        .image {
            width: 75px;
            height: 75px;
        }

        .imagePreview {
            border: 2px dashed #cecece;
            height: 75px;
            width: 75px;
            margin: 5px 0px;
            padding: 5px;
        }

        .profile-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    </style>
}
<main>
    <input type="hidden" id="hidden_classBookingId" value="@ViewBag.ClassId" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h1 class="pageHeadingText" id="pageTextchange">My Class Purchase Details </h1>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="/Business/MyBooking">Home</a>
                                </li>
                                <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange"> Purchase Detail</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-4 text-right">
                        <a href="/Business/MyBooking" class="btn btn-primary btn-lg top-right-button mr-1" id="btnAddStaff">Back</a>
                    </div>

                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>
        <div id="sectionViewRequest">
            <div class="row mb-4">
                <div class="col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h3>Order Details</h3>
                            <hr />
                            <div class="row">
                                <div class="col-12">
                                    <div id="sectionBookingDetail">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h3>Payment Details</h3>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div id="sectionOrderDetails">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>


@section Scripts{
    @Html.Partial("/Views/Shared/ScriptPartials/BusinessPanel/_MyPurchaseClassBookingDetailScriptPartial.cshtml")
}


