

@{
    Layout = "~/Views/Shared/_BusinessAdminLayout.cshtml";
    ViewData["Title"] = "Notification";
}

@section Styles {
    <link rel="stylesheet" href="~/Content/business-panel/css/vendor/select2.min.css" />
    <link rel="stylesheet" href="~/Content/business-panel/css/vendor/select2-bootstrap.min.css" />
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h1 class="pageHeadingText" id="pageTextchange">Notification</h1>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="/Business/Dashboard">Home</a>

                                </li>
                                <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange">Notification </li>
                            </ol>
                        </nav>
                    </div>
                    @*<div class="col-4 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="btnAddNotification">Add Notification</a>
                        </div>*@
                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>

        @* <div id="sectionViewStaff" class="d-none">*@
        <div id="sectionViewNotification">
            <div class="row mb-4">
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <table id="tblNotifications" class="data-table">
                                <thead>
                                    <tr>
                                        <th>SNo.</th>
                                        <th>Notification Title</th>
                                        <th>Notification Text</th>
                                        @*<th>Created On</th>*@
                                        <th>Date</th>
                                        @*<th class="text-center">Action</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>
                                                <div class="edbt">
                                                    <a href="javascript:;" onclick="EditNotification()">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a href="javascript:;" class="swalDefaultSuccess" onclick="swl01()"><i class="fas fa-trash "></i></a>
                                                </div>
                                            </td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sectionAddUpdateNotification" Style="display: none">
            <div class="row mb-4">
                <div class="col-12 mb-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4" id="myText">Add Notification</h5>
                            <form>
                                <div class="form-group">
                                    <label>Select Students</label>
                                    <select id="ddlSelectedUsers" class="form-control select2-multiple" multiple="multiple" data-width="100%">
                                        @*<option label="&nbsp;">&nbsp;</option>*@
                                    </select>
                                    <div class="error-class" id="error_ddlSelectedUsers"></div>
                                </div>
                                <div class="form-group">
                                    <label for="txtNotificationTitle">Notification Title</label>
                                    <input type="text" id="txtNotificationTitle" class="form-control" />
                                    <div class="error-class" id="error_txtNotificationTitle"></div>
                                </div>
                                <div class="form-group">
                                    <label for="txtNotificationMessage">Message</label>
                                    <textarea type="text" id="txtNotificationMessage" class="form-control"></textarea>
                                    <div class="error-class" id="error_txtNotificationMessage"></div>
                                </div>
                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitFormClick()">Send</button>
                                <a href="javascript:;" class="btn btn-primary mb-0" onclick="ResetAddView()">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts{
    <script src="~/Content/business-panel/js/vendor/select2.full.js"></script>
    <script src="~/Content/business-panel/js/dore-plugins/select.from.library.js"></script>

    @Html.Partial("/Views/Shared/ScriptPartials/BusinessPanel/_NotificationScriptPartial.cshtml")
}
