
@{
    ViewBag.Title = "Notification Detail";
    Layout = "~/Views/Shared/_BusinessAdminLayout.cshtml";
    long _BusinessOwnerLoginId = Convert.ToInt64(ViewBag.id);
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h1 class="pageHeadingText" id="pageTextchange">Transfer Notification Detail</h1>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="/Business/TransferNotification">Home</a>
                                </li>
                                <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange">Transfer Notification Detail</li>
                            </ol>
                        </nav>
                    </div>

                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>


        <div id="sectionViewNotificationDetail">
            <div class="row mb-4">
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            
                            <table id="ViewForNotificationDetail" class="data-table">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Sender By</th>
                                        <th>Message Notification</th>
                                        <th>Status</th>
                                        <th>CreatedOn</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts{
    @Html.Partial("/Views/Shared/ScriptPartials/BusinessPanel/_NotificationDetailForTransferScriptPartial.cshtml")

}

