
@{
    ViewBag.Title = "PauseClassDetail";
    Layout = "~/Views/Shared/_BusinessAdminLayout.cshtml";
}



<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h1 class="pageHeadingText" id="pageTextchange">Pause Classes Request </h1>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="/Business/Dashboard">Home</a>
                                </li>
                                <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange"> Pause Classes Request</li>
                            </ol>
                        </nav>
                    </div>


                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>
        <div id="sectionViewPauseClassDetail">
            <div class="row mb-4">
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <table id="tblPauseClassDetailView" class="data-table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>User-Id/Name</th>
                                        <th>Class Name</th>
                                        <th>StartDate</th>
                                        <th>End Date</th>
                                        <th>Reason</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <div class="modal fade" id="EditBusinessActionPauseClassModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header border-0">
                    <h2 class="modal-title">Pause Class Request</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body pt-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtDescription">Reason</label>
                                <textarea type="text" id="txtBusinessReason" class="form-control"></textarea>
                                <div class="error-class" id="error_txtBusinessReason"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ddlSelectedStatus">Select Status</label>
                                <select name="ddlSelectedStatus" id="ddlSelectedStatus" form="carform" default="unslected" class="form-control">
                                    <option value="0">Select Status</option>
                                    <option value="2">Accepted</option>
                                    <option value="3">Rejected</option>

                                </select>

                                <div class="error-class" id="error_ddlSelectedStatus"></div>

                            </div>
                        </div>




                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark cstm-btn w-auto" onclick="btnSubmitToBusinessDecision();">
                        Save
                    </button>
                    <button type="button" class="btn btn-outline-danger" onclick="ResetAddPauseClassView()" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</main>
<!-------------------------------  To Add The Model  --------------------------------------------------->



@section Scripts{
    @Html.Partial("/Views/Shared/ScriptPartials/BusinessPanel/_PauseClassRequestScriptPartial.cshtml")
}
