
@{
    ViewBag.Title = "Instructor";
    Layout = "~/Views/Shared/_BusinessAdminLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h1 class="pageHeadingText" id="pageTextchange">Students By Class-Instructor</h1>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="/Business/Dashboard">Home</a>
                                </li>
                                <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange">Students By Class-Instructor</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>

        <div id="sectionViewInstructor">
            <div class="row mb-4">
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <table id="ViewBusinessStudent" class="data-table">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Student Name</th>
                                        <th style="width: 321px;">Email</th>
                                        <th>Class Name</th>
                                        <th>Instructor Name</th>
                                        <th>CreatedOn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{

    @Html.Partial("/Views/Shared/ScriptPartials/BusinessPanel/_StudentsWithClassInstructorScriptPartial.cshtml")
}
