
@{
    ViewBag.Title = "Upgrade Package";
    Layout = "~/Views/Shared/_BusinessAdminLayout.cshtml";
}
@section Styles{
    <style>
        span.package-offer {
            background: #F00;
            color: #fff;
            padding: 15px;
            border-radius: 50%;
            box-shadow: 4px 3px 5px 2px #ccc;
        }

        .packageIcon {
            width: 75px;
            height: 75px;
        }
    </style>
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h1 class="pageHeadingText" id="pageTextchange">Upgrade Package</h1>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="/Business/Dashboard">Home</a>
                                </li>
                                <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange">Upgrade Package </li>
                            </ol>
                        </nav>
                    </div>
                    <div id="btnBackProfileSetting" class="col-4 text-right">
                        <a href="/Business/ProfileSettings" class="btn btn-primary btn-lg top-right-button mr-1" onclick="BackToProfileSetting();">Back</a>
                    </div>
                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>
        <div id="sectionViewUpgradePackage">
            <div id="MainPlanCardList_BusinessPanel" class="row equal-height-container">

                @*----------------------- Bind Plan Cards ----------------*@

                @*----------------------- Bind Plan Cards ----------------*@

            </div>
        </div>
    </div>
</main>

@section Scripts{
    @Html.Partial("/Views/Shared/ScriptPartials/BusinessPanel/_UpgradePackageScriptPartial.cshtml")
}
