
@{
    ViewBag.Title = "ViewDocumentsBusiness";
    Layout = "~/Views/Shared/_BusinessAdminLayout.cshtml";
}

@section Styles {
    <style>
        .documentImage {
            height: 190px; 
            width: 100%; 
            object-fit: cover;
        }
    </style>
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h1 class="pageHeadingText" id="pageTextchange">View Documents</h1>
                        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-0">
                                <li class="breadcrumb-item">
                                    <a href="/Business/Dashboard">Home</a>
                                </li>
                                <li class="breadcrumb-item active pageHeadingText" aria-current="page" id="pageStageChange">View Documents</li>
                            </ol>
                        </nav>
                    </div>
                    <div id="btnBackProfileSetting" class="col-4 text-right">
                        <a href="/Business/ProfileSettings" class="btn btn-primary btn-lg top-right-button mr-1">Back</a>
                    </div>

                </div>
                <div class="separator mb-5"></div>
            </div>
        </div>
        <div id="sectionAddProfileSetting">
            <div class="row mb-4">
                <div class="col-12 mb-4">
                    <div class="card mb-4">
                        <div class="card-body">

                            @*@using (Html.BeginForm("Download", "Business", FormMethod.Post))
                                {*@
                            <div id="BindBusinessOwnerUploadedDocuments" class="row p-1">
                                @*<label>Document Title</label>
                                    <embed type="application/pdf" src="~/Content/Uploads/Certificates/PtPAPIClinet.pdf" height="350px;" width="100%;"><br>

                                    <a href="/Content/Uploads/Certificates/PtPAPIClinet.pdf" target="_blank" class="btn btn-info text-light mt-3">View</a>
                                    <input type="hidden" name="ExportData" value="PtPAPIClinet.pdf" />
                                    <input type="submit" class="btn btn-success mt-3 ml-2" style="width: 98px;" value="Download" />*@
                            </div>
                            @*}*@



                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</main>

@section Scripts{
    @Html.Partial("/Views/Shared/ScriptPartials/BusinessPanel/_ViewDocumentsBusinessScriptPartial.cshtml")
}

