<style>


    .imageEventsPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .previewBannerImage {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .imagePreview {
        width: 75px;
        height: 75px;
    }

    .previewImage {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .previewClassImage {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }


    .previewScheduleImage {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }


    .imageTechniquePreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }


    .imageClassicPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .dataTables_length {
        text-align: left;
    }

    .previewEducationBannerImage {
        width: 75px;
        height: 75px;
    }

</style>

<div class="container">
    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Event Organisation Event Images Section </h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseEventImages" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseEventImages">

                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <div class="col-12">
                            <div class="col-12 text-right">
                                <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1 mb-2" onclick="AddEventImageDetail();">Add Event Section</a>
                            </div>
                            <div class="modal fade" id="collapseAddEventImageDetail">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header border-0">
                                            <h5 id="Modal_Title" class="modal-title"> Add Event Section</h5>
                                            <button type="button" class="close" onclick="ResetBusinessContentEventImage()" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body pt-0">
                                            <form>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="description"> Event</label>
                                                        <select id="ddlEvents_EventOrganisation" class="form-control" data-width="100%">
                                                        </select>
                                                        <div class="error-class" id="error_dddlEvent_organisation_Event"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex flex-column">
                                                    <label> Event Images</label>
                                                    <div class="imageEventsPreview">
                                                        <img id="previewEventsImage" class="d-none" style="width:100%; height:100%;">
                                                    </div>
                                                    <input type="file" id="fileEventOrganisationImage_EventImages" class="border form-control" accept="image/*">
                                                    <div class="error-class" id="error_fileEventOrganisationImage_EventImages"></div>
                                                </div>

                                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentEventOrganisationImagesClick()">Save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="sectionViewEvent">
                                <div class="row mb-4">
                                    <div class="col-12 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <table id="tblEventOrganisationEventImageDetailView" class="data-table">
                                                    <thead>
                                                        <tr>
                                                            <th>SNo.</th>
                                                            <th>  Image</th>
                                                            <th>Title</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Business Video  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseBusinessVideo" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>
                </div>
                <div class="collapse" id="collapseBusinessVideo">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">  Title</label>
                                <input type="text" id="txtYogaVideoTitle" class="form-control" />
                                <div class="error-class" id="error_txtYogaVideoTitle"></div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="txt_Videodescription"></textarea>
                                    <div class="error-class" id="error_txt_Videodescription"></div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentVideoClick()">Save</button>
                        </form>
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5>  If You can manage the Business Video Section then go to Manage Business Videos Page.</h5>
                        <a class="btn btn-primary" href="/Business/ManageBusinessVideos">
                            Business Video Session
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Classic Dance  Section </h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseClassicDance" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseClassicDance">

                    <div class="card-body">
                        <form>

                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" id="txtTitle" class="form-control" />
                                <div class="error-class" id="error_txtTitle"></div>

                            </div>
                            <div class="form-group">
                                <label for="SubTitle">Sub-Title</label>
                                <input type="text" id="txtSubTitle" class="form-control" />
                                <div class="error-class" id="error_txtSubTitle"></div>
                            </div>
                            <div class="form-group">
                                <label> Classic Technique Dance  Image</label>
                                <div class="imageTechniquePreview">
                                    <img id="previewTechniqueImage" class="d-none" style="width: 98%; height: 98%;">
                                </div>

                                <input type="file" id="fileProfileImage_ManageClassicDanceTechniqueImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageClassicDanceTechniqueImage"></div>
                            </div>


                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessClassicDanceTechniqueClick()">Save</button>
                        </form>
                        <h5 class="mb-4" id="myText"></h5>
                        <div class="col-12">
                            <div class="col-12 text-right">
                                <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" onclick="AddClassicDanceDetail();">Add Classic Dance Section</a>
                            </div>
                            <div class="modal fade" id="collapseAddClassicDanceTechniqueDetail">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <div class="modal-header border-0">
                                            <h5 id="Modal_Title" class="modal-title"> Add Classic Dance Section</h5>
                                            <button type="button" class="close" onclick="ResetBusinessClassicDance()" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body pt-0">
                                            <form>

                                                <div class="form-group">
                                                    <label for="Title">Title</label>
                                                    <input type="text" id="txtClassicTitle" class="form-control" />
                                                    <div class="error-class" id="error_txtClassicTitle"></div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="description"> Description</label>
                                                        <textarea name="description" class="form-control" rows="6" id="txt_classictechniquedescription"></textarea>
                                                        <div class="error-class" id="error_txt_classictechniquedescription"></div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="ddlEquipment_Managetag">Classic Dance Technique ItemList</label>

                                                    <input data-role="tagsinput" id="text_tagItemList" type="text">
                                                    <div class="error-class" id="error_text_tagItemList"></div>
                                                </div>


                                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessClassicDanceTechnique()">Save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="sectionViewTechnique">
                                <div class="row mb-4">
                                    <div class="col-12 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <table id="tblClassicDanceTechniqueDetailView" class="data-table">
                                                    <thead>
                                                        <tr>
                                                            <th>SNo.</th>
                                                            <th>Title</th>
                                                            <th>  Description</th>
                                                            <th>ItemList</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Classic Dance Technique Video Section </h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseClassicDanceVideo" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseClassicDanceVideo">

                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Title">Title</label>
                                        <input type="text" id="txt_ClassicDanceTitle" class="form-control" />
                                        <div class="error-class" id="error_txt_ClassicDanceTitle"></div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="SubTitle">Sub-Title</label>
                                        <input type="text" id="txt_ClassicDanceSubTitle" class="form-control" />
                                        <div class="error-class" id="error_txt_ClassicDanceSubTitle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Note">Note</label>
                                        <input type="text" id="txtNote" class="form-control" />
                                        <div class="error-class" id="error_txtNote"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="videoLink">VideoLink</label>
                                        <input type="text" id="txtClassicVideoLink" class="form-control" />
                                        <div class="error-class" id="error_txtClassicVideoLink"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ButtonText">ButtonText</label>
                                        <input type="text" id="txtButtonText" class="form-control" />
                                        <div class="error-class" id="error_txtButtonText"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ButtonLink">ButtonLink</label>
                                        <input type="text" id="txtButtonLink" class="form-control" />
                                        <div class="error-class" id="error_txtButtonLink"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ButtonText1">ButtonText1</label>
                                        <input type="text" id="txtButtonText1" class="form-control" />
                                        <div class="error-class" id="error_txtButtonText1"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ButtonLink1">ButtonLink1</label>
                                        <input type="text" id="txtButtonLink1" class="form-control" />
                                        <div class="error-class" id="error_txtButtonLink1"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Classic Video  Image</label>
                                        <div class="imageClassicPreview">
                                            <img id="previewClassicImage" class="d-none" style="width: 98%; height: 98%;">
                                        </div>

                                        <input type="file" id="fileProfileImage_ManageClassicVideoDanceImage" class="border form-control" accept="image/*">
                                        <div class="error-class" id="error_fileProfileImage_ManageClassicDanceVideoImage"></div>
                                    </div>

                                </div>

                            </div>
                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentVideoSectionClick()">Save</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Classic Image  Section </h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseClassicDanceProfile" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseClassicDanceProfile">

                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Title">Title</label>
                                        <input type="text" id="txt_ClassicProfileTitle" class="form-control" />
                                        <div class="error-class" id="error_txt_ClassicProfileTitle"></div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="SubTitle">Sub-Title</label>
                                        <input type="text" id="txt_ClassicProfileSubTitle" class="form-control" />
                                        <div class="error-class" id="error_txt_ClassicProfileSubTitle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Classic   Image</label>
                                        <div class="imagePreview">
                                            <img id="previewClassImage" class="d-none" style="width: 98%; height: 98%;">
                                        </div>

                                        <input type="file" id="fileProfileImage_ManageClassDanceImage" class="border form-control" accept="imageClassPreview/*">
                                        <div class="error-class" id="error_fileProfileImage_ManageClassDanceImage"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>  Image</label>
                                        <div class="imagePreview">
                                            <img id="previewImage" class="d-none" style="width: 98%; height: 98%;">
                                        </div>

                                        <input type="file" id="fileProfileImage_ManageClassicImage" class="border form-control" accept="image/*">
                                        <div class="error-class" id="error_fileProfileImage_ManageImage"></div>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Schedule Image</label>
                                        <div class="imagePreview">
                                            <img id="previewScheduleImage" class="d-none" style="width: 98%; height: 98%;">
                                        </div>

                                        <input type="file" id="fileProfileImage_ManageScheduleImage" class="border form-control" accept="image/*">
                                        <div class="error-class" id="error_fileProfileImage_ManageScheduleImage"></div>
                                    </div>

                                </div>

                            </div>
                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitClassicDanceProfileSectionClick()">Save</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> classic  Banner Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseExample">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <form>

                            <div class="form-group">
                                <label> Banner Image</label>
                                <div class="imagePreview">
                                    <img id="previewBannerImage" class="d-none" style="width: 98%; height: 98%;">
                                </div>

                                <input type="file" id="fileProfileImage_ManageDanceBannerImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageDanceBannerImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBannerClick()">Save</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">Our Classes</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseClasses" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseClasses">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">  Title</label>
                                <input type="text" id="txtTitle_OurClassesSection" class="form-control" />


                            </div>

                            <div class="form-group">
                                <label for="description"> SubTitle</label>
                                <input type="text" id="txt_description_OurClassesSection" class="form-control" />


                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentClassClick()">Save</button>
                        </form>
                        <h5> You can manage the business Classes session in the ManageClasses</h5>
                        <a class="btn btn-primary" href="/Business/ScheduleClass">
                            Business Classes Session
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>


    @* University Section *@
    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  University Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseUniversity" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseUniversity">

                    <div class="card-body">


                        <div class="col-12 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1 mb-3" id="AddUniversityDetailButton" onclick="AddUniversityDetail();">Add University  Section</a>
                        </div>

                        <div class="modal fade" id="collapseAddUniversityService">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add University Section</h5>
                                        <button type="button" class="close" onclick="ResetBusinessUniversityDetail()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>

                                            <div class="form-group">
                                                <label>Select Students</label>
                                                <select id="ddlUniversity_UniversityList" class="form-control select2-multiple" multiple="multiple" data-width="100%">
                                                    @*<option label="&nbsp;">&nbsp;</option>*@
                                                </select>
                                                <div class="error-class" id="error_ddlUniversity_UniversityList"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentUniversityClick()">Save</button>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div id="sectionViewUniversity">
                            <div class="row mb-4">
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <table id="tblUniversityDetailView" class="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th>University  </th>
                                                        <th>University Image</th>

                                                        <th>University Logo</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>


</div>
