<style>
    .imageEventPreview {
        width: 75px;
        height: 75px;
    }

    .imageEventPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .imageEventsPreview {
        width: 75px;
        height: 75px;
    }

    .imageEventsPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .previewAboutImage {
        width: 75px;
        height: 75px;
    }

    .imageAboutPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .previewClientImage {
        width: 75px;
        height: 75px;
    }

    .imageClientPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .imageReviewPreview {
        width: 75px;
        height: 75px;
    }

    .previewReviewImage {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }


    .previewEventOrganisationBannerImage {
        width: 75px;
        height: 75px;
    }

    .imageEventOrganisationBannerPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }
</style>


<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Event Organisation  Banner Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseEventOrganisationBanner" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseEventOrganisationBanner">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" id="txtTitle" class="form-control" />
                                <div class="error-class" id="error_txtTitle"></div>

                            </div>
                            <div class="form-group">
                                <label for="ButtonText">Button-Text</label>
                                <input type="text" id="txtButtonText" class="form-control" />
                                <div class="error-class" id="error_txtButtonText"></div>

                            </div>
                            <div class="form-group">
                                <label for="ButtonLink">Button-Link</label>
                                <input type="text" id="txtButtonLink" class="form-control" />
                                <div class="error-class" id="error_txtButtonLink"></div>

                            </div>
                            <div class="form-group">
                                <label for="description"> Description</label>
                                <textarea name="description" class="form-control" rows="6" id="eventorganisation_description"></textarea>
                                <div class="error-class" id="error_music_description"></div>
                            </div>

                            <div class="form-group">
                                <label>Event Organisation Banner Image</label>
                                <div class="imageEventOrganisationBannerPreview">
                                    <img id="previewEventOrganisationBannerImage" class="d-none" style="width: 100%; height: 100%;">
                                </div>

                                <input type="file" id="fileProfileImage_ManageEventOrganisationBannerImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageEventOrganisationBannerImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitEventOrganisationBannerClick()">Save</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Event Organisation About Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseAbout" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseAbout">

                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <form>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="Aboutdescription"></textarea>
                                    <div class="error-class" id="error_sports_Aboutdescription"></div>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label> About Image</label>
                                <div class="imageAboutPreview">
                                    <img id="previewAboutImage" class="d-none" style="width:100%; height:100%;">
                                </div>
                                <input type="file" id="fileProfileImage_ManageAboutImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageAboutImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentAboutClick()">Save</button>
                        </form>

                        <h5> If You can Manage the About Then You can ProfileSetting.</h5>
                        <a class="btn btn-primary" href="/Business/ProfileSettings">
                            Business Profile  Session
                        </a>


                    </div>
                </div>

            </div>

        </div>
    </div>





    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Event Organisation Services  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseExampleServices" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseExampleServices">
                    <div class="card-body">

                        <h5> You can manage the business  Services  session in the ManageBusinessService</h5>
                        <a class="btn btn-primary" href="/Business/ManageBusinessService">
                            Business Service Session
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Event Organisation Event  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseExampleEvent" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseExampleEvent">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5> You can manage the Event, Then go to  Event Page.</h5>
                        <a class="btn btn-primary" href="/Business/Event">
                            Event Section
                        </a>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Event Organisation Business Contact Us Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseContactUs" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseContactUs">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5>  To Manage the Contact Us then go to the Manage Profile Setting</h5>
                        <a class="btn btn-primary" href="/Business/ProfileSettings">
                            Business ContactUs Section
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Event Organisation Business Timing Hour  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseExample11" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseExample11">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h2> Business Timing session</h2>
                        <a class="btn btn-primary" href="/Business/TimeSlot">
                            Business Timing Session
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Event Organisation Our  Sponsors</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseSponsors" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseSponsors">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5> You can manage the Sponsors, Then go to  Sponsors Page.</h5>
                        <a class="btn btn-primary" href="/Business/Sponsors">
                            Event Section
                        </a>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Event Organisation Business Professional  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseExampleProfessional" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseExampleProfessional">
                    <div class="card-body">

                        <form>

                            <div class="form-group">
                                <label for="title"> Title</label>
                                <input type="text" id="Professionaltitle" class="form-control" />


                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="Professionaldescription"></textarea>
                                    <div class="error-class" id="error_description"></div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitSportsProfessionalClick()">Save</button>
                        </form>
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5> You can Manage the Business Professional Section in the Manage Staff Page.</h5>
                        <a class="btn btn-primary" href="/Business/ManageStaff">
                            Business Professional Section
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Event Organisation Client Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseAbout" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseAbout">

                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@

                        <div class="col-12 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="ChangeAddSection" onclick="AddClientDetail();">Add About Client Section</a>
                        </div>
                        <div class="modal fade" id="collapseAddClientService">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add Client Section</h5>
                                        <button type="button" class="close" onclick="ResetBusinessContentClient()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>
                                            <div class="form-group">
                                                <label for="Name"> Client Name</label>
                                                <input type="text" id="txtClientName" class="form-control" />
                                                <div class="error-class" id="error_txtClientName"></div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="description"> Description</label>
                                                    <textarea name="description" class="form-control" rows="6" id="client_description"></textarea>
                                                    <div class="error-class" id="error_client_description"></div>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex flex-column">
                                                <label> Client Image</label>
                                                <div class="imageClientPreview">
                                                    <img id="previewClientImage" class="d-none" style="width:100%; height:100%;">
                                                </div>
                                                <input type="file" id="fileProfileImage_ManageclientImage" class="border form-control" accept="image/*">
                                                <div class="error-class" id="error_fileProfileImage_ManageclientImage"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeClientUpdateText" onclick="btnSubmitBusinessContentClientClick()">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="sectionViewEvent">
                            <div class="row mb-4">
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <table id="tblClientEventOrganisationDetailView" class="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th> Client Image</th>
                                                        <th> Client Name</th>
                                                        <th> Description</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Event Organisation Business Review   section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseReview" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseReview">
                    <div class="card-body">
                        <form>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="description"></textarea>
                                    <div class="error-class" id="error_description"></div>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label>  Review Image</label>
                                <div class="imageReviewPreview">

                                    <img id="previewReviewImage" class="d-none" style="width:100%; height:100%;">
                                </div>
                                <input type="file" id="fileProfileImage_ManageEventReviewImage" class="border form-control" accept="imageReview/*">
                                <div class="error-class" id="error_fileProfileImage_ManageEventReviewImage"></div>
                            </div>
                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitEventOrganisationReviewClick()">Save</button>
                        </form>


                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5> To Manage the Business Reviews then Go to  Business Review Section.</h5>
                        <a class="btn btn-primary" href="/Business/ManageReviews">
                            Business Reviews Section
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Event Organisation Business Video  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseBusinessVideo" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>
                </div>
                <div class="collapse" id="collapseBusinessVideo">
                    <div class="card-body">
                        <form id="YogaVedioDetail">
                            <div class="form-group">
                                <label for="Title">  Title</label>
                                <input type="text" id="txtVideoTitle" class="form-control" />
                                <div class="error-class" id="error_txtVideoTitle"></div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="txt_Videodescription"></textarea>
                                    <div class="error-class" id="error_txt_Videodescription"></div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentVideoClick()">Save</button>
                        </form>
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5>  If You can manage the Business Video Section then go to Manage Business Videos Page.</h5>
                        <a class="btn btn-primary" href="/Business/ManageBusinessVideos">
                            Business Video Session
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>




    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Event Organisation Event Images Section </h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseEventImages" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseEventImages">

                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <div class="col-12">
                            <div class="col-12 text-right">
                                <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" onclick="AddEventImageDetail();">Add Event Section</a>
                            </div>
                            <div class="modal fade" id="collapseAddEventImageDetail">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header border-0">
                                            <h5 id="Modal_Title" class="modal-title"> Add Event Section</h5>
                                            <button type="button" class="close" onclick="ResetBusinessContentEventImage()" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body pt-0">
                                            <form>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="description"> Event</label>
                                                        <select id="ddlEvents_EventOrganisation" class="form-control" data-width="100%">
                                                        </select>
                                                        <div class="error-class" id="error_dddlEvent_organisation_Event"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex flex-column">
                                                    <label> Event Images</label>
                                                    <div class="imageEventsPreview">
                                                        <img id="previewEventsImage" class="d-none" style="width:100%; height:100%;">
                                                    </div>
                                                    <input type="file" id="fileEventOrganisationImage_EventImages" class="border form-control" accept="image/*">
                                                    <div class="error-class" id="error_fileEventOrganisationImage_EventImages"></div>
                                                </div>

                                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentEventOrganisationImagesClick()">Save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="sectionViewEvent">
                                <div class="row mb-4">
                                    <div class="col-12 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <table id="tblEventOrganisationEventImageDetailView" class="data-table">
                                                    <thead>
                                                        <tr>
                                                            <th>SNo.</th>
                                                            <th>  Image</th>
                                                            <th>Title</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Event Organisation Event Company</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseWorldClass" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseWorldClass">

                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <form>
                            <div class="form-group">
                                <label for="Title">  Title</label>
                                <input type="text" id="txtTitle_OureventSection" class="form-control" />


                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="txt_description_OureventSection"></textarea>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ddlEquipment_Managetag"> Event Options</label>

                                <input data-role="tagsinput" id="text_tagEventOptions" type="text">

                            </div>
                            <div class="form-group d-flex flex-column">
                                <label>Image</label>
                                <div class="imageEventPreview">
                                    <img id="previewEventImage" class="d-none" style="width:100%; height:100%;">
                                </div>
                                <input type="file" id="fileProfileImage_ManageEventCompanyImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageEventCompanyImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentEventCompanyClick()">Save</button>
                        </form>


                    </div>
                </div>

            </div>

        </div>
    </div>


</div>




