<style>
    .imageAbout {
        width: 75px;
        height: 75px;
    }

    .imageAboutServicePreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .previewClassImage {
        width: 75px;
        height: 75px;
    }

    .imageClassPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .previewFitnessImage {
        width: 75px;
        height: 75px;
    }

    .imageFitnessPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .previewMuchMoreImage {
        width: 75px;
        height: 75px;
    }

    .imageMuchMorePreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }
</style>

<div class="container-fluid">

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Gym  Banner Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseGymBanner" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseGymBanner">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" id="txtTitle" class="form-control" />
                                <div class="error-class" id="error_txtTitle"></div>

                            </div>
                            <div class="form-group">
                                <label for="Title">SubTitle</label>
                                <input type="text" id="txtSubTitle" class="form-control" />
                                <div class="error-class" id="error_txtSubTitle"></div>

                            </div>
                            <div class="form-group">
                                <label for="ButtonText">Button-Text</label>
                                <input type="text" id="txtButtonText" class="form-control" />
                                <div class="error-class" id="error_txtButtonText"></div>

                            </div>
                            <div class="form-group">
                                <label for="ButtonLink">Button-Link</label>
                                <input type="text" id="txtButtonLink" class="form-control" />
                                <div class="error-class" id="error_txtButtonLink"></div>

                            </div>
                            <div class="form-group">
                                <label for="description"> Description</label>
                                <textarea name="description" class="form-control" rows="6" id="gym_description"></textarea>
                                <div class="error-class" id="error_gym_description"></div>
                            </div>

                            <div class="form-group">
                                <label>Gym Banner Image</label>
                                <div class="imagePreview">
                                    <img id="previewImage" class="d-none" style="width: 100%; height: 100%;">
                                </div>

                                <input type="file" id="fileProfileImage_ManageGymBannerImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageGymBannerImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitGymBannerClick()">Save</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  About Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseAbout" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseAbout">

                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <form>
                            <div class="form-group">
                                <label for="AboutTitle"> About Title</label>
                                <input type="text" id="txtAboutTitle" class="form-control" />
                                <div class="error-class" id="error_txtAboutTitle"></div>

                            </div>
                            <div class="form-group">
                                <label for="SubTitle"> About SubTitle</label>
                                <input type="text" id="txtAboutSubTitle" class="form-control" />
                                <div class="error-class" id="error_txtAboutSubTitle"></div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="sports_Aboutdescription"></textarea>
                                    <div class="error-class" id="error_sports_Aboutdescription"></div>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label> About Image</label>
                                <div class="imagePreview">
                                    <img id="previewAboutImage" class="d-none" style="width:100%; height:100%;">
                                </div>
                                <input type="file" id="fileProfileImage_ManageAboutImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageAboutImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentAboutClick()">Save</button>
                        </form>
                        <div class="col-12 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="AddSportBannerDetailButton" onclick="AddSportsAboutServiceDetail();">Add About Service Section</a>
                        </div>
                        <h5> If You can Manage the About Then You can ProfileSetting.</h5>
                        <a class="btn btn-primary" href="/Business/ProfileSettings">
                            Business Profile  Session
                        </a>

                        <div class="modal fade" id="collapseAddSportsAboutService">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add About Section</h5>
                                        <button type="button" class="close" onclick="ResetBusinessAboutService()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>
                                            <div class="form-group">
                                                <label for="Title">  Title</label>
                                                <input type="text" id="txtAboutServiceTitle" class="form-control" />
                                                <div class="error-class" id="error_txtAboutServiceTitle"></div>

                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="description"> Description</label>
                                                    <textarea name="description" class="form-control" rows="6" id="sports_AboutServicedescription"></textarea>
                                                    <div class="error-class" id="error_sports_AboutServicedescription"></div>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex flex-column">
                                                <label> About service Image</label>
                                                <div class="imageAboutServicePreview">

                                                    <img id="previewAboutServiceImage" class="d-none" style="width:100%; height:100%;">
                                                </div>
                                                <input type="file" id="fileProfileImage_ManageSportsAboutServiceImage" class="border form-control" accept="imageAbout/*">
                                                <div class="error-class" id="error_fileProfileImage_ManageSportsAboutServiceImage"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentAboutServiceClick()">Save</button>
                                        </form>
                                    </div>
                                    <!--<div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark cstm-btn w-auto"
                                            data-dismiss="modal">
                                        Close
                                    </button>-->
                                    @*<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>*@
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>

                        <div id="sectionViewSports">
                            <div class="row mb-4">
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <table id="tblSportsAboutServiceDetailView" class="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th> About Service Image</th>
                                                        <th>About Service Title</th>
                                                        <th> About Service Description</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> We Can Give You Service  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseExampleServices" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseExampleServices">

                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="AboutTitle">Title</label>
                                <input type="text" id="txtGiveOtherText_Title" class="form-control" />
                                <div class="error-class" id="error_txtGiveOtherText_Title"></div>

                            </div>
                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentMuchMoreServiceClick()">Save</button>
                        </form>
                        <div class="col-12 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" onclick="AddBusinessContentMoreThanOtherService();">Add Much More Other Section</a>
                        </div>
                        <div class="modal fade" id="collapseAddMoreThanOtherService">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add Other Section</h5>
                                        <button type="button" class="close" id="clsEventSponsorButton" data-dismiss="modal" onclick=" ResetBusinessMuchMoreService()">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>

                                            <div class="form-group">
                                                <label for="AboutTitle">Content</label>
                                                <input type="text" id="content_description" class="form-control" />
                                                <div class="error-class" id="error_content_description"></div>

                                            </div>

                                            <div class="form-group d-flex flex-column">
                                                <label> Image</label>
                                                <div class="imageMuchMorePreview">
                                                    <img id="previewMuchMoreImage" class="d-none" style="width:100%; height:100%;">
                                                </div>
                                                <input type="file" id="fileProfileImage_ManageMuchMoreImage" class="border form-control" accept="image/*">
                                                <div class="error-class" id="error_fileProfileImage_ManageMuchMoreImage"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentMuchMoreService()">Save</button>
                                        </form>
                                    </div>

                                    @*<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="sectionViewTraining">
                        <div class="row mb-4">
                            <div class="col-12 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="tblForMuchMoreOtherService" class="data-table">
                                            <thead>
                                                <tr>
                                                    <th>S No.</th>
                                                    <th>Image</th>
                                                    <th>Content</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>
</div>





<div class="row mb-4">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center p-3">
                <h3 class="card-title mb-4">Leaders in the Fitness Movement</h3>
                <p class="float-lg-right">
                    <button data-toggle="collapse" href="#collapseLeadersFitness" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                        <i class="fas fa-minus"></i>
                    </button>

                </p>

            </div>
            <div class="collapse" id="collapseLeadersFitness">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="Title">  Title</label>
                            <input type="text" id="txtTitle_OurFitnessSection" class="form-control" />


                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description"> Description</label>
                                <textarea name="description" class="form-control" rows="6" id="txt_description_OurFitnessSection"></textarea>

                            </div>
                        </div>
                        <div class="form-group d-flex flex-column">
                            <label>Leaders Image</label>
                            <div class="imageFitnessPreview">
                                <img id="previewFitnessImage" class="d-none" style="width:100%; height:100%;">
                            </div>
                            <input type="file" id="fileProfileImage_ManageFitnessImage" class="border form-control" accept="image/*">
                            <div class="error-class" id="error_fileProfileImage_ManageFitnessImage"></div>
                        </div>
                        <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentFitnessClick()">Save</button>
                    </form>

                    <div class="col-12 text-right">
                        <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="AddClassesDetailButton" onclick="AddBusinessContentFitnessMovementDetail();">Add  Fitness Movement Section</a>
                    </div>
                    <div class="modal fade" id="collapseAddFitnessMovement">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header border-0">
                                    <h5 id="Modal_Title" class="modal-title"> Add Fitness Movement Section</h5>
                                    <button type="button" class="close" onclick="ResetBusinessFitnessMovements()" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body pt-0">
                                    <form>
                                        <div class="form-group">
                                            <label for="Title">  Title</label>
                                            <input type="text" id="txtFitnessTitle" class="form-control" />
                                            <div class="error-class" id="error_txtFitnessTitle"></div>

                                        </div>

                                        <div class="form-group">
                                            <label for="requirement">Requirement</label>
                                            <input type="text" class="form-control" id="text_Requirement" required />
                                            <div class="error-class" id="error_Requirement"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Investiment">Investiment</label>
                                            <input type="text" class="form-control" id="text_Investiment" required />
                                            <div class="error-class" id="error_text_Investiment"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Inclusions">Inclusions</label>
                                            <input type="text" class="form-control" id="text_Inclusions" required />
                                            <div class="error-class" id="error_text_Inclusions"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Inclusions">Description</label>
                                            <input type="text" class="form-control" id="text_FitnessDescription" required />
                                            <div class="error-class" id="error_text_FitnessDescription"></div>
                                        </div>

                                        <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentFitnessMovement()">Save</button>
                                    </form>
                                </div>
                                <!--<div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark cstm-btn w-auto"
                                        data-dismiss="modal">
                                    Close
                                </button>-->
                                @*<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>*@
                                <!--</div>-->
                            </div>
                        </div>
                    </div>

                    <div id="sectionViewSports">
                        <div class="row mb-4">
                            <div class="col-12 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="tblGymBusinessContentFitnessMovementDetailView" class="data-table">
                                            <thead>
                                                <tr>
                                                    <th>SNo.</th>
                                                    <th>Title</th>
                                                    <th>  Requirements</th>
                                                    <th> Investment</th>
                                                    <th> Inclusions</th>
                                                    <th>Description</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>
</div>

<div class="row mb-4">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center p-3">
                <h3 class="card-title mb-4"> World Class Support</h3>
                <p class="float-lg-right">
                    <button data-toggle="collapse" href="#collapseWorldClass" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                        <i class="fas fa-minus"></i>
                    </button>

                </p>

            </div>
            <div class="collapse" id="collapseWorldClass">

                <div class="card-body">
                    @*<h5 class="mb-4" id="myText"> banner</h5>*@
                    <form>
                        <div class="form-group">
                            <label for="Title">  Title</label>
                            <input type="text" id="txtTitle_OurWorldClassesSection" class="form-control" />


                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description"> Description</label>
                                <textarea name="description" class="form-control" rows="6" id="txt_description_OurWorldClassesSection"></textarea>

                            </div>
                        </div>

                        <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentWorldClassClick()">Save</button>
                    </form>
                    <div class="col-12 text-right">
                        <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="AddClassesDetailButton" onclick="AddBusinessContentWorldClassesDetail();">Add Gym World Classes Section</a>
                    </div>
                    <div class="modal fade" id="collapseAddWorldClasses">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header border-0">
                                    <h5 id="Modal_Title" class="modal-title"> Add World Classes Section</h5>
                                    <button type="button" class="close" onclick="ResetBusinessClassesService()" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body pt-0">
                                    <form>
                                        <div class="form-group">
                                            <label for="Title">  Title</label>
                                            <input type="text" id="txtClassesTitle" class="form-control" />
                                            <div class="error-class" id="error_txtClassesTitle"></div>

                                        </div>
                                        <div class="form-group">
                                            <label for="ddlEquipment_Managetag">Options</label>

                                            <input data-role="tagsinput" id="text_tagOptions" type="text">
                                            <div class="error-class" id="error_text_tagOptions"></div>

                                        </div>
                                        <div class="form-group d-flex flex-column">
                                            <label> World Class Image</label>
                                            <div class="imageClassPreview">
                                                <img id="previewClassImage" class="d-none" style="width:100%; height:100%;">
                                            </div>
                                            <input type="file" id="fileProfileImage_ManageWorldClassImage" class="border form-control" accept="image/*">
                                            <div class="error-class" id="error_fileProfileImage_ManageWorldClassImage"></div>
                                        </div>

                                        <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentGymClassClick()">Save</button>
                                    </form>
                                </div>
                                <!--<div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark cstm-btn w-auto"
                                        data-dismiss="modal">
                                    Close
                                </button>-->
                                @*<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>*@
                                <!--</div>-->
                            </div>
                        </div>
                    </div>

                    <div id="sectionViewSports">
                        <div class="row mb-4">
                            <div class="col-12 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="tblGymBusinessContentWorldClassDetailOptionsView" class="data-table">
                                            <thead>
                                                <tr>
                                                    <th>SNo.</th>
                                                    <th> World Class Image</th>
                                                    <th>  World Class Title</th>
                                                    <th>  World Class Description</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>
</div>

<div class="row mb-4">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center p-3">
                <h3 class="card-title mb-4">Our Classes</h3>
                <p class="float-lg-right">
                    <button data-toggle="collapse" href="#collapseClasses" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                        <i class="fas fa-minus"></i>
                    </button>

                </p>

            </div>
            <div class="collapse" id="collapseClasses">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="Title">  Title</label>
                            <input type="text" id="txtTitle_OurClassesSection" class="form-control" />


                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description"> Description</label>
                                <textarea name="description" class="form-control" rows="6" id="txt_description_OurClassesSection"></textarea>

                            </div>
                        </div>

                        <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentClassClick()">Save</button>
                    </form>
                    <h5> You can manage the business Classes session in the ManageClasses</h5>
                    <a class="btn btn-primary" href="/Business/ScheduleClass">
                        Business Classes Session
                    </a>

                </div>
            </div>

        </div>

    </div>
</div>

<div class="row mb-4">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center p-3">
                <h3 class="card-title mb-4">  Business Timing Section</h3>
                <p class="float-lg-right">
                    <button data-toggle="collapse" href="#collapseContactUs" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                        <i class="fas fa-minus"></i>
                    </button>

                </p>

            </div>
            <div class="collapse" id="collapseContactUs">
                <div class="card-body">
                    @*<h5 class="mb-4" id="myText"> banner</h5>*@
                    <h5> Business Timing is Automatically Managing.</h5>


                </div>
            </div>

        </div>

    </div>
</div>

<div class="row mb-4">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center p-3">
                <h3 class="card-title mb-4">  Event  section</h3>
                <p class="float-lg-right">
                    <button data-toggle="collapse" href="#collapseExampleEvent" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                        <i class="fas fa-minus"></i>
                    </button>

                </p>

            </div>
            <div class="collapse" id="collapseExampleEvent">
                <div class="card-body">
                    @*<h5 class="mb-4" id="myText"> banner</h5>*@
                    <h5> You can manage the Event, Then go to  Event Page.</h5>
                    <a class="btn btn-primary" href="/Business/Event">
                        Event Section
                    </a>
                    <form>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description"> Description</label>
                                <textarea name="description" class="form-control" rows="6" id="event_description"></textarea>
                                <div class="error-class" id="error_event_description"></div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessEventDescriptionClick()">Save</button>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>



<div class="row mb-4">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center p-3">
                <h3 class="card-title mb-4">  Business Video  section</h3>
                <p class="float-lg-right">
                    <button data-toggle="collapse" href="#collapseBusinessVideo" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                        <i class="fas fa-minus"></i>
                    </button>

                </p>
            </div>
            <div class="collapse" id="collapseBusinessVideo">
                <div class="card-body">
                    <form id="YogaVedioDetail">
                        <div class="form-group">
                            <label for="Title">  Title</label>
                            <input type="text" id="txtVideoTitle" class="form-control" />
                            <div class="error-class" id="error_txtVideoTitle"></div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description"> Description</label>
                                <textarea name="description" class="form-control" rows="6" id="txt_Videodescription"></textarea>
                                <div class="error-class" id="error_txt_Videodescription"></div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentVideoClick()">Save</button>
                    </form>
                    @*<h5 class="mb-4" id="myText"> banner</h5>*@
                    <h5>  If You can manage the Business Video Section then go to Manage Business Videos Page.</h5>
                    <a class="btn btn-primary" href="/Business/ManageBusinessVideos">
                        Business Video Session
                    </a>

                </div>
            </div>

        </div>

    </div>
</div>

<div class="row mb-4">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center p-3">
                <h3 class="card-title mb-4">  Business Images  section</h3>
                <p class="float-lg-right">
                    <button data-toggle="collapse" href="#collapseBusinessImages" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                        <i class="fas fa-minus"></i>
                    </button>

                </p>

            </div>
            <div class="collapse" id="collapseBusinessImages">
                <div class="card-body">
                    @*<h5 class="mb-4" id="myText"> banner</h5>*@
                    <h5>  To Manage the Image then Go to Business Image Section</h5>
                    <a class="btn btn-primary" href="/Business/ManageBusinessImages">
                        Business Images Section
                    </a>

                </div>
            </div>

        </div>

    </div>
</div>

<div class="row mb-4">
    <div class="col-12 mb-4">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center p-3">
                <h3 class="card-title mb-4"> Contact Information Section</h3>
                <p class="float-lg-right">
                    <button data-toggle="collapse" href="#collapseContact" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                        <i class="fas fa-minus"></i>
                    </button>

                </p>

            </div>
            <div class="collapse" id="collapseContact">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="Title">Title</label>
                            <input type="text" id="txtContactInfoTitle" class="form-control" />
                            <div class="error-class" id="error_txtContactInfoTitle"></div>

                        </div>


                        <div class="form-group">
                            <label for="description"> Description</label>
                            <textarea name="description" class="form-control" rows="6" id="ContactInfo_description"></textarea>
                            <div class="error-class" id="error_ContactInfo_description"></div>
                        </div>


                        <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitContactInformationSection()">Save</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>





