

<style>
    .previewimageUniversityLogoPreview {
        width: 75px;
        height: 75px;
    }

    .imageUniversityLogoPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }
</style>

<html>

<body>
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-12 mb-4">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h3 class="card-title mb-4"> Instructor  Banner Section</h3>
                        <p class="float-lg-right">
                            <button data-toggle="collapse" href="#collapseInstructorBanner" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                                <i class="fas fa-minus"></i>
                            </button>

                        </p>

                    </div>
                    <div class="collapse" id="collapseInstructorBanner">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label>Instructor Banner Image</label>
                                    <div class="imagePreview">
                                        <img id="previewImage" class="d-none" style="width: 100%; height: 100%;">
                                    </div>

                                    <input type="file" id="fileProfileImage_ManageInstructorBannerImage" class="border form-control" accept="image/*">
                                    <div class="error-class" id="error_fileProfileImage_ManageInstructorBannerImage"></div>
                                </div>

                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitInstructorBannerClick()">Save</button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 mb-4">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h3 class="card-title mb-4">  About Section</h3>
                        <p class="float-lg-right">
                            <button data-toggle="collapse" href="#collapseAbout" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                                <i class="fas fa-minus"></i>
                            </button>

                        </p>

                    </div>
                    <div class="collapse" id="collapseAbout">
                        <div class="card-body">
                            @*<h5 class="mb-4" id="myText"> banner</h5>*@
                            <form>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="description"> Description</label>
                                        <textarea name="description" class="form-control" rows="6" id="Instructor_description"></textarea>
                                        <div class="error-class" id="error_instructor_description"></div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitAboutClick()">Save</button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 mb-4">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h3 class="card-title mb-4">Other Information Section</h3>
                        <p class="float-lg-right">
                            <button data-toggle="collapse" href="#collapseOtherInformation" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                                <i class="fas fa-minus"></i>
                            </button>

                        </p>
                    </div>
                    <div class="collapse" id="collapseOtherInformation">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="Title">  Title</label>
                                    <input type="text" id="txtOtherInformationTitle" class="form-control" />
                                    <div class="error-class" id="error_txtOtherInformationTitle"></div>

                                </div>
                                <div class="form-group">
                                    <label for="OtherInformation">Other Information</label>

                                    <input id="OtherInforamtion_InstructorPage" data-role="tagsinput" type="text">
                                    <div class="error-class" id="error_OtherInformation"></div>

                                </div>

                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitInstructorOtherInformation()">Save</button>
                            </form>


                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 mb-4">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h3 class="card-title mb-4">  University Section</h3>
                        <p class="float-lg-right">
                            <button data-toggle="collapse" href="#collapseeducation" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                                <i class="fas fa-minus"></i>
                            </button>

                        </p>

                    </div>
                    <div class="collapse" id="collapseeducation">

                        <div class="card-body">

                            <div class="col-12 text-right">
                                <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="AddEducationDetailButton" onclick="AddEducationDetail();">Add University  Section</a>
                            </div>

                            <div class="modal fade" id="collapseAddEducationService">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header border-0">
                                            <h5 id="Modal_Title" class="modal-title"> Add University Section</h5>
                                            <button type="button" class="close" onclick="ResetBusinessEducationDetail()" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body pt-0">
                                            <form>
                                                <div class="form-group">
                                                    <label for="Title">  Qualification</label>
                                                    <input type="text" id="txtEducationQualification" class="form-control" />
                                                    <div class="error-class" id="error_txtEducationQualification"></div>

                                                </div>
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="date_time"> Start Date</label>
                                                        <input type="date" class="form-control" id="Education_StartDate" required />
                                                        <div class="error-class" id="error_Education_StartDate"></div>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="date_time"> End Date</label>
                                                        <input type="date" class="form-control" id="Education_EndDate" required />
                                                        <div class="error-class" id="error_Education_EndDate"></div>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label for="Title">  University/School Name</label>
                                                    <input type="text" id="txtEducationUniversity" class="form-control" />
                                                    <div class="error-class" id="error_txtEducationUniversity"></div>

                                                </div>
                                                <div class="form-group d-flex flex-column">
                                                    <label> University Logo</label>
                                                    <div class="imageUniversityLogoPreview">

                                                        <img id="previewimageUniversityLogoPreview" class="d-none" style="width:100%; height:100%;">
                                                    </div>
                                                    <input type="file" id="fileProfileImage_ManageUniversityLogo" class="border form-control" accept="imageAbout/*">
                                                    <div class="error-class" id="error_fileProfileImage_ManageUniversityLogo"></div>
                                                </div>

                                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentEducationClick()">Save</button>

                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div id="sectionViewEducation">
                                <div class="row mb-4">
                                    <div class="col-12 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <table id="tblEducationDetailView" class="data-table">
                                                    <thead>
                                                        <tr>
                                                            <th>SNo.</th>
                                                            <th>University Logo</th>
                                                            <th>Qualification</th>
                                                            <th> University  Name</th>
                                                            <th>StartDate</th>
                                                            <th>EndDate</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 mb-4">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h3 class="card-title mb-4">  Business Video  section</h3>
                        <p class="float-lg-right">
                            <button data-toggle="collapse" href="#collapseBusinessVideo" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                                <i class="fas fa-minus"></i>
                            </button>

                        </p>
                    </div>
                    <div class="collapse" id="collapseBusinessVideo">
                        <div class="card-body">
                            <form id="YogaVedioDetail">
                                <div class="form-group">
                                    <label for="Title">  Title</label>
                                    <input type="text" id="txtVideoTitle" class="form-control" />
                                    <div class="error-class" id="error_txtVideoTitle"></div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="description"> Description</label>
                                        <textarea name="description" class="form-control" rows="6" id="txt_Videodescription"></textarea>
                                        <div class="error-class" id="error_txt_Videodescription"></div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentVideoClick()">Save</button>
                            </form>
                            @*<h5 class="mb-4" id="myText"> banner</h5>*@
                            <h5>  If You can manage the Business Video Section then go to Manage Business Videos Page.</h5>
                            <a class="btn btn-primary" href="/Business/ManageBusinessVideos">
                                Business Video Session
                            </a>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 mb-4">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h3 class="card-title mb-4">  Event  section</h3>
                        <p class="float-lg-right">
                            <button data-toggle="collapse" href="#collapseExampleEvent" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                                <i class="fas fa-minus"></i>
                            </button>

                        </p>

                    </div>
                    <div class="collapse" id="collapseExampleEvent">
                        <div class="card-body">
                            @*<h5 class="mb-4" id="myText"> banner</h5>*@
                            <h5> You can manage the Event, Then go to  Event Page.</h5>
                            <a class="btn btn-primary" href="/Business/Event">
                                Event Section
                            </a>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 mb-4">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h3 class="card-title mb-4">  Business Images  section</h3>
                        <p class="float-lg-right">
                            <button data-toggle="collapse" href="#collapseBusinessImages" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                                <i class="fas fa-minus"></i>
                            </button>

                        </p>

                    </div>
                    <div class="collapse" id="collapseBusinessImages">
                        <div class="card-body">
                            @*<h5 class="mb-4" id="myText"> banner</h5>*@
                            <h5>  To Manage the Image then Go to Business Image Section</h5>
                            <a class="btn btn-primary" href="/Business/ManageBusinessImages">
                                Business Images Section
                            </a>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 mb-4">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h3 class="card-title mb-4">Licensed  Section</h3>
                        <p class="float-lg-right">
                            <button data-toggle="collapse" href="#collapseLicensedInformation" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                                <i class="fas fa-minus"></i>
                            </button>

                        </p>
                    </div>
                    <div class="collapse" id="collapseLicensedInformation">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="OtherInformation">Licensed  Information</label>

                                    <input id="LicensedInforamtion_InstructorPage" data-role="tagsinput" type="text">
                                    <div class="error-class" id="error_LicensedInformation"></div>

                                </div>

                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitInstructorLicensedInformation()">Save</button>
                            </form>


                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>



</body>

</html>