<style>
</style>
<div class="container-fluid">

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Master Instructor  Banner Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseInstructorBanner" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseInstructorBanner">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" id="txtTitle" class="form-control" />
                                <div class="error-class" id="error_txtTitle"></div>

                            </div>
                            <div class="form-group">
                                <label for="Title">SubTitle</label>
                                <input type="text" id="txtSubTitle" class="form-control" />
                                <div class="error-class" id="error_txtSubTitle"></div>

                            </div>

                            <div class="form-group">
                                <label for="description"> Description</label>
                                <textarea name="description" class="form-control" rows="6" id="gym_description"></textarea>
                                <div class="error-class" id="error_gym_description"></div>
                            </div>

                            <div class="form-group">
                                <label>Master Instructor Banner Image</label>
                                <div class="imageInstrcutorPreview">
                                    <img id="previewInstructorImage" class="d-none" style="width: 100%; height: 100%;">
                                </div>

                                <input type="file" id="fileProfileImage_ManageInstrcutorBannerImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageInstrcutorBannerImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitInstructorBannerClick()">Save</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">Our Classes</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseClasses" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseClasses">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">  Title</label>
                                <input type="text" id="txtTitle_OurClassesSection" class="form-control" />


                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="txt_description_OurClassesSection"></textarea>

                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentClassClick()">Save</button>
                        </form>
                        <h5> You can manage the business Classes session in the ManageClasses</h5>
                        <a class="btn btn-primary" href="/Business/ScheduleClass">
                            Business Classes Session
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>


</div>
