<style>
    .imageAbout {
        width: 75px;
        height: 75px;
    }

    .imageAboutServicePreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .imageMasterPreview {
        width: 75px;
        height: 75px;
    }

    .previewMasterImage {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .imageMemberShipPlanPreview {
        width: 75px;
        height: 75px;
    }

    .previewMemberShipPlanImage {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }



    .imageInstructorAboutPreview {
        width: 75px;
        height: 75px;
    }

    .previewInstructorAboutImage {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .imageFindPreview {
        width: 75px;
        height: 75px;
    }

    .previewFindImage {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .imagePreview {
        width: 75px;
        height: 75px;
    }

    .previewImage {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }
    .previewEducationBannerImage {
        width: 75px;
        height: 75px;
    }
</style>

<div class="container-fluid">

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Master Profile Banner Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseclassicDanceBanner" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>
                    </p>

                </div>
                <div class="collapse" id="collapseclassicDanceBanner">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" id="txtTitle" class="form-control" />
                                <div class="error-class" id="error_txtTitle"></div>

                            </div>
                            <div class="form-group">
                                <label for="Title">SubTitle</label>
                                <input type="text" id="txtSubTitle" class="form-control" />
                                <div class="error-class" id="error_txtSubTitle"></div>

                            </div>



                            <div class="form-group">
                                <label>Master Profile  Banner Image</label>
                                @*<div class="imagePreview">
                                        <img id="previewImage" class="d-none" style="width: 100%; height: 100%;">
                                    </div>*@

                                @*<input type="file" id="fileProfileImage_ManageClassicBannerImage" class="border form-control" accept="image/*">*@
                                <input type="file" id="fileProfileImage_ManageClassicBannerImage" name="fileVideo" accept="video/*">
                                <div class="error-class" id="error_fileProfileImage_ManageClassicBannerImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitClassicBannerClick()">Save</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  About Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseAbout" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseAbout">

                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <form>
                            <div class="form-group">
                                <label for="AboutTitle"> About Title</label>
                                <input type="text" id="txtAboutTitle" class="form-control" />
                                <div class="error-class" id="error_txtAboutTitle"></div>

                            </div>
                            <div class="form-group">
                                <label for="SubTitle"> About SubTitle</label>
                                <input type="text" id="txtAboutSubTitle" class="form-control" />
                                <div class="error-class" id="error_txtAboutSubTitle"></div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="classicdance_Aboutdescription"></textarea>
                                    <div class="error-class" id="error_classicdance_Aboutdescription"></div>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label> About Image</label>
                                <div class="imagePreview">
                                    <img id="previewAboutImage" class="d-none" style="width:100%; height:100%;">
                                </div>
                                <input type="file" id="fileProfileImage_ManageAboutImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageAboutImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentAboutClick()">Save</button>
                        </form>
                        <div class="col-12 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1 mb-3" id="AddSportBannerDetailButton" onclick="AddSportsAboutServiceDetail();">Add About Service Section</a>
                        </div>


                        <div class="modal fade" id="collapseAddSportsAboutService">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add About Section</h5>
                                        <button type="button" class="close" onclick="ResetBusinessAboutService()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>
                                            <div class="form-group">
                                                <label for="Title">  Title</label>
                                                <input type="text" id="txtAboutServiceTitle" class="form-control" />
                                                <div class="error-class" id="error_txtAboutServiceTitle"></div>

                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="description"> Description</label>
                                                    <textarea name="description" class="form-control" rows="6" id="classicdance_AboutServicedescription"></textarea>
                                                    <div class="error-class" id="error_classicdance_AboutServicedescription"></div>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex flex-column">
                                                <label> About service Image</label>
                                                <div class="imageAboutServicePreview">

                                                    <img id="previewAboutServiceImage" class="d-none" style="width:100%; height:100%;">
                                                </div>
                                                <input type="file" id="fileProfileImage_ManageclassicdanceAboutServiceImage" class="border form-control" accept="imageAbout/*">
                                                <div class="error-class" id="error_fileProfileImage_ManageclassicdanceAboutServiceImage"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentAboutServiceClick()">Save</button>
                                        </form>
                                    </div>
                                    <!--<div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark cstm-btn w-auto"
                                            data-dismiss="modal">
                                        Close
                                    </button>-->
                                    @*<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>*@
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>

                        <div id="sectionViewSports">
                            <div class="row mb-4">
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <table id="tblSportsAboutServiceDetailView" class="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th> About Service Image</th>
                                                        <th>About Service Title</th>
                                                        <th> About Service Description</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Business Video  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseBusinessVideo" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>
                </div>
                <div class="collapse" id="collapseBusinessVideo">
                    <div class="card-body">
                        <form id="YogaVedioDetail">
                            <div class="form-group">
                                <label for="Title">  Title</label>
                                <input type="text" id="txtVideoTitle" class="form-control" />
                                <div class="error-class" id="error_txtVideoTitle"></div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="txt_Videodescription"></textarea>
                                    <div class="error-class" id="error_txt_Videodescription"></div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentVideoClick()">Save</button>
                        </form>
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5>  If You can manage the Business Video Section then go to Manage Business Videos Page.</h5>
                        <a class="btn btn-primary" href="/Business/ManageBusinessVideos">
                            Business Video Session
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Business Contact Us Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseContactUs" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseContactUs">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5>  To Manage the Contact Us then go to the Manage Profile Setting</h5>
                        <a class="btn btn-primary" href="/Business/ProfileSettings">
                            Business ContactUs Section
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Event  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseExampleEvent" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseExampleEvent">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5> You can manage the Event, Then go to  Event Page.</h5>
                        <a class="btn btn-primary" href="/Business/Event">
                            Event Section
                        </a>
                        <form>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="event_description"></textarea>
                                    <div class="error-class" id="error_event_description"></div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessEventDescriptionClick()">Save</button>
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <!--<div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Master Profile API Schedule Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseAbout" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseAbout">

                    <div class="card-body">-->
    @*<h5 class="mb-4" id="myText"> banner</h5>*@
    <!--<form>
                            <div class="form-group">
                                <label for="Title">  Title</label>
                                <input type="text" id="txtmasterTitle" class="form-control" />
                                <div class="error-class" id="error_txtmasterTitle"></div>

                            </div>
                            <div class="form-group">
                                <label for="Link"> Link</label>
                                <input type="text" id="txtmasterLink" class="form-control" />
                                <div class="error-class" id="error_txtmasterLink"></div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="master_description"></textarea>
                                    <div class="error-class" id="error_master_description"></div>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label> Master Image</label>
                                <div class="imagePreview">
                                    <img id="previewMasterImage" class="d-none" style="width:100%; height:100%;">
                                </div>
                                <input type="file" id="fileProfileImage_ManageMasterImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageMasterImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentAboutClick()">Save</button>
                        </form>





                    </div>
                </div>

            </div>

        </div>
    </div>-->


    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Master Explore Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseExplore" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseExplore">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" id="txtexploreTitle" class="form-control" />
                                <div class="error-class" id="error_txtexploreTitle"></div>

                            </div>


                            <div class="form-group">
                                <label for="description"> Description</label>
                                <textarea name="description" class="form-control" rows="6" id="explore_description"></textarea>
                                <div class="error-class" id="error_explore_description"></div>
                            </div>


                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitExploreMasterProfileSection()">Save</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>




    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Master Find  Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseFindMasterProfile" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseFindMasterProfile">

                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@

                        <div class="col-12 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1 mb-3" onclick="AddFindMasterProfileDetail();">Add Find Section</a>
                        </div>


                        <div class="modal fade" id="collapseAddFindMasterProfile">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add Find Section</h5>
                                        <button type="button" class="close" onclick="ResetBusinessFindMasterProfile()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>
                                            <div class="form-group">
                                                <label for="ddlExplore_ManageExploreType">Select Find Section</label>
                                                <select name="ddlExploreType_ManageExploreType" id="ddlExplore_ManageExploreType" form="carform" default="unslected" class="form-control">
                                                    <option value="0">Select Explore Type</option>
                                                    <option value="Training">Training</option>
                                                    <option value="Event">Event</option>
                                                    <option value="Classes">Classes</option>
                                                    <option value="Instructor">Instructor</option>
                                                </select>

                                                <div class="error-class" id="error_ddlExplore_ManageExploreType"></div>

                                            </div>
                                            <div class="form-group">
                                                <label for="Title">Title</label>
                                                <input type="text" id="txtFindMasterTitle" class="form-control" />
                                                <div class="error-class" id="error_txtFindMasterTitle"></div>

                                            </div>
                                            @*<div class="form-group">
                                                    <label for="ScheduleLink">ScheduleLink</label>
                                                    <input type="text" id="txtFindMasterScheduleLink" class="form-control" />
                                                    <div class="error-class" id="error_txtFindMasterScheduleLink"></div>

                                                </div>*@

                                            <div class="form-group">
                                                <label for="description"> Description</label>
                                                <textarea name="description" class="form-control" rows="6" id="FindMaster_description"></textarea>
                                                <div class="error-class" id="error_FindMaster_description"></div>
                                            </div>

                                            <div class="form-group">
                                                <label>Master Find Section Image</label>
                                                <div class="imagePreview">
                                                    <img id="previewFindImage" class="d-none" style="width: 100%; height: 100%;">
                                                </div>

                                                <input type="file" id="fileProfileImage_ManageFindImage" class="border form-control" accept="image/*">
                                                <div class="error-class" id="error_fileProfileImage_ManageFindImage"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitFindMasterClick()">Save</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div id="sectionViewFindProfileDetail">
                            <div class="row mb-4">
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <table id="tblMasterProfileFindProfileView" class="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th> Image</th>
                                                        <th> Title</th>
                                                        <th>  Description</th>
                                                        <th>Explore Type</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>



    @*// Instructor Page //*@

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Banner  Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseInstructorBannerImage" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseInstructorBannerImage">
                    <div class="col-12 text-right">
                        <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="BusinessInstructorBannerDetail" onclick="AddMasterProfileInstructorBannersImage();">Add Banner Section</a>
                    </div>
                    <div class="card-body">
                        @*<p class="float-lg-right">
                                <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" onclick="AddSportsBannersImage();">Add Other Section</a>
                            </p>*@

                        <div class="modal fade" id="collapseAddInstructorBannerImages">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add Banner Section</h5>
                                        <button type="button" class="close" onclick="ResetBusinessInstructorBanner()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>
                                            <div class="form-group">
                                                <label for="ddlInstructor_ManageBannerType">Select Banner Type Section</label>
                                                <select name="ddlInstructor_ManageBannerType" id="ddlInstructor_ManageBannerType" form="carform" default="unslected" class="form-control">
                                                    <option value="0">Select Banner Type</option>
                                                    <option value="Instructor">Instructor</option>
                                                    <option value="MemberShip">MemberShip</option>
                                                </select>

                                                <div class="error-class" id="error_ddlInstructor_ManageBannerType"></div>

                                            </div>
                                            <div class="form-group">
                                                <label for="Title">  Title</label>
                                                <input type="text" id="txtInstructorTitle" class="form-control" />
                                                <div class="error-class" id="error_txtInstructorTitle"></div>

                                            </div>
                                            <div class="form-group">
                                                <label for="SubTitle"> SubTitle</label>
                                                <input type="text" id="txtInstructorSubTitle" class="form-control" />
                                                <div class="error-class" id="error_txtInstructorSubTitle"></div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="description"> Description</label>
                                                    <textarea name="description" class="form-control" rows="6" id="instructorbanner_description"></textarea>
                                                    <div class="error-class" id="error_instructorbanner_description"></div>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex flex-column">
                                                <label> Banner Image</label>
                                                <div class="imagePreview">
                                                    <img id="previewImage" class="d-none" style="width:100%; height:100%;">
                                                </div>
                                                <input type="file" id="fileProfileImage_ManageInstructorBannerImage" class="border form-control" accept="image/*">
                                                <div class="error-class" id="error_fileProfileImage_ManageInstructorBannerImage"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitInstructorBannerClick()">Save</button>
                                        </form>
                                    </div>
                                    <!--<div class="modal-footer">
                                        <button type="button" class="btn btn-outline-dark cstm-btn w-auto"
                                                data-dismiss="modal">
                                            Close
                                        </button>-->
                                    @*<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>*@
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>

                        <div id="sectionViewInstructorBannerDetail">
                            <div class="row mb-4">
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <table id="tblInstructorBannerDetailView" class="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th>Banner Type</th>
                                                        <th> Banner Image</th>
                                                        <th> Title</th>
                                                        <th>SubTitle</th>
                                                        <th>Description</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Instructor About Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseInstructorAbout" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseInstructorAbout">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <form>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" id="txtInstructorAboutTitle" class="form-control" />
                                <div class="error-class" id="error_txtInstructorAboutTitle"></div>

                            </div>
                            <div class="form-group">
                                <label for="SubTitle">Sub-Title</label>
                                <input type="text" id="txtInstructorAboutSubTitle" class="form-control" />
                                <div class="error-class" id="error_txtInstructorAboutSubTitle"></div>

                            </div>
                            <div class="form-group">
                                <label for="ButtonText">Button-Text</label>
                                <input type="text" id="txtInstructorAboutButtonText" class="form-control" />
                                <div class="error-class" id="error_txtInstructorAboutButtonText"></div>

                            </div>
                            <div class="form-group">
                                <label for="ButtonLink">Button-Link</label>
                                <input type="text" id="txtInstructorAboutButtonLink" class="form-control" />
                                <div class="error-class" id="error_txtInstructorAboutButtonLink"></div>

                            </div>
                            <div class="form-group">
                                <label for="Description">Description</label>
                                <input type="text" id="txtInstructorAboutDescription" class="form-control" />
                                <div class="error-class" id="error_txtInstructorAboutDescription"></div>

                            </div>
                            <div class="form-group">
                                <label>About Image</label>
                                <div class="imagePreview">
                                    <img id="previewInstructorAboutImage" class="d-none" style="width: 98%; height: 98%;">
                                </div>

                                <input type="file" id="fileProfileImage_ManageInstructorAboutImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageInstructorAboutImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitInstructorAboutClick()">Save</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Business Term Conditon  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseTermCondition" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>
                </div>
                <div class="collapse" id="collapseTermCondition">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">  Title</label>
                                <input type="text" id="txt_termconditionTitle" class="form-control" />
                                <div class="error-class" id="error_txt_termconditionTitle"></div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="txt_termconditiondescription"></textarea>
                                    <div class="error-class" id="error_txt_termconditiondescription"></div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentTermConditionClick()">Save</button>
                        </form>


                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> MemberShip Package section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseAdvanceMemberShipPackage" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>
                </div>
                <div class="collapse" id="collapseAdvanceMemberShipPackage">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">  Title</label>
                                <input type="text" id="txt_MemberShipPackageTitle" class="form-control" />
                                <div class="error-class" id="error_txt_MemberShipPackageTitle"></div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="txt_MemberShipPackagedescription"></textarea>
                                    <div class="error-class" id="error_txt_MemberShipPackagedescription"></div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitMemberShipPackageClick(1)">Save</button>
                        </form>


                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  MemberShip Plan  Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseMemberShipPlan" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseMemberShipPlan">
                    <div class="col-12 text-right">
                        <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="BusinessMemberShipPlanDetail" onclick="AddMasterProfileMemberShipPlanImage();">Add MemberShip Plan Section</a>
                    </div>
                    <div class="card-body">
                        @*<p class="float-lg-right">
                                <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" onclick="AddSportsBannersImage();">Add Other Section</a>
                            </p>*@

                        <div class="modal fade" id="collapseAddMemberShipPlanDetail">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add MemberShip Plan Section</h5>
                                        <button type="button" class="close" onclick="ResetBusinessMemberShipPlan()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>

                                            <div class="form-group">
                                                <label for="Title">  Title</label>
                                                <input type="text" id="txtMemberShipPlanTitle" class="form-control" />
                                                <div class="error-class" id="error_txtMemberShipPlanTitle"></div>

                                            </div>

                                            <div class="form-group d-flex flex-column">
                                                <label>  Image</label>
                                                <div class="imagePreview">
                                                    <img id="previewMemberShipPlanImage" class="d-none" style="width:100%; height:100%;">
                                                </div>
                                                <input type="file" id="fileProfileImage_ManageMemberShipPlanImage" class="border form-control" accept="image/*">
                                                <div class="error-class" id="error_fileProfileImage_ManageMemberShipPlanImage"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitMemberShipPlanClick()">Save</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div id="sectionViewMemberShipPlanDetail">
                            <div class="row mb-4">
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <table id="tblMemberShipPlanDetailView" class="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th>  Image</th>
                                                        <th> Title</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Contact Information Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseContact" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseContact">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" id="txtContactInfoTitle" class="form-control" />
                                <div class="error-class" id="error_txtContactInfoTitle"></div>

                            </div>


                            <div class="form-group">
                                <label for="description"> Description</label>
                                <textarea name="description" class="form-control" rows="6" id="ContactInfo_description"></textarea>
                                <div class="error-class" id="error_ContactInfo_description"></div>
                            </div>


                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitContactInformationSection()">Save</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Intermediate Class Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseIntermediateBanner" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>
                    </p>
                </div>
                <div class="collapse" id="collapseIntermediateBanner">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" id="txtclassTitle" class="form-control" />
                                <div class="error-class" id="error_txtclassTitle"></div>

                            </div>
                            <div class="form-group">
                                <label for="Title">Description</label>
                                <input type="text" id="txtDescription" class="form-control" />
                                <div class="error-class" id="error_txtDescription"></div>
                            </div>
                            <div class="form-group">
                                <label>Master Profile  Intermediate Image</label>
                                @*<div class="imagePreview">
                                        <img id="previewImage" class="d-none" style="width: 100%; height: 100%;">
                                    </div>*@

                                @*<input type="file" id="fileProfileImage_ManageClassicBannerImage" class="border form-control" accept="image/*">*@
                                <input type="file" id="fileProfileIntermediateImage" name="fileVideo" accept="video/*">
                                <div class="error-class" id="error_fileProfileIntermediateImage"></div>
                            </div>
                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="AddUpdateClassIntermediates()">Save</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Advance MemberShip Package section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseMemberShipPackage" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>
                </div>
                <div class="collapse" id="collapseMemberShipPackage">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">  Title</label>
                                <input type="text" id="txt_AdvanceMemberShipPackageTitle" class="form-control" />
                                <div class="error-class" id="error_txt_AdvanceMemberShipPackageTitle"></div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="txt_AdvanceMemberShipPackagedescription"></textarea>
                                    <div class="error-class" id="error_txt_AdvanceMemberShipPackagedescription"></div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitAdvanceMemberShipPackageClick(2)">Save</button>
                        </form>


                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Room Details  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseTensis" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseTensis">
                    <div class="card-body">
                        <div class="col-12 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="AddSportBannerDetailButton" onclick="AddTensisInformation();">Add Room Section</a>
                        </div>

                        <div class="modal fade" id="collapseAddTennis">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add Tennis Section</h5>
                                        <button type="button" class="close" onclick="ResetTennisView()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>
                                            <div class="form-group">
                                                <label for="Title">  Title</label>
                                                <input type="text" id="txtTennisTitle" class="form-control" />
                                                <div class="error-class" id="error_txtTennisTitle"></div>

                                            </div>
                                            <div class="form-group">
                                                <label for="SubTitle">  SubTitle</label>
                                                <input type="text" id="txtTennisSubTitle" class="form-control" />
                                                <div class="error-class" id="error_txtTennisSubTitle"></div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="description"> Description</label>
                                                    <textarea name="description" class="form-control" rows="6" id="sportsTennis_description"></textarea>
                                                    <div class="error-class" id="error_sportsTennis_description"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="TennisPrice">Price</label>
                                                <input type="number" id="Tennis_Price" class="form-control" required />
                                                <div class="error-class" id="error_txtTennis_PricePricePaid"></div>

                                            </div>
                                            <div class="form-group d-flex flex-column">
                                                <label> Tennis Image</label>
                                                <div class="imageTennisPreview">
                                                    <img id="previewTennisImage" class="d-none" style="width:10%; height:10%;">
                                                </div>
                                                <input type="file" id="fileProfileImage_ManageTennisImage" class="border form-control" accept="image/*">
                                                <div class="error-class" id="error_fileProfileImage_ManageTennisImage"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitSportsTennisClick()">Save</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="sectionViewSports">
                            <div class="row mb-4">
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <table id="tblSportsTennisDetailView" class="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th> Room Image</th>
                                                        <th> Title</th>
                                                        <th>SubTitle </th>
                                                        <th>Price</th>
                                                        <th>Description</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  University Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseUniversity" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseUniversity">

                    <div class="card-body">


                        <div class="col-12 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1 mb-3" id="AddUniversityDetailButton" onclick="AddUniversityDetail();">Add University  Section</a>
                        </div>

                        <div class="modal fade" id="collapseAddUniversityService">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add University Section</h5>
                                        <button type="button" class="close" onclick="ResetBusinessUniversityDetail()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>

                                            <div class="form-group">
                                                <label>Select Students</label>
                                                <select id="ddlUniversity_UniversityList" class="form-control select2-multiple" multiple="multiple" data-width="100%">
                                                    @*<option label="&nbsp;">&nbsp;</option>*@
                                                </select>
                                                <div class="error-class" id="error_ddlUniversity_UniversityList"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentUniversityClick()">Save</button>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div id="sectionViewUniversity">
                            <div class="row mb-4">
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <table id="tblUniversityDetailView" class="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th>University  </th>
                                                        <th>University Image</th>

                                                        <th>University Logo</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
