
<style>


    .previewMusicImage {
        width: 75px;
        height: 75px;
    }

    .imageMusicPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .previewAboutImage {
        width: 75px;
        height: 75px;
    }

    .imageAboutPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }
    .previewAudioImage {
        height: 75px;
    }

    .imageAudioPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }
    .previewPortfolio_Image {
        height: 75px;
    }

    .imagePortfolio_Preview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

</style>
<link rel="stylesheet" href="~/Content/business-panel/css/vendor/bootstrap-tagsinput.css">



<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Music  Banner Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseMusicBanner" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseMusicBanner">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" id="txtTitle" class="form-control" />
                                <div class="error-class" id="error_txtTitle"></div>

                            </div>
                            <div class="form-group">
                                <label for="ButtonText">Button-Text</label>
                                <input type="text" id="txtButtonText" class="form-control" />
                                <div class="error-class" id="error_txtButtonText"></div>

                            </div>
                            <div class="form-group">
                                <label for="ButtonLink">Button-Link</label>
                                <input type="text" id="txtButtonLink" class="form-control" />
                                <div class="error-class" id="error_txtButtonLink"></div>

                            </div>
                            <div class="form-group">
                                <label for="description"> Description</label>
                                <textarea name="description" class="form-control" rows="6" id="music_description"></textarea>
                                <div class="error-class" id="error_music_description"></div>
                            </div>

                            <div class="form-group">
                                <label>Music Banner Image</label>
                                <div class="imageMusicPreview">
                                    <img id="previewMusicImage" class="d-none" style="width: 100%; height: 100%;">
                                </div>

                                <input type="file" id="fileProfileImage_ManageMusicBannerImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageMusicBannerImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitMusicBannerClick()">Save</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  About Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseAbout" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseAbout">

                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <form>
                            <div class="form-group">
                                <label for="AboutTitle"> About Title</label>
                                <input type="text" id="txtAboutTitle" class="form-control" />
                                <div class="error-class" id="error_txtAboutTitle"></div>

                            </div>
                            <div class="form-group">
                                <label for="SubTitle"> About SubTitle</label>
                                <input type="text" id="txtAboutSubTitle" class="form-control" />
                                <div class="error-class" id="error_txtAboutSubTitle"></div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="sports_Aboutdescription"></textarea>
                                    <div class="error-class" id="error_sports_Aboutdescription"></div>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label> About Image</label>
                                <div class="imageAboutPreview">
                                    <img id="previewAboutImage" class="d-none" style="width:100%; height:100%;">
                                </div>
                                <input type="file" id="fileProfileImage_ManageAboutImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageAboutImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentAboutClick()">Save</button>
                        </form>
                        <div class="col-12 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="AddSportBannerDetailButton" onclick="AddSportsAboutServiceDetail();">Add About Service Section</a>
                        </div>
                        <h5> If You can Manage the About Then You can ProfileSetting.</h5>
                        <a class="btn btn-primary" href="/Business/ProfileSettings">
                            Business Profile  Session
                        </a>

                        <div class="modal fade" id="collapseAddSportsAboutService">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add About Section</h5>
                                        <button type="button" class="close" onclick="ResetBusinessAboutService()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>
                                            <div class="form-group">
                                                <label for="Title">  Title</label>
                                                <input type="text" id="txtAboutServiceTitle" class="form-control" />
                                                <div class="error-class" id="error_txtAboutServiceTitle"></div>

                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="description"> Description</label>
                                                    <textarea name="description" class="form-control" rows="6" id="sports_AboutServicedescription"></textarea>
                                                    <div class="error-class" id="error_sports_AboutServicedescription"></div>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex flex-column">
                                                <label> About service Image</label>
                                                <div class="imageAboutServicePreview">

                                                    <img id="previewAboutServiceImage" class="d-none" style="width:100%; height:100%;">
                                                </div>
                                                <input type="file" id="fileProfileImage_ManageSportsAboutServiceImage" class="border form-control" accept="imageAbout/*">
                                                <div class="error-class" id="error_fileProfileImage_ManageSportsAboutServiceImage"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentAboutServiceClick()">Save</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>




                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Services  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseExampleServices" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseExampleServices">
                    <div class="card-body">
                        <form>

                            <div class="form-group">
                                <label for="Title">  Title</label>
                                <input type="text" id="txtServiceTitle" class="form-control" />
                                <div class="error-class" id="error_txtTitle"></div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="txt_description"></textarea>
                                    <div class="error-class" id="error_txt_description"></div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentServiceClick()">Save</button>
                        </form>
                        <h5> You can manage the business  Services  session in the ManageBusinessService</h5>
                        <a class="btn btn-primary" href="/Business/ManageBusinessService">
                            Business Service Session
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Studio Equipment  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseStudioEquipment " role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseStudioEquipment">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">  Title</label>
                                <input type="text" id="txtTitle_OurTitleSection" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="Title">  SubTitle</label>
                                <input type="text" id="txtTitle_OurSubTitleSection" class="form-control" />
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitStudioEquipmentClick()">Save</button>
                        </form>
                        <div class="col-12 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" onclick="AddStudioEquipmentDetail();">Add Studio Equipment Section</a>
                        </div>
                        <div class="modal fade" id="collapseAddStudioEquipment">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add Studio Equipment Section</h5>
                                        <button type="button" class="close" onclick="ResetBusinessStudioEquipment()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Equipment"> Type Of Equipment</label>
                                                    <input type="text" id="txt_TypeEquipmentSection" class="form-control" />
                                                    <div class="error-class" id="error_txt_TypeEquipmentSection"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ddlEquipment_Managetag">Equipment Values</label>

                                                <input data-role="tagsinput" id="text_tagEquipment" type="text">
                                                <div class="error-class" id="error_text_tagEquipment"></div>
                                            </div>


                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentStudioEquipmentClick()">Save</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="sectionViewSports">
                            <div class="row mb-4">
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <table id="tblStudioEquipmentDetailView">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th>Equipment Type</th>
                                                        <th>Equipment Values</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Business Video  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseBusinessVideo" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>
                </div>
                <div class="collapse" id="collapseBusinessVideo">
                    <div class="card-body">
                        <form id="YogaVedioDetail">
                            <div class="form-group">
                                <label for="Title">  Title</label>
                                <input type="text" id="txtVideoTitle" class="form-control" />
                                <div class="error-class" id="error_txtYogaVideoTitle"></div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="txt_Videodescription"></textarea>
                                    <div class="error-class" id="error_txt_Videodescription"></div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentVideoClick()">Save</button>
                        </form>
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5>  If You can manage the Business Video Section then go to Manage Business Videos Page.</h5>
                        <a class="btn btn-primary" href="/Business/ManageBusinessVideos">
                            Business Video Session
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Audio Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseAudio" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseAudio">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>Audio Portfolio Image 1 </label>
                                <div class="imagePortfolio_Preview">
                                    <img id="previewPortfolio_Image" class="d-none" style="width: 100%; height: 100%;">
                                </div>

                                <input type="file" id="fileProfileImage_ManageAudioPortfolio_Image" class="border form-control" accept="imagePreview/*">
                                <div class="error-class" id="error_fileProfileImage_ManageAudioPortfolio_Image"></div>
                            </div>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" id="txtPortfolioTitle" class="form-control" />
                                <div class="error-class" id="error_txtTitle"></div>

                            </div>


                            <div class="form-group">
                                <label for="description"> Description</label>
                                <textarea name="description" class="form-control" rows="6" id="music_portfoliodescription"></textarea>
                                <div class="error-class" id="error_music_description"></div>
                            </div>
                            <div class="form-group">
                                <label>Audio Portfolio Image 2</label>
                                <div class="imageAudioPreview">
                                    <img id="previewAudioImage" class="d-none" style="width: 100%; height: 100%;">
                                </div>

                                <input type="file" id="fileProfileImage_ManageAudioImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageAudioImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitPortfolioClick()">Save</button>
                        </form>
                        <div class="col-12 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" onclick="AddAudioDetail();">Add Audio  Section</a>
                        </div>
                        <div class="modal fade" id="collapseAddPortfolioDetail">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add Portfolio Section</h5>
                                        <button type="button" class="close" onclick="ResetBusinessContentPortfolio()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>
                                            
                                            <div class="form-group">
                                                <label for="Title">Title</label>
                                                <input type="text" id="txt_AudioTitle" class="form-control" />
                                                <div class="error-class" id="error_txtTitle"></div>

                                            </div>
                                            <div class="form-group">
                                                <label for="ArtistName">ArtistName</label>
                                                <input type="text" id="txtArtistName" class="form-control" />
                                                <div class="error-class" id="error_txtArtistName"></div>

                                            </div>
                                           
                                            @*<audio controls>
                                                <source src="koyal.mp3" type="audio/mpeg">
                                                Your browser does not support the html audio tag.
                                            </audio>*@
                                            <div class="form-group">
                                                <label for="audioFile">Select an audio file:</label>
                                                <input type="file" name="audioFile" id="audioFile" accept=".mp3, .wav, .ogg">
                                                </div>
                                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitPortfolioAudioDetailClick()">Save</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="sectionViewSports">
                            <div class="row mb-4">
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <table id="tblAudioDetailView">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th>Title</th>
                                                        <th>ArtistName</th>
                                                        <th>Audio File</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">Our Classes</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseClasses" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseClasses">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">  Title</label>
                                <input type="text" id="txtTitle_OurClassesSection" class="form-control" />


                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="txt_description_OurClassesSection"></textarea>

                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentClassClick()">Save</button>
                        </form>
                        <h5> You can manage the business Classes session in the ManageClasses</h5>
                        <a class="btn btn-primary" href="/Business/ScheduleClass">
                            Business Classes Session
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Event  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseExampleEvent" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseExampleEvent">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5> You can manage the Event, Then go to  Event Page.</h5>
                        <a class="btn btn-primary" href="/Business/Event">
                            Event Section
                        </a>
                        <form>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="event_description"></textarea>
                                    <div class="error-class" id="error_event_description"></div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessEventDescriptionClick()">Save</button>
                        </form>
                    </div>
                    
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Our  Sponsors</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseSponsors" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseSponsors">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5> You can manage the Sponsors, Then go to  Sponsors Page.</h5>
                        <a class="btn btn-primary" href="/Business/Sponsors">
                            Event Section
                        </a>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Business Professional  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseExampleProfessional" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseExampleProfessional">
                    <div class="card-body">

                        <form>

                            <div class="form-group">
                                <label for="title"> Title</label>
                                <textarea name="description" class="form-control" rows="6" id="Professionaltitle"></textarea>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description"> Description</label>
                                    <textarea name="description" class="form-control" rows="6" id="Professionaldescription"></textarea>
                                    <div class="error-class" id="error_description"></div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitMusicProfessionalClick()">Save</button>
                        </form>
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5> You can Manage the Business Professional Section in the Manage Staff Page.</h5>
                        <a class="btn btn-primary" href="/Business/ManageStaff">
                            Business Professional Section
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Business Images  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseBusinessImages" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseBusinessImages">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5>  To Manage the Image then Go to Business Image Section</h5>
                        <a class="btn btn-primary" href="/Business/ManageBusinessImages">
                            Business Images Section
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Business Contact Us Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseContactUs" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseContactUs">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5>  To Manage the Contact Us then go to the Manage Profile Setting</h5>
                        <a class="btn btn-primary" href="/Business/ProfileSettings">
                            Business ContactUs Section
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Business Timing Hour  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseExample11" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseExample11">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h2> Business Timing session</h2>
                        <a class="btn btn-primary" href="/Business/TimeSlot">
                            Business Timing Session
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
