<style>
    .previewTeacherBannerImage {
        width: 75px;
        height: 75px;
    }

    .imageTeacherBannerPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .previewimageCurriculumPreview {
        width: 75px;
        height: 75px;
    }

    .imageCurriculumPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .previewimageCoursePreview {
        width: 75px;
        height: 75px;
    }

    .imageCoursePreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }

    .previewimageUniversityLogoPreview {
        width: 75px;
        height: 75px;
    }

    .imageUniversityLogoPreview {
        border: 2px dashed #cecece;
        height: 75px;
        width: 75px;
        margin: 5px 0px;
        padding: 5px;
    }
</style>


<div class="container-fluid">

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Teacher Banner Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseTeacherBanner" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseTeacherBanner">
                    <div class="card-body">
                        <form>


                            <div class="form-group">
                                <label>Teacher Banner Image</label>
                                <div class="imageTeacherBannerPreview">
                                    <img id="previewTeacherBannerImage" class="d-none" style="width: 100%; height: 100%;">
                                </div>

                                <input type="file" id="fileProfileImage_ManageTeacherBannerImage" class="border form-control" accept="image/*">
                                <div class="error-class" id="error_fileProfileImage_ManageTeacherBannerImage"></div>
                            </div>

                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitTeacherBannerClick()">Save</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  About Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseAbout" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseAbout">

                    <div class="card-body">
                        <h5> If You can Manage the About Then You can ProfileSetting.</h5>
                        <a class="btn btn-primary" href="/Business/ProfileSettings">
                            Business Profile  Session
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Business Video  section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseBusinessVideo" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>
                </div>
                <div class="collapse" id="collapseBusinessVideo">
                    <div class="card-body">
                        @*<form id="YogaVedioDetail">
                                <div class="form-group">
                                    <label for="Title">  Title</label>
                                    <input type="text" id="txtVideoTitle" class="form-control" />
                                    <div class="error-class" id="error_txtYogaVideoTitle"></div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="description"> Description</label>
                                        <textarea name="description" class="form-control" rows="6" id="txt_Videodescription"></textarea>
                                        <div class="error-class" id="error_txt_Videodescription"></div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentVideoClick()">Save</button>
                            </form>*@
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5>  If You can manage the Business Video Section then go to Manage Business Videos Page.</h5>
                        <a class="btn btn-primary" href="/Business/ManageBusinessVideos">
                            Business Video Session
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Business Contact Us Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseContactUs" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseContactUs">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5>  To Manage the Contact Us then go to the Manage Profile Setting</h5>
                        <a class="btn btn-primary" href="/Business/ProfileSettings">
                            Business ContactUs Section
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Business Class   section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseclasses" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseclasses">
                    <div class="card-body">
                        @*<h5 class="mb-4" id="myText"> banner</h5>*@
                        <h5> To Manage the Business Class then Go to  Business Class Section.</h5>
                        <a class="btn btn-primary" href="/Business/ScheduleClass">
                            Business Class Section
                        </a>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Course Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapsecourse" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapsecourse">

                    <div class="card-body">


                        <div class="col-12 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="AddCourseDetailButton" onclick="AddCourseDetail();">Add Course  Section</a>
                        </div>

                        <div class="modal fade" id="collapseAddCourseService">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add Course Section</h5>
                                        <button type="button" class="close" onclick="ResetBusinessCourseDetail()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>
                                            <div class="form-group">
                                                <label for="Title">  Title</label>
                                                <input type="text" id="txtCourseTitle" class="form-control" />
                                                <div class="error-class" id="error_txtCourseTitle"></div>

                                            </div>
                                            <div class="form-group d-flex flex-column">
                                                <label> Course Image</label>
                                                <div class="imageCoursePreview">

                                                    <img id="previewimageCoursePreview" class="d-none" style="width:100%; height:100%;">
                                                </div>
                                                <input type="file" id="fileProfileImage_ManageCourseImage" class="border form-control" accept="imageAbout/*">
                                                <div class="error-class" id="error_fileProfileImage_ManageCourseImage"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentCourseClick()">Save</button>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div id="sectionViewCourse">
                            <div class="row mb-4">
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <table id="tblCourseDetailView" class="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th>Course  Title</th>
                                                        <th>Image</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  Curriculum Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapsecurriculum" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapsecurriculum">

                    <div class="card-body">

                        <div class="col-12 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="AddCurriculumDetailButton" onclick="AddCurriculumDetail();">Add Course  Section</a>
                        </div>

                        <div class="modal fade" id="collapseAddCurriculumService">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add Curriculum Section</h5>
                                        <button type="button" class="close" onclick="ResetBusinessCurriculumDetail()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>
                                            <div class="form-group">
                                                <label for="Title">  Title</label>
                                                <input type="text" id="txtCurriculumTitle" class="form-control" />
                                                <div class="error-class" id="error_txtCurriculumTitle"></div>

                                            </div>
                                            <div class="form-group">
                                                <label for="text_tagCurriculum">Curriculum Values</label>

                                                <input data-role="tagsinput" id="text_tagCurriculum" type="text">
                                                <div class="error-class" id="error_text_tagCurriculum"></div>
                                            </div>
                                            <div class="form-group d-flex flex-column">
                                                <label> Curriculum Image</label>
                                                <div class="imageCurriculumPreview">

                                                    <img id="previewimageCurriculumPreview" class="d-none" style="width:100%; height:100%;">
                                                </div>
                                                <input type="file" id="fileProfileImage_ManageCurriculumImage" class="border form-control" accept="imageAbout/*">
                                                <div class="error-class" id="error_fileProfileImage_ManageCurriculumImage"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentCurriculumClick()">Save</button>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div id="sectionViewCurriculum">
                            <div class="row mb-4">
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <table id="tblCurriculumDetailView" class="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th>Image</th>
                                                        <th> Title</th>
                                                        <th>Curriculum Options</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4">  University Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseeducation" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseeducation">

                    <div class="card-body">

                        <div class="col-12 text-right">
                            <a href="javascript:;" class="btn btn-primary btn-lg top-right-button mr-1" id="AddEducationDetailButton" onclick="AddEducationDetail();">Add University  Section</a>
                        </div>

                        <div class="modal fade" id="collapseAddEducationService">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header border-0">
                                        <h5 id="Modal_Title" class="modal-title"> Add University Section</h5>
                                        <button type="button" class="close" onclick="ResetBusinessEducationDetail()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <form>
                                            <div class="form-group">
                                                <label for="Title">  Qualification</label>
                                                <input type="text" id="txtEducationQualification" class="form-control" />
                                                <div class="error-class" id="error_txtEducationQualification"></div>

                                            </div>
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="date_time"> Start Date</label>
                                                    <input type="date" class="form-control" id="Education_StartDate" required />
                                                    <div class="error-class" id="error_Education_StartDate"></div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="date_time"> End Date</label>
                                                    <input type="date" class="form-control" id="Education_EndDate" required />
                                                    <div class="error-class" id="error_Education_EndDate"></div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="Title">  University/School Name</label>
                                                <input type="text" id="txtEducationUniversity" class="form-control" />
                                                <div class="error-class" id="error_txtEducationUniversity"></div>

                                            </div>
                                            <div class="form-group d-flex flex-column">
                                                <label> University Logo</label>
                                                <div class="imageUniversityLogoPreview">

                                                    <img id="previewimageUniversityLogoPreview" class="d-none" style="width:100%; height:100%;">
                                                </div>
                                                <input type="file" id="fileProfileImage_ManageUniversityLogo" class="border form-control" accept="imageAbout/*">
                                                <div class="error-class" id="error_fileProfileImage_ManageUniversityLogo"></div>
                                            </div>

                                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitBusinessContentEducationClick()">Save</button>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div id="sectionViewEducation">
                            <div class="row mb-4">
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <table id="tblEducationDetailView" class="data-table">
                                                <thead>
                                                    <tr>
                                                        <th>SNo.</th>
                                                        <th>University Logo</th>
                                                        <th>Qualification</th>
                                                        <th> University  Name</th>
                                                        <th>StartDate</th>
                                                        <th>EndDate</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="row mb-4">
        <div class="col-12 mb-4">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h3 class="card-title mb-4"> Class Refer Information Section</h3>
                    <p class="float-lg-right">
                        <button data-toggle="collapse" href="#collapseClassRefer" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn accordion">
                            <i class="fas fa-minus"></i>
                        </button>

                    </p>

                </div>
                <div class="collapse" id="collapseClassRefer">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" id="txtClassReferInfoTitle" class="form-control" />
                                <div class="error-class" id="error_txtClassReferInfoTitle"></div>

                            </div>


                            <div class="form-group">
                                <label for="description"> Description</label>
                                <textarea name="description" class="form-control" rows="6" id="ClassReferInfo_description"></textarea>
                                <div class="error-class" id="error_ClassReferInfo_description"></div>
                            </div>


                            <button type="button" class="btn btn-primary mb-0" id="ChangeUpdateText" onclick="btnSubmitClassReferInformationSection()">Save</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>