@*@using MasterZoneMvc.Common;
    @using MasterZoneMvc.ViewModels;
    @{
        var UserRole = Context.Items["UserRole"] as string;

        // string ControllerNameForLinks = (UserRole == "Student") ? "Student" : "Student";
        var Permissions = Context.Items["Permissions"] as List<PermissionHierarchy_VM>;
        List<PermissionHierarchy_VM> permissions = Permissions;
        List<string> permissionKeys = new List<string>();
        // if (permissions.Count() > 0)
        //{
        //  permissionKeys = permissions.Select(p => p.KeyName).ToList();
        //}
        //string ProfilePageTypeKey = "sports"; //Context.Items["ProfilePageTypeKey"] as string;
        //string ProfilePageTypeKey = (ViewBag.ProfilePageTypeKey != null) ? ViewBag.ProfilePageTypeKey : "sports"; // TODO: Get from Controller via ViewBag
    }*@

@* Side bar for Mobile and screen size less than 800 *@
<nav id="section-nav-234" class="navbar navbar-expand-lg w-100 navbar-light hdnav">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo04" aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="close"><img src="~/Content/visitor-panel/image/cls.png"></span>
    </button>
    <a class="navbar-brand text-white d-md-none ls01pjm ls01pjm" href="#">
        <div class="user-prl-mk">
            <img id="login_profileImage" class="login_profileImage logo-w7jfufy" src="">
            <h6 id="login_userName" class="login_userName ml-2"></h6>
            <a id="login_email" class="login_email text-dark" style="word-wrap: break-word;" href="#"></a>
        </div>
    </a>


    <div class="col-md-10">
        <div class="navbar-collapse collapse" id="navbarTogglerDemo04" style="">
            <div id="side-links-8kk">
                <ul class="navbar-nav sdb-nvefd">
                    <li class="nav-item">
                        <a id="a_Sidebar_MyClass" class="nav-link kdfkj my-cls001-c commonNavLinkClass a_Sidebar_MyClass" href="/Home/MyClass">
                            <i class="fa-solid fa-calendar-days"></i> <span class="mnuliks">
                                My Classes
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="a_Sidebar_MyTraining" class="nav-link kdfkj my-cls001-c commonNavLinkClass a_Sidebar_MyTraining" href="/Home/MyTraining">
                            <i class="fa-solid fa-calendar-days"></i> <span class="mnuliks">
                                My Training
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="a_Sidebar_MyEvent" class="nav-link kdfkj my-cls001-c commonNavLinkClass a_Sidebar_MyEvent" href="/Home/MyEvent">
                            <i class="fa-solid fa-calendar-days"></i> <span class="mnuliks">
                                My Event
                            </span>
                        </a>
                    </li>
                    @*@if (permissionKeys.Contains("MyCourses"))
        {*@
                    <li class="nav-item">
                        <a id="a_Sidebar_MyCourses" class="nav-link kdfkj my-cls001-c commonNavLinkClass a_Sidebar_MyCourses" href="/Home/MyCourses">
                            <i class="fa-solid fa-calendar-days"></i> <span class="mnuliks">
                                My Courses
                            </span>
                        </a>
                    </li>
                    @*}*@

                    @*@if (permissionKeys.Contains("SavedInstructor"))
        {*@
                    <li class="nav-item">
                        <a id="a_Sidebar_SavedInstructors" class="nav-link kdfkj commonNavLinkClass a_Sidebar_SavedInstructors" href="/Home/SavedInstructor">
                            <i class="fa-solid fas fa-heart"></i> <span class="mnuliks"> My Favourites</span>
                        </a>
                    </li>

                    @*}*@

                    @*@if (permissionKeys.Contains("Queries"))
        {*@
                    <li class="nav-item">
                        @*active*@
                        <a id="a_Sidebar_Queries" class="nav-link kdfkj commonNavLinkClass a_Sidebar_Queries" href="/Home/Queries">
                            <i class="fa-sharp fa-solid fa-clipboard-question"></i><span class="mnuliks">Queries</span>
                        </a>
                    </li>
                    @*}*@

                    @*@if (permissionKeys.Contains("Notification"))
        {*@
                    <li class="nav-item">
                        <a id="a_Sidebar_Notifications" class="nav-link kdfkj commonNavLinkClass a_Sidebar_Notifications" href="/Home/Notification">
                            <i class="fa-solid fa-bell"></i><span class="mnuliks">Notifications</span>
                        </a>
                    </li>
                    @*}*@
                    @*@if (permissionKeys.Contains("VedioGallery"))
        {*@
                    <li class="nav-item">
                        <a id="a_Sidebar_vedioGallery" class="nav-link kdfkj a_Sidebar_vedioGallery" href="/Home/VedioGallery">
                            <i class="fa-solid fa-photo-film"></i><span class="mnuliks">Video Gallery</span>
                        </a>
                    </li>
                    @*}*@

                    @*@if (permissionKeys.Contains("License"))
        {*@
                    <li class="nav-item">
                        <a id="a_Sidebar_License" class="nav-link kdfkj a_Sidebar_License" href="/Home/License">
                            <i class="fa-regular fa-id-card"></i><span class="mnuliks">My License</span>
                        </a>
                    </li>
                    @*}*@
                    @*<li class="nav-item">
            <a id="a_Sidebar_ManageImages" class="nav-link kdfkj" href="/Home/ManageImages">
                <i class="fa-regular fa-id-card"></i><span class="mnuliks">Manage Images</span>
            </a>
        </li>*@
                    @*@if (permissionKeys.Contains("MyCoupons"))
        {*@
                    <li class="nav-item">
                        <a id="a_Sidebar_MyCoupons" class="nav-link kdfkj commonNavLinkClass a_Sidebar_MyCoupons" href="/Home/MyCoupons">
                            <i class="fa-solid fa-tag"></i><span class="mnuliks">My Coupons</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="a_Sidebar_SportBooking" class="nav-link kdfkj my-cls001-c commonNavLinkClass a_Sidebar_SportBooking" href="/Home/SportBooking">
                            <i class="fa-solid fa-calendar-days"></i> <span class="mnuliks">
                                Slot Booking
                            </span>
                        </a>
                    </li>
                    @*}*@
                    <li class="nav-item">
                        <a id="a_Sidebar_Messages" class="nav-link kdfkj a_Sidebar_Messages" href="/Home/Messages">
                            <i class="fas fa-comments fa-fw"></i><span class="mnuliks">Messages</span>
                        </a>
                    </li>


                    @*@if (permissionKeys.Contains("TransferPackage"))*@
                    @*{*@
                    <li class="nav-item">
                        <a id="a_Sidebar_TransferPackage" class="nav-link kdfkj a_Sidebar_TransferPackage" href="/Home/TransferPackage">
                            <i class="fa-solid fa-bell"></i><span class="mnuliks">Transfer Package</span>
                        </a>
                    </li>
                    @*}*@
                    @*@if (permissionKeys.Contains("StudentPauseClassRequest"))
        {*@
                    <li class="nav-item">
                        <a id="a_Sidebar_studentPauseClassRequest" class="nav-link kdfkj a_Sidebar_studentPauseClassRequest" href="/Home/StudentPauseClassRequest">
                            <i class="fa-solid fa-bell"></i><span class="mnuliks">View Pause Classes</span>
                        </a>
                    </li>
                    @*}*@

                    <li class="nav-item">
                        <a id="a_Sidebar_mybooking" class="nav-link kdfkj a_Sidebar_mybooking" href="/Home/MyBooking">
                            <i class="fa-solid fa-book"></i><span class="mnuliks">My Purchase</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="notif001" class="nav-link kdfkj notif001" href="/Login/Logout">
                            <i class="fa-solid fa-right-from-bracket"></i><span class="mnuliks">Logout</span>
                        </a>
                    </li>

                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0 d-none">
                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

@* Side bar for Desktop *@
<div class="sid-br-m-43dgg d-none d-md-block">
    <div class="user-prl-mk">
        @*<img id="login_profileImage" class="logo-w7jfufy" src="">
            <h6 id="login_userName"></h6>
            <a id="login_email" class="text-dark" style="word-wrap: break-word;" href="#"></a>*@
        <img id="login_profileImage" class="login_profileImage logo-w7jfufy" src="">
        <h6 id="login_userName" class="login_userName"></h6>
        <a id="login_email" class="login_email text-dark" style="word-wrap: break-word;" href="#"></a>
        <div class="planexpiredays verified-img">
        </div>
    </div>

    <div id="visitor-panel-sidebar">
        <ul class="navbar-nav sdb-nvefd">

            <li class="nav-item">
                <a id="a_Sidebar_MyClass" class="nav-link kdfkj my-cls001-c commonNavLinkClass a_Sidebar_MyClass" href="/Home/MyClass">
                    <i class="fa-solid fa-calendar-days"></i> <span class="mnuliks">
                        My Classes
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a id="a_Sidebar_MyTraining" class="nav-link kdfkj my-cls001-c commonNavLinkClass a_Sidebar_MyTraining" href="/Home/MyTraining">
                    <i class="fa-solid fa-calendar-days"></i> <span class="mnuliks">
                        My Training
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a id="a_Sidebar_MyEvent" class="nav-link kdfkj my-cls001-c commonNavLinkClass a_Sidebar_MyEvent" href="/Home/MyEvent">
                    <i class="fa-solid fa-calendar-days"></i> <span class="mnuliks">
                        My Event
                    </span>
                </a>
            </li>






            @*@if (permissionKeys.Contains("MyCourses"))
        {*@
            <li class="nav-item">
                <a id="a_Sidebar_MyCourses" class="nav-link kdfkj my-cls001-c commonNavLinkClass a_Sidebar_MyCourses" href="/Home/MyCourses">
                    <i class="fa-solid fa-calendar-days"></i> <span class="mnuliks">
                        My Courses
                    </span>
                </a>
            </li>
            @*}*@

            @*@if (permissionKeys.Contains("SavedInstructor"))
        {*@
            <li class="nav-item">
                <a id="a_Sidebar_SavedInstructors" class="nav-link kdfkj commonNavLinkClass a_Sidebar_SavedInstructors" href="/Home/SavedInstructor">
                    <i class="fa-solid fas fa-heart"></i> <span class="mnuliks"> My Favourites</span>
                </a>
            </li>

            @*}*@

            @*@if (permissionKeys.Contains("Queries"))
        {*@
            <li class="nav-item">
                @*active*@
                <a id="a_Sidebar_Queries" class="nav-link kdfkj commonNavLinkClass a_Sidebar_Queries" href="/Home/Queries">
                    <i class="fa-sharp fa-solid fa-clipboard-question"></i><span class="mnuliks">Queries</span>
                </a>
            </li>
            @*}*@

            @*@if (permissionKeys.Contains("Notification"))
        {*@
            <li class="nav-item">
                <a id="a_Sidebar_Notifications" class="nav-link kdfkj commonNavLinkClass a_Sidebar_Notifications" href="/Home/Notification">
                    <i class="fa-solid fa-bell"></i><span class="mnuliks">Notifications</span>
                </a>
            </li>
            @*}*@
            @*@if (permissionKeys.Contains("VedioGallery"))
        {*@
            <li class="nav-item">
                <a id="a_Sidebar_vedioGallery" class="nav-link kdfkj a_Sidebar_vedioGallery" href="/Home/VedioGallery">
                    <i class="fa-solid fa-photo-film"></i><span class="mnuliks">Video Gallery</span>
                </a>
            </li>
            @*}*@

            @*@if (permissionKeys.Contains("License"))
        {*@
            <li class="nav-item">
                <a id="a_Sidebar_License" class="nav-link kdfkj a_Sidebar_License" href="/Home/License">
                    <i class="fa-regular fa-id-card"></i><span class="mnuliks">My License</span>
                </a>
            </li>
            @*}*@
            @*<li class="nav-item">
            <a id="a_Sidebar_ManageImages" class="nav-link kdfkj" href="/Home/ManageImages">
                <i class="fa-regular fa-id-card"></i><span class="mnuliks">Manage Images</span>
            </a>
        </li>*@
            @*@if (permissionKeys.Contains("MyCoupons"))
        {*@
            <li class="nav-item">
                <a id="a_Sidebar_MyCoupons" class="nav-link kdfkj commonNavLinkClass a_Sidebar_MyCoupons" href="/Home/MyCoupons">
                    <i class="fa-solid fa-tag"></i><span class="mnuliks">My Coupons</span>
                </a>
            </li>
            <li class="nav-item">
                <a id="a_Sidebar_SportBooking" class="nav-link kdfkj my-cls001-c commonNavLinkClass a_Sidebar_SportBooking" href="/Home/SportBooking">
                    <i class="fa-solid fa-calendar-days"></i> <span class="mnuliks">
                        Slot Booking
                    </span>
                </a>
            </li>
            @*}*@
            <li class="nav-item">
                <a id="a_Sidebar_Messages" class="nav-link kdfkj a_Sidebar_Messages" href="/Home/Messages">
                    <i class="fas fa-comments fa-fw"></i><span class="mnuliks">Messages</span>
                </a>
            </li>
            <li class="nav-item">
                <a id="a_Sidebar_GroupMessages" class="nav-link kdfkj a_Sidebar_GroupMessages" href="/Home/GroupMessages">
                    <i class="fas fa-comments fa-fw"></i><span class="mnuliks">Group Messages</span>
                </a>
            </li>
            @*@if (permissionKeys.Contains("TransferPackage"))*@
            @*{*@
            <li class="nav-item">
                <a id="a_Sidebar_TransferPackage" class="nav-link kdfkj a_Sidebar_TransferPackage" href="/Home/TransferPackage">
                    <i class="fa-solid fa-bell"></i><span class="mnuliks">Transfer Package</span>
                </a>
            </li>
            @*}*@
            @*@if (permissionKeys.Contains("StudentPauseClassRequest"))
        {*@
            <li class="nav-item">
                <a id="a_Sidebar_studentPauseClassRequest" class="nav-link kdfkj a_Sidebar_studentPauseClassRequest" href="/Home/StudentPauseClassRequest">
                    <i class="fa-solid fa-bell"></i><span class="mnuliks">View Pause Classes</span>
                </a>
            </li>
            @*}*@

            <li class="nav-item">
                <a id="a_Sidebar_mybooking" class="nav-link kdfkj a_Sidebar_mybooking" href="/Home/MyBooking">
                    <i class="fa-solid fa-book"></i><span class="mnuliks">My Purchase</span>
                </a>
            </li>
            <li class="nav-item">
                <a id="notif001" class="nav-link kdfkj notif001" href="/Login/Logout">
                    <i class="fa-solid fa-right-from-bracket"></i><span class="mnuliks">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>