:root{
    --websiteColor:#920948;
    --borderColor:#cacacd;
}

.classes-templates .day-filter-iner-two {
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.classes-templates .music input[type="text"] {
    width: 100%;
    height: 55px;
    border: 1px solid var(--borderColor);
    padding: 10px;
}

.classes-templates a.apply-cta {
    border: 1px solid var(--mainColor);
    width: 100%;
    background: var(--mainColor);
    padding: 20px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}
.classes-templates .day-filter-iner-two {
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.classes-templates a.apply-cta {
    border: 1px solid var(--mainColor);
    width: 100%;
    background: var(--mainColor);
    padding: 20px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}

.classes-templates a.apply-cta:hover {
    color: var(--mainColor) !important;
    background: transparent;
    border: 1px solid var(--mainColor);
}

.classes-templates h5.heading-title {
    margin-bottom: 20px;
}

.classes-templates .check-box {
    display: flex;
    flex-wrap: wrap;
}

.classes-templates .check-box .check-box-sec {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 10px;
}
.classes-templates a.apply-cta:hover {
    color: var(--mainColor) !important;
    background: transparent;
    border: 1px solid var(--mainColor);
}
.classes-templates .day-filter-iner {
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    padding: 20px 0;
    margin: 20px 0;
}
.classes-templates .day-filter-iner-two {
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.classes-templates h5.heading-title {
    margin-bottom: 20px;
}

.overley_popup_active:before {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;   
}
.overley_popup_active {
    position: relative;
    overflow: hidden;
}
.open-more-filter .overley_popup_active:before{
    visibility: visible;
    opacity: 1;
}
.classes-templates .more-filter-fixed {
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 820px;
    max-height: calc(100vh - 100px);
    z-index: 99;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    transition: 0.3s;
    padding: 40px 20px;    
    max-width: calc(100vw - 30px);

} 

.open-more-filter.classes-templates .more-filter-fixed{
    transform: translate(-50%, -50%) scale(1);
}
.checkbox.style-c input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox.style-c .checkbox__checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    transition: background-color 0.25s ease;
    border-radius: 4px;
}
.checkbox.style-c .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}
.checkbox.style-c .checkbox__body {
    color: #333;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 600;
}
.checkbox.style-c input:checked ~ .checkbox__checkmark {
    background-color: var(--mainColor);
}
.checkbox.style-c input:checked ~ .checkbox__checkmark:after {
    opacity: 1;
}
.checkbox.style-c {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.classes-templates .s-hidden {
    visibility: hidden;
    padding-right: 10px;
    height: 48px;
    width: 100%;
  }
  .classes-templates .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100%;
    color: black;
    font-weight: normal;
    background-color: #fff;
  }
  .classes-templates ul.options li:first-child {
      display: none;
  }
  .classes-templates .styledSelect {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 10px 34px;
    transform: translateY(-50%);
    font-size: 16px;
  }
  .classes-templates .styledSelect:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 25px;
    right: 10px;
  }
  .classes-templates .options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    border: 1px solid #ccc;
    background-color: white;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .classes-templates .options li {
    margin: 0 0;
    padding:8px 10px;
    font-size: 16px;
  }
  .classes-templates .options li:hover {
    background-color: #eee;
    color: #000;
  }
  

.classes-templates .price-iner {
    padding: 0 10px;
}
.classes-templates .loacation-link {
    color: #000;
    font-weight: 700;
    display: inline-block;
}
.classes-templates .search-iner {
    padding: 40px 0;
    background: #eee;
}
.classes-templates .cards-flex .cards-items {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    transition: all .3s ease;
    margin-bottom: 30px;
    border: 2px solid #ddd;
}
.classes-templates img.card-profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.classes-templates .time-view>* {
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: 600;
}
.classes-templates .cards-flex .date-year {
    flex: 0 0 15%;
    max-width: 15%;
    text-align: center;
}
.classes-templates .rating>* {
    font-size: 14px;
}

.classes-templates .topic>* {
    font-size: 16px;
}
.classes-templates .price-value {
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
}
.classes-templates .cards-flex .date-year>img {
    max-width: 145px;
    margin: 0 auto 10px;
}
.classes-templates .open-duration .duration-text {
    display: block;
}
.classes-templates .cards-flex .date-year .date {
    font-size: 20px;
    color: var(--mainColor);
    text-align: center;
    font-weight: 600;
}

.classes-templates .input-text {
    height: 48px;
    border: 1px solid #eee;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    background-color: #fff;
    color: #000;
    outline: 0;
}
input:focus{
    outline: 0;
}

.classes-templates .more-filter {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 48px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.classes-templates .more-filter i {
   margin-left: 5px;
}
.classes-templates .search-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.classes-templates .more-filter span {
    padding-right: 5px;
}

.classes-templates .search-bar>div {
    flex: 1;
    margin: 0 5px;
}
.classes-templates .clear-filter p {
    margin-bottom: 0;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.classes-templates .cards-flex h6.year {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}
.classes-templates .cards-flex .address-cta {
    max-width: 100%;
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    border-left: 2px solid #ddd;
    margin-left: 30px;
}

.classes-templates .cards-flex .info-sec>*:first-child {    
    font-weight: 700;
    color: var(--mainColor);
}
.classes-templates .cards-flex .info-sec>*:last-child {
    font-weight: normal;
    margin-bottom: 0;
    font-size: 16px;
}
/* class listing */
.classes-templates .class-listing ul.class-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.classes-templates .buy-cta>a {
    background: transparent;
    border: 1px solid var(--websiteColor);
    padding: 10px;
    font-size: 14px;
    color: var(--websiteColor);
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
}
.classes-templates .rating i {
    color:var(--websiteColor);
    margin: 0 2px;
}
.classes-templates .buy-cta>a:hover {
    background: var(--websiteColor);
    color: #fff !important;
}
.classes-templates .cta-duration {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
.classes-templates .program-section {
    padding-top: 50px;
}
.classes-templates .workouts-slider-one .slick-slide>div {
    margin: 0 10px 20px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,10%);
    border-radius: 4px;
    overflow: hidden;
}
.classes-templates .class-type-iner {
    border: 1px solid var(--borderColor);
    margin: 20px 0;
}
.classes-templates .duration {
    font-weight: 600;
    font-size: 14px;
}
.classes-templates .class-listing {
    padding: 40px 0;
}

.classes-templates .class-listing ul.class-list>li>a {
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    margin: 5px 10px;
    color: #fff;
    background-color: var(--websiteColor);
    border-radius: 4px;
    padding: 10px;
    border: 1px solid transparent;
    min-width: 150px;
    text-align: center;
}
.classes-templates .class-listing ul.class-list>li>a:hover {
    background: transparent;
    color: var(--websiteColor) !important;
    border: 1px solid var(--websiteColor);
}
.classes-templates .slick-dotted.slick-slider{
    margin-bottom: 0;
}
.classes-templates .duration-in {
    position: relative;
    display: flex;
    align-items: center;
}
.classes-templates .live-video{
    padding-bottom: 50px;
}
.classes-templates .live-video-title>h2 {
    margin-bottom: 50px;
    text-align: left;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.classes-templates .cards-flex .cards-items .listing>li {
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
}

.classes-templates .cards-flex .cards-items .listing>ul>li {
    position: relative;
    margin-bottom: 10px;
    color: #000;
    padding-left: 15px;
}
.classes-templates .cross-filter{
    position: absolute;
    right: 15px;
    transform: rotate(45deg);
    color: #000000;
    font-size: 30px;
    top: 15px;
    line-height: 20px;
    cursor: pointer;
}
.classes-templates .price-cta-inr {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.classes-templates .in-person .cards-items .info-sec {
    padding: 0 10px;
}
.classes-templates .in-person .cards-items .info-sec>*{
font-size: 18px;
}
.classes-templates .cards-flex .cards-items .listing>ul>li:before {
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background: var(--mainColor);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.classes-templates .in-person .cards-flex {
    padding: 80px 0;
}

.classes-templates .button-group>.button:active,
.classes-templates .button-group>.button.is-checked {
    color: var(--mainColor);
    font-weight: 700;
}
.classes-templates .button-group>.button {
    border-radius: 5px;
    color: #000;
    outline: 0;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    border: 0;
    font-weight: 700;
    background-color: transparent;
}
.classes-templates .live-video-title>h2:before {
    position: absolute;
    content: "";
    bottom: 0;
    background: var(--websiteColor);
    height: 5px;
    width: 60%;
    border-radius: 10px;
    left: 0;
}

.classes-templates .live-video-title {
    text-align: left;
}

.classes-templates .duration-text {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    border: 1px solid #dadae2;
    padding: 10px;
    display: none;
}
.classes-templates .topic>h5{
text-transform: capitalize;
font-weight: 600;
}

.classes-templates .image-card .image-item .img-card-iner>img {
    height: 220px;
    object-fit: cover;
    object-position: top center;
    width: 100%;
    display: block;
}
.classes-templates .cards-layout {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.classes-templates .all-classes-section {
    padding-bottom: 100px;
}

.classes-templates .all-classes-section .button-group.filters-button-group {
    margin-bottom: 40px;
}
.classes-templates .cards-layout .image-item {
    flex: 0 0 calc(100%/4 - 20px);
    margin: 0 10px 30px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,10%);
    border-radius: 10px;
}
.classes-templates .card-text-in {
    padding: 30px 20px;
}
/* isotop filter */

.classes-templates .class-items {
    position: relative;
    width: 100%;
}
@media(max-width:1200px){
    .classes-templates .cards-layout .image-item {
        flex: 0 0 calc(100%/3 - 20px);
    }
}
@media(max-width:1120px){
    .classes-templates .in-person .price-cta-inr{
        flex: 0 0 100%;
        justify-content: space-between;
        margin-top: 30px;
    }
    .classes-templates .in-person .cards-items .info-sec {
        flex: 1;
        padding-left: 30px;
    }
}
@media (max-width: 991px){
    .classes-templates .search-bar>div {
    flex: 0 0 calc(100%/2 - 10px);
    margin-bottom: 10px;
}
.classes-templates .cards-layout .image-item {
    flex: 0 0 calc(100%/2 - 20px);
}
.classes-templates .cards-flex .address-cta .price-iner,.cards-flex .address-cta .cta  {
    margin-top: 18px;
}
.classes-templates .training-main .cards-flex .address-cta>div {
    flex: 0 0 100%;
}
}
@media(max-width:767px){
    .classes-templates .in-person .price-cta-inr{
        margin-top: 0;
    }
    .classes-templates .in-person .cards-items .info-sec{
        flex: 0 0 100%;
        padding: 0;
        margin-bottom: 20px;
    }
    .classes-templates .cards-flex .cards-items .listing>ul>li{
        display: inline-block;
        margin: 10px;
    }
    .classes-templates .in-person .price-cta-inr {
        justify-content: center;
    }
    .classes-templates .cards-flex .cards-items .listing{
flex: 0 0 100%;
    }
    .classes-templates .class-listing ul.class-list>li>a{
        font-size: 18px;
    }

.classes-templates .image-card .image-item .img-card-iner>img {
    height: 200px;
}
.classes-templates .info-sec {
    flex: 0 0 100%;
    max-width: 100%;
}
.classes-templates .profile-in {
    flex: 0 0 100%;
    max-width: 100%;
}
.classes-templates .cards-flex .date-year {
    flex: 0 0 100%;
    max-width: 100%;
}
.classes-templates .price-iner{
    flex: 0 0 100%;
    margin-top: 20px;
    padding: 0;
}
.classes-templates .cards-flex .address-cta {
    flex: 0 0 100%;
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eff0f6;
}
}
@media(max-width:580px){
    .classes-templates .cards-layout {
        margin: 0;
    }
    .classes-templates .check-box .check-box-sec {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .classes-templates .cards-layout .image-item {
        flex: 0 0 calc(100%/1);
        margin: 0 0 30px 0;
    }
}
@media(max-width:480px){
    .classes-templates .search-bar>div {
    flex: 0 0 calc(100%/1);
    margin:0 0 10px 0;
}
.classes-templates .clear-filter{
    text-align: center;
}
}
