a {
    text-decoration: none;
    display: block;
}

a:hover {
    transition: all .3s;
}

.page-center {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.active-h {
    background: #f3a762;
    border-bottom: 1px solid #ffffff85;
}

header.header {
    padding: 20px;
    width: 100%;
    /* box-shadow: 0 0 15px 0px rgb(0 0 0 / 50%); */
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 3;
}

/* header.Sticky-header {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 2;
    top: 0;
    padding: 20px;
} */

.profile {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background: #fff;
}

.banner-sec {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15rem 0 10rem;
    position: relative;
}


.dance-img {
    padding: 0 15px;
}

.dance-sec {
    margin-bottom: 40px;
}

.events-slider {
    padding-top: 30px;
}

.dance-img a img {
    height: 300px;
    object-fit: cover;
    object-position: center;
    display: block;
}

img {
    width: 100%
}

.profile-name>* {
    margin: 20px 0 0 0;
    font-size: 18px;
}

.slick-dots li button:before {
    height: 7px;
    font-size: 0;
    width: 20px;
    border-radius: 5px;
    background: #000;
}

.slick-dots li button {
    width: 0;
    height: 0;
}

.btn-inr {
    flex: 0 0 calc(100%/5 - 20px);
    margin: 0 0 30px 10px;
}

.btn-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a.primary {
    box-shadow: 5px 8px 10px 0px rgb(0 0 0 / 19%);
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #000;
    color: #000;
}

.btn-secton {
    padding: 50px 0;
}

.logo-inr a img {
    max-width: 50px;
    display: block;
}

.logo-inr a {
    display: flex;
    justify-content: center;
}

/* .logo-cards {display: flex;justify-content: center;flex-wrap: wrap;} */
.dance-slider {
    padding-top: 50px;
}

.logo-inr {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10px;
}

.logo-inr a {
    padding: 10px;
}

.training-img a img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    height: 280px;
}

.training-main .slick-slide {
    padding: 0 15px;
}

.slick-list.draggable {
    padding-bottom: 40px;
}

.training-img a {
    transition: all .3s;
    display: block;
}

.logo-certi img {
    max-width: 45px;
}

.certi-logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.training-img a:hover {
    transform: scale(1.02);
}

.profile-img-text img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-img-text {
    text-align: center;
    margin-top: -40px;
}

.yoga-items {
    padding: 0 15px;
}

.yoga-card-img {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.img-soical-icons {
    padding-bottom: 30px;
}

.social-follow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.yoga-card-img>img {
    object-fit: cover;
    height: 200px;
    object-position: center;
}

.yoga-slider .slick-list.draggable {
    padding: 40px 0;
}

.items-card {
    background: #eee;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.social-inr {
    margin: 0 10px 10px 0;
}

.social-inr a i {
    font-size: 24px;
    color: #121111;
}

.social-inr a:hover {
    transform: translateY(-2px);
}

.dance-inr a img {
    max-width: 100px;
    display: block;
}

.dance-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dance-inr {
    margin: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    background: #fff;
    color: #222;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #000;
    color: #fff;
}

.button:active,
.button.is-checked {
    background-color: #000;
}

.button.is-checked {
    color: #fff;
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

.button-group:after {
    content: "";
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 15px;
    border: 0;
}

.events-img {
    padding: 0 15px;
}

.events-img a img {
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 60px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.element-item {
    position: relative;
    width: 24%;
    padding: 10px;
}

.img-inr img {
    display: block;
    height: 280px;
    object-fit: cover;
    object-position: center;
}

.filter-sec {
    padding-top: 30px;
}

.yoga-sec {
    padding-top: 30px;
}

.dance-img a {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.img-inr {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.location-inr>h4 {
    margin: 0 0 20px 0;
    color: #fff;
}

.search-inr {
    max-width: 900px;
    margin: 0 auto;
    background: #ea8a32b0;
    padding: 40px 0 60px;
    position: relative;
    z-index: 1;
    margin-top: -260px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.types h4 {
    margin: 0 0 20px 0;
    color: #fff;
}

button.search-btn {
    background-color: #f3a762;
    font-size: 16px;
    padding: 8px 40px;
    border: 0;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
}

.loc-icon {
    position: relative;
}

.loc-icon:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f3c5";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

input {
    height: 40px;
    border: 1px solid #000;
    padding: 10px 10px 10px 30px;
    outline: 0;
    width: 100%;
    background-color: #fff;
}

select#format {
    height: 30px;
    border: 1px solid #000;
}

.search>div {
    margin-right: 10px;
    margin-bottom: 20px;
}

.submit-btn {
    display: flex;
    align-items: flex-end;
}

.link-cards img {
    max-width: 40px;
    flex: 0 0 40px;
    padding-right: 5px;
}

.links-in {
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
    margin: 0 auto 0 auto;
    justify-content: center;
}

.link-cards a {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    flex: 1;
}

.link-cards {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    display: flex;
    align-items: center;
    background: #f3a762;
    border: 1px solid #000;
    padding: 5px;
    flex: 0 0 150px;
    margin: 8px;
    justify-content: space-around;
}

.banner-content>* {
    margin: 0;
    color: white;
    font-size: 1.2rem;
    font-family: Times New Roman;
}

body,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.banner-sec:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgb(243 167 98 / 50%);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.banner-content {
    max-width: 380px;
    margin: -08rem 0rem 10rem auto;
    position: relative;
    z-index: 1;
    padding: 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

.search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section#section-6 .container {
    background: linear-gradient(299deg, #fd7474 50%, white 50%);
    background-repeat: no-repeat;
}




/* media query */
@media(max-width:1024px) {
    .element-item {
        width: 50%;
    }
}

@media(max-width:767px) {
    .search>div {
        flex: 0 0 100%;
        margin-right: 0;
    }

    .banner-sec {
        padding-top: 100px;
    }

    .btn-secton {
        padding: 50px 0 0 0;
    }
}

@media(max-width:620px) {
    .element-item {
        width: 100%;
        margin: 0 0 20px 0;
        padding: 0;
    }
}

@media(max-width:480px) {

    .training-main .slick-slide,
    .yoga-items,
    .dance-img,
    .events-img {
        padding: 0;
    }
}

#section-8 .img {
    min-width: 1rem;
    height: 30rem;
}

#section-9 .img {
    height: 20rem;
}


#section-10 .img {
    height: 15rem;
}

section {
    overflow-x: hidden;
}

.brdrsc {
    border-top: 4px solid #F5F5F5;
}

hr.dv.d-none.d-md-block {
    border-top: 4px solid #F5F5F5;
}

.brdrtp {
    border-top: 4px solid #F5F5F5;

}

.items-card:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.slick-slide:hover {
    transform: scale(1.07);
    transition-duration: 0.5s;
}

.element-item:hover {
    transform: scale(1.07);
    transition-duration: 0.5s;
}

.dance-sec .dance-inr:hover {
    transform: scale(1.07);
    transition-duration: 0.5s;
}

section#section-8 .card:hover,
section#section-9 .card:hover,
section#section-10 .card:hover {
    transform: scale(1.03);
    transition-duration: 0.8s;
}

section#section-5 .grid.mt-2 {
    overflow: hidden;
}

@media(min-width:800px) {

    section#setion-3 .slick-track {
        opacity: 1;
        width: 1498px;
        transform: translate3d(0px, 1rem, 0px) !important;
        padding-bottom: 1rem;
    }

    hr.dvdr {
        position: absolute;
        width: 100%;
        top: 78%;
        z-index: -1;
    }

    section#section-2 {
        position: relative;
    }

    hr.dvdr {
        border-top: 4px solid #F5F5F5;
    }

    .header li.nav-item {
        margin-right: 0.5rem;
    }

    div#navbarTogglerDemo03 {
        width: 52%;
        float: right;
    }

    header.Sticky-header div#navbarTogglerDemo03 {
        width: 62%;
        float: right;
    }

    #section-6 .txt.text-justify {
        margin: 5rem 0;
        max-width: 483px;
        position: relative;
        top: -8rem;
    }

    a.bnt {
        position: relative;
        top: -9rem;
    }

    #section-7 .txt.text-justify {
        margin: 5rem 0;
    }

    a.bnt2 {
        position: relative;
        top: -5rem;
    }

    #section-7 .container.pt-5.pb-5 {
        padding: 0;
    }

    #section-2 .yoga-items {
        width: 268px !important;
    }

    #section-2 .slick-track {
        display: flex;
    }

    #section-2 .items-card {
        width: 246px;
    }

    #section-2 .card.yoga-sec {
        margin: auto;
        width: 100%;
    }

    section#section-6 {
        width: 72%;
        margin: auto;
    }

    section#section-7 {
        width: 72%;
        margin: auto;
    }
}

@media(max-width:800px) {
    header.header {
        background: #f3a762;
        padding: unset;
        width: 100%;
        /* box-shadow: 0 0 15px 0px rgb(0 0 0 / 50%); */
        display: flex;
        justify-content: flex-end;
        position: fixed;
        z-index: 3;
    }

    #section-1 .m-4 {
        margin: 1rem 0rem !important;
    }

    #section-5 .page-center {
        padding: unset;
    }

    section#section-6 .container {
        /* background: unset; */
        padding: 3rem 1rem !important;
        margin: 1rem !important;
        width: 92%;
    }

    .banner-sec {
        height: 65vh;
        padding-top: 15rem;
        background-repeat: no-repeat;
        background-position: top !important;

    }

    .crptxt {
        font-size: 0.9rem;
    }

    .search-inr {
        margin-top: -6rem;
    }

    .navbar-toggler-icon {
        width: 1.5em;
        height: 1.5em;
    }

    button.navbar-toggler {
        transform: scale(0.7);
    }

    section#section-1 li[role="presentation"]:nth-child(n+11) {
        display: none;
    }

    section#section-1 .logo-inr a {
        padding: 100px;
    }

    .hdnav {
        flex-direction: row-reverse;
    }

    .brdr {
        border: 1px solid rgb(0 0 0);
        border-radius: .25rem;
        margin: 0 !important;
        padding-bottom: 3rem;
    }

}

.brdr {
    border: 1px solid rgb(0 0 0);
    border-radius: .25rem;
    margin: 0 !important;
    padding-bottom: 3rem;
}

.brdr1 {
    border: 1px solid rgb(0 0 0);
    border-radius: .25rem;
}

.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}

.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}

.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}

.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
}

.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}

.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}

.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd;
}

.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}

.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
}

.footer_social_area a i {
    line-height: 36px;
}

.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #f3a762;
}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

@keyframes bi-cycle {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

ol li,
ul li {
    list-style: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

footer#footer {
    background: #f3a762;
    color: white;
    padding: 2rem 0 0 0;
}

[aria-expanded="true"] .close {
    display: block;
}

[aria-expanded="true"] .navbar-toggler-icon {
    display: none;
}

[aria-expanded="false"] .navbar-toggler-icon {
    display: block;
}

[aria-expanded="false"] .close {
    display: none;
}

span.close img {
    width: 30px;
    height: 30px;
}

.text.pt-3 p {
    color: black;
}

a.hvr {
    color: black;

}

a.hvr:hover {
    color: black;
    text-decoration: underline;
}