<script>
     var UserToken_Global = "";
   $(document).ready(function () {
      StartLoading();
     EventBookingId_Global = $('#hidden_eventBookingId').val();
      $.get("/Home/GetStudentToken", null, function (dataToken) {
          if (dataToken != "" && dataToken != null) {
              UserToken_Global = dataToken;
              getEventBookingViewDetailById();
          }
          else {
              $.iaoAlert({
                  msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                  type: "error",
                  mode: "dark",
              });
              window.location.href = '/home/login';
              StopLoading();
          }
      });
   });

  function getEventBookingViewDetailById() {
      
    StartLoading();
      let _url = "/api/Event/GetEventBookingDetailById?id=" + EventBookingId_Global;

    $.ajax({
        type: "GET",
        url: _url,
        headers: {
            "Authorization": "Bearer " + UserToken_Global,
            "Content-Type": "application/json"
        },
        contentType: 'application/json',
        success: function (response) {
        

            if (response.status < 1) {
                $.iaoAlert({
                    msg: response.message,
                    type: "error",
                    mode: "dark",
                });

                return;
            }

            if (response.data && response.data != null) {

                var _eventBookingDetail = response.data.EventBookingDetail;
                var _orderDetail = response.data.OrderDetail;
                var _paymentResponseDetail = response.data.PaymentResponseDetail;
                //var _eventDetail = response.data.EventDetail;
                var orderListItems = ``;
                var EventBookingListItems = ``;
                var eventBlockHTML = `
                   <div class="d-flex align-items-center my-4">
                       <div class="">
                           <img src="${_eventBookingDetail.EventTicketQRCodeWithPath}" class="img-size-sm object-fit-cover mr-2" style="height:100px; width:100px;" />
                       </div>
                     
                   </div>
               `;
                var _businessOwnerName = `<a target="_blank" href="/Home/BusinessProfile?businessOwnerLoginId=${_eventBookingDetail.userLoginIdForlink}">${_eventBookingDetail.BusinessOwnerName}</a>`;

                EventBookingListItems += bindFlexListItemHTML("Event Name", _eventBookingDetail.Title);
                EventBookingListItems += bindFlexListItemHTML("Price", _eventBookingDetail.Price + "/-");
                EventBookingListItems += bindFlexListItemHTML("Start Date", _eventBookingDetail.Startdate_FormatDates);
                EventBookingListItems += bindFlexListItemHTML("End Date", _eventBookingDetail.Enddate_FormatDates);
                EventBookingListItems += `<br/><div class="w-100" style="border-bottom:3px dashed #cecece;"></div><br>`;
                EventBookingListItems += `<h3>Contact Details</h3>`;
                EventBookingListItems += ` <hr />`;
                EventBookingListItems += bindFlexListItemHTML("Business Owner Name", _businessOwnerName);
                EventBookingListItems += bindFlexListItemHTML("Business Name", _eventBookingDetail.BusinessName);
                EventBookingListItems += bindFlexListItemHTML("Email", _eventBookingDetail.Email);
                EventBookingListItems += bindFlexListItemHTML("Number", _eventBookingDetail.PhoneNumber_CountryCode + ' ' + _eventBookingDetail.PhoneNumber);
                EventBookingListItems += eventBlockHTML;

                orderListItems += bindFlexListItemHTML("Order #", _orderDetail.Id);
                orderListItems += bindFlexListItemHTML("Date", _orderDetail.CreatedOn_FormatDate);
                orderListItems += bindFlexListItemHTML("Discount", _orderDetail.TotalDiscount);
                orderListItems += bindFlexListItemHTML("GST", _orderDetail.GST);
                orderListItems += bindFlexListItemHTML("<b>Total Amount</b>", `<b>${_orderDetail.TotalAmount}/-</b>`);
                orderListItems += `<br/><div class="w-100" style="border-bottom:3px dashed #cecece;"></div><br>`;
                orderListItems += bindFlexListItemHTML("Payment Method", _orderDetail.PaymentMethod);
                orderListItems += bindFlexListItemHTML("Payment Approved", (_paymentResponseDetail.Approved) ? `<span class="badge badge-success">Yes</span>` : `<span class="badge badge-danger">No</span>`);
                orderListItems += bindFlexListItemHTML("Transaction ID", _paymentResponseDetail.TransactionID);

                $('#sectionEventBookingDetail').html(EventBookingListItems);
                $('#sectionOrderDetails').html(orderListItems);

            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.BusinessPanel.QueryNotGetData_ErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }

            StopLoading();
        },
        error: function (result) {

            if (result["status"] == 401) {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
            else {
                $.iaoAlert({
                    msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                    type: "error",
                    mode: "dark",
                });
            }
        }
    });
  }

    function bindFlexListItemHTML(key, value) {
        return `
     <div class="d-flex d-flex h6 justify-content-between w-100">
         <div><b>${key}: </b></div>
         <div>${value}</div>
     </div>
     <hr class="mt-0 mb-0" />
        `;
    }






</script>