<script>
    var UserToken_Global = "";

    $(document).ready(function () {

        $.get("/Home/GetStudentToken", null, function (dataToken) {
            if (dataToken != "" && dataToken != null) {
                UserToken_Global = dataToken;
            }
            else {
                /* UserToken_Global = "";*/
                StopLoading();
            }
        });

        getAllActiveMenuItems();
        getAllBannerSlides();
    });


    function getAllActiveMenuItems() {
        let _url = "/api/Menu/GetAllActiveVisitorMenuItems";

        $.ajax({
            type: "GET",
            url: _url,
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }

                var res_MenuItems = '';
                // --------------------- append data
                var sortedMenuList = response.data;
                sortedMenuList = sortedMenuList.sort(
                    (p1, p2) => (p1.SortOrder < p2.SortOrder) ? -1 : (p1.SortOrder > p2.SortOrder) ? 1 : 0);

                for (var i = 0; i < sortedMenuList.length; i++) {
                    res_MenuItems += bindMenuItemListView(sortedMenuList[i]);
                }

                $("#sectionMenuItemList").html('').append(res_MenuItems);
                // --------------------- append data

                StopLoading();
            },
            error: function (result) {
                StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
            }
        });
    }

    function bindMenuItemListView(_menuItem) {

        var htmlBody = ``;

        htmlBody = `
            <div class="row cate-g-rw-sdfjskl">
                <div class="col">
                    <h4><a class="h4 text-black-50 text-decoration-none" href="${_menuItem.PageLink}">${_menuItem.Name}</a></h4>
                    <div class="cate-g-cn-wrap">
                        <div class="cate-g-cn-inr">
                            <a href="/Home/InstructorResearch?menuTag=${_menuItem.Tag}&itemType=academies">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <p class="cate-g-txt-fjdsk">
                                    Academies
                                </p>
                            </a>
                        </div>
                        <div class="cate-g-cn-inr">
                            <a href="/Home/InstructorResearch?menuTag=${_menuItem.Tag}&itemType=classes">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <p class="cate-g-txt-fjdsk">
                                    Classes
                                </p>
                            </a>
                        </div>
                        <div class="cate-g-cn-inr">
                            <a href="/Home/InstructorResearch?menuTag=${_menuItem.Tag}&itemType=instructors">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <p class="cate-g-txt-fjdsk">
                                    Instructors
                                </p>
                            </a>
                        </div>
                        <div class="cate-g-cn-inr">
                            <a href="/Home/InstructorResearch?menuTag=${_menuItem.Tag}&itemType=events">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <p class="cate-g-txt-fjdsk">
                                    Events
                                </p>
                            </a>
                        </div>
                        <div class="cate-g-cn-inr">
                            <a href="/Home/InstructorResearch?menuTag=${_menuItem.Tag}&itemType=trainings">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <p class="cate-g-txt-fjdsk">
                                    Trainings
                                </p>
                            </a>
                        </div>
                    </div>
                    <hr class="cate-rhrfjsklfd">
                </div>
            </div>
        `;

        return htmlBody;
    }


    // -------------------------------- Banner slider ----------------------------

    var slideWrapper = $(".main-slider"),
        iframes = slideWrapper.find('.embed-player'),
        lazyImages = slideWrapper.find('.slide-image'),
        lazyCounter = 0;


    // POST commands to YouTube or Vimeo API
    function postMessageToPlayer(player, command) {
        if (player == null || command == null) return;
        player.contentWindow.postMessage(JSON.stringify(command), "*");
    }

    // When the slide is changing
    function playPauseVideo(slick, control) {
        var currentSlide, slideType, startTime, player, video;

        currentSlide = slick.find(".slick-current");
        slideType = currentSlide.attr("class").split(" ")[1];
        player = currentSlide.find("iframe").get(0);
        startTime = currentSlide.data("video-start");

        //if (slideType === "vimeo") {
        //    switch (control) {
        //        case "play":
        //            if ((startTime != null && startTime > 0) && !currentSlide.hasClass('started')) {
        //                currentSlide.addClass('started');
        //                postMessageToPlayer(player, {
        //                    "method": "setCurrentTime",
        //                    "value": startTime
        //                });
        //            }
        //            postMessageToPlayer(player, {
        //                "method": "play",
        //                "value": 1
        //            });
        //            break;
        //        case "pause":
        //            postMessageToPlayer(player, {
        //                "method": "pause",
        //                "value": 1
        //            });
        //            break;
        //    }
        //} else

        if (slideType === "youtube") {
            switch (control) {
                case "play":
                    postMessageToPlayer(player, {
                        "event": "command",
                        "func": "mute"
                    });
                    postMessageToPlayer(player, {
                        "event": "command",
                        "func": "playVideo"
                    });
                    break;
                case "pause":
                    postMessageToPlayer(player, {
                        "event": "command",
                        "func": "pauseVideo"
                    });
                    break;
            }
        }
        //else if (slideType === "video") {
        //    video = currentSlide.children("video").get(0);
        //    if (video != null) {
        //        if (control === "play") {
        //            video.play();
        //        } else {
        //            video.pause();
        //        }
        //    }
        //}
    }

    // Resize player
    function resizePlayer(iframes, ratio) {
        if (!iframes[0]) return;
        var win = $(".main-slider"),
            width = win.width(),
            playerWidth,
            height = win.height(),
            playerHeight,
            ratio = ratio || 16 / 9;

        iframes.each(function () {
            var current = $(this);
            if (width / ratio < height) {
                playerWidth = Math.ceil(height * ratio);
                current.width(playerWidth).height(height).css({
                    left: (width - playerWidth) / 2,
                    top: 0
                });
            } else {
                playerHeight = Math.ceil(width / ratio);
                current.width(width).height(playerHeight).css({
                    left: 0,
                    top: (height - playerHeight) / 2
                });
            }
        });
    }

    //// DOM Ready
    $(function () {
        //// Initialize
        //slideWrapper.on("init", function (slick) {
        //    slick = $(slick.currentTarget);
        //    setTimeout(function () {
        //        playPauseVideo(slick, "play");
        //    }, 1000);
        //    resizePlayer(iframes, 16 / 9);
        //});

        slideWrapper.on("beforeChange", function (event, slick) {
            slick = $(slick.$slider);
            playPauseVideo(slick, "pause");
        });
        slideWrapper.on("afterChange", function (event, slick) {
            slick = $(slick.$slider);
            playPauseVideo(slick, "play");
        });
        slideWrapper.on("lazyLoaded", function (event, slick, image, imageSource) {
            lazyCounter++;
            if (lazyCounter === lazyImages.length) {
                lazyImages.addClass('show');
                // slideWrapper.slick("slickPlay");
            }
        });

        ////start the slider
        //slideWrapper.slick({
        //    // fade:true,
        //    // autoplay: true,
        //    autoplaySpeed: 4000,
        //    // lazyLoad:"progressive",
        //    speed: 600,
        //    arrows: true,
        //    dots: false,
        //    cssEase: "cubic-bezier(0.87, 0.03, 0.41, 0.9)"
        //});
    });

    // Resize event
    $(window).on("resize.slickVideoPlayer", function () {
        resizePlayer(iframes, 16 / 9);
    });

    function getAllBannerSlides() {
        let _url = "/api/ManageHomePage/BannerItem/GetAllForHomePage";

        $.ajax({
            type: "GET",
            url: _url,
            contentType: 'application/json',
            success: function (response) {
                if (response.status < 1) {
                    $.iaoAlert({
                        msg: response.message,
                        type: "error",
                        mode: "dark",
                    });
                    return;
                }

                var _html = '';


                var dataLength = response.data.length;
                for (var i = 0; i < dataLength; i++) {
                    var _item = response.data[i];

                    var _caption = (_item.Text == null || _item.Text == '') ? `` : `<figcaption class="caption h4">${_item.Text}</figcaption></a>`;

                    if (_item.Link == null || _item.Link == "") { }
                    else {
                        _caption = `<a target="_blank" href="${_item.Link}">` + _caption + `</a>`;
                    }

                    if (_item.Type == "Image") {
                        _html += `
                        <div class="item image">
                            <figure>
                                <div class="slide-image slide-media" style="background-image:url('${_item.ImageWithPath}');">
                                    <img data-lazy="${_item.ImageWithPath}" class="image-entity" />
                                </div>
                                ${_caption}
                            </figure>
                        </div>
                    `;
                    }
                    else if (_item.Type == "Video") {
                        _html += `
                        <div class="item youtube">
                            <iframe class="embed-player slide-media" width="980" height="520" src="${_item.Video}?enablejsapi=1&controls=0&fs=0&iv_load_policy=3&rel=0&showinfo=0&loop=1&start=1" frameborder="0" allowfullscreen></iframe>
                            ${_caption}
                        </div>
                    `;
                    }

                }

                $(".main-slider").html('').append(_html);

                iframes = slideWrapper.find('.embed-player'),
                    lazyImages = slideWrapper.find('.slide-image'),
                    lazyCounter = 0;

                // Initialize
                slideWrapper.on("init", function (slick) {
                    slick = $(slick.currentTarget);
                    setTimeout(function () {
                        playPauseVideo(slick, "play");
                    }, 1000);
                    resizePlayer(iframes, 16 / 9);
                });


                //start the slider
                slideWrapper.slick({
                    // fade:true,
                    // autoplay: true,
                    autoplaySpeed: 4000,
                    // lazyLoad:"progressive",
                    speed: 600,
                    arrows: true,
                    dots: false,
                    cssEase: "cubic-bezier(0.87, 0.03, 0.41, 0.9)"
                });

                StopLoading();
            },
            error: function (result) {
                StopLoading();

                if (result["status"] == 401) {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.UnAuthorizedErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }
                else {
                    $.iaoAlert({
                        msg: '@(Resources.ErrorMessage.TechincalErrorMessage)',
                        type: "error",
                        mode: "dark",
                    });
                }

            }
        });
    }

</script>
